<div class="{{ wrapper_class|default('ml-4 pull-right') }}">
    <form method="post" action="{{ path('admin_scholarship_delete', {'id': scholarship.id}) }}">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ scholarship.id) }}">
        <button class="btn btn-danger need-confirmation" confirmation-message="Voulez vous supprimer {{ scholarship.name }}?"> 
            <i class="fa fa-trash"></i>
            <span>
                {{ btn_text|default("Supprimer")  }}
            </span>
        </button>
    </form>
</div>
