{% form_theme form.socialNetwork 'form_theme/_social_network_form_theme.html.twig' %}

{% set is_edit = is_edit|default(false) %}
{% set form_class_name = is_edit ? "admin-scholarship-form-edit" : "admin-scholarship-form-add" %}

{{ form_start(form, {'attr': {'id':'admin-scholarship-form', 'class':form_class_name }}) }}
    
    <div class="">
        {{ form_errors(form) }}
    </div>
    
    <div class="tile p-5">
        {% include "admin/scholarship/_form_parts/_infos_general.html.twig" %}
    </div>

    <div class="tile p-5">
        {% include "admin/scholarship/_form_parts/_candidature.html.twig" %}
    </div>

    <div class="tile p-5">
        {% include "admin/scholarship/_form_parts/_critere.html.twig" %}
    </div>

    <div class="tile p-5">
        {% include "admin/scholarship/_form_parts/_contact.html.twig" %}
    </div>

    <div class="tile p-5">
        {% include "admin/scholarship/_form_parts/_about.html.twig" %}
    </div>

    <div class="tile p-5">
        <div class="tile-body">
            <div class="section-title">
                <h5><i class="fa fa-globe mr-2"></i>{% trans %}Réseau sociaux{% endtrans %}</h5>
            </div>
            
            {{ form_widget(form.socialNetwork) }}
            
            <div class="row">
                <div class="col-sm-6 mt-3">
                    <label class="label-control">{% trans %}Liens site web{% endtrans %}</label>
                    {{ form_widget(form.siteUrl, {'attr':{'class':'form-control'}}) }}
                </div>
            </div>
        </div>
    </div>

    <div class="tile p-5">
        {% include "admin/scholarship/_form_parts/_gallery_photo.html.twig" %}

        {% if not form.vars.valid %}
        <ul>
            {# Loop through every form item #}
            {% for child in form.children %}
                {# Display the errors of the form item #}
                {%for error in child.vars.errors %}
                    <li>{{ error.message }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
        {% endif %}

        <div class="tile-footer text-right mt-5">
            <button class="btn btn-primary mr-3" type="submit" id="admin-scholarship-form--validate">
                <i class="fa fa-fw fa-lg fa-check-circle"></i>
                {% if button_label|default(false) %}
                    {% trans %}Modifier{% endtrans %}
                {% else %}
                    {% trans %}Enregistrer{% endtrans %}
                {% endif %}
            </button>
            <a class="btn btn-secondary" href="{{ path('admin_scholarship_index') }}"><i class="fa fa-fw fa-lg fa-times-circle"></i>{% trans %}Annuler{% endtrans %}</a>
        </div>
    </div>
{{ form_end(form) }}
<div class="scolarship-form-modals">
    {% include "admin/components/modal_cropper.html.twig" %}
    {{ include("admin/discipline/parts/_discipline-form.twig") }}
</div>