{% extends 'admin/base.html.twig' %}

{% block title %} {% trans %}Liste des bourses {% endtrans %}{% endblock %}
{% block actions %}
     <a class="btn btn-primary" href="{{ path('admin_scholarship_new') }}">{% trans %}Ajouter{% endtrans %}</a>
{% endblock %}

{% set selectedOrg = app.request.query.get('relatedOrganization')|default(false) %}
{% block body %}
    <div class="tile p-2">
        <div class="tile-body">
            <div class="d-flex justify-content-end">
                <form class="search-input">
                    <div class="input-group my-2">
                        <div class="organization-filter mr-3">
                            <select class="form-control mr-5 chosen" name="relatedOrganization">
                                <option value="">Tous les organismes</option>
                                {% for row in organizations %}
                                    <option value="{{ row.id }}" {{ selectedOrg == row ? 'selected': '' }}>
                                        {{ row.name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        {% set q = app.request.query.get('q')|default('') %}
                        <input  type="search" class="form-control" name="q" value="{{ q }}" placeholder="Nom bourse" aria-label="Rechercher" aria-describedby="basic-addon">
                        <div class="input-group-append">
                            <button type="submit" class="input-group-text" id="basic-addon">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <table class="table admin-table">
                <colgroup>
                    <col span="1" style="width: 5%;" />
                    <col span="1" style="width: 5%;"/>
                    <col span="1" style="width: 30%;" />
                    <col span="1" style="width: 15%;" />
                    <col span="1" style="width: 20%"/>
                    <col span="1" style="width: 10%"/>
                    <col span="1" style="width: 5%;"/>
                    <col span="1" style="width: 5%;"/>
                </colgroup>
                <thead class="thead-green">
                    <tr>
                        <th>Id</th>
                        <th>Logo</th>
                        <th>{% trans %}Nom{% endtrans %}</th>
                        <th>{% trans %}Date de création{% endtrans %}</th>
                        <th>{% trans %}Attribué par{% endtrans %}</th>
                        <th>{% trans %}Montant{% endtrans %}</th>
                        <th>{% trans %}Vu{% endtrans %}</th>
                        <th class="text-center">{% trans %}Actions{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for scholarship in scholarships %}
                        <tr>
                            <td>{{ scholarship.id }}</td>
                            <td>
                                {% set logo = scholarship.logo ? '/uploads/logo/' ~ scholarship.logo :  asset('build/admin/images/scholarship.svg') %}
                                <img src="{{ logo }}" height="25"> 
                            </td>
                            <td>{{ scholarship.name }}</td>
                            <td>{{ scholarship.createdAt|date('d-m-Y') }}</td>
                            <td>{{ scholarship.relatedOrganization.name|default('') }}</td>
                            <td class="text-right">
                                {% set amount   = scholarship.amount|default('00') %}
                                {% set currency = scholarship.currency.code|default('EUR') %}
                                {{ amount|format_currency(currency)  }}
                            </td>
                            <td>{{ scholarship.seenUsers|length }}</td>
                            <td class="">
                                <div class="admin-table--actions">
                                    <div class="dropdown">
                                        <button class="dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="circle"></span>
                                            <span class="circle"></span>
                                            <span class="circle"></span>
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a href="/scholarship/{{ scholarship.slug }}" target="_blank"  class="dropdown-item">
                                                <span class="fa fa-link"></span>
                                                <span>Consulter la page </span>
                                            </a>
                                            <a href="{{ path('admin_scholarship_show', {'id': scholarship.id}) }}"  class="dropdown-item">
                                                <span class="fa fa-eye"></span>
                                                <span>Détails</span>
                                            </a>
                                            <a href="{{ path('admin_scholarship_edit', {'id': scholarship.id}) }}" class="dropdown-item">
                                                <span class="fa  fa-pencil"></span>
                                                <span>Modifier</span>

                                            </a>
                                            <a href="{{ path('admin_scholarship_duplicate', {'id': scholarship.id}) }}" class="dropdown-item">
                                                <span class="fa fa-copy"></span>
                                                <span>Dupliquer</span>
                                            </a>
                                            <div class="dropdown-item">
                                                {{ include('admin/scholarship/_delete_form.html.twig', {'wrapper_class':'mx-0'}) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">{% trans %}Aucun enregistrement trouvé{% endtrans %}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
         <div class="tile-footer text-right">
            {{ include('/admin/components/_paginator.html.twig', {'route_name': 'admin_scholarship_index'}) }}
        </div>
    </div>
    
{% endblock %}
