{% extends 'admin/base.html.twig' %}

{% block title %}Admin > {% trans %}bourse{% endtrans %} > {{ scholarship.name }} {% endblock %}

{% block actions %}
    <a class="btn btn-primary" href="{{ path('admin_scholarship_index') }}">Retour</a>
    <a class="btn btn-primary" href="{{ path('admin_scholarship_edit', {'id': scholarship.id}) }}">Modifier</a>
    {{ include('admin/scholarship/_delete_form.html.twig') }}
{% endblock %}

{% block body %}
    <div class="tile p-3">
        <div class="tile-body">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ scholarship.id }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}Nom{% endtrans %}</th>
                        <td>{{ scholarship.name }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}Logo{% endtrans %}</th>
                        <td>{{ scholarship.logo }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}Option de candidature{% endtrans %}</th>
                        <td>{{ scholarship.cadidateOption }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}URL de candidature{% endtrans %}</th>
                        <td>{{ scholarship.cadidateOptionUrl }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}Nom du contat{% endtrans %}</th>
                        <td>{{ scholarship.contactName }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}Avatar du contact{% endtrans %}</th>
                        <td>{{ scholarship.contactAvatar }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}Email du contact{% endtrans %}</th>
                        <td>{{ scholarship.contactEmail }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}Adresse du contacte{% endtrans %}</th>
                        <td>{{ scholarship.contactAdresse }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}Téléphone du contact{% endtrans %}</th>
                        <td>{{ scholarship.contactPhone }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}Date limite de candidature{% endtrans %}</th>
                        <td>{{ scholarship.candidatureLimit ? scholarship.candidatureLimit|date('Y-m-d') : '' }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}Email d'information{% endtrans %}</th>
                        <td>{{ scholarship.infosEmail }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}Faculté{% endtrans %}</th>
                        <td>{{ scholarship.faculty ? 'Oui' : 'Non' }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}Montant{% endtrans %}</th>
                        <td>{{ scholarship.amount }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}Nombre{% endtrans %}</th>
                        <td>{{ scholarship.count }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}Durée{% endtrans %}</th>
                        <td>{{ scholarship.duration }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}Totale offert{% endtrans %}</th>
                        <td>{{ scholarship.totalOffered }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}Sexe{% endtrans %}</th>
                        <td>{{ scholarship.grantedSex }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}Age Min{% endtrans %}</th>
                        <td>{{ scholarship.minAge }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}Age Max{% endtrans %}</th>
                        <td>{{ scholarship.maxAge }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}Autre{% endtrans %}</th>
                        <td>{{ scholarship.otherInfos }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}Histoire{% endtrans %}</th>
                        <td>{{ scholarship.story|raw }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}Piéce à fournir{% endtrans %}</th>
                        <td>{{ scholarship.attachments ? scholarship.attachments|join(', ') : '' }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}Critère{% endtrans %}</th>
                        <td>{{ scholarship.selectionCriteria ? scholarship.selectionCriteria|join(', ') : '' }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}Avantages{% endtrans %}</th>
                        <td>{{ scholarship.advantages ? scholarship.advantages|join(', ') : '' }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}Slug{% endtrans %}</th>
                        <td>{{ scholarship.slug }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}Durée{% endtrans %}</th>
                        <td>{{ scholarship.durationUnit }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}Url du site{% endtrans %}</th>
                        <td>{{ scholarship.siteUrl }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}Adresse{% endtrans %}</th>
                        <td>{{ scholarship.contactAdresseMap }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}Crée le{% endtrans %}</th>
                        <td>{{ scholarship.createdAt ? scholarship.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}Modifié le{% endtrans %}</th>
                        <td>{{ scholarship.updatedAt ? scholarship.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
