{% extends 'admin/base.html.twig' %}

{% block title %} Ce qu'ils en pensent {% endblock %}
{% block actions %}
     <a class="btn btn-primary" href="{{ path('admin_university_testimonial_new') }}">{% trans %}Ajouter{% endtrans %}</a>
{% endblock %}
{% block body %}
    <div class="navigation mb-4">
        {% include "admin/testimonial/_navigation.html.twig" %}
    </div>
    <div class="tile p-5">
        <div class="tile-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Pays</th>
                        <th>Publié</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for university_testimonial in university_testimonials %}
                    <tr>
                        <td>{{ university_testimonial.id }}</td>
                        <td>{{ university_testimonial.name }}</td>
                        <td>{{ university_testimonial.country }}</td>
                        <td>{{ university_testimonial.published ? 'Oui' : 'Non' }}</td>
                        <td>
                            <a href="{{ path('admin_university_testimonial_show', {'id': university_testimonial.id}) }}">Afficher</a>
                            <a href="{{ path('admin_university_testimonial_edit', {'id': university_testimonial.id}) }}">Modifier</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="9">Aucun enregistrement trouvé</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
