{% extends 'admin/base.html.twig' %}

{% block title %}{% trans %}Temoignage de{% endtrans %} {{ university_testimonial.name }} {% endblock %}
{% block actions %}
    <a class="btn btn-primary" href="{{ path('admin_university_testimonial_index') }}">Retour</a>
    <a class="btn btn-primary" href="{{ path('admin_university_testimonial_edit', {'id': university_testimonial.id}) }}">Modifier</a>
    {{ include('admin/testimonial/university_testimonial/_delete_form.html.twig') }}
{% endblock %}
{% block body %}
    <div class="tile p-5">
        <div class="tile-body">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ university_testimonial.id }}</td>
                    </tr>
                    <tr>
                        <th>Published</th>
                        <td>{{ university_testimonial.published ? 'Oui' : 'Non' }}</td>
                    </tr>
                    <tr>
                        <th>Content</th>
                        <td>{{ university_testimonial.content }}</td>
                    </tr>
                    <tr>
                        <th>Thumbnail</th>
                        <td>{{ university_testimonial.thumbnail }}</td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td>{{ university_testimonial.name }}</td>
                    </tr>
                    
                    <tr>
                        <th>Country</th>
                        <td>{{ university_testimonial.country }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
