<template>
    <div class="download-btn-container">
        <button @click="start" class="download-btn--button" :class="status">
            <div class="btn-line-down-container">
                <div class="btn-line-down"></div>
            </div>
            <div class="btn-line-point"></div>
        </button>
    </div>
</template>


<script>
export default {
    name  : "DownloadBtn",
    props : {
        downloaded: {
            default: false
        }
    },
    data  : function(){
        return {
            status : "ready"
        }
    },
    methods: {
        start(){
            this.status = "starting"
            this.$emit("start")
        }
    },
    watch: {
        downloaded: {
            handler: function(finished){
                if(finished){
                    this.status = "finished"
                }
            }
        }
    }

}
</script>

<style scoped>

        .download-btn--button {
            width: 100px;
            height: 100px;
            border: 8px solid #FFD7D2;
            background: #FF7667 0% 0% no-repeat padding-box;
            border-radius: 100%;
            cursor: pointer;
            position: relative;
        }
        .btn-line-point {
           
            width: 100px;
            height: 100px;
            position: absolute;
            top: -8px;
            left: -8px;
        }

        .btn-line-point:before,
        .btn-line-point:after {
            content: '';
            position: absolute;
            width: 8px;
            height: 30px;
            bottom: 20px;
            background: #FFFFFF;
            border-radius: 50px;
            transition: transform .15s ease .47s, left .15s ease .47s, right .15s ease .47s;
        }
        
        .btn-line-point:before {
            right: 38px;
            transform: rotate(45deg);
        }
        
        .btn-line-point:after {
            left: 38px;
            transform: rotate(-45deg);
        }

        .btn-line-down-container {
            position: absolute;
            top: -8px;
            left: -8px;
            width: 100px;
            height: 100px;
            transform: rotate(0deg);
            transition: transform 0s ease;
        }

        .btn-line-down {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            margin: auto;
            width: 10px;
            height: 50px;
            background: #FFFFFF;
            border-radius: 50px;
            transition: height .5s ease;
            z-index: 9;
        }

        /*** stepp 2 starting */
        .download-btn--button.starting .btn-line-down {
            height: 10px;
            top: -20px;
            animation: ms-bounce .5s forwards .55s;
        }
        
        .download-btn--button.starting .btn-line-down-container {
            animation : rotating 1.5s linear infinite;
            animation-delay: 1.5s;
        }

        @keyframes rotating {
            from{
                transform: rotate(0deg);
            }
            to{
                transform: rotate(360deg);
            }
        }

        @keyframes ms-bounce {
            0% {
                top: -20px;
            }
            25% {
                top: -250px;
            }
            50% {
                top: -275px;
            }
            100% {
                top: -93px;
            }
        }
        
        .download-btn--button.starting .btn-line-point:before {
            transform: rotate(90deg);
            right: 35px;
            bottom: 35px;
        }
        
       .download-btn--button.starting .btn-line-point:after {
            transform: rotate(-90deg);
            left: 35px;
            bottom: 35px;
        }

        

        /*** steep 3 : on finished */
        .download-btn--button.finished .btn-line-down{
            display: none;
        }

        .download-btn--button.finished .btn-line-point:after {
            left: 32px;
            top: 40px;
            transition: height .8s ease;
        }
        .download-btn--button.finished .btn-line-point:before {
            right: 35px;
            top: 25px;
            height: 50px;
            transition: width .8s ease;
        }

</style>

