<template>
    <div class="container pdf-preview">
        <header class="header">
            <div class="header-logo">
                <img :src="logo" />
            </div>
            <div class="header-title">
                <p class="header-title--text">Statistique generale de vos bourse </p>
                <p class="header-title--date">pour l'année 2019 </p>
            </div>
        </header>

        <section class="dashboard-stat--evolution mt-4">
            <OrganizationEvolutionStat 
                :scholarships="scholarships" 
                :selectedScholarships="getArrayIDS(scholarships)"
                class="print-chart"
                size="lg"
                :period="period"
            />
        </section>
        
        <section class="dashboard-stat-circular">
            <div class="row">
                <div class="col-lg-6"> 
                    <StudentLevelStat 
                        :scholarship="scholarship"
                        :selectedScholarships="getArrayIDS(scholarships)"   
                        class="print-chart" 
                        size="md"
                        :period="period"
                    />
                </div>
                <div class="col-lg-6"> 
                    <StudentSexeStat 
                        :scholarship="scholarship" 
                        :selectedScholarships="getArrayIDS(scholarships)"  
                        class="print-chart"  
                        size="md" 
                        :period="period"
                    />
                </div>
                <div class="col-lg-6"> 
                    <StudentApplicationRateStat 
                        :scholarship="scholarship"
                        :selectedScholarships="getArrayIDS(scholarships)"  
                        class="print-chart" 
                        size="md" 
                        :period="period"
                    />
                </div>
                <div class="col-lg-6"> 
                    <StudentAgeStat 
                        :scholarship="scholarship"
                        :selectedScholarships="getArrayIDS(scholarships)"  
                        class="print-chart"  
                        size="md" 
                        :period="period"
                    />
                </div>
            </div>
        </section>

        <section class="dashboard-stat-country mt-5">
            <OrganizationCountryStat 
                :scholarship="scholarship" 
                :selectedScholarships="getArrayIDS(scholarships)" 
                class="print-chart"  
                size="lg" 
                :period="period"
            />
        </section>

        <section class="dashboard-stat-discipline--preview mt-4"> 
            <StudentDisciplineStat 
                :scholarship="scholarship" 
                :selectedScholarships="getArrayIDS(scholarships)" 
                class="print-chart"  
                size="lg" 
                :period="period"
            />
        </section>

        <section class="footer-action">
            <div class="container text-right">
                <DownloadBtn @start="downloadPDF" :downloaded="downloaded" />
            </div>
        </section>   
        <section class="mobile-preview" v-if="mobileDevice">
            <div class="mobile-preview-btn-container">
                 <DownloadBtn @start="downloadPDF" :downloaded="downloaded" />
            </div>
        </section>
    </div>
</template>

<script src="./OrganizationStatPreview.js"></script>
<style scoped src="./style.css"></style>
<style>
    .pdf-preview section.conten p{
        font-family: "NunitoSans-Regular";
    }

    .pdf-preview .filter-group,
    .pdf-preview .stat-btn-container,
    .pdf-preview .dashboard-stat--evolution-content .chart-controls {
        display: none;
    }
    .pdf-preview .stat-title {
        text-transform: uppercase;
        margin-left: 15px;
    }

    .pdf-preview .dashboard-stat--student-application .stat-container{
        max-width:unset !important;
        margin: unset !important;
    }
    .pdf-preview .dashboard-stat--student-application .stat-title{
        z-index: 999999;
        position: absolute;
    }
    .pdf-preview .dashboard-stat--student-application .circular-progress-chart{
        margin-top: -2rem !important;
    }
    .pdf-preview  .dashboard-stat--evolution .stat-container{
        margin-top: 0 !important;
    }

    .pdf-preview .dashboard-stat--student-discipline .stat-container{
        margin-top: 0 !important;
    }
    .pdf-preview .dashboard-stat--student-discipline  .printable {
        padding-top: 5rem;
    }

     .pdf-preview  .mobile-preview-btn-container{
         display: none;
     }


    .pdf-preview  .mobile-preview-btn-container {
        position: fixed;
        z-index: 999;
        top: 0;
        left:0;
        background: #d0ceda85;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 100%;
    }

    .pdf-preview  .mobile-preview-btn-container .download-btn-container {
        transform: scale(4);
    }
</style>