.container{
    position: relative;
}
.pdf-preview{
    border: solid 1px #1f41711f;
    padding: 0;
}
header.header {
    width: 100%;
    background: #1f4171;
    color: white;
    padding: 5px;
    height: 100px;
}

.header-title {
    width: 70%;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    right: 0;
    top: 25px;
}

.header-logo {
  position: absolute;
  background: white;
  padding: 15px 15px 5px 15px;
}

.header-logo img {
    width: 250px;
}


.header-title--text {
    margin: 0;
    font-family: "NunitoSans-ExtraBold" !important;
    color: white !important;
}

.header-title--date {
    margin: 0;
    font-family:"NunitoSans-Bold" !important;
    color: white !important;
}

section.content {
    padding: 1rem 3rem;
    font-family: "NunitoSans-Regular";
}



.download-btn {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background: #FF7667 0% 0% no-repeat padding-box;
}

.download-btn img {
    filter: brightness(2);
}
section.footer-action {
    position: fixed;
    bottom: 10%;
    width: 100%;
    left: 0;
}