<template lang="pug">
.qkb-msg-bubble-component.qkb-msg-bubble-component--single-text
  .qkb-msg-bubble-component__text {{ mainData.text }}
  span.qkb-msg-bubble-component__status(
    v-if="mainData.status == 0"
    class="spinner-border"
  )
</template>
<script>
export default {
  props: {
    mainData: {
      type: Object
    }
  }
}
</script>
<style scoped>
.qkb-msg-bubble-component__status.spinner-border {
    position: absolute;
    width: 10px;
    height: 10px;
    right: 5px;
    bottom: 5px;
    color: #ff7667;
}
</style>