<template> 
        <div class="tutorial-list--wrapper">
            <template v-for="tuto, index in tutorials">
                <tutorial-item @open="openItem(tuto)" :key="'tuto-item-'+index" :tutorial="tuto" />
            </template>
        </div>
  
</template>

<script>
import TutorialItem from "./TutorialItem.vue"
import Tutorials    from "./../ressources/index.js" 
export default {
    name: 'TutorialList',
    components: {
        TutorialItem
    },
    data: function(){
        return {
            tutorials : []
        }
    },
    methods:{
        openItem: function(item){
            this.$emit('open',item)
        }
    },
    mounted: function(){
        this.tutorials = Tutorials.getList()
    }
}
</script>

<style lang="sass" scoped src="./../style.scss"></style>