<template>
    <div class="open-item--wrapper">
        <div class="btn-back--wrapper">
            <button @click="goBack">
                <img :src="arrow" class="arrow arrow-left" />
            </button>
        </div>
        <div class="open-item--title">
            {{ tutorial.title }} 
        </div>
        <div class="item-description" v-html="tutorial.description"></div>
        <div class="item-slide-container">
            <img :src="tutorial.slider.src" >
        </div>
    </div>
</template>

<script>
export default {
    name: 'TutorialOpenItem',
    props: {
        tutorial: {
            require: true
        }
    },

    data: function(){
        return {
            arrow : require('@/assets/img/fleche-icon.svg').default
        }
    },
    methods: {
        goBack: function(){
            this.$emit('close')
        }
    }
}
</script>

<style lang="sass" scoped>

    .open-item--wrapper {
        max-width: 60rem;
        margin: auto;
        position: relative;
        margin-top: 2rem;

        .open-item--title {
            text-align: center;
            font-size: 1.8rem !important;
            color: #3c3850;
            font-family: 'NunitoSans-SemiBold';
        }

        .item-description {
            text-align: center;
            font-size: 14px;
            margin-top: 2rem;
        }

        .item-slide-container {
            text-align: center;
            margin-top: 2rem;
        }



        .btn-back--wrapper {
            position: absolute;
            top: 10px;
            transform: rotate(180deg);
            button {
                background: none;
                border: none;
                filter: brightness(0.8);
            }
        }



    }
   

</style>