<template> 
        <div class="tutorial-item--wrapper" @click="$emit('open')">
            <div class="item-image-wrapper">
                <span class="fa fa-question"></span>
            </div>
            <div class="item-desctiption-wrapper">
                <div class="description--title">{{ tutorial.title }}</div>
                <div class="description--content" v-html="tutorial.description"></div>
            </div>
            
        </div>
  
</template>

<script>
export default {
    name: 'TutorialItem',
    props: {
        tutorial: {
            require: true
        }
    }

}
</script>

<style lang="sass" scoped src="./../style.scss"></style>