<template>
  <default-layout>
    
    <div slot="content" class="student-profil-container">
      <!--Contenu ici-->
      <div class="section section-progressbar desktop-only">
          <ProfilCompletion :student="profil" @edit="openProfilEditor" />
      </div>

      <div class="section-title-wrapper desktop-only">
        <SectionTitle :icon="icon_person" :text="$t('word.about')" />
      </div>

      <div class="section section-about">
          <div class="about--item about--item-picture">
              <UserAvatar @editAvatar=" editProfil = true" :user="profil" />
              <div class="text-center mt-3 desktop-only">
                <DefaultButton className="style4 download-btn-1" :text="$t('student.profil.page_info22')" @click.native="downloadStudentCv"/>
                <p class="mt-3 small-label">{{$t('student.profil.page_info4')}} </p>
              </div>
          </div>

          <div class="about--item about--item-basic-infos">
             <BasicInfos :student="profil" />
          </div>

          <div class="about--item about--item--others">
              <div class="about--item-parcours">
                  <ParcoursInfos :student="profil" /> 
              </div>
              <div class="about--item-search-preferences">
                  <SearchPreference :student="profil" />
              </div>
          </div>
      </div>

      <div class="section-title-wrapper">
        <SectionTitle :icon="icon_parcours" :text="$t('student.profil.page_info20')" />
      </div>

      <div class="section section-parcours-form">
          <div class="section-parcours-form-alert">
            <p>  {{$t('student.profil.page_info21')}} </p>
          </div>
          <div id="content-parcours-category">
            <ParcoursForm :student="profil" />
          </div>
      </div>

      <div class="section section-download-cv">
         <div class="text-center mt-3">
              <DefaultButton className="style4" :text="$t('student.profil.page_info22')" @click.native="downloadStudentCv"/>
              <p class="mt-3 small">{{$t('student.profil.page_info4')}} </p>
          </div>
      </div>

      <ProfilForm :open="editProfil" v-on:closeProfilEditor="closeProfilEditor" />
      
      <CompletionAlertModal  />
    </div>
  </default-layout>
</template>
<script>
import ProfilForm from "./form/ProfilForm.vue"
import ParcoursForm from "@/components/Student/Parcours/ParcoursForm.vue"

import ProfilCompletion from "./parts/ProfilCompletion.vue"
import SectionTitle from "./parts/SectionTitle.vue"
import BasicInfos from "./parts/BasicInfos.vue"
import ParcoursInfos from "./parts/ParcoursInfos.vue"
import SearchPreference from "./parts/SearchPreference.vue"
import CompletionAlertModal from "./parts/CompletionAlertModal.vue"


//import "./profil.css"
//import "./profil-mobile.css"

import ProfilService from "@/services/student/ProfilService.js"
import UserAvatar from "@/components/common/User/UserAvatar.vue"



export default {
  name: "student_user_profil",
  components: {
    ProfilForm,
    ParcoursForm,
    UserAvatar,
    ParcoursInfos,
    SearchPreference,

    ProfilCompletion,
    SectionTitle,
    BasicInfos,
    CompletionAlertModal

  },
  data: function () {
    return {
      editProfil: false,
      icon_person: require("@/assets/img/student-about-user-icon.svg").default,
      icon_parcours: require("@/assets/img/icon-blog.svg").default,
      auth: this.currentUser,
    };
  },
  watch: {
    auth:{
      deep: true,
      handler: function(){
        this.getCurrentPosition()
      }
    }
  },
  methods: {
    closeProfilEditor() {
      this.editProfil = false;
    },
    openProfilEditor(){
      this.editProfil = true
    },
    downloadStudentCv(){
        ProfilService.downloadStudentCv(this.currentUser.profil.id, this.$store.state.lang)
    },

    
  },
  mounted : function(){
      this.$store.dispatch("user/updateInfos");
    if(!(this.currentUser.profil.profil_completion > 50)){
        this.editProfil = true
    }
  }
      
  
};
</script>
<style scoped>
    .section{
      margin: 2rem 1rem;
    }
    .section.section-about {
        display: flex;
    }

    .about--item-picture{
        min-width: 10rem;
    }
    .about--item.about--item-basic-infos {
      padding: 0 2rem;
      min-width: 16rem;
    }
    .about--item--others{
        padding-left: 2rem;
        border-left: solid 1px #D3D3D3;
        width: 60%;
        max-width: 45rem;
    }
    .section-parcours-form-alert {
      padding: 3rem;
      max-width: 50rem;
      margin: auto;
      text-align: center;
      font-size: 14px !important;
      color: #3C3850;
    }

    .download-btn-1{
      width: 100%;
      padding: 0 !important;
    }
    .small-label{
      color: #3C3850;
      font-size: 12px;
    }
    @media (max-width:1200px) {
        .download-btn-1{
            font-size: 14px;
        }
        .small-label{
          font-size: 11px;
        }
    }


    @media(max-width:991px) {
      .about--item-picture{
          max-width: 13rem;
      }
      .section.section-about{
        flex-wrap: wrap;
      }
      .about--item--others{
          padding-left: 1rem;
          border-left:unset;
          width: 100%;
      }
    }




    @media(max-width:768px) {
      .about--item-picture{
          margin: auto;
          max-width: unset;
      }

      .about--item-basic-infos{
          padding: 1rem !important;
          margin-top: 2rem;
          width: 100%;
      }
    }


</style>