<template>
  <default-layout>
    
    <div slot="content" class="student-profil-container"  v-if="student">
    
      <div class="section-title-wrapper desktop-only">
        <SectionTitle :icon="icon_person" :text="$t('word.about')" />
      </div>

      <div class="section section-about">
          <div class="about--item about--item-picture">
              <UserAvatar :user="student" context="public" />
              <div class="student-action-group desktop-only">
                <DefaultButton className="style4" :text="$t('student.profil.page_info22')" @click.native="downloadStudentCv"/>
                <DefaultButton className="outline2" :text="$t('word.contact')" @click.native="openNewFeatureModal"/>
                <DefaultButton className="outline2" :text="$t('student.profil.page_info25')" @click.native="openNewFeatureModal"/>
              </div>
          </div>

          <div class="about--item about--item-basic-infos">
             <BasicInfos :student="student" />
          </div>

          <div class="about--item about--item--others">
              <div class="about--item-parcours">
                  <ParcoursInfos :student="student" /> 
              </div>
          </div>
      </div>

      <div class="section-title-wrapper">
        <SectionTitle :icon="icon_parcours" :text="$t('student.profil.page_info20')" />
      </div>

      <div class="section section-parcours-form">
          <div class="section-parcours-form-alert">
            <p>  {{$t('student.profil.page_info21')}} </p>
          </div>
          <div id="content-parcours-category">
            <ParcoursFormPublic :student="student" context="public"/>
          </div>
      </div>

      <div class="section section-download-cv">
         <div class="text-right mt-3">
              <DefaultButton className="style4" :text="$t('student.profil.page_info24')" @click.native="downloadStudentCv"/>
          </div>
      </div>

      <template>
          <new-feature-modal v-if="newFeatureModal" @close="closeNewFeatureModal"/>
      </template>
    </div>
  </default-layout>
</template>
<script>
import ProfilForm      from "./form/ProfilForm.vue"
import ParcoursFormPublic from "@/components/Student/Parcours/ParcoursFormPublic.vue"

import ProfilCompletion from "./parts/ProfilCompletion.vue"
import SectionTitle from "./parts/SectionTitle.vue"
import BasicInfos from "./parts/BasicInfos.vue"
import ParcoursInfos from "./parts/ParcoursInfos.vue"
import SearchPreference from "./parts/SearchPreference.vue"


//import "./profil.css"
//import "./profil-mobile.css"

import StudentService from "@/services/student/StudentService.js"
import UserAvatar from "@/components/common/User/UserAvatar.vue"
import ProfilService from "@/services/student/ProfilService.js"



export default {
  name: "student_user_profil",
  components: {
    ProfilForm,
    ParcoursFormPublic,
    UserAvatar,
    ParcoursInfos,
    SearchPreference,

    ProfilCompletion,
    SectionTitle,
    BasicInfos,

  },
  data: function () {
    return {
      icon_person   : require("@/assets/img/student-about-user-icon.svg").default,
      icon_parcours : require("@/assets/img/icon-blog.svg").default,
      student       : false
    };
  },
  watch: {
    auth:{
      deep: true,
      handler: function(){
        this.getCurrentPosition()
      }
    }
  },
  methods: {
    closeProfilEditor() {
      this.editProfil = false;
    },
    openProfilEditor(){
      this.editProfil = true
    },
    downloadStudentCv(){
      ProfilService.downloadStudentCv(this.student.id)
    },

    getRequestedStudent: function(){
        let that = this
        var encoder = require('int-encoder')
        let id = encoder.decode(that.$route.params.id)
        let params = {
            max : 1,
            criteria: {
              id  : id
            }
        }

        StudentService.getSearchResult(params).then(
            (response) => {
                if(response.data.students){
                    that.student = response.data.students
                }
            }
        )
    }

  },
  mounted: function(){
      this.getRequestedStudent()
  }
      
  
};
</script>
<style scoped>
    .section{
      margin: 2rem 1rem;
    }
    .section.section-about {
        display: flex;
    }

    .about--item-picture{
        min-width: 10rem;
    }
    .about--item.about--item-basic-infos {
      padding: 0 2rem;
    }
    .about--item--others{
        padding-left: 2rem;
        border-left: solid 2px #D3D3D3;
        width: 60%;
        max-width: 45rem;
    }
    .section-parcours-form-alert {
      padding: 3rem;
      max-width: 50rem;
      margin: auto;
      text-align: center;
      color: #3C3850;
      font-size: 14px;
    }

    .download-btn-1{
      width: 100%;
      padding: 0 !important;
    }
    
    .small-label{
      color: #3C3850;
      font-size: 12px;
    }

    .student-action-group{
        display: flex;
        flex-direction: column;
    }

    .student-action-group button {
        margin-top: 1rem;
        white-space: nowrap;
        padding: 0 !important;
    }

    @media (max-width:1200px) {
      .student-action-group button {
        font-size: 14px !important;
      }
      .small-label{
        font-size: 11px;
      }
    }


    @media(max-width:991px) {
      .about--item-picture{
          max-width: 13rem;
      }
      .section.section-about{
        flex-wrap: wrap;
      }
      .about--item--others{
          padding-left: 1rem;
          border-left:unset;
          width: 100%;
      }
    }




    @media(max-width:768px) {
      .about--item-picture{
          margin: auto;
          max-width: unset;
      }

      .about--item-basic-infos{
          padding: 1rem !important;
          margin-top: 2rem;
          width: 100%;
      }
    }


</style>