
p, label{
   color: #3C3850;
}
.profil-header{
    display: flex;
    align-items: center;
    margin-top: 2vh;
    padding-bottom:1vh;
}
.profil-header .profil-image {
    background: white;
    border-radius: 15px;
    height: 80px;
    border-radius: 10px;
    box-shadow: 4px 4px 5pt 2pt #E4E4E7;
}
.profil-header .profil-name{
    margin-left: 1.5vw;
    color:#3B5983;
}
.profil .desc{
    text-align: justify;
    margin-top: 15px;
    margin-bottom: 5vh;
}

.profil .stats .item {
    width: max-content;
    padding: 5px 35px 5px 5px;
    border-radius: 15px;
    margin-bottom: 10px;
}
.profil .stats .item:hover {
    border: solid 2px #dee2e6a3;
}
.profil .stats .item label{
    font-size: 12px;
    font-family: 'NunitoSans-Bold';
}
.profil .stats .item h5{
    color: #98BAFF;
    font-family: 'NunitoSans-Regular';
}

#page-public-student	.btn {
   border: none; /* Remove borders */
   color: white; /* Add a text color */
   padding: 14px 0px; /* Add some padding */
   cursor: pointer; /* Add a pointer cursor on mouse-over */
}

#page-public-student	.danger {background-color: #f44336;} /* Red */
#page-public-student	.danger:hover {background: #da190b;}

#page-public-student	#btn-edit-profil {
   border: 2px solid black;
   background-color: white;
   cursor: pointer;
   border-radius: 10px;
   border-color: #e7e7e7;
   color: rgba(245,161,144,1);
   height: 50px;

 }
 
 #page-public-student	  #btn-edit-profil:hover {
   background: #e7e7e7;
 }
 #page-public-student	 .title-section {
   background-color:#F8F8F8;
   border-top : 2px #E6E6E7 double;
   border-bottom : 2px #E6E6E7 double;
   padding : 0 2% 0 2%;
   display:flex;
   flex-direction: column;
   justify-content: center;
   height: 60px;
 }

 #page-public-student	  #content-propos {
     display:flex;
     flex-direction:row;
     padding: 2%;			  
 }
 #page-public-student  #content-propos-left {
     flex:5;
 }
 #page-public-student	  #content-propos-right {
   flex:5;
   padding-left: 5%;
}
#page-public-student	#content-propos-left {
   display:flex;
   flex-direction:row;
   border-right:2px double #E6E6E7
}
#page-public-student	#content-propos-left-left {
   flex:5;
   margin-right: 5%;
}
#page-public-student	#content-propos-left-right {
   flex:5;
   margin-right: 5%;
}

       /* Make the image to responsive */
#page-public-student .image {
   display: block;
   width: 100%;
   height: auto;
   border-radius: 5px;
}


#page-public-student #bloc-btn-profil button {
   width: 100%;
   margin-bottom:10px;
   border-radius: 10px;
}

#page-public-student	.info {background-color: #0288D1;} /* Blue */
#page-public-student	.info:hover {background: #0b7dda;}
#page-public-student .section-propos {
   text-transform: uppercase;
   font-size: 12px;
   font-family: 'NunitoSans-Bold' !important;
   color: #c5c5c5;
   margin-bottom:20px;
   margin-top:20px;
}
#page-public-student .information {
   border-bottom: 1px #E6E6E7 double;
   padding-bottom: 20px;
   padding-top: 20px;
}

#page-public-student #page-public-student .information-list li {
   line-height: 2.5;
}
#page-public-student #content-parcours-description {
     margin:50px;
     text-align:center;
     line-height: 2;
 }

 #page-public-student #icon-photo img {
   width: 20px
  }

  #page-public-student #bloc-btn-profil {
   margin-top: 20%;
  }

  #page-public-student #bloc-btn-profil p {
       font-size: 13px;
       text-align: center;
  }

  #page-public-student  #content-parcours-category {
    padding:5%
  }

  #page-public-student .title-section p {
     margin-left:40px;
     margin-bottom: 0;
  }

  #page-public-student #bloc-btn-profil p {
      margin-top:10px ;
      font-size:12px;
   }

   #page-public-student .title-section p {
      font-size: 22px
   }
   .searchPreferences{
      position: relative
   }
   .searchPreferences .loader {
      width: 100%;
      height: 100%;
      position: absolute;
      display: flex;
      background: #12ad9e0f;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 0px 50px #12ad9e1f;
      color: #12ad9e;
      z-index: 9999;
  }
  /** checkbox */
  .searchPreferences input[type="checkbox"]{
   position: absolute;
   left: -9999px;
 }
 
 .searchPreferences .side-label {
   display: block;
   position: relative;
   margin: 10px 0;
   padding-left: 35px;
   cursor: pointer;
 }
 
 .searchPreferences .side-label::before, 
 .searchPreferences .side-label::after {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   box-sizing: border-box;
 }
 
 .searchPreferences .side-label::before {
   display: block;
   width: 16px;
   height: 16px;
   border: 2px solid #dee2e6;
   border-radius: 2px;
   background: whitesmoke;
   margin-top: 4px;
   
 }
 
 input:focus + .side-label::before {
   border-color: rgba(245,161,144,1);
 }
 
 .searchPreferences .side-label::after {
   display: none;
   width: 8px;
   height: 8px;
   margin: 8px 4px;
   background-color: rgba(245,161,144,1);
   border-radius: 2px;
 }
 
 input:checked + .side-label::after {
   display: block;
 }
 .information-list .item {
   display: flex;
   margin-top: 12px;
   text-align: left !important;
}
.information-list .item .icon {
   width: 20px;
   text-align: center;
   margin-right: 15px;
}
.title-section,
.information-list .item .content ,
.information span {
   color: #484848;
}


#block_download_cv{
   text-align: center
}

#block_download_cv button{
   margin-bottom: 30px;
   width: 250px;
}

#block_download_cv p{
   font-size: 14px;
}

