<template>
  <NoSidebar>
    <div class="banner-elements" slot="banner">
      <div class="banner-element-slug">
        <img id="img-banner" :src="require('@/assets/img/logo_banner.svg').default">
        <h2 id="titre-banner" class="text-banner-home" v-html="$t('page.commun.title-banner')"></h2>
        <h3 id="sous-titre-banner" v-if="(scholarshipForm =='search')" class="text-banner-home">{{$t('page.home.subTitle-banner')}}</h3>
      </div>
      <div id="bloc-btn-mobile">
          <DefaultButton
            className="style1"
            :text="$t('word.join-us')"
            @click.native="inscription"
          />
        </div>
      <div slot="recap-search" class="scholarshipSearchForm" v-if="(scholarshipForm =='search')">
        <ScholarshipSearchForm context="home" :showAllCountries="false" v-on:go-search="refreshResult"></ScholarshipSearchForm>
      </div>
      <div slot="recap-search" class="scholarshipSearchForm" v-else>
        <ScholarshipResultForm 
          v-bind:scholarshipCount="nb" 
          v-bind:totalAmount="totalUnit" 
          :total="statistical.scholarshipsTotal" 
          :wait="waitResult">
        </ScholarshipResultForm>
      </div> 
      <div class="introduction">
        <div class="text-introduction">
          <h2 id="titre-introduction">{{$t('word.introduction')}}</h2>
          <p id="contenu-introduction">
            {{$t('page.home.content-introduction')}}
          </p>
          <a href="#" id="bouton-introduction" @click.prevent="inscription">{{$t('word.join-us')}}</a>
        </div>
        <div class="video-description">
          <iframe width="100%" id="video-introduction" height="100%" src="https://www.youtube.com/embed/0R-uuVjvXvo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div slot="content">

        <div class="containeur-principale-parcours">
          <div class="conteneur-parcours">
            <h2 id="titre-parcours">{{$t('page.home.title-course')}}</h2>
            <div class="element-parcours">
              <div id="colonne-1">
                <div class="parcours">
                  <img class="logo-parcours" :src="require('@/assets/img/default-student-avatar.svg').default">
                  <p class="description-parcours">
                    {{$t('page.home.title-course-student')}}
                  </p>
                  <a href="/student#" id="lien-parcours-student" class="lien-parcours">{{$t('word.learn-more')}}</a>
                </div>
                <div class="parcours">
                  <img class="logo-parcours"   :src="require('@/assets/img/icon-organization.svg').default">
                  <p class="description-parcours">
                    {{$t('page.home.title-course-organization')}}
                  </p>
                  <a href="/organization#" id="lien-parcours-organization" class="lien-parcours" >{{$t('word.learn-more')}}</a>
                </div>
              </div>
            
            </div>
          </div>
          
          <!-- Begin quelque-chiffre  -->
          <Stats :statistical="statistical" class="global-home-stat" />
          <!-- END quelque-chiffre --->

        </div>
        <Testimonial></Testimonial>

        <ChatBot />

    </div>
    <!-- </div> -->
  </NoSidebar>
</template>

<script type="text/javascript" src="https://platform.linkedin.com/in.js">
api_key: "777xgk82rjzcs3"
authorize: true
</script>
<script src='./home.js'></script>
<style>
  #bloc-btn-mobile{
     display: block;  
     text-align: center;
   }
  @media (min-width:426px){
    #bloc-btn-mobile{
      display: none;
    }
  }
</style>
<style scoped>

  .banner-elements{
    padding: 0 10rem;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
  }

  .video-description {
      width: 52%;
  }

  @media(max-width: 991px){
      .banner-elements{
        padding: 0 5rem;
      }
  }
  @media(max-width: 700px){
      .banner-elements{
        padding: 0 2.5rem;
      }
      .introduction{
        flex-direction: column;
      }
      .video-description, .text-introduction {
          width: 100%;
      }
      .video-description{
        height: 50vw;
        margin-top: 1rem;
      }
      #contenu-introduction {
          line-height: 1.5;
          font-size: 14px;
          text-align: justify;
      }
      #titre-introduction {
          font-size: 20px;
          text-align: center !important;
      }
      #bouton-introduction {
          margin: 0 auto 20px;
          font-size: 14px;
      }
  }
</style>
<style>
  @media (max-width:1400px) {
    .global-home-stat .quelque-chiffres--child{
      padding-top: 8rem;
    }
  }
</style>