#choose_type_container {
	display    : flex;
    width      : 100%;
    justify-content: center;
}

#chooseType-footer  {
    margin : 20px
}

#chooseType-footer  div p{
    text-align : center;
}

#chooseType-footer div  a {
    color :  #FE7E6E;  
}

#chooseType-footer  {
    display: block !important;
}

#titre-parcours {
    color:black !important
}

#lien-parcours-student {
    color: #51CBBE
}

#lien-parcours-organization {
    color: #A9B5FF
}

#lien-parcours-school {
    color : #FF7667
}

#lien-parcours-company {
    color : #6196FF
}

#titre-quelques-chiffres , #citation * {
    color: white
}

#citation-description {
    font-weight: bold;
}

.home-page #label-form-search{
    color: #fff !important;
    margin-bottom: 0 !important;
}

@media(max-width:768px){
    #chooseType-footer {
        font-size: 14px;
    }
}