<template>
  <default-layout class="contact">
    <div slot="content">
      <div class="element-contenu--child row " id="page-contact" v-bind:class = "{ 'page-non-conecter' : currentUser == null  }">
        <div class="container-left col-lg-6" id="form">
          <h4 class = "title-form">{{$t('page.contact.title')}}</h4>
          <form novalidate class="form form-contact" @submit.prevent="validateForm">
            <div class="form-group col-sm-12" :class="getValidationClass('fullname')">
              <label>{{$t('page.contact.label_1')}}*</label>
              <input type="text" class="form-control" v-model="form.fullname" :disabled="sending" >
              <span v-if="!$v.form.fullname.required" v-show ="afterClick">{{$t('page.contact.error_1')}}</span>
            </div>
            <div class="form-group col-sm-12">
              <label>{{$t('page.contact.label_2')}}</label>
              <input type="text" class="form-control" v-model="form.phone" :disabled="sending" >
            </div>
            <div class="form-group col-sm-12" :class="getValidationClass('email')">
              <label>{{$t('page.contact.label_3')}} *</label>
              <input class="form-control" v-model="form.email" type="email" :disabled="sending" >
              <span v-if="!$v.form.email.required" v-show ="afterClick">{{$t('page.contact.error_1')}}
            </span>
              <span v-if="!$v.form.email.email" style = "color : red">{{$t('page.contact.error_2')}}
            </span>
            </div>
            <div class="form-group col-sm-12" >
              <label>{{$t('page.contact.label_4')}} </label>
              <input class="form-control" v-model="form.subject" type="text" :disabled="sending" >
            </div>
            <div class="form-group col-sm-12" :class="getValidationClass('message')">
              <label>{{$t('page.contact.label_5')}} *</label>
              <textarea class="form-control" v-model="form.message" type="email" :disabled="sending" ></textarea>
              <span v-if="!$v.form.message.required" v-show ="afterClick">{{$t('page.contact.error_1')}}
            </span>
            </div>
            <md-button  type="submit"  class ='btn-submit-contact style1'>
              <span>{{$t('page.contact.btn_1')}}</span>
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" v-if="sending"></span>
            </md-button>
            <md-snackbar :md-position="position" :md-duration="isInfinity ? Infinity : duration" :md-active.sync="showSnackbar" md-persistent>
              <span>{{ form.response }}</span>
              <md-button class="md-primary" @click="showSnackbar = false">{{$t('page.contact.btn_2')}}</md-button>
            </md-snackbar>
          </form>
        </div>
        <div class="container-right col-lg-6" id="illustrator">
          <div class = "title-illustrator">
            <p style = "text-transform:uppercase">{{$t('page.contact.info_1')}}</p>
            <p>Tél: 01 75 43 80 96</p>
            <p>contact@lesgrimpeurs.fr</p>
          </div>
          <div class="img-illustrator">
       
          </div>
        </div>
      </div>

    </div>
  </default-layout>
</template>
<script src="./Contact.js"></script>
<style scoped src="./Contact.css"></style>