#sidebar , #container {
   height: 100vh !important;
  }
.main-wrapper {
    color : white;
    padding:5% 0 0 0 !important
}

.title-form {
    color: rgb(19,173,158) !important;
    text-align: left;
    font-weight: bold;
    padding-left: 15px;
}

#form form {
    margin-top: 50px;
}


.contact .form-contact input:focus {
    border-bottom: 1px solid rgb(19,173,158) !important;
    box-shadow: 0 1px 0 0 rgb(19,173,158) !important;

}


.contact .title-illustrator p{
    text-align: center !important;
    color: #3C3850;
    font-family: 'NunitoSans-SemiBold' !important;
    font-size: 1.2rem;
    letter-spacing: 0;
    margin: 10px;
}

.btn-submit-contact{
    padding: 2vh 3vw !important;
    border-radius: 10px !important;
    color: white !important;
    height: 50px !important;
}
.style1{
    background: transparent linear-gradient(90deg, #FBA590 0%, #FF7667 100%) 0% 0% no-repeat padding-box !important;
}
.contact label {
    color : black;
}
.contact .form-contact input {
    border-top: none !important;
    border-left: none !important;
    border-right:none !important;
    border-radius: 0 !important;
}
.contact .form-contact textarea:focus {
    border: 1px solid rgb(19,173,158) !important;
    box-shadow: 0 1px 0 0 rgb(19,173,158) !important;
}
#page-contact .has-error label , .has-error span {
    color : red;
}

#page-contact .img-illustrator {
    align-items: center;
    justify-content: center;
    height: calc(100% - 180px);
    display: flex;
    margin-top: 60px;
}

#page-contact {
    margin-top : 71px;
    width: 100%;
    
}

#page-contact {
    padding-left : 5% !important;
    padding-right: 5%  !important;
}

#page-contact .form-contact label , .title-illustrator p , .img-illustrator p  {
    font-family: 'NunitoSans-Regular' !important;
}
#page-contact .form-contact input {
    margin-top: 0;
}
#page-contact .form-contact .form-group {
    margin-bottom: 40px;
}



