<template>
    <div class="advantages-wrapper">
        <div class="advantages-illustration">
            <img :src="illustration">
        </div>
        <div class="advantages-list">
            <p  v-for="(item, index) in scholarship.advantages" class="mb-1 advantage-item" :key="index"> {{ item }} </p>
        </div>
    </div>
</template>

<script>
export default {
    name: "Advantages",
    props: {
        scholarship: {
            default: function(){ 
                return {} 
            }
        }
    },
    data: function(){
        return {
            illustration :  require("@/assets/img/Avantages.svg").default
        }
    }
}
</script>

<style scoped>

    .advantages-wrapper{
        background: #EDF4FF 0% 0% no-repeat padding-box;
        opacity: 1;
        display: flex;
        padding: 3rem;
    }
    .advantages-illustration{
        margin-right: 1rem;
    }
    .advantages-illustration img {
        min-width: 42px;
    }

    @media(max-width:1500px){
        .advantage-item{
           font-size: 12px;
        }
    }
    @media(max-width:1300px){
        .advantages-wrapper{
            padding: 2rem;
        }
    }
    @media(max-width:1200px){
       .advantages-wrapper{
            padding: 1rem;
        }
    }

</style>