<template>
    <div class="attachments">
        <div class="attachments-title">
            {{ $t('scholarship.label.attachments') }}
        </div>
        <div class="attachment-action">
            <div class="attachment-action-date-limit">
                <span>
                    {{ $t('scholarship.label.dateLimitCandidature') }} :
                </span> 
                <span v-if="scholarship.candidature_limit">
                    {{ getLocalDate(scholarship.candidature_limit, local) }}
                </span>
                <span v-else>
                    {{ $t('scholarship.label.dateLimitCandidatureCb') }}
                </span>
            </div>
            
            <button class="attachment-action--todo" @click="addToTodo">
                <span v-if="alertLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                <span  v-else class="btn-icon fa fa-bell">
                   
                </span> 
                <span class="btn-text">Créer une alerte</span>
            </button>
            <button v-if="scholarship.cadidate_option == 'local'" class="ml-4 banner-action-control"
                    @click.prevent="downloadDocument">
                <img :src="require('@/assets/img/Upload.svg').default">
                {{$t('application.submission.document')}}
            </button>
        </div>
        
        <div class="attachment-action-alert">
            <p>{{ $t('scholarship.label.beforeClick') }}</p>
        </div>

        <div class="row">
            <div class="col-md-6 col-lg-4" v-for="(item , index) in scholarship.attachments" :key="`attachement-${index}`">
                <div class="form-group custom-checkbox"     @click="selectAttachement(index)">
                    <input type="checkbox"   :id="'choice'+index" :data-index="index" />
                    <label class="side-label" :for="'choice'+index" @click="selectAttachement(index)" :ref="`attachment-item-${index}`"> {{ item }} </label>
                    <div class="overflow-link" v-if="isOverflowing(index)">
                        <a hre="#" @click.prevent="showAtachmentDetail(index)">Voir plus</a>
                    </div>
                </div>
            </div>							
        </div>

        <Modal v-if="messageInfos" name="Attachments-modal-infos">
            <div slot="header" class="w-100 text-center">
                <span class="icon-infos fa fa-info"></span>
                <a href="#" class="showmore-closer" @click.prevent="closeModalInfos">X</a>
            </div>
            <div slot="body" class="text-center">
                <p class="p-4" v-html="messageInfos"></p>
            </div>
        </Modal>

    </div>
</template>

<script>
import TodoService from "@/services/todo/TodoService.js"
import moment from "moment"
export default {
    name: "Attachments",
    props: {
        scholarship: {
            default: function(){ 
                return {} 
            }
        }
    },
    data: function(){
        return {
            alertLoading        : false,
            selectedAttachement : [],
            overflow            : [],
            messageInfos        : false
        }
    },
    computed: {
        isStudent: function(){
            return this.profil.roles.indexOf("ROLE_STUDENT") != -1 
        }
    },
    methods: {
        /**
         * Prepare ad create a todo checklist from atachement files 
         * 
         * @return void
         */
        addToTodo: function(){
            if(!this.isStudent){
                this.messageInfos = this.$t('error.student_reserved_feature')
                return false
            }

            let that = this
            /*** check if date limit is not null */
            if(!that.scholarship.candidature_limit){
                /*** show popu error */
                this.messageInfos =  this.$t('todo.error.date_limit')
                return false
            }

            that.alertLoading = true
            let todoDate =  moment(this.scholarship.candidature_limit,'YYYY-MM-DD')
            let todo = {
                full_date: todoDate.format("YYYY-M-D"),
                full_hour: "23:59",
                name: this.scholarship.name,
                additional_infos: " ",
                alert: {
                on: true,
                duration: 0
                },
                day: todoDate.format("D"),
                month: todoDate.format("M"),
                year: todoDate.format("YYYY"),
                hour: "23",
                minute: "59"
            }

            for (let index = 0; index < this.selectedAttachement.length; index++){
                const element = this.scholarship.attachments[index];
                todo.additional_infos += 
                `
                ${element}
                
                `
            }
            TodoService.addTodo(todo).then(
                (response) => {
                let message = ""
                if(response.data.success){
                    message = "Alerte creer avec succes"
                }else if(response.data.error == 'duplicate_content'){
                    message = "Vous avez déjà ajouter un alerte pour cette bourse"
                }

                that.$dialog.confirm(message, {
                    okText: "Consulter vos todo liste",
                    cancelText: "Fermer",
                    }).then(function (dialog) {
                        that.$router.push( {name : 'student_dashboard' })
                        dialog.close()
                    }).catch(function (dialog) {
                    dialog.close()
                });
                that.alertLoading = false
                }
            )
        },
        
        /**
         * Handle cusotom checkbox click
         * 
         * @return void
         */
        selectAttachement(id){
            let index = this.selectedAttachement.indexOf(id);
            if (index > -1) {
                this.selectedAttachement.splice(index, 1);
            }else{
                this.selectedAttachement = [...this.selectedAttachement, id]
            }
        },

        /**
         * Overflow data store all the attachement that have a long text
         * 
         * @return void
         */
        updateOverflow: function(){
            let array = this.scholarship.attachments
            for (let index = 0; index < array.length; index++) {
                const element = this.$refs[`attachment-item-${index}`]
                if(!element){
                    this.overflow = [...this.overflow, false]
                    continue
                }
                element = element[0]
                this.overflow = [...this.overflow, (element.offsetHeight < element.scrollHeight || element.offsetWidth < element.scrollWidth)]
            }
        }, 

        /**
         * Check if attachement text overflow his container
         * 
         * @param  {Integer} index
         * @return {Boolean}
         */
        isOverflowing: function(index){
            if(!this.overflow.length){
                return false
            }
            return this.overflow[index]
        },

        /**
         * Handle open modal on show more clicked
         * 
         * @return void
         */
        showAtachmentDetail: function(index){
            this.messageInfos = this.scholarship.attachments[index]
        }, 

        /**
         * handle close modal on closer clicked
         * 
         * @return void
         */
        closeModalInfos: function(){
            this.messageInfos = false
        },

        /**
         * redirect the student to the document manager page
         * 
         * @return void
         */
        downloadDocument: function(){
            if(!this.isStudent){
                this.messageInfos = this.$t('error.student_reserved_feature')
                return false
            }
            this.$router.push({'name' : 'student_application_list', query: { list_type: 'document' } })
        }
    },
    mounted : function(){
        this.updateOverflow()
    }
}
</script>

<style scoped>
    .attachments-title{
        font-family: 'NunitoSans-Bold';
        font-size: 1.2rem;
        color: #1F4171;
        margin-bottom: 10px;
    }

    .attachment-action {
        display: flex;
        align-items: center;
    }

    .attachment-action-date-limit{
        margin-right: 1rem;
        color: #3C3850;
    }
    .attachment-action--todo {
        background-color: #ffd7d2;
        border: none;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        padding: 8px 15px;
        color: #FF7667;
        font-family: 'NunitoSans-Regular';
        font-size: 15px;
    }
    .attachment-action--todo .btn-icon {
        margin-right: 5px;
    }

    .attachment-action-alert {
        font-size: 14px;
        margin-top: 10px;
    }

    .custom-checkbox .side-label {
        max-height: 25px;
        overflow: hidden;
    }

    .banner-action-control {
        background: #FF7667 0% 0% no-repeat padding-box;
        border: none;
        padding: .5rem 2rem;
        border-radius: 15rem;
        color: white;
        font-family: 'NunitoSans-SemiBold';
        font-size: .9rem;
    }
    .overflow-link {
        color: #f56c6c;
        font-family: 'NunitoSans-SemiBold';
        cursor: pointer;
        margin-top: -10px;
        margin-left: 2.3rem;
    }

    .showmore-closer {
        position: absolute;
        right: 1rem;
        top: .9rem;
        color: #D3D3D3 !important;
        font-family: 'NunitoSans-SemiBold';
        font-size: 1.5rem;
    }
    @media(max-width:991px){
        .attachment-action-alert {
            font-size: 12px;
        }
    }
    @media(max-width:991px){
        .attachment-action-date-limit{
            font-size: 14px;
        }
       
    }
    @media(max-width:600px){
        .attachment-action {
            flex-direction: column;
        }
        .attachment-action--todo{
            margin-top: 10px;
        }
    }

    .icon-infos{
        color: #FF7667;
        font-size: 2rem;
        background: #F8F8F8 0% 0% no-repeat padding-box;
        border: 1px solid #D3D3D3;
        padding: 1rem 1.7rem;
        border-radius: 50%;
    }


    
</style>
<style>
    #Attachments-modal-infos .modal-container {
        max-width: 42rem;
        position: relative;
    }
</style>