<template>
  <div class="basic-infos">
    
    <div class="basic-infos--title">
        <div class="scholarship-logo--wrapper">
            <img :src="logo">
        </div>
        <div class="basic-infos--content">
            <div class="content--name">
                <p class="scholarship--name">{{ scholarship.name }}</p>
                <ScholarshipFavoriteBtn v-if="scholarship.id" :scholarship="scholarship.id" />
            </div>


            <div class="content--country">

                <template v-if="scholarship.granted_countries && scholarship.granted_countries.length">
                    <p class="content--country-list">
                        <span v-for="(item, index) in scholarship.granted_countries" :key="index">
                            {{ item.name }} 
                        </span>
                    </p>
                </template>
                <template v-else>
                    <template v-if="scholarship.granted_continent && scholarship.granted_continent.length">
                        <span><b>{{ $t('scholarship.label.all_country_of')}} :</b></span>
                        <template v-for="continent, index in scholarship.granted_continent">
                            <span :key="'continent-item-'+index" class="continent-list--item">
                                {{ $t('continent.'+continent.id) }}
                            </span>
                        </template>
                    </template>
                    <template v-else>
                        <p><span>{{ $t('scholarship.label.all_country') }}</span></p>
                    </template>
                </template>
            </div>
            
            <div class="content--organization">
                <p class="content--organization-type"> {{ $t('organizationType.'+scholarship.award_organization_type.id) }} </p>

                <p class="content--organization-name" v-if="scholarship.related_organization">
                    <span  class="content--organization-name-label">
                        {{ $t('scholarship.label.relatedOrganization') }} : 
                    </span> 
                    <span class="content--organization-name-text">
                        <router-link :to="{'name' : 'organization_page', params: { slug: scholarship.related_organization.slug} }">
                            {{ scholarship.related_organization.name }}
                        </router-link>
                    </span>
                </p>
            </div>

        </div>
    </div>

    <div class="basic-infos-description" v-if="!logged">
        <div v-html="scholarship.story.substring(100,0)+'...'"> </div>
        <div class="alert alert-info mt-4">
            <p>Ce contenu réservé aux utilisateurs connectés</p>
            <p>Veuillez vous connecter pour lire la suite.</p>
            <DefaultButton  className="style1 mx-auto py-1 mt-2" text="Se connecter" v-if="!logged"/>
        </div>
    </div>
    <div class="basic-infos-description" v-html="scholarship.story" v-else></div>
 
  </div>
</template>

<script>
import ScholarshipFavoriteBtn from "@/components/common/ScholarshipFavoriteBtn.vue"
export default {
    name: "BasicInfos",
    props: {
        scholarship: {
            default: function(){ 
                return {} 
            }
        }
    },
    components: {
      ScholarshipFavoriteBtn  
    },
    data: function(){
        return {
            defaultLogo :  require("@/assets/img/image.svg").default
        }
    },
    computed:{
        logo: function(){

            return this.scholarship.logo ? ( 
              this.scholarship.logo.file ? this.scholarship.logo.file.url : '/uploads/logo/'+ this.scholarship.logo 
            ) : this.defaultLogo
        }   
    }
}
</script>

<style scoped>
    .basic-infos--title {
        display: flex
    }

    .scholarship--name {
        color: #1F4171;
        margin-top: 0;
        font-family: "NunitoSans-Bold" !important;
        font-size: 18pt;
        margin-right: 15px;
        margin-bottom: 0px;
    }
    
    .scholarship-logo--wrapper {
        margin-right: 5%;
        margin-top: .5rem;
        border-radius: 15%;
        width: 80px;
        max-height: 80px;
        box-shadow: 5px 7px 5px #e3d6d6;
        border: 1px solid #f4eeee !important;
        background: white;
        overflow: hidden;
    }

    .scholarship-logo--wrapper img{
        max-width: 100% !important;
    }

    .basic-infos--content p{
        margin-bottom: 0 !important;
    }

    .content--name {
        display: flex;
    }
    .content--organization-type {
        font-family: "NunitoSans-ExtraBold" !important;
    }

    .content--organization-name {
        margin-top: 5px;
    }
    .content--organization-name-text {
        font-family: "NunitoSans-ExtraBold";
    }
 
    .basic-infos-description {
        margin-top: 1.5rem;
        color: #3C3850 !important;
    }

    .content--country-list span:not(:last-child):after,
    .continent-list--item:not(:last-child):after
    {
        content: ",";
    }
    
    @media (max-width:1500px) {
        .basic-infos-description{
            font-size: 14px;
        }
    }
    @media (max-width:1200px) { 
        .scholarship--name {
            font-size: 14pt;
        }
        .content--country,
        .content--organization{
            font-size: 14px !important;
        }
 
        .basic-infos-description{
            font-size: 12px;
        }
   }
   @media (max-width:768px) {
       .basic-infos--title{
            flex-direction: column;
            background: rgba(145,143,152,.4980392156862745);
            justify-content: center;
            align-items: center;
            padding: 5%;
            margin-left: -2%;
            margin-top: -2%;
            width: 104%;
        }
        .basic-infos--content {
            text-align: center;
            margin-top: 0.5rem;
        }
        .scholarship--name {
            font-size: 16pt;
            margin: auto;
        }
   }



</style>
<style>
    /*** remove underscored line */
   .content--organization-name-text .router-link-active:after{
       content: unset !important;
   }
    .basic-infos .content--name .icon-favorite.scholarship-favoris-btn {
        margin-top: 1% !important;
    }
    @media (max-width: 768px){
    .basic-infos .content--name .icon-favorite.scholarship-favoris-btn {
        position: absolute;
        right: 20%;
        top: 50px;
    }
    .basic-infos .content--name .icon-favorite.scholarship-favoris-btn img {
            filter: invert(1) !important;
        }

    }

</style>