<template>
   <Modal name="congratuation-modal">
      <div slot="header"></div>
      <div slot="body">
          <template v-if="steep=='default'">
            <div class="p-5 mx-auto text-center">
                <h4>{{$t('scholarship.label.congrats')}}</h4>
                <p>
                    {{$t('scholarship.label.congrats_text')}}
                </p>
                <div class="w-100 text-center">
                    <DefaultButton  className="style4" @click.native="createForm" :text="$t('scholarship.btn.add_form')" />
                </div>
            </div>    
          </template>
          <template v-if="steep=='folder-chooser'">
            <div class="folder-chooser-content">
                <div class="content-header">
                    <span class="folder-icon fa fa-folder mr-2"></span>
                    <h4 class="folder-chooser-title">
                        {{ $t('application.chose_folder') }}
                    </h4>
                </div>
                <div class="text-center px-2">
                    <p class="small">
                         {{ $t('application.chose_folder_description') }}
                    </p>
                </div>
                <div class="row">
                    <div class="col-lg-6 folder-chooser-item mb-3" v-for="folder,index in folders" :key="'folder-'+index">
                        <Folder :folder="folder" @open="openFolder(folder)" />
                    </div>
                </div>
            </div>
          </template>
          <template v-if="steep=='form-chooser'">
              <div class="form-chooser-content">
                <div class="content-header">
                    <a href="#" @click.prevent="goToSteep('folder-chooser')">
                        <img :src="arrow" />
                    </a>
                    <h4 class="form-chooser-title">  Chose a form  </h4>
                </div>
                <div class="folder-opened-wrapper">
                    <div class="folder-items-wrapper">
                        <div v-for="form, index in folder.forms" :key="'forms-item-'+index" class="mt-3">
                            <FormItem :form="form" @selectedChange="onSelectedFormChange(form)" :selected="isSelected(form)" />
                        </div>
                    </div>
                </div>
                <div class="btn-actions text-center">
                    <span v-if="loading" class="spinner-border text-secondary"></span>
                    <button class="form-chooser--btn" v-if="form" @click="selectForm">
                        <span>Utiliser ce formulaire</span>
                    </button>
                     <a href="#" @click.prevent="newForm(folder)">
                        <span class="action-icon fa fa-plus mr-2"></span>
                        <span class="action-text">{{ $t('application.create_new_form') }}</span>
                    </a>
                </div>
            </div>
          </template>
      </div>
    </Modal>
</template>
<script>
    import ApplicationService from "@/services/application/ApplicationService.js"
    import Folder             from "@/view/organization/application/FormList/parts/Folder.vue"
    import FormItem           from "@/view/organization/application/FormList/parts/FormItem.vue"
    export default {
        name :"CongratModal",

        components: {
            Folder,
            FormItem
        },

        props: {
            scholarship: {
               require: true
            }
        },

        data: function(){
           return {
               folders : false,
               folder  : false,
               form    : false,
               steep   : 'default',
               arrow   : require('@/assets/img/fleche-icon.svg').default,
               loading : false,
           } 
        },

        computed: {
            isSelected: function(){
                return(form) => { 
                    return this.form && this.form.id == form.id 
                }
            },
        },

        methods: {
            createForm: function(){
                if(this.folders.length > 0){
                    this.goToSteep('folder-chooser')
                    return 
                }

                this.createNewFolderAndForm()
                
            },
            openFolder: function(folder){
                let empty = folder.forms && folder.forms.length == 0
                if(empty){
                    this.newForm()
                    return
                }

                this.folder = folder
                this.goToSteep('form-chooser')
            },
            
            goToSteep: function(steep){
                this.steep = steep
            },

            newForm : function(folder){
                this.$router.push({name:'organization_folder_form_new', params: {slug: folder.slug}})
            },

            createNewFolderAndForm: function(){
                let that = this
                ApplicationService.addFolder({name: 'Default folder'}).then(
                    (response) => {
                        if(response.data.success){
                            that.newForm({
                                slug: response.data.slug
                            })
                        }
                    }
                )
            },

            getFolderList: function(){
                let that = this
                ApplicationService.getFolderList().then(
                    (response) => {
                        that.folders = response.data.folders
                    }
                )
            },

            onSelectedFormChange: function(form){

                if(this.form && this.form.id == form.id){
                    this.form = false
                    return 
                }
                this.form = form
                
            },
            
           selectForm: function(){
                
                let that = this 
                that.loading = true

                let ids = [this.scholarship.id]

                ApplicationService.publishForm(that.form, ids).then(
                    (response) => {
                        if(response.data.success){
                            this.$router.go()
                        }
                    }
                )

            }
        },

        mounted: function(){
            this.getFolderList()
        }
    }
</script>
<style scoped>
    .application-folder-open{
        padding: 2rem;
    }

    .folder-opened-wrapper{
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 6px 8px #E1E3EE;
        border: 1px solid #D0CEDA;
        padding: 1.8rem;
        border-radius: 5px;
    }

    .content-header {
        display: flex;
    }

    .content-header img {
        transform: rotate(180deg);
        margin-right: 15px;
    }
    .folder-icon{
        display: block;
        margin-top: 3px;
        font-size: 1.3rem;
        color: #d0ceda;
        padding-right: 20px;
    }
    .btn-actions {
        margin-top: 2rem;
        text-align: center;
    }
    .form-chooser--btn{
        padding: .5rem 1rem;
        border-radius: 5px;
        color: white;
        font-family: 'NunitoSans-Bold' !important;
        border: none;
        cursor: pointer;
        background: #FF7667;
        margin-right: 2rem;
    }
    .form-chooser--btn .spinner-border{
        width: 15px;
        height: 15px;
        color: white !important;
        margin-bottom: 5px;
        margin-right: 5px;
    }
</style>
<style>
    #congratuation-modal .modal-header{
        position:relative !important;
    }
    #congratuation-modal .modal-container {
            max-width: 50rem !important;
    }

    #congratuation-modal .modal-body {
        min-height: 40vh !important;
    }
    #congratuation-modal h4 {
        color: #448aff;
        margin-bottom: 2rem;
    }
    #congratuation-modal p {
        margin-bottom: 2rem;
    }
    #congratuation-modal .form-chooser-content   .folder-opened-wrapper .form-action-container,
    #congratuation-modal .folder-chooser-content .folder-action-container
    {
       display: none !important;
    }



    @media(max-width:768px){
        #congratuation-modal .modal-body {
            min-height: 80vh !important;
        }
        #congratuation-modal .modal-container {
            max-width: 100vw !important;
        }
        #congratuation-modal h4.label{
            font-size: 20px;
        }
        #congratuation-modal button{
            width: 95%;
        }
        #congratuation-modal a.close {
            position: absolute;
            right: 50px;
            top: 30px;
        }
    }
    @media(max-width:425px){
        #congratuation-modal h4{
            font-size: 16px;
        }
    }


</style>