<template>
  <div class="card-wrapper">
        <div id="adress" class="card-container">
            <img :src="image.localisation" class="icon-adresse-contact">
            <div class="description">
                <p class="title-localisation">ADRESSE</p>
                <p>{{ scholarship.contact_adresse }}</p>
            </div>
        </div>
        <div id="contact" class="card-container" >
            <div class="image-contact">
                <Avatar :image="avatar" 
                    :alt="scholarship.contact_name" 
                    size="midle"
                />
            </div>
            <div class="description">
                <p class="title-localisation"	> CONTACT</p>
                <p>{{ scholarship.contact_name }}</p>
                <p>{{ scholarship.contact_phone }}</p>
                <p>{{ scholarship.contact_email }}</p>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "ContactCard",
    props: {
        scholarship: {
            default: function(){ 
                return {} 
            }
        }
    },
    data: function(){
        return {
            image:{ 
                localisation: require("@/assets/img/Localisation-violet.svg").default,
            }
        }
    },
    computed:{
        avatar: function(){
            if(!this.scholarship.contact_avatar){
                return false
            }
            
            if(this.scholarship.contact_avatar.file && this.scholarship.contact_avatar.file.url){
                return this.scholarship.contact_avatar.file.url
            }

            if(this.scholarship.contact_avatar){
                return '/uploads/avatar/'+ this.scholarship.contact_avatar
            }

           
           return false
        } 
    }
}
</script>

<style  scoped>
    .card-wrapper {
        margin-top: 2rem;
        display: flex;
        justify-content: space-around;
        background-color: #6196FF;
        padding: 5%;
        border-radius: 10px;
    }

    .card-container {
        display:flex;
    }

    .card-container .description {
        padding-left: 10px;
    }

    #adress .description{
        padding-right: 1rem;
        max-width: 15rem;
    }

    .card-wrapper p {
        margin: 0;
        font-size: 14px;
        color: white;
    }

    .card-wrapper .title-localisation {
        font-size: 14px;
        color: #1F4171 !important;
        font-family: 'NunitoSans-Bold' !important;
        margin-bottom: 2px;
    }
    
    .icon-adresse-contact {
        height: 25px;
    }

    .image-contact .custom-avatar {
        border: solid 2px white;
    }

    @media (max-width:1580px) {
        .card-wrapper p{
            font-size: 12px !important;
        }
    }

</style>
<style>

    @media (max-width:1580px) {
        #contact .image-contact .custom-avatar.midle {
            max-width:  60px !important;
            max-height: 60px !important;
            min-width:  60px !important;
            min-height: 60px !important;
        }
    }
</style>