<template>
  <div class="criteria-wrapper">
        <div class="criteria-illustration">
            <img :src="illustration" />
        </div>
        <div class="criteria-description">
            <p class="title"> {{ $t('scholarship.label.selectionCriteria') }} :</p>
            <div class="detail" ref="descriptionContent">
                <p v-for="(item, index) in scholarship.selection_criteria" :key="`criteria-${index}`" class="mb-1">
                    {{ item }} 
                </p>
            </div>
            <div class="overflow-link" v-if="isOverflowing">
                <a hre="#" @click.prevent="openShowMoreModal">Voir plus</a>
            </div>
        </div>
        <Modal v-if="showMore">
            <div slot="header" class="w-100 position-relative">
                <h3>{{ $t('scholarship.label.selectionCriteria') }}</h3>
                <a href="#" class="showmore-closer" @click.prevent="closeShowMoreModal">X</a>
            </div>
            <div slot="body">
                <div class="detail-modal">
                    <ul>
                        <li v-for="(item, index) in scholarship.selection_criteria" :key="`criteria-${index}`" class="mb-1">
                            <span class="fa fa-check-square"></span>
                            <span class="ml-2"></span>
                            {{ item }} 
                        </li>
                    </ul>
                </div>
            </div>

        </Modal>
    </div>
</template>

<script>
import Modal from '../../../../components/Modal/Modal.vue'
export default {
  components: { Modal },
    name: "criteria",
    props: {
        scholarship: {
            default: function(){ 
                return {} 
            }
        }
    },
    data: function(){
        return {
            illustration  : require("@/assets/img/critere.png").default,
            isOverflowing : false,
            showMore      : false
        }
    },

    methods: {
        isTextOverflow: function(){
            var element = this.$refs.descriptionContent

            if(!element){
                return false
            }
        
            return (element.offsetHeight < element.scrollHeight || element.offsetWidth < element.scrollWidth)
        },
        closeShowMoreModal: function(){
            this.showMore = false
        },
        openShowMoreModal: function(){
            this.showMore = true
        }
    },
    mounted: function(){
        this.isOverflowing = this.isTextOverflow()
    }

}
</script>
<style scoped>
    .criteria-wrapper{
        display: flex;
    }
    .criteria-illustration img {
        max-width: 160px;
    }
    .criteria-description .title {
        font-family: 'NunitoSans-Bold' !important;
        color: #3C3850 !important;
        margin-bottom: 5px;
    }

    .criteria-description .detail {
        max-height: 100px;
        overflow: hidden;
    }
    .overflow-link {
        color: #f56c6c;
        font-family: 'NunitoSans-SemiBold';
        cursor: pointer;
        margin-top: 10px;
    }

    .showmore-closer {
        position: absolute;
        right: 0;
        top: 0;
        color: #D3D3D3 !important;
        font-family: 'NunitoSans-SemiBold';
        font-size: 1.5rem;
    }
    .detail-modal .fa-check-square {
        color: #3dc5b7 !important;
    }

    @media (max-width:1500px) {
        .criteria-illustration img {
            max-width: 150px;
        }
        .criteria-description .title,
        .criteria-description .detail
        {
            font-size: 12px;
        }
    }

    @media (max-width:1320px) {
        .criteria-illustration img {
            max-width: 140px;
        }
    }

    @media (max-width:1200px) {
        .criteria-illustration img {
            max-width: 100px;
        }
    }

    @media (max-width:1025px) {
        .criteria-illustration img {
            max-width: 80px;
        }
    }



</style>