<template>
  <div class="discipline-wrapper">
    <div class="discipline-illustration">
        <img :src="illustration" />
    </div>
    <div class="discipline-description">
        <p class="title">{{ $t('word.studyFields') }} :</p>
        <div class="detail" ref="disciplineDescriptionContent">
            <div v-if="scholarship.study_field.length || scholarship.study_field_tags.length">
                <p v-for="(item, index) in scholarship.study_field" :key="`field-${index}`" class="discipline-item">
                    {{ ($t('discipline.category.'+item.id)).toLowerCase() }}
                </p>
                <p v-for="(item, index) in scholarship.study_field_tags" :key="`tag-${index}`" class="discipline-item">
                    {{ ($t('discipline.'+item.id)).toLowerCase() }}
                </p>
            </div>
            <div v-else>
                <p>{{ $t('word.all') }}</p>
            </div>	
        </div>
        <div class="overflow-link" v-if="isOverflowing">
            <a hre="#" @click.prevent="openShowMoreModal">Voir plus</a>
        </div>
    </div>

    <Modal v-if="showMore">
        <div slot="header" class="w-100 position-relative">
            <h3>{{ $t('word.studyFields') }}</h3>
            <a href="#" class="showmore-closer" @click.prevent="closeShowMoreModal">X</a>
        </div>
        <div slot="body">
            <div class="detail-modal">
                <div v-if="scholarship.study_field.length || scholarship.study_field_tags.length">
                    <p v-for="(item, index) in scholarship.study_field" :key="`field-${index}`" class="discipline-item">
                        {{ ($t('discipline.category.'+item.id)).toLowerCase() }}
                    </p>
                    <p v-for="(item, index) in scholarship.study_field_tags" :key="`tag-${index}`" class="discipline-item">
                        {{ ($t('discipline.'+item.id)).toLowerCase() }}
                    </p>
                </div>
            </div>
        </div>

    </Modal>
</div>

</template>

<script>
export default {
    name: "Disciplines",
    props: {
        scholarship: {
            default: function(){ 
                return {} 
            }
        }
    },
    data: function(){
        return {
            illustration : require("@/assets/img/domaine.png").default,
            isOverflowing : false,
            showMore      : false
        }
    },
    methods: {
        isTextOverflow: function(){
            var element = this.$refs.disciplineDescriptionContent
            if(!element){
                return false
            }
            return (element.offsetHeight < element.scrollHeight || element.offsetWidth < element.scrollWidth)
        },
        closeShowMoreModal: function(){
            this.showMore = false
        },
        openShowMoreModal: function(){
            this.showMore = true
        }
    },
    mounted: function(){
        this.isOverflowing = this.isTextOverflow()
    }
}
</script>

<style scoped>
    .discipline-wrapper{
        display: flex;
    }
    .discipline-illustration img {
        max-width: 160px;
    }
    .discipline-description .detail {
        max-height: 100px;
        overflow: hidden;
    }
    .discipline-description .title {
        font-family: 'NunitoSans-Bold' !important;
        color: #3C3850 !important;
        margin-bottom: 5px;
    }

    p.discipline-item {
        font-size: 15px;
        margin: 0;
        text-transform: capitalize;
        display: inline-block;
    }
    .overflow-link {
        color: #f56c6c;
        font-family: 'NunitoSans-SemiBold';
        cursor: pointer;
        margin-top: 10px;
    }

    .showmore-closer {
        position: absolute;
        right: 0;
        top: 0;
        color: #D3D3D3 !important;
        font-family: 'NunitoSans-SemiBold';
        font-size: 1.5rem;
    }
    .discipline-item {
        text-transform: capitalize;
        line-height: 1.6;
    }
    .discipline-item:after {
        content: ",";
        margin-right: 5px;
    }
    .discipline-item:last-child:after{
        content: unset !important;
    }
    @media (max-width:1500px) {
        .discipline-illustration img {
            max-width: 150px;
        }
        .discipline-description .detail p {
            font-size: 12px;
        }
    }

    @media (max-width:1320px) {
        .discipline-illustration img {
            max-width: 140px;
        }
    }

    @media (max-width:1200px) {
        .discipline-illustration img {
            max-width: 100px;
        }

        .discipline-description .title,
        .discipline-description .detail
        {
            font-size: 12px !important;
        }
    }

    @media (max-width:1025px) {
        .discipline-illustration img {
            max-width: 80px;
        }
    }
</style>