<template>
    <div class="footer-action--wrapper">
        <div class="request-infos-action">
            <InformationRequestForm  :show="showRequestForm" :scholarship="scholarship" v-on:close=" showRequestForm = false" /> 
            <DefaultButton className="outline2 px-5 mr-2" :text="$t('scholarship.btn.requestInfos')" :onLoad="loading"  @click.native="showRequestFormModal" />
            <DefaultButton className="style1 px-5" text="Postuler" @click.native="applicationForm" v-if="scholarship.cadidate_option == 'local'"/>
        </div>
        <div class="application-action text-center mt-5" v-if="scholarship.cadidate_option == 'external'">
            <DefaultButton  className="style1 mx-auto py-3" :text="$t('scholarship.btn.apply')" :onLoad="applicationLoading"  @click.native="submitExternalApplication"/>
        </div>
        <Modal v-if="messageInfos" name="actions-modal-infos">
            <div slot="header" class="w-100 text-center">
                <span class="icon-infos fa fa-info"></span>
                <a href="#" class="showmore-closer" @click.prevent="closeModalInfos">X</a>
            </div>
            <div slot="body" class="text-center">
                <p>{{ messageInfos }}</p>
            </div>
        </Modal>
    </div>
</template>

<script>

import ScholarshipService     from "@/services/scholarship/ScholarshipService.js"
import InformationRequestForm from "./InformationRequestForm.vue"
export default {
    name : 'ScholarshipFooterActions',

    props: {
        scholarship: {
            require: true
        }
    },

    components: {
        InformationRequestForm
    },

    data: function(){
        return {
            showRequestForm    : false,
            applicationLoading : false,
            loading            : false,
            messageInfos       : false
        }
    },

    methods: {
        showRequestFormModal(){
            window.scrollTo({
                top: 0,
                behavior: 'smooth'
            })
            this.showRequestForm = true
        },
        applicationForm: function(){

            let isStudent = this.profil.roles.indexOf("ROLE_STUDENT") != -1 
            if(!isStudent){
                this.messageInfos = this.$t('error.student_reserved_feature')
                return false
            }

            this.$router.push({ name:'scholarship_application_form', params: {slug: this.scholarship.slug }})
        },
        submitExternalApplication: function() {
            let that = this
            let url = that.scholarship.cadidate_option_url.indexOf('http') < 0 ? '//'+that.scholarship.cadidate_option_url : that.scholarship.cadidate_option_url;
            ScholarshipService.submitApplication(that.scholarship.id).then(function(){
                    that.applicationLoading = false;
                    let win = window.open(url, '_blank');
                win.focus();
            }).catch(
                (error) => {
                    that.applicationLoading = false
                    let win = window.open(url, '_blank');
                win.focus();
                }
            )
        },

        closeModalInfos: function(){
            this.messageInfos = false
        }

    }




}
</script>

<style scoped>
   .icon-infos{
        color: #FF7667;
        font-size: 2rem;
        background: #F8F8F8 0% 0% no-repeat padding-box;
        border: 1px solid #D3D3D3;
        padding: 1rem 1.7rem;
        border-radius: 50%;
    }
    .showmore-closer {
        position: absolute;
        right: 1rem;
        top: .9rem;
        color: #D3D3D3 !important;
        font-family: 'NunitoSans-SemiBold';
        font-size: 1.5rem;
    }
    @media (max-width: 430px){
        .request-infos-action button{
            width: 90%;
            margin-top: 1rem;
        }
    }
</style>
<style>
    #actions-modal-infos .modal-container {
        max-width: 35rem;
        padding: 2rem 2rem;
        position: relative;
    }
</style>