<template>
  <Modal v-if="show" class="more-information">
    <div slot="header" class="w-100">
      <a class="close" href="#" @click.prevent="closeModal"> X </a>
      <div class="title text-center">
        <h3 class="title pt-2">{{$t('modal.infos_request_title')}}</h3>
      </div>
    </div>

    <div class="form-group" slot="body">
      <div class="w-100 p-5 text-center" v-if="sent">
          <h4>{{$t('modal.infos_request_success')}}</h4>
          <div class="mt-5">
              <DefaultButton className="outline2 py-3" :text="$t('word.close')" @click.native="closeModal"/>
          </div>
      </div>
      <div v-else>
          <div class="text-left">
            <div class="form-group">
              <label>{{ $t('word.your_email') }}</label>
              <input type="email" v-model="from" :class="emailInvalid ? 'form-control invalid' : 'form-control'">
            </div>
            <div class="form-group">            
              <label>{{$t('modal.infos_request_label')}}</label>
              <VueEditor 
                  :editorToolbar="customToolbar" 
                  :height="500" 
                  v-model="message" 
                  :z-index="1000" 
                  :auto-height="true" 
                  :show-module-name="false"
              />
            </div>
          </div>
          <div class="text-right mt-4 button-validator">
              <DefaultButton className="outline2 py-3" :text="$t('word.cancel')" @click.native="closeModal"/>
              <DefaultButton className="style4 py-3"  :onLoad="loading" :text="$t('word.validate')" @click.native="sendRequest"/>
          </div>
      </div>
    </div>
  </Modal>

  
</template>
<script>
import { VueEditor } from "vue2-editor";
import ScholarshipService from "@/services/scholarship/ScholarshipService.js"
import EmailValidator from "@/services/helpers/EmailValidator.js"

export default {
  name: 'InformationRequestForm',
  data: function(){
    return {
      from : null,
      message: null,
      emailInvalid: false,
      loading: false,
      customToolbar: [["bold", "italic", "underline"], [{ list: "ordered" }, { list: "bullet" }]],
      sent : false,
    }
  },
  components : {
    VueEditor
  },
  props:{
    scholarship: {
      type: Object
    },
    show : {
      type: Boolean,
      default: false 
    }
  },
  methods : {
    sendRequest(){
      /** validate form */
      if(!EmailValidator.validate(this.from)){
        this.emailInvalid = true
        return false
      }


      let that = this
      that.loading = true
      let data = {
         scholarship : that.scholarship.id,
         message     : that.message,
         from        : that.from
      }
      ScholarshipService.requestInfos(data).then(
          (response) => {
            if(response.data.success){
              that.message = null
              that.sent = true
            } else{
              that.dispatchError(that.$t('error.'+response.data.error))
            }
            that.loading = false
          }
        ).catch(
          (error) => {
              that.dispatchError(error) 
              that.loading = false
          }
        )
    },
    closeModal(){
      this.$emit('close')
    }
  }

}

</script>
<style>
  @media (max-width:768px){
    .button-validator > button{
      margin-bottom: 10px;
    }
    .more-information .ql-toolbar.ql-snow {
        border-bottom: unset;
    }
      .more-information .quillWrapper .ql-toolbar.ql-snow .ql-formats {
        display: none;
    }
      .more-information .modal-container{
        padding: 0px 8%;
    }
    .modal-mask h3.title {
      margin-top: 5vh;
      font-size: 18px;
    }
}
</style>
<style scoped>
  .button-validator button {
      min-width: 10rem !important;
  }
</style>