<template>
    <div class="infos-card--wrapper">
        <div class="infos-card--container">

            <div class="infos-card--item">
                <div class="card--item-icon">
                    <img :src="image.total">
                </div>
                <div class="card--item-content"> 
                    <p class="title">{{ $t('scholarship.label.totalOffer') }}</p>
                    <p class="value" v-if="scholarship.amount">
                        <span>
                            {{ scholarship.amount.toLocaleString(undefined, { useGrouping:"true" }) }} 
                        </span>
                        <span v-if="scholarship.currency" :class="currencySigle"></span>
                    </p>
                    <p v-else class="value">00 $</p>
                </div>
            </div>

            <div class="infos-card--item">
                <div class="card--item-icon">
                    <img :src="image.flagblack">
                </div>
                <div class="card--item-content"> 
                    <p class="title">{{ $t('word.nationality') }}</p>
                    <p class="value" v-if="scholarship.granted_nationalities.length">
                        <span v-for="(item, index) in scholarship.granted_nationalities" :key="index">
                            {{ $t("nationality."+item.id) }} 
                            <i v-if="index !== scholarship.granted_nationalities.length - 1" class="mr-1"></i>
                        </span>
                    </p>
                    <p v-else class="value">{{ $t('word.all') }}</p>
                </div>
            
            </div>
            
            <div class="infos-card--item">
                <div class="card--item-icon small-icon">
                    <img id="icon-level" :src="image.level">
                </div>
                <div class="card--item-content"> 
                    <p class="title">{{ $t('word.level')  }}</p>
                    <p class="value" v-if="scholarship.granted_level.length">
                        <span v-for="(item, index) in scholarship.granted_level" :key="index">
                            {{ $t('student.level.'+item.id) }} 
                            <i v-if="index !== scholarship.granted_level.length - 1" class="mr-1"></i>
                        </span>
                    </p>
                    <p v-else class="value">{{ $t('word.all') }}</p>
                </div>
            </div>  

            <div class="infos-card--item">
                <div class="card--item-icon">
                    <img id="icon-level" :src="image.calendrier">
                </div>
                <div class="card--item-content"> 
                    <p class="title">AGE</p>
                    <p class="value" v-if="scholarship.min_age && scholarship.max_age"> 
                        {{ scholarship.min_age }} à {{ scholarship.max_age }} {{ $t("word.years") }}
                    </p>
                    <p class="value" v-else>{{ $t("word.all") }}</p>
                </div>
            </div>  
            
            <div class="infos-card--item">
                <div class="card--item-icon small-icon">
                    <img id="icon-level" :src="image.bourse">
                </div>
                <div class="card--item-content"> 
                    <p class="title">{{ $t('scholarship.available_scholarship') }}</p>
                    <p class="value">{{ scholarship.count }}</p>
                </div>
            </div>  

            <div class="infos-card--item">
                <div class="card--item-icon">
                    <img id="icon-level" :src="image.sexe">
                </div>
                <div class="card--item-content"> 
                    <p class="title">SEXE</p>
                    <p class="value"> {{ $t('word.'+scholarship.granted_sex) }} </p>
                </div>
            </div>  

            <div class="infos-card--item">
                <div class="card--item-icon">
                    <img id="icon-level" :src="image.site">
                </div>
                <div class="card--item-content"> 
                    <p class="title">{{ $t('word.website') }}</p>
                    <p class="value">
                        <a target="_blank" :href="scholarship.site_url">
                            Consulter le site
                        </a>
                    </p>
                </div>
            </div>  

            <div class="infos-card--item">
                <div class="card--item-icon">
                    <img id="icon-level" :src="image.duree">
                </div>
                <div class="card--item-content"> 
                    <p class="title">{{ $t('word.duration') }}</p>
                    <p class="value">{{ scholarship.duration }} {{ $t("word."+scholarship.duration_unit) }} </p>
                </div>
            </div>  

            <div class="infos-card--item candidate-limit--item">
                <div class="card--item-icon"> </div>
                <div class="card--item-content"> 
                    <p class="title">DATE LIMITE</p>
                    <p class="value" v-if="scholarship.candidature_limit">{{ formatDateRender(scholarship.candidature_limit, local) }}</p>
                    <p class="value value-text" v-else>{{ $t('scholarship.label.dateLimitCandidatureCb') }}</p>
                </div>
            </div>  

            <div class="infos-card--item social-network--item" v-if="scholarship.social_network">
                <div>
                    <a v-if="!isVideoBaseUrl(scholarship.social_network.youtube)" :href="scholarship.social_network.youtube" target="_blank">
                        <img :src="image.youtube">
                    </a>
                    <a v-else class="diseabled-link">
                        <img :src="image.youtube">
                    </a>
                </div>
                <div>
                    <a v-if="!isVideoBaseUrl(scholarship.social_network.twitter)" :href="scholarship.social_network.twitter" target="_blank">
                        <img :src="image.twitter">
                    </a>
                    <a v-else class="diseabled-link">
                        <img :src="image.twitter">
                    </a>
                </div>
                <div class="social-network--facebook-link">
                    <a v-if="!isVideoBaseUrl(scholarship.social_network.facebook)" :href="scholarship.social_network.facebook" target="_blank">
                        <img :src="image.facebook">
                    </a>
                    <a v-else class="diseabled-link">
                        <img :src="image.facebook">
                    </a>
                </div>
                <div>
                    <a v-if="!isVideoBaseUrl(scholarship.social_network.instagram)" :href="scholarship.social_network.instagram" target="_blank">
                        <img :src="image.instagram">
                    </a>
                    <a v-else class="diseabled-link">
                        <img :src="image.instagram">
                    </a>
                </div>
                <div>
                    <a v-if="!isVideoBaseUrl(scholarship.social_network.linkedin)"  :href="scholarship.social_network.linkedin" target="_blank">
                        <img :src="image.linkedin">
                    </a>
                    <a v-else class="diseabled-link">
                        <img :src="image.linkedin">
                    </a>
                </div>
            </div>


        </div>
    </div>
</template>

<script>
import IconImages from '@/services/helpers/IconImages.js'
export default {
    name: 'InfosCard',
    props: {
        scholarship: {
            default: function(){
                return {}
            }
        }
    },
    data: function(){
        return {
            image: { ...IconImages }
        }
    },
    computed: {
        currencySigle: function(){
            return ('fa fa-' + this.scholarship.currency.code).toLowerCase()
        }
    },
}
</script>

<style scoped>

    .infos-card--container{
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 44px 45px 36px #a3a8b657;
        position: relative;
        z-index: 3;
        border-radius: 15px;
        padding: 4rem;
        padding-bottom: 2rem;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 42rem;
    }

    .infos-card--item {
        width: 50%;
        display: flex;
    }
    .infos-card--item:not(:last-child){
        margin-bottom: 1.5rem;
    }

    .card--item-icon {
        margin-right: 1rem;
        min-width: 15px;
        max-height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;    
    }
    .card--item-content,
    .card--item-content p
    {
        font-family: "NunitoSans-SemiBold" !important;
        margin-bottom: 0;
    }
    .card--item-content .title {
        font-size: 12px;
        text-transform: uppercase;
    }
    .card--item-content .value {
        color: #6196FF;
    }
    .card--item-content .value-text {
        font-size: 12px;
    }
    .card--item-content .text-truncatable {
        width: 75%;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .infos-card--item.candidate-limit--item {
        background: #E5EFFF;
        padding: 10px 1rem 10px 0;
        border-radius: 5px;
        max-width: max-content;
    }

    .infos-card--item.social-network--item {
        justify-content: space-between;
        padding-left: 5px;
        margin-top: 5px;
    }
    .infos-card--item.social-network--item img{
        filter: invert(50%) sepia(94%) saturate(1410%) hue-rotate(198deg) brightness(101%) contrast(100%)
    }

    .social-network--facebook-link img {
        /*max-height: 18px;*/
    }

   @media (max-width:1500px) {
       .infos-card--container {
            padding: 2rem;
            padding-bottom: 1rem;
        }
        .card--item-content .title {
            font-size: 10px;
        }
        .card--item-content .value {
            font-size: 14px;
        }
        .card--item-content .text-truncatable{
            width: 60%;
            font-size: 12px;
        }
        .card--item-icon img {
            width: 15px;
        }
        .card--item-icon.small-icon img {
            width: 18px;
        }
        .infos-card--item.social-network--item img {
            max-height: 21px;
        }
   }

   @media (max-width:1200px) {
       .card--item-icon{
            margin-right: .5rem;
            min-width: unset;
            max-height: 25px;
        }
        .card--item-content .value{
            font-size: 12px;
        }
        .infos-card--item.social-network--item img {
            max-height: 18px;
        }
        .infos-card--container {
            padding: 1rem;
            padding-bottom: 0rem;
        }
   }


   @media (max-width:991px) {
       .infos-card--container {
            box-shadow:unset;
            padding: 1rem;
        }
        .card--item-content .title {
            font-size: 10px;
        }
        .card--item-content .value {
            font-size: 14px;
        }
        .card--item-content .text-truncatable{
            width: 60%;
            font-size: 12px;
        }
        .infos-card--wrapper {
            margin-top: 2rem;
        }
   }

    @media (max-width:420px) {
       .card--item-icon{
            margin-right: .5rem;
            min-width: unset;
            max-width: 18px;
            max-height: 25px;
        }
        .card--item-content .value{
            font-size: 12px;
        }
        .infos-card--item.social-network--item img {
            max-width: 18px;
        }
        .infos-card--container {
            padding-bottom: 0rem;
        }
   }
</style>