<template>
  <div v-if="isMine">
      <DefaultButton :text="$t('word.edit')"   className="outline2" @click.native="edit" />
      <DefaultButton :text="$t('word.delete')" className="style1"   @click.native="confirmDelete"/>
      <congrat-modal v-if="!hasForm" :scholarship="scholarship"/>
  </div>
</template>

<script>
import ScholarshipService from "@/services/scholarship/ScholarshipService.js"
import CongratModal from "./CongratModal.vue"
export default {
  name : 'OwnerAction', 
  
  props: {
    scholarship: {
      require : true
    }
  },

  components: {
    CongratModal
  },

  computed: {
    isMine: function(){
      return (this.scholarship.related_organization.id == this.profil.id ) && (this.scholarship.related_organization.email == this.profil.email)
    },
    hasForm: function(){
      return (this.scholarship.cadidateOption !== 'external') && (this.scholarship.form && this.scholarship.form.id) 
    }
  },

  methods: {
    edit: function(){
      this.$router.push({name: 'scholarship_edit', params : {slug: this.scholarship.slug }})
    },

    confirmDelete: function(){
       let that = this 
       that.$dialog.confirm("Vous etes sûre de vouloir supprimer cette bourse ? Attention, l'action est irreversible", {
          okText: that.$t('word.yes'),
          cancelText: that.$t("word.cancel"),
          }).then(function (dialog) {
              that.deleteScholarship()
              dialog.close()
              that.loading = false
          }).catch(function (dialog) {
              dialog.close()
              that.loading = false
      });
    },
    deleteScholarship: function(){
      let that = this
      ScholarshipService.deleteScholarship(that.scholarship).then(
        (response) => {
          if(response.data.success){
            that.$router.push({name: 'scholarship_search'})
          }
        }
      )
    }
  },
}
</script>

<style scoped>

</style>