<template>
  <div class="cta publication-cta"  :class="toggleShowDetaill ? 'open': ''">
    <div class="cta-item" @click="toggleShowDetaill">
      <div class="cta-icon"></div>
      <div class="cta-label">
        <label>{{$t('word.publications')}}</label>
        <p class="cta-item-count" v-if="student.publications.length > 0">
          {{ student.publications.length }} <span styl="text-transform : lowercase"> {{$t('word.publications')}}(s)</span>
        </p>
      </div>
      <div v-if="context=='private'">
        <div class="cta-action"  v-show="!stateCategory || !student.publications.length" >
          <div class="icon action-add" @click="openNewPublication"></div>
          <div class="icon action-edit" v-if="student.publications.length > 0" ></div>
        </div>
        <div class="icon action-arrow" v-show="(stateCategory)" v-if="student.publications.length > 0"></div>
      </div>
        <div class="icon action-arrow" v-else></div>
    </div>
    <div :class="[(stateCategory) ? 'list-category-cta' : 'list-hide']" v-if=" student.publications !== null && student.publications !== undefined && student.publications.length " >
      <div class="item-category-cta" v-for="publication in student.publications" :key="publication.id" >
        <div class="item-title-cta">
          <span class="ml-2">
            <h4>{{ publication.title }}</h4>
          </span>
        </div>
        <div class="item-info-cta">
          <p>
            <span>{{$t('student.parcours.disctinctions_info3')}}:</span>
            <b>{{ publication.publication_date | dateParse("YYYY-MM-DD HH:mm:ss") | dateFormat("DD MMM YYYY") }}</b>
          </p>
          <p>
            <span>{{$t('word.othor')}}:</span> <b>{{ publication.author }} </b>
          </p>
          <p>
            <span>{{$t('word.editor')}}:</span> <b> {{ publication.editor }}</b>
          </p>
          <p>
            <span>{{$t('word.description')}}: {{ publication.description }}</span>
          </p>
        </div>
        <div class="item-action-cta" v-if="context=='private'">
          <div class="d-flex" @click="openNewPublication" >
            <button class="btn-add">
              <img :src="icon_add" />
            </button>
            <span class="ml-2">{{$t('student.parcours.publication_info1')}}</span>
          </div>
          <!-- replace parameter {} by object formation  -->
          <div class="action-profil" style="display: flex">
            <div @click="openEditPublication(publication)" class="icon action-edit"></div>
            <div @click="confirmDelete(publication)" class="icon action-remove"></div>
          </div>
        </div>
      </div>
    </div>
    <Modal v-if="showPublicationModalForm" class="student-parcours-modal">
      <div slot="header" class="w-100 text-center pr-3">
        <a class="close" href="" @click.prevent="showPublicationModalForm = false"></a>
        <div>
          <h4 v-if="newPublication.id ==null">{{$t('student.parcours.publication_info1')}}</h4>
           <h4 v-else>{{$t('student.parcours.publication_info2')}}</h4>
        </div>
      </div>
      <div slot="body" class=""  v-if="student.publications.length < 3">
        <!--<div class="text-center m-3">
          <button
            class="btn btn-primary custom-btn linkedin-btn btn-inscription mr-1"
            @click="">
            <span class="rs-icon fa fa-linkedin"></span>
            <span>{{$t('student.parcours.association_info13')}}</span>
          </button>
        </div> -->
        
        <div class="row text-left" id="form-add-formation">
          <div class="col-12">
            <label>{{$t('word.title')}}</label>
            <input type="text" v-model="newPublication.title" class="form-control" />
          </div>
          <div class="col-12">
            <label>{{$t('student.parcours.publication_info5')}}</label>
            <input type="text" v-model="newPublication.editor" class="form-control" />
          </div>
          <div class="col-6">
            <label>{{$t('word.date')}}</label>
            <DateSelect v-model="newPublication.publicationDate" format="y-m-d">
            </DateSelect>
          </div>
          <div class="col-12">
            <label>{{$t('student.parcours.publication_info3')}}</label>
            <input type="text" v-model="newPublication.author" class="form-control" />
          </div>
          <!--div class="col-12">
            <label>{{$t('student.parcours.publication_info4')}}</label>
            <input type="text" v-model="newPublication.url" class="form-control" />
          </div>
          <div class="col-12">
            <label>{{$t('word.description')}}</label>
            <textarea
              type="text"
              v-model="newPublication.description"
              class="form-control"
            >
            </textarea>
          </div-->
        </div>
        <div v-if="message" class="alert alert-danger" role="alert" style="text-align:center;margin:20px">
          {{ $t(message) }}
        </div>
        <div class="text-right w-100 action-container">
          <hr />
          <DefaultButton
            className="style1"
            :text="$t('word.save')"
            :onLoad="loading"
            @click.native="updateStudentPublication"
          />
        </div>
      </div>
      <div slot="body" class="w-100 p-5" v-else>
          <div class="text-center">
            <span class="icon-infos fa fa-info"></span>
            <h5>{{ $t('student.parcours.publication_max') }}</h5>
          </div>
      </div>
    </Modal>
    <Modal v-if="showConfirm"  class="w-100 text-center modal-confirm-profil">
       <div slot="header" class="w-100 text-center pr-3">
        <a class="close" href="" @click.prevent="showConfirm = false"></a>
      </div>
      <div slot="body" class="w-100 px-4">
        <div class="bloc-icon-pouce">
          <img :src="require('@/assets/img/Pouce.svg').default" id="icon-pouce">
        </div>
        <div class="message-confirm">
          <label><b>{{$t('modal.title_modal_confirm_profil_publication')}}</b></label>
          <label>{{$t('modal.info_modal_confirm_profil')}}</label>
        </div>
        <div class="btn-confirm-profil">
          <DefaultButton
            className="outline3 add_element"
            :text="$t('modal.add_publication')"
            @click.native="openNewPublication"
          />
          <DefaultButton
            className="style1 valid_element"
            :text="$t('word.validate')"
            @click.native="showConfirm = false"
          />
        </div>
      </div>
    </Modal>
  </div>
</template>
<script>
import "./style.css";
import ProfilService from "@/services/student/ProfilService.js";
import "vue-multiselect/dist/vue-multiselect.min.css";
import Multiselect from "vue-multiselect";
export default {
  name: "PublicationCta",
  components: {
    Multiselect,
  },
  props: {
    showDetail: {
      type:Boolean
    },
    student: {
      required: true
    },
    context: {
      default: 'private'
    }
  },
  data: function () {
    return {
      showPublicationModalForm: false,
      stateCategory: this.showDetail,
      newPublication: {
        id: null,
        title: "",
        editor: "",
        publicationDate: "",
        url:"",
        author:"",
        description: ""
      },
      loading: false,
      message: "",
      icon_add: require("@/assets/img/add-icon.svg").default,
      showConfirm : false
    };
  },
  watch : {
    showDetail(newVal) {
        this.stateCategory = newVal
    }
  },


  methods: {
       checkField(newPublication) {
        var title = (newPublication.title !== "" &&  newPublication.title !== null) 
        var editor =  (newPublication.editor !== "" &&  newPublication.editor !== null) 
        var publicationDate =  (newPublication.publicationDate !== "" &&  newPublication.publicationDate !== null) 
        //var url =  (newPublication.url !== "" &&  newPublication.url !== null) 
        //var description =  (newPublication.description !== "" &&  newPublication.description !== null) 
        var author =  (newPublication.author !== "" &&  newPublication.author !== null ) 
      return (title && editor && publicationDate && author)
     },
    updateStudentPublication() {
      if(this.checkField(this.newPublication)) {
         
              this.confirmStudentPublication()
       
        }else{
         this.message = "word.form.field_incomplet";
        }
      },
      confirmStudentPublication() {
        let that = this;
        that.loading = true
        ProfilService.updateStudentPublication(that.newPublication)
          .then((response) => {
            if (response.data.status) {
              that.showConfirm = that.newPublication.id === null
              that.$store.dispatch("user/updateInfos");
              that.showPublicationModalForm = false;
              that.newPublication = {};
              that.message = "";
           
            } else {
              that.message = "word.form." + response.data.message;
            }

            that.loading = false;
    
          })
          .catch((error) => {
            console.log(error.data);
            that.message = "word.form.internal_error";
            that.loading = false;
            that.showConfirm = false
     
          });
        },

    toggleShowDetaill() {
      if (this.student.publications.length > 0) {
        this.stateCategory = !this.stateCategory;
        return 
      }
      if(this.context == 'private'){
          this.openNewPublication()
      }
    },

    editFormation(formation) {
      //recuperation inforamation des parametres
      this.showPublicationModalForm = true;
    },
    confirmDelete(Publication) {
      let that = this;
      this.$dialog
        .confirm(that.$t('student.ask.remove_publication'), {
          loader: true,
          okText: "valider",
          cancelText: that.$t('word.cancel'),
        })
        .then(function (dialog) {
          that.deleteFormation(Publication, dialog);
        })
        .catch(function (dialog) {
          dialog.close();
        });
    },
    deleteFormation(Publication, dialog) {
      let that = this;
      that.loadDelete = true;
      ProfilService.removeStudentPublication(Publication.id)
        .then(function (response) {
          if (response.data.success) {
            //mise en jour liste article
            that.$store.dispatch("user/updateInfos");
          } else {
            //afficher snackbar
          }
          dialog.close();
          that.loadDelete = false;
        })
        .catch(function (error) {
          //afficher snackbar

          dialog.close();
        });
    },
    createObjectPublication(
        id =null,
        title= "",
        editor = "",
        publicationDate = null,
        url = "",
        author= "",
        description = "",
    ) {
    this.newPublication = {
        id : id,
        title: title,
        editor: editor,
        publicationDate: publicationDate,
        url:url,
        author:author,
        description: description,
      };
    },
   openEditPublication(Publication) {
      //recuperation inforamation des
      var publication_date = new Date(Publication.publication_date)
      this.createObjectPublication(
        Publication.id,
        Publication.title,
        Publication.editor,
        publication_date.getFullYear() + '-'+ (parseInt(publication_date.getMonth()) + 1) +'-'+publication_date.getDate(),
        Publication.url,
        Publication.author,
        Publication.description
      )
  
      this.showPublicationModalForm = true;
    },
    openNewPublication() {
      this.showConfirm = false
      this.createObjectPublication()
      this.showPublicationModalForm = true;

    }
  }
}
</script>
<style scoped>
    .icon-infos{
        color: #FF7667;
        font-size: 2rem;
        background: #F8F8F8 0% 0% no-repeat padding-box;
        border: 1px solid #D3D3D3;
        padding: 1rem 1.7rem;
        border-radius: 50%;
        margin-bottom: 2rem;
    }
</style>