<template>
  <div class="cta publication-cta open public-cta">
    <div class="cta-item">
      <div class="cta-icon"></div>
      <div class="cta-label">
        <label>{{$t('word.publications')}}</label>
      </div>
    </div>
    <div class="list-category-cta">
        <template v-if=" student.publications !== null && student.publications !== undefined && student.publications.length " >
          <div class="item-category-cta" v-for="publication in student.publications" :key="publication.id" >
              <div class="publication-title">
                  {{ publication.title }}
              </div>
              <div class="item-info-cta">
                  <p class="publication-date">
                    {{ publication.publication_date | dateParse("YYYY-MM-DD HH:mm:ss") | dateFormat("DD MMM YYYY") }}
                  </p>
                  <p class="publication-desc">
                    {{ publication.description }}
                  </p>
              </div>
          </div>
        </template>
        <template v-else>
            <p class="public-empty-parcours--label">{{ $t('student.parcours.empty_parcours') }}</p>
        </template>
    </div>
  </div>
</template>
<script>
import "./style.css";

export default {
  name: "PublicationCtaPublic",
 
 
  props: {
    student: {
      required: true
    },
    context: {
      default: 'private'
    }
  }
}
</script>

<style scoped>
    .item-category-cta:not(:last-child){
        border-bottom: solid 1px #D3D3D3;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
    }

    .publication-title {
        color: #3C3850;
        font-family: 'NunitoSans-Bold';
        font-size: 1rem;
    }

    .publication-date {
      color: #D3D3D3;
    }

    .publication-desc {
        color: #3C3850;
        font-size: 12px;
    }
</style>