<template>
    <publication-cta-private v-if="context == 'private'" :showDetail="showDetail" :student="student"  />
    <publication-cta-public  v-else :student="student"  />
</template>

<script>

import PublicationCtaPrivate  from "./PublicationCtaPrivate.vue"
import PublicationCtaPublic from "./PublicationCtaPublic.vue"
export default {
    name: "FormationCta",

    components:{
        PublicationCtaPrivate,
        PublicationCtaPublic
    },

    props: {

        showDetail: {
            type:Boolean
        },
        
        student: {
            required: true
        },

        context: {
            default: 'private'
        }

    },

}
</script>