.publication-cta .cta-icon{
  background: url("~@/assets/img/publications.svg");
  background-repeat: no-repeat !important;
  background-size: contain !important;
}

#form-add-formation {
  padding : 5% !important
}

#bloc-date-addPublication {
  display : flex !important
}

#btn-parcour-control {
  text-align: center;
  margin-bottom: 30px;
}
#btn-parcour-control button {
      margin : 10px;
      min-width: 200px;
}



