<template>
    <default-layout>
        
        <div slot="content" class="application-list-template">
            <div class="section section-title">
                <h2>{{ $t('word.application') }}</h2>
            </div>

            <div class="section section-banner">
                <div class="application-alert-container">
                    <ApplicationAlert />
                </div>
                <div class="banner-action">
                    <h3 class="banner-title">Transmettre mes documents</h3>
                    <p class="banner-infos">Ce service vous permet de transmettre certains documents par voie dématérialisée.</p>
                    <button class="banner-action-control"  @click="showModal">
                        <img :src="icon_upload">
                        {{$t('student.application.document.send')}}
                    </button>
                    <DocumentForm
                            v-if="addDocument"
                            @close="hideModal"
                            v-on:reload-list="updateDocumentList"
                            ref="modal">
                    </DocumentForm>
                </div>
            </div>
            
            <div class="application-nav-wrapper">
                <custom-tab :options="tabOptions" v-model="selectedTab" />
            </div>

            <div class="section section-application-list">
                <div class="application-list-filter--wrapper mt-4">
                    <RadioMobile v-model="orderOption"
                            :options="orderOptions"
                    />
                    <div class="filter-group">
                        <div class="label-text label-text--bold text-muted">{{ $t('word.tri') }}
                        <select class="form-select bg-white border-0"  v-model="orderOption" >
                            <option :value="option" v-for="(option, index) in orderOptions" :key="'form-select-order'+index">
                                {{ option.text }}
                            </option>
                        </select>
                        </div>
                    </div>

                </div>
            </div>

            <div class="section document-application-list mt-3">
                <template v-if="selectedTab.value === 'application'" >
                    <div class="application-item-wrapper" v-for="application, index in applications" :key="'application-'+index">
                        <ApplicationItem :application="application" />
                    </div>
                </template>
                <template v-else >
                    <div class="application-item-wrapper" v-for="document, index in documents" :key="'document-'+index">
                        <DocumentItem v-on:reload-list="updateDocumentList" :document="document" />
                    </div>
                </template>
            </div>
        </div>
    </default-layout>
</template>
<script>
    import ApplicationAlert from "./parts/ApplicationAlert"
    import ApplicationItem  from "./parts/ApplicationItem"
    import DocumentForm     from "../Document/DocumentForm"
    import StudentService   from "@/services/student/StudentService.js"
    import RadioMobile      from "@/components/common/RadioMobile.vue"
    import DocumentItem     from "../Document/DocumentItem";
    import CustomTab        from "@/components/common/CustomTab.vue"
    export default {
        name : 'ApplicationList',
        components: {
            DocumentItem,
            ApplicationAlert,
            ApplicationItem,
            RadioMobile,
            DocumentForm,
            CustomTab
        },
        data: function(){
            return {
                applications: [],
                documents: [],
                icon_upload: require("@/assets/img/Upload.svg").default,
                orderOptions: [
                    {'sort': 'id', 'order': 'DESC', 'text':'Plus reçent au plus ancien'},
                    {'sort': 'id', 'order': 'ASC', 'text':'Plus ancien au plus recent'}
                ],
                orderOption: {'sort': 'id', 'order': 'DESC', 'text':'Plus reçent au plus ancien'},
                addDocument: false,
                selectedTab: {
                    label: 'Suivi de mes candidatures',
                    value: 'application'
                },
                tabOptions: [
                    {
                        label: 'Suivi de mes candidatures',
                        value: 'application'
                    },
                    {
                        label: 'Ma liste de documents',
                        value: 'document'
                    }
                ]
            }
        },
        methods: {
            /**
             * Fetch student application list
             * 
             * @returns void
             */
            updateApplicationList: function(){
                let that = this
                StudentService.getApplications().then((response) => {
                    if(response.data.applications){
                        that.applications = response.data.applications
                    }    
                })
            },

            /**
             * Fetch student uploaded documents list
             * 
             * @return void
             */
            updateDocumentList: function(){
                let that = this;
                if ('document' == that.$route.query.list_type) {
                    that.selectedTab = that.tabOptions[0]
                }
                StudentService.getDocuments().then((response) => {
                    if(response.data.documents){
                        that.documents = response.data.documents;
                    }
                })
            },

            /**
             * Show document modal form
             * 
             * @returns void
             */
            showModal: function() {
                this.addDocument = true;
            },

            /**
             * Hide document modal form
             * 
             * @returns void
             */
            hideModal: function() {
                this.addDocument = false;
            }
        },

        mounted: function(){
            this.updateApplicationList();
            this.updateDocumentList();
        }
    }
</script>
<style scoped>
    .application-list-template {
        padding: 2rem;
    }
    .application-item-wrapper{
        border-bottom: solid 1px #dee2e6;
    }
    .application-item-wrapper:last-child{
        border-bottom: none;
    }
    .section.section-title h2 {
        color: #3DC5B7;
        font-family: 'NunitoSans-Bold';
        font-size: 1.8rem;
        text-transform: capitalize;
    }
    .section.section-banner {
        display: flex;
    }
    .banner-title {
        color: #444242;
        font-size: 1.1rem;
        font-family: 'NunitoSans-Bold';
    }

    p.banner-infos {
        font-size: .9rem;
        color: #000000;
        max-width: 25rem;
    }
    .banner-action{
        margin-left: 5%;
        box-shadow: 3px 0px 16px -2px rgba(198, 191, 191, 0.62);
        -webkit-box-shadow: 3px 0px 16px -2px rgba(198, 191, 191, 0.62);
        -moz-box-shadow: 3px 0px 16px -2px rgba(198, 191, 191, 0.62);
        padding: 22px;
        margin-top: -1.5rem;
        border-radius: 10px;
    }
    .banner-action-control {
        background: #FF7667 0% 0% no-repeat padding-box;
        border: none;
        padding: .8rem 2rem;
        border-radius: 15rem;
        color: white;
        font-family: 'NunitoSans-SemiBold';
        font-size: .9rem;
    }
    .banner-action-control img {
        margin-right: 1rem;
    }
  
  
    .application-nav-wrapper {
        margin-top: 2rem;
    }

    select.form-select {
        color: #bbbec1;
        font-weight: bold;
        border: none;
        background: no-repeat;
        min-width: 15rem;
        border-radius: 5rem;
        padding-left: .5rem;
        height: 2rem;
        margin-top: 1rem;
    }
    .document-application-list{
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 6px;
        border: solid 1px #dee2e6;
    }
    @media (max-width:1440px) {
        .section.section-title h2{
            font-size: 1.5rem;
        }
        .banner-title{
            font-size: 1rem;
        }
        p.banner-infos{
            font-size: 12px;
        }
        .banner-action-control{
           font-size: 14px;
        }
    }

    @media (max-width:768px) {
        .section-banner{
            flex-direction: column;
        }
        .banner-action{
            margin-top: 1rem;
            margin-left: unset;
        }
    }

</style>

