
<div class="tile p-3">
    <div class="tile-body">
        <div class="section-title">
            <h5><i class="fa fa-info-circle mr-2"></i>{% trans %}Parcours académique{% endtrans %}</h5>
        </div>
        <div class="row">
            <div class="col-sm-6 mt-3">
                <div class="form-group">
                    <label>Disciplines</label>
                    {{ form_widget(form.disciplines, {'attr': {'class': 'form-control chosen'}}) }}
                </div>
                
                <div class="form-group">
                    <label>Niveau actuelle</label>
                    {{ form_widget(form.currentLevel, {'attr': {'class': 'form-control chosen'}}) }}
                </div>
                
            </div>
            <div class="col-sm-6 mt-3">
                <div class="form-group">
                    <label>Disciplines souhaité</label>
                    {{ form_widget(form.desiredDisciplines, {'attr': {'class': 'form-control chosen'}}) }}
                </div>
                
                
                <div class="form-group">
                    <label>Niveau souhaité</label>
                    {{ form_widget(form.desiredStudyLevel, {'attr': {'class': 'form-control chosen'}}) }}
                </div>
                
                <div class="form-group">
                    <label>Pays souhaité</label>
                    {{ form_widget(form.desiredCountries, {'attr': {'class': 'form-control chosen'}}) }}
                </div>
                
                
            </div>
        </div>
    </div>
</div>