<div class="tile p-3">
    <div class="tile-body">
        <div class="section-title">
            <h5><i class="fa fa-user mr-2"></i>{% trans %}Responsable et compte utilisateur{% endtrans %}</h5>
        </div>
        <div class="row">
            <div class="col-sm-6 mt-3">
                <label class="control-label">{% trans %}Email{% endtrans %} *</label>
                {{ form_widget(form.email, {'attr':{'class':'form-control'}}) }}
                <span id="duplicated-message-error" class="invalid d-none">{% trans %}Adresse email déjà prise{% endtrans %}</span>
            </div>
            <div class="col-sm-6 mt-3">
                <label class="control-label">{% trans %}Mot de passe{% endtrans %} *</label>
                {{ form_widget(form.password, {'attr':{'class':'form-control'}}) }}
            </div>
            <div class="col-sm-6 mt-3">
                {{ form_widget(form.enable) }}
                <label class="control-label">{% trans %}Activé compte utilisateur{% endtrans %}</label>
            </div>
            <div class="col-sm-6 mt-3">
                <label class="control-label">{% trans %}Code d'activation{% endtrans %}</label>
                {{ form_widget(form.codeActivate, {'attr':{'class':'form-control'}}) }}
            </div>
        </div>
    </div>
    <div class="tile-footer text-right mt-5">
        <button class="btn btn-primary mr-3" type="submit" id="admin-student-form--validate">
            <i class="fa fa-fw fa-lg fa-check-circle"></i>
            {% if button_label|default(false) %}
                {% trans %}Modifier{% endtrans %}
            {% else %}
                {% trans %}Enregistrer{% endtrans %}
            {% endif %}
        </button>
        <a class="btn btn-secondary" href="{{ path('admin_student_index') }}"><i class="fa fa-fw fa-lg fa-times-circle"></i>{% trans %}Annuler{% endtrans %}</a>
    </div>
</div>