
<div class="tile p-3">
    <div class="tile-body">
        <div class="section-title">
            <h5><i class="fa fa-info-circle mr-2"></i>{% trans %} Contact {% endtrans %}</h5>
        </div>
        <div class="row">
            <div class="col-sm-6 mt-3">
                <div class="form-group">
                    <label>Adresse</label>
                    {{ form_widget(form.adress, {'attr': {'class': 'form-control'}}) }}
                </div>
                
                <div class="form-group">
                    <label>Pays</label>
                    {{ form_widget(form.country, {'attr': {'class': 'form-control chosen'}}) }}
                </div>
                
            </div>
            <div class="col-sm-6 mt-3">
                <div class="form-group">
                    <label>Site url</label>
                    {{ form_widget(form.siteUrl, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    <label>Phone number</label>
                    {{ form_widget(form.phone, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        </div>
    </div>
</div>