
<div class="tile p-3">
    <div class="tile-body">
        <div class="section-title">
            <h5><i class="fa fa-info-circle mr-2"></i>{% trans %} Information generale {% endtrans %}</h5>
        </div>
        <div class="row">
            <div class="col-sm-6 mt-3">
                <div class="form-group">
                    <label>Firstname</label>
                    {{ form_widget(form.firstname, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    <label>Lastname</label>
                    {{ form_widget(form.lastname, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    <label>Date of DateOfBirth</label>
                    {{ form_widget(form.dateOfBirth, {'attr': {'class': 'form-control'}}) }}
                </div>
                
                <div class="form-group">
                    <label>Sex</label>
                    {{ form_widget(form.sexe, {'attr': {'class': 'form-control'}}) }}
                </div>
                
                <div class="form-group">
                    <label>Nationalities</label>
                    {{ form_widget(form.nationalities, {'attr': {'class': 'form-control chosen'}}) }}
                </div>
                
                <!--div class="form-group">
                    <label>Languages</label>
                    {#{ form_widget(form.languages, {'attr': {'class': 'form-control chosen'}}) }#}
                </div-->
            </div>
            <div class="col-sm-6 mt-3">
                {% include "admin/student/_form-parts/_avatar.html.twig" %}
            </div>
        </div>
    </div>
</div>