<div class="tile p-3">
    <div class="tile-body">
        <div class="section-title">
            <h5><i class="fa fa-globe mr-2"></i>{% trans %}Site web et reseau sociaux{% endtrans %}</h5>
        </div>
        {{ form_widget(form.socialNetwork) }}
    </div>
</div>