<div class="tile p-3">
    <h5>{% trans %}Gestion des admnistrateur du plateforme{% endtrans %}</h5>
    <div class="tile-actions text-right">
        <button class="btn btn-primary"><i class="fa fa-plus"></i>{% trans %}Ajouter{% endtrans %} un nouveau utilisateur</button>
    </div>
    {% set me = app.user %}
    <div class="tile-content mt-4">
        <table class="table table-hover table-bordered no-footer admin-table">
                <colgroup>
                    <col span="1" style="width: 10%;" />
                    <col span="1" style="width: 30%;"/>
                    <col span="1" style="width: 30%;" />
                    <col span="1" style="width: 20%;"/>
                    <col span="1" style="width: 10%;"/>
                </colgroup>
                <thead class="thead-green">
                    <tr>
                        <th class="text-center">#</th>
                        <th>Email</th>
                        <th>Nom utilisateur</th>
                        <th>Dernier connexion</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for user in admins %}
                    <tr>
                        <td class="text-center">{{ user.id }}</td>
                        <td>
                            {{ user.email }}
                            {% if me.id == user.id %}
                                <span class="badge badge-success ml-2">vous</span>
                            {% endif %}
                        </td>
                        <td>{{ user.firstname ~ ' ' ~ user.lastname  }}</td>
                        <td>----</td>
                        <td class="text-right">
                            <div class="admin-table--actions">
                                {% include "admin/components/_status_switcher.html.twig" with { 'form_path': path('admin_user_switch_account_status'), 'input_name' :'user', 'input_value' :user.id, 'checkbox_enabled' : user.enable, 'confiramtion_message' : 'Voulez vous lorem ...'} %}
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">{% trans %}Aucun enregistrement trouvé{% endtrans %}</td>
                    </tr>
                {% endfor %}
                  </tbody>
            </table>
    </div>
</div>