<template>
    <div class="document-add">
        <Modal>
            <div slot="header" class="w-100 position-relative mt-5">
                <div class="title text-center">
                    <h5 class="title pt-2">{{$t('student.application.document.add.title')}}</h5>
                    <p class="text-small text-muted">{{$t('student.application.document.add.info')}}</p>
                </div>
                <a class="close" href="#" @click="closeModal"> &times; </a>
            </div>

            <template slot="body">
                <div class="m-3">
                    <div class="form-group">
                        <label class="banner-title bold m-0">{{$t('student.application.document.add.title2')}}</label>
                        <p class="banner-infos text-small text-muted">{{$t('student.application.document.add.info2')}}</p>
                        <Multiselect
                                class="discipline-select"
                                :multiple="false"
                                :placeholder="$t('student.application.document.add.select_categ')"
                                :options="options"
                                :allow-empty="false"
                                v-model="document.category">
                        </Multiselect>
                    </div>
                    <div class="form-group">
                        <label class="banner-title bold">{{$t('student.application.document.add.label.add_title')}}</label>
                        <input v-model="document.title" class="form-control" type="text" :placeholder="$t('student.application.document.add.label.placeholder')"/>
                    </div>
                    <div class="form-group" v-if="addFile">
                        <label class="banner-title bold m-0">{{$t('word.file')}}
                            <input type="file" id="file" ref="file" v-on:change="handleFileUpload()"/>
                        </label>
                    </div>
                    <div class="row mx-1 border-bottom" v-else>
                        <div class="flex-item circle-icon"><img :src="require('@/assets/img/CV.svg').default"></div>
                        <div class="ml-2">
                            <p class="pt-2 m-0"> <label class="banner-title font-weight-bolder m-0">{{document.filename}}</label></p>
                            <p><span class="text-small"> {{ $t('student.application.document.success.date_send') }}
                                {{formatDate(document.date_create)}}</span>
                            </p>
                        </div>
                        <div class="text-right" style="width: auto;flex: 1 1 auto;">
                            <a href="javascript:void(0)" class="btn-actions"  @click="newFile" style="font-size: 2rem;">
                                &times;
                            </a>
                        </div>
                    </div>
                </div>
            </template>
            <div slot="footer" class="my-4 w-100 ">
                <div class="text-center">
                    <DefaultButton
                            className="outline2 mr-3 "
                            :text="$t('word.cancel')"
                            @click.native="closeModal"
                    />
                    <button class="btn-default style4 px-4" @click="submit">
                        <img class="mr-2" :src="require('@/assets/img/Upload.svg').default"/>
                        {{$t('student.application.document.send')}}
                    </button>
                </div>
            </div>
        </Modal>
    </div>
</template>

<script>
    import Multiselect from "vue-multiselect";
    import StudentService from "@/services/student/StudentService.js";
    import DateHelper from "@/services/helpers/DateHelper.js";
    export default {
        name : 'DocumentEdit',
        components : {
            Multiselect
        },
        props: {
            document: {
                required : true,
            }
        },

        data: function(){
            return {
                show: null,
                addFile: false,
                file: document.filename,
                options: [
                    "CV", this.$t('lm'), this.$t('other')
                ],
                uploadSuccess: false,
            }
        },

        methods : {
            formatDate: function (date) {
                return DateHelper.formatDate(date, this.$store.state.lang);
            },
            closeModal : function(e){
                this.$emit('close');
            },
            handleFileUpload(){
                this.file = this.$refs.file.files[0];
            },
            reUpload(){
                this.uploadSuccess=false;
                this.category = '';
                this.title = '';
                //this.$refs.file.value = null;
            },
            submit(){
                if ( (typeof this.file !== 'undefined' && !this.file) || !this.document.category || ! this.document.title) {
                    this.dispatchError(this.$t("word.form.field_incomplet"))
                    return false;
                } else {
                    let formData = new FormData();
                    formData.append('file', this.file);
                    formData.append('category', this.document.category);
                    formData.append('title', this.document.title);
                    formData.append('id', this.document.id);
                    StudentService.submitDocument(formData).then(
                        (response) => {
                            this.$emit('close');
                            this.$emit('reload-list');
                        }
                    ).catch(
                        (error) => {
                            this.dispatchError(this.$t(error.data.error));
                        }
                    )
                }

            },
            newFile: function () {
                this.file = '';
                this.addFile = true;
            }

        }
    }
</script>

<style>
    .document-add .modal-container {

        font-family: 'NunitoSans-Bold' !important;
        width: 650px;

    }
    .circle-icon{
        border-radius: 50%;
    }
    .flex-item {
        background: #f6f6f6;
        margin: 5px;
        color: white;
        font-weight: bold;
        font-size: 1.5em;
        text-align: center;
        width: 60px;
        height: 60px;
    }
    .flex-item img {
        height: 27px;
    }
    .flex-item:before {
        content: '';
        display: block;
        padding-top: 10px;
    }
    .bold {
        font-weight: 500;
    }
    .text-small{
        font-size: 0.8rem;
    }
    .document-add .close{
        position: absolute;
        right: 1rem;
        top: -2.5rem;
    }

</style>