<template>
   <div class="document-add">
        <Modal>
           <div v-if="uploadSuccess" slot="header" class="w-100 position-relative mt-5">
               <div class="title text-center">
                   <h5 class="title pt-2">{{$t('student.application.document.success.title')}}</h5>
                   <p class="text-small text-muted">{{$t('student.application.document.success.info')}}</p>
               </div>
               <a class="close" href="#" @click="closeModal"> &times; </a>
           </div>
           <div v-else slot="header" class="w-100 position-relative mt-5">
               <div class="title text-center">
                   <h5 class="title pt-2">{{$t('student.application.document.add.title')}}</h5>
                   <p class="text-small text-muted">{{$t('student.application.document.add.info')}}</p>
               </div>
               <a class="close" href="#" @click="closeModal"> &times; </a>
           </div>
            <template v-if="uploadSuccess" slot="body">
                <div class="m-3">
                    <div class="row py-3 mx-5 border-bottom border-top">
                        <div class="flex-item circle-icon"><img :src="require('@/assets/img/CV.svg').default"></div>
                        <div class="ml-2">
                            <p class="pt-2 m-0"> <label class="banner-title font-weight-bolder m-0">{{title}}</label></p>
                            <p><span class="text-small"> {{ $t('student.application.document.success.date_send') }} {{date_send}}</span></p>
                        </div>
                    </div>
                </div>
            </template>
            <template slot="body" v-else>
                <div class="m-3">
                    <div class="form-group">
                        <label class="banner-title bold m-0">{{$t('student.application.document.add.title2')}}</label>
                        <p class="banner-infos text-small text-muted">{{$t('student.application.document.add.info2')}}</p>
                        <Multiselect
                                class="discipline-select"
                                :multiple="false"
                                :placeholder="$t('student.application.document.add.select_categ')"
                                :options="options"
                                :allow-empty="false"
                                v-model="category">
                        </Multiselect>
                    </div>
                    <div class="form-group">
                        <label class="banner-title bold">{{$t('student.application.document.add.label.add_title')}}</label>
                        <input v-model="title" class="form-control" type="text" :placeholder="$t('student.application.document.add.label.placeholder')"/>
                    </div>
                    <div class="form-group">
                        <label class="banner-title bold m-0">Fichier
                            <input type="file" id="file" ref="file" v-on:change="handleFileUpload()"/>
                        </label>
                    </div>
                </div>
            </template>
            <div v-if="uploadSuccess" slot="footer" class="my-4 w-100 ">
                <div class="text-center">
                    <DefaultButton
                            className="outline2 mr-3 "
                            :text="$t('student.application.document.success.add')"
                            @click.native="reUpload"
                    />
                    <button class="btn-default style4 px-4" @click="closeModal">
                        {{$t('word.validate')}}
                    </button>
                </div>
            </div>

            <div v-else slot="footer" class="my-4 w-100 ">
                <div class="text-center">
                    <DefaultButton
                        className="outline2 mr-3 "
                        :text="$t('word.cancel')"
                        @click.native="closeModal"
                    />
                    <button class="btn-default style4 px-4" @click="submit">
                        <img class="mr-2" :src="require('@/assets/img/Upload.svg').default"/>
                        {{$t('student.application.document.send')}}
                    </button>
                </div>
            </div>
        </Modal>
   </div>
</template>

<script>
    import Multiselect from "vue-multiselect";
    import StudentService from "@/services/student/StudentService.js";
export default {
    name : 'DocumentForm',
    components : {
        Multiselect
    },
    props: {
        student: {
            default : false,
        }
    },

    data: function(){
        return {
            show: null,
            category: '',
            title: '',
            date_send: '',
            file: '',
            options: [
                 "CV", this.$t("student.application.document.category.motivation"), this.$t("student.application.document.category.recomendation"),
                this.$t("student.application.document.category.test_lang"), this.$t("student.application.document.category.test"), this.$t("student.application.document.category.diploma"),
                this.$t("student.application.document.category.note"), this.$t("student.application.document.category.trial"), this.$t("student.application.document.category.other")
            ],
            uploadSuccess: false,
        }
    },

    methods : {
        closeModal : function(e){
            this.$emit('close');
        },
        handleFileUpload(){
            this.file = this.$refs.file.files[0];
        },
        reUpload(){
            this.uploadSuccess=false;
            this.category = '';
            this.title = '';
            //this.$refs.file.value = null;
        },
        submit(){
            if (!this.file || !this.category || ! this.title) {
                this.dispatchError(this.$t("word.form.field_incomplet"))
                return false;
            } else {
                let formData = new FormData();
                formData.append('file', this.file);
                formData.append('category', this.category);
                formData.append('title', this.title);
                StudentService.submitDocument(formData).then(
                    (response) => {
                        let data = response.data;
                        this.uploadSuccess = true;
                        this.date_send = data.date;
                        this.$emit('reload-list');
                    }
                ).catch(
                    (error) => {
                        this.dispatchError(this.$t(error.data.error));
                    }
                )
            }

        },

    }
}
</script>

<style>
    .document-add .modal-container {

        font-family: 'NunitoSans-Bold' !important;
        width: 650px;

    }
    .circle-icon{
        border-radius: 50%;
    }
    .flex-item {
        background: #f6f6f6;
        margin: 5px;
        color: white;
        font-weight: bold;
        font-size: 1.5em;
        text-align: center;
        width: 60px;
        height: 60px;
    }
    .flex-item img {
        height: 27px;
    }
    .flex-item:before {
        content: '';
        display: block;
        padding-top: 10px;
    }
    .bold {
        font-weight: 500;
    }
    .text-small{
        font-size: 0.8rem;
    }
    .document-add .close{
        position: absolute;
        right: 1rem;
        top: -2.5rem;
    }

</style>