<template>
    <div class="template-fragment application-item-template">
        <div>
            <div class="item-logo">
                <div class="flex-item circle-icon"><img :src="require('@/assets/img/CV.svg').default"></div>
            </div>
        </div>
        <div class="item-content">
            <div class='item-description row mr-2'>
                 <div class="ml-2">
                     <p class="document-name mb-1 pt-2">{{ document.category }}</p>
                     <p><span class="text-small">  {{ $t('student.application.document.success.date_send') }} {{ formatDate(document.date_create) }}</span></p>
                 </div>
            </div>
            <div class="item-date">
                <div class="ml-2">
                    <div class="inline-items">
                        <strong class="text-grey mr-1">{{$t('word.note')}} : </strong> {{ document.title }}
                    </div>
                    <div class="inline-items">
                        <strong class="text-grey  mr-1">{{$t('word.status')}} : </strong>
                        <span class="text-small">
                            {{ $t('student.application.document.status.' + document.status) }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="item-edit">
            <div class="text-center bg-white">
                <a class="btn-actions" @click.prevent="showActions">
                    <img class="burger-img" :src="require('@/assets/img/button-3-points.svg').default">
                </a>
            </div>
            <div class="document-actions-wrapper" v-if="actions"  v-click-outside="hideAction">
                <ul class="mb-0">
                    <li class="row border-bottom btn-action" @click="remove(document)">
                        <div class="item-logo">
                            <div class="flex-item bg-white"><img :src="require('@/assets/img/trash.png').default"></div>
                        </div>
                        <div class="mt-2">
                            <strong class="bolder">{{$t('word.delete')}}</strong><br/>
                            <span class="text-small">{{$t('student.application.document.actions.delete')}}</span>
                        </div>

                    </li>
                    <li class="row border-bottom btn-action"  @click="editDocument = true;">
                        <div class="item-logo">
                            <div class="flex-item bg-white"><img :src="require('@/assets/img/edit.png').default"></div>
                        </div>
                        <div class="mt-2">
                            <strong class="bolder">{{$t('word.editor')}}</strong><br/>
                            <span class="text-small">{{$t('student.application.document.actions.edit')}}</span>
                        </div>
                    </li>
                    <li class="row border-bottom btn-action"  @click="download(document)">
                        <div class="item-logo">
                            <div class="flex-item bg-white">
                                <img :src="require('@/assets/img/download.png').default">
                            </div>
                        </div>
                        <div class="mt-2">
                            <strong class="bolder">{{$t('word.download')}}</strong><br/>
                            <span class="text-small">{{$t('student.application.document.actions.download')}}</span>
                        </div>
                    </li>
                    <li class="row border-bottom btn-action d-none">
                        <div class="item-logo">
                            <div class="flex-item bg-white"><img :src="require('@/assets/img/send.png').default"></div>
                        </div>
                        <div class="mt-2">
                            <strong class="bolder">{{$t('word.send')}}</strong><br/>
                            <span class="text-small">{{$t('student.application.document.actions.send')}}</span>
                        </div>
                    </li>
                    <li class="row btn-action d-none">
                        <div class="item-logo">
                            <div class="flex-item bg-white"><img :src="require('@/assets/img/bells.png').default"></div>
                        </div>
                        <div class="mt-2">
                            <strong class="bolder">{{$t('word.alert')}}</strong><br/>
                            <span class="text-small">{{$t('student.application.document.actions.alert')}}</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <DocumentEdit
            v-if="editDocument"
            :document="document"
            @close="hideModal"
            v-on:reload-list="$emit('reload-list')"
            ref="modal">
        </DocumentEdit>
    </div>

</template>

<script>
    import DocumentEdit  from "./DocumentEdit";
    import StudentService from "@/services/student/StudentService.js";
    import DateHelper from "@/services/helpers/DateHelper.js";
    import Api from '@/services/api/api.js'
export default {
    name  : 'DocumentItem',
    components: {
        DocumentEdit
    },
    
    props : {
        document: {
            require: true
        },

    },
    
    data: function(){
        return {
            defaultLogo: require('@/assets/img/image.svg').default,
            actions: false,
            editDocument: false,
        }
    },
    
    methods:{
        /***
         * How is it for ??????? 
         */
        viewDetail: function(){
            let id = this.document.id
        },

        /**
         * Format date render according the user local
         * 
         * @param   {String} date
         * @return  {String} 
         */
        formatDate: function (date) {
            return DateHelper.formatDate(date, this.$store.state.lang);
        },

        /**
         * Show document form modal
         * 
         * @return void
         */
        showModal() {
            this.editDocument = true;
            this.actions = false;
        },
        /**
         * Hide document form modal
         * 
         * @return void
         */
        hideModal() {
            this.editDocument = false;
        },

        /**
         * Show document action options on burger clik
         * 
         * @return void
         */
        showActions: function () {
            setTimeout(()=>{
                this.actions = true;
            },100);

        },

        /**
         * Hide document action options on burger or outside clik
         * 
         * @return void
         */
        hideAction: function() {
            this.actions = false;
        },

        /**
         * Prepare and submit remove document request
         * 
         * @param  {Object} doc
         * @return void
         */
        remove: function (doc) {
            StudentService.removeDocument(doc).then(
                (response) => {
                   this.$emit('reload-list');
                    this.actions = false;
                }
            ).catch(
                (error) => {
                    this.dispatchError(this.$t(error.data.error));
                }
            )
        },

        /**
         * Download the uploaded document
         * 
         * @param {Object} doc
         * @return void
         */
        download: function (doc) {
            this.actions = false;
            window.location.href = Api.student.ducument_download+'?id='+doc.id;
        }
    }

}
</script>

<style scoped>
    .application-item-template {
        display: flex;
        padding: 1.6rem;
        align-items: center;
        position: relative;
    }

    .item-logo {
        max-width: 5rem;
    }

    .item-content {
        width: 80%;
        display: flex;
        flex-direction: row;
    }
    .item-description {
        width: 56%;
        border-right: solid 1px #dee2e6;
    }

    .document-name {
        font-family: 'NunitoSans-SemiBold' !important;
    }
    .text-grey {
        color: #bbbec1 ;
    }
    .item-date {
        width: 42%;
    }
    .item-edit {
        width: 10%;
        display: flex;
        justify-content: end;
    }
    .inline-items {
        line-height: 2rem;
        font-size: 14px;
        display: flex;
    }
    .inline-items .label {
        color: #D6D6D6;
    }
    .inline-items  span.value {
        font-family: 'NunitoSans-SemiBold';
        color: #3C3850;
        margin-left: 5px;
    }

    span.status-label {
        color: #D3D3D3;
    }
    .item-status-control {
        display: block;
        margin: auto;
        border: solid 2px #ff7667;
        color: #ff7667;
        border-radius: 2rem;
        padding: 0.5rem 1.5rem;
        margin-top: 5px;
        font-family: 'NunitoSans-Bold';
    }

    .burger-img{
        width: 35px;
    }

    @media (max-width:1440px) {
        .item-logo[data-v-9f68afe4] {
            max-width: 4rem;
        }
        .item-description, .item-date {
            margin-left: 10px;
        }
        .scholarhip-name{
            font-size: 13px;
            margin-bottom: 5px;
        }
        .scholarhip-country,
        .inline-items{
            font-size: 12px;
            line-height: 1.5rem;
        }
        .status-label{
            font-size: 14px;
        }
        .item-status-control{
            min-width: 5rem;
            padding: 5px 0;
        }

    }

    .document-actions-wrapper {
        position: absolute;
        z-index: 999;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 12px 3px #64646424;
        border: 1px solid #D3D3D3;
        top: 1rem;
        right: 4rem;
        width: 18rem;
        padding: 0 1rem;
        border-radius: 15px;
        text-align: left !important;
    }
    .btn-action{
        cursor: pointer;
    }

    @media only screen and (max-width: 580px) {
        .application-item-template {
            padding: 1rem;
        }
        .item-description, .item-date {
            width: 85%;
        }
        .item-date{

            border-right: solid 1px #dee2e6;
        }
        .item-content {
           flex-direction: column;
        }

    }
</style>