<template>
    <div class="student-item--grid">
        <div class="item-grid-section">
            <div class="item-col--left item-avatar--container" @click="viewProfil">
                <Avatar :image="'/uploads/avatar/'+student.avatar" size="large"/>
            </div>
            <div class="item-col--center item-student--infos">
                <h5 class="student-txt--name">{{ student.firstname }} {{ student.lastname }} </h5>
                <p class="student-txt--adresse">{{ student.adress }} <br/>
                    <span v-for="(nationality,index) in student.nationalities" :key="'nation-'+index">{{ nationality.name }},</span>
                </p>
                <p class="student-txt--adresse" id="label-form-search" v-if="student.formations.length > 0">{{ student.formations[0].school.name }}</p>
            </div>
            <div class="item-col--right item-action-container" v-click-outside="closeBtnOption">
                <div class="action-btn-burger" @click="toggleShowAction()">
                    <span class="action-btn-burger--square"></span>
                    <span class="action-btn-burger--square"></span>
                    <span class="action-btn-burger--square"></span>
                </div>
                <template v-if="showAction">
                    <div class="action-btn-wrapper">
                        <ActionBtn v-on:reload-list="reloadResult"  v-bind:student="student"/>
                    </div>
                </template>
                <div class="student-item-age">
                    <small class="student-txt">{{ this.getAge(student.date_of_birth) }} ans</small>
                </div>
            </div>
        </div>

        <div class="item-grid-section second-section">
            <div class="item-col--left">
                <div><small class="student-txt--label">{{ $t('word.level')}}</small></div>
                <div class="student-txt">
                    <span v-if="student.current_level">{{ $t("student.level." + student.current_level.id) }}</span>
                </div>
            </div>

            <div class="item-col--center">
                <div><small class="student-txt--label">{{ $t('word.discipline')}}</small></div>
                <div class="student-txt">
                    <span v-for="(discipline,index) in student.disciplines" :key="'s-discipline-'+index"> {{ $t('discipline.category.'+discipline.id)|capitalize}} , </span>
                </div>
            </div>

            <div class="item-col--right student-circular-progress-bar">
                <CircularProgressChart                
                    :progress="getCompletion(student)"
                    color="#6196FF">
                    <div slot="legend-value">
                        <p class="value">{{ getCompletion(student) }}%</p>
                        <p class="desc"></p>
                    </div>
                </CircularProgressChart>
            </div>
        </div>

        <div class="item-grid-section second-section student-candidate-actions" v-if="context=='candidat'">
            <DefaultButton className="outline2 candidate-link-btn" :text="$t('application.see_application')" @click.native="viewApplicationDetail"/>
            <DefaultButton className="outline"  :text="$t('student.profil.view_detail')" @click.native="viewProfil" />
        </div>

    </div>
</template>
<script>
import StudentItemMixin from "@/mixins/StudentItemMixin.js"
export default {
    name:'ItemGrid',
    
    mixins: [StudentItemMixin],

    data: function(){
        return {
            showAction: false
        }
    },

    methods: {
        closeBtnOption: function(){
            this.showAction = false
        },
        toggleShowAction: function(){
            this.showAction = !this.showAction
        }
    }
}
</script>
<style lang="sass" scoped>
    .student-item--grid {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 0px 30px #64646424;
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
        padding: 1.5rem 1rem 0.2rem 1rem;


        .item-grid-section {
            display: flex;
            justify-content: space-between;
        
            .item-col--left {
                width: 25%;
                
            }

            .item-col--center {
                width: 55%;
            }

            .item-col--right {
                width: 20%;
                position: relative;


                .action-btn-burger {
                    display: flex;
                    position: absolute;
                    right:0;
                    top: 0;

                    .action-btn-burger--square {
                        width: 5px;
                        height: 5px;
                        background: #3C3850;
                        display: block;
                        margin-right: 5px;
                    }
                } 
                .action-btn-wrapper {
                    position: absolute;
                    z-index: 9;
                    background: white;
                    right: 0;
                    top: 10px;
                    padding: 0px 5px 3rem 2rem;
                }

                .student-item-age{
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    color: #D3D3D3;
                    font-family: "NunitoSans-Bold" !important;
                }
            }
            .student-txt--label {
                font-size: 10px;
                text-transform: uppercase;
                color: #D0CEDA;
            }
            &.student-candidate-actions {
                button{
                    font-size: 12px !important;
                }
            }

        }
        
        .second-section{
            margin: .5rem 0;
            padding-top: 1rem;
            border-top: solid 1px #D3D3D3;
        }
    }



    
</style>
<style>
    /**** override charting progress style */
    .student-item--grid .item-grid-section .item-avatar--container .custom-avatar.large {
        max-width: 60px !important;
        max-height: 60px  !important;
        min-width: 60px  !important;
        min-height: 60px  !important;
    }

    .student-item--grid .item-grid-section .student-circular-progress-bar .custom-legende {
        bottom: 0rem !important;
    }

    .student-item--grid .item-grid-section .confirm-action-wrapper{
        right: 0 !important;
    }
</style>