<template>
    <div class="item-view--container">
        <div class="item-desktop--view">
            <item-large 
                :student="student" 
                :context="context" 
                v-on:go-search="$emit('go-search')"
                v-on:remove="$emit('remove')"
                v-on:openApplicationDetail="$emit('openApplicationDetail')"
            />
        </div>

        <div class="item-mobile--view">
            <item-grid 
                :student="student" 
                :context="context" 
                v-on:go-search="$emit('go-search')"
                v-on:remove="$emit('remove')"
                v-on:openApplicationDetail="$emit('openApplicationDetail')"
            />
        </div>
    </div>
</template>

<script>
import ItemGrid  from "./ItemGrid.vue"
import ItemLarge from "./ItemLarge.vue"
export default {
    name : 'StudentItem',
    props  : {
        student: {
            type : Object
        },
        context: {
            // accepted value ['candidat', 'student']
            default: 'student'
        }
    },
    components: {
       ItemLarge,
       ItemGrid 
    }
}
</script>

<style scoped>
    .item-mobile--view{
        display: none;
    }
    @media (max-width:991px) {
        .item-desktop--view{
            display: none;
        }
        .item-mobile--view{
            display: block;
        }
    }
</style>