<template>
    <div class="student-list--item row">
        <div class="col-2 item-avatar--container" @click="viewProfil">
            <Avatar :image="'/uploads/avatar/'+student.avatar" size="large"/>
        </div>
        <div class="col-4 student-item-name--container" @click="viewProfil">
            <div class="row">
                <div class="col-10">
                    <h5 class="student-txt--name">{{ student.firstname }} {{ student.lastname }} </h5>
                    <p class="student-txt--adresse">{{ student.adress }} <br/>
                        <span v-for="(nationality,index) in student.nationalities" :key="'nation-'+index">{{ nationality.name }},</span>
                    </p>
                    <p class="student-txt--adresse" id="label-form-search" v-if="student.formations.length > 0">{{ student.formations[0].school.name }}</p>
                </div>
                <div class="col-2 student-item-age">
                    <small class="student-txt">{{ this.getAge(student.date_of_birth) }} ans</small>
                    <br>
                    <i v-if="'woman' == student.sexe" style="color: #FFB9B1" class="fa fa-venus"></i>
                    <i v-else-if="'man' == student.sexe" style="color: #72A1E4" class="fa fa-mars"></i>
                    <i v-else style="color: #9755BC" class="fa fa-transgender"></i>
                </div>
            </div>
        </div>
        
        <span class="vertical-line" @click="viewProfil"></span>

        <div class="col student-item-profil-container" >
            <div class="row align-items-center" @click="viewProfil">
                <div class="col-3">
                    <div><small class="student-txt">{{ $t('word.level')}}sss</small></div>
                    <div class="label-text">
                       <span v-if="student.current_level">{{ $t("student.level." + student.current_level.id) }}</span>
                    </div>
                </div>
                <div class="col-5">
                    <div><small class="student-txt">{{ $t('word.discipline')}}</small></div>
                    <div class="label-text">
                        <span v-for="(discipline,index) in student.disciplines" :key="'s-discipline-'+index"> {{ $t('discipline.category.'+discipline.id)|capitalize}} , </span>
                    </div>
                </div>
                <div class="col student-circular-progress-bar">
                    <CircularProgressChart                
                        :progress="getCompletion(student)"
                        color="#6196FF">
                        <div slot="legend-value">
                            <p class="title">Profil <br> rempli à</p>
                            <p class="value">{{ getCompletion(student) }}%</p>
                            <p class="desc"></p>
                        </div>
                    </CircularProgressChart>
                </div>
            </div>

            <div class="row student-exam-result-tab" v-if="context=='student'" @click="viewProfil">
                <template v-if="student.exams">
                    <template  v-for="exam, index in student.exams">
                        <div class="col student-exam--item" :key="'student-exam-item-'+index">
                            <div><small class="student-txt">{{ exam.name }}</small></div>
                            <div class="label-text">{{ exam.result }}</div>
                        </div>

                    </template>
                </template>
            </div>

            <div class="student-candidate-actions" v-if="context=='candidat'">
                <DefaultButton className="outline2 candidate-link-btn" :text="$t('application.see_application')" @click.native="viewApplicationDetail"/>
                <DefaultButton className="outline"  :text="$t('student.profil.view_detail')" @click.native="viewProfil" />
            </div>


        </div>

        <div class="action-container">
            <div class="action-btn-wrapper">
                <ActionBtn v-on:reload-list="reloadResult"  v-bind:student="student"/>
            </div>
        </div>
    </div>
</template>
<script>
import StudentItemMixin from "@/mixins/StudentItemMixin.js"
export default {
    name:'ItemLarge',
    mixins: [StudentItemMixin]
}
</script>
<style scoped>
    .student-candidate-actions .candidate-link-btn{
        border-radius: 20rem !important;
    }
    .student-txt {
        color: #D0CEDA;
        font-size: 10px;
    }

    .label-text {
        color: #3C3850;
        font-size: 14px;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .student-list--item{
        background-color: #fff;
        margin: 1rem 0 3rem .25rem;
        padding: 1rem;
        border-radius: 10px;
        cursor: pointer;
        box-shadow: 0px 9px 0px #ececf5;
        border: 1px solid #E9E9E9;
    }
    .item-avatar--container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .student-item-age{
        padding: 0;
        text-align: center;
    }
    .student-exam-result-tab {
        border-top: solid 1px #dee2e6;
        padding-top: .7rem;
        margin-top: .5rem;

    }
    .student-list--item .action-container {
        background-color: #F6F7FF;
        margin: -1rem;
        max-width: 35px;
        padding: .7rem;
    }
    .icon-action{
        color:rgba(128, 128, 128, 0.397);
    }
    .vertical-line {
        background: #e1e0e7;
        width: 1px;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    
    .student-item-profil-container {
        margin: 0;
    }
    .student-item-profil-container .student-txt {
       text-transform: uppercase;
    }

    .student-txt--name{
        font-family: "NunitoSans-SemiBold" !important;
    }

    .student-candidate-actions {
        text-align: right;
        margin-right: 2rem;
        margin-top: 5px;
        padding-top: 1rem;
        border-top: solid 1px #dee2e6;
    }

    @media (max-width:1500px) {
        .student-txt--adresse,
        .student-item-profil-container
        {
            font-size: 14px;
        }

        .student-txt--name {
            font-size: 1rem;
        }
        .student-exam-result-tab{
            font-size: 10px;
        }
    }
</style>
<style>
    /**** override charting progress style */
    .student-circular-progress-bar .circular-progress-chart--container{
        height: 90px;
        position: relative;
    }
    .student-circular-progress-bar .custom-legende{
        bottom: -1rem;
    }
    .student-circular-progress-bar .custom-legende .title{
        color: #3C3850;
        font-size: 10px;
        margin-bottom: 5px;
    }
    .student-circular-progress-bar .custom-legende .value{
        font-size: 1rem;
    }

    .student-candidate-actions .btn-default {
        min-height: 50px;
        padding: 0rem 2rem;
    }
    @media (max-width:1500px) {
        .student-candidate-actions .btn-default {
            min-height: 40px;
        }
        .student-list--item .action-container {
            max-width: 32px;
        }
    }
    @media (max-width:1400px) {
        .student-circular-progress-bar .circular-progress-chart--container{
            height: 80px;
        }
        .student-circular-progress-bar .custom-legende .title {
            font-size: 10px;
            margin-bottom: 0;
        }
      
        .label-text, .student-txt, .student-txt--adresse {
            font-size: 12px;
        }
        .student-txt--name{
            font-size: 1rem;
        }
        
        
    }
    @media (max-width:1220px) {

        .student-list--item .custom-avatar.large {
            max-width: 80px;
            max-height: 80px;
            min-width: 80px;
            min-height: 80px;
        }
        .student-list--item .student-item-name--container {
            flex: 0 0 25%!important;
            max-width: 25% !important;
        }

    }

    @media (max-width:1120px) {
        .student-circular-progress-bar .custom-legende .value {
            font-size: .9rem !important;
        }
    }
</style>