.el-duplicated--container{
    .el-duplicated--item {
        padding-bottom: 1.5rem;
        border-bottom: solid 1px #c0c4cc38;

        &:not(:first-child){
            padding-top: 1rem;
        }
        
        .remove-entry--container {
            min-height: 100%;
            display: flex;
            align-items: end;
            justify-content: end;

            button {
                background:  #FF7667;
                color: white;
                border: none;
                padding: .5rem 1rem;
                border-radius: 5px;
                font-family: 'NunitoSans-SemiBold';
            }
        }

        .fm-label{
            margin-top: .5rem;
        }
    }

    .form-item--controls{
        margin-top: 2rem;
        
        button {
            background: #FFEEEC 0% 0% no-repeat padding-box;
            color: #FF7667;
            font-size: 1rem;
            font-family: 'NunitoSans-Bold';
            padding: 1rem 2rem;
            border-radius: 10px;
            border: none;
        }
    }
    
    .el-table--row {
        margin: 0 !important;
    }
}