{% extends 'admin/base.html.twig' %}

{% block title %}Discipline{% endblock %}

{% block body %}
    <div class="row user discipline-index">
        <div class="col-md-4">
            {{ include("admin/discipline/parts/_category-list.html.twig") }}
        </div>

        <div class="col-md-8">
            {% include "admin/discipline/parts/_discipline-list.html.twig" %}
        </div>
    </div>


    {{ include("admin/discipline/parts/_discipline-form.twig", {'domaines': categories}) }}
    {{ include("admin/discipline/parts/_category-form.html.twig") }}
{% endblock %}



