<div class="ml-4 pull-right">
    <form method="post" action="{{ path('admin_country_delete', {'id': country.id}) }}" onsubmit="return confirm('{% trans %}Êtes-vous sûr de bien vouloir supprimer cet élément{% endtrans %}?');">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ country.id) }}">
        <button class="btn btn-danger"> <i class="fa fa-trash"></i>{% trans %}Supprimer{% endtrans %} </button>
    </form>
</div>