{{ form_start(form) }}
    <div class="tile p-5">
        <div class="tile-body">
            <div class="form-group">
                <label class="control-label">{% trans %}Nom{% endtrans %}</label>
                {{ form_widget(form.name, {'attr':{'class':'form-control'}}) }}
            </div>
            
            <div class="form-group">
                <label class="control-label">{% trans %}Code{% endtrans %}</label>
                {{ form_widget(form.code, {'attr':{'class':'form-control'}}) }}
            </div>

            <div class="form-group">
                <label class="control-label">{% trans %}Continent{% endtrans %}</label>
                {{ form_widget(form.continent, {'attr':{'class':'form-control'}}) }}
            </div>
            <div class="form-group">
                <label class="control-label">{% trans %}Symbole{% endtrans %}</label>
                {{ form_widget(form.symbol, {'attr':{'class':'form-control'}}) }}
            </div>
        </div>
        <div class="tile-footer">
            <button class="btn btn-primary mr-3" type="submit"><i class="fa fa-fw fa-lg fa-check-circle"></i>
                {% if button_label|default(false) %}
                    {% trans %}Modifier{% endtrans %}
                {% else %}
                    {% trans %}Enregistrer{% endtrans %}
                {% endif %}
            </button>
            <a class="btn btn-secondary" href="{{ path('admin_country_index') }}"><i class="fa fa-fw fa-lg fa-times-circle"></i>{% trans %}Annuler{% endtrans %}</a>
        </div>
    </div>
{{ form_end(form) }}
