{% extends 'admin/base.html.twig' %}

{% block title %}Edit Country{% endblock %}

{% block actions %}
    <a class="btn btn-primary" href="{{ path('admin_country_index') }}">{% trans %}Retour{% endtrans %}</a>
    {{ include('admin/country/_delete_form.html.twig') }}
{% endblock %}

{% block body %}
    {{ include('admin/country/_form.html.twig', {'button_label': 'Modifier'}) }}
{% endblock %}
