{% extends 'admin/base.html.twig' %}
{% block title %} Liste des pays {% endblock %}
{% block actions %}
     <a class="btn btn-primary" href="{{ path('admin_country_new') }}">{% trans %}Ajouter{% endtrans %}</a>
{% endblock %}
{% block body %}
    <div class="tile">
        <div class="tile-body p-2">
            <div class="d-flex justify-content-end">
                <form class="search-input">
                    <div class="input-group my-2">
                        {% set q = app.request.query.get('q')|default('') %}
                        <input  type="search" class="form-control" name="q" value="{{ q }}" placeholder="Rechercher" aria-label="Rechercher" aria-describedby="basic-addon">
                        <div class="input-group-append">
                            <button type="submit" class="input-group-text" id="basic-addon">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
             <table class="table table-hover table-bordered no-footer admin-table">
                <colgroup>
                    <col span="1" style="width: 7%;" />
                    <col span="1" style="width: 53%;"/>
                    <col span="1" style="width: 10%;" />
                    <col span="1" style="width: 10%;"/>
                    <col span="1" style="width: 20%;"/>
                </colgroup>
                <thead class="thead-green">
                    <tr>
                        <th>Id</th>
                        <th>{% trans %}Nom{% endtrans %}</th>
                        <th>{% trans %}Code{% endtrans %}</th>
                        <th>{% trans %}Symbole{% endtrans %}</th>
                        <th>{% trans %}Actions{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                {% for country in countries %}
                    <tr>
                        <td>{{ country.id }}</td>
                        <td>{{ country.name }}</td>
                        <td>{{ country.code }}</td>
                        <td>{{ country.symbol }}</td>
                        <td>
                            <a href="{{ path('admin_country_show', {'id': country.id}) }}">{% trans %}Afficher{% endtrans %}</a>
                            <a href="{{ path('admin_country_edit', {'id': country.id}) }}">{% trans %}Modifier{% endtrans %}</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">{% trans %}Aucun enregistrement trouvé{% endtrans %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="tile-footer text-right">
            {{ include('/admin/components/_paginator.html.twig', {'route_name': 'admin_country_index'}) }}
        </div>
    </div>

{% endblock %}
