{% extends 'admin/base.html.twig' %}

{% block title %}Country{% endblock %}

{% block body %}
    <h1>Country</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ country.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ country.name }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ country.code }}</td>
            </tr>
            <tr>
                <th>Symbole</th>
                <td>{{ country.symbol }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_country_index') }}">{% trans %}retour à la liste{% endtrans %}</a>

    <a href="{{ path('admin_country_edit', {'id': country.id}) }}">{% trans %}Modifier{% endtrans %}</a>

    {{ include('admin/country/_delete_form.html.twig') }}
{% endblock %}
