<template lang="pug">
.qkb-bot-ui(
  :class="uiClasses"
)
  transition(name="qkb-fadeUp")
    .qkb-board(v-if="botActive")
      slot(name="bot-header")
        BoardHeader(
          :bot-title="optionsMain.botTitle",
          @close-bot="botToggle"
        )
      CoversationStarter(
        v-if="firstLaunch"
        @start="startConversation"
      )
      BoardContent(
        :bot-typing="botTyping",
        :main-data="messages"
      )
      BoardAction(
        :input-disable="inputDisable",
        :input-placeholder="optionsMain.inputPlaceholder",
        :input-disable-placeholder="optionsMain.inputDisablePlaceholder",
        @msg-send="sendMessage"
        v-if="!firstLaunch"
      )
  .qkb-bot-bubble(
      :class="!botActive? 'inactive' : 'active'"
    )
    button.qkb-bubble-btn(
      @click="botToggle"
    )
      slot(name="bubbleButton")
        transition(name="qkb-scaleUp")
          div.qkb-bubble-btn-container(
              v-if="!botActive"
            )
            img.qkb-bubble-btn-icon(
              key="1"
              :src="require('@/assets/img/icon-messenging-right.svg').default"
            )
            span.qkb-bubble-btn-text {{ $t('bot.btn_title')  }}
          img.qkb-bubble-btn-icon.qkb-bubble-btn-icon--close(
            v-else,
            key="2"
            :src="require('../assets/icons/close.svg').default"
          )
  AppStyle(:options="optionsMain")
  .qkb-preload-image
    .qkb-msg-avatar__img(v-if="optionsMain.botAvatarImg")
</template>
<script>
import EventBus            from '../helpers/event-bus'
import BoardHeader         from './Board/Header'
import BoardContent        from './Board/Content'
import BoardAction         from './Board/Action'
import CoversationStarter  from './Board/CoversationStarter'
import AppStyle            from './AppStyle'

export default {
  name: 'VueBotUI',

  components: {
    BoardHeader,
    BoardContent,
    BoardAction,
    CoversationStarter,

    AppStyle
  },

  props: {
    options: {
      type: Object,
      default: () => { return {} }
    },

    messages: {
      type: Array
    },

    botTyping: {
      type: Boolean,
      default: false
    },

    inputDisable: {
      type: Boolean,
      default: false
    },

    isOpen: {
      type: Boolean,
      default: false
    },

    openDelay: {
      type: Number
    }
  },

  data () {
    return {
      botActive: false,
      defaultOptions: {
        botTitle: 'Chatbot',
        colorScheme: '#1b53d0',
        textColor: '#fff',
        bubbleBtnSize: 56,
        animation: true,
        boardContentBg: '#fff',
        botAvatarSize: 32,
        botAvatarImg: require('@/assets/img/nav-brand-logo-green.png').default,
        msgBubbleBgBot: '#f0f0f0',
        msgBubbleColorBot: '#000',
        msgBubbleBgUser: '#4356e0',
        msgBubbleColorUser: '#fff',
        inputPlaceholder: 'Message',
        inputDisableBg: '#fff',
        inputDisablePlaceholder: null,
        btnText       : false
      }
    }
  },

  computed: {
    optionsMain () {
      return { ...this.defaultOptions, ...this.options }
    },

    // Add class to bot ui wrapper
    uiClasses () {
      let classes = []

      if (this.optionsMain.animation) {
        classes.push('qkb-bot-ui--animate')
      }

      return classes
    },
    firstLaunch: function(){
      return !this.messages.length 
    }
  },

  created () {
    if (this.isOpen) {
      if (this.openDelay) {
        setTimeout(this.botOpen, this.openDelay)
      } else {
        this.botToggle()
      }
    }
  },

  beforeDestroy () {
    EventBus.$off('select-button-option')
  },

  methods: {
    botOpen () {
      if (!this.botActive) {
        this.botToggle()
      }
    },

    botToggle () {
      this.botActive = !this.botActive

      if (this.botActive) {
        EventBus.$on('select-button-option', this.selectOption)
        this.$emit('init')
      } else {
        EventBus.$off('select-button-option')
        this.$emit('destroy')
      }
    },

    sendMessage (value) {
      this.$emit('msg-send', value)
    },

    selectOption (value) {
      this.$emit('msg-send', value)
    },
    startConversation: function(data){
      this.$emit("start", data)
    }
  }
}
</script>
<style src="../assets/scss/_app.scss" lang="scss"></style>
<style scoped lang="scss">
  .qkb-bot-bubble.inactive{
      .qkb-bubble-btn{
          width: unset !important;
          height: 3rem !important;
          border-radius: 3rem !important;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0 1rem;

          .qkb-bubble-btn-container{
            box-sizing: unset;
            display: flex;
            align-items: center;
            justify-content: center;

            .qkb-bubble-btn-icon {
                position: relative !important;
                top: 0 !important;
                margin: 0 !important;
                line-height: 0 !important;
                left: unset !important;
                right: unset !important;
            }
            .qkb-bubble-btn-text {
                display: block;
                margin-left: 10px;
            }
          }
      }
  }


  @media (max-width:580px) {
    .qkb-bot-bubble{
        z-index: 9;
        position: fixed;
        top: 50%;
        &.inactive {
            transform: rotate(-90deg);
            right: -6.2rem;
            box-shadow: 0px 0px 39px #64646424;
            .qkb-bubble-btn {
                background: #FFFFFF 0% 0% no-repeat padding-box;
                box-shadow: 0px 0px 39px #64646424;
                color: #FF7667;
                font-family: 'NunitoSans-Bold';
                border-radius: 1.5rem 1.5rem 0rem 0rem !important;
                padding: 2rem 1rem;
                .qkb-bubble-btn-icon {
                    filter: invert(22%) sepia(43%) saturate(4690%) hue-rotate(317deg) brightness(100%) contrast(108%);
                }
            }
        }
        &.active {
            top: 45%;
            right: 81vw;

            .qkb-bubble-btn {
                background: #FFFFFF 0% 0% no-repeat padding-box;
                box-shadow: unset;
                border-radius: 1rem 0rem 0rem 1rem !important;
                padding: 0;
                .qkb-bubble-btn-icon {
                    filter: invert(80%) sepia(43%) saturate(4690%) hue-rotate(317deg) brightness(100%) contrast(108%);
                }
            }
        }
    }

    .qkb-board {
        right:  -2rem !important;
        bottom: -2.1rem !important;
        height: 100vh !important;
        width: 85vw !important;
        border-radius: unset !important;

        .qkb-board-content {
            border: 1px solid #D3D3D3;
            margin: 1rem;
            border-radius: 1rem;
            border-bottom-left-radius: unset;
            border-bottom-right-radius: unset;
            border-bottom: unset;
        }
        .qkb-board-action {
            border: 1px solid #D3D3D3;
            margin: 1rem;
            border-radius: 1rem;
            margin-top: -1rem;
            border-top: none;
            border-top-right-radius: unset;
            border-top-left-radius: unset;
            height: 4rem;


            .qkb-board-action__wrapper{
                display: none !important;
                
            }
        }
    }
  }
</style>
<style>
  @media (max-width:580px) {

  .qkb-board .qkb-board-action .qkb-board-action__wrapper{
        border: 1px solid #D3D3D3 !important;
        border-radius: 1rem !important;
        padding-left: 1rem !important;
        padding-right: 1rem !important;
        height: 2.5rem !important;
    }

  }
</style>