<template>
    <association-cta-private v-if="context == 'private'" :showDetail="showDetail" :student="student"  />
    <association-cta-public  v-else :student="student"  />
</template>

<script>

import AssociationCtaPrivate  from "./AssociationCtaPrivate.vue"
import AssociationCtaPublic from "./AssociationCtaPublic.vue"
export default {
    name: "FormationCta",

    components:{
        AssociationCtaPrivate,
        AssociationCtaPublic
    },

    props: {

        showDetail: {
            type:Boolean
        },
        
        student: {
            required: true
        },

        context: {
            default: 'private'
        }

    },

}
</script>