<template>
  <div class="association-cta cta" :class="toggleShowDetaill ? 'open': ''">
    <div class="cta-item" @click="toggleShowDetaill">
      <div class="cta-icon"></div>
      <div class="cta-label">
        <label>{{$t("student.parcours.association_info1") }}<br /> & {{$t("student.parcours.association_info2") }}
        </label>
        <p class="cta-item-count" v-if="student.associations.length > 0">
          {{ student.associations.length }} {{$t("student.parcours.association_info3") }}
        </p>
      </div>
      <div v-if="context == 'private'">
        <div class="cta-action" v-show="!stateCategory || !student.associations.length">
          <div class="icon action-add" @click="openNewAssociation"></div>
          <div class="icon action-edit" v-if="student.associations.length > 0" ></div>
        </div>
        <div class="icon action-arrow" v-show="(stateCategory )" v-if="student.associations.length > 0" > </div>
      </div>
        <div class="icon action-arrow" v-else> </div>
    </div>
    <div :class="[(stateCategory) ? 'list-category-cta' : 'list-hide']" v-if=" student.associations !== null && student.associations !== undefined && student.associations.length">
      <div class="item-category-cta" v-for="associations in student.associations" :key="associations.id" >
        <div class="item-title-cta">
          <span>
            <h4>{{ associations.organization.name }}</h4>
          </span>
        </div>
        <div class="item-info-cta">
          <p>
            <span>{{$t("student.parcours.association_info4") }}:</span>
            <b> {{ associations.start_date | dateParse("YYYY-MM-DD HH:mm:ss") | dateFormat("MMM YYYY") }} </b>
            / {{$t("student.parcours.association_info6") }} :
            <b v-if="associations.current_position"> {{$t("student.parcours.association_info5") }} </b>
            <b v-else> {{ associations.end_date | dateParse("YYYY-MM-DD HH:mm:ss") | dateFormat("MMM YYYY") }} </b>
          </p>
          <p>
            <span>{{$t("student.parcours.association_info7") }}:</span> <b> {{ associations.responsability }}</b>
          </p>
          <p>
            <span>{{$t("student.parcours.association_info8") }} :</span>
            <b v-if="associations.organization.type"> {{ $t(`organizationType.${associations.organization.type.id}`) }} </b>
          </p>
          <p>
            <span>{{$t("student.parcours.association_info9") }}: {{ associations.description }}</span>
          </p>
        </div>
        <div class="item-action-cta" v-if="context == 'private'"> 
          <div class="d-flex" @click="openNewAssociation">
            <button class="btn-add">
              <img :src="icon_add" />
            </button>
            <span class="mr-2"> {{$t("student.parcours.association_info10") }}</span>
          </div>
            <div class="action-profil" style="display: flex">
              <div @click="openEditAssociation(associations)" class="icon action-edit"></div>
              <div @click="confirmDelete(associations)" class="icon action-remove"></div>
          </div>
        </div>
      </div>
    </div>
    <Modal v-if="showAssociationModalForm" class="student-parcours-modal">
      <div slot="header" class="w-100 text-center pr-3">
        <a class="close" href="" @click.prevent="showAssociationModalForm = false"></a>
        <div>
          <h4 v-if="newAssociation.id == null">{{$t("student.parcours.association_info11") }}</h4>
          <h4 v-else>{{$t("student.parcours.association_info12") }}</h4>
        </div>
      </div>
      <div slot="body" class="px-4">
        <div class="row text-left">
          <div class="col-12">
            <label>{{$t("student.parcours.association_info14") }}</label>
            <input type="text" v-model="newAssociation.organization.name" class="form-control" />
          </div>
          <div class="col-12">
            <label>{{$t("student.parcours.association_info15") }}</label>
            <input
              type="text"
              v-model="newAssociation.responsability"
              class="form-control"
            />
          </div>
          <div class="col-12">
            <label>{{$t("student.parcours.association_info8") }}</label>
            <Multiselect
              :showLabels="false"
              class=""
              v-model="newAssociation.organization.type"
              :custom-label="getInstitutionLabel"
              track-by="id"
              :hideSelected="true"
              :options="organizationTypes"
            />
           </div>
          <div class="col-12">
            <label>
              <input type="checkbox" v-model="newAssociation.currentPosition" />
              {{$t("student.parcours.association_info17") }}
            </label>
          </div>
          <div class="col-sm-6">
            <label>{{$t("student.parcours.association_info18") }}</label>
            <div class="periode-field-group">
              <DateSelect v-model="newAssociation.startDate" format="y-m"> </DateSelect>
            </div>
            <!--div class="w-100">
              <input type="checkbox" />
              <label>{{$t("student.parcours.association_info19") }}</label>
            </div>
            <div class="w-100">
              <input type="checkbox" />
              <label>{{$t("student.parcours.association_info20") }}</label>
            </div-->
          </div>

          <div class="col-sm-6">
            <label>{{$t("student.parcours.association_info21") }}</label>
            <div v-if="newAssociation.currentPosition">
              <p>{{$t("student.parcours.association_info22") }}</p>
            </div>
            <div class="periode-field-group" v-else>
              <DateSelect v-model="newAssociation.endDate" format="y-m"> </DateSelect>
            </div>
          </div>

          <div class="col-12">
            <label>{{$t("student.parcours.association_info9") }}</label>
            <textarea
              class="form-control"
              v-model="newAssociation.description"
              maxlength="250"
            ></textarea>
            <span class="text-area-max--label">250 max</span>
          </div>
        </div>
        <div v-if="message" class="alert alert-danger" role="alert" style="text-align:center;margin:20px">
          {{ $t(message) }}
        </div>
        <div class="text-right w-100 action-container">
          <hr />
          <DefaultButton
            className="style1"
            :text="$t('word.save')"
            :onLoad="loading"
            @click.native="updateStudentAssociation"
          />
        </div>
      </div>
    </Modal>

    <Modal v-if="showConfirm"  class="w-100 text-center modal-confirm-profil">
       <div slot="header" class="w-100 text-center pr-3">
        <a class="close" href="" @click.prevent="showConfirm = false"></a>
      </div>
      <div slot="body" class="w-100 px-4">
        <div class="bloc-icon-pouce">
          <img :src="require('@/assets/img/Pouce.svg').default" id="icon-pouce">
        </div>
        <div class="message-confirm">
          <label><b>{{$t('modal.title_modal_confirm_profil_arganization')}}</b></label>
          <label>{{$t('modal.info_modal_confirm_profil')}}</label>
        </div>
        <div class="btn-confirm-profil">
          <DefaultButton
            className="outline3 add_element"
            :text="$t('modal.add_arganization')"
            @click.native="openNewAssociation"
          />
          <DefaultButton
            className="style1 valid_element"
            :text="$t('word.validate')"
            @click.native="showConfirm = false"
          />
        </div>

      </div>
    </Modal>
  </div>
</template>
<script>
import "./style.css";

import OrganizationTypeService from "@/services/common/OrganizationTypeService.js";
//import Multiselect from 'vue-multiselect'
import ProfilService from "@/services/student/ProfilService.js";
import Multiselect from "vue-multiselect";
import "vue-multiselect/dist/vue-multiselect.min.css";

export default {
  name: "AssociationCta",

  components: {
    Multiselect,
  },
  props: {
    showDetail: {
      type:Boolean
    },
    student: {
      required: true
    },
    context: {
      default: 'private'
    }
  },


  data: function () {
    return {
      showAssociationModalForm: false,
      stateCategory: false,
      loading: false,
      organizationTypes: [],
      newAssociation: {
        id: null,
        responsability: null,
        organization: {
          name: null,
          type: null,
        },
        currentPosition: false,
        startDate: null,
        endDate: null,
        description: null,
      },
      icon_add: require("@/assets/img/add-icon.svg").default,
      message: "",
      showConfirm : false

    };
  },
   watch : {
    showDetail(newVal) {
        this.stateCategory = newVal
    }
  },


  methods: {
      checkField(newAssociation) {
        var organization = (newAssociation.organization !== "" &&  newAssociation.organization !== null) 
        var responsability =  (newAssociation.responsability !== "" &&  newAssociation.responsability !== null) 
        
        var startDate =  (newAssociation.startDate !== "" &&  newAssociation.startDate !== null) 
        var endDate =  ((newAssociation.endDate !== "" &&  newAssociation.endDate !== null ) || newAssociation.currentPosition) 
        var description =  (newAssociation.description !== "" &&  newAssociation.description !== null) 
      return (organization && responsability && startDate && endDate && description)
     },
     
    updateStudentAssociation() {
      if(this.checkField(this.newAssociation)) {
         if((new Date(this.newAssociation.startDate) <  new Date(this.newAssociation.endDate ) || this.newAssociation.currentPosition )) {
              this.confirmStudentAssociation()
              }else{
                this.message = "word.form.date_invalid";
              }
      }else{
        this.message = "word.form.field_incomplet";
      }
    },
    confirmStudentAssociation() {
        let that = this;
        that.loading = true;
        ProfilService.updateStudentAssociation(that.newAssociation)
          .then((response) => {
            if (response.data && response.data.success) {
              that.showConfirm = that.newAssociation.id === null
              that.$store.dispatch("user/updateInfos");
              that.showAssociationModalForm = false
              that.createObjectAssociation()
            }
            that.message = "";
            that.loading = false;
          })
          .catch((error) => {
            console.log(error);
            that.message = error;
            that.message = "word.form.internal_error";
            that.loading = false;
            that.showConfirm = false
          });
    },
    toggleShowDetaill() {
      if (this.student.associations.length > 0) {
        this.stateCategory = !this.stateCategory;
        return 
      }
      if(this.context == 'private'){
        this.openNewAssociation()
      }
    },

    editFormation(formation) {
      //recuperation inforamation des parametres
      this.showAssociationModalForm = true;
    },
    confirmDelete(association) {
      let that = this;
      this.$dialog
        .confirm(that.$t('student.ask.remove_association'), {
          loader: true,
          okText: "valider",
          cancelText: that.$t('word.cancel'),
        })
        .then(function (dialog) {
          that.deleteFormation(association, dialog);
        })
        .catch(function (dialog) {
          dialog.close();
        });
    },
    deleteFormation(association, dialog) {
      let that = this;
      that.loadDelete = true;
      ProfilService.removeStudentAssociation(association.id)
        .then(function (response) {
          if (response.data.success) {
            //mise en jour liste article
            that.$store.dispatch("user/updateInfos");
          } else {
            //afficher snackbar
          }
          dialog.close();
          that.loadDelete = false;
        })
        .catch(function (error) {
          //afficher snackbar

          dialog.close();
        });
    },
    createObjectAssociation(
        id = null,
        organization = {
          name: null,
          type: null,
        },
        responsability = null,
        currentPosition = false,
        startDate = null,
        endDate = null,
        description = null
    ) {
    this.newAssociation = {
        id : id,
        organization: organization,
        responsability: responsability,
        currentPosition: currentPosition,
        startDate: startDate,
        endDate: endDate,
        description: description
      };
    },
   openEditAssociation(Association) {     
      //recuperation inforamation des
      var start_date = new Date(Association.start_date)
      var end_date = new Date(Association.end_date)

      this.createObjectAssociation(
        Association.id,
        Association.organization,
        Association.responsability,
        Association.current_position,
        start_date.getFullYear() + '-'+ (parseInt(start_date.getMonth()) + 1 ) + '-01',
        end_date.getFullYear() + '-'+ (parseInt(end_date.getMonth()) + 1 ) + '-01',
        Association.description,

      )
      this.showAssociationModalForm = true;
    },
    openNewAssociation() {
      this.showConfirm = false
      this.createObjectAssociation()
      this.showAssociationModalForm = true;

    },
    getInstitutionLabel({id}){
      return this.$t('organizationType.'+id)
    }
  },

  mounted: function () {
    let that = this;

    let options = Object.entries(
      require("@/lang/translations/organizationType/en.json")
    )
    options.map((item) => {
      that.organizationTypes = [
        ...that.organizationTypes,
        { name: item[1], id : item[0] },
      ];
    })
  }
};
</script>
