<template>
  <div class="association-cta cta open public-cta">
    <div class="cta-item">
      <div class="cta-icon"></div>
      <div class="cta-label">
        <label>
            {{$t("student.parcours.association_info1") }} & {{$t("student.parcours.association_info2") }}
        </label>
      </div>
      
    </div>
    <div class="list-category-cta">
      <template v-if=" student.associations !== null && student.associations !== undefined && student.associations.length">
          <div class="item-category-cta" v-for="associations in student.associations" :key="associations.id" >
            <div class="activity-name">
                {{ associations.responsability }}

            </div>
            <div class="item-info-cta">
              <div class="activity-place">
                  <template v-if="associations.organization.type">
                      {{ $t(`organizationType.${associations.organization.type.id}`) }}
                  </template>
                  <template v-else>
                      <b>{{ associations.start_date | dateParse("YYYY-MM-DD HH:mm:ss") | dateFormat("MMM YYYY") }}</b>
                      <b v-if="associations.current_position"> {{$t("student.parcours.association_info5") }} </b>
                      <b v-else> {{ associations.end_date | dateParse("YYYY-MM-DD HH:mm:ss") | dateFormat("MMM YYYY") }} </b>
                  </template>
              </div>
              <div class="organization-name">
                  {{ associations.organization.name }}
              </div>
            </div>
          </div>
      </template>
      <template v-else>
          <p class="public-empty-parcours--label">{{ $t('student.parcours.empty_parcours') }}</p>
      </template>
    </div>
  </div>
</template>
<script>
import "./style.css";

export default {
  name: "AssociationCta",

  props: {
    student: {
      required: true
    },
  }
}
</script>
<style scoped>
    .item-category-cta:not(:last-child){
        border-bottom: solid 1px #D3D3D3;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
    }

    .activity-name {
        color: #3C3850;
        font-family: 'NunitoSans-Bold';
        font-size: 1.1rem;
    }

    .activity-place {
      color: #D3D3D3;
    }

    .activity-desc {
        color: #3C3850;
        font-size: 12px;
    }
</style>