<template>
  <div class="search-global w-100">
  <div class="scholarship-search-form" :class="{'scholarship-search-form-student': (context == 'student')}">
    <div class="row content-filter" v-if="!isSpecific">
       <div class="col-sm-3 col-md-12 col-lg-3 item">
      <!-- <label id="label-form-search">{{ $t("page.home.label-form-search") }}</label> -->
          <div class="category-toogler" v-if="context == 'scholarship' && context != 'student'">
            <div class="btn-1" :class="{ active: !isSpecific }"@click="$emit('toggleIsSpecific')">
              <button>Ouverte à tous</button>
            </div>
            <div class="btn-2" v-bind:class="{ active: isSpecific }"
                v-on:click="$emit('toggleIsSpecific')"
            >
              <button>Spécifique</button>
            </div>
          </div>

          <div class="choix-moteur-sans-formation" v-else>
            <div id="choix-1">{{ $t("page.home.form-search-choix_1") }}</div>
          </div>
        </div>
        <div class="col-sm-3 col-md-12 col-lg-3 item">
          <Multiselect
            :show-labels="false"
            class="level-select"
            v-model="level"
            :custom-label="label_level"
            track-by="id"
            :placeholder="$t('word.level_studies')"
            :options="levels"
            :option-height="70"
            v-on:input="checklevel"
          >
          </Multiselect>
        </div>
        <div class="col-sm-4  col-md-12 col-lg-4 item">
          <Multiselect
            class="discipline-select"
            :show-labels="false"
            v-model="selectedDisciplines"
            :placeholder="$t('scholarship.form.placeholder_displine')"
            label="name"
            track-by="id"
            :options="disciplines"
            :multiple="true"
            :option-height="70"
          >
          </Multiselect>
        </div>
        <div class="col-sm-3 col-md-12  col-lg-3 item">
          <CountrySelect
              class="country-select"
              v-model="country"
              :placeholder="$t('scholarship.form.pays')"
              :height="50"
              v-bind:customIds="countryIds"
              v-bind:all="showAllCountries"
              v-on:input="checkcountry"
          />
        </div>
        <div class="col-sm-3 col-md-12  col-lg-3 item" v-if="context != 'home'">
            <label v-if="onlyFavorited" v-on:click="$emit('toogle-only-favorited')" style="cursor: pointer" class="mobile-fav">
              {{ $t("page.home.label-get-all-scholarships") }}
            </label>
            <label v-else v-on:click="$emit('toogle-only-favorited')" style="cursor: pointer" class="mobile-fav">
              <i class="fa fa-heart-o mr-2"></i>
              {{ $t("page.home.label-filter") }}
            </label>
        </div>
        <div class="col-sm-2 col-md-12 col-lg-2 item pr-0">
          <DefaultButton
              className="style1 searchBtn"
              :text="$t('word.search')"
              v-on:click.native="handleSearchClick"
          />
          <button id="updateDiscipline" @click="updateDiscipline(disciplines); hideInput(); "></button>
        </div>
        
    </div>

  </div>
  
    <div class="row my-4 w-100 h-100" v-if="context == 'scholarship' && !isSpecific">
      <div class="col-lg-8 col-md-12 container-alert">
          <ul class="d-flex flex-wrap list-alert criteria-container">
            <li v-for="(cr, index) in scholarshipAlert.levels" :key="'level-'+index" :id="'criteria-level-'+index">
              {{$t("student.level." + cr.id)}}<span class="ml-2 colorize" @click="handleRemoveAlert('level',index)">x</span>
            </li>
            <li v-for="(cr, index) in scholarshipAlert.disciplines" :key="'discipline-'+index" :id="'criteria-discipline-'+index">
              {{ $t("discipline." + cr.id) }} <span class="ml-2 colorize" @click="handleRemoveAlert('discipline',index)">x</span>
            </li>
            <li v-for="(cr, index) in scholarshipAlert.countries" :key="'country-'+index" :id="'criteria-country-'+index">
              {{ $t("country." + cr.id) }} <span class="ml-2 colorize" @click="handleRemoveAlert('country',index)">x</span>
            </li>
          </ul>
      </div>
      <div class="col-lg-4 col-md-12 ">
          <aside>
            <p class="filter-icon-new mb-3 add-alert" v-on:click="savealert">
              <i class="fa fa-bell mr-2" aria-hidden="true"></i>
              <span v-if="scholarshipAlert.id">Mettre à jour alerte</span>
              <span v-else>Créer alerte</span>
              <span v-if="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            </p>
            <p class="filter-icon-new  add-alert" v-on:click="initalert">
              <i class="fa fa-trash mr-2" aria-hidden="true"></i>
              Supprimer tous les critères
            </p>
          </aside>
      </div>
    </div>
  </div>
</template>
<script>
import Multiselect from "vue-multiselect";
import "vue-multiselect/dist/vue-multiselect.min.css";

import DisciplineService from "../../../../services/common/DisciplineService.js";
import CountrySelect from "../../../../components/common/CountrySelect.vue";
import LevelService from "../../../../services/common/LevelService.js";
import Helpers from "../../../../services/helpers/Helpers.js"
import CountryService from "../../../../services/common/CountryService";
import ScholarshipService from "../../../../services/scholarship/ScholarshipService"


export default {
  name: "ScholarshipSearchFormMobile",
  components: {
    Multiselect,
    CountrySelect
  },
  props: {
    context: {
      type: String,
      default: "scholarship",
    },
    onlyFavorited: {
      type: Boolean,
      default: false,
    },
    showAllCountries: {
      type: Boolean,
      default: true,
    },
    isSpecific: {
      type: Boolean,
      default: false,
    },
    defaultParams:{
      default : false
    }
  },
  data: function () {
    return {
      country: null,
      disciplines: [],
      selectedDisciplines: [],
      levels: [],
      level: null,
      criteria : [],
      countryIds: [],
      scholarshipAlert: {},
      loading : false,
      inputHide: true,
    };
  },
  mounted: function () {
    let that = this;
    /*** Init discipline liste var **/
    DisciplineService.getList().then((response) => {
      that.disciplines = response.data.diciplines ?? [];
      that.updateDiscipline(that.disciplines)
          
    });

    /*** Init discipline level var **/
    LevelService.getList().then((response) => {
      that.levels = response.data.levels ?? [];
      that.levels.unshift({id:0, name:'All'})
    });

    CountryService.getUserList().then((response)=>{
      const countries = response.data.countries
      if(countries.length){
        const countryIds = []
        countries.forEach(country => countryIds.push(country.id));
        that.countryIds = countryIds
      }
    });

    ScholarshipService.getScholarshipAlert().then((response) => {
      if(response.data && response.data.scholarshipAlert) {
        that.scholarshipAlert = response.data.scholarshipAlert
      }
    }).catch((error) => {
        console.log(error)
    });
  },
  methods: {
      hideInput: function(){
        this.$emit("showSearch", this.inputHide)
      },  
      label_level: function(level) {
          return this.$t("student.level." + level.id);
      },
      label_contrie: function(contry) {
          return this.$t("country." + contry.id);
      },
      updateDiscipline: function(data) {
          this.disciplines = Helpers.TraitementListdiscipline(data, this)
      },
      checklevel: function(selectedOption){
        if(selectedOption.id == 0){
          this.level = null;
        }
      },
      checkcountry: function(selectedOption){
        if(selectedOption.id == 0){
          this.country = null;
        }
      },
      addAlertCountry : function(country){
        if(!this.scholarshipAlert.countries){
          this.scholarshipAlert.countries = [country];
        }
        else {
          if(!this.scholarshipAlert.countries.includes(country)){
            this.scholarshipAlert.countries.push(country)
          }
        }
      },
      addAlertLevel : function(level){
        if(!this.scholarshipAlert.levels){
          this.scholarshipAlert.levels = [level];
        }
        else {
          if(!this.scholarshipAlert.levels.includes(level)){
            this.scholarshipAlert.levels.push(level)
          }
        }
      },
      addAlertDiscipline : function(discipline){
        if(!this.scholarshipAlert.disciplines){
          this.scholarshipAlert.disciplines = [discipline];
        }
        else {
          if(!this.scholarshipAlert.disciplines.includes(discipline)){
            this.scholarshipAlert.disciplines.push(discipline)
          }
        }
      },
      savealert : function () {
        this.loading = true
        let that = this;
        ScholarshipService.saveScholarshipAlert(this.scholarshipAlert).then((response)=>{
          that.loading = false;
           if(response.data.success) {
             that.scholarshipAlert.id = response.data.id
             that.$dialog.alert("Alerte bien enregistrée", {
               cancelText: "Fermer",
             }).then(function (dialog) {
               dialog.close()
             }).catch(function (dialog) {
               dialog.close()
             });
           }
        }).catch(function (error) {
          that.loading = false;
          console.log(error.message)
        });
      },
      initalert: function () {
        this.scholarshipAlert.countries = [];
        this.scholarshipAlert.levels = [];
        this.scholarshipAlert.disciplines = [];
      },
      handleSearchClick(){
        let currentRouteName = this.$route.name
        let params = {
          level       : this.level, 
          disciplines : this.selectedDisciplines, 
          country     : this.country, 
          context     : this.context 
        }
        /*** check if curent route is scholarship_search then emit go-search */
        if(currentRouteName == 'scholarship_search' || this.context == 'home'){
          this.$emit('go-search', params)
        }else{
          this.$router.push({'name':'scholarship_search',  params: {
            searchParams : params }
          })
        }

        /** else if current route is not scholarship_search then redirect to scholarship_search */
      },
      handleRemoveAlert(context, index){
        switch (context) {
            case 'level':
              this.scholarshipAlert.levels.splice(index, 1)
              this.level = null
              document.querySelector(`#criteria-level-${index}`).remove()
            break;
            case 'discipline':
              this.scholarshipAlert.disciplines.splice(index, 1)
              document.querySelector(`#criteria-discipline-${index}`).remove()
            break;
        
            case 'country':
              this.scholarshipAlert.countries.splice(index, 1)
              this.country = null
              document.querySelector(`#criteria-country-${index}`).remove()
            break;
        
          default:
            break;
        }
      }

  },
  watch:{
      level(val){
        if(val){
          this.addAlertLevel(val)
        }
      },
      selectedDisciplines : {
        deep: true,
        handler: function(val){
          val.map((discipline) => {
            this.addAlertDiscipline(discipline);
          })
        }
      },
      country : {
        deep: true,
        handler: function(val){
          if(val){
            this.addAlertCountry(val)
          }
        }
      },
      defaultParams: {
        deep : true, 
        immediate : true,
        handler : function(val, old){
           if(val != false){
              /*** populate filter item */
              this.selectedDisciplines = val.disciplines !== undefined ? val.disciplines : []
              this.country             = val.country     !== undefined ? val.country     : null
              this.level               = val.level       !== undefined ? val.level       : null
          }
        }
      }
  }
}
</script>

<style scoped>
.container-alert{
    padding-left: 9%;
}
.colorized{
  color: #3DC5B7;
}
 label.mobile-fav{
    cursor: pointer;
    display: inline-block;
    width: 100%;
    padding: 6px 15px;
    font-size: 12px;
    text-align: center;
    border: 1px solid #3DC5B7;
}
.content-filter {
    padding: 1rem 1.4rem !important;
}
.fa-heart-o:before {
    padding-right: 3rem;
    /* filter: invert(88%) sepia(74%) saturate(488%) hue-rotate(92deg) brightness(81%) contrast(87%); */
}
.scholarship-search-form .multiselect {
    min-height: 60px !important;
}
.btn-1, .btn-2{
    width: 50% !important;
    height: 100%;
    font-size: 12px;
}
.btn-1 button{
    width: 100% !important;
}
.scholarship-search-form .multiselect__select {
    height: 60px !important;
}

.scholarship-search-form .multiselect__tags {
    min-height: 60px !important;
    font-size: 18px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.scholarship-search-form .multiselect__single {
    font-size: 18px !important;
}
#updateDiscipline {
  display: none;
}
.scholarship-search-form {
  position: relative;
  padding: 0 5%;
}
.favoris-filter {
  position: absolute;
  right: 5px;
  top: 10%;
}
.category-filter {
  display: flex;
  align-items: center;
}
.category-filter label {
  font-size: 22px;
  font-family: "NunitoSans-Bold";
  color: #595959;
  margin-right: 10px;
}

.category-toogler {
  display: flex;
  background: white;
  border: solid 2.5px #12ad9e;
  border-radius: 25px;
  overflow: hidden;
}
.category-toogler button {
  border: none;
  background: white;
  color: #12ad9e;
  font-family: "NunitoSans-SemiBold";
  font-size: 14px;
  padding: 10px 22px;
  margin: -5px;
}
.category-toogler button.active {
  background: #12ad9e;
  color: white;
}
.content-filter {
  border: solid 1px #3DC5B7;
  border-radius: 10px;
  margin-left: unset;
  margin-right: unset;
  margin-top: 20px;
  background: white;
}
.content-filter .item {
  padding-left: 0px;
  padding-right: 5px;
}
.content-filter .item .searchBtn {
  width: 100%;
  min-height: 60px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}
.content-filter .item .multiselect .multiselect__tags{
  border-radius:unset;
  border: 1px solid rgba(0%, 18%, 21%,0.1);
}
.content-filter .item .multiselect .multiselect__placeholder, .content-filter .multiselect__single{
  color: #35495e;
  /* font-weight: 600; */
}
#label-form-search {
  color: rgb(60,56,80);
}

.multiselect__select:before {
    color: #012D35 !important;
    border-color: #012D35 transparent transparent !important;
}

.choix-moteur #choix-1{
  color : #67D2C7;
}

.choix-moteur #choix-2{
  color : white ;
  background: #034760 0 0 no-repeat padding-box;
  height: 37px;
  border-radius: 0 20px 20px 0px;
}

@media screen and (max-width:1400px) {
  .content-filter .item .searchBtn {
    font-size: 14px;
    min-height: 40px !important;
  }
  .scholarship-search-form .multiselect__tags {
    min-height: 40px !important;
    font-size: 14px !important;
  }

  .scholarship-search-form .multiselect {
    min-height: 40px !important;
}

  .scholarship-search-form .multiselect__select {
      height: 40px !important;
  }
  .scholarship-search-form .multiselect__single {
    font-size: 14px !important;
  }

  #bouton-introduction {
    height: 3.6603221083455346vw;
  }

}
ul.d-flex.flex-wrap.list-alert li {
    background: #B2EAE2;
    padding: 7px 17px;
    margin-left: 10px;
    border-radius: 45px;
    font-size:12px;
    margin-bottom: .5rem;
    color: #3C3850;
}
ul.d-flex.flex-wrap.list-alert li span {
    cursor:pointer;
}
.filter-icon-new p{
  color:  #484848;
}

.filter-icon-new i {
    color: #3DC5B7 !important;
}
aside {
    display: flex;
    justify-content: space-evenly;
    background: #fff;
    padding-top: 20px;
    width: 100vw;
}
.criteria-container{
    padding: 5%;
}
ul.d-flex.flex-wrap.list-alert.criteria-container li {
    font-size: 12px  !important;
    margin: 0 10px 5px 0 !important;
}
aside p.filter-icon-new{
    font-size: 12px;
    padding: .5rem 1rem;
    border-radius: 25px;
    border: 1px solid #D0CEDA;
}
.add-alert {
  cursor: pointer;
}
.category-toogler .active button {
  background-color: #12ad9e;
  color: #ffffff;
}
@media  (max-width:1016px) {
  .home_page .multiselect__select {
    width: 21px;
}
.scholarship-search-form .multiselect__single {
    font-size: 12px !important;
}

.content-filter .item .multiselect .multiselect__tags {
    border-radius: unset;
    border: 1px solid rgba(0%, 18%, 21%,0.1);
}
.scholarship-search-form .multiselect__tags {
    min-height: 40px !important;
    font-size: 14px !important;
}
.scholarship-search-form .multiselect__tags {
    min-height: 60px !important;
    font-size: 18px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.multiselect__tags {
    padding: 8px 15px 0 8px;
    font-size: 12px;
}
.content-filter .item .multiselect .multiselect__placeholder, .content-filter .multiselect__single {
    font-size: 10px !important;
    white-space: nowrap;
}
}
.category-toogler button {
    margin: 0;
    border: none;
    background: white;
    color: #12ad9e;
    font-family: "NunitoSans-SemiBold";
    font-size: 14px;
    padding: 6px 22px;
}
.category-toogler {
    display: flex;
    background: white;
    border: solid 2px #12ad9e;
    border-radius: 25px;
    overflow: hidden;
    padding-bottom: 0;
}
.category-toogler .btn-2 button {
    margin:0;
    border: none;
    background: white;
    color: #12ad9e;
    font-family: "NunitoSans-SemiBold";
    font-size: 14px;
    padding: 6px 22px;
}
.category-toogler .btn-2.active button{
    background: #12ad9e  !important;
    color: white  !important;
}
@media (max-width:768px){
  span.multiselect__tag span {
    font-size: 12px;
}
    .multiselect__select {
    width: 22px !important;
}
.scholarship-search-form .multiselect__tags {
    min-height: 40px !important;
}
.content-filter .item .multiselect .multiselect__tags {
    margin-bottom: 5px;
}
}
@media (max-width:425px){
  .category-toogler{
    height:35px;
  }
  .btn-2 button, .btn-1 button{
    font-size: 9px;
    height: 100%;
  }
  .fa-heart-o:before {
    padding-right: 1rem !important;
  }
  .content-filter {
    padding: 1rem 1rem !important;
  }
}
</style>
