<template>
  <div class="scholarship-result-form">
      <div class="info" v-if="waitResult">
           <img :src="require('@/assets/img/loading.gif').default" id="loader-result-bourse-home" >
           <label>{{$t('scholarship.form_info_1')}}</label> 
           <label>{{total}}</label>
           <label>{{$t('scholarship.form_info_2')}}</label>
      </div>

      <div class="info" v-else>
            <h4><b>{{$t('scholarship.form_info_3')}} </b></h4>
      </div>
      <div class="contenu-result">
          <div id="formation" class="contenu-result-item">
            <div class="contenu-result-item-logo">
                <img :src="require('@/assets/img/Nombre-Formations.svg').default" />
            </div>
            <div class="contenu-result-item-contenu">
                  <p class="value"> 0 </p>
                  <p class="tittle"> {{$t('scholarship.form_info_4')}} </p>
              
            </div>
          </div>
          <div id="bourse" class="contenu-result-item">
            <div class="contenu-result-item-logo center">
                <img :src="require('@/assets/img/Bourse-Disponible.svg').default" />
            </div>
            <div class="contenu-result-item-contenu">
                  <p class="value">{{scholarshipCount}}</p>
                  <p class="tittle"> {{$t('scholarship.form_info_5')}} </p>
              
            </div>
          </div>
          <div id="montant-container" class="contenu-result-item">
             <div class="contenu-result-item-logo">
                <img :src="require('@/assets/img/Montant.svg').default" />
            </div>
            <div class="contenu-result-item-contenu" id="montant">
                  <p class="tittle"> {{$t('scholarship.form_info_6')}} </p>
                  <p class="value">{{ moneytify(totalAmount.toString()) }}<span>$</span></p>
                 </div>
          </div>
      </div>
        <div id="bloc-btn">
          <DefaultButton
            className="style1"
            :text="$t('word.join-us')"
            @click.native="inscription"
          />
        </div>


  </div>
</template>
<script>

import NumberHelpers from "@/services/helpers/NumberHelpers.js"
export default {
  name: "ScholarshipResultForm",
  props: {
      level: {
        type: String,
      },
      displines : {
          type : Array
      },
      pays : {
          type: String
      },
      scholarshipCount : {
          type: Number
      },
      totalAmount : {
          type: Number
      },
      total : {
        type: Number
      },
      wait : {
        type: Boolean
      }

  },
  data: function () {
    return {
        waitResult : true , 

    };
  },
  mounted: function () {

  },
  methods: {
      ...NumberHelpers,
      inscription() {
        document.getElementById('inscrire').click()
    }
  },
  watch : {
    wait: function(val) {
      this.waitResult = val 
    }
  }

}
</script>

<style>
   .scholarship-result-form {
      width: 58vw;
      border-radius: 20px;
      height: 100%;
      margin: auto;
      margin-top: 5vw;

  }

  #loader-result-bourse-home {
    width: 40px;
    height: 40px;
    margin-top: -5px;
    margin-right: 10px;
  }

  .scholarship-result-form .info {
    display:flex;
    justify-content: center;
    color : #ffff
  }

    .scholarship-result-form .info h4{
      font-size: 1.4vw;
  }

    .scholarship-result-form .info label {
      margin-left: 10px;
      font-size: 1.4vw;
      color : #ffff !important
    }


    .scholarship-result-form .value {
        font-size: 30px;
        margin: 0;
        white-space: nowrap;
        color: #FF7667;
        text-align:left;
    }

    .contenu-result-item-contenu {
        line-height: 1.6rem;
    }
    .scholarship-result-form .contenu-result-item-contenu span {
      font-size: 20px;
    }

    .scholarship-result-form .contenu-result {
        display: flex;
        justify-content: space-between;
        background-color: #ffff;
        margin-top: 1vw;
        height: 6vw;
        border-radius: 25px;
        padding: 0px 10px;
    }

  .scholarship-result-form .contenu-result-item {
      display: flex;
      flex: 1;
      justify-content: center;
      padding: 0 5%;
      margin-top: auto;
      margin-bottom: auto;
    }

  .scholarship-result-form .contenu-result-item-logo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right: 10%;
    }

   .scholarship-result-form .contenu-result-item-logo img{
      width:  2.5vw;
    }
   .scholarship-result-form .contenu-result-item-logo.center  img{
      width:  3vw;
    }
    .scholarship-result-form .contenu-result-item-contenu p.tittle {
        font-size:15px;
        margin-bottom: 0;
        font-family: 'NunitoSans-SemiBold' !important;
    }

    .scholarship-result-form #montant, scholarship-result-form #montant-container {
      border: none
    }

    #bloc-btn {
      padding-top: 40px;
      font-size: 24px;
    }

  @media(max-width:1500px){
    .scholarship-result-form .contenu-result-item-contenu p.tittle {
        font-size:12px; 
    }
  }
  @media screen and (max-width: 1280px){ 
    .scholarship-result-form .value {
      font-size: 22px;
    }
    .scholarship-result-form .info h4{
        font-size: 12px;
    }

    .scholarship-result-form .contenu-result-item-contenu p.tittle {
        font-size:10px; 
    }
    .contenu-result-item-contenu {
        line-height: 1.4;
    }
    #formation p.tittle{
      white-space: nowrap;
    }
    #bloc-btn {
      padding-top: 40px;
      font-size: inherit;
      margin: auto;
      display: flex;
      justify-content: center;
    }
    .scholarship-result-form .contenu-result-item-contenu span {
        font-size: 15px;
    }

    .scholarship-result-form .contenu-result-item {
        padding: 0 4% !important;
    }
  }
  @media screen and (max-width: 768px){ 
    .contenu-result-item {
      justify-content: flex-start !important;
    }

    .contenu-result-item-contenu {
        margin: 10px 0px !important;
        line-height: 1rem !important;
    }
  
    .contenu-result #formation, 
    .contenu-result #bourse{
        border-right: unset !important;
        padding: 10px 0;
    }
    .contenu-result #montant-container{
        border-bottom: unset !important;
        padding-top:5px;
    }
    .scholarship-result-form .contenu-result-item-contenu span {
        font-size: 20px !important;
    }
    .contenu-result p.value {
        font-size: 18px !important;
    }
    .scholarship-result-form .contenu-result-item-logo img {
        width: 4.562225vw !important;
    }

    .scholarship-result-form .contenu-result {
      height: auto;
      flex-direction: column;
    }
    .scholarship-result-form .contenu-result-item {

     border-bottom: 1px solid #B3B3B3;
     border-right: none;
   
    }
  }
  #bourse .value{
    line-height: 1;
  }
  #bourse p.tittle{
    text-align: left;
    line-height: 1;
  }
  .contenu-result #bourse,
  .contenu-result #formation{
    border-right: 1px solid #ddddddf0;
  }

  @media screen and (max-width:1016px){
    .contenu-result p.value{
      font-size: 20px;
    }
    .scholarship-result-form .contenu-result-item-contenu p.tittle {
      font-size: 7px;
  }
  .scholarship-result-form .contenu-result {
        padding: 10px 30px 10px 30px;
    }
  }

  @media (max-width:375px){
    .scholarship-result-form {
        width: 70vw;
        padding: 0 !important;
    }
  }
</style>
<style scoped>
  #formation .tittle{
      text-align: left;
      line-height: 1;
  }
  @media (max-width:425px){
      #bloc-btn {
         display: none !important;
      }
  }

</style>
