<template>
  <div class="inline-search-form scholarship-search-engine" :class="{'inline-search-form-student': (context == 'student')}">
    <div class="category-filter" v-if="context == 'scholarship' && context != 'student'">
      <!--label id="label-form-search">{{ $t("page.home.label-form-search") }}</label-->
      <div class="category-toogler">
        <div class="btn-1"
             v-bind:class="{ active: !isSpecific }"
             v-on:click="$emit('toggleIsSpecific')"
        >
          <button>Ouverte à tous</button>
        </div>
        <div class="btn-2"
             v-bind:class="{ active: isSpecific }"
             v-on:click="$emit('toggleIsSpecific')"
        >
          <button>Spécifique</button>
        </div>
      </div>
    </div>
    <div class="favoris-filter" v-if="context == 'scholarship'">
      <label v-if="onlyFavorited" v-on:click="$emit('toogle-only-favorited')" style="cursor: pointer">
        <i class="fa fa-heart mr-2 favorite-active"></i>
        {{ $t("page.home.label-get-all-scholarships") }}
      </label>
      <label v-else v-on:click="$emit('toogle-only-favorited')" style="cursor: pointer">
        <i class="fa fa-heart-o mr-2"></i>
        {{ $t("page.home.label-filter") }}
      </label>
    </div>
    <div class="row content-filter" v-if="!isSpecific">
        <div class="col-sm-3 item">
          <Multiselect
            :show-labels="false"
            class="level-select"
            v-model="level"
            :custom-label="labelLevel"
            track-by="id"
            :placeholder="$t('word.level_studies')"
            :options="levels"
            :option-height="70"
            v-on:input="checklevel"
          >
          </Multiselect>
        </div>
        <div class="col-sm-4 item" id="disciplineSelect">
          <Multiselect
            class="discipline-select"
            :max="3"
            :show-labels="false"
            v-model="selectedDisciplines"
            :placeholder="$t('scholarship.form.placeholder_displine')"
            label="name"
            track-by="id"
            :options="disciplines"
            :multiple="true"
            :option-height="70"
            ref="disciplineSelect"
          >
          </Multiselect>
        </div>
        <div class="col-sm-3 item">
          <CountrySelect
              class="country-select"
              v-model="country"
              :placeholder="$t('scholarship.form.pays')"
              :height="50"
              v-bind:customIds="countryIds"
              v-bind:all="showAllCountries"
              v-on:input="checkcountry"
          />
        </div>
        <div class="col-sm-2 item pr-0">
          <DefaultButton
              className="style1 searchBtn"
              :text="$t('word.search')"
              v-on:click.native="handleSearchClick"
          />
          <button id="updateDiscipline" @click="updateDiscipline(disciplines)"></button>
        </div>
    </div>
    <!--- Tabulation pays --> 


    <div class="row my-4 p-2 no-gutters" v-if="context == 'scholarship' && !isSpecific">
      <div class="col-lg-8 col-md-8">
          <ul class="d-flex flex-wrap list-alert criteria-container" id="criteria-container">
            <li v-for="(cr, index) in scholarshipAlert.levels" :key="'level-'+index" :id="'criteria-level-'+index">
              {{$t("student.level." + cr.id)}}<span class="ml-2" @click="handleRemoveAlert('level',index)">x</span>
            </li>
            <li v-for="(cr, index) in scholarshipAlert.disciplines" :key="'discipline-'+index" :id="'criteria-discipline-'+index">
              {{ $t("discipline." + cr.id) }} <span class="ml-2" @click="handleRemoveAlert('discipline',index)">x</span>
            </li>
            <li v-for="(cr, index) in scholarshipAlert.countries" :key="'country-'+index" :id="'criteria-country-'+index">
              {{ $t("country." + cr.id) }} <span class="ml-2" @click="handleRemoveAlert('country',index)">x</span>
            </li>
          </ul>
      </div>
      <div class="col-lg-4 col-md-4">
          <aside class="ml-4">
            <p class="filter-icon-new mb-3 ml-5 add-alert" v-on:click="savealert">
              <i class="fa fa-bell mr-2" aria-hidden="true"></i>
              <span v-if="scholarshipAlert.id">Mettre à jour alerte</span>
              <span v-else>Créer alerte</span>
              <span v-if="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            </p>

            <p class="filter-icon-new ml-5 add-alert" v-on:click="initalert">
              <i class="fa fa-trash mr-2" aria-hidden="true"></i>
              Supprimer tous les critères
            </p>
          </aside>
      </div>
    </div>
  </div>
</template>
<script>
import Multiselect from "vue-multiselect";
import "vue-multiselect/dist/vue-multiselect.min.css";

import StudyFieldService from "@/services/common/StudyFieldService.js";
import CountrySelect from "@/components/common/CountrySelect.vue";
import LevelService from "@/services/common/LevelService.js";
import Helpers from "@/services/helpers/Helpers.js"
import CountryService from "../../../../services/common/CountryService";
import ScholarshipService from "../../../../services/scholarship/ScholarshipService"


export default {
  name: "ScholarshipSearchForm",
  components: {
    Multiselect,
    CountrySelect
  },
  props: {
    context: {
      type: String,
      default: "scholarship",
    },
    onlyFavorited: {
      type: Boolean,
      default: false,
    },
    showAllCountries: {
      type: Boolean,
      default: true,
    },
    isSpecific: {
      type: Boolean,
      default: false,
    },
    defaultParams:{
      default : false
    }
  },
  data: function () {
    return {
      country: null,
      disciplines: [],
      selectedDisciplines: [],
      levels: [],
      level: null,
      criteria : [],
      countryIds: [],
      scholarshipAlert: {},
      loading : false,
    };
  },
  
  mounted: function () {
   
    let that = this;
    /*** Init discipline liste var **/
    StudyFieldService.getList().then((response) => {
      let data = response.data.studyFields ?? [];
      that.updateDiscipline(data)
    });

    /*** Init discipline level var **/
    LevelService.getList().then((response) => {
      that.levels = response.data.levels ?? [];
      that.levels.unshift({id:0, name:'All'})
    });


    CountryService.getUserList().then((response)=>{
      const countries = response.data.countries
      if(countries.length){
        const countryIds = []
        countries.forEach(country => countryIds.push(country.id));
        that.countryIds = countryIds
      }
    });

    ScholarshipService.getScholarshipAlert().then((response) => {
      if(response.data && response.data.scholarshipAlert) {
        that.scholarshipAlert = response.data.scholarshipAlert
      }
    }).catch((error) => {
        console.log(error)
    });
  },
  methods: {
      /**
       * Hanlde custom level label select
       * 
       * @param  {Object} level
       * @return {String}
       */
      labelLevel: function(level) {
          return this.$t("student.level." + level.id);
      },

      /**
       * Fetch and order discipline list
       * 
       * @param {Object} data
       * @return void
       */
      updateDiscipline: function(data) {
        let list         = this.translateList(data)
        this.disciplines = Helpers.TraitementListdiscipline(list, this)
      },

      /**
       * Check if the selected level is all then set level state to null
       * 
       * @param {Object} selectedOption
       * @return void
       */
      checklevel: function(selectedOption){
        if(selectedOption.id == 0){
          this.level = null;
        }
      },

      /**
       * Check if the selected country is all then set level state to null
       * 
       * @param {Object} selectedOption
       * @return void
       */
      checkcountry: function(selectedOption){
        if(selectedOption.id == 0){
          this.country = null;
        }
      },

      /**
       * Add selected country to contry alert
       * 
       * @param {Object} country
       * @return void
       */
      addAlertCountry : function(country){
          if(!this.scholarshipAlert.countries){
              this.scholarshipAlert.countries = [country];
          }
          else {
              if(!this.scholarshipAlert.countries.includes(country)){
                  this.scholarshipAlert.countries.push(country)
              }
          }
      },

      /**
       * Add selected level to level alert
       * 
       * @param {Object} level
       * @return void
       */
      addAlertLevel : function(level){
          if(!this.scholarshipAlert.levels){
              this.scholarshipAlert.levels = [level];
          }
          else {
              if(!this.scholarshipAlert.levels.includes(level)){
                  this.scholarshipAlert.levels.push(level)
              }
          }
      },

      /**
       * Add selected discipline to discipline alert
       * 
       * @param {Object} discipline
       * @return void
       */
      addAlertDiscipline : function(discipline){
        if(!this.scholarshipAlert.disciplines){
          this.scholarshipAlert.disciplines = [discipline];
        }
        else {
          if(!this.scholarshipAlert.disciplines.includes(discipline)){
            this.scholarshipAlert.disciplines.push(discipline)
          }
        }
      },

      /**
       * Update and submit the user alert option data
       * 
       * @return void
       */
      savealert : function () {
        this.loading = true
        let that = this;
        ScholarshipService.saveScholarshipAlert(this.scholarshipAlert).then((response)=>{
          that.loading = false;
           if(response.data.success) {
             that.scholarshipAlert.id = response.data.id
             that.$dialog.alert("Alerte bien enregistrée", {
               cancelText: "Fermer",
             }).then(function (dialog) {
               dialog.close()
             }).catch(function (dialog) {
               dialog.close()
             });
           }
        }).catch(function (error) {
          that.loading = false;
          console.log(error.message)
        });
      },

      /**
       * Generate initial alert state
       * 
       * @return void
       */
      initalert: function () {
          this.scholarshipAlert.countries = [];
          this.scholarshipAlert.levels = [];
          this.scholarshipAlert.disciplines = [];
          
          this.country = null
          this.level   = null
          this.selectedDisciplines = []

          return true
      },

      /**
       * Search btn action controller
       * 
       * @return void
       */
      handleSearchClick(){
          let currentRouteName = this.$route.name
          let params = {
            level       : this.scholarshipAlert.levels, 
            disciplines : this.scholarshipAlert.disciplines, 
            country     : this.scholarshipAlert.countries, 
            context     : this.context 
          }
          /*** check if curent route is scholarship_search then emit go-search */
          if(currentRouteName == 'scholarship_search' || this.context == 'home'){
            this.$emit('go-search', params)
          }else{
            this.$router.push({'name':'scholarship_search',  params: {
              searchParams : params }
            })
          }

        /** else if current route is not scholarship_search then redirect to scholarship_search */
      },

      /**
       * Handle update alert criteria on item removed
       * 
       * @param {string} context
       * @param {Integer} index
       * @return void
       */
      handleRemoveAlert(context, index){
        switch (context) {
            case 'level':
              this.scholarshipAlert.levels.splice(index, 1)
              this.level = null
              document.querySelector(`#criteria-level-${index}`).remove()
            break;
            case 'discipline':
              this.scholarshipAlert.disciplines.splice(index, 1)
              document.querySelector(`#criteria-discipline-${index}`).remove()
            break;
        
            case 'country':
              this.scholarshipAlert.countries.splice(index, 1)
              this.country = null
              document.querySelector(`#criteria-country-${index}`).remove()
            break;
        
          default:
            break;
        }
      },

      /**
       * Translate discipline liste according to the current user selected local
       * 
       * @param {Array}, array
       * @retun void
       */
      translateList: function(array){
          let list = []
          for (let index = 0; index < array.length; index++) {
            const element = array[index];
            let id = 0
            let key = this.context == "category" ? "discipline.category." : "discipline."
            element.name = (this.$t(key+id)).toLowerCase()
            list = [...list, element]
          }
          return list
      },

      /**
       * Scrool the select Y scroolbar to the end
       * 
       * @param {String} ref
       */
      scroolToLast: function(ref){
          setTimeout(() => {
              let element  = this.$refs[ref].$el.querySelector('.multiselect__tags-wrap')
              element.scrollLeft = element.clientWidth 
          }, 100);
      }
  },
  watch:{
      level(val){
        if(val){
          this.addAlertLevel(val)
        }
      },

      selectedDisciplines : {
        deep: true,
        handler: function(val){
          val.map((discipline) => {
            this.addAlertDiscipline(discipline)
            this.scroolToLast('disciplineSelect')
          })
        }
      },

      country : {
        deep: true,
        handler: function(val){
          if(val){
            this.addAlertCountry(val)
          }
        }
      },
      defaultParams:{
        deep : true, 
        immediate : true,
        handler : function(val, old){
           if(val != false){
              /*** populate filter item */
              //this.selectedDisciplines = val.disciplines !== undefined ? val.disciplines : []
              //this.country             = val.country     !== undefined ? val.country     : null
              //this.level               = val.level       !== undefined ? val.level       : null
              
          }
        }
      },
      local: {
        deep: true,
        handler: function(val){
          this.updateDiscipline(this.disciplines)
        }
      }
  }
}
</script>

<style scoped>
#updateDiscipline {
  display: none
}
.inline-search-form {
  position: relative;
}
.favoris-filter {
  position: absolute;
  right: 5px;
  top: 5px;
}
.category-filter {
  display: flex;
  align-items: center;
}
.category-filter label {
  font-size: 22px;
  font-family: "NunitoSans-Bold";
  color: #595959;
  margin-right: 10px;
}

.category-toogler {
  display: flex;
  background: white;
  border: solid 2.5px #12ad9e;
  border-radius: 25px;
  overflow: hidden;
}
.category-toogler button {
  border: none;
  background: white;
  color: #12ad9e;
  font-family: "NunitoSans-SemiBold";
  font-size: 14px;
  padding: 10px 22px;
  margin: -5px;
}
.category-toogler button.active {
  background: #12ad9e;
  color: white;
}
.content-filter {
  border: solid 2px #dee2e6;
  border-radius: 10px;
  padding: 5px;
  margin-left: unset;
  margin-right: unset;
  margin-top: 20px;
  background: white;
}
.content-filter .item {
  padding-left: 0px;
  padding-right: 5px;
}
.content-filter .item .searchBtn {
  width: 100%;
  min-height: 60px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  padding: 0 3rem !important;
}


.choix-moteur #choix-1{
  color : #67D2C7;
}

.choix-moteur #choix-2{
  color : white ;
  background: #034760 0 0 no-repeat padding-box;
  height: 37px;
  border-radius: 0 20px 20px 0px;
}

aside p.filter-icon-new{
    color: grey;
    font-family: 'NunitoSans-SemiBold' !important;
}

@media screen and (max-width:1400px) {
  .content-filter .item .searchBtn {
    font-size: 14px;
    min-height: 40px !important;
  }

  #bouton-introduction {
    height: 3.6603221083455346vw;
  }

  aside p.filter-icon-new{
    font-size: .8rem !important;
 }
}

@media (max-width:1200px) {
  aside p.filter-icon-new{
      font-size: .7rem !important;
  }
}
ul.d-flex.flex-wrap.list-alert li {
    background: #E8E8E8;
    padding: 7px 17px;
    margin-left: 10px;
    border-radius: 45px;
    font-size: 0.6588579795021962vw;
    margin-bottom: .5rem;
    color: grey;
}
ul.d-flex.flex-wrap.list-alert li span {
    cursor:pointer;
}
.filter-icon-new p{
  color:  #484848;
}

.filter-icon-new i{
  color:  grey !important;
}

.add-alert {
  cursor: pointer;
}
.category-toogler .active button {
  background-color: #12ad9e;
  color: #ffffff;
}

.category-toogler button {
    margin: 0;
    border: none;
    background: white;
    color: #12ad9e;
    font-family: "NunitoSans-SemiBold";
    font-size: 14px;
    padding: 6px 22px;
}
.category-toogler {
    display: flex;
    background: white;
    border: solid 2px #12ad9e;
    border-radius: 25px;
    overflow: hidden;
    padding-bottom: 0;
}
.category-toogler .btn-2 button {
    margin:0;
    border: none;
    background: white;
    color: #12ad9e;
    font-family: "NunitoSans-SemiBold";
    font-size: 14px;
    padding: 6px 22px;
}
.category-toogler .btn-2.active button{
    background: #12ad9e  !important;
    color: white  !important;
}


@media(max-width:575px) {
  .favoris-filter {
    position: relative;
    margin-left: 8px;
  }
  .content-filter {
    padding: 15px 10px !important;
    border-radius: 8px !important;
  }
}
@media (max-width:425px){
  .content-filter {
    padding: 10px !important;
  }
}


.favorite-active {
    color: #3dc5b7;
}
</style>



<style>
  .scholarship-search-engine .multiselect,
  .scholarship-search-engine .multiselect__select {
      height: 60px !important;
  }

  .scholarship-search-engine .multiselect__tags {
      min-height: 60px !important;
      display: flex;
      flex-direction: column;
      justify-content: center;
  }

  /*
  .scholarship-search-engine .multiselect__single {
      font-size: 18px !important;
  }
  */

  .content-filter .item .multiselect .multiselect__tags{
    border-radius:unset;
    border: 1px solid rgba(0%, 18%, 21%,0.1) !important;
  }
  
  .scholarship-search-engine .multiselect__placeholder {
      white-space: nowrap !important;
      overflow: hidden !important;
      text-overflow: ellipsis !important;
      padding-right: 1rem !important;
  }
  .content-filter .item .multiselect .multiselect__placeholder, .content-filter .multiselect__single{
    color: #35495e;
  }
  #label-form-search {
    color: rgb(60,56,80);
  }

  .multiselect__select:before {
      color: #012D35 !important;
      border-color: #012D35 transparent transparent !important;
  }

  @media(max-width:1400px) {
    .scholarship-search-engine .multiselect__tags {
      min-height: 40px !important;
      font-size: 14px !important;
    }

    .scholarship-search-engine .multiselect {
      height: 40px !important;
    }

    .scholarship-search-engine .multiselect__select {
        height: 40px !important;
    }
    .inline-search-form .multiselect__single {
      font-size: 14px !important;
    }

  }

  @media  (max-width:1016px) {
    .home_page .multiselect__select {
        width: 21px;
    }
    .inline-search-form .multiselect__single {
        font-size: 12px !important;
    }

    .content-filter .item .multiselect .multiselect__tags {
        border-radius: unset;
        border: 1px solid rgba(0%, 18%, 21%,0.1);
    }
    .scholarship-search-engine .multiselect__tags {
        min-height: 40px !important;
        font-size: 14px !important;
    }
    .inline-search-form .multiselect__tags {
        font-size: 18px !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .multiselect__tags {
        padding: 8px 15px 0 8px;
        font-size: 12px;
    }
    .content-filter .item .multiselect .multiselect__placeholder, .content-filter .multiselect__single {
        font-size: 10px !important;
        white-space: nowrap;
    }
  }

  @media (max-width:768px){
    .multiselect__select {
      width: 22px !important;
    }
    .inline-search-form .multiselect__tags {
      min-height: 38px !important;
    }
    .content-filter .item .multiselect .multiselect__tags {
      margin-bottom: 8px;
    }
  }
  .discipline-select li.multiselect__element span {
      text-transform: capitalize !important;
  }

</style>