<template>
    <VueBotUI :messages="chatData"  :options="botOptions" @msg-send="messageSendHandler" @start="startConversation">
        <div slot="bot-header" class="bot-header">
            <h3 class="title">{{ $t('word.hello') }}</h3>
            <p  class="subtitle">{{  $t('bot.header_title')}}</p>
        </div>
    </VueBotUI>
</template>

<script>
import { VueBotUI } from '@/components/vue-chat-bot/vue-bot-ui.js'
import BotService   from "@/services/bot/BotService.js"

export default {
    name: 'ChatBot',
    
    components: {
        VueBotUI,
    },
    
    data: function(){
        return {
            /**
             * Global bot user data
             * 
             * @var {Mixed} botUser
             */
            botUser: false,

            /***
             * Chat data sample
             * 
             * @var {Array} chatData
             */
            chatData : [
                /** 
                {
                    agent: 'bot', // Required. 'bot' or 'user'
                    type: 'text', // Required. Bubble message component type: 'text' / 'button'
                    text: this.$t('bot.first_message'),
                    disableInput: false, 
                }
                */
            ] ,

            /**
             * Chat bot desing data
             * 
             * @var {Object}
             */
            botOptions: {
               colorScheme : "#FF7667",
               msgBubbleBgUser: '#FFECEA',
               msgBubbleColorUser: "#3C3850",
               msgBubbleColorBot: "#3C3850"
            }
        }
    },

    methods: {
        /**
         * Prepare new message data
         * 
         * @param  {Object} message
         * @return void 
         */
        messageSendHandler: function(message, newUser = false){
            let that   = this
            if(!that.botUser){
                BotService.initConversation(newUser, message).then(
                    (response) => {
                        let conversation = response.data.conversation
                        let nBotUser     = conversation.participants[0]
                        nBotUser         = {
                            ...nBotUser,
                            conversation : {
                                id    : conversation.id,
                                slug  : conversation.slug
                            }
                        }
                        that.botUser = nBotUser
                        BotService.updateBotUser(nBotUser)
                        //that.sendMessage(message)
                    }
                )
                return 
            }
            this.sendMessage(message)
        },

        /**
         * Submit new message with prepared data
         * 
         * @param  {Object} message
         * @return void
         */
        sendMessage: function(message){
            let that   = this 
            let params = {
                owner        : that.botUser.uid,
                content      : message.text,
                conversation : that.botUser.conversation.id
            }
            
            let nMessage = {
                agent: 'user',
                type: 'text',
                text: params.content,
                status: 0
            }
            that.chatData.push(nMessage)

            BotService.addMessage(params).then(
                (response) => {
                    if(response.data.success){
                        nMessage.status = 1
                        let lastIndex   = that.chatData.length - 1
                        that.chatData.splice(lastIndex, 1)
                        that.chatData.push(nMessage) 
                    }
                }
            ).catch(
                (error) => {
                   console.log(error)
                    let lastIndex   = that.chatData.length - 1
                    that.chatData.splice(lastIndex, 1)
            })
        },

        /**
         * Update bot result 
         * 
         * @param {Object} message
         * @return void
         */
        setBoatResponse: function(message){
            let response = {
                    agent: 'bot',
                    type: 'text',
                    text: message,
                    disableInput: false,
            }
            this.chatData.push(response)
        },

        /**
         * Get local storage user data and Update userbot global data
         * 
         * @return void
         */
        getBotUser: function(){
            let that = this
            let user = JSON.parse(localStorage.getItem('les-grimpeurs-bot-user'))
            if(user){
                this.botUser = user
            }
        },

        /**
         * Update conversation data 
         * 
         * @return void
         */
        getConversationData: function(){
            let that  = this
            let params = {
                id: that.botUser.conversation.id
            }
            BotService.getConversationData(params).then(
                (response) => {
                    if(response.data.success && response.data.conversation.length){
                        let conversation = response.data.conversation[0]
                        that.updateChatData(conversation.messages)
                    }else{
                       that.logoutBotUser()
                    }
                }
            )
        },

        /**
         * Update conversation chat list
         * 
         * @param  {Array} array
         * @return void
         */
        updateChatData: function(array){
            let messages = []
            for (let index = 0; index < array.length; index++) {
                const message = array[index]
                let nMessage  = {
                    type  : 'text', 
                    text  : message.content,
                    agent : message.owner.uid == this.botUser.uid ? 'user' : 'bot',
                    status: 1
                }  
                messages.push(nMessage)              
            }
            this.chatData = messages
            this.bindResponseListner()

        },

        /**
         * Listen current conversation eventSource and update data on new message
         * 
         * @return void
         */
        bindResponseListner(){
            const MERCURE_SUBSCRIBER_URL = process.env.MERCURE_PUBLIC_URL 
            let conversation             = this.botUser.conversation
            let topic                    = `${process.env.VUE_APP_FRONT_URL}/bot-conversation/${conversation.slug}`
            let url                      = new URL(MERCURE_SUBSCRIBER_URL)

            url.searchParams.append('topic', topic);
            const eventSource = new EventSource(url);

            let that = this
            eventSource.onmessage = (evt) => {
                const data = JSON.parse(evt.data)
                that.onNewMessage(data)
            }

        },

        /**
         * Handle update on new message
         * 
         * @param  {Object} message
         * @return void
         */
        onNewMessage: function(message){
            if(message.owner.uid == this.botUser.uid){
                return 
            }
            let nMessage  = {
                type  : 'text', 
                text  : message.content,
                agent : 'bot'
            } 
            this.chatData = [
                ...this.chatData,
                nMessage
            ]
            
        },

        /**
         * Clear user bot data
         * 
         * @return void
         */
        logoutBotUser: function(){
            this.botUser = false
            localStorage.removeItem('les-grimpeurs-bot-user') 
        },

        /**
         * handle init bot conversation
         * 
         * @param {Object} data
         * @return void
         */
        startConversation: function(data){
            console.log('start', data)
            let message = {
                content: data.message
            }
            this.messageSendHandler(message, data)
        }

    },
    
    watch: {
        botUser: {
            deep: true,
            /**
             * Get user conversation on botuser loaded
             * 
             * @param  {Object} val
             * @return void
             */
            handler: function(val){
                this.getConversationData()
            }
        }
    },
    mounted: function(){
        /***
         * Get userBot on loaded
         */
        this.getBotUser()
    }


}
</script>

<style scoped lang="sass">
    .bot-header{
        background:transparent linear-gradient(90deg, #FBA590 0%, #FF7667 100%) 0% 0% no-repeat padding-box;
        color: white;
        color: white;
        padding: 1.5rem 2rem 1rem 2rem;

        .title{
            font-size: 1.2rem;
            font-family: 'NunitoSans-Bold';
        }

        .subtitle{
            font-size: 14px;
            line-height: 1.2;
            font-family: 'NunitoSans-SemiBold' !important;
        }
    }
    @media (max-width:580px) {
        .bot-header{
            padding-top: 5rem;
        }
    }
    
</style>