<template>
    <div class="quelque-chiffres">
        <div class="quelque-chiffres--child" id="counter">
            <h2 id="titre-quelques-chiffres">{{$t('word.some-number')}}</h2>
            <p id="citation">
                <span id="citation-description">{{$t('page.commun.quote')}}</span>
                <span id="auteur-citation">Olivier Wendell Holmes</span>
            </p>
            <div class="chiffres-en-question">
                 <template v-if="['all', 'student'].includes(context)">
                    <div class="contenu-chiffres">
                        <div class="chiffre animate-number" id="chiffre-1" :data-value="statistical.scholarships">
                            00
                        </div>
                        <div class="description-chiffre">
                          {{$t('page.commun.description-scholarship')}}
                        </div>
                    </div>
                 </template>

                <div class="contenu-chiffres">
                  <div class="chiffre animate-number" id="chiffre-2" :data-value="statistical.foundations">
                    00
                  </div>
                  <div class="description-chiffre">
                    {{$t('page.commun.description-organization')}}
                  </div>
                </div>
                <template v-if="['all', 'student'].includes(context)">
                    <div class="contenu-chiffres">
                      <div class="chiffre" id="chiffre-3">
                          <span class="animate-number" id="animate-scholarships-total" :data-value="statistical.scholarshipsTotal">
                            00
                          </span>$
                      </div>
                      <div class="description-chiffre">
                        {{$t('page.commun.description-scholarship-total')}}
                        
                      </div>
                    </div>
                </template>

                <template v-if="['all', 'organization'].includes(context)">
                  <div class="contenu-chiffres">
                    <div class="chiffre animate-number" id="chiffre-4" :data-value="statistical.registered">
                      00
                    </div>
                    <div class="description-chiffre">
                        {{$t('page.commun.description-registered')}}
                    </div>
                  </div>
                </template>

                <div class="contenu-chiffres">
                  <div class="chiffre animate-number" id="chiffre-5" :data-value="statistical.candidates ">
                    00  
                  </div>
                  <div class="description-chiffre">
                    {{$t('page.commun.description-candidate')}}
                  </div>
                </div>
                
                <template v-if="['all'].includes(context)">
                  <div class="contenu-chiffres">
                    <div class="chiffre animate-number" id="chiffre-6" :data-value="statistical.contry">
                      00
                    </div>
                    <div class="description-chiffre">
                      {{$t('page.commun.description-contry')}}
                    </div>
                  </div>
                </template>

                <div class="contenu-chiffres">
                  <div class="chiffre animate-number" id="chiffre-7" :data-value="statistical.etablishement">
                      00
                  </div>
                  <div class="description-chiffre">
                      {{$t('page.commun.description-school')}}
                  </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { CountUp } from "countup.js"

export default {
  name : "HomeStat",
  props : {
    statistical : {
      default : function(){ return {} }
    },
    context: {
      default: 'all'
    }
  },
  data: function(){
    return {
      stopAnnimated : false
    }
  },
  methods: {
    startUp(){
      let countUps = document.querySelectorAll('.animate-number')
      for(let i = 0; i < countUps.length ; i++){
        let elmt = countUps[i]

        let value = elmt.innerText ? elmt.innerText : 0
        let cu = new CountUp(elmt.getAttribute('id'), elmt.getAttribute('data-value'));
        cu.start()
      } 
      this.stopAnnimated = true
    },
    getOffsetTop(element){
        let offsetTop = 0;
        let elementCH = element.clientHeight - 250
        while(element) {
          offsetTop += element.offsetTop;
          element = element.offsetParent;
        }


        return offsetTop - (elementCH)
    }
  },
  mounted: function(){
      let that = this
      let counter = document.getElementById('counter')
      let offsetTop =  that.getOffsetTop(counter)
      document.addEventListener('scroll',function() {
        if (window.scrollY > offsetTop && !that.stopAnnimated) {
            that.startUp()
        }
      })
   
        
  }
}
</script>
<style scoped>
    @media (max-width:426px) {
      .quelque-chiffres {
        padding-bottom: 50px;
      }
    }
</style>