<template>
    <div class="profil-form organization-profil-form">
        <OrganizationName          v-if="currentSteep =='OrganizationName'"          v-on:goTo="goTo" :organization.sync="editing_organization"
            v-on:update:organization="updateOrganization"/>
        <OrganizationLogo          v-if="currentSteep =='OrganizationLogo'"          v-on:goTo="goTo" :organization="editing_organization" />
        <OrganizationInfos         v-if="currentSteep =='OrganizationInfos'"         v-on:goTo="goTo" :organization="editing_organization" />
        <OrganizationAdresse       v-if="currentSteep =='OrganizationAdresse'"       v-on:goTo="goTo" :organization="editing_organization" />
        <OrganizationStat          v-if="currentSteep =='OrganizationStat'"          v-on:goTo="goTo"  :organization="editing_organization"/>
        <OrganizationSocialNetwork v-if="currentSteep =='OrganizationSocialNetwork'" v-on:goTo="goTo"  :organization="editing_organization"/>
        <OrganizationCover         v-if="currentSteep =='OrganizationCover'"         v-on:goTo="goTo"  :organization="editing_organization"/>
        <OrganizationGalleryPhoto  v-if="currentSteep =='OrganizationGalleryPhoto'"  v-on:goTo="goTo"  :organization="editing_organization"/>
        <OrganizationGalleryVideo  v-if="currentSteep =='OrganizationGalleryVideo'"  v-on:goTo="goTo"  :organization="editing_organization"/>
        <CongratuationModal     v-if="currentSteep =='CongratuationModal'"     v-on:goTo="goTo"  /> 
    </div>
</template>
<script src="./ProfilForm.js"></script>