@import "~bootstrap/dist/css/bootstrap.min.css"; 
@import "~cropperjs/dist/cropper.min.css";
.profil-form .btn-next{
    font-size: 12px;
    padding: 10px 15px;
    border-radius: 10px;
}
.profil-form input,
.profil-form label{
    font-family: 'NunitoSans-Regular' !important;
    font-size: 15px !important;
}
.profil-form .title h5{
    font-family: 'NunitoSans-SemiBold' !important;
    font-size: 13px;
    margin-top: 17px;
}
.profil-form .custom-steppers-navigation .item{
    background: rgb(33, 91, 168);
    width: 100px;
    height: 3px;
    margin: 2px;
    display: inline-block;
}

.profil-form h4.label {
    color: #6196FF;
    font-family: 'NunitoSans-Bold' !important;
}
.profil-form .small {
    font-size: 10px !important;
    font-family: 'NunitoSans-Regular' !important;
    margin-top: 5px !important;
}

.profil-form .form-control:focus {
    border-color: #ced4da;
    box-shadow:unset; 
}
.organization-profil-form .slider-bar-avis {
    margin-top: 4rem !important;
    background: #dee2e6 !important;
    border-radius: 5px;
}
.organization-profil-form #bar-1 {
    background: #6196FF !important;
}
.br-0{
    border-right: none !important;
}
.bl-0{
    border-left: none !important;
}



/** Step 2 ***/
.profil-form .icon-image-uploader,
.profil-form .gallery-uploader-wrapper {
    border: 2px dashed #AEC9FF;
    border-radius: 10px;
    width: 90%;
    max-width: 40rem;
    margin: auto;
}
.profil-form .logo-wrapper {
    max-width: 250px;
}
.profil-form .icon-image-uploader {
    padding: 3rem;
}

.profil-form .logo-preview-image {
    width: 200px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 4px 4px 5pt 2pt #E4E4E7;
}

.profil-form .icon.icon-back {
    background: url("~@/assets/img/Fleche\ 2.svg");
    background-repeat: no-repeat;
    width: 40px;
    height: 20px;
    cursor: pointer;
    transform: rotate(180deg);
    position: absolute;
    margin-top: 15px;
    cursor: pointer !important;
}

/** Steep 4 */
.profil-form .form-legende {
    text-transform: uppercase;
    color: #D0CEDA;
    font-family: 'NunitoSans-Bold' !important;
    margin-top: 1rem;
    font-size: 12px;
    width: 100%;
    text-align: center;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

/**** Steep 5 */
.profil-form .input-group-prepend .input-group-text{
    background: none;
    border-right: none !important;
}

.profil-form .input-group-append .input-group-text{
    background: none;
    border-left: none !important;
}
.profil-form .picture-input .form-control,
.profil-form .picture-input .input-group-text{
    background: #EBEAF0;  
}


.profil-form .map-wrapper {
    display: flex;
    max-width: 400px;
    height: 100px;
    overflow: hidden;
    justify-items: center;
    justify-content: center;
    position: relative;
    border-radius: unset !important;
}
.profil-form img.map-preview {
    object-fit: cover;
}
/*RS Field icon*/

.profil-form .organizationSocialNetwork .fa{
    color: #D0CEDA;
}


.drop-active {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    z-index: 9999;
    opacity: .6;
    text-align: center;
    background: #000;
  }
.drop-active h3 {
    margin: -.5em 0 0;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 40px;
    color: #fff;
    padding: 0;
    font-family: 'NunitoSans-SemiBold' !important;
  }

.thumbnails{
    margin-bottom: 1vh;
}
.thumbnails img {
    height: 100px !important;
    display: inline-block;
    margin-right: 10px;
}
.video-gallery-field{
    position: relative;
}
.vue-video__video-selector__list {
    position: absolute;
    top: -11rem;
    margin: auto;
    float: unset;
    display: block;
}

/*** steep 8 */
.profil-form .cover-uploader-wrapper {
    border: dotted 2px #738DFF;
    border-radius: 10px;
    margin-top: 2vh;
    max-width: 40vw;
    margin: 5vh auto;
}

.cropper-view-box {
    outline: 5px solid #D0CEDA;
}
.cropper-line {
    background-color: unset;
}
.cropper-modal {
    background-color: #C6CBCB;
    opacity: .5;
}

.cropper-point {
    background-color: #1F4171;
    opacity: 1;
}

.cropper-point.point-ne {
    right: -10px;
    top: -10px;
    width: 50px;
    height: 8px;
  }
  
  .cropper-point.point-e {
    cursor: ew-resize;
    margin-top: -10px;
    right: -10px;
    top: 0px;
    height: 50px;
    width: 8px;
  }
  
  .cropper-point.point-se {
    right: -10px;
    height: 50px;
    width: 8px;
    
    bottom: -10px;
  }
  .cropper-point.point-s {
    bottom: -10px;
    right: -10px;
    margin-left: -3px;
    height: 8px;
    left: unset;
    width: 50px;
  }
  
  .cropper-point.point-sw {
    bottom: -10px;
    left: -10px;
    width: 50px;
    height: 8px;
  }
  .cropper-point.point-w {
    left: -10px;
    top: unset;
    bottom: -10px;
    height: 50px;
    width: 8px;
  }
  
  .cropper-point.point-nw {
    left: -10px;
    top: -10px;
    width: 8px;
    height: 50px;
  }
  
  .cropper-point.point-n {
    left: -10px;
    margin-left: unset;
    top: -10px;
    width: 50px;
    height: 8px;
  }


.cover-preview-image {
    max-width: 50%;
}

@media (min-width: 1200px){
    .cropper-point {
        background-color: #1F4171;
        opacity: 1 !important;
    } 
}

.organization-profil-form p{
    color: #1F4171 !important;
}

.organization-profil-form .modal-form-tittle{
    max-width: 60%;
    margin: auto;
}

/*** responsive modal */

@media (max-width:1336px) {
    .organization-profil-form .modal-container {
        max-width: 80% !important;
    }
}


@media (max-width:1200px) {
    .organization-profil-form .modal-container {
        max-width: 90% !important;
    }
}

@media (max-width:1024px) {
    .organization-profil-form .modal-container {
        max-width: 95% !important;
    }
}
