<!--
 * @ Author: DADAY Andry
 * @ Create Time: 2021-12-16 17:45:27
 * @ Modified by: DADAY Andry
 * @ Modified time: 2021-12-20 21:57:28
 * @ Description:
 -->

<template>
    <div class="el-duplicated--container el-custom-table language-level">
        <div class="el-table--head row">
            <div class="col-4 el-table-head--label"> Langues </div>
            <div class="col-4 el-table-head--label"> Niveau </div>
            <div class="col-4 el-table-head--label"> Commentaire </div>
        </div>
        <div class="el-table--body">
            <template v-for="item, index in model">
                <div class="row el-table--row" :key="'langue-level-duplicated--'+index">
                    
                    <div class="col-4 el-table--td">
                        <langue-select v-model="model[index].language" />
                    </div>
                    
                    <div class="col-4 el-table--td">
                        <el-select
                            v-model="model[index].level"
                            :multiple="false"
                            placeholder="choisir">
                            <el-option v-for="item in levels" :key="item.id" :value="item.id" :label="item.name"></el-option>
                        </el-select>
                    </div>

                    <div class="col-4 el-table--td pr-4">
                        <el-input type="text"  placeholder="Ajouter un commentaire" v-model="model[index].comment" />
                    </div>
                    
                    <template v-if="index > 0">
                        <div class="remove-entry--container">
                            <button @click.prevent="removeLine(index)">
                                <span class="">x</span>
                            </button>
                        </div>
                    </template>
                </div>
            </template>
        </div>
        <template>
            <div class="form-item--controls">
                <button @click.prevent="addNewLine">
                    <span class="fa fa-plus mr-2"></span>
                    <span>Ajouter une langue</span>
                </button>
            </div>
        </template>
    </div>
</template>

<script>
import LanguageLevel            from "../../configs/languageLevel.js"
import LanguageLevelService     from "@/services/common/LanguageLevelService.js";
import LangueSelect             from "@/components/LangueSelect/LangueSelect.vue"


export default {
    name: 'GenerateFormItem',
    props: {
        widget: {
            require: true
        },
        dataModel: {
            require: true
        }
    },

    components:{
        LangueSelect
    },

    data: function(){
        return {
            model : false,
            levels: []
        }
    },

    computed: {
        itemModel: function(){
            return LanguageLevel.options.defaultValue[0]
        }
    },
    

    methods: {
        /**
         * Initialized the cloone defaultvalue option value
         * 
         * @return void
         */
        initModelValue: function(){
            if(this.dataModel){
                this.model = this.dataModel
                return 
            }
            this.model = [{...this.itemModel}]
        },

        /**
         * Add a new recommendation entry
         * 
         * @return void
         */
        addNewLine: function(){
            this.model.push({...this.itemModel})
        },

        /**
         * Remove a selected recommendation
         * 
         * @param {Integer} index
         * @return void
         */
        removeLine: function(index){
            this.model.splice(index, 1)
        }
    },

    mounted: function(){
        this.initModelValue()
        let that = this;
        
        /*** Init language level var **/
        LanguageLevelService.getList().then((response) => {
            that.levels = response.data.levels ?? [];
        });
    },

    watch: {
        model:{
            deep: true,
            handler: function(value){
                this.$emit('change', value)
            }
        }
    }
}
</script>
<style scoped lang="scss" src="@/components/vue-form-making/styles/el-duplicated.scss"></style>
<style lang="scss">
    .el-custom-table{
        &.language-level{
            .el-table--row {
                border: solid 1px #D3D3D3;
                align-items: center;
        
                .el-table--td {
                    padding: 10px;

                    &:not(:first-child){
                        border-left: solid 1px #D3D3D3;
                    }
                    
                    input,select, 
                    .vs__dropdown-toggle{
                        border:unset!important;
                    }


                }

                .remove-entry--container {
                    position: absolute;
                    right: 10px;
                
                    button {
                        border: solid 2px #FF7667;
                        color: #FF7667;
                        background: unset;
                        border-radius: 50%;
                        width: 1.5rem;
                        height: 1.5rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 19px;
                        font-weight: 500;
                    }
                }

            }
        }
    }
    

</style>