<!--
 * @ Author: DADAY Andry
 * @ Create Time: 2021-12-16 17:45:27
 * @ Modified by: DADAY Andry
 * @ Modified time: 2021-12-20 21:49:42
 * @ Description:
 -->

<template>
    <div class="el-duplicated--container el-custom-table language-level px-4">
        <div class="el-table--head row">
            <div class="col-4 el-table-head--label"> Langues </div>
            <div class="col-4 el-table-head--label"> Niveau </div>
            <div class="col-4 el-table-head--label"> Commentaire </div>
        </div>
        <div class="el-table--body">
                <div class="row el-table--row">
                    
                    <div class="col-4 el-table--td">
                        <langue-select v-model="model.language" />
                    </div>
                    
                    <div class="col-4 el-table--td">
                        <el-select
                            v-model="model.level"
                            :multiple="false"
                            placeholder="choisir">
                            <el-option v-for="item in levels" :key="item.id" :value="item.id" :label="item.name"></el-option>
                        </el-select>
                    </div>

                    <div class="col-4 el-table--td pr-4">
                        <el-input type="text"  placeholder="Ajouter un commentaire" v-model="model.comment" />
                    </div>
                </div>
        </div>
        <template>
            <div class="form-item--controls">
                <button @click.prevent="addNewLine">
                    <span class="fa fa-plus mr-2"></span>
                    <span>Ajouter une langue</span>
                </button>
            </div>
        </template>
    </div>
</template>

<script>
import LanguageLevelService     from "@/services/common/LanguageLevelService.js";
import LangueSelect             from "@/components/LangueSelect/LangueSelect.vue"

export default {
    name: 'WidgetItemQualification',
    
    components:{
        LangueSelect
    },
    
    props: {
        element: {
            require: true
        }
    },

    data: function(){
        return {
            model : false,
            levels: []
        }
    },
    mounted: function(){
        let that = this;  
        /*** Init language level var **/
        LanguageLevelService.getList().then((response) => {
            that.levels = response.data.levels ?? [];
        });
    },

}
</script>
<style scoped lang="scss" src="@/components/vue-form-making/styles/el-duplicated.scss"></style>
<style lang="scss">
    .el-custom-table{
        &.language-level{
            .el-table--row {
                border: solid 1px #D3D3D3;
                align-items: center;
        
                .el-table--td {
                    padding: 10px;

                    &:not(:first-child){
                        border-left: solid 1px #D3D3D3;
                    }
                    
                    input,select, 
                    .vs__dropdown-toggle{
                        border:unset!important;
                    }

                }
            }
        }
    }
    

</style>