<div class="{{ wrapper_class|default('ml-4 pull-right') }}">
    <form method="post" action="{{ path('admin_student_delete', {'id': student.id}) }}">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ student.id) }}">
        <button class="btn btn-danger need-confirmation" confirmation-message="Voulez vous supprimer {{ student.firstname }} ?"> 
            <i class="fa fa-trash"></i>
            {{ btn_text|default("Supprimer")  }}
        </button>
    </form>
</div>
