{% form_theme form.socialNetwork 'form_theme/_social_network_form_theme.html.twig' %}

{{ form_start(form) }}
    {% include "admin/student/_form-parts/_infos-generale.html.twig" %}
    {% include "admin/student/_form-parts/_contact.html.twig" %}
    {% include "admin/student/_form-parts/_academic.html.twig" %}
    {% include "admin/student/_form-parts/_social_network.html.twig" %}
    {% include "admin/student/_form-parts/_account.html.twig" %}
{{ form_end(form) }}

{% include "admin/components/modal_cropper.html.twig" %}