{% extends 'admin/base.html.twig' %}

{% block title %}Student index{% endblock %}
{% block actions %}
     <a class="btn btn-primary" href="{{ path('admin_student_new') }}">{% trans %}Ajouter{% endtrans %}</a>
{% endblock %}
{% block body %}
    <div class="tile">
        <div class="tile-body p-2">
            <div class="table--filter justify-content-end">
                <form class="search-input">
                    <div class="input-group my-2">
                        {% set q = app.request.query.get('q')|default('') %}
                        <input  type="search" class="form-control" name="q" value="{{ q }}" placeholder="Rechercher" aria-label="Rechercher" aria-describedby="basic-addon">
                        <div class="input-group-append">
                            <button type="submit" class="input-group-text" id="basic-addon">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <table class="table table-hover table-bordered no-footer admin-table">
                <colgroup>
                    <col span="1" style="width: 5%;" />
                    <col span="1" style="width: 5%;"/>
                    <col span="1" style="width: 25%;" />
                    <col span="1" style="width: 20%;" />
                    <col span="1" style="width: 10%;" />
                    <col span="1" style="width: 10%;" />
                    <col span="1" style="width: 5%;"/>
                    <col span="1" style="width: 5%;"/>
                </colgroup>
                <thead class="thead-green">
                    <tr>
                        <th>Id</th>
                        <th>Avatar</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>{% trans %}Date de création{% endtrans %}</th>
                        <th>Active</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for student in students %}
                    <tr>
                        <td class="text-center">{{ student.id }}</td>
                        <td  class="text-center">
                            {% set avatar = student.avatar ? '/uploads/avatar/' ~ student.avatar :  asset('build/admin/images/default-student-avatar.svg') %}
                            <img src="{{ avatar }}" height="25"> 
                        </td>
                        <td>{{ student.firstname ~ ' ' ~ student.lastname }}</td>
                        <td>
                            <a href="mailto:{{ student.email }}">
                                {{ student.email }}
                            </a>
                        </td>
                        <td>{{ student.phone }}</td>
                        <td>{{ student.createdAt|date('d-m-Y') }}</td>
                        <td>
                            {% set switchAction   = student.enable ? 'desactivé' : 'activé' %}
                            {% set confirmMessage = 'Vous voullez vraiment ' ~ switchAction ~ ' le compte de' ~ student.firstname ~ ' ' ~ student.lastname %}
                            {% include "admin/components/_status_switcher.html.twig" with { 'form_path': path('admin_user_switch_account_status'), 'input_name' :'user', 'input_value' :student.id, 'checkbox_enabled' : student.enable, 'confiramtion_message' : confirmMessage} %}
                        </td>
                        <td class="text-right">
                            <div class="admin-table--actions">
                                <div class="dropdown">
                                    <button class="dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="circle"></span>
                                        <span class="circle"></span>
                                        <span class="circle"></span>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item admin-student-profil--link" data-id="{{ student.id }}">
                                            <span class="fa fa-link"></span>
                                            <span>Page profil</span>
                                        </a>
                                        <a class="dropdown-item" href="{{ path('admin_student_show', {'id': student.id}) }}">
                                            <span class="fa fa-eye"></span>
                                            <span>Detail</span>
                                        </a>
                                        <a class="dropdown-item" href="{{ path('admin_student_edit', {'id': student.id}) }}" class="">
                                            <span class="fa  fa-pencil"></span>
                                            <span>Modifier</span>
                                        </a>
                                        <div class="dropdown-item">
                                            {{ include('admin/student/_delete_form.html.twig', {'wrapper_class':'mx-0'}) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="19">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
         </div>
        <div class="tile-footer text-right">
            {{ include('/admin/components/_paginator.html.twig', {'route_name': 'admin_student_index'}) }}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app_admin_student') }}
{% endblock %}