{% extends 'admin/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app_admin_student') }}
{% endblock %}

{% block title %}Nouveau etudiant{% endblock %}

{% block body %}
    {{ include('admin/student/_form.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key={{ gmap_key }}"></script>
    {{ encore_entry_script_tags('app_admin_student') }}
{% endblock %}