{% extends 'admin/base.html.twig' %}

{% block title %}Admin - {{ student.firstname ~ ' ' ~ student.lastname }} {% endblock %}

{% block actions %}
    <a class="btn btn-primary" href="{{ path('admin_student_index') }}">{% trans %}Retour{% endtrans %}</a>
    <a class="btn btn-primary" href="{{ path('admin_student_edit', {'id': student.id}) }}">{% trans %}Modifier{% endtrans %}</a>
    {{ include('admin/student/_delete_form.html.twig') }}
{% endblock %}

{% block body %}
     <div class="tile p-3">
            <div class="tile-body">
                <table class="table">
                    <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ student.id }}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{ student.email }}</td>
                    </tr>
                    <tr>
                        <th>Active</th>
                        <td>{{ student.enable ? 'Yes' : 'No' }}</td>
                    </tr>
                    <tr>
                        <th>Token</th>
                        <td>{{ student.token }}</td>
                    </tr>
                    <tr>
                        <th>Avatar</th>
                        <td>{{ student.avatar }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}Prénom{% endtrans %}</th>
                        <td>{{ student.firstname }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}Nom{% endtrans %}</th>
                        <td>{{ student.lastname }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}Date de naissance{% endtrans %}</th>
                        <td>{{ student.dateOfBirth ? student.dateOfBirth|date('Y-m-d') : '' }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}Téléphone{% endtrans %}</th>
                        <td>{{ student.phone }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}Adresse{% endtrans %}</th>
                        <td>{{ student.adress }}</td>
                    </tr>
                    <tr>
                        <th>Code d'activation</th>
                        <td>{{ student.codeActivate }}</td>
                    </tr>
                    <tr>
                        <th>Date d'expiration du code d'activation</th>
                        <td>{{ student.dateExpired ? student.dateExpired|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}Site{% endtrans %}</th>
                        <td>{{ student.siteUrl }}</td>
                    </tr>
                    <tr>
                        <th>Sexe</th>
                        <td>{{ student.sexe }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}Crée le{% endtrans %}</th>
                        <td>{{ student.createdAt ? student.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}Modifié le{% endtrans %}</th>
                        <td>{{ student.updatedAt ? student.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}Derniere connexion{% endtrans %}</th>
                        <td>{{ student.lastLogin ? student.lastLogin|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Adresse IP</th>
                        <td>{{ student.ip }}</td>
                    </tr>
                </tbody>
            </table>   
        </div>
    </div>
{% endblock %}
