<template>
    <div class="p-5 up-log">
        <!-- File upload component nt visible -->
        <file-upload
            extensions="jpg,jpeg,png,webp"
            accept="image/png,image/jpeg,image/webp"
            name="logo"
            class="d-none"
            post-action="#"
            :drop="true"
            v-model="files"
            @input-filter="inputFilter"
            @input-file="inputFile"
            ref="upload">
            Upload Logo
        </file-upload>
        <!-- END File upload -->
        <div v-show="$refs.upload && $refs.upload.dropActive" class="drop-active">
            <h3>Drop files to upload</h3>
        </div>

        <!-- Logo Uploader -->
        <div class="text-center" v-show="!edit" >
            <div> 
                <h4 class="label">{{ $t('scholarship.form.steep2_info1') }}</h4>
                <p class="mt-3 desc-up">{{ $t('scholarship.form.steep2_info2') }}</p>
            </div>
            <div class="py-2">
                <div class="avatar-uploader-wrapper">
                    <div class="avatar-upload">
                        <div class="text-center logo-prev p-5">
                            <label for="logo" class="logo-wrapper logo-uploader-label" ref="logoPhotoLabel">
                                <img :src="logoPreview"  class="icon-image-uploader" />
                            </label>
                            <div class="text-center mt-3">
                                <p class="small">Poids maximum 2Mo, Taille minimum :250 x 250 px , image : jpg, png, gif</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="action">
                <DefaultButton className="outline2" :text="$t('word.prev')"  @click.native="$emit('goTo','ScholarshipName')"></DefaultButton>
                <DefaultButton className="style4" :text="$t('word.next')"  @click.native="validateLogo"></DefaultButton>
            </div>
        </div>
        <!-- End logo uploader  -->

        <!-- Logo croper -->
        <div class="avatar-edit" v-show="files.length && edit">
            <div class="cropper-wrapper" v-if="files.length">
                <img ref="editImage" :src="files[0].url" class="custom-image-cropper"/>
            </div>
            <div class="text-center p-4">
                <DefaultButton className="style1" :text="$t('word.continue')"  @click.native="editSave"></DefaultButton>
                <DefaultButton className="outline" :text="$t('word.cancel')"  @click.native="$refs.upload.clear"></DefaultButton>
            </div>
        </div>
        <!-- end logo cropper --> 
    </div>
</template>

<script src="./ScholarshipLogo.js" />

<style scoped>
    @media(max-width:425px){
    .text-center.logo-prev.p-5, .p-5.up-log{
            padding: 1rem  !important;
        }
        .desc-up{
            font-size: 12px !important;
        }
    }
    @media(max-width:320px){
        .action .btn-default, button.btn-default.has-icon{
            width: 100%;
            margin-bottom: 8px;
            min-height: 40px !important;
            font-size: 12px;
        }
    }
</style>
<style>
    .custom-image-cropper{
        max-height : 400px !important;
    }
</style>