@media(max-width:425px){
    .text-center.logo-prev.p-5, .p-5.up-log{
        padding: 1rem  !important;
    }
    .desc-up{
        font-size: 12px !important;
    }
}
@media(max-width:320px){
    .action .btn-default, button.btn-default.has-icon{
        width: 100%;
        margin-bottom: 8px;
        min-height: 40px !important;
        font-size: 12px;
    }
}