<template>
    <default-layout>
        <div slot="content" class="application-default-form">
            <div class="section scholarship-presentation">
                <ScholarshipPresentation :scholarship="scholarship" />
            </div>
            
            <template v-if="form">
                <div class="section-steep-progression">
                    <div class=" d-flex justify-content-between">
                        <div class="steep-progression-label" v-if="form">
                            <span>Etape </span>
                            <span>{{ currentSheetIndex + 1 }}</span>
                            <span >/ {{  form.sheets.length  }} - </span>
                            <span>{{ currentSheet.name }}</span>
                        </div>
                        <div class="steep-progression-navigation">
                            <template v-for="index in (form.sheets.length)">
                                <span :key="'sheet-navigation-'+index" class="sheet-navigation"
                                      :class="{active : isActive(index)}"  @click="switchSheet(index - 1)">
                                    {{ index }}
                                </span>
                            </template>
                        </div>
                    </div>
                    <div class="steep-progression-bar">
                        <ProfilProgressionBar :width="steepProgress" :showlabel="true" labelposition="inner-right" />
                    </div>
                </div>

                <div v-if="finish" class="section section-steep-container">
                    <CongratSteep @publish="publishApplication" :application="application" @prev="finish = false" />
                </div>
                
                <div class="section section-steep-container" v-else>
                    <div class="form-sheet-container" v-for="sheet, index in form.sheets" :key="'form-sheet-'+index">
                        <SheetView  
                            v-if="currentSheet.id == sheet.id" 
                            :sheet="sheet" 
                            :order="getSheetOrder(index)"
                            :sheetvalue="formData[index] ? formData[index].data : {}" 
                            @update="updateFormData"
                            @save="saveFormData"
                            @next="switchSheet(index + 1)"  
                            @prev="switchSheet(index - 1)"
                            @validate="validateApplication" 
                        />
                    </div>
                </div>
            </template>
            <template v-else-if="loading == false">
                <div class="section-empty-form">
                    <p class="m-0">Aucun formulaire n'est disponible pour cette bourse</p>
                    <p>Veiller contacter directement le responsable</p>
                </div>
            </template>
            <template v-else>
                <div class="section-empty-form">
                    <p><span class="fa fa-spin fa-spinner"></span></p>
                </div>
            </template>

        </div>
    </default-layout>

</template>

<script>
import ScholarshipPresentation from "./parts/ScholarshipPresentation.vue"
import ScholarshipService      from "@/services/scholarship/ScholarshipService.js"
import ProfilProgressionBar    from "@/components/common/ProfilProgressionBar.vue"
import ApplicationService      from "@/services/application/ApplicationService.js"
import SheetView               from "./parts/SheetView.vue"
import CongratSteep            from "./parts/CongratSteep.vue"

export default {
    name:'DefaultForm',
    components: {
        ScholarshipPresentation,
        ProfilProgressionBar,
        SheetView,
        CongratSteep
    },
    data: function(){
        return {
            scholarship        : false,
            application        : false,
            currentSheetIndex  : false,
            form               : false,
            formData           : [],
            finish             : false,
            loading            : true,
        }
    },
    computed:{
        currentSheet: function(){
            if(this.currentSheetIndex === false || !this.form){
                return false
            }

            return this.form.sheets[this.currentSheetIndex]
        },
        steepProgress: function(){
            if(!this.form){
                return 0
            }
            if(this.finish){
                return 100
            }
            let total    = this.form.sheets.length
            return (this.currentSheetIndex / total) * 100
        }
    },
    methods: {
        /**
         * Fetch requested scholarship and update scholarship state
         * 
         * @return void
         */
        getRequestedScholarship(){
            let that = this
            let slug = that.$route.params.slug
            ScholarshipService.findOneBySlug(slug).then(
                (response) => {
                if(response.data.scholarship && response.data.scholarship.id){
                    that.scholarship = response.data.scholarship
                    that.fetching = true
                    that.getUserApplication(that.scholarship.id)
                }else{
                    that.$router.push({name:"error_404"})
                }
            }).catch(
                (error) => {
                    that.$router.push("/internal-error")
            })
        },
        
        /**
        * Get submiteed application or create new
        * 
        * @param {integer} sid [scholarhip.id]
        * @return void
        **/
        getUserApplication(sid){
            let that = this
            ScholarshipService.submitApplication(sid).then(
                (response) => {
                    that.application = response.data.application
                    that.getRelatedForm()
                }
            ).catch(
                (error) => {

                }
            )
        },

        /**
         * Fetch the form related to the scholarship
         * 
         * @return void
         */
        getRelatedForm: function(){
            let that = this
            ScholarshipService.getApplicationForm(this.scholarship).then(
                (response) => {
                    that.form = response.data.form
                    that.currentSheetIndex = 0
                    that.getRelatedFormData()
                    that.loading = false;
                }
            )
        },

        /**
         * Fetch form data
         * 
         * @return void
         */
        getRelatedFormData: function(){
            let array = this.form.sheets
            for (let index = 0; index < array.length; index++) {
                const element = array[index]
                let data      = this.findSheetFormData(element.id);
                if(data){
                  this.updateFormData(element, data)
                } else {
                    let dataNew = {};
                    let list = element.content.list;
                    let widgets = this.getElements(list);
                    let userProfil = this.$store.state.user.profil;
                    console.log(widgets, JSON.stringify(userProfil));
                    widgets.forEach(function (value) {
                        var splits = value.split(/_(\d{10})/);
                         if (userProfil.hasOwnProperty(splits[0])) {
                             dataNew[value] = userProfil[splits[0]];
                        }
                    })
                    this.updateFormData(element, dataNew);
                }
            }
        },

        /**
         * get sheet data by sheet id 
         * 
         * @param { Integer } sheetID
         * @return Mixed 
         */
        findSheetFormData(sheetID){
            let array = this.application.application_sheets
            for (let index = 0; index < array.length; index++) {
                const element = array[index]
                if(element._sheet.id == sheetID){
                    return element.content
                }
                
            }
            return false
        },

        /**
         * Switch sheet to other
         * 
         * @param  {Integer} index
         * @return void
         */
        switchSheet: function(index){
            if(this.form.sheets && this.form.sheets[index]){
                this.finish = false
                this.currentSheetIndex = index
                this.currentSheetIndex = index
            }
            if(index == this.form.sheets.length){
                this.validateApplication()
            }
        },

        /**
         * Guess sheet order
         * 
         * @param  {Integer} index
         * @return {String}
         */
        getSheetOrder: function(index){
            if(index == 0 && this.form.sheets.length != 1){
                return 'first'
            }
            if(index == this.form.sheets.length - 1 ){
                return 'last'
            }

            return 'midle'
        },

        /**
         * Hanlde form data update
         * 
         * @param {Object} sheet
         * @param {Object} data
         * @return void
         */
        updateFormData: function(sheet, data){
            let value = { sheet, data }
            let index = this.getSheetDataIndex(sheet)
           
            if(index === false){
                this.formData = [...this.formData, value]
                return
            }

            this.formData[index] = value
        },

        /**
         * update ans save formdata
         * 
         * @return void
         */
        saveFormData: function(){
            let that = this
            ApplicationService.saveFormData(this.formData, this.application).then(
                (response) => {
                    that.$toast.open({
                        message:'Candidature enregistré',
                        duration: 5000,
                        type: 'info'
                    });
                }
            )

        },
        /**
         * Change finish state on validate application
         * 
         * @return void
         */
        validateApplication: function(){
            this.finish = true
        },

        /**
         * Submit application and change state to published
         * 
         * @return void
         */
        publishApplication: function(){
            /*** persist all form data and set application publish true */
            let that = this 
            console.log('publish app', this.application)
            ApplicationService.publishApplication(this.application).then(
                (response) => {
                    if(response.data.success){
                        var encoder = require('int-encoder')
                        this.$router.push({name:'student_application_detail', params: {id:encoder.encode(response.data.id)}})
                    }
                }
            )
        },
        
        /**
         * Find sheet index data from sheets
         * 
         * @param  {Object} sheet
         * @returns {Integer|Boolean} 
         */
        getSheetDataIndex: function(sheet){
            for (let index = 0; index < this.formData.length; index++) {
                const element = this.formData[index];
                if(element.sheet.id == sheet.id){
                    return index
                }
            }
            return false
        },

        /**
         * Check if sheet navigation element is active
         * 
         * @param  {Integer} index
         * @return {Boolean}
         */
        isActive: function(index){
            return (this.currentSheetIndex == (index - 1)) && (!this.finish)
        },

        getElements: function (list) {
            var data = [];
            for (let i = 0; i < list.length; i++) {
               if ('Grid' == list[i].name || 'grid' == list[i].type) {
                    for (let k =0; k < list[i].columns.length; k++) {
                        let child = this.getElements( list[i].columns[k].list);
                        data = [...data, ...child];
                    }
                } else {
                    data = [...data , list[i].model];
                }
            }

            return data;
        }

    },
    mounted: function(){
       /*** get scholarship -> get Application -> get form  */
       this.getRequestedScholarship()

    }
}
</script>

<style scoped lang="scss">
    .section-steep-progression,
    .section-steep-container {
        padding: 2rem;
    }

    .steep-progression-bar {
        padding: .5rem;
        border: solid 1px #d3d3d3;
        border-radius: 20px;
        margin-top: 1rem;
    }
    .steep-progression-navigation{
        display: flex;

        .sheet-navigation {
            width: 2rem;
            height: 2rem;
            color: #fff;
            background: #D3D3D3;
            border-radius: 50%;
            display: inline-block;
            text-align: center;
            margin-left: 0.5rem;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            
            &:hover,
            &.active{
                background: #FF7667;
            }
        }
    }

    .section-empty-form {
        text-align: center;
        color: #d3d3d3;
        font-family: 'NunitoSans-SemiBold';
    }

</style>
<style>
    .steep-progression-bar .bar-pourcentage{
        height: 20px !important;
    }   
    .steep-progression-bar .bar-pourcentage label{
        font-size: 14px !important;
    }
</style>