<template>
  <div class="item" :class="theme">
      <div class="action-1">
          <span><img :src="image.alerte"></span>
          <span class="picto-croix clickable" @click="removeTodo">
            <img :src="image.croix">
          </span>
      </div>
      <div class="time">
          <span class="lab-color">{{ formatDateRender(data.full_date, $store.state.lang) }}</span>
          <span  class="lab-color">{{ data.full_hour }}</span>
      </div>
      <div class="description">	
          <p class="title-item mb-0 font-weight-bolder">{{ data.name }}</p>
          <p class="subtitle-item  mb-0">{{ data.additional_infos }}</p>
      </div>
      <div class="action-2">
          <span class="clickable" @click="showTodo"><img :src="image.fleche"></span>
      </div>           
  </div>
</template>
<script>
  export default {
    name : "TodoItem",
    data : function(){
      return {
        image: {
          "alerte" :  require('@/assets/img/Alerte.png').default,
          "croix" :   require('@/assets/img/Picto-Croix.svg').default,
          "fleche" :  require('@/assets/img/Picto-fleche-voir.svg').default,
        }
      }
    },
    
    props: {
      data: Object
    },

    computed: {
      theme: function(){
          let today   = new Date()
          let date    = new Date(this.data.full_date)
          let isToday =  date.toDateString() == today.toDateString()
          
          if(isToday){
            return 'item--today'
          }

          if (date.getTime() < today.getTime()) {
            return 'item--past'
          }

      }
    },

    methods: {
      showTodo() {
        this.$emit("parent-show", this.data.id)
      },
      removeTodo() {
        this.$emit("parent-remove", this.data.id)
      }
    },
  }
</script>
<style>
  .action-1 , .time {
    display: flex;
    justify-content:space-between ;
  }

  .action-2 {
      float: right;
  }
  .action-1 .picto-croix {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  } 

  .description .subtitle-item {
      font-weight: normal;
      font-size: 0.7320644216691069vw;
  }
  .description .title-item{
    font-size: 0.9rem;
  }

  .clickable {
    cursor: pointer;
  }
  .lab-color{
      font-size: 0.7320644216691069vw;
      color: #3dc5b7;
      font-weight: 600;
  }

  .item--today{
    border: 5px #daf2f0 solid !important;
    background: white !important;
  }

  .item--past{
      background: #ffd7d2 !important;
      border-radius: 5px;
      color: #ff7667;
  }

</style>