<template>
  <md-card class="bloc-3-contenu">
    <div :class="!isShowCalendar ? 'title-bloc-3' : 'titre-bloc-3 second'">
      <p class="m-0 icon-add">
        <md-button
          @click="showForm"
          class="md-icon-button md-secondary"
          v-show="!isShowDetails && !isShowForm"
        >
          <img :src="!isShowCalendar ? image.add_icon : image.addIcon2" />
        </md-button>
        <md-button
          @click="hideAll"
          class="md-icon-button md-secondary"
          v-show="isShowDetails || isShowForm"
        >
          <img :src="image.chevronLeft" style="width: 14px;" />
        </md-button>
      </p>
      <!-- Center calendar tittle -->
      <p v-if="isShowCalendar" class="icon-calendrier--text-center">{{$t('word.calendar')}}</p>
      <div class="icon-calendrier">
        <p class="m-0" v-if="!isShowCalendar">{{$t('word.calendar')}}</p>
        <span>
          <md-button
            class="md-icon-button md-secondary md-mini"
            @click="showCalendar"
            v-if="!isShowCalendar"
          >
            <img :src="image.calendrier" />
          </md-button>
          <md-button
            class="md-icon-button md-secondary md-mini"
            @click="closeCalendar"
            v-if="isShowCalendar"
          >
            <img :src="image.croix" style="width:25px;"/>
          </md-button>
        </span>
      </div>
    </div>
     <div class="fix-pad">
       
    <md-content class="md-scrollbar todo-list" v-if="!isShowCalendar">
      <div class="content" v-show="!isShowForm">
        <div class="details" v-if="isShowDetails">
          <Details
            :data="data_details"
            @parent-remove="removeTodo"
            @parent-edit="editTodo"
          />
        </div>
        <TodoItem
          v-for="todo in todo_list"
          :key="todo.id"
          :data="todo"
          @parent-remove="removeTodo"
          @parent-show="showTodo"
        />
      </div>
      <div v-if="isShowForm">
        <Form @parent-save="saveNewTodo" :dataEdit="data_details" />
      </div>
    </md-content>
      </div>  

    <FunctionalCalendar
      v-if="isShowCalendar"
      :markedDates="rangeDate"
      :monthNames="monthNames"
      :dayNames="dayNames"
      @dayMouseOver="onDayHover"
      id="functional-calandar"
      ref="functionalCalandar"
      @mouseleave.native="tooltipOption.show = false"
    >
    </FunctionalCalendar>
    <div class="day-tooltips" 
      v-if="tooltipOption.show" 
      :style="`left:${tooltipOption.position.left}px ; top:${tooltipOption.position.top}px`
    ">
      {{ tooltipOption.content }}
    </div>
  </md-card>
</template>

<script>
import TodoItem from "./Item.vue";
import addIcon from "@/assets/img/add-icon-white.svg";
import addIcon2 from "@/assets/img/add-icon.svg";
import calendarIcon from "@/assets/img/Calendrier.svg";
import chevronLeft from "@/assets/img/chevron-left-white.svg";
import croix from "@/assets/img/Picto Croix.svg";
import Form from "./Form/form";
import Details from "./Details/Details.vue";
import { FunctionalCalendar } from "vue-functional-calendar";
import moment from "moment"

/* NOTE-FOR-BACKEND: Service to get todo list here */
//import { todo_list } from "./fak-todo-list.js";
import TodoService from "@/services/todo/TodoService.js"

export default {
  name: "TodoList",
  components: {
    TodoItem,
    Form,
    Details,
    FunctionalCalendar
  },
  data: function() {
    return {
      image: {
        add_icon: addIcon,
        calendrier: calendarIcon,
        chevronLeft,
        croix,
        addIcon2
      },
      isShowForm: false,
      isShowDetails: false,
      isShowCalendar: false,
      todo_list: false,
      data_details: null,
      rangeDate: [],
      monthNames: [],
      dayNames: [],
      tooltipOption : {
        show: false,
        position: {
          left : 0,
          top  : 0
        },
        content: this.$t('word.lm')
      }
    };
  },
  methods: {
    showForm() {
      this.isShowForm = true;
      this.isShowDetails = this.isShowCalendar = false;
    },
    hideAll() {
      this.isShowForm = false;
      this.isShowDetails = false;

      this.data_details = null;
    },
    saveNewTodo(newData, edit) {
      let that = this
      if (!edit) {
        TodoService.addTodo(newData).then(
          (response) => {
            if(response.data.success){
              newData.id = response.data.id
              that.todo_list.push(newData);
              that.hideAll();
            }
          }
        )
      } else {
          TodoService.editTodo(newData).then(
            (response) => {
              if(response.data.success){
                const index_edit = that.todo_list.findIndex(
                  element => element.id == newData.id
                );
                this.todo_list.splice(index_edit, 1, newData);
                that.hideAll();
              }
          })
      }
      
    },
    removeTodo(id) {
      let that = this
      TodoService.removeTodo({id}).then(
        (response) => {
          if(response.data.success){
            const index_remove = that.todo_list.findIndex(
              element => element.id == id
            );
            this.todo_list.splice(index_remove, 1);
            this.hideAll();
          }
        }
      )
    },
    showTodo(id) {
      this.data_details = this.todo_list.find(element => element.id == id);
      if (this.data_details) {
        this.isShowDetails = true;
        this.isShowForm = false;
      }
    },
    editTodo(id) {
      this.data_details = this.todo_list.find(element => element.id == id);
      this.isShowDetails = false;
      this.isShowForm = true;
    },
    showCalendar() {
      this.isShowCalendar = true;
      this.hideAll();
      this.loadCalendar();
    },
    loadCalendar() {
      this.rangeDate = [];

      this.todo_list.forEach(element => {
        let today   = new Date()
        let date    = new Date(element.full_date);
        let className = date.getTime() < today.getTime() ? 'item--past' : 'item-future';
        this.rangeDate.push({date: `${element.day}/${element.month}/${element.year}`, class: className});
      });
    },
    closeCalendar() {
      this.isShowCalendar = false;
      this.hideAll();
    },
    getOffset(el) {
      const rect = el.getBoundingClientRect();
      return {
        left: rect.left + window.scrollX,
        top: rect.top
      };
    },
    onDayHover(dte){
      let that = this
      document.querySelectorAll('#functional-calandar .vfc-day').forEach(dayBtn =>{
        that.tooltipOption.show = true

        dayBtn.addEventListener('mousemove', function(e){
          that.tooltipOption.content = ""
          that.todo_list.forEach(element => {
            if(dte == `${element.day}/${element.month}/${element.year}`){
              that.tooltipOption.content = that.tooltipOption.content + " " + element.name
            }
          });
          if(that.tooltipOption.content == ""){
            that.tooltipOption.show = false
          }else{
            that.tooltipOption.show = true
            that.tooltipOption.position = that.getOffset(e.currentTarget)
          }

        })
      })
      

    }
  },
  mounted: function(){
    let that = this
    that.monthNames = that.$t("student.todo.monthNames");
    that.dayNames = that.$t("student.todo.dayNames");

    /* update default list */
    TodoService.getList().then(
      (response) => {
        let list = response.data.list
        that.todo_list = []
        list.map((todo)=>{
          todo = {
            ...todo,
            alert: {
              on : todo.alert_on,
              duration : todo.alert_duration,
            },
            day: moment(todo.full_date).format("D"),
            month: moment(todo.full_date).format("M"),
            year: moment(todo.full_date).format("YYYY"),
            hour: (todo.full_hour.split(':'))[0],
            minute: (todo.full_hour.split(':'))[1]
          }

          todo.additional_infos = todo.additional_infos[0]
          that.todo_list = [...that.todo_list, todo]
        })
      } 
    )

  }
};
</script>
<style scoped>
.bloc-3-contenu {
    margin-top: 2%;
    border-radius: 10px;
    height: 90%;
}

.icon-calendrier {
  display: flex;
}

.title-bloc-3 img {
  width: 20px;
}

.title-bloc-3 {
  background-color: #3dc5b7;
  padding: 2%;
  display: flex;
  justify-content: space-between;
  border-radius: 10px 10px 0 0;
}

.titre-bloc-3.second {
    background-color: #EFEFEF!important;
    padding: 3% 5% 3% 5%;
    display: flex;
    color: #13AD9E;
    justify-content: space-between;
}

.icon-calendrier p {
  color: white;
  font-weight: normal !important;
  font-size: 12px;
  margin-right: 10%;
}
.icon-calendrier--text-center {
    color: #3DC5B7;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.icon-calendrier * {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.todo-list .content {
  background-color: #fff;
  justify-content: flex-start;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0 0 20px 20px;
}

.todo-list {
  min-height: 320px;
  max-height: 445px;
  overflow: auto;
  border-radius: 0 0 20px 20px;
  scrollbar-width: thin;
  scrollbar-color: #ff7667 #fae8e6;
}

.todo-list .item {
  margin: 3% 0 0 3%;
  background-color: #daf2f0;
  flex: 0 0 46%;
  padding: 2%;
}

.todo-list .details {
  flex: 0 0 94%;
  margin: 2% 3%;
}

.day-tooltips{
    position: fixed;
    border-radius: 5px;
    background: #F8F8F8 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 0px #6464641F;
    border: 1px solid #EFEFEF;
    padding: 5px 1rem;
    color: #b1b1b1;
    z-index: 999999;
    margin-left: 50px;
    margin-top: -20px;
}
.md-content.md-scrollbar.todo-list.md-theme-default .content{
      padding-bottom: 0.938rem;
}
/* scrollbar */
.md-content.md-scrollbar.todo-list.md-theme-default::-webkit-scrollbar-thumb{
  background: #ff7667; 
}
.md-content.md-scrollbar.todo-list.md-theme-default::-webkit-scrollbar{
  width: 4px;
}
.md-content.md-scrollbar.todo-list.md-theme-default::-webkit-scrollbar-track {
  background: rgba(255, 118, 103,0.4); 
}
.md-card.bloc-3-contenu.md-theme-default{
  overflow:hidden;  
}
.fix-pad{
  padding-right: 8px;
  padding-bottom: 10px;
}

</style>

{{/* GLobal Style rewrite*/}}
<style>
.vfc-week .vfc-day span.vfc-span-day {
    width: 40px;
    line-height: 40px;
    font-family: 'NunitoSans-Regular';
    font-size: 18px;
}
.vfc-top-date span {
    text-transform: uppercase;
}
.vfc-main-container {
    box-shadow: unset !important;
}
.vfc-navigation-buttons div .vfc-arrow-left,
.vfc-separately-navigation-buttons div .vfc-arrow-left,
.vfc-navigation-buttons div .vfc-arrow-right,
.vfc-separately-navigation-buttons div .vfc-arrow-right {
   border-color: gray !important;
}

.vfc-top-date.vfc-center,
.vfc-dayNames span {
    font-family: "NunitoSans-Bold" !important;
}

.vfc-week .vfc-day span.vfc-span-day.vfc-today,
.vfc-week .vfc-day span.vfc-span-day.vfc-marked {
    background-color: #3dc5b7 !important;
}
.vfc-navigation-buttons.vfc-space-between, .vfc-separately-navigation-buttons.vfc-space-between {
    justify-content: space-around !important;
}.vfc-calendar .vfc-content {
    margin-bottom: 0 !important;  
}
</style>
