<template>
    <extra-activity-cta-private v-if="context == 'private'" :showDetail="showDetail" :student="student"  />
    <extra-activity-cta-public  v-else :student="student"  />
</template>

<script>

import ExtraActivityCtaPublic  from "./ExtraActivityCtaPublic.vue"
import ExtraActivityCtaPrivate from "./ExtraActivityCtaPrivate.vue"
export default {
    name: "DistinctionCta",

    components:{
        ExtraActivityCtaPublic,
        ExtraActivityCtaPrivate
    },

    props: {

        showDetail: {
            type:Boolean
        },
        
        student: {
            required: true
        },

        context: {
            default: 'private'
        }

    },

}
</script>