<template>
  <div class="activity-cta cta open public-cta">
    <div class="cta-item">
      <div class="cta-icon"></div>
      <div class="cta-label">
        <label>
            {{$t('word.activities')}} {{$t('student.parcours.extra_school_info1')}}
          </label>
        
      </div>
     
    </div>
    <div class="list-category-cta">
        <template v-if="student.extra_activities !== null && student.extra_activities !== undefined && student.extra_activities.length">
            <div class="item-category-cta" v-for="extra_activitie in student.extra_activities" :key="extra_activitie.id" >
              <div class="activity-name">
                  {{ (extra_activitie.organization == null) ? '' : extra_activitie.organization.name  }}
              </div>
              <div class="item-info-cta">
                <p class="activity-place">
                  {{ extra_activitie.place }}          
                </p>
                <p class="activity-date">
                  <b>{{ extra_activitie.start_date | dateParse("YYYY-MM-DD HH:mm:ss") | dateFormat("MMM YYYY") }} - </b>
                  <b v-if="extra_activitie.current_position"> {{$t('student.parcours.association_info5')}} </b>
                  <b v-else>{{ extra_activitie.end_date | dateParse("YYYY-MM-DD HH:mm:ss") | dateFormat("MMM YYYY") }}</b>
                </p>
                <p class="activity-desc">
                  {{ extra_activitie.description }}
                </p>
              </div>
            </div>
        </template>
        <template v-else>
            <p class="public-empty-parcours--label">{{ $t('student.parcours.empty_parcours') }}</p>
        </template>
    </div>
    
  </div>
</template>
<script>
import "./style.css"
export default {
  name: "ExtraActicityCtaPublic",
      props: {
          student: {
              required: true
          },
    }
}
</script>
<style scoped>
    .item-category-cta:not(:last-child){
        border-bottom: solid 1px #D3D3D3;
        margin-bottom: 2rem;
        padding-bottom: 2rem;
    }

    .activity-name {
        color: #3C3850;
        font-family: 'NunitoSans-Bold';
        font-size: 1.1rem;
    }

    .activity-place {
      color: #D3D3D3;
    }

    .activity-desc {
        color: #3C3850;
        font-size: 12px;
    }
</style>