<template>
  <div class="activity-cta cta"  :class="toggleShowDetaill ? 'open': ''">
    <div class="cta-item" @click="toggleShowDetaill">
      <div class="cta-icon"></div>
      <div class="cta-label">
        <label>{{$t('word.activities')}} <br />{{$t('student.parcours.extra_school_info1')}}</label>
        <p class="cta-item-count" v-if="student.extra_activities.length > 0" >
          {{ student.extra_activities.length }} <span style="text-transform : lowercase" > {{$t('word.activities')}} </span>
        </p>
      </div>
      <div v-if="context == 'private'">
        <div class="cta-action" v-show="!stateCategory || !student.extra_activities.length" >
          <div class="icon action-add" @click="openNewExtraActivity"></div>
          <div class="icon action-edit" v-if="student.extra_activities.length > 0" ></div>
        </div>
        <div class="icon action-arrow" v-show="(stateCategory)" v-if="student.extra_activities.length > 0" ></div>
      </div>
      <div v-else class="icon action-arrow"></div>

    </div>
    <div :class="[(stateCategory) ? 'list-category-cta' : 'list-hide']" v-if="student.extra_activities !== null && student.extra_activities !== undefined && student.extra_activities.length">
      <div class="item-category-cta" v-for="extra_activitie in student.extra_activities" :key="extra_activitie.id" >
        <div class="item-title-cta">
          <span>
            <h4>{{ (extra_activitie.organization == null) ? '' : extra_activitie.organization.name  }}</h4>
          </span>
        </div>
        <div class="item-info-cta">
          <p>
            <span>{{$t('student.parcours.association_info4')}}:</span>
            <b> {{ extra_activitie.start_date | dateParse("YYYY-MM-DD HH:mm:ss") | dateFormat("MMM YYYY") }}</b>
              / {{$t('student.parcours.association_info6')}} :
            <b v-if="extra_activitie.current_position"> {{$t('student.parcours.association_info5')}} </b>
            <b v-else>{{ extra_activitie.end_date | dateParse("YYYY-MM-DD HH:mm:ss") | dateFormat("MMM YYYY") }}</b>
          </p>
          <p>
            <span>{{$t("word.location")}}:</span> <b> {{ extra_activitie.place }}</b>
          </p>
          <p>
            <span>{{$t("word.cause")}} :</span> <b>{{ extra_activitie.cause && extra_activitie.cause.name ? labelcause(extra_activitie.cause) : ""}}</b>
          </p>
          <p>
            <span>{{$t("word.description")}}: {{ extra_activitie.description }}</span>
          </p>
        </div>

        <div class="item-action-cta" v-if="context == 'private'">
          <div class="d-flex" @click="openNewExtraActivity">
            <button class="btn-add">
              <img :src="icon_add" />
            </button>
            <span class="ml-2"> {{$t("student.parcours.extra_school_info2")}}</span>
          </div>
          <!-- replace parameter {} by object formation  -->
          <div class="action-profil" style="display: flex">
            <div @click="openEditExtraActivity(extra_activitie)" class="icon action-edit"></div>
            <div @click="confirmDelete(extra_activitie)" class="icon action-remove"></div>
          </div>
        </div>
      </div>
    </div>
    <Modal v-if="showActivityModalForm" class="student-parcours-modal">
      <div slot="header" class="w-100 text-center pr-3">
        <a class="close" href="" @click.prevent="showActivityModalForm = false"></a>
        <div>
          <h4 v-if="newActivity.id == null">{{$t("student.parcours.extra_school_info2")}}</h4>
          <h4 v-else>{{$t("student.parcours.extra_school_info3")}}</h4>
        </div>
      </div>
      <div slot="body" class="px-4">
        <div class="row text-left">
          <div class="col-sm-6">
            <label>{{$t("student.parcours.extra_school_info4")}}</label>
            <input
              type="text"
              v-model="newActivity.organization"
              class="form-control"
            />
          </div>
          <div class="col-sm-6">
            <label>{{$t("word.cause")}}</label>
             <Multiselect
              :showLabels="false"
              class=""
              v-model="newActivity.cause"
              :custom-label="labelcause"
              track-by="id"
              :hideSelected="true"
              :options="AssociationCauseOption"
            />
          </div>

          <div class="col-sm-6">
            <label>{{$t("student.parcours.association_info18")}}</label>
            <div class="periode-field-group">
              <DateSelect v-model="newActivity.startDate" format="y-m"> </DateSelect>
            </div>
            <div class="w-100">
              <input type="checkbox" v-model="newActivity.currentPosition" />
              <label>{{$t("student.parcours.extra_school_info6")}}</label>
            </div>
          </div>

          <div class="col-sm-6">
            <label>{{$t("student.parcours.association_info21")}}</label>
            <div v-if="newActivity.currentPosition">
              <p>{{$t("student.parcours.association_info22")}}</p>
            </div>
            <div class="periode-field-group" v-else>
              <DateSelect v-model="newActivity.endDate" format="y-m"> </DateSelect>
            </div>
          </div>

          <div class="col-12">
            <label>{{$t("word.location")}}</label>
            <AdresseInput v-model="newActivity.place"/>
          </div>

          <div class="col-12">
            <label>{{$t("word.description")}}</label>
            <textarea class="form-control" v-model="newActivity.description" maxlength="250"></textarea>
            <span class="text-area-max--label">250 max</span>
          </div>
        </div>
        <div v-if="message" class="alert alert-danger" role="alert" style="text-align:center;margin:20px">
          {{ $t(message) }}
        </div>
        <div class="text-right w-100 action-container">
          <hr />
          <DefaultButton
            className="style1"
            :text="$t('word.save')"
            :onLoad="loading"
            @click.native="updateStudentActivity"
          />
        </div>
      </div>
    </Modal>

     <Modal v-if="showConfirm"  class="w-100 text-center modal-confirm-profil">
       <div slot="header" class="w-100 text-center pr-3">
        <a class="close" href="" @click.prevent="showConfirm = false"></a>
      </div>
      <div slot="body" class="w-100 px-4">
        <div class="bloc-icon-pouce">
          <img :src="require('@/assets/img/Pouce.svg').default" id="icon-pouce">
        </div>
        <div class="message-confirm">
          <label><b>{{$t('modal.title_modal_confirm_profil_activity')}}</b></label>
          <label>{{$t('modal.info_modal_confirm_profil')}}</label>
        </div>
        <div class="btn-confirm-profil">
          <DefaultButton
            className="outline3 add_element"
            :text="$t('modal.add_activity')"
            @click.native="openNewExtraActivity"
          />
          <DefaultButton
            className="style1 valid_element"
            :text="$t('word.validate')"
            @click.native="showConfirm = false"
          />
        </div>

      </div>
    </Modal>
  </div>
</template>
<script>
import "./style.css";

import AssociationCauseService from "@/services/common/AssociationCauseService.js";
//import Multiselect from 'vue-multiselect'
import ProfilService from "@/services/student/ProfilService.js";
import Multiselect from "vue-multiselect";
import "vue-multiselect/dist/vue-multiselect.min.css";
import AdresseInput  from "@/components/common/AdresseInput.vue"

export default {
  name: "ExtraActicityCta",

  components: {
    Multiselect,
    AdresseInput,
  },
    props: {
    showDetail: {
      type:Boolean
    },
    student: {
      required: true
    },
    context: {
      default: 'private'
    }
  },


  data: function () {
    return {
      showActivityModalForm: false,
      stateCategory: false,
      loading: false,
      AssociationCauseOption: [],
      newActivity: {
        id : null,
        organization : null,
        cause: null,
        place: null,
        currentPosition: false,
        startDate: null,
        endDate: null,
        description: null,
      },
      icon_add: require("@/assets/img/add-icon.svg").default,
       message: "",
       showConfirm : false
    };
  },
  watch : {
    showDetail(newVal) {
        this.stateCategory = newVal
    }
  },
  

  methods: {
    checkField(newActivity) {
      var organization = (newActivity.organization !== "" &&  newActivity.organization !== null) 
      var cause =  (newActivity.cause !== "" &&  newActivity.cause !== null) 
      var place =  (newActivity.company !== "" &&  newActivity.company !== null) 
      var studyField =  (newActivity.studyField !== "" &&  newActivity.studyField !== null) 
      var startDate =  (newActivity.startDate !== "" &&  newActivity.startDate !== null) 
      var endDate =  ((newActivity.endDate !== "" &&  newActivity.endDate !== null ) || newActivity.currentPosition) 
      var description =  (newActivity.description !== "" &&  newActivity.description !== null) 
      return (organization && place && studyField && startDate && endDate && description)
    },
    labelcause(cause) {
      return this.$t("student.cause." + cause.name)
    },
    updateStudentActivity() {
      if(this.checkField(this.newActivity)) {
            if((new Date(this.newActivity.startDate) <  new Date(this.newActivity.endDate ) || this.newActivity.currentPosition )) {
                  this.confirmStudentActivity()
                
                }else{
                  this.message = "word.form.date_invalid";
                }
      }else{
         this.message = "word.form.field_incomplet";
      }
    },

    confirmStudentActivity() {
        let that = this;
        that.loading = true;
        ProfilService.updateStudentActivity(that.newActivity)
          .then((response) => {
            if (response.data && response.data.success) {
              that.showConfirm = that.newActivity.id === null
              that.$store.dispatch("user/updateInfos");
              that.showActivityModalForm = false;
              that.createObjectExtraActivity()
              that.message = "";
            }

            that.loading = false;
      
          })
        .catch((error) => {
            console.log(error);
            that.message = "word.form.internal_error";
            that.loading = false;
            that.showConfirm = false
          });
    },
    toggleShowDetaill() {
      if (this.student.extra_activities.length > 0) {
        this.stateCategory = !this.stateCategory;
         return 
      }
      if(this.context == 'private'){
          this.openNewExtraActivity()
      }
    },

    
    confirmDelete(Activity) {
      let that = this;
      this.$dialog
        .confirm(that.$t('student.ask.remove_activity'), {
          loader: true,
          okText: "valider",
          cancelText: that.$t('word.cancel'),
        })
        .then(function (dialog) {
          that.deleteFormation(Activity, dialog);
        })
        .catch(function (dialog) {
          dialog.close();
        });
    },
    deleteFormation(Activity, dialog) {
      let that = this;
      that.loadDelete = true;
      ProfilService.removeStudentActivity(Activity.id)
        .then(function (response) {
          if (response.data.success) {
            //mise en jour liste article
            that.$store.dispatch("user/updateInfos");
          } else {
            //afficher snackbar
          }
          dialog.close();
          that.loadDelete = false;
        })
        .catch(function (error) {
          //afficher snackbar

          dialog.close();
        });
    },
    createObjectExtraActivity(
        id = null,
        organization =  null,
        cause = null,
        place = null,
        currentPosition = false,
        startDate = null,
        endDate = null,
        description = null,
    ) {
    this.newActivity = {
        id: id,
        organization: organization,
        cause: cause,
        place: place,
        currentPosition: currentPosition,
        startDate: startDate,
        endDate: endDate,
        description: description
      };
    },
    openEditExtraActivity(ExtraActivity) {
      //recuperation inforamation des
      var start_date = new Date(ExtraActivity.start_date)
      var end_date = new Date(ExtraActivity.end_date)
      this.createObjectExtraActivity(
        ExtraActivity.id,
        ExtraActivity.organization.name,
        ExtraActivity.cause,
        ExtraActivity.place,
        ExtraActivity.current_position,
        start_date.getFullYear() + '-'+ start_date.getMonth() + '-01',
        end_date.getFullYear() + '-'+ end_date.getMonth() + '-01',
        ExtraActivity.description
      )
      this.showActivityModalForm = true;
    },
    openNewExtraActivity() {
      this.showConfirm = false
      this.createObjectExtraActivity()
      this.showActivityModalForm = true;

    }
  },

  mounted: function () {
    let that = this;
    AssociationCauseService.getList().then((response) => {
      that.AssociationCauseOption = response.data.causes;
    })
    .catch((error) => {

    })
  }
}
</script>
