<div class="ml-4 pull-right">
<form method="post" action="{{ path('admin_student_testimonial_delete', {'id': student_testimonial.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ student_testimonial.id) }}">
    <button class="btn btn-danger"> <i class="fa fa-trash"></i>{% trans %} Supprimer{% endtrans %}</button>
</form>
</div>