{% extends 'admin/base.html.twig' %}

{% block title %}{% trans %}Modifier le témoignage de l'étudiant{% endtrans %}{% endblock %}
{% block actions %}
    <a class="btn btn-primary" href="{{ path('admin_student_testimonial_index') }}">{% trans %}Retour{% endtrans %}</a>
    {{ include('admin/testimonial/student_testimonial/_delete_form.html.twig') }}
{% endblock %}
{% block body %}
    {{ include('admin/testimonial/student_testimonial/_form.html.twig', {'button_label': 'Modifier'}) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app_admin_testimonial') }}
{% endblock %}