{% extends 'admin/base.html.twig' %}

{% block title %}{% trans %} Ce qu'ils en pensent{% endtrans %} {% endblock %}
{% block actions %}
     <a class="btn btn-primary" href="{{ path('admin_student_testimonial_new') }}">{% trans %}Ajouter{% endtrans %}</a>
{% endblock %}
{% block body %}
    <div class="navigation mb-4">
        {% include "admin/testimonial/_navigation.html.twig" %}
    </div>
    <div class="tile p-5">
        <div class="tile-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>{%trans %}Nom{% endtrans %}</th>
                        <th>{%trans %}Age{% endtrans %}</th>
                        <th>{%trans %}Parcours{% endtrans %}</th>
                        <th>{%trans %}Pays{% endtrans %}</th>
                        <th>{%trans %}Publié{% endtrans %}</th>
                        <th>{%trans %}Actions{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                {% for student_testimonial in student_testimonials %}
                    <tr>
                        <td>{{ student_testimonial.id }}</td>
                        <td>{{ student_testimonial.name }}</td>
                        <td>{{ student_testimonial.age }}</td>
                        <td>{{ student_testimonial.parcours }}</td>
                        <td>{{ student_testimonial.country }}</td>
                        <td>{{ student_testimonial.published ? 'Oui' : 'Non' }}</td>
                        <td>
                            <a href="{{ path('admin_student_testimonial_show', {'id': student_testimonial.id}) }}">Afficher</a>
                            <a href="{{ path('admin_student_testimonial_edit', {'id': student_testimonial.id}) }}">Modifer</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="9">{% trans %}Aucun enregistrement trouvé{% endtrans %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
