{% extends 'admin/base.html.twig' %}

{% block title %}{% trans %}Nouveau témoignage{% endtrans %}{% endblock %}

{% block body %}
    {{ include('admin/testimonial/student_testimonial/_form.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app_admin_testimonial') }}
{% endblock %}
