{% extends 'admin/base.html.twig' %}

{% block title %}{% trans %}Témoignage de l'étudiant{% endtrans %}{% endblock %}
{% block actions %}
    <a class="btn btn-primary" href="{{ path('admin_student_testimonial_index') }}">Retour</a>
    <a class="btn btn-primary" href="{{ path('admin_student_testimonial_edit', {'id': student_testimonial.id}) }}">Modifier</a>
    {{ include('admin/testimonial/student_testimonial/_delete_form.html.twig') }}
{% endblock %}
{% block body %}
    <div class="tile p-5">
        <div class="tile-body">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ student_testimonial.id }}</td>
                    </tr>
                    <tr>
                        <th>Published</th>
                        <td>{{ student_testimonial.published ? 'Oui' : 'Non' }}</td>
                    </tr>
                    <tr>
                        <th>Content</th>
                        <td>{{ student_testimonial.content }}</td>
                    </tr>
                    <tr>
                        <th>Thumbnail</th>
                        <td>{{ student_testimonial.thumbnail }}</td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td>{{ student_testimonial.name }}</td>
                    </tr>
                    <tr>
                        <th>Age</th>
                        <td>{{ student_testimonial.age }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}Parcours{% endtrans %}</th>
                        <td>{{ student_testimonial.parcours }}</td>
                    </tr>
                    <tr>
                        <th>Country</th>
                        <td>{{ student_testimonial.country }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
