<template>
    <Modal size="lg" name="folderlist-tutorial-modal">
      <div slot="header" class="modal-closer--container" @click.prevent="close">
            <a href="#">
                <img :src="require('@/assets/img/icon-croix-white.svg').default" >
            </a>
      </div>
        <div slot="body">
            <div class="folderlist-tutorial--wrapper">
                <template>
                    <section class="folderlist-tutorial--title">
                        {{ $t('word.help') }}
                    </section>
                    <section class="folderlist-tutorial--content">
                        <div class="content-description">
                            Pour bien gerer votre formulaire de candidature, nous vous conseillons de les classer dans un dossier.
                        </div>

                        <div class="content-item">
                            <div class="content-item-order">
                                1
                            </div>
                            <div class="content-item-desction">
                                <div class="item-description--title"> Creer un dossier</div>
                                <div class="item-description--workflow">
                                    <span>Pour ajouter un nouveau dossier , cliquer sur </span>
                                    <span class="img-container folder-add--icon">
                                        <img :src="icon.folderadd" />
                                    </span>
                                    <span> puis donner un nom à votre dossier et cliquer sur le boutton </span>
                                    <span class="validate--btn">Enregistrer</span>
                                    <span> pour valider l'ajout.</span>
                                </div>
                            </div>
                        </div>

                        <div class="content-item">
                            <div class="content-item-order">
                               2
                            </div>
                            <div class="content-item-desction">
                                <div class="item-description--title"> Modifier un dossier</div>
                                <div class="item-description--workflow">
                                    <span>Pour modifier  un dossier , cliquer sur </span>
                                    <span class="square-container">
                                       <span></span><span></span><span></span>
                                    </span>
                                    <span> puis cliquer sur le boutton  edit </span>
                                    <span class="folder-control--option fa fa-pencil"></span>
                                    <span> modifier votre formulaire et cliquer sur </span>
                                    <span class="validate--btn">Enregistrer</span>
                                    <span>pour valider la modification.</span>
                                </div>
                            </div>
                        </div>

                        <div class="content-item">
                            <div class="content-item-order">
                               3
                            </div>
                            <div class="content-item-desction">
                                <div class="item-description--title"> Supprimer un dossier</div>
                                <div class="item-description--workflow">
                                    <span>Pour supprimer  un dossier , cliquer sur </span>
                                    <span class="square-container">
                                       <span></span><span></span><span></span>
                                    </span>
                                    <span> puis cliquer sur le boutton  supprimer </span>
                                    <span class="folder-control--option fa fa-trash"></span>
                                    <span> cliquer sur "Oui" pour confirmer la suppression.</span>
                                    <span class="d-block">
                                        <span class="blod">NB : </span>
                                        <span class="red-notice">La suppression d'un dossier est irreversible </span>
                                        <span>et vous ne pouvez pas supprimer un dossier qui contient des formulaire déjà attaché a une bourse ou formation.</span>
                                    </span>
                                </div>
                            </div>
                        </div>

                       
                        <div class="content-item">
                            <div class="content-item-order">
                               4
                            </div>
                            <div class="content-item-desction">
                                <div class="item-description--title"> Ajouter un formulaire</div>
                                <div class="item-description--workflow">
                                    <span>Pour ajouter un nouveau formulaire , vous pouvez ouvrir le dossier sur laquelle où voudrait mettre le formulaire et cliquer sur lien </span>
                                    <span class="add-form--btn">
                                       + {{ $t('application.create_new_form') }}
                                    </span>
                                    <span class="bold">OU</span>
                                    <span>cliquer sur le bouton</span>
                                    <span class="validate--btn">Nouveau formulaire</span>,
                                    <span>Un popup sera ouvert et vous pouvez choisir un dossier parmis la liste proposé.</span>
                                </div>
                            </div>
                        </div>


                    </section>
                </template>
                <template>
                    <section class="tutorials-action">
                        <label><input type="checkbox" v-model="completed" /> Ne plus afficher</label>
                        <button @click="close">J'ai compris</button>
                    </section>
                </template>
            </div>
        </div>
    </Modal>
</template>

<script>
import IconImages from "@/services/helpers/IconImages.js"
export default {
    name: "FolderListTutorial",

    data: function(){
        return {
            completed: false,
            icon: {
                ...IconImages
            },
        }
    },
    methods: {
        close: function(){
            this.$emit('close')

            if(this.completed){
                this.$emit('completed')
            }

        },  
    }
}
</script>
<style lang="sass" scoped>
    .folderlist-tutorial--wrapper{
        
        section.folderlist-tutorial--title {
            text-align: center;
            font-size: 2rem;
            font-family: NunitoSans-ExtraBold;
            color: rgba(60, 56, 80, 0.71);
            margin: 0 2rem;
        }
        .content-description {
            text-align: center;
            font-size: 16px;
            color: #3c3850;
            margin-top: 15px;
        }

        .content-item {
            display: flex;
            margin-top: 2rem;
            width: 100%;
            border-bottom: solid 1px #dee2e6;
            padding-bottom: 2rem;
            .content-item-order {
                width: 3rem;
                height: 3rem;
                min-width: 3rem;
                font-size: 1.2rem;
                background: #f56c6c;
                color: white;
                font-family: 'NunitoSans-Bold';
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 1rem;
            }

            .content-item-desction {
                margin-top: 3px;
                .item-description--title {
                    font-family: 'NunitoSans-SemiBold';
                    font-size: 1.2rem;
                    line-height: 1.2;
                }

                .item-description--workflow {
                    font-size: 14px;
                    color: #606266;
                }
            }

        }


        .tutorials-action {
            margin-top: 4rem;
            width: 100%;
            text-align: center;
        
            label{
                margin-right: 1rem;
                color: #1f4171 !important;
                font-family: 'NunitoSans-SemiBold';
            }
            button{
                color: #f56c6c;
                font-size: 1.2rem;
                font-family: 'NunitoSans-SemiBold';
                padding: .8rem 1.2rem;
                border: solid 2px #f56c6c;
                border-radius: 5px;
            }
        }

        span.validate--btn {
            padding: 2px 10px;
            border-radius: 5px;
            color: white;
            font-family: 'NunitoSans-Bold' !important;
            background: #FF7667;
            margin: 0 10px;
        }

        .img-container.folder-add--icon img {
            width: 25px;
            margin: 0 9px;
        }
        .add-form--btn{
            color: #448aff;
            font-family: 'NunitoSans-Bold';
            letter-spacing: 0;
            margin: 0 10px;
            white-space: nowrap;
        }
        .bold{
            font-family: 'NunitoSans-Bold';
        }
        
        span.square-container {
            display: inline-block;
            margin: 0 10px;
            position: relative;
            vertical-align: middle;
            span {
                width: 5px;
                height: 5px;
                background: #3C3850;
                display: block;
                margin-top: 3px;
            }
        }
        
        .folder-control--option{
            border: solid 1px #D0CEDA;
            color: #D0CEDA;
            padding: 3px 10px;
            border-radius: 15px;
            background: white;
            margin: 0 10px;
        }
        .red-notice {
            color: #ff5252;
            font-family: 'NunitoSans-Bold';
        }
    }
</style>

<style>
     #folderlist-tutorial-modal {
        background-color: rgb(0 0 0 / 67%) !important;
    }
    #folderlist-tutorial-modal .modal-container{
        max-width: 80% !important;
        position: relative;
    }

     #folderlist-tutorial-modal .modal-closer--container {
        text-align: right;
        position: absolute;
        right: 20px;
        background: #ff7667;
        padding: 12px 15px;
        border-radius: 50%;
        z-index: 10;
        cursor: pointer;
    }
    @media (max-width:1280px) {
        #folderlist-tutorial-modal .modal-container{
            max-width: 90% !important;
        }
    }
    @media (max-width:1024px) {
        #folderlist-tutorial-modal .modal-container{
            max-width: 100% !important;
        }
    }

    

</style>