<template>
    <default-layout>
    
    <div slot="content" class="application-form-list">
        
        <div class="section-breadcrumbs">
            <BreadCrumbs />
        </div>

        <div class="section-list-actions">
            <ListActions :selectedForms="selectedForms" @foldersaved="updateFolderList"  @folderclosed="closeFolder" :selectedFolder="selectedFolder" :selectedAction="selectedAction" @newform="openModal"/>
        </div> 

        <div class="section-list-container mt-5">
            <div class="folder-item-wrapper mt-4" v-for="folder,index in folders" :key="'folder-'+index">
                <Folder :folder="folder" @open="openFolder(folder)" @deleted="deletedFolder" @edit="editFolder"/>
            </div>
        </div>

        <div class="section-folder-chooser" v-if="folderChooserModal">
            <Modal v-if="true" class="folder-chooser-modal" size="lg">
                <div slot="header" class="w-100">
                    <a class="close" href="#" @click.prevent="closeModal"> 
                        <img :src="closeIcon">
                    </a>
                </div>
                <div slot="body">
                    <div class="folder-chooser-content">
                        <h4 class="folder-chooser-title">
                            Chose a folder
                        </h4>
                        <div class="row">
                            <div class="col-lg-6 folder-chooser-item" v-for="folder,index in folders" :key="'folder-'+index">
                                <Folder :folder="folder" @open="newForm(folder)" />
                            </div>
                        </div>
                    </div>
                </div>
            </Modal>
        </div>

        <template v-if="tutorial">
            <folder-list-tutorial @close="closeTutorial" @completed="completeTutorial" />
        </template>

    </div>
</default-layout>

</template>

<script>
import BreadCrumbs        from "./parts/BreadCrumbs.vue"
import ListActions        from "./parts/ListActions.vue"
import Folder             from "./parts/Folder.vue"
import FolderListTutorial from "./FolderListTutorial.vue"
import ApplicationService from "@/services/application/ApplicationService.js"

export default {
    name:'FolderList',
    components: {
        BreadCrumbs,
        ListActions,
        Folder,
        FolderListTutorial
    },
    data: function(){
        return {
            folders: [
                {
                    name: '...', 
                    forms: [
                        { id:1, name: 'Formulaire 1' },
                        { id:2, name: 'Formulaire 2' },
                        { id:3, name: 'Formulaire 3' },
                    ]
                },
            ],
            selectedForms  : false,
            selectedFolder : false,
            selectedAction: false,
            folderChooserModal: false,
            closeIcon   : require('@/assets/img/icon-croix-white.svg').default,
            tutorial    : false
        }
    },
    methods: {
        /**
         * Handle on form curent form change
         */
        onSelectedForms: function(data){
            this.selectedForms = data
        },

        /**
         * Fetch adn update folder list data on load
         */
        updateFolderList: function(){
            let that = this
            ApplicationService.getFolderList().then(
                (response) => {
                    that.folders = response.data.folders
                    that.closeFolder()
                }
            )
        },

        /**
         * Open folder details 
         */
        openFolder: function(folder){
            this.$router.push({name:'organizaiton_application_folder_open', params: { slug: folder.slug}})
        },

        /**
         * Delete current selected folders
         */
        deletedFolder: function(folder){
            for (let index = 0; index < this.folders.length; index++) {
                const element = this.folders[index];
                if(element.id == folder.id){
                    this.folders.splice(index, 1)
                    break
                }
            }
        },

        /**
         * Open folder folder form 
         */
        editFolder: function(folder){
            this.selectedFolder = folder
            this.selectedAction = 'rename' 
        },

        /**
         * Open folder to see folder detail
         */
        closeFolder: function(){
            this.selectedFolder = false
            this.selectedAction = false
        },

        /**
         * Close file chooser modal
         */        
        closeModal: function(){
            this.folderChooserModal = false
        },

        /**
         * Open file chooser modal
         */
        openModal: function(){
            this.folderChooserModal = true
        },

        /**
         * Redirect to new formbuilder 
         */
        newForm : function(folder){
            this.$router.push({name:'organization_folder_form_new', params: {slug: folder.slug}})
        },
        /**
         * Close form builder tutorial modal
         */
        closeTutorial: function(){
            this.tutorial = false
        },
        
        /**
         * Open form builder tutorial modal
         */
        openTutorial: function(){
            this.tutorial = true
        },

        /**
         * show or hide formbuilder tutorial 
         */
        guessShowTutorial: function(){
            this.tutorial = !this.tutorialIsCompleted()
        },  

        /**
        * get and check tutorial show statut stored in local storage 
        */
        tutorialIsCompleted: function(){
            const show_tutorial = localStorage.getItem('show-folder-tutorial')
            return show_tutorial == 1
        },

        /**
         * Block formbuilder tutorial popop at the statup of page builder
         */
        completeTutorial: function(){
            localStorage.setItem('show-folder-tutorial', 1)
        }
    },
    mounted: function(){
        this.updateFolderList()
         this.guessShowTutorial()
    }
}
</script>

<style scoped>
    .application-form-list{
        padding: 2rem;
    }
    .section-folder-chooser .folder-chooser-title {
        text-align: center;
        color: #3C3850;
        font-family: 'NunitoSans-Bold';
    }
   .section-folder-chooser .close{
        filter: brightness(0.5) !important;
    }
</style>
<style>
    .section-folder-chooser .folder-action-container {
        display: none !important;
    }
    .section-folder-chooser .folder-chooser-item {
        margin-top: 1.5rem;
    }
    .section-folder-chooser .folder-chooser-item .folder-name--text[data-v-3eeb5db2] {
        font-size: 1rem !important;
    }
</style>