<template>
    <default-layout>
        
        <div slot="content" class="application-folder-open">  
            <div class="section-breadcrumbs">
                <BreadCrumbs :active="folder" />
            </div>

            <div class="section-list-actions">
                <ListActions :selectedForms="selectedForms" @deletedForms="refreshFolder" @cloned="refreshFolder" :selectedFolder="folder" @reset="resetSelection" />
            </div> 

            <div class="section-opened-folder mt-5">
                <div class="folder-opened-wrapper">
                    <div class="folder-items-wrapper">
                        <div v-for="form, index in folder.forms" :key="'forms-item-'+index" class="form-item--wrapper">
                            <FormItem :form="form" @selectedChange="onSelectedFormChange(form)" :selected="isSelected(form)" @edit="editForm(form)" @view="viewForm(form)" @viewresponse="viewFormResponse(form)" />
                        </div>
                    </div>
                    <div class="folder-actions">
                        <a href="#" @click.prevent="newForm">
                            <span class="action-icon fa fa-plus mr-2"></span>
                            <span class="action-text">{{ $t('application.create_new_form') }}</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </default-layout>

</template>
<script>
import BreadCrumbs        from "./parts/BreadCrumbs.vue"
import ListActions        from "./parts/ListActions.vue"
import FormItem           from "./parts/FormItem.vue"
import ApplicationService from "@/services/application/ApplicationService.js"

export default {
    name:'FolderOpen',

    components: {
        BreadCrumbs,
        ListActions,
        FormItem
    },
    
    data: function(){
        return {
            selectedForms : [],
            folder        : false,
        }
    },
    computed: {
         isSelected: function(){
             return (form) => { 
                let index = this.selectedForms.findIndex(x => x.id === form.id)
                return index >= 0 
            }
        },
    },
    methods:{
        /**
         * fetch requested folder and update folder state
         * 
         * @return void
         */
        getRequestedFolder(){
            let that = this
            let slug = that.$route.params.slug
            ApplicationService.findOneBySlug(slug).then(
                (response) => {
                if(response.data.folder){
                    that.folder = response.data.folder
                    
                }else{
                    that.$router.push({name:"error_404"})
                }
            }).catch(
                (error) => {
                    that.$router.push("/internal-error")
            })
        },

        /**
         * Redirect to the form builder page
         * 
         * @return void
         */
        newForm: function(){
            this.$router.push({name:'organization_folder_form_new', params: {slug: this.folder.slug}})
        },
        
        /**
         * Redirect to the form builder editor page
         * 
         * @param  {Object} oform 
         * @return void
         */
        editForm: function(oform){
            this.$router.push({name: 'organization_folder_form_edit', params: {slug: this.folder.slug, form: oform.slug} })
        },

        /**
         * Redirect to selected form preview page
         * @param  {Object} oform 
         * @return void
         */
        viewForm: function(oform){
            this.$router.push({name: 'organization_folder_form_preview', params: {slug: this.folder.slug, form: oform.slug} })
        },

        /**
         * Redirect to the candidat list with the selected form as param
         * 
         * @param  {Object} form
         * @return void
         */
        viewFormResponse: function(form){
            this.$router.push({name: 'organization_candidat_list', query: { form: JSON.stringify({
                name: form.name,
                slug: form.slug
            }) } })
        },

        /**
         * Update selectedforms state on new form selected
         * 
         * @param  {Object} form
         * @return void
         */
        onSelectedFormChange(form){
            let index = this.selectedForms.findIndex(x => x.id === form.id) 
            if(index >= 0){
                this.selectedForms.splice(index, 1)
                return 
            }
            this.selectedForms = [...this.selectedForms, form]
        },

        /**
         * reload selected forms state
         * 
         * @return void
         */
        refreshFolder(){
            this.selectedForms = []
            this.getRequestedFolder()
        },

        /**
         * Resect form selected state
         * 
         * @return void
         */
        resetSelection: function(){
            this.selectedForms = []
        }

    },
    mounted: function(){
        this.getRequestedFolder()
    }
}
</script>

<style scoped lang="scss">
    .application-folder-open{
        padding: 2rem;

        .folder-opened-wrapper{
            background: #FFFFFF 0% 0% no-repeat padding-box;
            box-shadow: 0px 6px 8px #E1E3EE;
            border: 1px solid #D0CEDA;
            padding: 0;
            border-radius: 5px;
            
            .folder-actions {
                padding: 15px;
            }
        }

    }


    
</style>