<template>
  <default-layout class="organization-public-page">
      <div slot="content">
          <ProfilHeader  @listorganization="listOrganization" />
          <ProfilContent :organization="organization" context="private" v-if="fetching" />
          <ProfilFom :open="editProfil" v-on:closeProfilEditor="closeProfilEditor" :organization.sync="organization" />
          <Modal name="form-publisher-modal" size="md" v-if="my_organzation">
              <div slot="header" class="w-100">
                  <a class="close" href="#"  @click="closeListOrganization"> <i class="fa fa-times"></i> </a>
                  <h4>{{$t('organization.profil.button.myorganization')}}</h4>
              </div>
              <div slot="body">
                  <MyOrganization  v-for="organization in list_organization" @editprofil="showProfilEditor" @showprofil="showProfil" :organization="organization" :key="organization.id"/>

                  <div class="text-center">
                      <DefaultButton className="style4" :text="$t('organization.profil.button.add')" @click.native="newOrganization" />
                  </div>
              </div>
          </Modal>
      </div>
  </default-layout>
</template>
<script>
  import ProfilFom     from "./form/ProfilForm.vue"
  import ProfilContent from "@/view/organization/profil/ProfilContent.vue"
  import ProfilHeader  from "@/view/organization/profil/parts/ProfilHeader.vue"
  import ProfilService from "@/services/organization/ProfilService.js"
  import "@/view/organization/profil/shape.css"
  import MyOrganization from "./parts/MyOrganization";

  export default {
      name:'OrganizationPagePrivate',
      components : {
        ProfilFom,
        ProfilContent,
        ProfilHeader,
        MyOrganization
      },
      data: function(){
        return {
            fetching        : false,
            editProfil      : false,
            selectedVideo   : {},
            my_organzation  : false,
            showVideoPlayer : false,
            organization: {
              type: Object
            },
            list_organization: []
        }
      },
      
      methods : {
          /**
           * Open organization profil modal editor
           * 
           * @return void
           */
          showProfil(organization){
              this.closeListOrganization();
              this.organization = organization;
          },/**
           * Open organization profil modal editor
           *
           * @return void
           */
          showProfilEditor(organization){
              this.closeListOrganization();
              this.organization = organization;
              this.editProfil = true
          },

          /**
           * Close organization profil modal editor
           * 
           * @return void
           */
          closeProfilEditor(){
              this.editProfil = false
          },
          
          /**
           * Open organization selected video player
           * 
           * @param {Object} video
           * @return void
           */
          playVideo(video){
              this.selectedVideo = video
              this.showVideoPlayer = true
          },
          /**
           * Close organization selected video player
           * 
           * @return void
           */
          closeVideoPlayer(){
              this.showVideoPlayer = false
          },
          /**
           * Open organization profil modal editor
           *
           * @return void
           */
          listOrganization(){
              this.my_organzation = true
          },

          /**
           * Close organization profil modal editor
           *
           * @return void
           */
          closeListOrganization(){
              this.my_organzation = false
          },
          newOrganization(){
              this.closeListOrganization();
              this.organization = {};
              this.editProfil = true;
          }
      },

      mounted() {
          if (!this.currentUser) {
             this.$router.push('/login');
          }
          this.$store.dispatch("user/updateInfos");

          //get here if user has organisation
          ProfilService.getMyOrganisation().then(response =>{
              let organization = response.data.organization;
              this.list_organization = response.data.organization;
              if (organization.length <= 0) {
                  this.editProfil = true;
                  return false;
              }
              let completedInfos = 0
              let rapport = -1

              let ignoreKeys = [
                  'medias',
                  'profil_completion',
                  'date_of_birth',
                  'adress','updated_at',
                  'hidden_fields',
                  'search_preferences',
                  'siret_number',
                  'accreditation'
              ]
              let user = organization[0];
              this.organization = organization[0];
              Object.keys(user).map(function(key, index) {
                  let value = user[key]
                  if( !ignoreKeys.includes(key)){
                      rapport++
                      if((value !== null)){
                          if(Object.keys(value).length){
                              completedInfos++
                          }
                      }
                  }
              });
              if (Math.floor((completedInfos / rapport) * 100) <= 50) {
                  this.editProfil = true;
              }

          }).catch(error =>{
              this.dispatchError(error)
          })

          this.fetching     = true
      }
  }  
 
</script>