<template>
  <default-layout class="organization-public-page">
      
      <div class="" slot="content">
            <ProfilContent :organization="organization" context="public" v-if="fetching" /> 
      </div>
  </default-layout>
</template>
<script>
    import ProfilService    from "@/services/organization/ProfilService.js"
    import ProfilContent    from "@/view/organization/profil/ProfilContent.vue"
    import "@/view/organization/profil/shape.css"

    export default {
        name:'PublicPage',
        components : {
          ProfilContent
        },
        data: function(){
          return {
            organization    : {},
            fetching        : false,
          }
        },
        
        methods : {
          /**
           * Fetch the requeste organization
           * 
           * @return void
           */
          getRequestedOrganization(){
            let that = this
            let slug = that.$route.params.slug
            ProfilService.findOneBySlug(slug).then(
              (response) => {
                if(response.data.organization && response.data.organization.id){
                  that.organization = response.data.organization
                  that.fetching = true
                  that.initStickyScript()
                }else{
                  that.$router.push({name:"error_404"})
                }
              }).catch(
                (error) => {
                  console.log(error)
              })
          }
        },
        mounted() {
          this.getRequestedOrganization()
        }
    }
</script>