<template>
   <div class="organization-profil-wrapper">
        <div class="row">
            <div class="col-lg-6">
                <div class="basic-infos--section">
                    <BasicInfos :organization="organization" />
                </div>
                <div class="info-card--section  mt-5">
                    <InfosCard  :organization="organization" :context="context" />
                </div>
                <div class="map-card--section mt-5">
                    <MapCard  :organization="organization" />
                </div>
                <div class="primary-video-gallery" v-if="organization.gallery && organization.gallery.videos.length">
                    <VideoCard :video="organization.gallery.videos[0]" context="primary" @play="playVideo"/>
                </div>
            </div>
            

            <!-- desktop section --->
            <div class="col-lg-6 desktop-section">
                <div class="cover-card--section">
                    <CoverCard  :organization="organization" />
                </div>

                <div class="grid-list-container">   
                    <masonry :cols="2" :gutter="{default: '30px', 1200: '10px', 1100: '5px'}" columnClass='grid-list-collumn' >
                        <div class="grid-item">
                            <ContactCard  :organization="organization" />
                        </div>

                        <!--- loop video grid item --> 
                        <div class="grid-item" v-for="video, index in videosGallery" :key="'video-gallery-'+index">
                            <VideoCard :video="video"  @play="playVideo"/>
                        </div>
                        
                        <!--- loop picture grid item --> 
                        <div class="grid-item" v-for="picture, index in picturesGallery" :key="'picture-gallery-'+index">
                            <PictureCard :image="picture" />
                        </div>
            
                    </masonry>
                </div>
            </div>
            <!-- END desktop section --->

            <!-- Mobile section --->
            <div class="col-lg-6 mobile-section">
                
                <div class="contact-section">
                    <ContactCard  :organization="organization" />
                </div>

                <div class="mobile-gallery-slide--section">   
                    <GallerySlide  :organization="organization" @play="playVideo" />
                </div>
            </div>
            <!-- END Mobile section --->


        </div>
        <!-- Video player modal -->
        <ModalVideoPlayer :video="selectedVideo" :show="showVideoPlayer" v-on:close="closeVideoPlayer"/>
        <!-- Video player modal -->
    </div>
</template>

<script>
    import ModalVideoPlayer from "@/components/common/ModalVideoPlayer.vue"
    import BasicInfos       from "@/view/organization/profil/parts/BasicInfos.vue"
    import InfosCard        from "@/view/organization/profil/parts/InfosCard/InfosCard.vue"
    import MapCard          from "@/view/organization/profil/parts/MapCard.vue"
    import CoverCard        from "@/view/organization/profil/parts/CoverCard.vue"
    import ContactCard      from "@/view/organization/profil/parts/ContactCard.vue"
    import VideoCard        from "@/view/organization/profil/parts/VideoCard.vue"
    import PictureCard      from "@/view/organization/profil/parts/PictureCard.vue"
    import GallerySlide     from "@/view/organization/profil/parts/GallerySlide.vue"

    export default {
        name:'ProfilContent',

        props: {
            organization: {
                require: true,
            },
            context: {
                default: 'private'
            }
        },

        components : {
            ModalVideoPlayer,
            BasicInfos,
            InfosCard,
            MapCard,
            CoverCard,
            ContactCard,
            VideoCard,
            PictureCard,
            GallerySlide
        },

        data: function(){
            return {
                selectedVideo   : {},
                showVideoPlayer : false
            }
        },

        computed: {
            videosGallery: function(){
                if(this.organization.gallery !== undefined && (this.organization.gallery && this.organization.gallery.videos.length > 1)){
                    let gallery = [...this.organization.gallery.videos ]
                    gallery.shift()
                    return gallery
                }
                return []
            },
            picturesGallery: function(){
                if(this.organization.gallery !== undefined && (this.organization.gallery && this.organization.gallery.pictures.length > 0)){
                    return this.organization.gallery.pictures
                }
                return []
            }
        },
    
        methods : {
            /**
             * show organization selected video player modal
             * 
             * @param {Object} video
             * @return void
             */
            playVideo(video){
                this.selectedVideo = video
                this.showVideoPlayer = true
            },

            /**
             * Close video modal player
             * 
             * @return void
             */
            closeVideoPlayer(){
                this.showVideoPlayer = false
            },
        },
    }

</script>
<style scoped>
    .organization-profil-wrapper{
        padding: 2rem 3rem;
    }
    .grid-list-container{
        margin-top: 2rem;
    }

    .mobile-section{
        display: none;
    }
    
    .primary-video-gallery{
        margin-bottom: 2rem;
    }

    @media(max-width:1280px){
        .organization-profil-wrapper{
            padding: 2rem;
        }
    }
    @media(max-width:1025px){
        .organization-profil-wrapper{
            padding: 1rem;
        }
    }
    @media(max-width:768px){
        .desktop-section,
        .primary-video-gallery,
        .info-card--section
        {
            display: none;
        }
        .organization-profil-wrapper{
            padding: 2rem;
        }
        .mobile-section {
            display: block;
            margin-top: 2rem;
        }

        .mobile-gallery-slide--section{
            margin-top: 2rem;
        }
    }
</style>
<style>
    .grid-list-container .grid-item{
        margin: 1.5rem .2rem;
    }

    .grid-list-container .grid-list-collumn{
        width: 40% !important;
    }
    .grid-list-container .grid-list-collumn:first-child{
        width: 60% !important;
    }
</style>