.organization-public-page::before,
.organization-private-page::before{
    content: "";
    background: url("~@/assets/img/organization-shape.svg");
    position: absolute;
    top: 50px;
    right: 60px;
    z-index: 0;
    opacity: 0.6;
    width: 50%;
    height: 40%;
    background-repeat: no-repeat;
    background-position: top right;
    margin-top: -6rem;
    margin-right: -4rem;
    background-size: contain;
}

@media(max-width:1820px){
    .organization-public-page::before,
    .organization-private-page::before{
        margin-right: -5rem;
    }
}
@media(max-width:1540px){
    .organization-public-page::before,
    .organization-private-page::before{
        margin-right: -7rem;
    }
}
@media(max-width:1428px){
    .organization-public-page::before,
    .organization-private-page::before{
        margin-right: -8.5rem;
    }
}
@media(max-width:1368px){
    .organization-public-page::before,
    .organization-private-page::before{
        margin-right: -10rem;
    }
}

@media(max-width:991px){
    .organization-public-page::before,
    .organization-private-page::before{
        content: none !important;
    }
}