<template>
  <div class="vue-gallery-video-input--content" id="vue-gallery-video-input--content">
    <input type="hidden" v-model="videosDataString" :name="inputName">
    <div class="input-container">
      <vue-video
          thumbWidthPX="100"
          urlInputBorder="#DBD9E2"
          urlInputTextColor="#DBD9E2"
          urlInputPlaceholderText= "Copier et coller votre lien ici"
          urlInputTextHeightPX="50"
          limitVideoTo="5"
          @VideoDeleted="updateVideos"
          @thumbnailClick="updateVideos"
          @VideoAdded="updateVideos"
          @VideoUrlError="onVideoUrlError"
          >
      </vue-video>
      <p class="invalid" v-if="message"> {{ message }}</p>
    </div>
    <div class="alert-infos" v-if="videos.length == 0">
      <p>
          <span class="fa fa-infos"></span>
          Appuyer sur entrer ou cliquer a l'exterieur du champs pour valider la video et ajouter une nouvelle 
      </p>
    </div>

  </div>
</template>
<script>
    export default {
        name: 'GalleryVideoInput',
        data : function() {
            return {
                message   : false,
                videos    : [],
                videosDataString : "",
                inputName : "videos-string-data"
          }
        },
        methods: {
            updateVideos(value) {
                this.videos = value.videos
                this.message = false
                console.log(this.videos)
            },
            onVideoUrlError(url) {
                this.message = "Url video invalide , ex : https://www.youtube.com/watch?v=eX-FcKO4dmI"
            },
            binOnEnterKey(){
              let component = document.getElementById("vue-gallery-video-input--content")
              let input     = component.querySelector("input.vue-video__video-selector__url")
              let that      = this
              input.addEventListener('keydown', function(e){
                if (e.keyCode == 13) {
                  e.preventDefault()
                  /*** remove focus on input */
                  input.dispatchEvent(new Event('blur'))
                }
              })
            },
            loadMetadata(){
              let metas = document.getElementById("vue-gallery-video-input--meta")

              let metaInputName = metas.getAttribute('vue-data--input-name')
              this.inputName    = metaInputName ? metaInputName : this.inputName
              
              try{
                let metaInputValue = metas.getAttribute('vue-data--input-value') 
                if(metaInputValue){
                  this.preloadValue(JSON.parse(metaInputValue))
                }
              }catch(e){ 
                console.log(e)
              }
            },

            preloadValue(array){
              let component = document.getElementById("vue-gallery-video-input--content")
              let input     = component.querySelector("input.vue-video__video-selector__url")
              let that      = this
              for (let index = 0; index < array.length; index++) {
                const video = array[index];
                if(video.isValid){
                  setTimeout(() => {
                    input.value = that.getUrlSource(video.Url)
                    input.dispatchEvent(new Event('input'))
                    input.dispatchEvent(new Event('change'))
                    input.dispatchEvent(new Event('blur'))
                  }, 3000);
                }
              }
            },
            getUrlSource(url){
              /*** youtube */
              url = url.replace("www.youtube.com", "youtu.be");
              url = url.replace("/embed/", "/");
              return url 
            }
        },
        
        watch : {
          videos: {
            deep: true,
            handler : function(val){
              this.videosDataString = JSON.stringify(val)
            }
          }
        },
        mounted: function(){
          /** avoid submit form on enter key */
          this.binOnEnterKey()

          /*** load meta data */
          this.loadMetadata()
        }


    }
</script>