<div class="tile p-0">
    <div class="thematic-list-header">
        <h4>Domaine d'études</h4>
        <button class="btn btn-primary discipline-category-btn--new">
            {% trans %}Ajouter{% endtrans %}
        </button>
    </div>
    <hr>
    <ul class="nav flex-column nav-tabs user-tabs discipline-category-nav-tabs">
        {% for category in categories %}
            <li class="nav-item category-data" data-id="{{ category.id }}" data-name="{{ category.name }}" data-namefr="{{ category.namefr }}">
                <a class="nav-link {{ loop.index == 1 ? 'active' : '' }}" href="#thematic-{{ category.id }}" data-toggle="tab">
                    {% set oName = {'en': category.name, 'fr': category.namefr} %}
                    {{ oName[app.request.locale] }}
                </a>
                <div class="nav-link--actions">
                    <button class="thematic-btn thematic-btn--edit category-btn--edit">  <span class="fa fa-pencil"></span> </button>    
                    <div class="delete-form-wrapper pull-right ml-2">
                        <form method="post" action="{{ path('admin_remove_discipline_category', {'id': category.id}) }}">
                            <button class="thematic-btn thematic-btn--delete need-confirmation" confirmation-message="Voulez vous supprimer {{ category.name }}?"> 
                                <i class="fa fa-trash"></i>
                            </button>
                        </form>
                    </div>        
                </div>
            </li>
        {% endfor %}
    </ul>
</div>