<div class="modal" tabindex="-1" role="dialog" id="discipline-category-form-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{% trans %}Ajouter{% endtrans %} une catégorie</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          {{ form_start(categoryForm, {'attr': {'id': 'discipline-category-form'}}) }}
          <div class="form-group">
            <label>{% trans %}Nom du categorie{% endtrans %}</label>
            {{ form_widget(categoryForm.name , {'attr': {'class': 'form-control'}}) }}
          </div>

          <div class="form-group">
            <label>{% trans %}Traduction fr{% endtrans %}</label>
            {{ form_widget(categoryForm.name_fr, {'attr': {'class': 'form-control'}}) }}
          </div>

          <div class="actions-footer">
            <button type="submit" class="btn btn-primary">
              <span class="spinner-border spinner-border-sm  onload d-none" role="status" aria-hidden="true"></span>
              {% trans %}Enregistrer{% endtrans %}
            </button>
            <button type="reset" class="btn btn-secondary" data-dismiss="modal">{% trans %}Annuler{% endtrans %}</button>
          </div>
        {{ form_end(categoryForm) }}
      </div>
    </div>
  </div>
</div>