<div class="modal" tabindex="-1" role="dialog" id="discipline-form-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{% trans %}Ajouter{% endtrans %} une discipline</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ form_start(disciplineForm, {'attr': {'id':'discipline-form'}}) }}        
          <div class="form-group">
            <label>{% trans %}Domaine d'études{% endtrans %}</label>
            {{ form_widget(disciplineForm.category, {'attr': {'class':'form-control'}}) }}
          </div>
          
          <div class="form-group">
            <label>{% trans %}Nom du discipline{% endtrans %}</label>
            {{ form_widget(disciplineForm.name, {'attr': {'class':'form-control'}}) }}
          </div>

          <div class="form-group">
            <label>{% trans %}Traduction fr{% endtrans %}</label>
            {{ form_widget(disciplineForm.nameFr, {'attr': {'class':'form-control'}}) }}
          </div>

          <div class="actions-footer">
            <button type="submit" class="btn btn-primary" id="discipline--submit-btn">
              <span class="spinner-border spinner-border-sm  onload d-none" role="status" aria-hidden="true"></span>
              {% trans %}Enregistrer{% endtrans %}
            </button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans %}Annuler{% endtrans %}</button>
          </div>
        {{ form_end(disciplineForm) }}

      </div>
    </div>
  </div>
</div>