{% set lang = app.request.locale %}
<div class="tile pb-4">
    <div class="thematic-list-header">
        <h4>Disciplines</h4>
        <button class="btn btn-primary discipline-btn--new">
            {% trans %}Ajouter{% endtrans %}
        </button>
    </div>
</div>

<div class="tab-content px-2">
    {% for category in categories %}
        <div class="tab-pane {{ loop.index == 1 ? 'active' : '' }}" id="thematic-{{ category.id }}">

            {% set oDisciplines = category.disciplines|sort((a, b) => a.name|upper <=> b.name|upper) %}
            {% if lang == 'fr' %}
                {% set oDisciplines = category.disciplines|sort((a, b) => a.nameFr|upper <=> b.nameFr|upper) %}    
            {% endif %}
            
            {% for discipline in oDisciplines %}
                <div class="timeline-post discipline-data" data-id="{{ discipline.id }}" data-name="{{ discipline.name }}" data-namefr="{{ discipline.namefr }}" data-category="{{ category.id }}">
                    <div class="post-media">
                        <div class="content">
                            <h5>
                                <a href="#" class="discipline-item">
                                    <span class="fa fa-check-circle"></span>
                                    <span href="#" data-title="question.title">
                                        {% set oName = {'en': discipline.name, 'fr': discipline.namefr} %}
                                        {{ oName[lang] }}
                                    </span>
                                </a>
                            </h5>
                        </div>
                    </div>
                    <div class="question-btn-group">
                        <button class="question-btn question-btn--edit discipline-btn--edit">   <span class="fa fa-pencil"></span> </button>    
                        <div class="delete-form-wrapper">
                            <form method="post" action="{{ path('admin_discipline_delete', {'id': discipline.id}) }}">
                                <button class="question-btn question-btn--delete need-confirmation" confirmation-message="Voulez vous supprimer {{ discipline.name }}?"> 
                                    <i class="fa fa-trash"></i>
                                </button>
                            </form>
                        </div>    
                    </div>
                </div>
            {% endfor %}            

        </div>
    {% endfor %}
</div>
