<!--
 * @ Author: DADAY Andry
 * @ Create Time: 2021-12-16 17:45:27
 * @ Modified by: DADAY Andry
 * @ Modified time: 2021-12-20 20:44:34
 * @ Description:
 -->

<template>
    <div class="el-duplicated--container">
        <template v-for="item, index in model">
            <div class="row el-duplicated--item" :key="'academic-duplicated--'+index">
                 <div class="col-md-6">
                    <label class="fm-label">Nom de l'établissement*</label>
                    <el-input type="text" v-model="model[index].institution" />
                </div>
            
                <div class="col-md-6">
                    <label class="fm-label">Date d'obtention du diplôme*</label>
                    <el-input type="date" v-model="model[index].date" />
                </div>
                

                <div class="col-md-6">
                    <label class="fm-label">Nom exact du diplôme*</label>
                    <el-input type="text" v-model="model[index].gradeName" />
                </div>

                <div class="col-md-6">
                    <label class="fm-label">Mention</label>
                    <el-input type="text" v-model="model[index].mention" />
                </div>

                <div class="col-md-6">
                    <label class="fm-label">Pays de l'établissement *</label>
                    <div class="el-country-select">
                        <country-select 
                            v-model="model[index].country"
                            :multiple="false"
                            :all="false"
                        /> 
                    </div>
                </div>

                <div class="col-md-6">
                    <label class="fm-label">Departement*</label>
                    <el-input type="text" v-model="model[index].departement" />
                </div>

                <div class="col-md-6">
                    <label class="fm-label">Ville *</label>
                    <div class="el-input-adress">
                        <adresse-input :icon="false" v-model="model[index].city" />
                    </div>
                </div>

                
                <div class="col-md-6">
                    <template v-if="index > 0">
                        <div class="remove-entry--container">
                            <button @click.prevent="removeLine(index)">
                                <span class="fa fa-trash"></span>
                                <span> Retirer cette qualification </span>
                            </button>
                        </div>
                    </template>
                </div>
            </div>
        </template>
        <template>
            <div class="form-item--controls">
                <button @click.prevent="addNewLine">
                    <span class="fa fa-plus mr-2"></span>
                    <span>Ajouter une qualification</span>
                </button>
            </div>
        </template>
    </div>
</template>

<script>

import AdresseInput             from "@/components/common/AdresseInput.vue" 
import PhoneInput               from '@/components/common/PhoneInput.vue'
import CountrySelect            from '@/components/common/CountrySelect.vue'
import Qualification            from "../../configs/qualification.js"

export default {
    name: 'GenerateFormItem',
    props: {
        widget: {
            require: true
        },
        dataModel: {
            require: true
        }
    },

    components:{
        AdresseInput,
        PhoneInput,
        CountrySelect
    },

    data: function(){
        return {
            model : false
        }
    },

    computed: {
        itemModel: function(){
            return Qualification.options.defaultValue[0]
        }
    },
    

    methods: {
        /**
         * Initialized the cloone defaultvalue option value
         * 
         * @return void
         */
        initModelValue: function(){
            if(this.dataModel){
                this.model = this.dataModel
                return 
            }
            this.model = [{...this.itemModel}]
        },

        /**
         * Add a new recommendation entry
         * 
         * @return void
         */
        addNewLine: function(){
            this.model.push({...this.itemModel})
        },

        /**
         * Remove a selected recommendation
         * 
         * @param {Integer} index
         * @return void
         */
        removeLine: function(index){
            this.model.splice(index, 1)
        }
    },

    mounted: function(){
        this.initModelValue()
    },

    watch: {
        model:{
            deep: true,
            handler: function(value){
                this.$emit('change', value)
            }
        }
    }
}
</script>
<style scoped lang="scss" src="@/components/vue-form-making/styles/el-duplicated.scss"></style>