<!--
 * @ Author: DADAY Andry
 * @ Create Time: 2021-12-16 17:45:27
 * @ Modified by: DADAY Andry
 * @ Modified time: 2021-12-16 18:37:15
 * @ Description:
 -->

<template>
    <div class="el-duplicated--container">
        <template>
            <div class="row el-duplicated--item">
                
                <div class="col-md-6">
                    <label class="fm-label">Nom de l'établissement*</label>
                    <el-input type="text" v-model="model.institution" />
                </div>
            
                <div class="col-md-6">
                    <label class="fm-label">Date d'obtention du diplôme*</label>
                    <el-input type="date" v-model="model.date" />
                </div>
                

                <div class="col-md-6">
                    <label class="fm-label">Nom exact du diplôme*</label>
                    <el-input type="text" v-model="model.gradeName" />
                </div>

                <div class="col-md-6">
                    <label class="fm-label">Mention</label>
                    <el-input type="text" v-model="model.mention" />
                </div>

                <div class="col-md-6">
                    <label class="fm-label">Pays de l'établissement *</label>
                    <div class="el-country-select">
                        <country-select 
                            v-model="model.country"
                            :multiple="false"
                            :all="false"
                        /> 
                    </div>
                </div>

                <div class="col-md-6">
                    <label class="fm-label">Departement*</label>
                    <el-input type="text" v-model="model.departement" />
                </div>

                <div class="col-md-6">
                    <label class="fm-label">Ville *</label>
                    <div class="el-input-adress">
                        <adresse-input :icon="false" v-model="model.city" />
                    </div>
                </div>
                
            </div>
        </template>
        <template>
            <div class="form-item--controls">
                <button  @click.prevent="">
                    <span class="fa fa-plus mr-2"></span>
                    <span>Ajouter une qualification</span>
                </button>
            </div>
        </template>
    </div>
</template>

<script>

import AdresseInput           from "@/components/common/AdresseInput.vue" 
import PhoneInput             from '@/components/common/PhoneInput.vue'
import CountrySelect          from '@/components/common/CountrySelect.vue'

export default {
    name: 'WidgetItemQualification',
    
    components:{
        AdresseInput,
        PhoneInput,
        CountrySelect
    },
    
    props: {
        element: {
            require: true
        }
    },

    data: function(){
        return {
            model : false
        }
    },
}
</script>
<style scoped lang="scss" src="@/components/vue-form-making/styles/el-duplicated.scss"></style>