<template>
    <infos-card-private v-if="context == 'private'"  :organization="organization" />
    <infos-card-public  v-else :organization="organization"/>
    
</template>

<script>
import InfosCardPrivate from './InfosCardPrivate.vue'
import InfosCardPublic  from './InfosCardPublic.vue'
export default {
  components: { InfosCardPrivate, InfosCardPublic },
    name: 'InfosCard',
    props: {
        organization: {
            require: true
        },
        context: {
            default : 'private'
        }
    }
}
</script>