<template>
    <div class="infos-card--wrapper">
        <div class="infos-card--container">
            <template v-if="hiddenFields.includes('institution_type')">
                <div class="infos-card--item">
                    <div class="card--item-icon">
                        <img :src="image.institution">
                    </div>
                    <div class="card--item-content"> 
                        <p class="title">TYPE D'INSTITUTION</p>
                        <p class="value" v-if="organization.institution_type">
                            <span>
                            {{ $t('organizationType.'+organization.institution_type.id) }}
                            </span>
                        </p>
                    </div>
                </div>
            </template>

            <template v-if="hiddenFields.includes('year_of_creation')">
                <div class="infos-card--item">
                    <div class="card--item-icon">
                        <img :src="image.calendrier">
                    </div>
                    <div class="card--item-content"> 
                        <p class="title">ANNEE DE CREATION</p>
                        <p class="value" v-if="organization.year_of_creation">
                            {{ organization.year_of_creation }}
                        </p>
                        <p v-else class="value">{{ $t('word.all') }}</p>
                    </div>
                </div>
            </template>
            
            <template v-if="hiddenFields.includes('men_count')">
                <div class="infos-card--item">
                    <div class="card--item-icon sex-icon">
                        <img :src="image.sexe">
                    </div>
                    <div class="card--item-content"> 
                        <p class="title">RATIO</p>
                        <p class="value">
                            {{ organization.statistical ? organization.statistical.men_count : 0 }}
                                    /
                            {{ organization.statistical ? organization.statistical.women_count  : 0 }}
                        </p>
                    </div>
                </div>
            </template>

            <template v-if="hiddenFields.includes('scholarship_awarded')">
                <div class="infos-card--item">
                    <div class="card--item-icon">
                        <img :src="image.users">
                    </div>
                    <div class="card--item-content"> 
                        <p class="title">NOMBRE DE BOURSE</p>
                        <p class="value">
                            {{ organization.statistical ? organization.statistical.scholarship_awarded : 0 }}
                        </p>
                    </div>
                </div>
            </template>

            <template v-if="hiddenFields.includes('website')">
                <div class="infos-card--item">
                    <div class="card--item-icon">
                        <img :src="image.site">
                    </div>
                    <div class="card--item-content"> 
                        <p class="title">SITE INTERNET</p>
                        <p class="value value-text text-truncatable">
                            {{ organization.website }}
                        </p>
                    </div>
                </div>
            </template>
            
            <template v-if="hiddenFields.includes('acceptance_rate')">
                <div class="infos-card--item">
                    <div class="card--item-icon">
                        <img :src="image.thumbup">
                    </div>
                    <div class="card--item-content"> 
                        <p class="title">RATIO D'ACCEPTATION</p>
                        <p class="value">
                            {{ organization.statistical ? organization.statistical.acceptance_rate : 0 }}
                        </p>
                    </div>
                </div>
            </template>


            <template>
                <social-netwok-links :socialNetwork="organization.social_network" />
            </template>
        </div>
    </div>
</template>

<script>

import OrganizaitonInfosCardMixin from "@/mixins/OrganizaitonInfosCardMixin.js"
export default {
    name: 'InfosCardPublic',
    mixins: [OrganizaitonInfosCardMixin]
}
</script>

<style scoped src="./style.css"></style> 