<template>
    <div class="infos-card--wrapper">
        <div class="infos-card--container infos-card--row">
            <div class="infos-card--col">
                <div class="infos-card--item">
                    <div class="card--item-icon">
                        <img :src="image.institution">
                    </div>
                    <div class="card--item-content"> 
                        <p class="title">TYPE D'INSTITUTION</p>
                        <p class="value" v-if="organization.institution_type">
                            <span>
                            {{ $t('organizationType.'+organization.institution_type.id) }}
                            </span>
                        </p>
                    </div>
                    <div class="card--item-status">
                        <button class="item-status--toogler" @click="toogleFieldState('institution_type')">
                            <span class="fa fa-eye" :class="{ off: hiddenFields.includes('institution_type') }"></span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="infos-card--col">
                <div class="infos-card--item">
                    <div class="card--item-icon">
                        <img :src="image.calendrier">
                    </div>
                    <div class="card--item-content"> 
                        <p class="title">ANNEE DE CREATION</p>
                        <p class="value" v-if="organization.year_of_creation">
                            {{ organization.year_of_creation }}
                        </p>
                        <p v-else class="value">{{ $t('word.all') }}</p>
                    </div>
                    <div class="card--item-status">
                        <button class="item-status--toogler" @click="toogleFieldState('year_of_creation')">
                            <span class="fa fa-eye" :class="{ off: hiddenFields.includes('year_of_creation') }"></span>
                        </button>
                    </div>
                </div>
            </div>

            
            <div class="infos-card--col">
                <div class="infos-card--item">
                    <div class="card--item-icon sex-icon">
                        <img :src="image.sexe">
                    </div>
                    <div class="card--item-content"> 
                        <p class="title">RATIO</p>
                        <p class="value">
                            {{ organization.statistical ? organization.statistical.men_count : 0 }}
                                    /
                            {{ organization.statistical ? organization.statistical.women_count  : 0 }}
                        </p>
                    </div>
                    <div class="card--item-status">
                        <button class="item-status--toogler" @click="toogleFieldState('men_count')">
                            <span class="fa fa-eye" :class="{ off: hiddenFields.includes('men_count') }"></span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="infos-card--col">
                <div class="infos-card--item">
                    <div class="card--item-icon">
                        <img :src="image.users">
                    </div>
                    <div class="card--item-content"> 
                        <p class="title">NOMBRE DE BOURSE</p>
                        <p class="value">
                            {{ organization.statistical ? organization.statistical.scholarship_awarded : 0 }}
                        </p>
                    </div>
                    <div class="card--item-status">
                        <button class="item-status--toogler" @click="toogleFieldState('scholarship_awarded')">
                            <span class="fa fa-eye" :class="{ off: hiddenFields.includes('scholarship_awarded') }"></span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="infos-card--col">
                <div class="infos-card--item">
                    <div class="card--item-icon">
                        <img :src="image.site">
                    </div>
                    <div class="card--item-content"> 
                        <p class="title">SITE INTERNET</p>
                        <p class="value">
                            <a :href="organization.website" target="__blank">Voir le site web</a>
                        </p>
                    </div>
                    <div class="card--item-status">
                        <button class="item-status--toogler" @click="toogleFieldState('website')">
                            <span class="fa fa-eye" :class="{ off: hiddenFields.includes('website') }"></span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="infos-card--col">
                <div class="infos-card--item">
                    <div class="card--item-icon">
                        <img :src="image.thumbup">
                    </div>
                    <div class="card--item-content"> 
                        <p class="title">RATIO D'ACCEPTATION</p>
                        <p class="value">
                            {{ organization.statistical ? organization.statistical.acceptance_rate : 0 }}
                        </p>
                    </div>
                    <div class="card--item-status">
                        <button class="item-status--toogler" @click="toogleFieldState('acceptance_rate')">
                            <span class="fa fa-eye" :class="{ off: hiddenFields.includes('acceptance_rate') }"></span>
                        </button>
                    </div>
                </div>
            </div>


            <template>
                <social-netwok-links :socialNetwork="organization.social_network" />
            </template>
        </div>
    </div>
</template>

<script>

import OrganizaitonInfosCardMixin from "@/mixins/OrganizaitonInfosCardMixin.js"
import ProfilService              from "@/services/organization/ProfilService.js"
export default {
    name: 'InfosCardPrivate',

    mixins: [OrganizaitonInfosCardMixin],

    methods: {
        /**
         * Toogle a selected field hidden status
         * 
         * @param {String} field
         * @return void
         */
        toogleFieldState: function(field){
            const index = this.hiddenFields.indexOf(field)
            if(index === -1){
                this.hiddenFields.push(field)
            }else{
                this.hiddenFields.splice(index, 1)
            }
            this.updateHiddenFields()
        },

        /**
         * Persist the current hidden fields state
         * 
         * @return void
         */
        updateHiddenFields: function(){
            let that = this
            ProfilService.updateHiddenFields(this.hiddenFields).then(
                (response) => {
                    if(response.data.success){
                        that.$store.dispatch("user/updateInfos")
                    }
                }
            )
        },
    },

    watch: {
        /*
        hiddenFields: {
            immediate: false,
            deep: true,
            handler: function(){
                this.updateHiddenFields()
            }
        }*/
    }
}
</script>



<style scoped src="./style.css"></style> 
<style scoped lang="sass">
    .infos-card--row{
        .infos-card--col {
            width: 50%;
            margin-bottom: 1.5rem;

            .infos-card--item{
                width: fit-content !important;
                padding: 0.5rem;
                border-radius: 0.8rem; 
                cursor: pointer;

                .card--item-status{
                    display: none;
                    margin-left: 10px;
                    
                    .item-status--toogler {
                        background: none;
                        border: none;
                        margin-left: 10px;
                        position: relative;
                        color: #d3d3d3;
                        font-size: 1.5rem;

                        .off:after{
                            content: "/";
                            position: absolute;
                            left: 0;
                            right: 0;
                            font-size: 2.2rem;
                            margin-top: -5px;
                            font-weight: 600;
                        }
                    }
                }
                
                &:hover{
                    outline: solid 1px #dee2e6;

                    .card--item-status{
                        display: flex
                    }
                }
                
            }
        }


        
        
    }
    
</style>
<style scoped>

    
</style>