<template>
    <div class="infos-card--item social-network--item" v-if="socialNetwork">
        <div class="social-network--item-link">
            <a v-if="!isVideoBaseUrl(socialNetwork.youtube)" :href="socialNetwork.youtube" target="_blank">
                <img :src="image.youtube">
            </a>
            <a v-else class="diseabled-link">
                <img :src="image.youtube">
            </a>
        </div>
        <div class="social-network--item-link">
            <a v-if="!isVideoBaseUrl(socialNetwork.twitter)" :href="socialNetwork.twitter" target="_blank">
                <img :src="image.twitter">
            </a>
            <a v-else class="diseabled-link">
                <img :src="image.twitter">
            </a>
        </div>
        <div class="social-network--item-link">
            <a v-if="!isVideoBaseUrl(socialNetwork.facebook)" :href="socialNetwork.facebook" target="_blank">
                <img :src="image.facebook">
            </a>
            <a v-else class="diseabled-link">
                <img :src="image.facebook">
            </a>
        </div>
        <div class="social-network--item-link">
            <a v-if="!isVideoBaseUrl(socialNetwork.instagram)" :href="socialNetwork.instagram" target="_blank">
                <img :src="image.instagram">
            </a>
            <a v-else class="diseabled-link">
                <img :src="image.instagram">
            </a>
        </div>
        <div class="social-network--item-link">
            <a v-if="!isVideoBaseUrl(socialNetwork.linkedin)"  :href="socialNetwork.linkedin" target="_blank">
                <img :src="image.linkedin">
            </a>
            <a v-else class="diseabled-link">
                <img :src="image.linkedin">
            </a>
        </div>
    </div>
</template>

<script>
import IconImages from '@/services/helpers/IconImages.js'

export default {
    name: 'SocialNetworkLinks',

    props: {
        socialNetwork: {
            require: true
        }
    },

    data: function(){
        return {
         image: {...IconImages} 
        }
    }
}
</script>

<style scoped src="./style.css"></style>