.infos-card--container{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.infos-card--item {
    width: 50%;
    display: flex;
}
.infos-card--item:not(:last-child){
    margin-bottom: 1.5rem;
}

.card--item-icon {
    margin-right: 1rem;
    min-width: 25px;
    max-width: 25px;
    max-height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.card--item-icon.sex-icon img {
    max-height: 25px;
}
.card--item-content,
.card--item-content p
{
    font-family: "NunitoSans-SemiBold" !important;
    margin-bottom: 0;
}
.card--item-content .title {
    font-size: 12px;
    text-transform: uppercase;
}
.card--item-content .value {
    color: #6196FF;
}
.card--item-content .value-text {
    font-size: 12px;
}
.card--item-content .text-truncatable {
    width: 75%;
    overflow: hidden;
    text-overflow: ellipsis;
}


.infos-card--item.social-network--item {
    margin-top: 1rem;
}
.infos-card--item.social-network--item img{
    filter: invert(50%) sepia(94%) saturate(1410%) hue-rotate(198deg) brightness(101%) contrast(100%)
}

.social-network--item-link{
    margin-right: 1.5rem ;
}

@media (max-width:1720px) {
    .card--item-content .title{
            font-size: 10px;
    }
    .card--item-icon img {
        max-height: 18px;
    } 
    .social-network--item-link img {
        max-height: 18px;
    }
} 
@media (max-width:1500px) {
    .card--item-content .value {
        font-size: 14px;
    }
    .card--item-content .text-truncatable{
        width: 60%;
        font-size: 12px;
    }
}

@media (max-width:1200px) {
   .card--item-icon{
        margin-right: .5rem;
        min-width: unset;
        max-width: 18px;
        max-height: 25px;
    }
    .card--item-content .value{
        font-size: 12px;
    }
    .infos-card--item.social-network--item img {
        max-width: 18px;
    }
   
}


@media (max-width:991px) {
  
    .card--item-content .title {
        font-size: 10px;
    }
    .card--item-content .value {
        font-size: 14px;
    }
    .card--item-content .text-truncatable{
        width: 60%;
        font-size: 12px;
    }
    .infos-card--wrapper {
        margin-top: 2rem;
    }
}

@media (max-width:420px) {
   .card--item-icon{
        margin-right: .5rem;
        min-width: unset;
        max-width: 18px;
        max-height: 25px;
    }
    .card--item-content .value{
        font-size: 12px;
    }
    .infos-card--item.social-network--item img {
        max-width: 18px;
    }
}