<template>
    <div class="comment-view-template-fragment" v-click-outside="closeComment">
        <div class="comment-view-template" v-if="comments.length">
            <button @click="displayComment">
                <img :src="icon" />
            </button>
            <div class="comment-list-container" v-if="showComment">
                <a href="#" class="close-comment" @click.prevent="closeComment">x</a>
                <div class="comment-item" v-for="comment, index in comments" :key="'comment-index-'+index">
                    <label class="constructive" v-if="comment.constructive">Critique constructive</label>
                    <p class="content">
                       {{ comment.content }}
                    </p>
                    <p class="comment-date">
                        {{ formatDateRender(comment.date_creation, local, true) }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'CommentView',
    props: {
        comments: {
            required: true
        }
    },
    data: function(){
        return {
            icon : require('@/assets/img/Commentaire.svg').default,
            showComment : false
        }
    },
    computed: {
        itemCount: function(){
            return this.comments.length ?? 0
        }
    },
    methods: {
        /**
         * Show comment pannel
         * 
         * @return void
         */
        displayComment: function(){
            this.showComment = true
        },

        /**
         * close comment pannel
         * 
         * @return void
         */
        closeComment: function(){
            this.showComment = false
        }
    }
}
</script>

<style scoped>
    .comment-view-template-fragment {
        position: relative;
    }

    .comment-view-template {
        position: absolute;
        right: 0;
        z-index: 9;
    }
    .comment-view-template button {
        position: absolute;
        right: 0;
        width: 45px;
        height: 45px;
        padding: 10px;
        padding-top: 12px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background: #ff7667;
    }

    .comment-view-template button img {
        filter: brightness(0) invert(1);
    }

    .comment-list-container {
        max-width: 30rem;
        background: #ebeef5;
        margin-right: 3rem;
        margin-top: 3rem;
        padding: 1rem;
        border-radius: 7px;
        position: relative;
    }

    .comment-item {
        padding: 1rem;
        border: solid 1px #ff7667;
        background: white;
        border-radius: 10px;
        margin: 1rem;
    }

    .comment-item .content {
        color: #606266 !important;
        margin-bottom: 0;
    }

    .comment-item .constructive {
        font-family: 'NunitoSans-SemiBold';
        color: #ff7667;
    }

    a.close-comment {
        position: absolute;
        right: 10px;
        top: 5px;
        color: grey !important;
        border-radius: 100;
    }
    .comment-date {
        margin-bottom: 0;
        font-size: 12px !important;
        text-align: right;
        color: #b6b6b6 !important;
    }

</style>