<template>
    <div class="row">
        <div class="col-md-6 col-lg-3 hde">
            <div class="form-group">
                <label class="item-form-label">{{ $t("word.discipline") }}</label>
                <StudyFieldSelect 
                    :all="true"
                    :onlyFavorite="true"
                    :multiple="false"
                    v-model="filter.discipline"
                    @listLoaded="setAllDiscipline"
                /> 
            </div>
        </div>
        <div class="col-md-6 col-lg-3 hde">
            <div class="form-group">
                <label class="item-form-label">{{ $t("scholarship.label.host_nationality") }}</label>
                <NationalitySelect 
                    :all="false"
                    :multiple="false"
                    v-model="filter.nationality"
                /> 
            </div>
        </div>
        <div class="col-md-6 col-lg-3 hde">
            <div class="form-group">
                <label class="item-form-label">{{ $t('scholarship.label.destination_country') }}</label>
                <CountrySelect 
                    :all="true"
                    :multiple="false"
                    :onlyFavorite="true"
                    v-model="filter.country"
                    @listLoaded="setAllCountry"
                /> 
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <auto-complete-input  @selected="onSelectedSuggestion" :scholarships="scholarships" />
        </div>
    </div>
</template>

<script>
import StudyFieldSelect  from "@/components/common/StudyFieldSelect.vue"
import CountrySelect     from "@/components/common/CountrySelect.vue"
import NationalitySelect from "@/components/common/NationalitySelect.vue"
import AutoCompleteInput from '@/components/Scholarship/AutoCompleteInput.vue'

export default {
    name  :"ScholarshipMapsFilter",
     components: {
        StudyFieldSelect,
        CountrySelect,
        NationalitySelect,
        AutoCompleteInput
    },
    props : {
        scholarships : {
            require  : true,
            default  : false
        },
        value: {
            require  : true
        }
    },
    data: function(){
        return {
            filter:{
                discipline     : null,
                allDiscipline  : [],
                nationality    : null,
                allNationality : [],
                country        : null,
                allCountry     : [], 
                name          : null,
            },

        }
    },
    methods: {
        setAllDiscipline(data){
           this.filter.allDiscipline = data
        },
        setAllCountry(data){
           this.filter.allCountry = data
        },
        onSelectedSuggestion: function(scholarship){
            this.filter.name = scholarship.name
            this.$emit("selectedSuggestion", scholarship)
        },
    },
    watch: {
        filter: {
            deep: true,
            handler: function(val){
              this.$emit("input", val)
            }
        }
    },
}
</script>

<style scoped>

    
    
    .form-group {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        min-height: 100%;
    }

     .form-group label{
        text-align: left;
        letter-spacing: 1px;
        color: #6196FF;
        text-transform: uppercase;
        opacity: 1;
        font-family: "NunitoSans-Bold" !important;
        font-size: 15px;
    }
</style>