<template>
   <Modal size="md" name="scholarship-maps-modal" class="scholarship-maps-modal">
        <div slot="header" class="w-100">
            <div class="scholarship-filter-form">
                <ScholarshipMapsFilter 
                    @selectedSuggestion="onSelectedSuggestion" 
                    :scholarships="allScholarships"
                    v-model="filter"

                />
            </div>
            <div class="modal-closer">
                <a class="close" @click="$emit('close')">
                    <img :src="require('@/assets/img/icon-croix.svg').default" />
                </a>
            </div>
        </div>
        <div slot="body"> 
            <div class="maps-container">
                <div class="result-amount hde">
                    <div class="result-amount--item" v-if="worldAgregate">
                        <label class="text-blue">{{ Number(worldAgregate.amount)|toCurrency }} {{ $t('word.available') }}</label>
                        <p class="text-small"> {{ $t('word.on') }} {{ worldAgregate.count }} {{ $t('scholarship.world_available') }}</p>
                    </div>
                    <div class="result-amount--item" v-if="criteriaAgregate">
                        <label class="text-blue">{{ Number(criteriaAgregate.amount)|toCurrency() }} {{ $t('word.available') }}</label>
                        <p class="text-small">  {{ $t('word.on') }} {{ criteriaAgregate.count }} {{ $t('scholarship.world_available') }}</p>
                        <p class="text-blood">{{ $t('scholarship.match_criteria') }}</p>
                    </div>
                </div>

                <div class="maps-wrapper">
                   <GMap :scholarships="scholarships" v-bind:goTo="selectedLocation"/>
                </div>
                <div class="locked">
                    <span class="fa fa-lock"></span>
                    <span class="label-locked">
                        <p class="text-bold">{{ $t('scholarship.not_fav') }}</p>
                        <p class="infos">
                            {{ $t('scholarship.see_all_map') }}
                        </p>
                    </span>
                </div>
            </div>  
        </div>
    </Modal>
  
</template>

<script src="./ScholarshipMapsModal.js" />

<style src="./style.css"></style>
<style scoped>
    .scholarship-filter-form {
        padding: 0 2rem;
    }
</style>