.scholarship-maps-modal .modal-container{
    max-width: 90% !important;
    border-radius: unset !important;
    padding: 0;
}
.scholarship-maps-modal .modal-header {
    box-shadow: 0px 7px 4px #64646429;
    padding: 1rem 6rem;
    position: relative;
}
.scholarship-maps-modal .modal-header .close:hover,
.scholarship-maps-modal .modal-header .close {
    color: #D3D3D3 !important;
    font-weight: 200;
    border-radius: 50% !important;
    width: 50px !important;
    height: 50px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background: #FF7667 0% 0% no-repeat padding-box;
    box-shadow: 0px 45px 12px #6464646B;
    opacity: 1;
    position: absolute;
    right: 0;
    top: 0;
}

.scholarship-maps-modal .result-amount {
    display: flex;
    padding: 1.5rem 4rem !important;
    position: absolute;
    left: 0;
    z-index: 9;
}

.scholarship-maps-modal .result-amount--item {
    background: #F6F7FF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 9px #6464647F;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 2rem;
    margin-right: 2rem;
}

.scholarship-maps-modal .text-blue {
    text-align: center;
    letter-spacing: 1px;
    color: #6196FF;
    opacity: 1;
    font-family: 'NunitoSans-Bold' !important;
    font-size: 1.3rem;
}

.scholarship-maps-modal .text-small {
    margin: 0 !important;
    letter-spacing: 0px;
    color: #3C3850 !important;
    opacity: 1;

}
.scholarship-maps-modal .text-blood {
    letter-spacing: 0px;
    color: #3C3850;
    opacity: 1;
    font-family: 'NunitoSans-Bold' !important;
}



.scholarship-maps-modal .locked {
    padding: 1rem 2rem;
    background-color: #F5F7F7;
    position: absolute;
    left: 2rem;
    bottom: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.scholarship-maps-modal .locked p{
    margin-bottom: 0;
    color: #000;
    font-size: 14px;
}
.scholarship-maps-modal .locked p:first-of-type{
    margin-bottom: 0;
    color: #000;
    font-size: 14px;
    font-weight: 600;
}
.scholarship-maps-modal .locked span.fa {
    border: 1px solid #cfcfcf;
    padding: rem;
    border-radius: 50%;
    color: #cfcfcf;
    font-size: 25px;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

.scholarship-maps-modal .locked span.label-locked{
    text-align: center;
}
.scholarship-maps-modal .locked .infos{
    color: #FF7667;
    font-size: 12px;
}
.scholarship-maps-modal .locked .text-bold{
    font-weight: 600;
}



@media (max-width:768px){
    .scholarship-maps-modal  .result-amount--item p.text-small,
    .scholarship-maps-modal  .result-amount--item p.text-blood {
        font-size: 14px;
    }
    .scholarship-maps-modal .result-amount--item{
        padding: .5rem;
    }
    .scholarship-maps-modal .locked{
        position: relative;
        bottom: 0;
        left: 0;
        padding: 1rem;
    }
}
@media (max-width:425px){

    .scholarship-maps-modal .modal-container{
        max-width: 100% !important;
    }
    .hde, .scholarship-maps-modal .gmnoprint,.scholarship-maps-modal .gm-control-active.gm-fullscreen-control{
        display: none !important;
    }
    .scholarship-maps-modal .modal-header .close:hover, .scholarship-maps-modal .modal-header .close {
        color: #fff !important;
        font-weight: 200;
        border-radius: 50% !important;
        width: 50px !important;
        height: 50px !important;
        display: inherit !important;
        background: transparent;
        box-shadow: none;
        opacity: 1;
        position: absolute;
        right: inherit;
        left: 0;
        top: 40%;
        filter: brightness(2);
    }
    .scholarship-maps-modal .modal-header {
        box-shadow: none;
        padding: 1rem 6rem;
        z-index: 9;
        position: absolute;
    }
    .scholarship-maps-modal .form-group .form-search-input .form-control {
        width: 305px;
    }
    .scholarship-maps-modal .modal-header .search-icon {
        color: #D0CEDA;
    }
    
    .scholarship-maps-modal .vue-map-container{
        height: 80vh !important;
    }
    
}
@media (max-width:375px){
    .scholarship-maps-modal .form-group .form-search-input .form-control {
        width: 260px;
    }

    .scholarship-maps-modal .locked p:first-of-type {
        font-size: 13px;
    }
}
@media (max-width:320px){
    .scholarship-maps-modal .form-group .form-search-input .form-control {
        width: 210px;
    }
    
}