<template>
  <div class="language-cta cta"  :class="toggleShowDetaill ? 'open': ''">
    <div class="cta-item" @click="toggleShowDetaill">
      <div class="cta-icon"></div>
      
      <div class="cta-label">
        <label>{{$t('word.language')}}</label>
        <p class="cta-item-count" v-if="student.languages.length > 0">
          {{ student.languages.length }}  <span style="text-transform:lowercase">{{$t('word.language')}}s</span>
        </p>
      </div>

      <div v-if="context == 'private'">
        <div class="cta-action" v-show="!stateCategory || !student.languages.length" >
          <div class="icon action-add" @click="openNewLangue"></div>
          <div class="icon action-edit" v-if="student.languages.length > 0"></div>
        </div>
        <div class="icon action-arrow" v-show="(stateCategory)" v-if="student.languages.length > 0"></div>
      </div>
      <div class="icon action-arrow" v-else></div>

    </div>
    <div :class="[(stateCategory)  ? 'list-category-cta' : 'list-hide']" v-if="student.languages !== null && student.languages !== undefined && student.languages.length">
      <div class="item-category-cta" v-for="language in student.languages" :key="language.id" >
        <div class="item-title-cta">
          <span class="mr-3 flag-container"><lang-flag :iso="language.language.code" /> </span>
          <span>
            <h4>{{ (language.language == null ) ? '' :  language.language.name }}</h4>
          </span>
        </div>
        <div class="item-info-cta" >
           <p>
            <span>{{$t('word.level')}} :</span>
            <b>{{ (language.level == null) ? '' : language.level.name   }}</b> 
           </p>
        </div>
        <div class="item-action-cta" v-if="context == 'private'">
          <div class="d-flex" @click="openNewLangue" >
            <button class="btn-add">
              <img :src="icon_add" />
            </button>
            <span class="ml-2"> {{$t('student.parcours.langauge_info1')}}</span>
          </div>
          <!-- replace parameter {} by object formation  -->
          <div class="action-profil" style="display: flex">
            <div @click="openEditLangue(language)" class="icon action-edit"></div>
            <div @click="confirmDelete(language)" class="icon action-remove"></div>
          </div>
        </div>
      </div>
    </div>
    <Modal v-if="showLanguageModalForm" class="student-parcours-modal">
      <div slot="header" class="w-100 text-center pr-3">
        <a class="close" href="" @click.prevent="showLanguageModalForm = false"></a>
        <div>
          <h4 v-if="newLanguage.id == null">{{$t('student.parcours.langauge_info1')}}</h4>
          <h4 v-else>{{$t('student.parcours.langauge_info2')}}</h4>
        </div>
      </div>
      <div slot="body" class="p-4">
        <div class="row text-left">
          <div class="col-sm-6">
            <label>{{$t('word.language')}}</label>
            <LangueSelect  v-model="newLanguage.language" />
          </div>
          <div class="col-sm-6">
            <label>{{$t('word.level')}}</label>
            <Multiselect :showLabels="false" v-model="newLanguage.level" label="name" track-by="id" :options="levels" />
          </div>
        </div>
        <div v-if="message" class="alert alert-danger" role="alert" style="text-align:center;margin:20px">
          {{ $t(message) }}
        </div>
        <div class="text-right w-100 action-container mt-2">
          <hr />
          <DefaultButton className="style1" :text="$t('word.save')" :onLoad="loading" @click.native="updateStudentLangue" />
        </div>
      </div>
    </Modal>

    <Modal v-if="showConfirm"  class="w-100 text-center modal-confirm-profil">
       <div slot="header" class="w-100 text-center pr-3">
        <a class="close" href="" @click.prevent="showConfirm = false"></a>
      </div>
      <div slot="body" class="w-100 px-4">
        <div class="bloc-icon-pouce">
          <img :src="require('@/assets/img/Pouce.svg').default" id="icon-pouce">
        </div>
        <div class="message-confirm">
          <label><b>{{$t('modal.title_modal_confirm_profil_language')}}</b></label>
          <label>{{$t('modal.info_modal_confirm_profil')}}</label>
        </div>
        <div class="btn-confirm-profil">
          <DefaultButton className="outline3 add_element" :text="$t('modal.add_language')" @click.native="openNewLangue" />
          <DefaultButton className="style1 valid_element" :text="$t('word.validate')" @click.native="showConfirm = false" />
        </div>

      </div>
    </Modal>
  </div>
</template>
<script>
import "./style.css";
import LanguageLevelService from "@/services/common/LanguageLevelService.js";
import Multiselect from "vue-multiselect";
import "vue-multiselect/dist/vue-multiselect.min.css";
import ProfilService from "@/services/student/ProfilService.js";
import LangueSelect from "@/components/LangueSelect/LangueSelect.vue";

export default {
  name: "LanguageCta",
  components: {
    Multiselect,
    LangueSelect
  },
  props: {
    showDetail: {
      type:Boolean
    },
    student: {
      required: true
    },
    context: {
      default: 'private'
    }
  },

  data: function () {
    return {
      showLanguageModalForm: false,
      stateCategory: false,
      newLanguage: {
        id : null,
        language: "",
        level: "",
      },
      levels: [],
      loading: false,
      message: false,
      icon_add: require("@/assets/img/add-icon.svg").default,
      message: "",
      showConfirm : false
    };
  },
   watch : {
    showDetail(newVal) {
        this.stateCategory = newVal
    }
  },
  
  methods: {
    checkField(newLanguage) {
        var language =  (newLanguage.language !== "" &&  newLanguage.language !== null) 
        var level =  (newLanguage.level !== "" &&  newLanguage.level !== null) 

      return (language && level)
     },
    
    updateStudentLangue() {
      if(this.checkField(this.newLanguage)) {
          
              this.confirmStudentLanguage()
           
      }else {
         this.message = "word.form.field_incomplet";
      }
     
    },
    toggleShowDetaill() {
      if (this.student.languages.length > 0) {
        this.stateCategory = !this.stateCategory;
        return 
      }
      if(this.context == 'private'){
        this.openNewLangue()
      }
    },
    confirmDelete(Langue) {
      let that = this;
      this.$dialog
        .confirm(that.$t('student.ask.remove_language'), {
          loader: true,
          okText: "valider",
          cancelText: that.$t('word.cancel'),
        })
        .then(function (dialog) {
          that.deleteLangue(Langue, dialog);
        })
        .catch(function (dialog) {
          dialog.close();
        });
    },
    deleteLangue(Langue, dialog) {
      let that = this;
      that.loadDelete = true;
      ProfilService.removeStudentLanguage(Langue.id)
        .then(function (response) {
          if (response.data.success) {
            //mise en jour liste article
            that.$store.dispatch("user/updateInfos");
          } else {
            //afficher snackbar
          }
          dialog.close();
          that.loadDelete = false;
        })
        .catch(function (error) {
          //afficher snackbar

          dialog.close();
        });
    },
    confirmStudentLanguage() {
          let that = this;
          that.loading = true;
          ProfilService.updateStudentLangue(that.newLanguage)
            .then((response) => {
              if (response.data && response.data.success) {
                that.showConfirm = that.newLanguage.id === null
                that.$store.dispatch("user/updateInfos");
                that.showLanguageModalForm = false;
                that.createObjectLangue();
                that.message = "";
              
              }

              that.loading = false;
            })
      .catch((error) => {
            console.log(error);
            that.message = "word.form.internal_error";
            that.loading = false;
            that.showConfirm = false
          });
    },

     createObjectLangue(
       id = null,
       language = null,
       level = null
    ) {

      this.newLanguage = {
        id : id,
        language: language,
        level: level
      }

    },
   openEditLangue(langue) {
      //recuperation inforamation des
 
      this.createObjectLangue(
        langue.id,
        langue.language,
        langue.level

      )
  
      this.showLanguageModalForm = true;
    },
    openNewLangue() {
    //  this.createObjectLangue()
      this.showConfirm = false
      this.showLanguageModalForm = true;

    },
  },
  mounted: function () {
    let that = this;
    
    /*** Init language level var **/
    LanguageLevelService.getList().then((response) => {
      that.levels = response.data.levels ?? [];
    });
  }
};
</script>
<style scoped>
    .flag-container{
      display: flex;
      font-size: 1.3rem;
    }
</style>