<template>
  <div class="language-cta cta open public-cta">
    <div class="cta-item">
      <div class="cta-icon"></div>
      
      <div class="cta-label">
        <label>{{$t('word.language')}}</label>
      </div>
    </div>
    <div class="list-category-cta">
        <template v-if="student.languages !== null && student.languages !== undefined && student.languages.length">
            <div class="item-category-cta" v-for="language in student.languages" :key="language.id" >
              <div class="item-title-cta">
                  {{ (language.language == null ) ? '' :  language.language.name }}
              </div>
              <div class="item-level-cta" >
                {{ (language.level == null) ? '' : language.level.name   }}
              </div>
            </div>
        </template>
        <template v-else>
            <p class="public-empty-parcours--label">{{ $t('student.parcours.empty_parcours') }}</p>
        </template>
    </div>
  </div>
</template>
<script>
import "./style.css"

export default {
  name: "LanguageCtaPublic",
 
  props: {
    student: {
      required: true
    },
    context: {
      default: 'private'
    }
  }

}
</script>
<style scoped>
  .item-category-cta {
      display: flex;
      font-size: 14px;
  }

  .item-title-cta {
      font-family: 'NunitoSans-Bold';
      width: 30%;
      max-width: 10rem;
  }
</style>