<template>
    <language-cta-private v-if="context == 'private'" :showDetail="showDetail" :student="student"  />
    <language-cta-public  v-else :student="student"  />
</template>

<script>

import LanguageCtaPrivate  from "./LanguageCtaPrivate.vue"
import LanguageCtaPublic from "./LanguageCtaPublic.vue"
export default {
    name: "LanguageCta",

    components:{
        LanguageCtaPublic,
        LanguageCtaPrivate
    },

    props: {

        showDetail: {
            type:Boolean
        },
        
        student: {
            required: true
        },

        context: {
            default: 'private'
        }

    },

}
</script>