.language-cta .cta-icon{
  background: url("~@/assets/img/language-icon.svg");
  background-repeat: no-repeat !important;
  background-size: contain !important;
}

.student-parcours-modal .drop-down.language-select * {
  font-size: 14px !important;
  color: #3C3850 !important;
  text-transform: capitalize !important;
}
/** override colore select */
.student-parcours-modal .drop-down.language-select .vs__dropdown-option--highlight,
.student-parcours-modal .drop-down.language-select .vs__dropdown-option--highlight *
{
  background: #3DC5B7 !important;
  color: #fff !important;
}