<template>
    <div>
        <div class="control-section">
            <div class="maps-container">
                <maps 
                    :countryData="serieData" 
                    defaultCountryFillColor="#D0CEDA"
                    :show-overlay="showMapOverlay"
                    @mouseenter="onMouseEnterMapCountry"
                    @mouseleave="onMouseLeaveMapCountry">
                    <template v-slot:overlay>
                        <div class="map-country-hover">
                            {{ overlayText }}
                        </div>
                    </template>
                </maps> 
                <div class="custom-legende">
                    <div class="legend-item" v-for="(legende, key) in legendes" :key="'legende'+key" :style="'background:'+legende.color"></div>
                </div>
            </div>
        </div>
    </div>
</template>
<style scoped>
   

</style>
<script>

import vueWorldMap from "world-map-vue"
import {StatMixin} from "./StatMixin.js"
export default {
    name  : 'OrganizationStudentMaps',
    props : {
        data : {
            default : false
        }
    },
    mixins: [StatMixin],
    data  : function(){
        return{
            serieData : {
               
            },
            countriesData: {
                /*
                US: {
                    students: 500
                    legende : 1
                }*/
            },
            

            showMapOverlay: false,
            overlayText   : ''
        }
    },
    components : {
        maps : vueWorldMap
    },
    methods: {
        onMouseEnterMapCountry(countryCode){
            if(this.countriesData[countryCode]){
                this.overlayText = this.countriesData[countryCode].name +" "+ this.countriesData[countryCode].students +" étudiants"
                this.showMapOverlay = true
            }
        },
        onMouseLeaveMapCountry() {
            this.showMapOverlay = false
        },
        updateDataSerie(data){
            this.serieData = {}
            this.countriesData = {}

            for (let index = 0; index < data.length; index++) {
                const element = data[index]
                
                let key         = element.code
                let legendeKey  = this.getLegendeKey(index, data)
                let value       = this.legendes[legendeKey]
                
                this.serieData   = {
                    ...this.serieData,
                    [key]: value.color
                }
                this.countriesData   = {
                    ...this.countriesData,
                    [key]:{
                        legende  : legendeKey,
                        name     : this.$t("country."+element.id),
                        students : element.students,

                    }
                }
            }
        }

    },
    watch: {
        data: {
            deep: true,
            handler : function(val){
                this.updateDataSerie(val)
            }
        }
    }


}
</script>

<style scoped>
    .maps-container {
        position: relative;
        width: 70%;
        margin: auto;
    }
    @media(max-width:1440px){
        .maps-container {
            width: 90%;
        }
    }
    @media(max-width:1024px){
        .maps-container {
            width: 100%;
        }
    }

    .custom-legende {
        width: 100%;
        height: 1rem;
        display: flex;
        margin-top: 1rem;
    }
    .legend-item {
        width: 100%;
    }
</style>