<template>
    <div class="dashboard-stat-country--content">
        <div class="stat-title">
            <p> {{ $t("organization.dashboard.country_title") }} </p>
        </div>
        <div class="row stat-content">
            <div class="col-sm-7 stat-content--table">
                <div class="stat-content--table-tittle">
                    <div class="title">
                        {{ $t("organization.dashboard.country_top8") }}
                    </div>
                    <div class="caption">
                        <span>{{ $t("organization.dashboard.country_top20") }}</span>
                    </div>
                </div>
                <div class="stat-content--table-content">
                    <table class="stat-custom-table">
                        <colgroup>
                            <col span="1" style="width: 35%;" />
                            <col span="1" style="width: 25%;" />
                            <col span="1" style="width: 20%;"/>
                            <col span="1" style="width: 20%;"/>
                        </colgroup>
                        <thead>
                            <tr>
                                <th> {{ $t("word.countries") }} </th>
                                <th> Nombre étudiants </th>
                                <th> Evol. / 1 an </th>
                                <th> Rang janv </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="country, index in dataCountries" :key="'country'+index">
                                <td>
                                    <div class="contry-name">
                                        <span class="contry-name--legende" :style="getLegendeStyle(index)"></span>
                                        <span class="contry-name--text">
                                            {{ $t(`country.${country.id}`) }} 
                                        </span>
                                    </div>
                                </td>
                                <td>{{ country.students }} </td>
                                <td>{{ country.evol }}% </td>
                                <td>{{ index + 1 }} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-5 stat-content--map">
                <OrganizationStudentMaps :data="dataCountries" />
            </div>
        </div>
    </div>
    
</template>
<script>
    import {StatMixin} from "./StatMixin.js"
    import OrganizationStudentMaps from "./OrganizationStudentMaps.vue"
    import ScholarshipService from '@/services/scholarship/ScholarshipService'

    export default {
        name: 'OrganizationCountryStat',
        components: {
            OrganizationStudentMaps
        },
        props: {
            scholarship : {
                default: false
            },
            selectedScholarships: {
                default: false
            },
            period: {
                default : false
            }
        },
        mixins: [StatMixin],
        data: function(){
            return {
                dataCountries : []
            }
        },
        methods:{
            updateSerieData: function(){
                let that = this
                let scholarships = this.selectedScholarships ? this.selectedScholarships : [this.scholarship.id]
                ScholarshipService.getRangeCountryStat({ scholarship: scholarships , period: that.period }).then(
                    (response)=>{
                        that.dataCountries = response.data.stat
                    }
                )
            },
            getCountryEvol(data, country){

            },
            getLegendeStyle(index){
                let color = this.getLegendeColor(index, this.dataCountries)
                return 'background-color:'+color
            }
        },
        watch: {
            scholarship: {
                handler: function(){
                    this.updateSerieData()
                }
            }
        }
    }
</script>
<style scoped>
    
    .row.stat-content{
        padding: 2rem;
    }
    .stat-content--table-tittle {
        display: flex;
        justify-content: space-between;
    }
    .stat-content--table-tittle .title{
        text-align: left;
         letter-spacing: 0px;
         color: #1F4171;
         font-family: 'NunitoSans-SemiBold';
         font-size: 1.3rem;
    }

    .stat-content--table-tittle .caption {
        text-align: right;
        letter-spacing: 0px;
        color: #6196FF;
        opacity: 1;
        font-family: 'NunitoSans-Bold';
        font-size: 14px !important; 
    }

    table.stat-custom-table {
        width: 100%;
        margin-top: 10px;
    }

    table.stat-custom-table thead {
        background: #F1F2FA 0% 0% no-repeat padding-box;
    }
    table.stat-custom-table thead th {
        border: solid 1px #D0CEDA;
        text-align: left;
        letter-spacing: 0px;
        color: #D0CEDA;
        font-family: 'NunitoSans-Bold';
        font-weight: unset;
        font-size: 16px;
        padding: 5px 1rem;
    }
    table.stat-custom-table tbody {
        border: solid 1px #D0CEDA;
    }

    table.stat-custom-table tbody td{
        padding: 5px 1rem;
        color: #3C3850;
        border-left: solid 1px #D0CEDA;
        font-family: 'NunitoSans-SemiBold';
        text-align: right;
    }
    table.stat-custom-table tbody td:first-child{
         text-align: left;
    }

    .stat-custom-table .contry-name--legende {
        width: 12px;
        height: 12px;
        display: inline-block;
        margin-right: 5px;
    }

    @media (max-width:1500px) {
        .stat-content--table-tittle .title{
            font-size: 1rem;
        }
        
        .stat-content--table-tittle .caption{
            font-size: 12px !important;
        }
        .stat-content--table-content {
            font-size: 14px !important;
        }
        table.stat-custom-table thead th{
            font-size: 13px;
            padding: 5px;
        }

    }


    /*** responsive */
     @media (max-width:1280px) {
        .row.stat-content {
            padding: 1rem;
        }
        .stat-content--table-content {
            font-size: 12px !important;
        }
        table.stat-custom-table thead th{
            font-size: 11px;
        }
        .stat-custom-table .contry-name--legende{
            width: 10px;
            height: 10px;
            margin-right: 2px;
        }
    }

    @media (max-width:1024px) {
      
        .stat-content--table-tittle .title{
            font-size: 15px !important;
        }
        .stat-content--table-tittle .caption{
            font-size: 12px !important;
        }
        .stat-content--table-content {
            font-size: 12px !important;
        }
        table.stat-custom-table thead th{
            font-size: 12px;
            padding: 0 5px;
        }

        .stat-content--map {
            margin-top: 1.5rem;
        }
    }
</style>