.thematic-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    padding-bottom: unset;
  }
  
  
  .thematic-list-header button:focus,
  .thematic-list-header button:hover,
  .thematic-list-header button {
    height: 1.6rem !important;
    line-height: 1rem !important;
    padding: 0 20px !important;
    border-radius: 5px !important;
  }
  
  .nav-link--actions {
    position: absolute;
    right: .8rem;
    top: 20%;
  }
  .question-btn-group button,
  .nav-link--actions button {
    border: none;
    border-radius: 50%;
  }
  
  button.thematic-btn.thematic-btn--edit,
  button.question-btn.question-btn--edit
   {
    background: #FFD7D2;
    color: #FF7667;
  }
  
  button.thematic-btn.thematic-btn--delete,
  button.question-btn.question-btn--delete
   {
    background: #FF7667;
    color: white;
  }
  
  .nav-tabs .nav-item {
    position: relative;
  }
  
  .nav-item.thematic-data .nav-link{
    color: #999999 !important;
  }
  .nav-item.thematic-data .nav-link.active,
  .nav-item.thematic-data .nav-link:hover
  {
    color: #13AD9E !important;
  }