.dropdown.lang-switcher {
    font-family: 'NunitoSans-Bold' !important;
    margin: 0 15px !important;
}
.dropdown.lang-switcher a {
    color: #aaa !important;
}

  
.dropdown.lang-switcher .dropdown-menu{
    padding: 10px 15px !important;
}
.dropdown.lang-switcher .dropdown-menu li{
    padding: 10px 0px !important;
}
.dropdown.lang-switcher .dropdown-menu li .flag-icon{
    margin-right: 5px;
}

.app-header--admin .messenging-nav-item {
    margin: 0 2rem;
    font-size: 1.5rem;
    color: #aaa;
    position: relative;
}
  
.app-header--admin .messenging-item--counter {
    font-size: 12px !important;
    font-family: 'NunitoSans-Bold' !important;
    background: #f88170;
    border: solid 1px;
    color: white;
    display: flex;
    position: absolute;
    top: -5px;
    right: -10px;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    letter-spacing: 0;
}
  
.app-header--admin  .user-icon{
    font-size: 1.3rem;
    border: solid 1px #aaa;
    padding: 5px;
    border-radius: 50%;
    color: #aaa;
}