<template>
   <Modal name="congratuation-modal">
      <div slot="header" class="w-100">
        <a class="close" v-on:click="$emit('goTo','None')"> x </a>
      </div>
      <div slot="body">
          <div class="p-5 mx-auto text-center">
              <h4>{{ $t('organization.profil.steep11_infos1') }}</h4>
              <p>
                 {{ $t('organization.profil.steep11_infos2') }}
                <router-link :to="{'name' : 'scholarship_new' }">
                  {{ $t('organization.profil.steep11_infos3') }}
                </router-link>
              </p>
              <div class="w-100 text-center">
                <DefaultButton  className="style4" @click.native="$emit('goTo','None')" :text="$t('organization.profil.steep11_infos4')" />
              </div>
          </div>    
      </div>
    </Modal>
</template>
<script>
  export default {
    name :"CongratuationModal"
  }
</script>
<style>
#congratuation-modal .modal-header{
  position:relative !important;
}
#congratuation-modal a.close {
    width: 50px;
    height: 50px;
    background: #FF7667;
    opacity: 1 !important;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -40px;
    top: 0;
}
#congratuation-modal .modal-container {
    max-width: 50rem !important;
}

#congratuation-modal .modal-body {
    min-height: 40vh !important;
}
#congratuation-modal h4 {
    color: #448aff;
    margin-bottom: 2rem;
}
#congratuation-modal p {
    margin-bottom: 2rem;
}



@media(max-width:768px){
  #congratuation-modal .modal-body {
    min-height: 80vh !important;
  }
  #congratuation-modal .modal-container {
    max-width: 100vw !important;
  }
  #congratuation-modal h4.label{
    font-size: 20px;
  }
  #congratuation-modal button{
    width: 95%;
  }
  #congratuation-modal a.close {
    position: absolute;
    right: 50px;
    top: 30px;
}
}
@media(max-width:425px){
  #congratuation-modal h4{
    font-size: 16px;
  }
}


</style>