<template>
    <div>
         <!-- File upload component nt visible -->
         <file-upload
            extensions="jpg,jpeg,png,webp"
            accept="image/png,image/jpeg,image/webp"
            name="cover"
            class="d-none"
            post-action="#"
            :drop="true"
            v-model="files"
            @input-filter="inputFilter"
            @input-file="inputFile"
            ref="upload">
            Upload Logo
        </file-upload>
    
        <Modal size="lg">
            <div slot="header" class="w-100">
                <div class="icon icon-back" v-on:click="$emit('goTo','OrganizationSocialNetwork')"></div>
                <div class="title text-center"> 
                <h5 v-show="!edit" >{{ $t('organization.profil.steep') }} 8/11</h5>
                <h5 v-show="edit"  >{{ $t('organization.profil.steep8_info4') }}</h5>
                </div>
            </div>

            <div slot="body"> 
                 <!-- Drag and drop active -->
                <div v-show="$refs.upload && $refs.upload.dropActive" class="drop-active">
                    <h3>Drop files to upload</h3>
                </div>
                <!-- END Drag and drop active -->

                
                <!-- Cover Uploader -->
                <div class="text-center" v-show=" !organization.cover_picture && !edit">
                    <div class="mt-4 pt-4">
                        <h4 class="label">{{ $t('organization.profil.steep8_info1') }}</h4>
                    </div>
                    <div class="text-center py-2">
                        <div class="cover-uploader-wrapper">
                            <div class="cover-upload">
                                <div class="text-center logo-prev p-5">
                                    <label for="cover" class="cover-wrapper" ref="coverPhotoLabel">
                                        <img :src="require('@/assets/img/image.svg').default"  class="pb-4" />
                                    </label>
                                    <div class="text-center">
                                        <label><b>{{ $t('organization.profil.steep8_info5') }}</b></label>
                                        <p>{{ $t('word.or') }}</p>
                                    </div>
                                    <div class="text-center mt-3">
                                        <DefaultButton @click.native="openFile" className="style3" :text="$t('organization.profil.steep8_info6')"></DefaultButton>    
                                        <p class="small">{{ $t('organization.profil.steep8_info3') }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End cover Uploader -->

                <!-- Cover croper -->
                <div class="avatar-edit" v-show="files.length && edit">
                    <div class="cropper-wrapper" v-if="files.length">
                        <img ref="editImage" :src="files[0].url" />
                    </div>
                    <div class="text-center p-4">
                        <DefaultButton className="style1" :text="$t('word.continue')"  @click.native="editSave"></DefaultButton>
                        <br>
                        <DefaultButton className="outline" :text="$t('word.cancel')"  @click.native="$refs.upload.clear"></DefaultButton>
                    </div>
                </div>
                <!-- end cover cropper --> 

                <!--  Cover image preview -->
                <div class="text-center" v-if=" (!edit && uploaded) || (organization.cover_picture && !edit)">
                    <div class="mt-4 pt-4">
                        <h4 class="label">{{ $t('organization.profil.steep8_info2') }}</h4>
                    </div>
                    <div class="m-5">
                        <label for="cover" ref="coverPhotoLabelPreview">
                        <img :src="'/uploads/picture/'+organization.cover_picture"  class="cover-preview-image" />
                        </label>
                    </div>
                    <div  class="mt-5">
                        <DefaultButton className="outline2" :text="$t('student.profil.steep1_info8')"  @click.native="openFile"></DefaultButton>
                        <DefaultButton className="style4"  :text="$t('word.validate')"  @click.native="$emit('goTo','OrganizationGalleryPhoto')"></DefaultButton>
                    </div>
                </div>
                <!--  END image preview -->

                <div class="slider-bar-avis mx-auto">
                    <div class="bar" id="bar-1"></div>
                    <div class="bar" id="bar-2"></div>
                    <div class="bar" id="bar-2"></div>
                </div>  
            </div>
        </Modal>
    </div>
</template>
<script>
    import ProfilService from "@/services/organization/ProfilService.js"
    import FileUpload from 'vue-upload-component'
    
    import Cropper from 'cropperjs'
    import ImageHelper from '../../../../../services/helpers/ImageHelper.js'

    export default {
        name: 'OrganizationCover',
        components : {
            FileUpload
        },
        props : ['organization'],
        data : function() {
            return {
                files: [],
                message:  false,
                loading   : false,
                edit: false,
                cropper: false,
                uploaded   : false,
            }
        },
        methods: {
            uploadCover(){
                let that = this 
                that.loading = true
                let formData = new FormData();
                this.$refs.upload.files.map(input => {
                    formData.append('cover', input.file)
                })
                ProfilService.updateCover(formData, this.organization.id)
                .then(response =>{
                    if(response.data.success){
                        that.edit = false
                        that.organization.cover_picture = response.data.cover 
                        that.$store.dispatch('user/updateInfos')
                    }else{
                        that.message  = response.data.error
                    }
                    that.loading = false
                }).catch(error =>{
                    that.message = error
                    that.loading = false
                })
            },
            editSave() {
                this.edit = false
                let oldFile = this.files[0]
                let binStr = atob(this.cropper.getCroppedCanvas().toDataURL(oldFile.type).split(',')[1])
                let arr = new Uint8Array(binStr.length)
                for (let i = 0; i < binStr.length; i++) {
                    arr[i] = binStr.charCodeAt(i)
                }
                let file = new File([arr], oldFile.name, { type: oldFile.type })
                this.$refs.upload.update(oldFile.id, {
                    file,
                    type: file.type,
                    size: file.size,
                    active: true,
                })
                this.uploadCover()

            },
            openFile: function(){
                try {
                    this.$refs.coverPhotoLabel.click()
                } catch (error) {
                    this.$refs.coverPhotoLabelPreview.click()
                }
            },
            inputFile(newFile, oldFile, prevent) {
                if (newFile && !oldFile) {
                    this.$nextTick(function () {
                    this.edit = true
                    })
                }
                if (!newFile && oldFile) {
                    this.edit = false
                }
                
            },
            inputFilter(newFile, oldFile, prevent) {
                if (newFile && !oldFile) {
                    if (!/\.(gif|jpg|jpeg|png|webp)$/i.test(newFile.name)) {
                        let that = this;
                        that.dispatchError(that.$t("media.error.invalid_size_cover"))  
                        return prevent()
                    }
                }
                let that = this
                ImageHelper.getImageSize(newFile, function(size){
                    if(size.w < 350 || size.h < 300){
                        that.edit = false
                        that.dispatchError(that.$t("media.error.invalid_size_cover"))  
                    }
                })

                if (newFile && (!oldFile || newFile.file !== oldFile.file)) {
                    newFile.url = ''
                    let URL = window.URL || window.webkitURL
                    if (URL && URL.createObjectURL) {
                    newFile.url = URL.createObjectURL(newFile.file)
                    }
                }
            }
        },
        watch: {
            edit(value) {
                if (value) {
                    this.$nextTick(function () {
                    if (!this.$refs.editImage) {
                        return
                    }
                    let cropper = new Cropper(this.$refs.editImage, {
                        aspectRatio: 3 / 2,
                        viewMode: 3,
                        minCropBoxWidth: 350,
                        minCropBoxHeight: 300,
                        preview: '.preview',
                    })
                    this.cropper = cropper
                    })
                } else {
                    if (this.cropper) {
                    this.cropper.destroy()
                    this.cropper = false
                    }
                }
            }
        },
        mounted:function(){
            window.scrollTo(0, 0)
            this.edit = false
        }

    }
</script>
<style scoped>
    .avatar-edit .cropper-wrapper {
        max-width: 80% !important;
        margin: auto !important;
        padding-top: 5vh;
        height: calc(100vh - 250px);
    }

    @media (max-width:768px){
    button{
        margin-bottom: .5rem;
    }
    
}
@media(max-width:425px){
    .profil-form .cover-uploader-wrapper{
        max-width: unset !important;
        margin: 5% !important;
    }
    h4.label{
        font-size:16px;
    }
    button{
        width: 75%;
        margin-bottom: .5rem;
        font-size: 14px !important;
        padding: 0 !important;
    }
}
@media(max-width:320px){
    .profil-form .cover-uploader-wrapper{
        max-width: unset !important;
        margin: 5% !important;
    }
}
</style>