<template>
    <div>
        <!-- File upload component nt visible -->
        <file-upload
            extensions="jpg,jpeg,png,webp"
            accept="image/png,image/jpeg,image/webp"
            name="avatar"
            class="d-none"
            post-action="#"
            :drop="true"
            v-model="files"
            @input-filter="inputFilter"
            @input-file="inputFile"
            ref="upload">
            Upload Logo
        </file-upload>
        <!-- END File upload -->

        <Modal size="lg">
            <div slot="header" class="w-100">
                <div class="icon icon-back" v-on:click="$emit('goTo','OrganizationInfos')"></div>
                <div class="title text-center"> 
                    <h5>{{ $t('organization.profil.steep') }} 5/11</h5>
                </div>
            </div>

            <!-- Cover croper -->
            <div slot="body" class="avatar-edit" v-if="files.length && edit">
                <div class="cropper-wrapper" v-if="files.length">
                    <img ref="editImage" :src="files[0].url" />
                </div>
                <div class="text-center p-4 mt-5">
                    <DefaultButton className="style4" :text="$t('word.save')"  @click.native="editSave"></DefaultButton>
                    <br>
                    <DefaultButton className="outline" :text="$t('word.cancel')"  @click.native="$refs.upload.clear"></DefaultButton>
                </div>
            </div>
            <!-- end cover cropper --> 
            
            <div slot="body" class="organizationInfos" v-else> 
                <div class="text-center">
                    <div class="my-4">
                        <h4 class="label">{{ $t("organization.profil.steep4_info1") }}</h4>
                    </div>
                </div>
                <div class="form-wrapper">
                    <label class="form-legende">
                        {{ $t("organization.profil.steep4_info2") }}
                    </label>
                    <div class="row form-content-wrapper">
                        <div class="col-sm-6">
                            <label>Adresse*</label>
                            <div class="input-group mb-3">
                                <AdresseInput  v-model="organization.adresse" v-on:place-select="adresseChange" id="organization-adresse"/>
                            </div>       
                        </div>
                        <div class="col-sm-6">
                            <label>{{ $t('organization.profil.steep5_label1') }}</label>
                            <input type="text" class="form-control py-4"  v-model="organization.postal_code" id="organization-postalcode">
                        </div>

                        <div class="col-sm-12  mb-4">
                            <div class="map-wrapper">
                                <img class="map-preview" :src="getMapSource" />
                            </div>
                        </div>
                        <div class="col-sm-6 mb-3">
                            <label>
                                {{ $t('organization.profil.steep5_label2') }}*
                                <span v-tooltip="'Pays ou se situe l \'organisme'" class="fa fa-question-circle ml-3"> </span>
                            </label>
                            <CountrySelect
                                class="country-select"
                                v-model="organization.country"
                                id="organization-country"
                            />
                        </div>
                        <div class="col-sm-6 mb-3">
                            <label>{{ $t('organization.profil.steep5_label3') }}</label>
                            <CountrySelect
                                class="country-select"
                                :multiple="true"
                                :all="false"
                                id="organization-countryaction"
                                v-model="organization.country_action"/>
                        </div>
                        
                        <div class="col-sm-6 mb-3">
                            <label>{{ $t('organization.profil.steep5_label4') }}</label>
                            <input type="text" class="form-control py-4"  v-model="profil.firstname" id="contact-name">
                        </div>

                        <div class="col-sm-6 mb-3">
                            <label>{{ $t('organization.profil.steep5_label7') }}</label>
                            <input type="text" class="form-control py-4"  v-model="profil.lastname"  id="contact-lastname">
                        </div>
                
                        <div class="col-sm-6 mb-3">
                            <label for="avatar" class="w-100 mt-4" ref="contactAvatarLabel">
                                <div class="input-group mb-3 picture-input mt-2"  :class="invalidAvatar ? 'invalid':''">
                                    <input 
                                        id="contact-avatar"
                                        type="text" 
                                        class="form-control py-4 br-0" 
                                        :placeholder="$t('organization.profil.steep5_label5')" 
                                        :value="files.length ? files[0].file.name : profil.avatar" readonly>
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="fa fa-camera"></i>
                                        </span>
                                    </div>
                                </div>
                            </label>
                        </div>
                        
                        <div class="col-sm-6">
                            <label>{{ $t('organization.profil.steep5_label6') }}</label>
                            <vue-tel-input class="form-control" v-model="organization.phone_number"  id="organization-phonenumber"></vue-tel-input>
                        </div>

                        <div class="col-sm-6">
                            <label>Email</label>
                            <input type="text" class="form-control py-4"  v-model="organization.organization_email"  id="organization-email">
                        </div>
                    </div>
                    <div class="text-center">
                        <DefaultButton className="style4" :text="$t('word.continue')" :onLoad="loading" @click.native="updateOrganizationAdresse" />
                    </div>
                </div>
                <div class="slider-bar-avis mx-auto">
                    <div class="bar" id="bar-1"></div>
                    <div class="bar" id="bar-2"></div>
                    <div class="bar" id="bar-2"></div>
                </div>   
            </div>
            
        </Modal>
    </div>
</template>
<script>

    import ProfilService   from "@/services/organization/ProfilService.js"
    import { VueTelInput } from 'vue-tel-input'
    import FileUpload      from 'vue-upload-component'
    import Multiselect     from 'vue-multiselect'
    import CountrySelect   from "@/components/common/CountrySelect.vue"
    import AdresseInput    from "@/components/common/AdresseInput.vue"
    import ImageHelper     from "@/services/helpers/ImageHelper.js"
    import Cropper         from 'cropperjs'
    import 'vue-multiselect/dist/vue-multiselect.min.css'

    
    export default {
        name: 'organization_adresse',
        components : {
            VueTelInput, Multiselect, FileUpload, CountrySelect, AdresseInput
        },
        props : ['organization'],
        data : function() {
            return {
                country: "",
                loading   : false,
                files : [],
                edit      : false,
                cropper: false,
                uploaded: false,
                zip : '',
                change:false,
                adresseMapSrc : false,
                gmapKey: process.env.GMAP_KEY,
                invalidAdresse : false,
                invalidAvatar  : false
            }
        },
        computed : {
            getMapSource: function(){
                if(this.profil.adresse_map && !this.adresseMapSrc ){
                    return "/uploads/maps/"+this.profil.adresse_map
                }
                return this.adresseMapSrc ? this.adresseMapSrc : require('@/assets/img/map.png').default
            }
        },
        methods: {
            /**
             * Handle submit avatar update
             * 
             * @return void
             */
            updateAvatar(){
                let that = this 
                that.loading = true
                let formData = new FormData();
                this.$refs.upload.files.map(input => {
                    formData.append('avatar', input.file)
                })

                if(that.adresseMapSrc){
                    /** convert maps to blob */
                    let mapFile = ImageHelper.DataURIToBlob(that.adresseMapSrc)
                    formData.append('adresseMap', mapFile,'map.png')
                }
                console.log(formData);
                ProfilService.updateAvatar(formData, this.organization.id)
                .then(response =>{
                    if(response.data.success){
                        that.$store.dispatch('user/updateInfos')
                        that.$emit('goTo','OrganizationStat')
                    }else{
                        that.dispatchError(response.data.error)
                    }
                    that.loading = false
                }).catch(error =>{
                    that.dispatchError(error)
                    that.loading = false
                })
            },

            /**
             * Check data and update organization adresse infos
             * 
             * @return void
             */
            updateOrganizationAdresse(){
                if(!this.change ){
                    this.$emit("goTo", "OrganizationStat")
                    return false
                }

                if(!this.validate()){
                    return false
                }
               
                let that = this
                that.loading = true
                

                ProfilService.updateOrganizationInfos( {
                    context :'adresse',
                    profil  : that.profil,
                    organization: that.organization
                }).then(response =>{
                    if(response.data.success){
                        if(that.files.length || that.adresseMapSrc ){
                            console.log('avatar');
                            that.updateAvatar()
                        }else{
                            that.$store.dispatch('user/updateInfos')
                            that.$emit('goTo','OrganizationStat')
                        }
                    }else{
                        that.dispatchError(response.data.error)
                    }
                    this.loading = false
                }).catch(error =>{
                    console.log(error)
                    that.dispatchError(error)
                    this.loading = false
                })
                 
            },

            /**
             * Handle upload file input change
             * 
             * @param {Object} newFile
             * @param {Object} oldFile
             * @param {Callback} prevent
             * @return void
             */
            inputFile(newFile, oldFile, prevent) {
                if(newFile && !oldFile) {
                    this.$nextTick(function () {
                        this.edit = true
                    })
                }
                if (!newFile && oldFile) {
                    this.edit = false
                }
            },

            /**
             * Check file input size ans type on file change
             * 
             * @param {Object} newFile
             * @param {Object} oldFile
             * @param {Callback} prevent
             * @return Mixed 
             */
            inputFilter(newFile, oldFile, prevent) {
                if (newFile && !oldFile) {
                    if (!/\.(jpg|jpeg|png)$/i.test(newFile.name)) {
                        this.dispatchError(that.$t("media.error.invalid_format"))
                       return prevent()
                    }
                }

                let filetoCheck = newFile
                ImageHelper.getImageSize(filetoCheck, function(size){
                    if(size.w < 250 || size.h < 250){
                        that.edit  = false
                        that.showImageUploader  = true
                        that.files = []
                        that.dispatchError(that.$t("media.error.invalid_size"))
                       
                    }
                })

                if (newFile && (!oldFile || newFile.file !== oldFile.file)) {
                    newFile.url = ''
                    let URL = window.URL || window.webkitURL
                    if (URL && URL.createObjectURL) {
                        newFile.url = URL.createObjectURL(newFile.file)
                        this.change = true
                    }
                }   
            },

            /**
             * Handle adresse infos autocompleted change
             * 
             * @param {Object} data
             * @return void
             */
            adresseChange(data){
                this.updateAdresseLocation(data)
                this.updateMap(data)
                this.updateCp(data)
            },

            /**
             * Handle update adresse localion infos  change
             * 
             * @param {Object} place
             * @return void
             */
            updateAdresseLocation(place){
                let location = {
                    lat: place.geometry.location.lat(),
                    lng: place.geometry.location.lng()
                }
                this.profil.adresse_location = location
            },

            /**
             * Handle update adresse code postal infos  change
             * 
             * @param {Object} place
             * @return void
             */
            updateCp(place){
                for (var i = 0; i < place.address_components.length; i++) {
                    for (var j = 0; j < place.address_components[i].types.length; j++) {
                        if (place.address_components[i].types[j] == "postal_code") {
                            this.profil.postal_code = place.address_components[i].long_name
                        }
                    }
                }
            },

            /**
             * Handle map adresse image change
             * 
             * @param {Object} adresse
             * @return void
             */
            updateMap(adresse){
                let that = this
                let selectedAdresse = adresse.formatted_address
                let apiImageAdrs = `https://maps.googleapis.com/maps/api/staticmap?center=${selectedAdresse}&&markers=size:mid|color:red|${selectedAdresse}&zoom=14&size=400x400&key=${that.gmapKey}`
                ImageHelper.ImgToBase64URL(apiImageAdrs, function(base64Img){
                    that.adresseMapSrc = base64Img
                })
            },

            /**
             * Check form data validation
             * 
             * @return {Bollean}
             */
            validate(){
                if(!this.change ){
                    this.$emit("goTo", "OrganizationStat")
                    return false
                }
                
                let input = null

                /** check adresse field */
                input = document.querySelector("#organization-adresse input")
                if(!this.organization.adresse || (this.organization.adresse && this.organization.adresse.length < 5) ){
                    input.classList.add('invalid')
                    input.scrollIntoView()
                    return false 
                }
                input.classList.remove('invalid')

                /** check postal code field */
                input = document.getElementById("organization-postalcode")
                if(!this.organization.postal_code || (this.organization.postal_code && this.organization.postal_code.length < 3) ){
                    input.classList.add('invalid')
                    input.scrollIntoView()
                    return false 
                }
                input.classList.remove('invalid')

                
                /** check contry */
                input = document.getElementById("organization-country")
                if(!this.organization.country){
                    input.classList.add('invalid')
                    input.scrollIntoView()
                    return false 
                }
                input.classList.remove('invalid')
                
                /** check contry action */
                input = document.getElementById("organization-countryaction")
                if(!this.organization.country_action && (this.organization.country_action && this.organization.country_action.length == 0) ){
                    input.classList.add('invalid')
                    input.scrollIntoView()
                    return false 
                }
                input.classList.remove('invalid')

                /** check first name */
                input = document.getElementById("contact-name")
                if(!this.profil.firstname || (this.profil.firstname && this.profil.firstname.length < 3) ){
                    input.classList.add('invalid')
                    input.scrollIntoView()
                    return false 
                }
                input.classList.remove('invalid')

                /** check first lastname */
                input = document.getElementById("contact-lastname")
                if(!this.profil.lastname || (this.profil.lastname && this.profil.lastname.length < 3) ){
                    input.classList.add('invalid')
                    input.scrollIntoView()
                    return false 
                }
                input.classList.remove('invalid')

                /** check if avatar is valid or changed */
                input = document.getElementById("contact-avatar")
                if(!this.profil.avatar && !this.files.length){
                    input.classList.add('invalid')
                    return false 
                }
                input.classList.remove('invalid')

                /** check contact phone */
                input = document.getElementById("organization-phonenumber")
                if(!this.organization.phone_number){
                    input.classList.add('invalid')
                    input.scrollIntoView()
                    return false 
                }
                input.classList.remove('invalid')

                /** check contact email */
                input = document.getElementById("organization-email")
                if(!this.profil.email){
                    input.classList.add('invalid')
                    input.scrollIntoView()
                    return false 
                }
                input.classList.remove('invalid')

                return true
            },

            /**
             * Save croped avatar contact
             * 
             * @return void
             */
            editSave() {
                this.edit = false
                let oldFile = this.files[0]
                let binStr = atob(this.cropper.getCroppedCanvas().toDataURL(oldFile.type).split(',')[1])
                let arr = new Uint8Array(binStr.length)
                for (let i = 0; i < binStr.length; i++) {
                    arr[i] = binStr.charCodeAt(i)
                }
                let file = new File([arr], oldFile.name, { type: oldFile.type })
                this.$refs.upload.update(oldFile.id, {
                    file,
                    type: file.type,
                    size: file.size
                })
            },

        },
        watch : {
            profil : {
                deep : true,
                handler : function(val){
                    this.change = true
                }
            },
            organization : {
                deep : true,
                handler : function(val){
                    this.change = true
                }
            },
            edit(value) {
                if (value) {
                    this.$nextTick(function () {
                    if (!this.$refs.editImage) {
                        return
                    }
                    this.showImageUploader = false
                    let cropper = new Cropper(this.$refs.editImage, {
                        aspectRatio: 1 / 1,
                        viewMode: 1,
                        minCropBoxWidth: 250,
                        minCropBoxHeight: 250,
                    })
                    this.cropper = cropper
                    })
                } else {
                    if (this.cropper) {
                    this.cropper.destroy()
                    this.cropper = false
                    }
                }
            }
        },
        mounted:function(){
            window.scrollTo(0, 0)

            if(null == this.organization.organization_email || this.organization.organization_email.length <= 0){
                this.organization.organization_email = this.profil.email
            }
            
            if(null == this.organization.phone_number || this.organization.phone_number.length <= 0){
                this.organization.phone_number = this.profil.phone
            }
            

        }
    }
</script>
<style scoped>
    .form-content-wrapper{
        text-align: left;
        margin: 3rem;
    }

    @media(max-width:520px){
        .form-content-wrapper{
            margin: 0;
        }
        .map-wrapper{
            display: none;
        }
    }
    
    @media(max-width:425px){
        .row.text-left.m-5.p-5{
            padding:0 !important;
        }
        label, input, .multiselect *, .profil-form input {
            font-size: 14px  !important;
        }
        h4.label{
            font-size:16px;
        }
        button{
            margin-top: 1rem;
            width: 95% !important;
        }
    }
</style>