<template>
    <div>
        <file-upload
            extensions="jpg,jpeg,png,webp"
            accept="image/png,image/jpeg,image/webp"
            name="galeryPhoto"
            post-action="#"
            :drop="true"
            :multiple="true"
            v-model="files"
            @input-filter="inputFilter"
            ref="upload">
        </file-upload>

        <Modal size="lg">
            <div slot="header" class="w-100">
                <div class="icon icon-back" v-on:click="$emit('goTo','OrganizationCover')"></div>
                <div class="title text-center"> 
                <h5>{{ $t('organization.profil.steep') }} 9/11</h5>
                </div>
            </div>
            <div slot="body"> 
                <div v-show="$refs.upload && $refs.upload.dropActive" class="drop-active">
                        <h3>Drop files to upload</h3>
                </div>
                <div class="text-center">
                    <div class="m-2 pb-3">
                        <div class="w-75 m-auto">
                            <p>{{ $t('organization.profil.steep9_infos1') }} </p>
                            <h4 class="label">{{ $t('organization.profil.steep9_infos2') }}</h4>
                        </div>
                    </div>

                    <div class="text-center py-2"  v-if=" edit && ((organization.gallery && !organization.gallery.pictures) || edit) ">
                        <div class="gallery-uploader-wrapper">
                            <div class="gallery-upload">
                                <div class="text-center logo-prev">
                                    <div v-if="files.length" class="thumbnails">
                                        <span v-for="(file, index) in files" :key="'file-'+index">
                                            <img :src="file.url" />
                                        </span>
                                    </div>
                                    <div v-else class="text-center">
                                        <label for="galeryPhoto">
                                            <b>{{ $t('organization.profil.steep9_infos3') }}</b>
                                        </label>
                                        <p>OU</p>
                                    </div>

                                    <div class="text-center mt-3">
                                        <label for="galeryPhoto" ref="galeryPhotoLabel">
                                            <span class="fake-btn btn btn-default style3">{{$t('word.import.files')}}</span>
                                        </label>
                                        <p class="small">{{$t('word.import.description')}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center mt-4">
                            <DefaultButton className="style4" :text="$t('word.continue')" @click.native="uploadGallery" :onLoad="loading"></DefaultButton>
                        </div>
                    </div>

                    <!--  Gallery image preview -->
                    <div class="text-center" v-else >
                        <div class="gallery-uploader-wrapper">
                            <div class="gallery-upload">
                                <div class="text-center logo-prev">
                                    <div class="thumbnails">
                                        <span  v-for="(picture, index) in organization.gallery.pictures" :key="'thubnails-'+index">
                                            <img :src="'/uploads/picture/'+picture" />
                                        </span>
                                    </div>
                                     <div class="text-center mt-3">
                                        <DefaultButton className="style3" text="Modifier" @click.native="edit = true"></DefaultButton>    
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div  class="mt-5">
                            <DefaultButton className="style4"  :text="$t('word.continue')"  @click.native="$emit('goTo','OrganizationGalleryVideo')"></DefaultButton>
                        </div>
                    </div>
                    <!--  END Gallery image preview -->
                </div>  
                <div class="slider-bar-avis mx-auto">
                    <div class="bar" id="bar-1"></div>
                    <div class="bar" id="bar-2"></div>
                    <div class="bar" id="bar-2"></div>
                </div>                
            </div>
        </Modal>
    </div>
</template>
<script>
    import ProfilService from "@/services/organization/ProfilService.js"
    import FileUpload from 'vue-upload-component'

    export default {
        name: 'OrganizationGalleryPhoto',
        components : {
            FileUpload
        },
        props : ['organization'],
        data : function() {
            return {
                files: [],
                message   : false,
                loading   : false,
                uploaded  : false,
                edit      : true
            }
        },
        methods: {
            uploadGallery(){
                let that = this 
                that.loading = true
                let formData = new FormData();
               
                this.$refs.upload.files.map(input => {
                    formData.append('galeryPhoto[]', input.file)
                })

                ProfilService.updateGalleryPhoto(formData, that.organization.id)
                .then(response =>{
                    if(response.data.success){
                       that.organization.gallery = JSON.parse(response.data.gallery)
                       
                       that.$store.dispatch('user/updateInfos')
                       that.$emit('goTo','OrganizationGalleryVideo')
                    }else{
                        that.message = response.data.error
                    }
                    that.loading = false
                }).catch(error =>{
                    that.message = error
                    that.loading = false
                })
            },
            inputFilter(newFile, oldFile, prevent) {
                if (newFile && !oldFile) {
                    if (!/\.(gif|jpg|jpeg|png|webp)$/i.test(newFile.name)) {
                       let that = this;
                        this.$dialog.confirm(that.$t("media.error.invalid_format"), {
                            okText: that.$t('student.profil.steep1_info8'),
                            cancelText: that.$t("word.cancel"),
                        }).then(function (dialog) {
                            that.$refs.galeryPhotoLabel.click()
                            dialog.close()
                        }).catch(function (dialog) {
                            dialog.close()
                        });
                        return prevent()
                    }
                }
                if (newFile && (!oldFile || newFile.file !== oldFile.file)) {
                    newFile.url = ''
                    let URL = window.URL || window.webkitURL
                    if (URL && URL.createObjectURL) {
                        newFile.url = URL.createObjectURL(newFile.file)
                    }
                }   
            }
        },
        mounted: function(){
            this.organization.gallery = this.organization.gallery ? this.organization.gallery : {
                pictures : false,
                videos   : false,
            } 
            this.edit = !(this.organization.gallery && this.organization.gallery.pictures)
            window.scrollTo(0, 0)
        }
    }




</script>
<style scoped>
    .logo-prev{
        padding: 3rem;
    }
    .fake-btn{
        display: flex;
        align-items: center;
    }
    
    @media(max-width:768px){
        .logo-prev{
            padding: 1rem;
        }
        
       .thumbnails img{
           height: 50px !important;
           margin-bottom: 10px;
       } 

    }
    @media(max-width:425px){
        h4.label{
            font-size:16px;
        }
        button{
            width:80%;
        }
    }
    @media(max-width:320px){
        h4.label{
            font-size: 14px;
        }
    }
</style>