<template>
    <div>
        <!-- File upload component nt visible -->
        <file-upload
            extensions="jpg,jpeg,png,webp"
            accept="image/png,image/jpeg,image/webp"
            name="logo"
            class="d-none"
            post-action="#"
            :drop="true"
            v-model="files"
            @input-filter="inputFilter"
            @input-file="inputFile"
            ref="upload">
            Upload Logo
        </file-upload>
        <!-- END File upload -->

        <Modal size="lg">
            <div slot="header" class="w-100">
                <div class="icon icon-back" v-on:click="$emit('goTo','OrganizationName')"></div>
                <div class="title text-center"> 
                    <h5 v-if="edit">{{ $t('organization.profil.steep') }} 2/11</h5>
                    <h5 v-else> {{ $t('organization.profil.steep') }}      3/11</h5>
                </div>
            </div>
            <div slot="body"> 
               
                <!-- Drag and drop active -->
                <div v-show="$refs.upload && $refs.upload.dropActive" class="drop-active">
                    <h3>Drop files to upload</h3>
                </div>
                <!-- END Drag and drop active -->
               
                <!-- Logo Uploader -->
                <div class="text-center" v-show="showImageUploader">
                    <div class="mt-4 pt-4">
                        <div> 
                            <h4 class="label">{{ $t('organization.profil.steep2_info1') }}</h4>
                            <p class="mt-3">{{ $t('organization.profil.steep2_info2') }}</p>
                        </div>
                    </div>
                    <div class="text-center py-2">
                        <div class="avatar-uploader-wrapper">
                            <div class="avatar-upload">
                                <div class="text-center logo-prev p-5">
                                    <label for="logo" class="logo-wrapper" ref="logoPhotoLabel">
                                        <img :src="files.length ? files[0].url : require('@/assets/img/image.svg').default"  class="icon-image-uploader" />
                                    </label>
                                    <div class="text-center mt-3">
                                        <p class="small">{{ $t('organization.profil.steep2_info3') }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END Logo uploader -->

                <!-- Cover croper -->
                <div class="avatar-edit" v-show="files.length && edit">
                    <div class="cropper-wrapper" v-if="files.length">
                        <img ref="editImage" :src="files[0].url" />
                    </div>
                    <div class="text-center p-4 mt-5">
                        <DefaultButton className="style4" :text="$t('word.save')"  @click.native="editSave"></DefaultButton>
                        <br>
                        <DefaultButton className="outline" :text="$t('word.cancel')"  @click.native="$refs.upload.clear"></DefaultButton>
                    </div>
                </div>
                <!-- end cover cropper --> 


                <!--  LOGO Preview-->
                <div class="text-center" v-if=" (!showImageUploader && !edit ) ">
                    <div class="mt-4 pt-4">
                        <h4 class="label">{{ $t('organization.profil.steep2_info4') }}</h4>
                    </div>
                    <div class="m-5">

                        <img :src="'/uploads/logo/'+organization.logo"  class="logo-preview-image" />
                    </div>
                    <div>
                        <DefaultButton className="style5" :text="$t('organization.profil.steep2_info5')"  @click.native=" showImageUploader = true "></DefaultButton>
                        <p class="small">{{ $t('organization.profil.steep2_info3') }}</p>
                    </div>
                    <div  class="mt-5">
                        <DefaultButton className="style4" :text="$t('word.continue')"  @click.native="$emit('goTo','OrganizationInfos')"></DefaultButton>
                    </div>
                </div>
                <!--  END LOGO Preview-->
                <div class="slider-bar-avis mx-auto">
                    <div id="bar-1" class="bar"></div> 
                    <div id="bar-2" class="bar"></div> 
                    <div id="bar-2" class="bar"></div>
                </div> 
             </div>
        </Modal>
    </div>
</template>
<script>
    import ProfilService from "@/services/organization/ProfilService.js"
    import FileUpload from 'vue-upload-component'
    import Cropper from 'cropperjs'
    import ImageHelper from "@/services/helpers/ImageHelper"

    export default {
        name: 'OrganizationLogo',
        components : {
            FileUpload
        },
        props : ['organization'],
        data : function() {
            return {
                files: [],
                loading           : false,
                showImageUploader : false,
                edit      : false,
                cropper: false,
                uploaded: false
            }
        },
        methods: {
            uploadLogo(){
                let that = this 
                that.loading = true
                let formData = new FormData();
                this.$refs.upload.files.map(input => {
                    formData.append('logo', input.file)
                })
                ProfilService.updateLogo(formData, that.organization.id)
                .then(response =>{
                    if(response.data.success){
                        that.edit = false
                        that.organization.logo = response.data.logo
                        that.files = []
                        that.$store.dispatch('user/updateInfos')

                        //that.$emit('goTo','OrganizationLogo')
                    }else{
                        that.dispatchError(response.data.error)
                    }
                    that.loading = false
                }).catch(error =>{
                    that.dispatchError(error)
                    that.loading = false
                })
            },
            editSave() {
                this.edit = false
                let oldFile = this.files[0]
                let binStr = atob(this.cropper.getCroppedCanvas().toDataURL(oldFile.type).split(',')[1])
                let arr = new Uint8Array(binStr.length)
                for (let i = 0; i < binStr.length; i++) {
                    arr[i] = binStr.charCodeAt(i)
                }
                let file = new File([arr], oldFile.name, { type: oldFile.type })
                this.$refs.upload.update(oldFile.id, {
                    file,
                    type: file.type,
                    size: file.size
                })
                this.uploadLogo()
            },
            inputFile(newFile, oldFile, prevent) {
                if (newFile && !oldFile) {
                    this.$nextTick(function () {
                        this.edit = true
                    })
                }
                if (!newFile && oldFile) {
                    this.edit = false
                }
            },

            inputFilter(newFile, oldFile, prevent) {
                let that = this;
                
                if (newFile && !oldFile) {
                    if (!/\.(jpg|jpeg|png)$/i.test(newFile.name)) {
                        this.dispatchError(that.$t("media.error.invalid_format"))
                       return prevent()
                    }
                }
                
                //return prevent()

                let filetoCheck = newFile
                ImageHelper.getImageSize(filetoCheck, function(size){
                    if(size.w < 250 || size.h < 250){
                        that.edit  = false
                        that.showImageUploader  = true
                        that.files = []
                        that.dispatchError(that.$t("media.error.invalid_size"))
                       
                    }
                })

                if (newFile && (!oldFile || newFile.file !== oldFile.file)) {
                    newFile.url = ''
                    let URL = window.URL || window.webkitURL
                    if (URL && URL.createObjectURL) {
                        newFile.url = URL.createObjectURL(newFile.file)
                    }
                }  
            },


            hasLogo(){
                return this.organization.logo ?? false
            }
        },
        watch: {
            edit(value) {
                if (value) {
                    this.$nextTick(function () {
                    if (!this.$refs.editImage) {
                        return
                    }
                    this.showImageUploader = false
                    let cropper = new Cropper(this.$refs.editImage, {
                        aspectRatio: 1 / 1,
                        viewMode: 1,
                        minCropBoxWidth: 250,
                        minCropBoxHeight: 250,
                    })
                    this.cropper = cropper
                    })
                } else {
                    if (this.cropper) {
                    this.cropper.destroy()
                    this.cropper = false
                    }
                }
            }
        },
        mounted: function(){
            this.showImageUploader = !this.hasLogo()
            window.scrollTo(0, 0)
        }

    }




</script>
<style scoped>
    @media (max-width:425px){
        h4.label{
            font-size: 16px;
        }
    }
</style>