<template>
     <Modal size="lg">
        <div slot="header" class="w-100">
            <div class="icon icon-back" v-on:click="$emit('goTo','OrganizationLogo')"></div>
            <div class="title text-center"> 
                <h5>{{ $t('organization.profil.steep') }} 4/11</h5>
            </div>
        </div>
        <div slot="body" class="organizationInfos"> 
            <div class="text-center">
                <div class="my-5">
                    <h4 class="label">{{ $t("organization.profil.steep4_info1") }}</h4>
                </div>
            </div>
            <div class="form-wrapper mt-5">
                <label class="form-legende">
                    {{ $t("organization.profil.steep4_info2") }}
                </label>
                <div class="row text-left mt-5">
                    <div class="col-sm-6 col-md-4 mb-4">
                        <label>{{ $t("organization.profil.steep4_label1") }}*</label>
                        <input type="text" class="form-control py-4" id="year_of_creation" v-model="organization.year_of_creation">
                    </div>
                    <!--div class="col-sm-6 col-md-4 mb-4">
                        <label>{{ $t("organization.profil.steep4_label2") }}</label>
                        <input type="text" class="form-control py-4" id="siret_number" v-model="organization.siret_number">
                    </div-->
                    <div class="col-sm-6 col-md-4 mb-4">
                        <label>{{ $t("organization.profil.steep4_label3") }}*</label>
                        <input type="text" class="form-control py-4" id="president_name"  v-model="organization.president_name">
                    </div>
                    <div class="col-sm-6 col-md-4 mb-4">
                        <label>{{ $t("organization.profil.steep4_label4") }}*</label>
                        <input type="text" class="form-control py-4" placeholder="https://" id="website" v-model="organization.website">
                    </div>
                    <!--div class="col-sm-6 col-md-4 mb-4">
                        <label>{{ $t("organization.profil.steep4_label5") }}</label>
                        <input type="text" class="form-control py-4"  v-model="profil.accreditation">
                    </div-->
                    <div class="col-sm-6 col-md-4 mb-4">
                        <label>{{ $t("organization.profil.steep4_label6") }}*</label>
                        <Multiselect 
                            class="institution-select"
                            id="institution_type"
                            selectLabel = ""
                            :options="InstitutionTypes"
                            track-by="id"
                            :custom-label="getLabel"
                            v-model="organization.institution_type"
                        />
                    </div>
                    
                    <div class="col-sm-12">
                        <label>{{ $t("organization.profil.steep4_label7") }}*</label>
                        <textarea class="form-control py-4" id="description"  v-model="organization.description" @keydown="onDescriptionKeyDown" placeholder="Remember that lorem is upsom dolores de lutin mari dada fr"></textarea>
                        <p class="pull-right small">{{ organization.description ? organization.description.split(' ').length : 0  }} {{ $t('word.word') }}s</p>
                    </div>
                </div>
                <div class="text-center">
                    <DefaultButton className="style4" :text="$t('word.continue')" :onLoad="loading" @click.native="updateOrganizationInfos" />
                </div>
            </div>
           
            <div class="slider-bar-avis mx-auto">
                <div id="bar-1" class="bar"></div> 
                <div id="bar-2" class="bar"></div> 
                <div id="bar-2" class="bar"></div>
            </div>
        </div>
    </Modal>
</template>
<script>
    import ProfilService from "@/services/organization/ProfilService.js"
    import Multiselect from "vue-multiselect"
    export default {
        name: 'organization_infos',
        components : {
            Multiselect
        },
        props : ['organization'],
        data : function() {
            return {
                message:  false,
                loading   : false,
                change    :false,
                InstitutionTypes : [],
            }
        },
        methods: {
            updateOrganizationInfos(){
                if(!this.change && this.validateForm()){
                    this.$emit("goTo", "OrganizationAdresse");
                    return false
                }
                
                if(!this.validateForm()){
                    return false
                }

                let that = this
                that.loading = true
                ProfilService.updateOrganizationInfos( 
                    {
                        'context' : 'infos',
                        'organization'  : that.organization
                    }
                ).then(response =>{
                    if(response.data.success){
                        that.$store.dispatch('user/updateInfos')
                        that.$emit('goTo','OrganizationAdresse')
                    }else{
                            this.message = response.data.error
                    }
                        this.loading = false
                }).catch(error =>{
                    console.log(error)
                    this.message = error
                    this.loading = false
                })
                
                
            },
            onDescriptionKeyDown(evt){
                if (null != this.organization.description && this.organization.description.split(' ').length >= 250) {
                    if (evt.keyCode >= 48 && evt.keyCode <= 90) {
                        evt.preventDefault()
                    return
                    }
                }
            },
            getLabel({id}){
              return this.$t(`organizationType.${id}`)
            },
            validateForm(){
                /** check year_of_creation */
                let year = this.organization.year_of_creation

                if(year && year.length && !isNaN(year) && year > 1000 && year < 2200){
                    document.getElementById("year_of_creation").classList.remove('invalid')
                    }else{
                    document.getElementById("year_of_creation").classList.add('invalid')
                    return false
                }

                /*
                let siret = this.organization.siret_number
                if(siret && siret.length > 8 ){
                    document.getElementById("siret_number").classList.remove('invalid')
                    }else{
                    document.getElementById("siret_number").classList.add('invalid')
                    return false
                }*/

                let name = this.organization.president_name
                if(name && name.length > 3 ){
                    document.getElementById("president_name").classList.remove('invalid')
                    }else{
                    document.getElementById("president_name").classList.add('invalid')
                    return false
                }

                if(this.isValidURL(this.organization.website)){
                    document.getElementById("website").classList.remove('invalid')
                }else{
                    document.getElementById("website").classList.add('invalid')
                    return false
                }

                if(this.organization.institution_type && this.organization.institution_type.id ){
                    document.getElementById("institution_type").classList.remove('invalid')
                }else{
                    document.getElementById("institution_type").classList.add('invalid')
                    return false
                }
                if(!this.organization.description || (this.organization.description && (this.organization.description.split(' ').length) < 20)){
                    this.dispatchError(this.$t("organization.profil.steep4_label7"))
                    document.getElementById("description").classList.add('invalid')
                    return false
                }else {
                    document.getElementById("description").classList.remove('invalid')
                }

                return true

            }
        },
        watch : {
            organization : {
                deep : true,
                handler : function(val){
                    this.change = true
                }
            }

        },
        mounted : function(){
            let that = this
            let data =  Object.entries( 
                require("@/lang/translations/organizationType/en.json")
            )
            data.map((item) => {
                that.InstitutionTypes = [
                ...that.InstitutionTypes,
                { id: item[0], label: item[1] },
                ];
            });

            /** mapped default institution type**/
            if(this.organization.institution_type){
                this.selectedInstitution = {
                    key : this.organization.institution_type,
                    value: this.$t('institutionType.'+this.organization.institution_type)
                }
            }
            window.scrollTo(0, 0)
        }
    }
</script>
<style scoped>
@media(max-width:425px){
    input, textarea, label{
        font-size:14px !important;
    }
    h4.label{
        font-size:16px !important;
    }
    .form-wrapper.mt-5{
        margin-top: 1rem !important;
    }
    .organizationInfos{
        margin: 0 8%;
    }
    .profil-form .form-legende {
        margin-top: 0 !important;
    }
    button{
        width:95%;
    }
}
</style>
<style>
    .institution-select .multiselect__tags {
        padding-top: 14px !important;
        padding-bottom: 8px !important;
    }
    .institution-select .multiselect__select {
        margin-top: 5px;
    }
</style>