<template>
     <Modal size="lg">
        <div slot="header" class="w-100">
            <div class="icon icon-back" v-on:click="$emit('goTo','OrganizationAdresse')"></div>
            
            <div class="title text-center"> 
                 <h5 class="">{{ $t('organization.profil.steep') }} 6/11</h5>
            </div>
        </div>
        <div slot="body" class="organizationInfos"> 
            <div class="text-center">
                <div class="my-4">
                     <h4 class="label">{{ $t("organization.profil.steep4_info1") }}</h4>
                </div>
            </div>
            <div class="form-wrapper">
                <label class="form-legende">
                    {{ $t("organization.profil.steep6_info1") }}
                </label>
                <div class="row text-left form-content-wrapper">
                    <div class="col-sm-6 mt-4">
                        <label>{{ $t('organization.profil.labels.granted_scholarhsip_count') }}</label>
                        <input type="text" class="form-control py-4"  v-model="organization.statistical.scholarship_awarded">
                    </div>
            
                    <div class="col-sm-6 mt-4">
                        <label>{{ $t('organization.profil.labels.acceptance_rate') }}</label>
                         <div class="acceptance-input">
                            <input type="text" class="form-control py-4"  v-model="organization.statistical.acceptance_rate">
                            <span class="acceptance-input--unit">%</span>
                        </div>
                    </div>
            
                    <div class="col-sm-6 mt-4">
                        <label>{{ $t('organization.profil.labels.scholarship_holders_sexe') }}</label>
                        <div class="sex-rate">
                            <input type="text" placehoder="00" class="sex-rate--input"  v-model="organization.statistical.men_count">
                            <span class="sex-rate--separator">/</span>
                            <input type="text" placehoder="00" class="sex-rate--input"  v-model="organization.statistical.women_count">
                            <span class="sex-rate--unit">%</span>
                        </div>
                    </div>

                   
                    <div class="col-sm-6 mt-4">
                        <label>{{ $t('organization.profil.labels.scholarship_holders_count') }}</label>
                        <input type="text" class="form-control py-4"  v-model="organization.statistical.scholarship_count">
                    </div> 

                </div>
                <div class="text-center">
                    <DefaultButton className="style4" :text="$t('word.continue')" :onLoad="loading" @click.native="updateOrganizationStat" />
                </div>
            </div>
            <div class="alert alert-danger" v-if="message">
                {{ message }}
            </div> 
            <div class="slider-bar-avis mx-auto">
                <div id="bar-1" class="bar"></div> 
                <div id="bar-2" class="bar"></div> 
                <div id="bar-2" class="bar"></div>
            </div>    
        </div>
    </Modal>
</template>
<script>
    
    import ProfilService from "@/services/organization/ProfilService.js"

    export default {
        name: 'organization_stat',
        components : {
            
        },
        props : ['organization'],
        data : function() {
            return {
                message:  false,
                loading   : false,
                change    : false
            }
        },
        methods: {
            updateOrganizationStat(){
                if(!this.change){
                    this.$emit("goTo", "OrganizationSocialNetwork");
                    return false
                }
                let that = this
                that.loading = true

                //Validate form
                if(false){
                    this.message = "Nom de la organization invalide, Veuillez saisir lorem updom doloress"
                    this.loading = false
                }else{
                   
                    ProfilService.updateOrganizationInfos( {
                        context :'statistical',
                        organization  : that.organization
                    }
                        
                    ).then(response =>{
                        if(response.data.success){
                            that.$store.dispatch('user/updateInfos')
                            that.$emit('goTo','OrganizationSocialNetwork')
                        }else{
                             this.message = response.data.error
                        }
                            this.loading = false
                    }).catch(error =>{
                        console.log(error)
                        this.message = error
                        this.loading = false
                    })
                } 
            },
        },

        mounted : function(){
            if(!this.organization.statistical){
                this.organization.statistical =   {
                        scolarship_awarded : " ",
                        acceptance_rate    : " " ,
                        men_count : " " ,
                        women_count : " ", 
                        scolarship_count : " " 
                    }
            }
            window.scrollTo(0, 0)
        },
        watch : {
            organization : {
                deep : true,
                handler : function(val){
                    this.change = true
                }
            }
        }
    }
</script>
<style scoped>
.form-content-wrapper{
    text-align: left;
    margin: 3rem;
}

.sex-rate {
    display: flex;
    align-items: center;
    border: 1px solid #ced4da;
    width: fit-content;
    border-radius: 0.25rem;
    padding-right: 1rem;
}

.sex-rate--input{
    padding: 0.375rem 0.75rem;
    border: none;
    color: #495057;
    height: calc(1.5em + 0.75rem + 12px);
    width: 5rem;    
    text-align: center;
}

.sex-rate{
    padding-right: 2.5rem;
}

.acceptance-input{
    display: flex;
    align-items: center;   
    max-width: 8rem;
}
.acceptance-input input{
    padding-right: 2rem;
}

.acceptance-input .acceptance-input--unit{
    margin-left: -2rem;;
}

@media(max-width:520px){
    .form-content-wrapper{
        margin: 0;
    }
}
@media(max-width:425px){
    h4.label{
        font-size: 16px !important;
    }
    label, input{
        font-size: 14px !important;
    }
    button{
        margin-top: 1rem;
        width: 66%;
    }
}
</style>