<template>
<div>
    
     <Modal size="lg">
        <div slot="header" class="w-100">
            <div class="icon icon-back" v-on:click="$emit('goTo','OrganizationGalleryPhoto')"></div>
            <div class="title text-center"> 
               <h5>{{ $t('organization.profil.steep') }} 10/11</h5>
            </div>
        </div>
        <div slot="body" class="modal-body-container"> 
            <div class="text-center">
                <div class="mt-4 pt-4">
                    <div >
                        <p>{{ $t('organization.profil.steep10_infos1') }} </p>
                        <h4 class="label" v-html="$t('organization.profil.steep10_infos2')"></h4>
                    </div>
                </div>
               
                <div class="text-center py-2">
                    <div class="gallery-uploader-wrapper">
                        <div class="gallery-upload mt-5 pt-5">
                            <div v-if="!videos.length" class="thumbnails">
                                <img :src="require('@/assets/img/image-video.svg').default"  class="pb-4" />
                            </div>
                            <label class="custom-label">{{ $t('organization.profil.steep10_infos3') }}</label>
                            <p>{{ $t('organization.profil.steep10_infos5') }}<p>
                            <div class="mx-5 video-gallery-field mb-4">
                                <vue-video
                                    id="organization-gallery-video--input"
                                    thumbWidthPX="100"
                                    urlInputBorder="#DBD9E2"
                                    urlInputTextColor="#686868"
                                    :urlInputPlaceholderText= "$t('organization.profil.steep10_infos4')"
                                    urlInputTextHeightPX="50"
                                    limitVideoTo="3"
                                    @VideoDeleted="updateVideos"
                                    @thumbnailClick="updateVideos"
                                    @VideoAdded="updateVideos"
                                    @VideoUrlError="onVideoUrlError"
                                    >
                                </vue-video>
                                <!--
                                <input type="text" class="form-control" v-model="videoUrl" :placeholder="')">
                                -->
                            </div>
                        </div>
                    </div>
                    <div class="text-center mt-4">
                        <DefaultButton className="style4" :text="$t('word.continue')" @click.native="uploadGallery" :onLoad="loading"></DefaultButton>
                    </div>
                </div>
            </div>

            <div class="slider-bar-avis mx-auto">
                <div class="bar" id="bar-1"></div>
                <div class="bar" id="bar-2"></div>
                <div class="bar" id="bar-2"></div>
            </div>  
        </div>
    </Modal>
</div>
</template>
<script>
    import ProfilService from "../../../../../services/organization/ProfilService.js"



    export default {
        name: 'OrganizationGalleryVideo',
        components : {
            
        },
        props: ['organization'],
        data : function() {
            return {
                loading   : false,
                videos    : [],
                preloading: false
            }
        },
        methods: {
            uploadGallery(){
                let that = this  
                this.loading   = true
                ProfilService.updateGalleryVideo(
                    {
                        galeryVideo : this.videos
                    }, that.organization.id
                )
                .then(response =>{
                    if(response.data.success){
                       that.organization.gallery = JSON.parse(response.data.gallery)
                       that.$store.dispatch('user/updateInfos')
                       that.$emit('goTo','CongratuationModal')
                    }else{
                        that.dispatchError(response.data.error)
                    }
                    that.loading = false
                }).catch(error =>{
                    that.dispatchError(error)
                    that.loading = false
                })
            },
            updateVideos(value) {
                this.videos = value.videos
                this.message = false
            },
            onVideoUrldispatchError(url) {
                this.dispatchError(this.$t("media.error.invalid_video_url")+"<br>"+this.$t("organization.profil.steep10_infos5"))
            },
            
            preloadValue(array){
              this.preloading = true

              let component = document.getElementById("organization-gallery-video--input")
              let input     = component.querySelector("input.vue-video__video-selector__url")
              let that      = this
              for (let index = 0; index < array.length; index++) {
                const video = array[index];
                if(video.isValid){
                  //setTimeout(() => {
                    input.value = that.getUrlSource(video.Url)
                    input.dispatchEvent(new Event('input'))
                    input.dispatchEvent(new Event('change'))
                    input.dispatchEvent(new Event('blur'))
                 // }, 3000);
                }
              }
            },
            getUrlSource(url){
              /*** youtube */
              url = url.replace("www.youtube.com", "youtu.be");
              url = url.replace("/embed/", "/");
              return url
            },
            onVideoUrlError(url) {
                this.message = "Url video invalide , ex : https://www.youtube.com/watch?v=eX-FcKO4dmI"
            },
            
        },
         mounted: function(){
             this.organization.gallery = this.organization.gallery ? this.organization.gallery : {
                pictures : [],
                videos   : [],
            } 
            if(this.organization.gallery && this.organization.gallery.videos){
                this.preloadValue(this.organization.gallery.videos)
            }

            window.scrollTo(0, 0)
        }
    }




</script>
<style>
    .vue-video__video-selector__url {
        border-radius: 25px !important;
        padding: 0 2rem !important;
    }

     .vue-video__video-selector__url::placeholder {
        color: #D0CEDA !important;
        opacity: 1;
    }

     .vue-video__video-selector__url:-ms-input-placeholder {
        color: #D0CEDA !important;
    }

     .vue-video__video-selector__url::-ms-input-placeholder { 
        color: #D0CEDA !important;
    }
    @media (max-width:520px) {
        #organization-gallery-video--input .vue-video__video-selector__list img{
            width: 50px !important;
        }
    }
</style>
<style scoped>
    @media (max-width:520px) {
        label.custom-label {
            font-size: 14px !important;
        }
    }
    @media(max-width:425px){
        h4.label{
            font-size:16px;
        }
        .gallery-upload.mt-5.pt-5 > p{
            font-size: 12px;
        }
        button{
            width:80%;
        }
    }
    .profil-form .gallery-uploader-wrapper {
        margin-top: 2rem;
        padding: 1.5rem 0 6rem 0px;
    }
    label.custom-label {
        font-family: 'NunitoSans-Bold' !important;
        font-size: 1.2rem !important;
    }
</style>

