<template>
     <Modal size="lg">
        <div slot="header" class="w-100">
            <div class="icon icon-back" v-on:click="$emit('goTo','OrganizationStat')"></div>
            
            <div class="title text-center"> 
                 <h5>{{ $t('organization.profil.steep') }} 7/11</h5>
            </div>
        </div>
        <div slot="body" class="organizationSocialNetwork"> 
            <div class="text-center">
                <div class="my-4">
                    <h4 class="label">{{ $t("organization.profil.steep4_info1") }}</h4>
                </div>
            </div>
            <div class="form-wrapper">
               <label class="form-legende">
                    {{ $t("organization.profil.steep7_info1") }}
                </label>
                <div class="row text-left form-content-wrapper">
                    <div class="col-sm-6 mt-3">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-2x fa-youtube"></i>
                                </span>
                            </div>
                            <input type="text" placeholder="https"  class="form-control py-4 bl-0"  v-model="organization.social_network.youtube">
                        </div>
                    </div>
            
                    <div class="col-sm-6 mt-3">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-2x fa-twitter"></i>
                                </span>
                            </div>
                            <input type="text" placeholder="https"  class="form-control py-4  bl-0"  v-model="organization.social_network.twitter">
                        </div>
                    </div>
            
                    <div class="col-sm-6 mt-3">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-2x fa-facebook"></i>
                                </span>
                            </div>
                            <input type="text" placeholder="https"  class="form-control py-4  bl-0"  v-model="organization.social_network.facebook">
                        </div>
                    </div>
            
                    <div class="col-sm-6 mt-3">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-2x fa-instagram"></i>
                                </span>
                            </div>
                            <input type="text" placeholder="https"  class="form-control py-4  bl-0"  v-model="organization.social_network.instagram">
                        </div>
                    </div>

                   
                    <div class="col-sm-6 mt-3">
                       <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-2x fa-linkedin"></i>
                                </span>
                            </div>
                            <input type="text" placeholder="https"  class="form-control py-4 bl-0"  v-model="organization.social_network.linkedin">
                        </div>
                    </div> 
                </div>
                <div class="text-center">
                    <DefaultButton className="style4" :text="$t('word.continue')" :onLoad="loading" @click.native="updateOrganizationNetwork" />
                </div>
            </div>
            <div class="alert alert-danger" v-if="message">
                {{ message }}
            </div> 

            <div class="slider-bar-avis mx-auto">
                <div class="bar" id="bar-1"></div>
                <div class="bar" id="bar-2"></div>
                <div class="bar" id="bar-2"></div>
            </div>  
               
        </div>
    </Modal>
</template>
<script>
    
    import ProfilService from "@/services/organization/ProfilService.js"

    export default {
        name: 'organization_socialNetwork',
        components : {

        },
        props : ['organization'],
        data : function() {
            return {
                message:  false,
                loading   : false,
                change    : false
            }
        },
        methods: {
            updateOrganizationNetwork(){
                if(!this.change){
                    this.$emit("goTo", "OrganizationCover");
                    return false
                }
                let that = this
                that.loading = true

                //Validate form
                if(false){
                    this.message = "Nom de la organization invalide, Veuillez saisir lorem updom doloress"
                    this.loading = false
                }else{
                   
                    ProfilService.updateOrganizationInfos( {
                        context :'socialNetwork',
                        organization  : that.organization
                    }
                        
                    ).then(response =>{
                        if(response.data.success){
                            that.$store.dispatch('user/updateInfos')
                            that.$emit('goTo','OrganizationCover')
                        }else{
                             this.message = response.data.error
                        }
                            this.loading = false
                    }).catch(error =>{
                        console.log(error)
                        this.message = error
                        this.loading = false
                    })
                } 
            }

        },

        mounted : function(){
            this.organization.social_network =  this.organization.social_network ? this.organization.social_network :  {
                linkedin : " ",
                facebook    : " " ,
                twitter : " " ,
                instagram : " ", 
                youtube : " " 
            }
            window.scrollTo(0, 0)

        },
        watch : {
            organization : {
                deep : true,
                handler : function(val){
                    this.change = true
                }
            }
        }
    }
</script>
<style scoped>
    .form-content-wrapper{
        margin: 2.5rem;
    }

    @media(max-width:425px){

        .form-content-wrapper{
            margin: 0;
        }
       input{
            font-size: 14px !important;
        }

        h4.label{
            font-size: 16px;
        }
        button{
            width: 77%;
            margin-bottom: 1rem;
        }
    }
</style>