<template>
     <Modal size="lg" class="organization-name-modal">
        <div slot="header" class="w-100">
            <div class="icon icon-back" v-on:click="$emit('goTo','None')"></div>
            
            <div class="title text-center"> 
               <h5>{{ $t('organization.profil.steep') }} 1/11</h5>
            </div>
        </div>
        <div slot="body"> 
            <div class="text-center">
                <div class="my-3 py-4 upper-text">
                    <p>
                        {{ $t('organization.profil.steep1_info1') }}
                        <br>
                        <b>{{ $t('organization.profil.steep1_info2') }}</b>
                    </p>
                </div>
            </div>
            <div class="text-center">
                <h4 class="label">{{ $t('organization.profil.steep1_info3') }}</h4>
                <div class="p-5 mb-5 fix-marge">
                    <input class="organization-name-input" v-model="organization.name" />
                </div>
                <DefaultButton className="style4" :text="$t('word.validate')" :onLoad="loading" @click.native="updateOrganizationName" />
            </div>

            <div class="slider-bar-avis mx-auto">
                <div id="bar-1" class="bar"></div> 
                <div id="bar-2" class="bar"></div> 
                <div id="bar-2" class="bar"></div>
            </div>        
        </div>
    </Modal>
</template>
<script>
    import ProfilService from "@/services/organization/ProfilService.js"

    export default {
        name: 'organization_name',
        components : {
        
        },
        props : ['organization'],
        data : function() {
            return {
                loading   : false,
                oldName   : false
            }
        },
        methods: {
            updateOrganizationName(){
                /** skype if there are no edition */
                if(this.oldName == this.organization.name && (this.organization.name && this.organization.name.length > 3) ){
                    this.$emit('goTo','OrganizationLogo')
                    return false
                }
                
                let that = this
                that.loading = true

                if(!that.organization.name || (that.organization.name && that.organization.name.length <= 1)){
                    this.dispatchError(this.$t('organization.error.invalid_name'))
                    this.loading = false
                } else {
                    let id = "undefined" != typeof this.organization.id ? this.organization.id : null;
                    ProfilService.updateOrganizationName(
                        { 'organizationName' : that.organization.name},  id
                    ).then(response =>{
                        if(response.data.success){
                            that.$store.dispatch('user/updateInfos')
                            that.$emit('goTo','OrganizationLogo');
                            that.$emit('update:organization', response.data.organization)
                        }else{
                             that.dispatchError(response.data.error)
                        }
                        this.loading = false
                    }).catch(error =>{
                        that.dispatchError(error)

                        this.loading = false
                    })
                }
                
            },
            
        },
        mounted : function(){
            window.scrollTo(0, 0)
            this.oldName = this.organization.name
        }
    }

</script>
<style scoped>
    .organization-name-input {
        max-width: 55rem;
        width: 100%;
        border-radius: 5px;
        box-shadow: 0px 4px 0px #e1e3ee;
        border: 1px solid #D0CEDA7D;
        margin: auto;
        padding: 1.2rem;
        font-family: 'NunitoSans-Regular' !important;
    }
    @media(max-width:425px){
        .mb-5.fix-marge{
            margin-bottom:0  !important;
        }
        h4.label{
            font-size: 14px;
        }
        .my-3.upper-text{
            font-size: 14px;
            margin: 0;
        }
        .upper-text{
            font-size: 12px;
        }
        button{
            width:75%;
        }
    }
</style>
<style>
    .organization-profil-form .modal-body{
        min-height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
</style>