<template>
  <div class="menu-top row">
    <div class="logo logo-mobile" v-show = "false">
      <img :src="logo_grippeur" alt="" />
      <a href="#" class='menu-mobile-avatar'>
        <img :src="userAvatarUrl" alt="" />
      </a>
    </div>
    
    <!-- BEGIN Organization destop top menu  --->
      <desktop-navigation-top :data="menuData"/>
    <!-- END Organization destop top menu  --->

    <div class="content-tools col-sm-5">
        <!--div class="element-tools element-tools-desktop">
          <a href="#">
            <img :src="img_search" alt="" />
          </a>
          <a href="#">
            <img :src="img_notif" alt="" />
          </a>
        </div-->
        <div class="dropdown dropdown-desktop" @click="showUserDropdown"  v-click-outside="closeUserDropdown" >
            <a class='menu-avatar-wrapper'>
              <img :src="userAvatarUrl" alt="" />
            </a>
            <div class="nom-prenom cursor-pointer">{{ accountName }}</div>
            <div class="icon-dropdown cursor-pointer">
              <img :src="img_dropdown" alt="" />
            </div>
            <div class="dropdown-menu"  :class="{show: isActive}" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href @click.prevent="goToMyAccount">{{ $t('word.my_acount') }}</a>
              <a class="dropdown-item" href @click.prevent="logOut">{{ $t('word.logout') }}</a>
          </div>
        </div>
    </div>

    <!-- Begin bottom mobile menu --->
      <template>
          <mobile-navigation-bar @openMenu="showUserMenuMobile = true" />
      </template>
    <!-- END bottom mobile menu --->

    <!-- BEGIN Mobile Menu left -->
      <template>
        <div class="mobile-menu-left" v-if="showUserMenuMobile">
          <div class="menu-closer">
            <button class="menu-closer-btn" @click="showUserMenuMobile = false"></button>
          </div>

          <ul class="mobile-menu-left-container">
            <li class="menu-item" @click.prevent="$router.push({'name' : 'organization_dashboard' })">
              <a href="#">{{ $t("word.dashboard") }}</a>
            </li>
            <li class="menu-item"  @click.prevent="$router.push({'name' : 'scholarship_search' })">
              <a href="#">{{ $t("word.scholarship") }}</a>
            </li>
            <li class="menu-item"  @click.prevent="$router.push({'name' : 'organization_scholarships' })">
              <a href="#">{{ $t("word.myscholarships") }}</a>
            </li>
            <li class="menu-item" @click.prevent="$router.push({'name' : 'user-favoris' })">
              <a href="#">{{ $t("word.myfavorilist") }}</a>
            </li>
            <li class="menu-item" @click.prevent="$router.push({'name' : 'student_search' })">
              <a href="#">{{ $t("word.students") }}</a>
            </li>
            <li class="menu-item" @click.prevent="$router.push({'name' : 'organization_candidat_list' })">
              <a href="#">{{ $t("word.my_candidate") }}</a>
            </li>
            <li class="menu-item" @click.prevent="$router.push({'name' : 'organization_folder_list' })">
              <a href="#">{{ $t("word.myforms") }}</a>
            </li>
          </ul>

          <div class="bouton-menu" >
            <form id="choix-langue">
              <LangSwitcher />
            </form>
            <DefaultButton
              id="logout"
              :text="$t('word.logout')"
              :onLoad="onLogout"
              @click.native="logOut"
            />
          </div>
        </div>
      </template>
    <!-- END Mobile Menu left -->

  </div>
</template>
<script>
import LangSwitcher         from "@/components/LangSwitcher.vue";
import profil               from '../../../services/api/Organization/profil';
import MobileNavigationBar  from '../Menu/MobileNavigationBar.vue';
import DesktopNavigationTop from '../Menu/DesktopNavigationTop.vue';
    export default {
      name : 'NavbarStudent',
      components : {
          LangSwitcher,
          MobileNavigationBar,
          DesktopNavigationTop
      },
      data : function () {
          return {
              showUserMenu : "",
              showUserMenuMobile: false,
              isActive: false,
              MenuMobile : false,
              onLogout   : false,
              logo_grippeur: require("@/assets/img/logo-grimpeurs-white.svg").default,
              icon_menu: require("@/assets/img/hamburger.png").default,
              img_search: require("@/assets/img/icon-search-grey.svg").default,
              img_email: require("@/assets/img/icon-email.svg").default,
              img_burger: require("@/assets/img/icon-burger-active.svg").default,
              img_notif: require("@/assets/img/icon-bell.svg").default,
              img_user: require("@/assets/img/user.svg").default,
              img_dropdown: require("@/assets/img/dropdown.png").default,

              menuData: [
                {
                  route  : {'name' : 'organization_dashboard' },
                  text   :  this.$t("word.home")
                },
                {
                  route  : {'name' : 'scholarship_search' },
                  text   :  this.$t("word.scholarship")
                },
                {
                  route  : {'name' : 'student_search' },
                  text   :  this.$t("word.students")
                },
                {
                  route    : false,
                  text     : "Candidature",
                  children : [
                    {
                      route : {'name' : 'organization_folder_list' },
                      text  : this.$t("word.scholarship")
                    }
                  ]
                },
              ]
            }
      },
      computed: {
          userAvatarUrl(){
            if(!this.profil || (this.profil && (!this.profil.avatar)))
              return this.img_user

            return "/uploads/avatar/" + this.profil.avatar 
          },
          accountName: function(){
            if(!this.profil){
              return "Organization"
            }

            if(this.profil.firstname || this.profil.lastname){
              return this.profil.firstname + ' ' + this.profil.lastname
            }

            if(this.profil.name){
                return this.profil.name
            }
          }
      },
      methods: {
          showUserDropdown: function() {
              this.isActive = !this.isActive;
          },
          closeUserDropdown: function() {
              this.isActive = false;
          },
          goToMyAccount(){
            this.$router.push({'name':'organization_profil'})
          },
          logOut() {
              this.onLogout = true
              this.$store.dispatch('user/logout');
          }
      }
    }
</script>
<style scoped>
  .dropdown.dropdown-desktop {
    max-width: unset !important;
    justify-content: end !important;
  }
  .dropdown-desktop .menu-avatar-wrapper {
      margin-right: 1rem;
  }
  .dropdown-desktop .menu-avatar-wrapper {
      margin-right: 1rem;
  }
  .dropdown-desktop .icon-dropdown{
    margin-left: 10px;
  }
  .dropdown-desktop .dropdown-menu.show{
    left: unset !important;
    right: 0 !important;
  }

  .application-dropdown{
    display: block;
  }
  
  .application-dropdown .dropdown-menu{
      margin-top: 1.4rem;
      border-top: unset;
      padding-left: 8px;
  }


  .content-tools{
    justify-content: end !important;
  }


  @media (max-width:1280px) {
    #menu-top{
      margin-left: 1rem;
    }
  }
  @media (max-width:991px) {
    #menu-top{
      margin-left: 1.5rem;
    }
  }
</style>