<template>
  <div class="menu-top row">
    <div class="logo logo-mobile" v-show = "false">
        <img :src="logo_grippeur" alt="" />
        <a href="#" :class="currentUser.avatar ? 'menu-mobile-avatar' : ''">
          <img :src="userAvatarUrl" alt="" />
        </a>
    </div>

    <!-- BEGIN Organization destop top menu  --->
      <desktop-navigation-top :data="menuData" col="col-sm-6"/>
    <!-- END Organization destop top menu  --->
    
    <div class="content-tools col-sm-6">
        <div class="element-tools element-tools-desktop">
          <a href="#">
            <img :src="img_search" alt="" />
          </a>
          <a href="#">
            <img :src="img_notif" alt="" />
          </a>
          <a href="#" :class="currentUser.avatar ? 'menu-avatar-wrapper' : ''">
            <img :src="userAvatarUrl" alt="" />
          </a>
        </div>
      <!-- <div class="dropdown dropdown-desktop" @click="showUserMenu='show'" > -->
      <div class="dropdown dropdown-desktop" @click="myFilter" v-click-outside="closeUserDropdown">
        <div class="nom-prenom">{{ currentUser.firstname +" " + currentUser.lastname }}</div>
        <div class="icon-dropdown">
          <img :src="img_dropdown" alt="" />
        </div>
        <div class="dropdown-menu"  :class="{show: isActive}" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href @click.prevent="goToMyAccount">{{ $t('word.my_acount') }}</a>
            <a class="dropdown-item" href @click.prevent="logOut">{{ $t('word.logout') }}</a>
         </div>
      </div>
    </div>

    <!-- Begin bottom mobile menu --->
      <template>
        <mobile-navigation-bar @openMenu="showUserMenuMobile = true" />
      </template>
    <!-- END bottom mobile menu --->

    <!-- BEGIN Mobile Menu left -->
      <template>
          <div class="mobile-menu-left" v-if="showUserMenuMobile">
              <div class="menu-closer">
                  <button class="menu-closer-btn" @click="showUserMenuMobile = false"></button>
              </div>

              <ul class="mobile-menu-left-container">
                  <li class="menu-item" @click.prevent="$router.push({'name' : 'student_dashboard' })">
                    <a href="#">{{ $t("word.dashboard") }}</a>
                  </li>
                  <li class="menu-item"  @click.prevent="$router.push({'name' : 'scholarship_search' })">
                    <a href="#">{{ $t("word.scholarship") }}</a>
                  </li>
                  <li class="menu-item" @click.prevent="$router.push({'name' : 'user-favoris' })">
                    <a href="#">{{ $t("word.myfavorilist") }}</a>
                  </li>
                  <li class="menu-item" @click.prevent="$router.push({'name' : 'student_application_list' })">
                    <a href="#">{{ $t("word.my_candidate") }}</a>
                  </li>
              </ul>

              <div class="bouton-menu" >
                  <form id="choix-langue">
                    <LangSwitcher />
                  </form>
                  <DefaultButton
                    id="logout"
                    :text="$t('word.logout')"
                    :onLoad="onLogout"
                    @click.native="logOut"
                  />
              </div>
          </div>
      </template>
    <!-- END Mobile Menu left -->

  </div>
</template>
<script>
    import LangSwitcher from "@/components/LangSwitcher.vue";
    import MobileNavigationBar from '../Menu/MobileNavigationBar.vue';
    import DesktopNavigationTop from '../Menu/DesktopNavigationTop.vue';
    export default {
      name : 'NavbarStudent',
      components : {
          LangSwitcher,
          MobileNavigationBar,
          DesktopNavigationTop
      },
      data : function () {
          return {
              showUserMenu : "",
              showUserMenuMobile: false,
              isActive: false,
              MenuMobile : false,
              onLogout   : false,
              logo_grippeur : require("@/assets/img/logo-grimpeurs-white.svg").default,
              icon_menu     : require("@/assets/img/hamburger.png").default,
              img_search    : require("@/assets/img/icon-search-grey.svg").default,
              img_email     : require("@/assets/img/icon-email.svg").default,
              img_burger    : require("@/assets/img/icon-burger-active.svg").default,
              img_notif     : require("@/assets/img/icon-bell.svg").default,
              img_user      : require("@/assets/img/user.svg").default,
              img_dropdown  : require("@/assets/img/dropdown.png").default,
              menuData: [
                {
                  route  : {'name' : 'student_dashboard' },
                  text   :  this.$t("word.dashboard")
                },
                {
                  route  : {'name' : 'scholarship_search' },
                  text   :  this.$t("word.scholarship")
                }
              ]
          } 
      },
      computed: {
          currentUser() { 
              return this.$store.state.user.profil
          },
          userAvatarUrl(){
            if(!this.currentUser || (this.currentUser && (!this.currentUser.avatar)))
              return this.img_user

            return "/uploads/avatar/" + this.currentUser.avatar 
          }
      },
      methods: {
          myFilter: function() {
              this.isActive = !this.isActive;
          },
          goToMyAccount(){
            this.$router.push({'name':'student_profil'})
          },
          closeUserDropdown: function() {
              this.isActive = false;
          },
          logOut() {
              this.onLogout = true
              this.$store.dispatch('user/logout');
          }
      }
    }
</script>