<template>
  <div class="menu-top row">
    <div class="logo logo-mobile" v-show = "false">
      <img :src="logo_grippeur" alt="" />
      <a href="#" :class="currentUser.avatar ? 'menu-mobile-avatar' : ''">
        <img :src="userAvatarUrl" alt="" />
      </a>
    </div>
    
    <div class="element-menu-horizontal menu-desktop col-sm-6">
      <ul id="menu-top">
       
      </ul>
    </div>
    
    <div class="content-tools col-sm-6">
        <div class="element-tools element-tools-desktop">
          <a href="#">
            <img :src="img_search" alt="" />
          </a>
          <a href="#">
            <img :src="img_notif" alt="" />
          </a>
          <a href="#" :class="currentUser.avatar ? 'menu-avatar-wrapper' : ''">
            <img :src="userAvatarUrl" alt="" />
          </a>
        </div>
      <!-- <div class="dropdown dropdown-desktop" @click="showUserMenu='show'" > -->
      <div class="dropdown dropdown-desktop" @click="myFilter" v-click-outside="closeUserDropdown">
        <div class="nom-prenom">{{ currentUser.firstname +" " + currentUser.lastname }}</div>
        <div class="icon-dropdown">
          <img :src="img_dropdown" alt="" />
        </div>
        <div class="dropdown-menu"  :class="{show: isActive}" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href @click.prevent="goToMyAccount">{{ $t('word.my_acount') }}</a>
            <a class="dropdown-item" href @click.prevent="logOut">{{ $t('word.logout') }}</a>
         </div>
      </div>
    </div>

    <!-- Begin bottom mobile menu --->
    <div class="mobile-nav-container d-none">
      <div class="mobile-nav-item">
          <button class="btn btn-home" @click="goToMyAccount">
            <img :src="img_home" />
          </button>
      </div>
      <div class="mobile-nav-item">
          <button class="btn btn-chat" @click="$router.push({'name' : 'user-favoris' })">
            <img :src="img_favoris" />
          </button>
      </div>
     
      <div class="mobile-nav-item">
          <button class="btn btn-search" @click="$router.push({'name' : 'scholarship_search' })">
            <img :src="img_search" />
          </button>
      </div>
      <div class="mobile-nav-item">
          <button class="btn btn-search" @click="showUserMenuMobile = true">
             <img :src="img_burger" />
          </button>
      </div>
    </div>
    <!-- END bottom mobile menu --->

    <!-- BEGIN Mobile Menu left -->
    <div class="mobile-menu-left" v-if="showUserMenuMobile">
      <div class="menu-closer">
        <button class="menu-closer-btn" @click="showUserMenuMobile = false"></button>
      </div>

      <ul class="mobile-menu-left-container">
        <li class="menu-item" @click.prevent="$router.push({'name' : 'organization_dashboard' })">
          <a href="#">{{ $t("word.dashboard") }}</a>
        </li>
        <li class="menu-item"  @click.prevent="$router.push({'name' : 'scholarship_search' })">
          <a href="#">{{ $t("word.scholarship") }}</a>
        </li>
        <li class="menu-item" @click.prevent="$router.push({'name' : 'user-favoris' })">
          <a href="#">{{ $t("word.myfavorilist") }}</a>
        </li>
        <li class="menu-item" @click.prevent="$router.push({'name' : 'student_search' })">
          <a href="#">{{ $t("word.student") }}</a>
        </li>
      </ul>

      <div class="bouton-menu" >
        <form id="choix-langue">
          <LangSwitcher />
        </form>
        <DefaultButton
          id="logout"
          :text="$t('word.logout')"
          :onLoad="onLogout"
          @click.native="logOut"
        />
      </div>
    </div>
    <!-- END Mobile Menu left -->

  </div>
</template>
<script>
    import LangSwitcher from "@/components/LangSwitcher.vue";
    export default {
      name : 'NavbarAdmin',
      components : {
        LangSwitcher
      },
      data : function () {
          return {
              showUserMenu : "",
              showUserMenuMobile: false,
              isActive: false,
              MenuMobile : false,
              onLogout   : false,
              "logo_grippeur": require("@/assets/img/logo-grimpeurs-white.svg").default,
              icon_menu: require("@/assets/img/hamburger.png").default,
              img_search: require("@/assets/img/icon-search-grey.svg").default,
              img_email: require("@/assets/img/icon-email.svg").default,
              img_burger: require("@/assets/img/icon-burger-active.svg").default,
              img_home: require("@/assets/img/icon-home.svg").default,
              img_notif: require("@/assets/img/icon-bell.svg").default,
              img_user: require("@/assets/img/user.svg").default,
              img_dropdown: require("@/assets/img/dropdown.png").default,
              img_favoris: require("@/assets/img/Favoris-sholarship.svg").default,
            }
      },
      computed: {
          currentUser() { 
              return this.$store.state.user.profil
          },
          userAvatarUrl(){
            if(!this.currentUser || (this.currentUser && (!this.currentUser.avatar)))
              return this.img_user

            return "/uploads/avatar/" + this.currentUser.avatar 
          }
      },
      methods: {
          myFilter: function() {
              this.isActive = !this.isActive;
          },
          goToMyAccount(){
            this.$router.push({'name':'organization_profil'})
          },
          closeUserDropdown: function() {
              this.isActive = false;
          },
          logOut() {
              this.onLogout = true
              this.$store.dispatch('user/logout');
          }
      }
    }
</script>