<template>
    <default-layout>
        
        <div slot="content" v-if="scholarship">
            <ScholarshipForm :scholarship="scholarship" />
        </div>
    </default-layout>
</template>
<script>
    import ScholarshipService from "@/services/scholarship/ScholarshipService.js"
    import ObjectHelpers      from "@/services/helpers/ObjectHelpers.js" 
    import ScholarshipForm    from "./ScholarshipForm.vue"
    export default {
        name: 'NewScholarship',

        components: {
            ScholarshipForm
        },

        data: function(){
            return {
                scholarship: false
            }
        },


        methods: {
            getRequestedScholarship(){
                let that = this
                let slug = that.$route.params.slug
                ScholarshipService.findOneBySlug(slug).then(
                    (response) => {
                    if(response.data.scholarship && response.data.scholarship.id){
                        let oScholarship = response.data.scholarship
                        that.scholarship = ObjectHelpers.keysToCamel(oScholarship)
                        that.fetching = true
                    }else{
                        //that.$router.push({name:"error_404"})
                    }
                }).catch(
                    (error) => {
                        console.log(error)
                        //that.$router.push("/internal-error")
                })
            },
        },

        watch:{
            scholarship:{
                deep: true,
                immediate: false,
                handler: function(scholarship){
                    //this.$store.dispatch("newscholarship/update", scholarship)
                }
            }
        },

        mounted() {
            if (!this.currentUser) {
                this.$router.push('/login');
            }
            this.getRequestedScholarship()
        }
    }
</script>