<template>
    <default-layout>
        
        <div slot="content">
            <ScholarshipForm :scholarship="scholarship" />
        </div>
    </default-layout>
</template>
<script>
    import ScholarshipForm from "./ScholarshipForm.vue"
    export default {
        name: 'NewScholarship',

        components: {
            ScholarshipForm
        },

        data: function(){
            return {
                scholarship: false
            }
        },

        computed: {
            defaultSocialNetwork: function(){
                let rs = this.profil.social_network ?? false
                return {
                    facebook  : rs ? rs.facebook  : "",
                    youtube   : rs ? rs.youtube   : "",
                    twitter   : rs ? rs.twitter   : "",
                    instagram : rs ? rs.instagram : "",
                    linkedin  : rs ? rs.linkedin  : "",
                }
            }
        },
        methods: {
            /**
             * Create default scholarship object
             * 
             * @return {Object}
             */
            getDefault: function(){
                return {
                name: null,
                logo: null,
                cadidateOption: 'external',
                cadidateOptionUrl: null,
                studyField: null,
                candidatureLimit: null,
                /*
                faculty: null,
                */
                amount: null,
                currency : null,
                count: null,
                duration: null,
                durationUnit: 'month',
                totalOffered: null,
                grantedSex: null,
                minAge: null,
                maxAge: null,
                otherInfos: null,
                grantedContinent:null,
                grantedCountries:null,
                grantedNationalities:null,
                grantedLevel:null,
                socialNetwork: this.defaultSocialNetwork,
                story: null,
                studyFieldTags: [],
                otherStudyFields : false,
                otherStudyFieldTags:[],
                selectionCriteria: [],
                attachments: [],
                advantages: [],
                gallery: [],
                siteUrl: null,
                contactName:  this.profil.contact_name,
                contactAvatar: null,
                contactEmail: this.profil.organization_email,
                contactAdresse: this.profil.adresse,
                contactAdresseMap: this.profil.adresse_map,
                contactPhone: this.profil.phone_number,
    
                /*** about preset data */
                awardOrganizationType: this.profil.institution_type,
                relatedOrganization: {
                    id: this.profil.id,
                    name: this.profil.name
                },
                }
            },

            /**
             * update new sccolarship global variable
             * 
             * @return void
             */
            instatiateScholarship(){
                let newScholarship = this.$store.state.newscholarship
                if(newScholarship && newScholarship.object){
                    this.scholarship = newScholarship.object
                    return   
                }
                this.scholarship = this.getDefault()  
            },
        },

        watch:{
            scholarship:{
                deep: true,
                immediate: false,
                handler: function(scholarship){
                    this.$store.dispatch("newscholarship/update", scholarship)
                }
            }
        },

        mounted() {
            if (!this.currentUser) {
                this.$router.push('/login');
            }
            this.instatiateScholarship()
        }
    }
</script>