<template>
    <div v-if="scholarship">
        <div v-if="currentSteep != 'ScholarshipPreview'">
            <div class="scholarship-search-wrapper">
              <ScholarshipSearchForm  context="student" />
            </div>
            <div class="px-5 full-height scholarship-form">
                <div class="form-header mt-3">
                    <div class="breadcumbs d-flex">
                        <span>Page bourse ></span>
                        <span>{{ actionLabel }}</span>
                    </div>
                    <div class="add-scholarship-title">
                        <label>{{ actionLabel }}</label>
                    </div>
                </div>


                <div class="form-body">
                    <!-- STEEP 1 -->
                        <template v-if="currentSteep == 'ScholarshipName'">
                            <ScholarshipName :scholarship="scholarship" v-on:goTo="goTo" />
                        </template>
                    <!-- END STEEP 1 -->
                    <!-- STEEP 2 -->
                        <template v-if="currentSteep == 'ScholarshipLogo'">
                            <ScholarshipLogo :scholarship="scholarship" v-on:goTo="goTo" />
                        </template>
                    <!-- END STEEP 2 -->
                    <!-- STEEP 3 -->
                        <template v-if="currentSteep == 'ScholarshipCandidate'" >
                            <ScholarshipCandidate :scholarship="scholarship" v-on:goTo="goTo" />
                        </template>
                    <!-- END STEEP 3 -->
                    <!-- STEEP 3 -->
                        <template v-if="currentSteep == 'ScholarshipInfos'">
                            <ScholarshipInfos :scholarship="scholarship" v-on:goTo="goTo" />
                        </template>
                    <!-- END STEEP 3 -->
                    <!-- STEEP 3 -->
                        <template v-if="currentSteep == 'ScholarshipGallery'">
                            <ScholarshipGallery :scholarship="scholarship" v-on:goTo="goTo" />
                        </template>
                    <!-- END STEEP 3 -->
                </div>
            </div>
        </div>
        <div class="scolarship-page--content" v-else>
            <!-- STEEP 4 -->
                <ScholarshipPreview  :scholarship="scholarship" v-on:goTo="goTo"></ScholarshipPreview>
            <!-- END STEEP 4 -->
        </div>
    </div>
</template>
<script>
    import ScholarshipName       from "./ScholarshipName/ScholarshipName.vue"
    import ScholarshipLogo       from "./ScholarshipLogo/ScholarshipLogo.vue"
    import ScholarshipCandidate  from "./ScholarshipCandidate/ScholarshipCandidate.vue"
    import ScholarshipInfos      from "./ScholarshipInfos/ScholarshipInfos.vue"
    import ScholarshipGallery    from "./ScholarshipGallery/ScholarshipGallery.vue"
    import ScholarshipSearchForm from "./../search/form/ScholarshipSearchForm.vue"
    import ScholarshipPreview    from "./ScholarshipPreview/ScholarshipPreview.vue"

    export default {
        name:'scholarship_new',
        components : {
            ScholarshipSearchForm,
            ScholarshipName, 
            ScholarshipLogo, 
            ScholarshipCandidate,
            ScholarshipInfos,
            ScholarshipGallery,
            ScholarshipPreview      
        },
        props: {
            scholarship: {
                require: true
            },
            action: {
                default: 'add'
            }
        },
        data: function(){
            return {
                currentSteep : 'ScholarshipName',
            }
        },
        computed: {
            actionLabel: function(){
                return this.action == 'add' ? 'Ajouter une bourse' : 'Modifier une bourse'
            }
        },
        methods : {
            /**
             * Handle switch steep event
             * 
             * @return void
             */
            goTo(steepName){
                this.currentSteep = steepName
            },

        },
    
    }
</script>
<style src="./style.css"></style>
<style scoped>
    .add-scholarship-title label {
        font-size: 1.5rem !important;
        color: #1F4171;
        font-family: 'NunitoSans-Bold' !important;
        margin-top: 1rem;
    }

    @media (max-width:520px) {
        .add-scholarship-title label {
            font-size: 1.1rem !important;
        }
        .scholarship-form{
            padding-left: 2rem !important;
            padding-right: 2rem !important;
        }
    }
</style>