.scholarship-form input,
.scholarship-form label{
    font-family: 'NunitoSans-Regular' !important;
    font-size: 15px !important;
}

.scholarship-form h4.label {
    color: #6196FF;
    font-family: 'NunitoSans-Bold';
    font-size: 2rem;
}
.scholarship-form .small {
    font-size: 10px !important;
    font-family: 'NunitoSans-Regular' !important;
    margin-top: 5px !important;
}

.scholarship-form .form-control:focus {
    border-color: #ced4da;
    box-shadow:unset; 
}

/** steep 1*/
.scholarship-form .scholarship-name-input {
    width: 100%;
    border: none;
    border-radius: 5px;
    box-shadow: 15px;
    box-shadow: 1.2px 1.2px 1pt 1pt #d9dbe2;
    margin: auto;
    padding: 1.2rem;
    font-family: 'NunitoSans-Regular' !important;
}
/* steep 2  ***/
.logo-uploader-label {
    padding: 3rem;
    border: dashed 2px #6196ff78;
    border-radius: 5px;
}
.logo-wrapper .icon-image-uploader {
    max-height: 250px !important;
}

/** steep 3 */

.scholarship-form  .multiselect__tags {
    border: 1px solid #dee2e6 !important;
    min-height: 46px !important;
    padding-top: 12px !important;
}

.scholarship-form label.section-title {
    font-family: 'NunitoSans-Bold' !important;
}

label#candidatureLimitLabel {
    position: absolute;
    top: -25px;
}
.old-field-group {
    display: flex;
    align-items: center;
    position: relative;
    max-width: 100%;
    align-items: center;
    border: solid 2px #dee2e6;
    min-height: 50px;
    border-radius: 5px;
    font-family: 'NunitoSans-Regular' !important;
    justify-content: center;
}

.old-field-group input {
    border: none;
    border-bottom: solid 1px #c5c5c5;
    width: 70px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
}

.old-field-group label.input-label {
    padding-right: 15px;
    font-family: 'NunitoSans-SemiBold' !important;
}

.invalid {
    border: solid 1px red !important;
}
#contactPhone input {
    height: 47px;
}
#contactAvatar input,
#contactAvatar .input-group-append .input-group-text {
    background: #dee2e6;
}

.scholarship-form  .map-wrapper {
    display: flex;
    max-width: 400px;
    height: 100px;
    overflow: hidden;
    justify-items: center;
    justify-content: center;
    position: relative;
    border-radius: unset !important;
}
.scholarship-form  img.map-preview {
    object-fit: cover;
}

@media (max-width:520px) {
    .scholarship-form  h4.label{
        font-size: 1.5rem !important;
    }
}