<template>
  <div class="error-404">
    <div class="d-flex justify-content-center align-items-center" id="main">
        <h1 class="mr-3 pr-3 align-top border-right inline-block align-content-center">403</h1>
        <div class="inline-block align-middle">
          <h2 class="font-weight-normal lead" id="desc">{{ $t('error.page_403') }}</h2>

        </div>
    </div>
    <div class="text-center">
      <router-link to="/" class="btn btn-default style4">
            {{ $t("word.home") }}
      </router-link>
    </div>
  </div>
</template>
<script>
  export default {
    name: "error_404"
  }
</script>
<style scoped>
.error-404 {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.error-404 .btn{
  color:white !important;
}
</style>