<template>
  <div class="error-404">
    <div class="logo-wrapper"> 
        <img class="logo-grimpeurs" :src="require('@/assets/img/logo_banner.svg').default">
    </div>
    <div class="d-flex justify-content-center align-items-center" id="main">
        <h1 class="mr-3 pr-3 align-top border-right inline-block align-content-center">404</h1>
        <div class="inline-block align-middle">
          <h2 class="font-weight-normal lead" id="desc">{{ $t('error.page_404') }}</h2>

        </div>
    </div>
    <div class="text-center">
      <DefaultButton className="outline" :text="$t('word.home')"  @click.native="$router.push({'path':'/'})" />
    </div>
  </div>
</template>
<script>
  export default {
    name: "error_404"
  }
</script>
<style scoped>
.error-404 {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.logo-wrapper{
  text-align: center;
  margin-bottom: 2rem ;
}
.logo-grimpeurs {
    filter: brightness(0.5);
}

</style>