<template>
  <div class="cta exam-cta open public-cta">
    <div class="cta-item">
      <div class="cta-icon"></div>
      <div class="cta-label">
        <label>
            {{$t('word.exams')}} & {{$t('student.parcours.exam_info1')}}
        </label>
      </div>

    </div>
    
    <div class="list-category-cta">
      <template v-if="student.exams !== null && student.exams !== undefined && student.exams.length " >
          <div class="item-category-cta" v-for="exam in student.exams" :key="exam.id" >
            <div class="item-date-cta">
              <span class="ml-2">
                {{ exam.emission_date | dateParse("YYYY-MM-DD HH:mm:ss") | dateFormat("MMM YYYY") }}
              </span>
            </div>
            <div class="item-post-cta">
              <div class="exam-name">{{ exam.name }}</div>
              <div class="exam-result">
                  <span>{{$t('word.result')}}:</span> <b>{{ exam.result }}</b>
              </div>
              <div class="post-description">
                  {{$t('word.description')}}: {{ exam.description }}
              </div>
            </div>
          </div>
      </template>
      <template v-else>
          <p class="public-empty-parcours--label">{{ $t('student.parcours.empty_parcours') }}</p>
      </template>
    </div>
   
  </div>
</template>
<script>
import "./style.css";

export default {
  name: "ExamCtaPublic",

  props: {
    showDetail: {
      type:Boolean
    },
    student: {
      required: true
    },
    context: {
      default: 'private'
    }
  },
}
</script>
<style scoped>
    .item-category-cta {
        display: flex;
    }
    .item-category-cta:not(:last-child){
      border-bottom: solid 1px #D3D3D3;
      margin-bottom: 2rem;
      padding-bottom: 2rem;
    }

    .item-date-cta {
        width: 6rem;
        font-size: 14px;
        font-family: 'NunitoSans-Bold';
    }

    .exam-name {
        color: #3C3850;
        font-family: 'NunitoSans-Bold';
        font-size: 1.1rem;
    }

    .post-description {
        color: #3C3850;
        font-size: 12px;
    }

    .exam-result {
        color: #D3D3D3;
    }
</style>