<template>
    <exam-cta-private v-if="context == 'private'" :showDetail="showDetail" :student="student"  />
    <exam-cta-public  v-else :student="student"  />
</template>

<script>

import ExamCtaPublic  from "./ExamCtaPublic.vue"
import ExamCtaPrivate from "./ExamCtaPrivate.vue"
export default {
    name: "DistinctionCta",

    components:{
        ExamCtaPublic,
        ExamCtaPrivate
    },

    props: {

        showDetail: {
            type:Boolean
        },
        
        student: {
            required: true
        },

        context: {
            default: 'private'
        }

    },

}
</script>