<template>
  <div class="cta exam-cta" :class="toggleShowDetaill ? 'open': ''">
    <div class="cta-item" @click="toggleShowDetaill">
      <div class="cta-icon"></div>
      <div class="cta-label">
        <label>{{$t('word.exams')}} <br />
          & {{$t('student.parcours.exam_info1')}}
        </label>
        <p class="cta-item-count" v-if="student.exams.length > 0">
          {{ student.exams.length }} {{$t('word.exams')}}
        </p>
      </div>
      <div v-if="context == 'private'">
        <div class="cta-action"  v-show="!stateCategory || !student.exams.length" >
          <div class="icon action-add" @click="openNewExam"></div>
          <div class="icon action-edit" v-if="student.exams.length > 0" ></div>
        </div>
        <div class="icon action-arrow" v-show="(stateCategory)" v-if="student.exams.length > 0" ></div>
      </div>
      <div class="icon action-arrow" v-else ></div>

    </div>
    <div :class="[(stateCategory) ? 'list-category-cta' : 'list-hide']" v-if="  student.exams !== null && student.exams !== undefined && student.exams.length " >
      <div class="item-category-cta" v-for="exam in student.exams" :key="exam.id" >
        <div class="item-title-cta">
          <span class="ml-2">
            <h4>{{ exam.name }}</h4>
          </span>
        </div>
        <div class="item-info-cta">
          <p> <span>{{$t('word.date')}}:</span>
          <b> {{ exam.emission_date | dateParse("YYYY-MM-DD HH:mm:ss") | dateFormat("MMM YYYY") }}</b>
          </p>

          <p>
            <span>{{$t('word.result')}}:</span> <b>{{ exam.result }}</b>
          </p>
          <p>
            <span>{{$t('word.description')}}: {{ exam.description }}</span>
          </p>
        </div>
        <div class="item-action-cta"  v-if="context == 'private'">
          <div class="d-flex" @click="openNewExam">
            <button class="btn-add">
              <img :src="icon_add" />
            </button>
            <span class="ml-2"> {{$t('student.parcours.exam_info2')}}</span>
          </div>
          <!-- replace parameter {} by object formation  -->
           <div class="action-profil" style="display: flex">
            <div @click="openEditExam(exam)" class="icon action-edit"></div>
            <div @click="confirmDelete(exam)" class="icon action-remove"></div>
          </div>
        </div>
      </div>
    </div>
    <Modal v-if="showExamModalForm" class="student-parcours-modal">
      <div slot="header" class="w-100 text-center pr-3">
        <a class="close" href="" @click.prevent="showExamModalForm = false"></a>
        <div>
          <h4 v-if="newExam.id == null">{{$t('student.parcours.exam_info2')}}</h4>
           <h4 v-else >{{$t('student.parcours.exam_info3')}}</h4>
        </div>
      </div>
      <div slot="body" class="px-4">
        <!--  <div class="text-center my-3">
         <button
            class="btn btn-primary custom-btn linkedin-btn btn-inscription mr-1"
            @click="">
            <span class="rs-icon fa fa-linkedin"></span>
            <span>{{$t('student.parcours.association_info13')}}</span>
          </button>
        </div> -->

        <div class="row text-left">
          <div class="col-12">
            <label>{{$t('student.parcours.exam_info4')}}</label>
            <input type="text" v-model="newExam.name" class="form-control" />
          </div>

         
          <div class="col-12">
            <label>{{$t('word.result')}}</label>
            <input type="text" v-model="newExam.result" class="form-control" />
          </div>

          <div class="col-sm-6">
            <label>{{$t('student.parcours.disctinctions_info9')}}</label>
            <DateSelect v-model="newExam.emissionDate" format="y-m"> </DateSelect>
          </div>

          <div class="col-12">
            <label>{{$t('word.description')}}</label>
            <textarea class="form-control" v-model="newExam.description" maxlength="250"></textarea>
            <span class="text-area-max--label">250 max</span>
          </div>
        </div>
        <div v-if="message" class="alert alert-danger" role="alert" style="text-align:center;margin:20px">
          {{ $t(message) }}
        </div>
        <div class="text-right w-100 action-container">
          <hr />
          <DefaultButton
            className="style1"
            :text="$t('word.save')"
            :onLoad="loading"
            @click.native="updateStudentExam"
          />
        </div>
      </div>
    </Modal>
    <Modal v-if="showConfirm"  class="w-100 text-center modal-confirm-profil">
       <div slot="header" class="w-100 text-center pr-3">
        <a class="close" href="" @click.prevent="showConfirm = false"></a>
      </div>
      <div slot="body" class="w-100 px-4">
        <div class="bloc-icon-pouce">
          <img :src="require('@/assets/img/Pouce.svg').default" id="icon-pouce">
        </div>
        <div class="message-confirm">
          <label><b>{{$t('modal.title_modal_confirm_profil_exam')}}</b></label>
          <label>{{$t('modal.info_modal_confirm_profil')}}</label>
        </div>
        <div class="btn-confirm-profil">
          <DefaultButton
            className="outline3 add_element"
            :text="$t('modal.add_exam')"
            @click.native="openNewExam"
          />
          <DefaultButton
            className="style1 valid_element"
            :text="$t('word.validate')"
            @click.native="showConfirm = false"
          />
        </div>

      </div>
    </Modal>
  </div>
</template>
<script>
import "./style.css";

import ProfilService from "@/services/student/ProfilService.js";
import Multiselect from "vue-multiselect";
import "vue-multiselect/dist/vue-multiselect.min.css";

export default {
  name: "ExamCta",

  components: {
    Multiselect,
  },
  props: {
    showDetail: {
      type:Boolean
    },
    student: {
      required: true
    },
    context: {
      default: 'private'
    }
  },


  data: function () {
    return {
      showExamModalForm: false,
      loading: false,
      stateCategory: false,
      AssociationCauseOption: [],
      newExam: {
        id : null,
        name : null,
        result: null,
        emissionDate : null,
        description : null,
        awardingEntity : null


      },
      message:  "",
      icon_add: require("@/assets/img/add-icon.svg").default,
      showConfirm : false
    };
  },

   watch : {
    showDetail(newVal) {
        this.stateCategory = newVal
    }
  },


  methods: {
    checkField(newExam) {
        var title = (newExam.name !== "" &&  newExam.name !== null) 
        var result =  (newExam.result !== "" &&  newExam.result !== null) 
        var emissionDate =  (newExam.emissionDate !== "" &&  newExam.emissionDate !== null) 
        var description =  (newExam.description !== "" &&  newExam.description !== null) 
      return (title && result && emissionDate && description)
     },
     

    updateStudentExam() {
        if(this.checkField(this.newExam)) {
        
              this.confirmStudentExam()
         

      }else{
         this.message = "word.form.field_incomplet";
      }
    },
    confirmStudentExam() {
      let that = this;
      that.loading = true
      ProfilService.updateStudentExam(that.newExam)
        .then((response) => {
          if (response.data && response.data.success) {
             that.showConfirm  = that.newExam.id  === null
            that.$store.dispatch("user/updateInfos");
            that.newExam = {};
            that.showExamModalForm = false;
            that.message = "";
          }
          that.loading = false;
        })
        .catch((error) => {
          console.log(error);
          that.message = "word.form.internal_error";
          that.loading = false;
          that.showConfirm = false

        });
    },
    toggleShowDetaill() {
      if (this.student.exams.length > 0) {
        this.stateCategory = !this.stateCategory;
         return 
      }
      if(this.context == 'private'){
        this.openNewExam()
      }
    },

    editFormation(formation) {
      //recuperation inforamation des parametres
      this.showExamModalForm = true;
    },
    confirmDelete(Exam) {
      let that = this;
      this.$dialog
        .confirm(that.$t('student.ask.remove_exam'), {
          loader: true,
          okText: "valider",
          cancelText: that.$t('word.cancel'),
        })
        .then(function (dialog) {
          that.deleteFormation(Exam, dialog);
        })
        .catch(function (dialog) {
          dialog.close();
        });
    },
    deleteFormation(Exam, dialog) {
      let that = this;
      that.loadDelete = true;
      ProfilService.removeStudentExam(Exam.id)
        .then(function (response) {
          if (response.data.success) {
            //mise en jour liste article
            that.$store.dispatch("user/updateInfos");
          } else {
            //afficher snackbar
          }
          dialog.close();
          that.loadDelete = false;
        })
        .catch(function (error) {
          //afficher snackbar

          dialog.close();
        });
    },
     createObjectExam(
        id = null,
        title = null,
        awardingEntity = null,
        emissionDate = null,
        description = null,
        result = null


    ) {
    this.newExam = {
        id : id,
        title : title,
        awardingEntity : awardingEntity,
        emissionDate : emissionDate,
        description : description , 
        result : result
      };
    },
   openEditExam(Exam) {
      //recuperation inforamation des
       var date_emission = new Date(Exam.emission_date)
       this.newExam.id = Exam.id
       this.newExam.name = Exam.name
       this.newExam.awardingEntity = Exam.awarding_entity
       this.newExam.description = Exam.description
       this.newExam.emissionDate = date_emission.getFullYear() + '-'+ (parseInt(date_emission.getMonth()) + 1 ) + '-01',
       this.newExam.result = Exam.result
       this.showExamModalForm = true;
    },
    openNewExam() {
      this.showConfirm = false
      this.createObjectExam()
      this.showExamModalForm = true;
    },
    association(id) {
     var  response = {id : null , title : ""}
     for(var i = 0 ; i < this.exams.length ; i++ ) {
        if(id == this.exams[i].id ) {
          response = this.exams[i]
          break
        }
      }
      return response
    }
  }
}
</script>
