<template>
  <div class="experience-cta cta" :class="toggleShowDetaill ? 'open': ''">
    <div class="cta-item" @click="toggleShowDetaill">
      <div class="cta-icon"></div>
      <div class="cta-label">
        <label>{{$t('word.experiences')}}</label>
        <p class="cta-item-count" v-if="student.experiences.length > 0">
          {{ student.experiences.length }} <span style="text-transform:lowercase">{{$t('word.experiences')}}</span>
        </p>
      </div>
      <div v-if="context == 'private'">
        <div class="cta-action" v-show="!stateCategory || !student.experiences.length" >
          <div class="icon action-add" @click="openNewExperience"></div>
          <div class="icon action-edit" v-if="student.experiences.length > 0"></div>
        </div>
        <div class="icon action-arrow" v-show="(stateCategory)" v-if="student.experiences.length > 0" ></div>
      </div>
    </div>

    <div :class="[(stateCategory)? 'list-category-cta' : 'list-hide']" v-if=" student.experiences && student.experiences.length ">
      <div class="item-category-cta" v-for="experience, index in student.experiences" :key="'experience-index-'+index">
        <template v-if="experience.id">
          <div class="item-title-cta">
            <img :src="logo_entreprise" class="mr-3"/>
            <span>
              <h4>{{ experience.company }}</h4>
            </span>
          </div>
          <div class="item-info-cta">
            <p>
              <span>{{$t('student.parcours.association_info4')}}:</span>
              <b> {{ experience.start_date | dateParse("YYYY-MM-DD HH:mm:ss") | dateFormat("MMM YYYY") }}</b>
              / {{$t('student.parcours.association_info6')}}:
              <b v-if="experience.current_position"> {{$t('student.parcours.association_info5')}} </b>
              <b v-else>{{ experience.end_date  | dateParse("YYYY-MM-DD HH:mm:ss") | dateFormat("MMM YYYY") }}</b>
            </p>
            <p>
              <span>{{$t('word.location')}}:</span> <b> {{ experience.place }}</b>
            </p>
            <p>
              <span>{{$t('word.post')}}:</span> <b>{{ experience.title }}</b>
            </p>
            <p>
              <span>{{$t('word.description')}} : {{ experience.description }}</span>
            </p>
          </div>
          <div class="item-action-cta" v-if="context == 'private'">
            <div class="d-flex" @click="openNewExperience" >
              <button class="btn-add">
                <img :src="icon_add" />
              </button>
              <span class="ml-2"> {{$t('student.parcours.experience_info1')}}</span>
            </div>

            <!-- replace parameter {} by object formation  -->
            <div class="action-profil" style="display: flex">
              <div @click="openEditExperience(experience)" class="icon action-edit"></div>
              <div @click="confirmDelete(experience)" class="icon action-remove"></div>
            </div>
          </div>
        </template>
      </div>
    </div>

    <Modal v-if="showExperienceModalForm" class="student-parcours-modal">
      <div slot="header" class="w-100 text-center pr-3">
        <a class="close" href="" @click.prevent="showExperienceModalForm = false"></a>
        <div>
          <h4 v-if="newExperience.id == null" class="ml-2">{{$t('student.parcours.experience_info1')}}</h4>
          <h4 v-else  class="ml-2">{{$t('student.parcours.experience_info2')}}</h4>
        </div>
      </div>
      <div slot="body" class="px-4">
        <div class="row text-left">
          <div class="col-12">
            <label>{{$t('student.parcours.experience_info3')}}</label>
            <input type="text" v-model="newExperience.title" class="form-control" placeholder="Ex : Employé admnistratif" />
          </div>
          <div class="col-sm-12">
            <label>{{$t('word.company')}}</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-home"></i>
                </span>
              </div>
              <input type="text" v-model="newExperience.company" class="form-control" placeholder="Ex : Microsoft" />
            </div>
          </div>

          <div class="col-sm-12">
            <label>{{$t('word.location')}}</label>
            <adresse-input 
               v-model="newExperience.place"
               :icon="false"
               placeholder="Ex : Paris"
            />
          </div>

          <div class="col-sm-12">
            <input type="checkbox" v-model="newExperience.currentPosition" />
            <label>{{$t('student.parcours.association_info17')}}</label>
          </div>

          <div class="col-sm-6">
            <label>{{$t('student.parcours.association_info18')}}</label>
            <div class="periode-field-group">
              <DateSelect v-model="newExperience.startDate" format="y-m"> </DateSelect>
            </div>

            <!--div class="w-100">
              <input type="checkbox" />
              <label>{{$t('student.parcours.association_info19')}}</label>
            </div>
            <div class="w-100">
              <input type="checkbox" />
              <label>{{$t('student.parcours.association_info20')}}</label>
            </div-->
          </div>
          
          <div class="col-sm-6">
            <label>{{$t('student.parcours.association_info21')}}</label>
            <div v-if="newExperience.currentPosition">
              <p>{{$t('student.parcours.association_info22')}}</p>
            </div>
            <div class="periode-field-group" v-else>
              <DateSelect v-model="newExperience.endDate" format="y-m"> </DateSelect>
            </div>
          </div>

          <div class="col-12">
            <label>{{$t('word.description')}}</label>
            <textarea class="form-control" v-model="newExperience.description" maxlength="250"></textarea>
            <span class="text-area-max--label">250 max</span>
          </div>
        </div>
        <div v-if="message" class="alert alert-danger" role="alert" style="text-align:center;margin:20px">
          {{ $t(message) }}
        </div>
        <div class="text-right w-100 action-container">
          <hr>
          <DefaultButton className="style1" :text="$t('word.save')" :onLoad="loading" @click.native="updateStudentExperience" />
        </div>
      </div>
    </Modal>
    
    <Modal v-if="showConfirm"  class="w-100 text-center modal-confirm-profil">
      <div slot="header" class="w-100 text-center pr-3">
        <a class="close" href="" @click.prevent="showConfirm = false"></a>
      </div>
      <div slot="body" class="w-100 px-4">
        <div class="bloc-icon-pouce">
          <img :src="require('@/assets/img/Pouce.svg').default" id="icon-pouce">
        </div>
        <div class="message-confirm">
          <label><b>{{$t('modal.title_modal_confirm_profil_experience')}}</b></label>
          <label>{{$t('modal.info_modal_confirm_profil')}}</label>
        </div>
        <div class="btn-confirm-profil">
          <DefaultButton className="outline3 add_element" :text="$t('modal.add_experience')" @click.native="openNewExperience" />
          <DefaultButton className="style1 valid_element" :text="$t('word.validate')" @click.native="showConfirm = false" />
        </div>

      </div>
    </Modal>
  </div>
</template>
<script>

import ProfilService from "@/services/student/ProfilService.js"
import AdresseInput  from "@/components/common/AdresseInput.vue"
import "vue-multiselect/dist/vue-multiselect.min.css"
import "./style.css";

export default {
  name: "ExperienceCta",

  components: {AdresseInput},

  props: {
    showDetail: {
      type:Boolean
    },
    student: {
      require: true
    },
    context: {
      default: 'private'
    }
  },


  data: function () {
    return {
      showExperienceModalForm: false,
      loading: false,
      stateCategory: false,

      newExperience: {
        id: null,
        title: null,
        company: null,
        place: null,
        currentPosition: false,
        startDate: null,
        endDate: null,
        description: null,
      },
      icon_add: require("@/assets/img/add-icon.svg").default,
      logo_entreprise: require("@/assets/img/Profil-Entreprise.svg").default,
      message: "",
      showConfirm : false
    };
  },

   watch : {
    showDetail(newVal) {
        this.stateCategory = newVal
    }
  },


  methods: {
      checkField(newExperience) {
        var title       = (newExperience.title !== "" &&  newExperience.title !== null) 
        var company     =  (newExperience.company !== "" &&  newExperience.company !== null) 
        var studyField  =  (newExperience.studyField !== "" &&  newExperience.studyField !== null) 
        var startDate   =  (newExperience.startDate !== "" &&  newExperience.startDate !== null) 
        var endDate     =  ((newExperience.endDate !== "" &&  newExperience.endDate !== null ) || newExperience.currentPosition) 
        var description =  (newExperience.description !== "" &&  newExperience.description !== null) 
      return (title && company && studyField && startDate && endDate && description)
     },

    updateStudentExperience() {
      if(this.checkField(this.newExperience)) {
        if((new Date(this.newExperience.startDate) <  new Date(this.newExperience.endDate)) || this.newExperience.currentPosition ) {
              this.confirmStudentExperience()
    
              }else{
                this.message = "word.form.date_invalid";
                
              }
        }else{
           this.message = "word.form.field_incomplet";
        }
    },
    confirmStudentExperience() {
          let that = this;
              that.loading = true;
              ProfilService.updateStudentExperience(that.newExperience)
                .then((response) => {
                  if (response.data && response.data.success) {
                      that.showConfirm = that.newExperience.id === null
                    this.createObjectExperience()
                    that.$store.dispatch("user/updateInfos");
                    that.showExperienceModalForm = false;
                    that.message = "";
                  
                  }

                  that.loading = false;
                })
                .catch((error) => {
                  console.log(error);
                  that.message = "word.form.internal_error";
                  that.loading = false;
                   that.showConfirm = false
                });
    },
    toggleShowDetaill() {
      if (this.student.experiences.length > 0) {
        this.stateCategory = !this.stateCategory;
        return 
      }
      if(this.context == 'private'){
          this.openNewExperience()
      }
    },

    editFormation(formation) {
      //recuperation inforamation des parametres
      this.showExperienceModalForm = true;
    },
    confirmDelete(experience) {
      let that = this;
      this.$dialog
        .confirm(that.$t('student.ask.remove_experience'), {
          loader: true,
          okText: "valider",
          cancelText: that.$t('word.cancel'),
        })
        .then(function (dialog) {
          that.deleteFormation(experience, dialog);
        })
        .catch(function (dialog) {
          dialog.close();
        });
    },
    deleteFormation(experience, dialog) {
      let that = this;
      that.loadDelete = true;
      ProfilService.removeStudentExperience(experience.id)
        .then(function (response) {
         
        
          if (response.data.success) {
            //mise en jour liste article
              that.$store.dispatch("user/updateInfos");
               createObjectExperice()
         
          } else {
            //afficher snackbar
          }
          dialog.close();
          that.loadDelete = false;
        })
        .catch(function (error) {
          //afficher snackbar

          dialog.close();
        });
    },
    createObjectExperience(
        id = null,
        title = null,
        company = null,
        place = null,
        currentPosition = false,
        startDate = null,
        endDate = null,
        description = null
    ) {
    this.newExperience = {
        id : id,
        title: title,
        company: company,
        place: place,
        currentPosition: currentPosition,
        startDate: startDate,
        endDate: endDate,
        description: description
      };
    },
   openEditExperience(experience) {
      //recuperation inforamation des
      this.createObjectExperience(
        experience.id,
        experience.title,
        experience.company,
        experience.place,
        experience.current_position,
        new Date(experience.start_date).getFullYear() + '-'+ (parseInt(new Date(experience.start_date).getMonth()) + 1) + '-01',
        new Date(experience.end_date).getFullYear() + '-'+ (parseInt(new Date(experience.end_date).getMonth()) + 1) + '-01',
        experience.description,

      )
  
      this.showExperienceModalForm = true;
    },
    openNewExperience() {
      this.showConfirm = false
      this.createObjectExperience()
      this.showExperienceModalForm = true;

    },
  },
};
</script>
