<template>
  <div class="experience-cta cta open public-cta">
    <div class="cta-item">
      <div class="cta-icon"></div>
      <div class="cta-label">
        <label>{{$t('word.experiences')}}</label>
      </div>
    </div>

    <div class="list-category-cta">
        <template v-if=" student.experiences && student.experiences.length ">
          <div class="item-category-cta" v-for="experience, index in student.experiences" :key="'experience-index-'+index">
            <template v-if="experience.id">
                <div class="item-date-cta">
                    <div>
                        <b> {{ experience.start_date | dateParse("YYYY-MM-DD HH:mm:ss") | dateFormat("MMM YYYY") }} - </b>
                        <b v-if="experience.current_position"> {{$t('student.parcours.association_info5')}} </b>
                        <b v-else>{{ experience.end_date  | dateParse("YYYY-MM-DD HH:mm:ss") | dateFormat("MMM YYYY") }}</b>
                    </div>
                    <div class="experience-place">
                        {{ experience.place }}
                    </div> 
                </div>

                <div class="item-post-cta">
                    <!--div class="company-logo">
                        <img :src="logo_entreprise" class="mr-3"/>
                    </div-->
                    <div class="item-post-cta-description">
                        <h4 class="company-name">{{ experience.company }}</h4>
                        <div class="post-title">{{ experience.title }}</div>
                        <div class="post-description">
                            {{ experience.description }}
                        </div>
                    </div>
                </div>
            </template>
          </div>
        </template>
        <template v-else>
            <p class="public-empty-parcours--label">{{ $t('student.parcours.empty_parcours') }}</p>
        </template>
    </div>
  </div>
</template>
<script>

import "./style.css";

export default {
  name: "ExperienceCtaPublic",

  props: {
    showDetail: {
      type:Boolean
    },
    student: {
      require: true
    },
    context: {
      default: 'private'
    }
  },

  data: function(){
    return {
      logo_entreprise: require("@/assets/img/Profil-Entreprise.svg").default,
    }
  }

};
</script>
<style scoped>
    .item-category-cta {
        display: flex;
    }
    .item-category-cta:not(:last-child){
      border-bottom: solid 1px #D3D3D3;
      margin-bottom: 2rem;
      padding-bottom: 2rem;
    }

    .item-date-cta {
        width: 25%;
        font-size: 14px;
    }

    .item-post-cta {
        width: 75%;
        display: flex;
    }

    .company-logo {
      width: 3rem;
      min-width: 3rem;
      margin-right: 1rem;
    }

    .company-name {
        color: #3C3850;
        font-family: 'NunitoSans-Bold';
        font-size: 1.1rem;
    }

    .post-description {
        color: #3C3850;
        font-size: 12px;
    }

    .post-title {
        color: #D3D3D3;
    }



</style>