<template>
    <experience-cta-private v-if="context == 'private'" :showDetail="showDetail" :student="student"  />
    <experience-cta-public  v-else :student="student"  />
</template>

<script>

import ExperienceCtaPublic  from "./ExperienceCtaPublic.vue"
import ExperienceCtaPrivate from "./ExperienceCtaPrivate.vue"
export default {
    name: "FormationCta",

    components:{
        ExperienceCtaPublic,
        ExperienceCtaPrivate
    },

    props: {

        showDetail: {
            type:Boolean
        },
        
        student: {
            required: true
        },

        context: {
            default: 'private'
        }

    },

}
</script>