{% set referer = app.request.server.get('HTTP_REFERER')|default(path('admin_index')) %}

{{ form_start(form, {'attr': {'id':'admin-post-form'}}) }}
<div class="tile p-3">
    <div class="tile-body">
        <div class="row">
            <div class="col-sm-9">
                <div class="form-group">
                    <label>
                        {% trans %}Titre{% endtrans %}
                    </label>
                    {{ form_widget(form.title, {'attr': {'class':'form-control'}}) }}
                </div>
                <div class="form-group">
                    <label class="form-group">
                        {% trans %}Contenu{% endtrans %}
                    </label>
                    {{ form_widget(form.content, {'attr': {'class':'tinymce'}}) }}
                </div>
            </div>

            <div class="col-sm-3">
                <div class="form-group">
                    <label> {% trans %}Type{% endtrans %} </label>
                    {{ form_widget(form.type, {'attr': {'class':'form-control'}}) }}
                </div>
                <div class="form-group">
                    <label> {% trans %}Lange{% endtrans %} </label>
                    {{ form_widget(form.lang, {'attr': {'class':'form-control'}}) }}
                </div>
                <div class="form-group">
                    <label>
                        {% trans %}Nom{% endtrans %}
                    </label>
                    {{ form_widget(form.name, {'attr': {'class':'form-control'}}) }}
                </div>
                <div class="form-group">
                    <label>
                        {% trans %}Slug{% endtrans %}
                    </label>
                    {{ form_widget(form.slug, {'attr': {'class':'form-control', 'readonly':true}}) }}
                </div>


                <!-- press field -->
                {% if attribute(form, 'date') is defined  %}
                    <div class="form-group">
                        <label>
                            {% trans %}Date de publication{% endtrans %}
                        </label>
                        {{ form_widget(form.date, {'attr': {'class':'form-control'}}) }}
                    </div>
                {% endif %}



                {% if attribute(form, 'magazine') is defined  %}
                    <div class="form-group">
                        <label>
                            {% trans %}Magazine{% endtrans %}
                        </label>
                        {{ form_widget(form.magazine, {'attr': {'class':'form-control'}}) }}
                    </div>
                {% endif %}


                {% if attribute(form, 'files') is defined  %}
                    <div class="form-group">
                        <label>
                            {% trans %}Files{% endtrans %}
                        </label>
                        
                        <div class="form-group drag-area drag-area--multiple" id="gallery-picture-uploader">
                            <legende>{% trans %}Cliquer ou glisser deposer 5 fichier au max.{% endtrans %}</legende>
                            <input type="file" name="galeryPhoto[]" id="galeryPhoto" multiple="multiple" class="input-file">
                            <div class="file-preview">
                                <div class="file-preview-image">
                                    {% for photo in galleryPhotos|default([]) %}
                                        <img src="{{  '/uploads/picture/' ~ photo }}"> 
                                    {% else %}
                                        <img src="{{  asset('build/admin/images/icon-image.svg') }}" width="50" class="default-img">        
                                    {% endfor %}  
                                </div>
                            </div>

                        </div>
                    </div>
                {% endif %}


                <!--- End press field -->

                <div class="action-group text-right">
                     <button class="btn btn-primary mr-3" type="submit">
                        <i class="fa fa-fw fa-lg fa-check-circle"></i>
                        {% if button_label|default(false) %}
                            {% trans %}Modifier{% endtrans %}
                        {% else %}
                            {% trans %}Enregistrer{% endtrans %}
                        {% endif %}
                    </button>
                    <a class="btn btn-secondary" href="{{ referer }}"><i class="fa fa-fw fa-lg fa-times-circle"></i>{% trans %}Annuler{% endtrans %}</a>
                </div>
            </div>
        </div>
    </div>
</div>
{{ form_end(form) }}
