{% extends 'admin/base.html.twig' %}
{% set params = app.request.query.all|default([]) %}

{% block title %}
    Grimpeurs > {{ params.type|default('post') }}
{% endblock %}

{% block actions %}
    <a class="btn btn-primary" href="{{ path('admin_post_new', params) }}">{% trans %}Ajouter{% endtrans %}</a>
{% endblock %}

{% block body %}
    <div class="tile p-2">
        <div class="tile-body p-2">
            <div class="d-flex justify-content-end">
                <form class="search-input" method="GET">
                    <div class="input-group my-2">
                        {% set q = app.request.query.get('q')|default('') %}
                        <input  type="search" class="form-control" name="q" value="{{ q }}" placeholder="Rechercher" aria-label="Rechercher" aria-describedby="basic-addon">
                        <input  type="hidden" name="type" value="{{ params.type|default('post') }}"
                        <div class="input-group-append">
                            <button type="submit" class="input-group-text" id="basic-addon">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
             <table class="table table-hover table-bordered no-footer admin-table">
                <colgroup>
                    <col span="1" style="width: 5%;" />
                    <col span="1" style="width: 30%;"/>
                    <col span="1" style="width: 30%;"/>
                    <col span="1" style="width: 20%;" />
                    <col span="1" style="width: 10%;" />
                    <col span="1" style="width: 5%;"/>
                    <col span="1" style="width: 5%;"/>
                </colgroup>
                <thead class="thead-green">
                    <tr>
                        <th>Id</th>
                        <th>Slug</th>
                        <th>Name</th>
                        <th>Title</th>
                        <th>{% trans %}Date de création{% endtrans %}</th>
                        <th>Lang</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for post in posts %}
                        <tr>
                            <td>{{ post.id }}</td>
                            <td>{{ post.title }}</td>
                            <td>{{ post.slug }}</td>
                            <td>{{ post.name }}</td>
                            <td>{{ post.createdAt|date('d-m-Y') }}</td>
                            <td>{{ post.lang }}</td>
                            <td>
                                <div class="admin-table--actions">
                                    <div class="dropdown">
                                        <button class="dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="circle"></span>
                                            <span class="circle"></span>
                                            <span class="circle"></span>
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="{{ path('admin_post_show', {'id': post.id}) }}">
                                                <span class="fa fa-eye"></span>
                                                <span>Detail</span>
                                            </a>
                                            <a class="dropdown-item" href="{{ path('admin_post_edit', {'id': post.id}) }}" class="">
                                                <span class="fa  fa-pencil"></span>
                                                <span>Modifier</span>
                                            </a>
                                            <div class="dropdown-item">
                                                {{ include('admin/grimpeurs/post/_delete_form.html.twig', {'wrapper_class':'mx-0'}) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="13">no records found</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    <div class="tile-footer text-right">
        {{ include('/admin/components/_paginator.html.twig', {'route_name': 'admin_country_index'}) }}
    </div>
</div>
{% endblock %}
