{% extends 'admin/base.html.twig' %}

{% block title %}New Post{% endblock %}

{% block body %}
    {{ include('admin/grimpeurs/post/_form.html.twig') }}
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app_admin_post') }}
{% endblock %}
