{% extends 'admin/base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}
    <h1>Post</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ post.id }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ post.slug }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ post.name }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ post.title }}</td>
            </tr>
            <tr>
                <th>Lang</th>
                <td>{{ post.lang }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ post.type }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ post.content }}</td>
            </tr>
            <tr>
                <th>Files</th>
                <td>{{ post.files ? post.files|join(', ') : '' }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ post.date ? post.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Magazine</th>
                <td>{{ post.magazine }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ post.updatedAt ? post.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_post_index') }}">back to list</a>

    <a href="{{ path('admin_post_edit', {'id': post.id}) }}">edit</a>

    {{ include('admin/grimpeurs/post/_delete_form.html.twig') }}
{% endblock %}
