<template>
  <Modal size="lg">
    <div slot="header" class="w-100">
      <div class="icon icon-back" v-on:click="$emit('goTo', 'StudentAvatar')"></div>

      <div class="title text-center">
        <h5 class="">{{ $t("organization.profil.steep") }} 3/6</h5>
      </div>
    </div>
    <div slot="body" class="organizationInfos">
      <div class="text-center">
        <div class="my-2">
          <h4 class="label">{{ $t("student.profil.steep1_info1") }}</h4>
        </div>
      </div>
      <div class="form-wrapper text-center">
        <h3 class="form-legende">
          {{ $t("student.profil.steep2_info1") }}
        </h3>
        <div class="row form-group-row">
          <div class="col-sm-6 col-lg-4 form-group">
            <label>{{$t('word.firstname')}}*</label>
            <input type="text" class="form-control" id="firstname" :readonly="readOnly" v-model="profil.firstname">
          </div>
          <div class="col-sm-6 col-lg-4 form-group">
            <label>{{$t('word.name')}}*</label>
            <input type="text" class="form-control" v-model="profil.lastname" :readonly="readOnly" id="lastname">
          </div>


          <div class="col-sm-6 col-lg-4 form-group">
            <label>Sexe</label>
            <div class="sexe-field"  v-if="readOnly">
              <div class="field-item">
                <input type="radio" value="profil.sexe" id="sexe-man" checked="true">
                <label for="sexe-man">{{ $t('word.' + profil.sexe) }}</label>
              </div>
            </div>
            <div class="sexe-field" v-else>
                <div class="field-item">
                    <input type="radio" value="man" v-model="profil.sexe" id="sexe-man"  required>
                    <label for="sexe-man">{{ $t('word.man') }}</label>
                </div>
                <div class="field-item">
                    <input type="radio" value="woman" v-model="profil.sexe" id="sexe-woman"  required>
                    <label  for="sexe-woman">{{ $t('word.woman') }}</label>
                </div>
                <div class="field-item">
                    <input type="radio" value="transgenre" v-model="profil.sexe" id="sexe-trans"  required>
                    <label for="sexe-trans">{{ $t('word.transgenre') }}</label>
                </div>
            </div>
        </div>

          <div class="col-sm-6 col-lg-4 form-group">
            <label>{{$t('word.telephone')}}*</label>
            <input type="text" class="form-control" :value="profil.phone" readonly v-if="readOnly">
            <vue-tel-input  class="form-control" id="phone" v-else v-model="profil.phone" />
          </div>
          <div class="col-sm-6 col-lg-4 form-group">
            <label>{{$t('word.date_of_birth')}}*</label>
            <input type="date" class="form-control" :readonly="readOnly" id="date_of_birth" v-model="profil.date_of_birth">
          </div>

          <div class="col-sm-6 col-lg-4 form-group">
            <label>{{$t('word.residence_country')}}*</label>
            <CountrySelect
              class="profil-country-select"
              id="country"
              :readonly="readOnly"
              v-model="profil.country"
              :all="false"
            />
          </div>

          <div class="col-sm-6 col-lg-4 form-group">
            <label>Adresse</label>
            <div class="input-group mb-3" :class="invalidAdresse ? 'invalid':''">
              <AdresseInput  :readonly="readOnly" v-model="profil.adress" id="adress" required/>
            </div> 
          </div>
        </div>
        
        
        <div class="mx-5 px-3" v-if="message">        
          <div class="alert alert-danger text-center">
            {{ message }}
          </div>
        </div>

        <div v-if="confirm_update">
          <div class="confirm-action-wrapper">
            <div class="confirm-text">
              <label>{{ $t('student.profil.warning.unmodifiable') }}</label>
            </div>
            <div class="confirm-actions">
              <DefaultButton className="outline2 yes-btn" :text="$t('word.yes')"    @click.native ="updateUpdateStudentInfos"/>
              <DefaultButton className="outline no-btn"   :text="$t('word.cancel')" @click.native ="confirm_update = false"/>
            </div>
          </div>
        </div>
        <DefaultButton v-if="!readOnly"
              className="style4"
              :text="$t('word.continue')"
              :onLoad="loading"
              @click.native="confirm_update = true"
        />
        <button class="btn-default outline2 " v-else  :onLoad="loading" @click=" $emit('goTo', 'StudentInfos');">
          <span>{{$t('word.next')}}</span>
        </button>
      </div>
      <div class="slider-bar-avis mx-auto">
        <div id="bar-1" class="bar"></div>
        <div id="bar-2" class="bar"></div>
        <div id="bar-3" class="bar"></div>
      </div>
    </div>
  </Modal>
</template>
<script>
import ProfilService from "../../../../../services/student/ProfilService.js";
import { VueTelInput } from 'vue-tel-input'
import CountrySelect from "@/components/common/CountrySelect.vue"
import AdresseInput  from "@/components/common/AdresseInput.vue"
import moment from "moment";
import ConfirmAction from "@/components/common/ConfirmAction.vue";

export default {
  name: "StudentInfosBase",
  components: {
    VueTelInput,
    AdresseInput,
    CountrySelect,
    ConfirmAction
  },
  data: function () {
    return {
      message: false,
      loading: false,
      fieldCount: 1,
      change: 0,
      invalidAdresse : false,
      confirm_update : false,
    };
  },
  computed: {
    readOnly: function ()
      {
        let dateString = this.profil.updated_at ?? false

        if(!dateString) {
          return false
        }
        var today = new Date();
        var birthDate = new Date(dateString);
        let months;
        months = (today.getFullYear() - birthDate.getFullYear()) * 12;
        months -= today.getMonth();
        months += birthDate.getMonth();

        return months < 6;
      },
  },
  methods: {
    updateUpdateStudentInfos() {
      if (!this.validateForm()) {
        this.loading = false;
        return false
      }
     
      let that = this;
      that.loading = true;
      /*** skype update if no field change */
      if(!this.change){
        this.$emit("goTo", "StudentInfos");
        return false
      }

      ProfilService.updateStudentInfos({
          context: "basic_infos",
          profil: that.profil,
          }).then((response) => {
            if (response.data.success) {
              that.edit = false;
              that.$store.dispatch("user/updateInfos");
              that.$emit("goTo", "StudentInfos");
            } else {
            that.message = response.data.error;
          }
          that.loading = false;
        }).catch((error) => {
          this.message = error;
          this.loading = false;
        });
    },
    validateForm : function(){
      let form = this.profil
      let fields = ['firstname', 'lastname', 'phone', 'date_of_birth','country', 'adress']
      const entries = Object.entries(form) 
      for (let i = 0; i < entries.length; i++) {
          const arKey = entries[i][0]
          let arVal = entries[i][1]
          if(fields.includes(arKey)){
            let element = document.getElementById(arKey)
            if (arVal == null  || arVal.length < 1 || arVal ==='Invalid date'){
              element.classList.add('invalid')
              return false
            }else{
               element.classList.remove('invalid')
            }
          }
      }      
      return true
    }
  },
  mounted: function(){
    this.profil.date_of_birth = moment(this.profil.date_of_birth).format('YYYY-MM-DD')
    window.scrollTo(0,0)
  },
  watch : {
    profil : {
      deep : true,
      handler : function(val, old){
        this.change =  true
      }
    }
  }
};
</script>
<style scoped>
  .sexe-field {
      display: flex;
      justify-content: space-between;
      padding-left: 1rem;
  }
  .confirm-action-wrapper {
    position: absolute;
    z-index: 999;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 12px 3px #64646424;
    border: 1px solid #D3D3D3;
    left: 0;
    bottom: 2rem;
    width: 18rem;
    padding: 1rem;
    border-radius: 15px;
    text-align: left !important;
    right: 0;
    margin: auto;
  }
  .confirm-text {
    font-family: 'NunitoSans-Regular';
    margin-bottom: 0;
    padding: 0;
  }
  .confirm-actions {
    display: flex;
    justify-content: space-between;
  }
  .confirm-actions .yes-btn{
    border-radius: 15rem;
    padding: 5px 2rem;
    min-height: 1.5rem !important;
    font-size: 15px !important;
  }
  .confirm-actions .no-btn{
    padding: 5px 1rem;
    min-height: 1.5rem !important;
    font-size: 15px !important;
  }

  .form-control:disabled, .form-control[readonly] {
      background-color:white !important;
  }
  @media (max-width:1450px) {
      .sexe-field {
        flex-direction: column;
      } 
  }
</style>

<style>
  #country .multiselect__tags{
    padding-top: 13px;
    padding-bottom: 5px;
  }
</style>