<template>
  <Modal size="lg">
    <div slot="header" class="w-100">
      <div class="icon icon-back" v-on:click="$emit('goTo', 'StudentInfos')"></div>
      <div class="title text-center">
        <h5 class="">{{ $t("organization.profil.steep") }} 3/5</h5>
      </div>
    </div>
    <div slot="body">
      <div class="text-center">
        <div class="my-2">
          <h4 class="label">{{ $t("student.profil.steep1_info1") }}</h4>
        </div>
      </div>
      <div class="form-wrapper text-center">
        <label class="form-legende">
          {{ $t("student.profil.steep3_info1") }}
        </label>
        <div class="row form-group-row">
          <div class="read-only-mask" v-if="readOnly" v-tooltip="$t('student.profil.warning.unmodifiable')">

          </div>
          <div class="col-sm-4" v-tooltip="$t('student.profil.warning.unmodifiable')">
            <label>{{ $t("student.profil.steep3_info2") }}</label>
            <DuplicateCountrySelect 
              max="5"
              v-model="profil.desired_countries" 
              :all="false"
            />
          </div>

          <div class="col-sm-4" v-tooltip="$t('student.profil.warning.unmodifiable')">
            <label v-html="$t('student.profil.steep3_info3')"></label>
            <LevelSelect
              class="discipline-select  mt-1"
              v-model="profil.desired_study_level"
              placeholder="choisir dans la liste"
              :all="false"
            />
          </div>

          <div class="col-sm-4" v-tooltip="$t('student.profil.warning.unmodifiable')">
            <label v-html="$t('student.profil.steep3_info4')"></label>
            <StudyFieldSelect
              class="discipline-select  mt-1"
              v-model="profil.desired_disciplines"
              :max="3"
              context="category"
              placeholder="Discipline 1"
              :multiple="true"
              :all="false"
              />
          </div>
        </div>
        
        <div class="mx-5 px-3" v-if="message">        
          <div class="alert alert-danger text-center">
            {{ message }}
          </div>
        </div>
        
        

        <template v-if="!readOnly">
            <DefaultButton
              className="style4"
              :text="$t('word.continue')"
              :onLoad="loading"
              @click.native="UpdateStudentDesiredInfos"
            />
        </template>
        <template v-else>
             <DefaultButton
                className="outline2"
                :text="$t('word.next')"
                :onLoad="loading"
                @click.native="$emit('goTo', 'StudentParcours')"
            />
        </template>

      </div>
      <div class="slider-bar-avis mx-auto">
        <div id="bar-1" class="bar"></div>
        <div id="bar-2" class="bar"></div>
        <div id="bar-2" class="bar"></div>
      </div>
    </div>
  </Modal>
</template>
<script>
import ProfilService from "@/services/student/ProfilService.js";
import Multiselect from "vue-multiselect";
import LevelSelect from "@/components/common/LevelSelect.vue";
import StudyFieldSelect from "@/components/common/StudyFieldSelect.vue";
import DuplicateCountrySelect from "@/components/common/DuplicateCountrySelect.vue";
import "vue-multiselect/dist/vue-multiselect.min.css";

import CountrySelect from "@/components/common/CountrySelect.vue"

export default {
  name: "StudentDesired",
  components: {
    Multiselect,
    CountrySelect,
    StudyFieldSelect,
    LevelSelect,
    DuplicateCountrySelect
  },
  data: function () {
    return {
        message: false,
        loading: false,
        fieldCount: 1,
        change:false,
        readOnly: false
    };
  },


  methods: {
    UpdateStudentDesiredInfos() {
      
      //Validate form
      if(!this.validateForm()) {
        this.loading = false;
        return false
      }

      /** skyp update if an field changed */
       if(!this.change){
        this.$emit("goTo", "StudentParcours");
        return false
      }

      let that = this;
      that.loading = true;

      ProfilService.updateStudentInfos({
        context: "desired_infos",
        profil: that.profil,
      })
        .then((response) => {
          if (response.data.success) {
            that.edit = false;
            that.$store.dispatch("user/updateInfos");
            that.$emit("goTo", "StudentParcours");
          } else {
            that.message = response.data.error;
          }
          that.loading = false;
        })
        .catch((error) => {
          this.message = error;
          this.loading = false;
        });
      
    },
    validateForm : function(){
      let form = this.profil
      if(form.desired_countries.length < 1){
        this.message = this.$t("student.profil.steep3_error1")
        return false
      }
      if(!form.desired_study_level){
        this.message = this.$t("student.profil.steep2_error2")
        return false
      }
      
      if(form.desired_disciplines.length < 1){
        this.message = this.$t("student.profil.steep2_error3")
        return false
      }
      return true
    },

    isReadOnly: function ()
      {
        let dateString = this.profil.updated_at ?? false

        if(!dateString) {
          return
        }
        var today = new Date();
        var birthDate = new Date(dateString);
        let months;
        months = (today.getFullYear() - birthDate.getFullYear()) * 12;
        months -= today.getMonth();
        months += birthDate.getMonth();

        let filled = this.profil.desired_countries && this.profil.desired_study_level && this.profil.desired_disciplines

        if(filled){
          this.readOnly = (months < 6)
        }
      },

  },
  watch : {
    profil : {
      deep : true,
      immediate: false,
      handler : function(val){
        this.change = true
      }
    }
  },


  mounted: function () {
    window.scrollTo(0, 0)
    this.change = false
    this.isReadOnly()
  },
};
</script>
<style scoped>
  .form-group-row{
    position: relative;
  }
  .read-only-mask {
      width: 100%;
      background: #dadada00;
      height: 100%;
      position: absolute;
      z-index: 2;
  }
</style>