<template>
     <Modal size="lg">
        <div slot="header" class='congrat-header w-100'>
            <div class="text-center ">
                <h3 class="congrat-title">{{ $t("student.profil.steep5_info1") }}</h3>
            </div>
            <div v-html = "$t('student.profil.steep5_info2')" class="congrat-desc"></div>    
        </div>
        <div slot="body" class="studentParcours">
            <div class="text-center">
                <div class="my-4">
                      <h3 class="form-legende">{{ $t("student.profil.steep5_info3") }}</h3>
                </div>
            </div>
            <div class="parcours-items mb-4">
                <ParcoursForm :student="profil" />
            </div>
            <div class="form-wrapper text-center">
                <DefaultButton className="style4" :text="$t('word.continue')" :onLoad="loading" @click.native="onValidate"/>
            </div>
            <!--div class="form-wrapper text-center">
                <DefaultButton className="outline" :text="$t('word.cancel')" @click.native="$emit('goTo','None')"/>
            </div-->
        </div>
    </Modal>
</template>
<script>

    import ParcoursForm from "@/components/Student/Parcours/ParcoursForm.vue"

    export default {
        name: 'StudentParcours',
        components : {
            ParcoursForm
        },
        data : function() {
            return {
                loading      : false,
            }
        },
        methods: {
            onValidate(){
                let form = this.profil
                let incomplete = ( form.formations.length < 1 ) || ( form.experiences.length < 1 ) || ( form.languages.length < 1 ) 
                
                if(incomplete){
                    this.dispatchError("Veillez remplir au moins Formations, Experiences et Langue")
                    return false
                }

                this.$emit('goTo','None')
            }
        },
        mounted : function(){
            window.scrollTo(0, 0)
        }
    }
</script>
<style scoped>
    .congrat-title {
        color: #444242 !important;
        font-size: 1.5rem !important;
        font-family: 'NunitoSans-SemiBold' !important;
        max-width: 28rem;
        margin: auto;
    }
    .congrat-desc {
        font-size: 13px;
        max-width: 48rem;
        margin: auto;
        text-align: center;
        margin-top: 3rem;
        color: #3C3850;
    }
    @media (max-width:1280px) {
        .form-legende{
            margin-top: 1rem !important;
        }
        .congrat-desc{
            font-size: 11px;
            max-width: 41rem;
        }
    }
    @media (max-width:1024px) {
        .congrat-desc{
            font-size: 10px;
            max-width: 38rem;
        }
    }
</style>
<style>
    .congrat-header .congrat-desc b {
        color: #3DC5B7;
    }
</style>