<template>
    <div>
         <!-- File upload component nt visible -->
         <file-upload
            extensions="jpg,jpeg,png,webp"
            accept="image/png,image/jpeg,image/webp"
            name="avatar"
            class="d-none"
            post-action="#"
            :drop="true"
            v-model="files"
            @input-filter="inputFilter"
            @input-file="inputFile"
            ref="upload">
            Upload avatar
        </file-upload>
    

        <Modal size="lg">
            <div slot="header" class="w-100">
                <div class="icon icon-back" v-on:click="$emit('goTo','None')"></div>
                <div class="title text-center"> 
                <h5 v-show="!edit" >{{ $t('organization.profil.steep') }} 1/5</h5>
                <h5 v-show="edit"  >{{ $t('organization.profil.steep8_info4') }}</h5>
                </div>
            </div>
            <div slot="body"> 
                 <!-- Drag and drop active -->
                <div v-show="$refs.upload && $refs.upload.dropActive" class="drop-active">
                    <h3>{{$t('student.profil.steep1_info5')}}</h3>
                </div>

                 <!-- Drag and drop active -->
                <div v-show="loading" class="drop-active">
                    <h3>{{$t('student.profil.steep1_info6')}}</h3>
                </div>
                <!-- END Drag and drop active -->

                
                <!-- avatar Uploader -->
                <div class="text-center" v-show="!profil.avatar && !edit">
                    <div class="mt-4">
                        <h4 class="label">{{ $t('student.profil.steep1_info1') }}</h4>
                        <h5 class="sous-label mt-5">{{ $t('student.profil.steep1_info2') }}</h5>
                    </div>
                    <div class="text-center py-2">
                         <div class="avatar-uploader-wrapper">
                            <div class="avatar-upload">
                                <div class="text-center logo-prev p-5">
                                    <label for="avatar" class="logo-wrapper" ref="avatarLabel">
                                        <img :src="files.length ? files[0].url : require('@/assets/img/image.svg').default"  class="icon-image-uploader" />
                                    </label>
                                    <div class="text-center mt-3">
                                        <p class="small">{{ $t('student.profil.steep1_info7') }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End avatar Uploader -->

                <!-- avatar croper -->
                <div class="avatar-edit" v-show="files.length && edit">
                    <div class="cropper-wrapper" v-if="files.length">
                        <img ref="editImage" :src="files[0].url" />
                    </div>
                    <div class="text-center p-4 mt-5">
                        <DefaultButton className="style4" :text="$t('word.save')"    @click.native="editSave"></DefaultButton>
                        <DefaultButton className="outline" :text="$t('word.cancel')"  @click.native="$refs.upload.clear"></DefaultButton>
                    </div>
                </div>
                <!-- end avatar cropper --> 

                <!--  avatar image preview -->
                <div class="text-center" v-if=" (!edit && uploaded) || (profil.avatar && !edit) ">
                    <div class="mt-4 pt-4">
                        <h4 class="label">{{ $t('student.profil.steep1_info1') }}</h4>
                        <h5 class="sous-label mt-5">{{ $t('student.profil.steep1_info4') }}</h5>
                    </div>
                    <div class="m-5">
                        <label for="avatar" ref="avatarLabelPreview">
                            <img :src="'/uploads/avatar/'+profil.avatar"  class="cover-preview-image" />
                        </label>
                    </div>
                    <div  class="mt-5">
                        <DefaultButton className="outline2 mr-3" :text="$t('student.profil.steep1_info8')"  @click.native="openFile"></DefaultButton>
                        <DefaultButton className="style4"  :text="$t('word.validate')"  @click.native="$emit('goTo','StudentInfosBase')"></DefaultButton>
                    </div>
                </div>
                <!--  END image preview -->

                <div class="slider-bar-avis mx-auto" v-if="!((!edit && uploaded) || (profil.avatar && !edit))">
                    <div class="bar" id="bar-1"></div>
                    <div class="bar" id="bar-2"></div>
                    <div class="bar" id="bar-2"></div>
                </div>  
            </div>
        </Modal>
    </div>
</template>
<script>
    import ProfilService from "@/services/student/ProfilService.js"
    import FileUpload from 'vue-upload-component'
    import ImageHelper from '@/services/helpers/ImageHelper'

    import Cropper from 'cropperjs'

    export default {
        name: 'StudentAvatar',
        components : {
            FileUpload
        },
        data : function() {
            return {
                files: [],
                loading   : false,
                edit: false,
                cropper: false,
                uploaded   : false,
            }
        },
        methods: {
            uploadAvatar(){
                let that = this 
                that.loading = true
                let formData = new FormData();
                this.$refs.upload.files.map(input => {
                    formData.append('avatar', input.file)
                })
                ProfilService.updateAvatar(formData)
                .then(response =>{
                    if(response.data.success){
                        that.edit = false
                        that.profil.avatar = response.data.avatar 
                        that.$store.dispatch('user/updateInfos')
                    }else{
                        that.dispatchError(response.data.error)
                    }
                    that.loading = false
                }).catch(error =>{
                    that.dispatchError(error)
                    that.loading = false
                })
            },
            editSave() {
                this.edit = false
                let oldFile = this.files[0]
                let binStr = atob(this.cropper.getCroppedCanvas().toDataURL(oldFile.type).split(',')[1])
                let arr = new Uint8Array(binStr.length)
                for (let i = 0; i < binStr.length; i++) {
                    arr[i] = binStr.charCodeAt(i)
                }
                let file = new File([arr], oldFile.name, { type: oldFile.type })
                this.$refs.upload.update(oldFile.id, {
                    file,
                    type: file.type,
                    size: file.size
                })
                this.uploadAvatar()
            },
            openFile: function(){
                try {
                    this.$refs.avatarLabel.click()
                } catch (error) {
                    this.$refs.avatarLabelPreview.click()
                }
            },
            inputFile(newFile, oldFile, prevent) {
                if (newFile && !oldFile) {
                    this.$nextTick(function () {
                        this.edit = true
                    })
                }
                if (!newFile && oldFile) {
                    this.edit = false
                } 
            },
            inputFilter(newFile, oldFile, prevent) {
                let that = this;
                if (newFile && !oldFile) {
                    if (!/\.(jpg|jpeg|png)$/i.test(newFile.name)) {
                       this.dispatchError(that.$t("media.error.invalid_format"))
                       return prevent()
                    }
                }
                let prevents = false
                let filetoCheck = newFile
                ImageHelper.getImageSize(filetoCheck, function(size){
                    if(size.w < 250 || size.h < 250){
                        that.edit = false
                        that.dispatchError(that.$t("media.error.invalid_size"))  
                    }
                })

                if (newFile && (!oldFile || newFile.file !== oldFile.file)) {
                    newFile.url = ''
                    let URL = window.URL || window.webkitURL
                    if (URL && URL.createObjectURL) {
                        newFile.url = URL.createObjectURL(newFile.file)
                    }
                }
            } 
        },
        watch: {
            edit(value) {
                if (value) {
                    this.$nextTick(function () {
                    if (!this.$refs.editImage) {
                        return
                    }
                    let cropper = new Cropper(this.$refs.editImage, {
                        aspectRatio: 1,
                        initialAspectRatio: 1,
                        viewMode: 1,
                        minCropBoxWidth: 250,
                        minCropBoxHeight: 250,
                        preview: '.preview',
                    })
                    this.cropper = cropper
                    })
                } else {
                    if (this.cropper) {
                    this.cropper.destroy()
                    this.cropper = false
                    }
                }
            }
        }

    }
</script>