<template>
     <Modal size="lg">
        <div slot="header" class="w-100">
            <div class="icon icon-back" v-on:click="$emit('goTo','StudentDesired')"></div>
            
            <div class="title text-center"> 
                 <h5>{{ $t('organization.profil.steep') }} 4/5</h5>
            </div>
        </div>
        <div slot="body" class="organizationSocialNetwork"> 
            <div class="text-center">
                <div class="my-4">
                    <h4 class="label">{{ $t('student.profil.steep1_info1') }}</h4>
                </div>
            </div>
            <div class="form-wrapper text-center">
               <h3 class="form-legende">
                    {{ $t("organization.profil.steep7_info1") }}
                </h3>
                <div class="row text-left m-4 px-2">
                    <div class="col-sm-6 mt-3">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-2x fa-youtube"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control py-4 bl-0"  v-model="profil.social_network.youtube">
                        </div>
                    </div>
            
                    <div class="col-sm-6 mt-3">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-2x fa-twitter"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control py-4  bl-0"  v-model="profil.social_network.twitter">
                        </div>
                    </div>
            
                    <div class="col-sm-6 mt-3">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-2x fa-facebook"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control py-4  bl-0"  v-model="profil.social_network.facebook">
                        </div>
                    </div>
            
                    <div class="col-sm-6 mt-3">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-2x fa-instagram"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control py-4  bl-0"  v-model="profil.social_network.instagram">
                        </div>
                    </div>

                    <div class="col-sm-6 mt-3">
                       <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-2x fa-linkedin"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control py-4 bl-0"  v-model="profil.social_network.linkedin">
                        </div>
                    </div> 
                    <div class="col-sm-6 mt-3">
                       <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-2x fa-globe"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control py-4 bl-0" placeholder="Votre site url"  v-model="profil.site_url">
                        </div>
                    </div> 
                </div>
                <DefaultButton className="style4" :text="$t('word.continue')" :onLoad="loading" @click.native="updateStudentRS" />
            </div>
            <div class="alert alert-danger" v-if="message">
                {{ message }}
            </div> 

            <div class="slider-bar-avis mx-auto">
                <div class="bar" id="bar-1"></div>
                <div class="bar" id="bar-2"></div>
                <div class="bar" id="bar-2"></div>
            </div>  
               
        </div>
    </Modal>
</template>
<script>
    
    import ProfilService from "@/services/student/ProfilService.js"
    export default {
        name: 'StudentSocialNetword',
        data : function() {
            return {
                message:  false,
                loading: false,
                change: false

            }
        },
        methods: {
            updateStudentRS(){
                if(!this.change){
                    this.$emit("goTo", "StudentParcours");
                    return false
                }


                let that = this
                that.loading = true

                //Validate form
                if(false){
                    this.message = ""
                    this.loading = false
                }else{
                    ProfilService.updateStudentInfos({
                        context: "social_network_infos",
                        profil: that.profil,
                    }).then(response =>{
                        if(response.data.success){
                            that.$store.dispatch('user/updateInfos')
                            that.$emit('goTo','StudentParcours')
                        }else{
                             this.message = response.data.error
                        }
                            this.loading = false
                    }).catch(error =>{
                        console.log(error)
                        this.message = error
                        this.loading = false
                    })
                } 
            }

        },
        mounted : function(){
           
            this.profil.social_network = this.profil.social_network ?? {
                youtube   : null,
                facebook  : null,
                instagram : null,
                twitter   : null,
                linkedin  : null
            } 
            window.scrollTo(0, 0)
            
        },
        watch : {
            profil : {
            deep : true,
            handler : function(val){
                this.change = true
            }
            }
        }
    }
</script>