<template>
  <Modal size="lg">
    <div slot="header" class="w-100">
      <div class="icon icon-back" v-on:click="$emit('goTo', 'StudentInfosBase')"></div>

      <div class="title text-center">
        <h5 class="">{{ $t("organization.profil.steep") }} 3/5</h5>
      </div>
    </div>
    <div slot="body" class="organizationInfos">
      <div class="text-center">
        <div class="my-2">
          <h4 class="label">{{ $t("student.profil.steep1_info1") }}</h4>
        </div>
      </div>
      <div class="form-wrapper text-center">
        <h3 class="form-legende">
          {{ $t("student.profil.steep2_info1") }}
        </h3>
       
        <div class="row form-group-row" :class="{'read-only':readOnly}">
            <div class="read-only-mask" v-if="readOnly" v-tooltip="$t('student.profil.warning.unmodifiable')">

            </div>
            <div class="col-lg-4" v-tooltip="$t('student.profil.warning.unmodifiable')">
                <label>
                    {{$t('student.profil.steep3_info5')}}* <span class="small">(2 {{$t('student.profil.steep3_info6')}})</span>
                </label>
                <DuplicateNationalitySelect v-model="profil.nationalities" />
            </div>
            <div class="col-lg-4" v-tooltip="$t('student.profil.warning.unmodifiable')">
                <label>{{$t('student.profil.steep3_info7')}} </label>
                <LevelSelect
                  class="discipline-select  mt-1"
                  v-model="profil.current_level"
                  :all="false"
                  placeholder="choisir dans la liste"
                />
            </div>
            <div class="col-lg-4" v-tooltip="$t('student.profil.warning.unmodifiable')">
                <label>Discipline(s)* <span class="small">(3 {{$t('student.profil.steep3_info6')}})</span></label>
                <StudyFieldSelect
                    class="discipline-select  mt-1"
                    v-model="profil.disciplines"
                    :max="3"
                    context="category"
                    placeholder="Discipline 1"
                    :multiple="true"
                    :all="false" />
            </div>
        </div>

        <template v-if="!readOnly">
            <DefaultButton
              className="style4"
              :text="$t('word.continue')"
              :onLoad="loading"
              @click.native="updateUpdateStudentInfos"
            />
        </template>
        <template v-else>
             <DefaultButton
                className="outline2"
                :text="$t('word.next')"
                :onLoad="loading"
                @click.native="$emit('goTo', 'StudentDesired')"
            />
        </template>
      </div>
      <div class="slider-bar-avis mx-auto">
        <div id="bar-1" class="bar"></div>
        <div id="bar-2" class="bar"></div>
        <div id="bar-2" class="bar"></div>
      </div>
    </div>
  </Modal>
</template>
<script>
import ProfilService from "@/services/student/ProfilService.js";
import Multiselect from "vue-multiselect";
import helper from "@/services/helpers/Helpers.js";
import DuplicateNationalitySelect from "@/components/common/DuplicateNationalitySelect.vue";
import LevelSelect from "@/components/common/LevelSelect.vue";
import StudyFieldSelect from "@/components/common/StudyFieldSelect.vue";

import "vue-multiselect/dist/vue-multiselect.min.css";

export default {
  name: "StudentInfos",
  components: {
      Multiselect,
      DuplicateNationalitySelect,
      LevelSelect,
      StudyFieldSelect
  },
  data: function () {
    return {
        message: false,
        loading: false,
        fieldCount: 1,
        change:false,
        readOnly: false
    };
  },
 
  methods: {
    updateUpdateStudentInfos() {

      if(!this.validateForm()) {
        this.loading = false;
        return false
      }

      /*** skyp update if non edition */
      if(!this.change){
        this.$emit("goTo", "StudentDesired");
        return false
      }

      let that = this;
      that.loading = true;
      // else 
      ProfilService.updateStudentInfos({
        context: "infos",
        profil: that.profil,
      })
        .then((response) => {
          if (response.data.success) {
            that.edit = false;
            that.$store.dispatch("user/updateInfos");
            that.$emit("goTo", "StudentDesired");
          } else {
            that.message = response.data.error;
          }
          that.loading = false;
        })
        .catch((error) => {
          this.message = error;
          this.loading = false;
        });
      
    },
    validateForm : function(){
      let form = this.profil

      if(form.nationalities.length < 1){
        this.dispatchError(this.$t("student.profil.steep2_error1"))
        return false
      }

      if(!form.current_level){
        this.dispatchError(this.$t("student.profil.steep2_error2"))
        return false
      }
      
      if(form.disciplines.length < 1){
        this.dispatchError(this.$t("student.profil.steep2_error3"))
        return false
      }
      return true
    },

    isReadOnly: function(){
      let dateString = this.profil.updated_at ?? false

        if(!dateString) {
          return 
        }
        var today = new Date();
        var birthDate = new Date(dateString);
        let months;
        months = (today.getFullYear() - birthDate.getFullYear()) * 12;
        months -= today.getMonth();
        months += birthDate.getMonth();

        let filled = 
            this.profil.current_level && 
            (this.profil.nationalities.length == 2) && 
            this.profil.disciplines.length

        if(filled){
          this.readOnly = (months < 6)
        }

    }
  },

  mounted: function () {
    window.scrollTo(0, 0)
    this.isReadOnly()
  },
  watch : {
    profil : {
      deep : true,
      handler : function(val){
        this.change = true
      }
    }
  }
};
</script>
<style scoped>
  .form-group-row{
    position: relative;
  }
  .read-only-mask {
      width: 100%;
      background: #dadada00;
      height: 100%;
      position: absolute;
      z-index: 2;
  }
</style>