<template>
  <div>
    <div class="alert alert-danger m-1" role="alert" v-show="error.on">
      {{ error.message }}
    </div>

    {{ /* Date and Hours input */ }}
    <div class="row mx-1 mt-4">
      <div class="form-group col-md-8">
        <label>{{ $t("student.todo.date") }}</label>
        <div class="d-flex-inline">
          <div class="d-f-min">
            <input
              type="number"
              min="1"
              :max="maxDay"
              class="form-control"
              v-model="value.day"
            />
          </div>
          <div class="d-f-max mx-1">
            <select
              class="form-control"
              v-model="value.month"
              @change="changeMonth"
            >
              <option
                v-for="(value, key) in $t('student.todo.months')"
                :key="key"
                :value="key"
                >{{ value }}</option
              >
            </select>
          </div>
          <div class="d-f-min">
            <input
              type="number"
              placeholder="2021"
              :min="minYear"
              v-model="value.year"
              class="form-control"
            />
          </div>
        </div>
      </div>
      <div class="form-group col-md-4">
        <label>{{ $t("student.todo.hour") }}</label>
        <div class="d-flex-inline">
          <div class="d-f-min">
            <input
              type="number"
              min="0"
              max="23"
              v-model="value.hour"
              class="form-control"
            />
          </div>
          <div class="d-f-hour">
            <span>h</span>
          </div>
          <div class="d-f-min">
            <input
              type="number"
              min="0"
              max="59"
              v-model="value.minute"
              class="form-control"
            />
          </div>
        </div>
      </div>
    </div>

    {{ /* Location bourse input */ }}
    <div class="row mx-1">
      <div class="form-group col-md-12">
        <input
          type="text"
          class="form-control"
          :placeholder="$t('student.todo.placeholder_text_bourse')"
          v-model="value.name"
        />
      </div>
    </div>

    {{ /* Additional information input */ }}
    <div class="row mx-1">
      <div class="form-group col-md-12">
        <textarea
          class="form-control"
          style="min-height: 80px;"
          :placeholder="$t('student.todo.placeholder_textarea')"
          v-model="value.additional_infos"
        ></textarea>
      </div>
    </div>

    {{ /* Alert section */ }}
    <div class="row mx-1">
      <div class="form-group col-md-12">
        <div class="form-group" style="float: left; margin-top: 10px;">
          <input id="check-alert" type="checkbox" v-model="value.alert.on" />
          <label for="check-alert">
            {{ $t("student.todo.create_alert") }}
          </label>
        </div>
        <div class="mob-rectificator" style="float: right; display: inline-flex;">
          <label for="dropdown-alert" style="margin: 10px;">{{
            $t("student.todo.trigger_alert")
          }}</label>
          <select
            id="dropdown-alert"
            class="form-control"
            v-model="value.alert.duration"
          >
            <option
              v-for="(value, key) in $t('student.todo.triggers')"
              :key="key"
              :value="key"
              >{{ value }}</option
            >
          </select>
        </div>
      </div>
      {{ /* Button section */ }}
      <div class="col-md-12">
        <md-button
          class="md-accent"
          style="float: right; margin-right;"
          @click="save"
        >
          <span>{{ $t("student.todo.action_save") }}</span>
        </md-button>
      </div>
    </div>
  </div>
</template>

<script>
const d = new Date();

export default {
  name: "Form",
  data: () => ({
    minYear: "2021",
    maxDay: "31",
    error: {
      on: false,
      message: ""
    },
    value: {
      id: Math.random(),
      day: 1,
      month: 1,
      year: "2021",
      hour: 23,
      minute: 59,
      name: "",
      additional_infos: "",
      alert: {
        on: false,
        duration: 0
      },
      full_date: "",
      full_hour: "",
      isEdit: false
    }
  }),
  props: {
    dataEdit: {
      type: Object,
      required: false
    }
  },
  created() {
    if (this.dataEdit) {
      this.value = { ...this.value, ...this.dataEdit };

      this.isEdit = true;
    } else {
      this.value.month = d.getMonth() + 1;
      this.value.year = d.getFullYear();
      this.value.day = d.getDate();
      this.minYear = this.yearValue;
    }
    this.setMaxDay();

    this.error.message = this.$t("student.todo.field_incomplet");
  },
  methods: {
    setMaxDay() {
      this.maxDay = new Date(this.yearValue, this.monthValue, 0).getDate();

      this.value.day > this.maxDay && (this.value.day = this.maxDay);
    },
    
    changeMonth() {
      this.setMaxDay();
    },

    save() {
      if (!this.value.additional_infos || !this.value.name) {
        this.error.on = true;
        return false;
      }

      this.error.on = false;
      this.value.full_date = `${this.value.year}-${this.value.month}-${this.value.day}`;
      this.value.full_hour = `${this.value.hour}:${this.value.minute}`;

      this.$emit("parent-save", this.value, this.isEdit);
    }
  }
};
</script>

<style scoped>
.d-flex-inline {
  display: inline-flex;
}

.d-f-min {
  flex: 1.2;
}

.d-f-max {
  flex: 2;
}

.d-f-hour {
  text-align: center;
  margin-top: 10px;
  flex: 0.5;
}
.form-group::placeholder {
  color:grey;
}
.form-group {
  margin-bottom: 5px !important;
}
.form-control {
	height: calc(1.5em + .75rem ) !important;
  padding: .375rem .4rem !important;
}
.md-ripple .md-button-content span{
  text-transform: capitalize;
}
.col-md-12 .button.md-button.md-accent.md-theme-default {
  margin-top: 0 !important;
}
@media (max-width: 1200px) {
  .form-control {
    font-size: 10px !important;
}
.form-group label{
  font-size: 12px;
  margin: auto 10px;
}
.mob-rectificator{
  margin-top: 10px;
}
}

</style>