<template>
    <div>
      <Modal v-if="show2AuthentModal" name="login">
        <div slot="header" class="w-100">
          <div class="title text-center">
            <h3 class="title" v-if="show2AuthentModal">
              {{ $t("modal.title_auth") }}
            </h3>
            <h3 class="title" v-else>{{ $t("modal.title_login_account") }}</h3>
          </div>
        </div>
        <AuthentificationForm slot="body"  />
      </Modal>
      <Home />
    </div>
</template>
<script>
import Home from "@/view/home/Home.vue"
import AuthentificationForm from "./AuthentificationForm.vue"
import "./style.css";
export default {
  name: "Authentification",
  components: {
    AuthentificationForm,
    Home
  },
  data: function () {
    return {
      show2AuthentModal: true
    };
  }
};
</script>
