<template>
  <div class="registrationWrapper form-student" slot="content">
    <div class="content">
      <div class="form-wrapper">
        <form v-show="steep === 1">
          <div class="row">
            <div class="form-group col-sm-12 my-3">
              <label>{{ $t("word.email") }}*</label>
              <input type="text" class="form-control" v-model="user.username" />
            </div>
            <div class="form-group col-sm-12 my-3">
              <label>{{ $t("word.password") }} *</label>
              <input type="password" class="form-control" v-model="user.password" />
            </div>
          </div>
          <div v-if="message" class="alert alert-danger text-center" role="alert">
            {{ $t(message) }}
          </div>
          <div class="my-4 text-center">
            <p>
              {{ $t("modal.message_1") }}
            </p>
          </div>
          <div class="row my-4">
            <p class="col-sm-6">
              <a @click="$router.push( {name : 'recovery_password'})" style="position: absolute; bottom: 25%"
                >{{ $t("modal.passwordforget") }}
              </a>
            </p>
            <div class="text-center col-sm-6">
              <DefaultButton
                className="style1"
                :onLoad="waiting"
                :text="$t('modal.btn_auth')"
                @click.native="getCode"
              ></DefaultButton>
            </div>
          </div>
        </form>
        <activateAccount  v-show="steep === 2" :email ="user.username" :password="user.password"></activateAccount>
    
      </div>
    </div>
    <div class="custom-modal-footer" v-show="steep === 1">
      <span class="small">*{{ $t("modal.fielrequire") }}</span>
    </div>
  </div>
</template>

<script>
import service from "@/services/auth/auth.service.js";
import activateAccount from "@/components/common/ActivateAccount"
export default {
  name: "AuthentificationForm",
  components : {activateAccount},
  data: function () {
    return {
      user: {
        username: "",
        password: "",
        typeAuth: "mail",
      },
      waiting: false,
      message: "",
      error: false,
      steep: 1
    };
  },
  computed: {
    loggedIn() {
      return this.$store.state.auth.status.loggedIn;
    },
  },

  methods: {
    getCode(e) {
      e.preventDefault();
      let that = this;
      that.waiting = true;
      if (that.user.typeAuth == "mail") {
        service
          .getCodeByEmail(that.user)
          .then(function (response) {
            that.steep = 2;
            that.waiting = false;
            that.message = "";
          })
          .catch(function (error) {
            that.waiting = false;
            that.message =
              "word.form." +
              (error.response.data.code == 500
                ? "internal_error"
                : error.response.data.message);
          });
      } else {
        //by sms
      }
    },


  },
};
</script>
