<template>
  <div>
      <Modal name="login">
          <div slot="header" class="w-100">
              <div class="title text-center">
                <h3 class="title">{{ $t("modal.title_change_password") }}</h3>
              </div>
          </div>
          <div slot="body" class="login-form">
              <div class="content px-5 py-3">
                <div class="form-wrapper px-5 mb-5">
                  <div class="form-group">
                    <label>{{ $t("word.password") }}*</label>
                    <PasswordInput v-model="password" />  
                  </div>
                  <div class="form-group">
                    <label>{{ $t("word.confirm") }}*</label>
                    <PasswordInput v-model="password2" />
                  </div>

                  <div v-if="message" class="alert alert-danger" role="alert">
                    {{ $t(message) }}
                  </div>

                  <div class="text-center mt-2">
                    <DefaultButton
                      className="style1"
                      :onLoad="waiting"
                      :text="$t('word.validate')"
                      @click.native="handleChangePassword"
                    />
                  </div>
                </div>
              </div>
              <div class="custom-modal-footer footer-form-legende">
                <span>*{{ $t("modal.fielrequire") }}</span>
              </div>
            </div>
      </Modal>
      <Home />
  </div>
</template>
<script>
import Home from "@/view/home/Home.vue"
import UserService from  "@/services/auth/user.service.js"
import PasswordInput  from '@/components/common/PasswordInput.vue'

export default {
  name: "home",
  components: {
    Home, PasswordInput
  },
  data : function(){
    return {
      password  : '',
      password2 : '',
      
      waiting   : false
    }
  },
  methods : {
    handleChangePassword : function(){
        let that = this
        if(that.password !== that.password2){
          that.dispatchError(that.$t("word.form.password_notsame"))
          return false
        }

        that.waiting = true

        UserService.updatePassword(that.password).then(
          (response) => {
              if(response.data.success){
                let user = that.$store.state.user.profil
                if (user.roles.indexOf("ROLE_ORGANIZATION") != -1) {
                  document.location.href = "/user/organization/profil";
                } else if (user.roles[0] == "ROLE_STUDENT") {
                  document.location.href = "/user/student/profil";
                } else if (user.roles.indexOf("ROLE_ADMIN") != -1) {
                  document.location.href = "/";
                }
              }else{
                that.message = that.$t(response.data.error)
                that.waiting = false
              }
          }
        ).catch(
          (error) => {
            that.waiting = false
            that.message = that.$t(error.data.error)
          }
        )

    }
  },
  mounted : function(){
    let that = this
    this.$store.dispatch('user/updateInfos')
  }
};
</script>
