<template>
    <Home />
</template>
<script>
import Home from "@/view/home/Home.vue"

export default {
  name: "home",
  components: {
    Home,
  },
  mounted: function(){
    document.getElementById('connexion').click()
  }
};
</script>
