<template>
  <div class="login-form">
    <div class="content px-5 py-3 login-form-container">
      <div class="form-wrapper px-5">
        <div class="form-group">
          <label>{{ $t("word.email") }}*</label>
          <input type="email" class="form-control py-4" v-model="user.username" />
        </div>
        <div class="form-group">
          <label>{{ $t("word.password") }}*</label>
          <input type="password" class="form-control py-4" v-model="user.password" @keyup.enter="handleLogin" />
        </div>

        <div class="form-group">
          <md-switch value="1" v-model="user._remember_me">{{ $t("modal.remberme") }}</md-switch>
        </div>

        <div class="text-center">
          <DefaultButton
            className="style1"
            :onLoad="waiting"
            :text="$t('modal.label-bn-login')"
            @click.native="handleLogin"
          ></DefaultButton>
        </div>
      </div>
      <div class="text-center mt-4 footer-link">
        <p>
          <a  @click.prevent="openRecoverPass" id="reset-password--link">{{ $t("modal.passwordforget") }}</a>
        </p>
        <p>
          <span class="text-nomal">
            {{ $t("modal.askaccount") }}
            <a href="#" @click.prevent="openCreateCompte">
              {{ $t("page.footer.create-profil") }}
            </a>
          </span>
        </p>
      </div>
    </div>
    <div class="custom-modal-footer footer-form-legende">
      <span>*{{ $t("modal.fielrequire") }}</span>
    </div>
  </div>
</template>

<script>
import "./style.css";
export default {
  name: "loginForm",
  data: function () {
    return {
      user: {
        username: "",
        password: "",
        _remember_me: 0,
      },
      waiting: false,
    };
  },
  computed: {
    loggedIn() {
      return this.$store.state.auth.status.loggedIn;
    },
  },

  methods: {
    handleLogin() {
      this.waiting = true;
      let that = this;
      if (this.user.username && this.user.password) {
        this.$store
          .dispatch("user/login", this.user)
          .then((response) => {
            let user = response.user;
            if (user.roles.indexOf("ROLE_ORGANIZATION") != -1) {
              document.location.href = "/user/organization/profil";
            } else if (user.roles[0] == "ROLE_STUDENT") {
              document.location.href = "/user/student/dashboard";
            } else if (user.roles.indexOf("ROLE_ADMIN") != -1) {
              document.location.href = `/${that.local}/admin/index`;
            }
            that.$store.dispatch("user/updateInfos");
            //this.$router.push('/profile');
          })
          .catch((error) => {
            this.waiting = false;
            this.dispatchError(this.$t(
              "word.form." +
              (error.response.data.code == 500
                ? "internal_error"
                : (error.response.data.message !== undefined)
                  ? error.response.data.message : 
                  (error.response.data.error == 'Invalid credentials.') 
                  ? 'error_login' : 'internal_error'
              )
            ))

            
            if (error.response.data.message == "page_authentification") {
              document.location.href = "/authentification";
            }
          });
      }else{
        this.waiting = false;
        this.dispatchError(this.$t("word.form.field_incomplet"))
      }
    },
    openCreateCompte() {
       this.$emit('goTo', 'ChooseRegistre')
    },
    openRecoverPass: function(){
      this.$emit('goTo', 'ResetPasswordModal')
    }
  },
};
</script>
