.md-switch .md-switch-container {
    width: 40px;
    min-width: 40px;
    height: 20px;
    background-color: #D3D3D3 !important;
}
.md-switch .md-switch-thumb {
    width: 18px;
    height: 18px;
    margin-left: 2px;
}

.md-switch.md-checked .md-switch-thumb {
    transform: translate3d(17px,0,0);
}

.md-switch .md-switch-label {
    padding-left: 10px;
    margin-top: 3px;
    line-height: 20px;
}
.login-form label{
    font-family: 'NunitoSans-Regular' !important;
    color: #3C3850;
}

#instruction {
    border: 2px  #FF7869 double;
    padding: 20px;
    border-radius: 15px;
}


#instruction p {
    color:  #FF7869;
}

#instruction p .upper {
    text-transform: uppercase;
}

#form-confirm-account .btn-left button {

    width: 70% ;
    float: right;
    padding : 20px;
    color :  #FF7667;
    background-color: #FFD7D2 !important;
}

#form-confirm-account .btn-left button:hover {
    color :  #000;
}

#form-confirm-account .btn-right button {

    width: 70% ;
    float: left;
    padding : 20px;
    background-color: #FE7E6E !important;
}

#form-confirm-account #code_confirmation {
    text-align:center;
}

#auth .modal-wrapper {
    margin: auto;
    width: 50%;
    padding: 10px;
    display: block;
}
@media(max-width:768px){
    .login-form .login-form-container{
        padding: 0 !important;
        margin: 0 !important;
    }
   
    .login-form .content{
        margin: 0 5% !important;
    }
    .login-form button.btn-default{
        width: 100% !important;
        background: transparent linear-gradient(90deg , #FBA48F 0%, #FF7768 100%) 0% 0% no-repeat padding-box !important;
        box-shadow: 0px 5px 29px #ff796a73;
    }
    .login-form .form-wrapper {
        padding: 0!important;
    }
    .login-form .footer-link p {
        font-size: 14px;
    }
    .login-form .footer-form-legende {
        display: none;
    }
    #login.modal-mask .title {
        margin-top: 5vh !important;
        font-size: 22px !important;
    }
}
@media(max-width:425px){
    #form-confirm-account .activate-account-actions {
        flex-direction: column-reverse !important;
    }
    #form-confirm-account .btn-right button,
    #form-confirm-account .btn-left button {
        width: 100%  !important;
        float: unset !important;
        margin-bottom: 1rem;
    }
}
