<table style="margin: auto;">
  <tr>
    <td><div class="footer-left-item"  > {{ 'document.pdf.label.powered'|trans }} </div></td>
    <td><div class="footer-center-item"><img src="{{ grimpeursLogo() }}" height="25"></div></td>
    <td><div class="forter-right-item" > www.les-grimpeurs.com </div></td>
  </tr>
</table>