<div class="cadre">
	<div class="header-left">
		<p style="font-size: 12px; line-height: 20px;">
			<img src="{{ locationIcon }}" style="width: 9px; margin-right: 6px;">
			{{ student.adress|default('No location') }}
		</p>
		<p style="font-size: 12px; line-height: 20px;">
			<img src="{{ phoneIcon }}" style="width: 11px; margin-tight: 4px;">
			{{ student.phone|default('No Phone Number') }}
		</p>
		<p style="font-size: 12px; line-height: 20px;">
			<img src="{{ mailIcon }}" style="width: 11px; margin-right: 4px;">
			{{ student.email|default('No Email') }}
		</p>
	</div>

	<div class="header-center">
		<div class="user-avatar">
			<img src="{{ avatar }}" height="120">
		</div>
	</div>

	<div class="header-right">
		<p style="font-size: 12px; line-height: 20px;"><img src="{{ webIcon }}" style="width: 12px; margin-right: 3px;">les.grimpeurs.org</p>
		{% if student.socialNetwork %}
			<p style="font-size: 12px; line-height: 20px;"><img src="{{ twitterIcon }}" style="width: 12px; margin-right: 3px;">twitter.org</p>
			<p style="font-size: 12px; line-height: 20px;"><img src="{{ linkedinIcon }}" style="width: 10px; margin-right: 5px;">fr.linkedin.org</p>
		{% endif %}
	</div>

  <div class="user-name">
    {{ student.firstname ~ ' ' ~ student.lastname }}
  </div>
</div>
