<div class="item">
  <h3 class="item-title">{{ 'document.pdf.label.language'|trans }}</h3>
  {% for item in student.languages %}
        <div class="item-content">
            <b class="content-label">{{ item.language.name  }} : </b>
            <span class="content-value">{{ item.level.name  }}</span>
        </div>     
  {% endfor %}
 
</div>

<div class="item">
  <h3 class="item-title">{{ 'document.pdf.label.exam'|trans }}</h3>
    {% for item in student.exams %}  
        <div class="item-content">
            <b class="content-label">{{ item.name }}</b><br>
            <span class="content-value"> {{ 'document.pdf.label.date'|trans }}  : {{ item.emissionDate|date('M Y') }}<br/>
                {{ 'document.pdf.label.obtained_result'|trans }} : {{ item.result }}
            </span><br/>
        </div>
    {% endfor %}
</div>

<div class="item">
  <h3 class="item-title">{{ 'document.pdf.label.distinction'|trans }}</h3>
  {% for item in student.distinctions %}
    <div class="item-content">
        <b class="content-label">{{ item.title }}</b> <br/>
        <span class="content-value">Date : {{ item.emissionDate|date('Y')}}<br></span>
        <span class="content-value">Entité : {{ item.awardingEntity }} </span>
    </div>
  {% endfor %}
</div>

<div class="item">
  <h3 class="item-title">{{ 'document.pdf.label.publication'|trans }}</h3>
  {% for item in student.publications %}
    <div class="item-content">
        <b class="content-label">{{ item.title }} </b><br>
        <span class="content-value">{{ item.editor }} -  {{ item.publicationDate|date('Y')}}</span>
    </div>
  {%  endfor %}
</div>

<div class="item">
    <h3 class="item-title">{{ 'document.pdf.label.organisation'|trans }}</h3>
    {% for item in student.associations %}
        <div class="item-content">
            <b class="content-label">{{ item.organization.name }}</b><br>
            <span class="content-value">{{ item.responsability }}</span>
        </div>
    {% endfor %}
</div>

