<div class="experience padding-element">
	<div style="page-break-after: avoid;">
		<h4 class="item-title">
			{{ 'document.pdf.label.experiences'|trans }}
		</h4>
		{% for item in student.experiences %}
			{% if loop.index0 is not same as(0) %}
				<br>
			{% endif %}
			<div class="item-content">
				<div class="content-header">
					<table>
						<tr>
							<td><img style="margin-top: -2px"  src="{{ experienceIcon }}" class="header-img-icon"></td>
							<td>
								<h4 class="header-image-title">
									{{ item.title }}.
								</h4>
							</td>
						</tr>
					</table>
				</div>
				<div class="content-body">
					<span class="experience-title">{{ item.company }} - {{ item.place }}</span><br>
					<span class="experience-date">{{ item.startDate|date('M Y') }} -
					{{ item.endDate|date('M Y') }}</span>
					<div class="experience-detail">
						{{ item.description }}
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>

<div class="formation padding-element">
	<h4 class="item-title">
		{{ 'document.pdf.label.formations'|trans }}
	</h4>
	{% for item in student.formations %}
		{% if loop.index0 is not same as(0) %}
			<br>
		{% endif %}
		<div class="item-content">
			<div class="content-header">
				<table>
					<tr>
						<td><img style="margin-top: -2px"  src="{{ formationIcon }}" class="header-img-icon"></td>
						<td>
							<h4 class="header-image-title">
								{{ item.studyField.name }}
							</h4>
						</td>
					</tr>
				</table>
			</div>
			<div class="content-body">
				<p class="formation-place">{{ item.school.name }} /
					{{ item.yearStart }}
				</p>
				<p class="formation-desc">{{ item.description|raw|nl2br }}</p>
				<p>
					<b>{{ 'document.pdf.label.result'|trans }}:</b>
					<span>{{ item.obtainedResult }}</span>
				</p>
			</div>
		</div>
	{% endfor %}

</div>

<div class="item last">
	<h4 class="item-title">
		{{ 'document.pdf.label.activity'|trans }}
	</h4>
	{% for item in student.extraActivities %}
		<div class="item-content">
			<div class="content-header">
				<table>
					<tr>
						<td><img style="margin-top: -2px" src="{{ starIcon }}" class="header-img-icon"></td>
						<td>
							<h4 class="header-image-title">
								{{ item.organization.name }}
							</h4>
						</td>
					</tr>
				</table>
			</div>
			<div class="content-body">
				{{ item.startDate|date("M Y") }} - {{ item.endDate|date("M Y") }}<br/>
				<p class="formation-place">
					<span class="content-value">{{ item.place|default('No location') }} </span><br>
					<span class="content-value"> {{ item.description }} </span>
				</p>
			</div>
		</div>
	{% endfor %}
</div>