<html>
	<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap" rel="stylesheet">
		{% include "pdf/student/cv/style.css.twig" %}
	</head>

	<body>
		<header class="header">
			{% include "pdf/student/cv/_header.html.twig" %}
		</header>
		<footer class="footer">
			<center>
				{% include "pdf/student/cv/_footer.html.twig" %}
			</center>
		</footer>
		<div class="bande-left"></div>
		<main class="BlankResumePrint_table h_clearfix">
			<div class="BlankResumePrint_table_left">
				<div class="sj_block left">
					{% include "pdf/student/cv/_left.html.twig" %}
				</div>
			</div>
			<div class="BlankResumePrint_table_right">
				<div class="sj_block right">
					<div>
						{% include "pdf/student/cv/_right.html.twig" %}
					</div>
				</div>
			</div>
		</main>
	</body>
</html>
