<!DOCTYPE html>

<html>
    <style>

        @font-face {
            font-family: "NunitoSans-Regular";
            src: url("fonts/NunitoSans-Regular.ttf");
        }
        @font-face {
            font-family: "NunitoSans-SemiBold";
            src: url("fonts/NunitoSans-Bold.ttf");
        }
        @font-face {
            font-family: "NunitoSans-Bold";
            src:url("fonts/NunitoSans-Bold.ttf");
        }
        @font-face {
            font-family: "NunitoSans-ExtraBold";
            src:url("fonts/NunitoSans-ExtraBold.ttf");
        }

        @page {
            margin: 0px; 
            padding:0px; 
            font-family: "NunitoSans-Regular";
        }

        header.header {
            width: 100%;
            background: #1f4171;
            color: white;
            padding: 5px;
            height: 100px;
        }

        header.header div {
            /* display: inline-block; */
        }

        .header-title {
            width: 70%;
            text-align: center;
            text-transform: uppercase;
            position: absolute;
            right: 0;
            top: 25px;
        }

        .header-logo {
          position: absolute;
          background: white;
          height: 80px;
          padding: 15px 15px 5px 15px;
        }
        
        .header-logo img {
            width: 250px;
        }


        .header-title--text {
            margin: 0;
            font-family:"NunitoSans-ExtraBold";
        }

        .header-title--date {
            margin: 0;
            font-family:"NunitoSans-Bold";
        }
      
        section.content {
            padding: 1rem 3rem;
            font-family: "NunitoSans-Regular";
            overflow-wrap: break-word;
        }

         section.conten p{
            font-family: "NunitoSans-Regular";
        }

        .content-item.md{
          width: 49%;
          display: inline-block;
          vertical-align: top;
        }
        
        .content-item.lg{
          width: 98%;
          display: block;
        }
        
        .content-item--title {
            text-transform: uppercase;
            font-size: 12px;
            margin-top: 2rem;
        }

        .content-item--chart {
            margin: 15px;
            
        }
        
        .content-item--chart img {
            object-fit: contain;
            max-width: 30vw;
        }
    </style>
    <body>

      <header class="header">
          <div class="header-logo">
            <img src="{{ logo }}" />
          </div>
          <div class="header-title">
            <p class="header-title--text">Statistique generale de vos bourse </p>
            <p class="header-title--date">pour l'année {{ "now"|date("Y") }} </p>
          </div>
      </header>
      <section class="content">
        
        {% set previewSize = "lg" %}

        {% for serie in series %}
            <div class="content-item {{ serie.size|default('md') }}">
                <div class="content-item--title">
                    <p>{{ serie.title }}</p>
                </div>
                <div class="content-item--chart">
                    <img src="{{ serie.chart }}">
                </div>
            </div>

            {% if serie.size == "md" and previewSize == "md"  %}
                <br>
                {% set previewSize = "" %}
            {% else %}
                {% set previewSize = serie.size %}
            {% endif %}




        {% else %}
          
        {% endfor %}
      </section>    
    </body>
</html>
