<template>
  <div class="student-action-btn--container">
    <div class="btn-item">
      <a  v-if="loading.remove">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      </a>
      <a v-else  @click="confirmation.remove = true">
        <img :src="require('@/assets/img/icon-croix.svg').default">
      </a>
      <ConfirmAction 
        v-if="confirmation.remove" 
        :message="$t('student.search.confirme.remove')" 
        @validate="toggleStudentTag('remove', student)"
        @cancel="confirmation.remove = false"  
      />
    </div>
    
    <div class="btn-item">
      <a v-if="loading.favorite">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      </a>
      <a v-else-if="false == isFavorite(student.tag)"  v-on:click="toggleStudentTag('favorite', student)">
        <img :src="require('@/assets/img/Ajout-favoris.svg').default"  class="fovorite-btn-img"/>
      </a>
      <a v-else  @click="confirmation.favorite = true">
        <img :src="require('@/assets/img/Favoris-sholarship-o.svg').default" class="fovorite-btn-img"/>
      </a>
      <ConfirmAction 
        v-if="confirmation.favorite" 
        :message="$t('student.search.confirme.remove_favoris')" 
        @validate="toggleStudentTag('favorite', student)"
        @cancel="confirmation.favorite = false"  
      />
    </div>

    <div class="btn-item">
      <a><img :src="require('@/assets/img/share.svg').default"></a>
    </div>
    <!--<div class="btn-item">
        <a><img :src="require('@/assets/img/Valide.svg').default"></a>
    </div>
    <div class="btn-item">
        <a><img :src="require('@/assets/img/chat-speech-bubble.svg').default"></a>
    </div>-->
  </div>
</template>
<script>
  import axios from 'axios';
  import Api from "@/services/api/api.js";
  import ConfirmAction from "@/components/common/ConfirmAction.vue"
  export default {
    name  : 'ActionBtn',
    props : {
      student : {
        required : true
      }
    },
    components: {
      ConfirmAction
    },
    data  : function(){
      return {
          loading : {
            remove: false,
            favorite: false
          },
          confirmation:{
            remove: false,
            favorite: false
          }
      }
    },
    methods : {
      toggleStudentTag: function (tag, student) {
        let that = this;
        that.loading[tag] = true;
        let type = 1;
        if (student.tag.length > 0 && that.isFavorite(student.tag)) {
          type = 0;
        }
        axios.get(Api.student.tag+'tag/'+tag+'/'+student.id+'/type/'+type)
            .then(function (response) {
                that.$emit('reload-list');
                that.loading[tag] = false;
                that.confirmation[tag] = false;
            }).catch(function (error) {
            });
      },

      isFavorite: function (tag) {
        let idUser = this.$store.state.user.profil.id;
        if (!tag || tag.length <= 0) {
          return false;
        }

        var response = false;
        tag.forEach(function(item, index) {
          if (idUser == item.organization.id && null !== item.date_favorite) {

            response = true
          }
        });

        return response;
      }
    },
    mounted: function(){
      let that = this
    }
  }
</script>
<style scoped>
    .btn-item{
      padding-bottom: .25rem;
      padding-top: .25rem;
      text-align: center;
      position: relative;
    }
</style>