<template>
   <Modal name="chooseType">
          <div slot="header" class="w-100">
              <a class="custom-close-btn" href="#"   @click="$emit('goTo','None')"> X </a>
              <div class="title text-center">
                  <h3 class="title">{{$t('modal.title_create_account')}}</h3>
              </div>
          </div>

          <div  slot="body">
            <h3>{{$t('modal.message_6')}}</h3>
            
            <div id="choose_type_container">
              
              <div class="box-content" @click="$emit('goTo','StudentRegistration')">
                <img :src="ico_1" alt="" />
                <p>{{$t('page.home.title-course-student')}}</p>
              </div>
              
              <div class="box-content" @click="$emit('goTo','OrganizationRegistration')">
                <img :src="ico_3" alt="" />
                <p class="break-space">{{$t('word.organization')}}</p>
              </div>

            </div>

            <div id="chooseType-footer">
              <p class="text-center mt-2">
                {{$t('modal.message_7')}}
                <a href="#" @click.prevent="$emit('goTo', 'LoginModal')">{{$t('modal.message_8')}}</a>
              </p>
            </div>
          </div>
    </Modal>
</template>
<script>
  export default {
      name: 'ChooseRegistre',
      data : () => {
          return {
              linkedInCode     : false,
              showChooseTypeModal: true,
              "ico_1" : require("@/assets/img/default-student-avatar.svg").default,
              "ico_2" : require("@/assets/img/ico2.png").default,
              "ico_3" : require("@/assets/img/icon-organization.svg").default,
              "ico_4" : require("@/assets/img/ico4.png").default
          }
      }
  }
</script>
<style>
  #chooseType .modal-container {
    max-width: 40rem !important;
    border-radius: 20px !important;
    padding: 2rem !important;
    position: relative;
    background: #F7F7F9 0% 0% no-repeat padding-box !important;
  }
  #chooseType .custom-close-btn{
      color: white !important;
      font-weight: 200;
      position: absolute;
      right: -25px;
      top: -25px;
      background: #FF7667 0% 0% no-repeat padding-box;
      box-shadow: 0px 45px 12px #6464646b;
      z-index: 10;
      opacity: 1 !important;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: 'NunitoSans-Regular';
  }

  #chooseType .box-content:hover{
        background: #E6E6E7 0% 0% no-repeat padding-box;
  }

  #chooseType .break-space {
      word-spacing: 100vw;
  }

  @media (max-width:768px) {
    #chooseType .modal-container {
      max-width: 100vw !important;
      border-radius: unset !important;
      padding-top: 3rem !important;
    }
    #chooseType .custom-close-btn {
      right: 25px;
      top: 25px;
    }
  }
</style>