<template>
    <Modal name="login">
        <div slot="header" class="w-100">
        <a class="close" href="#" @click.prevent="$emit('goTo','None')"> X </a>
        <div class="title text-center">
            <h3 class="pt-2">{{$t('modal.title_create_account')}}</h3>
        </div>
        </div>
        <LoginForm slot="body" @goTo="goTo"/>
    </Modal>
</template>

<script>
import LoginForm from "@/view/login/LoginForm.vue"
export default {
    name : 'LoginModal',
    components: {
        LoginForm
    },
    methods:{
        goTo: function(name){
            this.$emit('goTo', name)
        }

    } 
}
</script>