<template>
    <Modal name="org-modal">
        <div slot="header" class="w-100">
            <a class="close" href="#"  @click.prevent="close"> X </a>
            <div class="title text-center"> 
                <h3 class="title pt-2">{{$t('modal.title_create_account')}}</h3>
            </div>
        </div>
        <OrganizationRegistration slot="body"   @login="login"/>
    </Modal>
</template>
<script>
    import OrganizationRegistration   from '@/view/organization/registration/OrganizationRegistration.vue'
    export default {
        name : 'OrganizationModal',
        components : {
            OrganizationRegistration
        },
        methods: {
            login: function(){
                this.$emit('goTo','LoginModal')
            },
            close: function(){
                this.$emit('goTo','None')
            }
        }
    }
</script>
<style>
    #org-modal .modal-container{
        max-width: 45rem !important;
    }
</style>