<template>
    <div v-if="show">
        <!---  Etape 1 -->
        <ChooseRegistre           v-if=" defaultSteep == 'ChooseRegistre'"           @goTo="goTo" />
        <StudentRegistrationModal v-if=" defaultSteep == 'StudentRegistration'"      @goTo="goTo" />
        <OrganizationModal        v-if=" defaultSteep == 'OrganizationRegistration'" @goTo="goTo" />
        <LoginModal               v-if=" defaultSteep == 'LoginModal'"               @goTo="goTo" />
        <ResetPasswordModal       v-if=" defaultSteep == 'ResetPasswordModal'"       @goTo="goTo" />
    </div>
</template>
<script>
    import ChooseRegistre           from './ChooseRegistre.vue'
    import StudentRegistrationModal from './StudentRegistrationModal.vue'
    import OrganizationModal        from './OrganizationModal.vue'
    import ResetPasswordModal       from './ResetPasswordModal.vue'
    import LoginModal               from './LoginModal.vue'

    export default {
        name  : "RegisterModal",
        
        props : {
            show: {
                default: true
            },
            defaultSteep:{
                default: 'ChooseRegistre'
            }
        },
        components: {
            StudentRegistrationModal, 
            ChooseRegistre, 
            OrganizationModal,
            LoginModal,
            ResetPasswordModal
        },
        
        data : function(){
            return {
                currentModal:'ChooseRegistre'
            }
        },

        methods : {
            goTo(steepName){
                this.$emit("goTo", steepName)
            }
        }
    }

</script>