<template>
  <Modal name="login">
      <div slot="header" class="w-100">
        <a class="close" @click.prevent="$emit('goTo','None')"> X </a>
        <div class="title text-center" v-if="!authentification">
          <h3 class="title" v-if="success">{{$t('modal.title_reset')}}</h3>
          <h3 class="title" v-else>{{ $t("modal.title_recovery_password") }}</h3>
        </div>
        <div v-else class="text-center">
          <h3 class="title" >{{ $t("modal.title_active") }}</h3>
        </div>
      </div>
      <div slot="body">
        <div v-if="!authentification">
            <div class="form-wrapper pb-5" v-if="!success">
                <div class="form-group m-3 px-5">
                  <label>{{ $t("word.email") }}*</label>
                  <input type="text" class="form-control" v-model="email" @keyup.enter="handleRecoverPassword"/>
                </div>
                <div class="text-center w-100 mt-4">
                    <DefaultButton
                      className="style1"
                      :onLoad="waiting"
                      :text="$t('word.validate')"
                      @click.native="handleRecoverPassword"
                    />
                </div>
                <div class="text-center mt-4 footer-link">
                  <p>
                    <a  @click.prevent="login">{{ $t("word.login") }}</a>
                  </p>
                  <p>
                    <span class="text-nomal">
                      {{ $t("modal.askaccount") }}
                      <a href="#" @click.prevent="openCreateCompte">
                        {{ $t("page.footer.create-profil") }}
                      </a>
                    </span>
                  </p>
                </div>
            </div>
            <div v-else class="mx-5 pb-5">
                  <div class="text-center">
                    <p>  {{ $t("modal.message_15") }} (<b>{{ email }}</b>) {{ $t("modal.message_16") }}  </p>
                  </div>
                  <div class="text-center pt-5"> 
                      <a href="/" >Revenir à la page d'accueil</a>
                  </div>
            </div>
          </div>
        <div v-else>
            <activateAccount :email ="email" context="change_password"></activateAccount>
        </div>
        </div>
    </Modal>
</template>

<script>
import UserService from  "@/services/auth/user.service.js"
import activateAccount from "@/components/common/ActivateAccount"
export default {
  name: "ResetPasswordModal",
  components: {
    activateAccount
  },
  data: function(){
    return {
      email   : null,
      waiting : false,
      success : false,
      authentification : false
    }
  },
  methods : {
    handleRecoverPassword(){
        let that = this 
        if(that.email.length){
          that.waiting = true
          UserService.recoverPassword(that.email).then(
            (response) => {
                if(response.data.success){
                  that.success = true
                  that.waiting = false
                }else{
                  that.dispatchError(that.$t("word."+response.data.error_code))
                  that.waiting = false
                  if(response.data.authentification) {
                    that.authentification = true
                  }
                }
            }
          ).catch(
            (error) => {
              that.waiting = false
            }
          )
        }
    },
    openCreateCompte() {
       this.$emit('goTo', 'ChooseRegistre')
    },
    login: function(){
      this.$emit('goTo', 'LoginModal')
    }
  }
};
</script>

<style>

</style>