<template>
    <Modal>
        <div slot="header" class="w-100">
            <a class="close" href="#"   @click.prevent="close"> X </a>
            <div class="title text-center"> 
                <h3 class="title pt-2"> {{$t('modal.title_create')}} </h3>
            </div>
        </div>
        <StudentRegistration slot="body" @login="login" />
    </Modal>
</template>
<script>
    import StudentRegistration   from '@/view/student/registration/StudentRegistration.vue'
    export default {
        name : "StudentRegistrationModal",
        components : {
            StudentRegistration
        },
        methods: {
            login: function(){
                this.$emit('goTo','LoginModal')
            },
            close: function(){
                this.$emit('goTo','None')
            }
        }
    }
</script>