<template>
    <default-layout class="faq-page">
        
        <div slot="content">
            <div  class="faq-container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="page-title">
                            <h3 class="page-title-text" :class="local">
                                {{ $t('page.faq.title') }}
                            </h3>
                            <div class="faq-search-input--wrapper">
                                <SearchInput :thematics="thematics"/>
                            </div>
                        </div>
                        <div class="thematic-filter-wrapper">
                            <ThematicFilter :thematics="thematics" @change="onChangeThematic"  />
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="question-list-wrapper" v-if="selectedThematic">
                            <div class="question-item-container" v-for="question, index in selectedThematic.questions" :key="'question-list-item-'+index">
                                <QuestionItem :question="question" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </default-layout>
</template>

<script>

import ThematicFilter from "./parts/ThematicFilter"
import QuestionItem from "./parts/QuestionItem"
import SearchInput from "./parts/SearchInput"

import FaqService from "@/services/common/FaqService.js"
export default {
    name: "Faq",
    
    components: {
      ThematicFilter,
      QuestionItem,
      SearchInput
    },

    data : function(){
        return {
            thematics        : false,
            selectedThematic : false
        }
    },

    methods: {
        updateThematicList: function(){
            FaqService.getThematicList().then(
                (response) => {
                    if(response.data.thematics){
                        this.thematics = response.data.thematics
                    }
                }
            )
        },
        onChangeThematic: function(thematic){
            this.selectedThematic = thematic
        }
    },

    mounted: function(){
        this.updateThematicList()
    }
}
</script>

<style scoped>
   .faq-container{
       padding: 2rem;
   }

   .page-title-text {
        font-family: 'NunitoSans-SemiBold';
        color: #3DC5B7;
    }
    .thematic-filter-wrapper{
        margin-top: 3rem ;
    }
    .question-item-container{
        margin-bottom: 2rem;
    }

    @media (max-width:1500px) {
        .page-title-text.en {
            font-size: 1.5rem;
        }
    }
    @media (max-width:1200px) {
        .page-title-text {
            font-size: 1.4rem;
        }
    }
    @media (max-width:768px) {
        .thematic-filter-wrapper {
            margin-bottom: 3rem;
        }
        .page-title{
            position: relative;
        }
        .faq-search-input--wrapper {
            position: absolute;
            top: -2rem;
            display: flex;
            align-items: end;
            width: 100%;
            display: flex;
            justify-content: flex-end;
        }
    }
</style>