<template>
  <Modal v-if="show" class="accept-application-modal">
    <div slot="header" class="w-100">
        <h4 class="accept-form--title">
            {{ pageTitle }}
        </h4>
        <a class="close" href="#" @click.prevent="closeModal"> 
            <img :src="closeIcon">
        </a>
    </div>

    <div slot="body">
        <div class="accept-form--group">
            <div class="form-group message-subject">
                <label class="fake-placeholder">Titre du message</label>
                <input type="text" class='form-control' v-model="message.subject">
            </div>
            <div class="form-group">            
                <textarea class="form-control message-text" v-model="message.content" > </textarea>
            </div>
            <div class="text-right mt-4 button-validator">
                <DefaultButton className="style4 py-3"  :onLoad="loading" :text="$t('word.send')" @click.native="acceptApplication"/>
            </div>
        </div>
    </div>
  </Modal>
</template>
<script>
import ApplicationService from "@/services/application/ApplicationService.js"
export default {
    name: 'AcceptModal',

    data: function(){
        return {
            pageTitle: '',
            message: {
                subject  : '',
                content : ''
            },
            loading     : false,
            closeIcon   : require('@/assets/img/icon-croix-white.svg').default
        }
    },

    props:{
        application: {
            require: true
        },
        show : {
        type: Boolean,
        default: false 
        }
    },

    methods : {

        /**
         * Dispatch close modal event
         * 
         * @return void
         */
        closeModal(){
            this.$emit('close')
        },

        /**
         * Prepare and generate the title and subject of acceptation message
         * 
         * @return void
         */
        generateContent: function(){
            let scholarship     = this.application.scholarship.name
            let student         = this.application.student.firstname + ' ' +this.application.student.lastname
            
            let subject          = {
                en : `${student} have just validated your application for the ${scholarship} scholarship` ,
                fr : `${student} viens de valider votre candidature à ${scholarship}` 
            }
            let title          = {
                en : `Personalize the message accompanying your acceptance of ${student} for the ${scholarship} scholarship` ,
                fr : `Personnalisez le message accompagnant votre acceptation de ${student} à la bourse ${scholarship}` 
            }
            
            this.pageTitle      = title[this.local]
            this.message.subject = subject[this.local]

        },

        /**
         * Handle and submit acceptation data
         * 
         * @return void
         */
        acceptApplication: function(){

            if(!this.message.subject.length || !this.message.content.length){
                this.dispatchError('Veillez remplir tous les champs')
                return 
            }
            let that = this 
            that.loading = true
            ApplicationService.updateApplicationStatus({
                application : this.application,
                status      : 3,
                ...this.message
            }).then(
                (response) => {
                    if(response.data.success){
                        that.$router.push({name: 'organization_candidat_list'})
                    }
                    that.loading = false
                }
            )
        }
    },
    mounted: function(){
        this.generateContent()
    }


}

</script>

<style scoped>
    .button-validator button {
        min-width: 10rem !important;
    }
     .accept-form--title {
        font-family: 'NunitoSans-SemiBold';
    }
    a.close {
        border-radius: 50% !important;
        width: 50px !important;
        height: 50px !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        background: #FF7667 0% 0% no-repeat padding-box;
        opacity: 1;
        position: absolute;
        right: 5px;
        top: 5px;
    }

    a.close:hover,
    a.close:focus
    {
        opacity: 1 !important;
    }

    .form-group.message-subject {
        position: relative;
    }

    .form-group.message-subject input {
        padding-top: 2.5rem;
        padding-left: 1rem;
        padding-bottom: 1.5rem;
    }
    .form-group.message-subject .fake-placeholder {
        position: absolute;
        margin: 8px 1rem;
        font-size: 14px;
        color: #80808099;
    }

    .message-text:focus,
    input:focus{
        box-shadow: unset !important;
    }
    .message-text{
        min-height: 8rem;
    }
</style>
<style>
    .accept-application-modal .modal-container {
        position: relative;
        padding: 2rem 3rem !important;
        border-radius: 10px !important;
    }
    .accept-application-modal.modal-mask {
        background-color: rgb(0 0 0 / 14%) !important;
    }
</style>