<template>
  <div class="template-fragment">
        <div class="fragment-aside">
            <button class="export-btn">Commentaire et evaluation</button>
            <nav class="vertical-nav">
                <ul>
                    <li v-for="item,index in sheets" :key="'sheets-nav-'+index">
                        <a href="#" @click.prevent="goToSheet(index)" :class="sheet.id == item.id ? 'active': ''">
                            <span class="link-number">{{ index + 1 }}</span>    
                            <span class="link-text"> {{ item._sheet.name }} </span>    
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div v-if="finished" class="fragment-content"> 
            <RecapSheet :application="application" @restart="restart" @print="print" />
        </div>
        <div class="fragment-content" v-else>
            <div class="content--actions">
                <button class="print-btn" @click="print">
                    <img :src="require('@/assets/img/icon-print.svg').default">
                </button>
            </div>
            <div class="horizontal-nav">
                <a class="horizontal-nav-prev-btn" @click="prevCaroussel">
                    <img :src="arrow" class="arrow arrow-left" />
                </a>
                <div class="horizontal-nav-content">
                    <a  href="#" 
                        class="horizontal-nav-item" 
                        :class="sheet.id == item.id ? 'active': ''" 
                        v-for="item,index in carousselData" 
                         @click.prevent="goToSheetItem(item)"
                        :key="'sheets-nav-'+index">
                        {{ item._sheet.name }}
                    </a>
                </div>
                <a class="horizontal-nav-next-btn" @click="nextCaroussel">
                    <img :src="arrow" class="arrow arrow-right" />    
                </a>
            </div>
            <div class="fragment-tab-content">
               <div class="comment-view-wrapper">
                   <CommentView :comments="sheet.application_commentaires" />
               </div>
               
               <div class="note-wiew-wrapper">
                   <NoteView :sheet="sheet" />
               </div>
                <div class="form-content">
                    <div class="form-content-data preview-sheet-form">
                        <fm-generate-form 
                            :data="sheet._sheet.content" 
                            :value="sheet.content"
                            ref="generateForm"
                            >
                        </fm-generate-form>
                        <div class="sheet-actions-wrapper">
                            <SheetActions :sheet="sheet" @formshow="onFormShowChange" @updated="onUpdated"/>
                        </div>
                    </div>
                    <div class="action-group" v-if="showSheetAction">
                        <DefaultButton className="outline2 mr-2"   :text="$t('word.prev')"   @click.native="prevsheet"/>
                        <DefaultButton className="style4 mr-2"     :text="$t('word.next')"   @click.native="nextsheet"/>
                    </div>
                </div>


            </div>
        </div> 

  </div>
</template>

<script>
    import SheetActions from "./SheetActions.vue"
    import CommentView  from  "@/components/application/CommentView.vue"
    import NoteView     from  "./NoteView.vue"
    import RecapSheet   from  "./RecapSheet.vue"
    export default {
        name:'ApplicationDetailTab',
        props: {
            application: {
                require: true
            }
        },
        components: {
            SheetActions,
            CommentView,
            NoteView,
            RecapSheet
        },
        data: function(){
            return {
                start           : 0,
                maxCaroussel    : 4,
                sheetIndex      : 0,
                showSheetAction : true,
                finished        : false,
                carousselData   : [],
                arrow           : require('@/assets/img/fleche-icon.svg').default
            }
        },
        computed: {
            sheets: function(){
                return this.application ? this.application.application_sheets : []
            },
            sheet: function(){
               return this.sheets[this.sheetIndex]
            }
        },
        methods: {
            nextCaroussel: function(){
                let lastIndex      = (this.carousselData.length - 1)
                let item           = this.carousselData[lastIndex]
                this.carousselData.splice(lastIndex, 1)
                this.carousselData = [item, ...this.carousselData]
            },
            prevCaroussel: function(){
               let item      = this.carousselData[0]
               this.carousselData.splice(0, 1)
               this.carousselData.push(item)        
            },

            nextsheet: function(){
                if(this.sheetIndex == (this.sheets.length - 1) ){
                    this.finished = true
                    return  
                }
                this.sheetIndex++
            },

            prevsheet(){
                 if(this.sheetIndex == 0 ){
                    return 
                }
                this.sheetIndex--
            },
            
            goToSheet: function(index){
                this.sheetIndex = index
                this.finished   = false
            },

            onFormShowChange: function(val){
                this.showSheetAction = val
            },
            onUpdated: function(){
                this.$emit('updated')
            },
            print: function(){
                this.$emit('print')
            },

            restart: function(){
                this.goToSheet(0)
            },
            
            getItemIndex: function(item){
                let array = this.sheets
                for (let index = 0; index < array.length; index++) {
                    const element = array[index];
                    if(element.id == item.id){
                        return index
                    }
                }
                return 0
            },
            goToSheetItem: function(item){
                let index = this.getItemIndex(item)
                this.goToSheet(index);
            }
        },
        mounted: function(){
            this.carousselData = [...this.sheets]
        }
    }
</script>

<style scoped>
    .template-fragment{
        display: flex;
        border-top: solid 1px #dee2e6;
    }

    .fragment-aside{
        width: 100%;
        padding-top: 1rem;
        border-right: solid 1px #d0ceda;
        margin-right: 2rem;
    }
    .fragment-content {
        min-width: 70%;
   }
   .arrow.arrow-left {
        transform: rotate(-180deg);
    }
    .export-btn {
        width: 80%;
        padding: .7rem 0rem;
        background: unset;
        color: #1F4171;
        border: solid 1px #2C5692;
        border-radius: 2rem;
        font-size: 13px;
        font-family: 'NunitoSans-Bold';
        margin: 1rem 10%;
    }

    .content--actions {
        text-align: right;
        margin-top: 1rem;
        margin-right: 2rem;
    }
    button.print-btn {
        border: solid 2px #d3d3d3;
        padding: .6rem;
        border-radius: 50%;
    }
    .print-btn img {
        filter: contrast(0.5);
    }

    .horizontal-nav {
        margin-top: 2rem;
        display: flex;
        position: relative;
    }
 
    .horizontal-nav-content {
        white-space: nowrap;
        max-width: 50vw;
        min-height: 2.5rem;
        overflow: hidden;
    }
    .horizontal-nav-item {
        padding: 1rem;
    }

    .horizontal-nav-next-btn {
        position: absolute;
        right: 0;
        padding: 1rem 2rem;
        top: -17px;
        background: white;
    }
    .horizontal-nav-prev-btn {
        margin-right: 2rem;
    }

    .horizontal-nav-item {
        color: #d0ceda !important;
        font-family: 'NunitoSans-SemiBold' !important;
        border-bottom: solid #dee2e6;
        padding-bottom: 10px !important;
    }
    a.horizontal-nav-item.active {
        color: #606266 !important;
        position: relative;
        border-bottom: solid #2C5692;
    }

    .horizontal-nav-prev-btn span,
    .horizontal-nav-next-btn span{
     color: #d3d3d3 !important;   
    }

    .vertical-nav li{
        padding: 1rem;
        border-bottom: solid 1px #d0ceda;
    }

    .vertical-nav li a {
        font-family: 'NunitoSans-SemiBold' !important;
        display: flex;
    }
    .vertical-nav li a .link-number {
        color: #d0ceda;
        min-width: 25px;
    }
    .vertical-nav li a .link-text{
        color: #3C3850;
    }
    .vertical-nav li a.active .link-text{
        color: #6196FF !important;
    }
    .fragment-tab-content {
        padding: 2rem;
    }
    .action-group{
        margin-top: 3rem;
    }

    @media (max-width:1200px){
        .vertical-nav li a  .link-text{
            max-width: 10rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        
    }
   
</style>
<style>
    .preview-sheet-form input,
    .preview-sheet-form textarea
    {
        border: unset !important;
    }
    .preview-sheet-form .el-form-item__label::before{
        content: unset !important;
    }
</style>