<template>
    <div class="template-fragment">
        <div class="section section-title">
            <h2>{{ $t('word.application') }} a {{ application.scholarship.name }} </h2>
        </div>
        <div class="section section-content">
            <div class='col-item item-description'>
                <div class="item-description-logo">
                    <img :src="studentAvatar">
                </div>
                <div class="item-description-student">
                    <p class="student-name">{{ application.student.firstname }} {{ application.student.lastname }}</p>
                    <p class="student-sexe">
                        <i v-if="'woman'    == application.student.sexe" class="fa fa-venus"></i>
                        <i v-else-if="'man' == application.student.sexe" class="fa fa-mars"></i>
                        <i v-else class="fa fa-transgender"></i>
                        <span class="student-age"> {{ getAge(application.student.date_of_birth) }} ans</span>
                    </p>
                </div>
            </div>
            <div class="col-item  item-organization">
                <div class="item-organization--adresse">
                    {{  scholarshipCountry}} , {{ scholarshipCity }}
                </div>
                <div class="item-organization--name">
                    {{ application.scholarship.related_organization.name}}
                </div>
            </div>
            <div class="col-item  item-actions" v-if="application.status == 2">
                <DefaultButton className="style4 mr-2" id="application-accept-btn" text="Accepter sa candidature" @click.native="showConfirmAccept" />
                <DefaultButton className="outline2"    id="application-reject-btn" text="Refuser" @click.native="showConfirmReject" />
            </div>
        </div>

        <AcceptModal :show="confirmAccept" :application="application" @close="closeConfirmAccept" />
        <RejectModal :show="confirmReject" :application="application" @close="closeConfirmReject" />

    </div>
</template>

<script>
import AcceptModal from "./AcceptModal.vue"
import RejectModal from "./RejectModal.vue"
export default {
    props: {
        application: {
            require: true
        }
    },

    components: {
        AcceptModal,
        RejectModal
    },
    
    data: function(){
         return {
            defaultAvatar : require('@/assets/img/image.svg').default,
            iconBtn       : require('@/assets/img/activity-icon.svg').default,
            confirmAccept : false,
            confirmReject : false
        }
    },
    computed: {
        scholarshipCity: function(){
            let addressePart = this.application.scholarship.contact_adresse.split(',')
            return addressePart[addressePart.length -2];
        },
        scholarshipCountry: function(){
            let addressePart        = this.application.scholarship.contact_adresse.split(',')
            return addressePart[addressePart.length -1];
        },
        studentAvatar: function(){
            let sAvatar = this.application.student.avatar
            return sAvatar ? '/uploads/avatar/'+sAvatar : this.defaultAvatar
        },
        applicationStatus: function(){
            let s = this.application.status ?? 1
            return this.$t('application.status.'+s)
        }
    },
    methods: {
        getAge: function (dateString){
            var today = new Date();
            var birthDate = new Date(dateString);
            var age = today.getFullYear() - birthDate.getFullYear();
            var m = today.getMonth() - birthDate.getMonth();
            if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate()))
            {
                age--;
            }
            return age;
        },
        showConfirmAccept: function(){
            this.confirmAccept = true
        },
        closeConfirmAccept: function(){
            this.confirmAccept = false
        },
        showConfirmReject: function(){
            this.confirmReject = true
        },
        closeConfirmReject: function(){
            this.confirmReject = false
        },
    }

}
</script>

<style scoped>
    .section.section-title h2 {
        color: #6196FF;
        font-family: 'NunitoSans-Bold';
        font-size: 1.5rem;
        text-transform: capitalize;
    }
    .section-content {
        display: flex;
        align-items: center;
        margin-top: 2rem;
        position: relative;
    }

    .item-description {
        width: fit-content;
        display: flex;
        align-items: center;
        margin-right: 5rem;
    }
    .item-description-logo {
        max-width: 5rem;
        margin-right: 1rem;
    }
    .item-description p {
        margin: 0;
    }

    .item-description-student{
        color: #3C3850;
    }

    .item-description-student .student-name {
        font-family: 'NunitoSans-ExtraBold' !important;
        font-size: 1.5rem;
        margin-bottom: 8px;
    }
    
    .item-description-student .student-sexe,
    .item-organization {
        font-size: 1.2rem;
        color: #3C3850;
    }

    .item-organization--adresse{
        margin-bottom: 8px;
    }
    .item-organization--name {
        font-family: 'NunitoSans-SemiBold';
    }

    .item-actions {
        position: absolute;
        right: 0;
    }

    @media (max-width:1500px) {
        .section.section-title h2{
            font-size: 1.3rem;
        }
        .section-content {
            margin-top: 1.5rem;
        }

        .item-description{
            margin-right: 2rem;
        }
        .student-name {
            max-width: 20rem;
            font-size: 1.2rem !important;
        }
        .item-description-student .student-sexe, 
        .item-organization{
            font-size: 1rem !important;
        }

         .col-item.item-actions button {
            font-size: 14px;
            padding: 0 2rem;
            min-height: 45px;
        }
        
    }
</style>
