<template>
  <div class="note-wiew-template" v-if="sheet.note">
      <div class="note-view">
            <div class="note-view--value" v-id="sheet.note"> {{ sheet.note}}</div>
            <div class="note-view--value percent" v-if="sheet.percent">{{sheet.percent}}%</div>
        </div>
  </div>
</template>

<script>
export default {
    name : 'NoteView',
    props: {
        sheet: {
            require: true
        }
    }
}
</script>

<style scoped>
     .note-wiew-template {
        position: relative;
    }

    .note-view {
        position: absolute;
        right: 0;
        z-index: 9;
        top: 4rem;
    }
    .note-view--value {
        font-family: 'NunitoSans-Bold';
        font-size: 2rem;
        width: 3rem;
        color: white;
        background: #1F4171;
        height: 3rem;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: .5rem ;
    }
    .note-view--value.percent {
        font-size: 1rem;
        background: #fcd7d2;
        color: #FF7667!important;
    }
</style>