<template>
    <div class="recapsheet-template">
        <div class="recapsheet-section-title">
            Félicitations ! Vous venez de passer en revue l'ensemble de la candidature
        </div>
        <div class="recapsheet-section-download">
            <button @click="downloadPdf">
                <img :src="iconDownload">
                <span>Télecharger la candidature en PDF</span>
            </button>
        </div>
        <div class="recapsheet-section-average">
            <div class="average-value" @click="updateLastNote">
                <span v-if="note">
                    {{ NoteAverage }}
                </span>
                <span v-else class="spinner-border text-secondary"></span>
            </div>
            <div class="avrage-description">
                <div class="average-desctiption-title">Voici la moyenne des notes attribuées </div>
                <div class="average-desctiption-content">Vous pouvez editer cette moyenne simplement en cliquant dessus</div>
                <div class="avarage-description-reeval" v-if="note.last_average && (note.last_average != note.average)">
                    <span>Note initiale </span>
                    <span class="init-note"> {{ note.last_average }} </span>
                    <span>, réévaluée à</span>
                    <span class="reevalue-note">
                        {{ NoteAverage }}
                    </span>
                    <span class="reevalue-note-date">
                        le  {{ formatDateRender(note.date, local, false) }}
                    </span>
                </div>
            </div>
        </div>
        <div class="recapsheet-section-next-steep" v-if="application.status == 2">
            <div class="next-steep-title">
                Prochaine etape :
                Valider le dossier comme admissible
            </div>
            <div class="avrage-description">
                <DefaultButton className="outline2 mr-2"   :text="$t('word.reject')"    @click.native="reject"/>
                <DefaultButton className="style4 mr-2"     :text="$t('word.validate')"   @click.native="accept"/>
            </div>
        </div>
        <div class="recapsheet-section-next-steep" v-else>
            <div class="next-steep-title text-center">
                Dossier déjà Validée comme admissible
            </div>
        </div>

    </div>
</template>

<script>
import ApplicationService    from "@/services/application/ApplicationService.js"
export default {
    name: 'RecapSheet',
    props: {
        application: {
            require: true
        }
    },
    data: function(){
        return {
            iconDownload: require('@/assets/img/icon_export_org.svg').default,
            note : false
        }
    },
    computed: {
       NoteAverage: function(){
           return ((!this.note) || (this.note && !this.note.average)) ? "00" : (this.note.average).toFixed(1)
       }
    },
    methods: {
        restart: function(){
            this.$emit('restart')
        },
        accept: function(){
            let btn = document.getElementById('application-accept-btn')
            btn.click()
        },
        reject: function(){
            let btn = document.getElementById('application-reject-btn')
            btn.click()
        },
        downloadPdf: function(){
            this.$emit('print')
        },
        getNote: function(){
            let that = this
            ApplicationService.getApplicationNote(this.application.id).then(
                (response) => {
                    that.note = response.data
                }
            )
        },
        updateLastNote: function(){
            let that     = this
            let oAverage = that.note
            that.note = false
            ApplicationService.updateApplicationLastAverage(that.application.id).then(
                (response)=> {
                    if(response.data.success){
                        that.restart()
                    }else{
                        that.note = oAverage
                    }

                }
            )



        }
    },
    mounted: function(){
        this.getNote()  
    }
}
</script>

<style scoped>
    .recapsheet-template {
        margin-bottom: 3rem;
    }
    .recapsheet-section-title {
        margin-top: 2rem;
        font-size: 2rem;
        font-family: 'NunitoSans-SemiBold';
        color: #606266;
        max-width: 50rem;
    }

    .recapsheet-section-download {
        margin-top: 2rem;
    }

    .recapsheet-section-download button {
        border: none;
        color: #ff7667;
        font-family: 'NunitoSans-SemiBold';
        font-size: 1.2rem;
        background: none;
    }

    .recapsheet-section-average {
        margin-top: 3rem;
        display: flex;
    }

    .average-value {
        display: flex;
        margin-right: 1rem;
        width: 7rem;
        height: 7rem;
        background: #1f4171;
        color: white;
        align-items: center;
        justify-content: center;
        font-size: 3rem;
        font-family: 'NunitoSans-Bold';
        border-radius: 2rem;
        cursor: pointer;
    }

    .average-desctiption-title {
        font-size: 1.6rem;
        font-family: 'NunitoSans-SemiBold';
        color: #606266;
    }

    .average-desctiption-content {
        font-size: 1.2rem;
        color: #606266;
        max-width: 20rem;
    }

    .recapsheet-section-next-steep {
        margin-top: 3rem;
        padding-top: 3rem;
        border-top: solid 1px #e4e7ed;
    }

    .next-steep-title {
        font-size: 2rem;
        font-family: 'NunitoSans-SemiBold';
        color: #606266;
        margin-bottom: 2rem;
    }
</style>