<template>
    <div class="sheet-actions-template">
        <div class="comment-form-group" v-if="noteForm">
            <div class="comment-form">
                <div class="comment-form-header">
                    <label class="header-label">Evaluation de cette rubrique</label>
                    <div class="comment-header-actions">
                        <label>
                            <span>Pourcentage:</span>
                            <span>
                                <select v-model="notePercent">
                                    <option v-for="point in 10" :key="'pourcent-point-'+point" :value="point * 10">
                                        {{ point * 10 }}%
                                    </option>
                                </select>
                            </span>
                        </label>
                        <a href="#" class="close-btn" @click.prevent="closeNoteForm">X</a>
                    </div>
                </div>
                <div class="note-form-container">
                    <div class="eval-point-list">
                        <button class="eval-point-list-item" v-for="point in 10" :key="'eval-point-'+point" :class="selectedPoint == point ? 'active' :''" @click="selectPoint(point)" >
                            <span>{{ point }}</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="form-group mt-5">
                <DefaultButton className="outline2 mr-2"   :text="$t('word.cancel')"   @click.native="closeNoteForm"/>
                <DefaultButton className="style4 mr-2"     :text="$t('word.save')"     :onLoad="loading"  @click.native="saveNote"/>
            </div>
        </div>
        
        <div class="comment-form-group" v-if="commentForm">
            <div class="comment-form">
                <div class="comment-form-header">
                    <label class="header-label">Bloc commentaire</label>
                    <div class="comment-header-actions">
                        <label>
                            <input type="checkbox" class="mr-2" v-model="comment.constructive"> Critique constructive
                        </label>
                        <a href="#" class="close-btn" @click.prevent="closeCommentForm">X</a>
                    </div>
                </div>
                <textarea class="comment-form-input" v-model="comment.content"></textarea>
            </div>
            <div class="form-group mt-5">
                <DefaultButton className="outline2 mr-2" :text="$t('word.cancel')" @click.native="closeCommentForm"/>
                <DefaultButton className="style4 mr-2"   :text="$t('word.save')"   :onLoad="loading"  @click.native="saveComment"/>
            </div>
        </div>

        <div class="sheet-action-group" v-if="showBtnGroup">
            <button @click="openNoteForm">Attribuer une note</button>
            <button @click="openCommentForm">Ajouter un commentaire</button>
        </div>
    </div>
</template>

<script>
    import ApplicationService    from "@/services/application/ApplicationService.js"
    export default {
        name: "SheetActions",
        props: {
            sheet: {
                require: true
            }
        },
        data: function(){
            return {
                loading          : false,
                commentForm      : false,
                comment          : {
                    content      : "",
                    constructive : false  
                },
                noteForm         : false,
                notePercent      : 10,
                selectedPoint    : 0
            }
        },
        computed: {
            showBtnGroup: function(){
                return (!this.commentForm) && (!this.noteForm)
            }
        },
        methods: {
            closeCommentForm: function(){
                this.commentForm = false
            },
            openCommentForm: function(){
                this.commentForm = true
            },
            closeNoteForm: function(){
                this.noteForm = false
            },
            openNoteForm: function(){
                this.noteForm = true
            },
            selectPoint: function(val){
                this.selectedPoint = val
            },

            saveComment: function(){
                let that = this

                if(!that.comment.content.length){
                    that.dispatchError('fill the form field')
                    return
                }

                that.loading = true
                ApplicationService.addSheetComment({
                    sheet   : this.sheet.id,
                    ...that.comment
                }).then(
                    (response) => {
                        if(response.data.success){
                            that.commentForm = false
                            that.loading     = false
                            that.$emit('updated')
                        }
                    }
                )
                

            },

            saveNote: function(){
                let that = this
                if(!that.notePercent || !that.selectedPoint){
                    that.dispatchError('fill the form field')
                    return
                }

                that.loading = true
                ApplicationService.addSheetNote({
                    sheet   : this.sheet.id,
                    note    : that.selectedPoint,
                    percent : that.notePercent
                }).then(
                    (response) => {
                        if(response.data.success){
                            that.noteForm = false
                            that.loading  = false
                            that.$emit('updated')
                        }
                    }
                )

            }
        },
        watch: {
            showBtnGroup: function(val){
                this.$emit('formshow', val)
            }
        }
    }
</script>

<style scoped>
    .sheet-action-group {
        text-align: right;
        margin-top: 2rem;
    }

    .sheet-action-group button {
        padding: 10px 1rem;
        border: solid 1px #FF7667;
        border-radius: 4rem;
        color: #FF7667;
        background: none;
    }
    .comment-form {
        position: relative;
        border: solid 1px #d0ceda;
        border-radius: 10px;
        padding: 1rem;
    }

    .comment-form-header {
        display: flex;
        justify-content: space-between;
    }
    .header-label {
        color: #6196FF;
        font-family: 'NunitoSans-Bold';
        font-size: 1.4rem;
    }

    textarea.comment-form-input {
        width: 100%;
        min-height: 5rem;
    }
    .close-btn {
        color: #d3d3d3 !important;
        border: solid 2px #d3d3d3;
        max-height: 10px;
        padding: 0 6px;
        border-radius: 2px;
        margin-left: 3rem;
    }

    .note-form-container {
        margin-top: 2rem;
        width: 100%;
    }

    .eval-point-list {
        margin: auto;
    }

    .eval-point-list {
        display: flex;
        justify-content: center;
    }

    button.eval-point-list-item {
        margin: 0 .5rem;
        border: solid 2px #e4e7ed;
        padding: .6rem;
        border-radius: 50%;
        font-family: 'NunitoSans-Bold';
        color: #1F4171;
        background: white;
        width: 45px;
        height: 45px;
    }



    button.eval-point-list-item:hover,
    button.eval-point-list-item:focus,
    button.eval-point-list-item.active
     {
        background: #1F4171;
        color: white;
    }

    button.eval-point-list-item:nth-last-child(1),
    button.eval-point-list-item:nth-last-child(2)
    {
        border: solid 2px #1F4171;
    }
</style>