<template>
    <div class="scholarship-name-input--wrapper">
        <h4 class="label">{{ $t('scholarship.form.steep1_info1') }}</h4>
        <div class="scholarship-name-input--container">
            <input 
                class="scholarship-name-input" 
                v-model="scholarship.name"
                @keyup.enter="validateScholarshipName"
                />
            <div class="error-container text-left mt-3" v-if="message">
                 <p class="label label-error">
                    {{ message }}
                 </p>   
            </div>
        </div>
        <DefaultButton className="style4" :text="$t('word.next')" :onLoad="false" @click.native="validateScholarshipName" />
        
    </div>
</template>
<script src="./ScholarshipName.js" />
<style scoped>
    .scholarship-name-input--container {
        max-width: 50rem;
        margin: auto;
        padding: 4rem 0 2rem 0;
    }
    .scholarship-name-input--wrapper{
        text-align: center;
        margin-top: 3rem ;
    }
    @media (max-width:768px) {
        .scholarship-name-input--container {
            padding: 2rem 0 2rem 0;
        }
    }
    @media (max-width:500px) {
        .label{
            font-size: 18px !important;
        }
    }
</style>
