<template>
    <default-layout class="concept-page">
        
        <div slot="content">
            <div  class="concept-container" v-if="concept">
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <BasicInfos :concept="concept" />
                    </div>
                    <div class="col-12 col-sm-6">
                        <CoverCard :concept="concept" />
                    </div>
                </div>

                <div class="value-wrapper">
                    <OurValue :concept="concept" />
                </div>
            </div>
        </div>
    </default-layout>
</template>

<script>
import CoverCard   from "./parts/CoverCard.vue"
import BasicInfos  from "./parts/BasicInfos.vue"
import OurValue    from "./parts/OurValue.vue"
import PageService from '@/services/page/PageService.js'

export default {
    name: "Concept",
    components: {
        CoverCard,
        BasicInfos,
        OurValue
    },
    data: function(){
        return {
            concept: false
        }
    },
    methods: {
        getConcept: function(){
            PageService.getConcept({lang: this.local}).then(
                 (response) => {
                    if(response.data.concepts){
                        this.concept = response.data.concepts[0]
                    }
                }
            )
        }
    },
    mounted: function(){
        this.getConcept()
    }
}
</script>

<style scoped>
    .concept-container{
        padding: 2rem;
        z-index: 2;
    }
    .value-wrapper {
        margin-top: 3rem;
    }
    .concept-page::before{
        content: "";
        z-index: 1;
        position: absolute;
        right: -12vw;
        top: -15vh;
        width: 55vw;
        height: 66vh;
        transform: matrix(0.87, 0.48, -0.48, 0.87, 0, 0);
        background: transparent linear-gradient(91deg, #F68F86 0%, #FEE6E6 19%, #E6FFEE 51%, #3DC5B7 100%) 0% 0% no-repeat padding-box;
        opacity: 0.4;
        border-radius: 0% 0 10% 25%;
    }

    
    @media(max-width:1500px){
        .concept-page::before{
            right: -14vw;
        }
    }

    @media(max-width:1300px){
        .concept-page::before{
            right: -16vw;
        }
    }
    @media(max-width:1200px){
        .concept-page::before{
            right: -18vw;
        }
    }
    @media(max-width:1024px){
        .concept-page::before{
             right: -20vw;
        }
    }
    @media(max-width:991px){
        .concept-page::before{
            display: none;
        }
    }


</style>