<template>
    <el-form-item :label="widget.name.length ? widget.name : false" :prop="widget.model" v-if="widget.type != 'title'">
      <!--
      <template v-if="widget.type == 'title'">
        <h2 class="d-none">{{dataModel}}</h2>
      </template>
      Dont apear the form steep title
      -->
      <template v-if="widget.type == 'input' || widget.type == 'email' || widget.type == 'firstname' || widget.type == 'lastname'" >
        <el-input
          v-if="widget.options.dataType == 'number' || widget.options.dataType == 'integer' || widget.options.dataType == 'float'"
          type="number"
          v-model.number="dataModel"
          :placeholder="widget.options.placeholder"
          :style="{width: widget.options.width}"
          :disabled="widget.options.disabled"
        ></el-input>
        <el-input 
          v-else
          :type="widget.options.dataType"
          v-model="dataModel"
          :disabled="widget.options.disabled"
          :placeholder="widget.options.placeholder"
          :style="{width: widget.options.width}"
          :id="widget.options.id"
        ></el-input>
      </template>

      <template v-if="widget.type == 'phone'" >
        <div class="el-input--phone" :style="{width: widget.options.width}">
            <phone-input 
              v-model="dataModel"
              :disabled="widget.options.disabled"
              :placeholder="widget.options.placeholder"
            />
        </div>
      </template>

      <template v-if="widget.type == 'adress'" >
        <div class="el-input-adress" :style="{width: widget.options.width}">
            <adresse-input 
              v-model="dataModel"
              :disabled="widget.options.disabled"
              :placeholder="widget.options.placeholder"
            />
        </div>
      </template>


      <template v-if="widget.type == 'textarea'">
        <el-input type="textarea" :rows="5"
          v-model="dataModel"
          :disabled="widget.options.disabled"
          :placeholder="widget.options.placeholder"
          :style="{width: widget.options.width}"
        ></el-input>
      </template>

      <template v-if="widget.type == 'number'">
        <el-input-number 
          v-model="dataModel" 
          :style="{width: widget.options.width}"
          :step="widget.options.step"
          controls-position="right"
          :disabled="widget.options.disabled"
          :min="widget.options.min"
          :max="widget.options.max"
        ></el-input-number>
      </template>

      <template v-if="widget.type == 'radio'">
        <el-radio-group v-model="dataModel"
          :style="{width: widget.options.width}"
          :disabled="widget.options.disabled"
        >
          <el-radio
            :style="{display: widget.options.inline ? 'inline-block' : 'block'}"
            :label="item.value" v-for="(item, index) in (widget.options.remote ? widget.options.remoteOptions : widget.options.options)" :key="index"
          >
            <template v-if="widget.options.remote">{{item.label}}</template>
            <template v-else>{{widget.options.showLabel ? item.label : item.value}}</template>
          </el-radio>
        </el-radio-group>
      </template>

      <template v-if="widget.type == 'checkbox'">
        <el-checkbox-group v-model="dataModel"
          :style="{width: widget.options.width}"
          :disabled="widget.options.disabled"
        >
          <el-checkbox
            :style="{display: widget.options.inline ? 'inline-block' : 'block'}"
            :label="item.value" v-for="(item, index) in (widget.options.remote ? widget.options.remoteOptions : widget.options.options)" :key="index"
          >
            <template v-if="widget.options.remote">{{item.label}}</template>
            <template v-else>{{widget.options.showLabel ? item.label : item.value}}</template>
          </el-checkbox>
        </el-checkbox-group>
      </template>

      <template v-if="widget.type == 'time'">
        <el-time-picker 
          v-model="dataModel"
          :is-range="widget.options.isRange"
          :placeholder="widget.options.placeholder"
          :start-placeholder="widget.options.startPlaceholder"
          :end-placeholder="widget.options.endPlaceholder"
          :readonly="widget.options.readonly"
          :disabled="widget.options.disabled"
          :editable="widget.options.editable"
          :clearable="widget.options.clearable"
          :arrowControl="widget.options.arrowControl"
          :value-format="widget.options.format"
          :style="{width: widget.options.width}"
        >
        </el-time-picker>
      </template>

      <template v-if="widget.type=='date' || widget.type=='date_of_birth'">
        <el-date-picker
          v-model="dataModel"
          :type="widget.options.type"
          :placeholder="widget.options.placeholder"
          :start-placeholder="widget.options.startPlaceholder"
          :end-placeholder="widget.options.endPlaceholder"
          :readonly="widget.options.readonly"
          :disabled="widget.options.disabled"
          :editable="widget.options.editable"
          :clearable="widget.options.clearable"
          :value-format="widget.options.timestamp ? 'timestamp' : widget.options.format"
          :format="widget.options.format"
          :style="{width: widget.options.width}"
        >
        </el-date-picker>
      </template>

      <template v-if="widget.type =='rate'">
        <el-rate v-model="dataModel"
          :max="widget.options.max"
          :disabled="widget.options.disabled"
          :allow-half="widget.options.allowHalf"
        ></el-rate>
      </template>

      <template v-if="widget.type == 'color'">
        <el-color-picker 
          v-model="dataModel"
          :disabled="widget.options.disabled"
          :show-alpha="widget.options.showAlpha"
        ></el-color-picker>
      </template>

      <template v-if="widget.type == 'select'">
        <el-select
          v-model="dataModel"
          :disabled="widget.options.disabled"
          :multiple="widget.options.multiple"
          :clearable="widget.options.clearable"
          :placeholder="widget.options.placeholder"
          :style="{width: widget.options.width}"
          :filterable="widget.options.filterable"
        >
          <el-option v-for="item in (widget.options.remote ? widget.options.remoteOptions : widget.options.options)" :key="item.value" :value="item.value" :label="widget.options.showLabel || widget.options.remote?item.label:item.value"></el-option>
        </el-select>
      </template>

      <template v-if="widget.type == 'country'">
          <div class="el-country-select" :style="{width: widget.options.width}">
            <country-select 
                v-model="dataModel"
                :disabled="widget.options.disabled"
                :multiple="widget.options.multiple"
                :all="widget.options.all"
                :clearable="widget.options.clearable"
                :placeholder="widget.options.placeholder"
                :filterable="widget.options.filterable"
            /> 
          </div>
      </template>

      <template v-if="widget.type == 'language'">
          <div class="el-language-select" :style="{width: widget.options.width}">
            <langue-select
                v-model="dataModel"
                :disabled="widget.options.disabled"
                :multiple="widget.options.multiple"
                :clearable="widget.options.clearable"
                :placeholder="widget.options.placeholder"
            /> 
          </div>
      </template>

      <template v-if="widget.type=='switch'">
        <el-switch
          v-model="dataModel"
          :disabled="widget.options.disabled"
        >
        </el-switch>
      </template>

      <template v-if="widget.type=='slider'">
        <el-slider 
          v-model="dataModel"
          :min="widget.options.min"
          :max="widget.options.max"
          :disabled="widget.options.disabled"
          :step="widget.options.step"
          :show-input="widget.options.showInput"
          :range="widget.options.range"
          :style="{width: widget.options.width}"
        ></el-slider>
      </template>

      <template v-if="widget.type=='imgupload'|| widget.type=='fileupload'">
        <fm-upload
          v-model="dataModel"
          :accept=" widget.type=='imgupload' ? 'image/*' : '*'"
          :disabled="widget.options.disabled"
          :style="{'width': widget.options.width}"
          :width="widget.options.size.width"
          :height="widget.options.size.height"
          :token="widget.options.token"
          :domain="widget.options.domain"
          :multiple="widget.options.multiple"
          :length="widget.options.length"
          :is-qiniu="widget.options.isQiniu"
          :is-delete="widget.options.isDelete"
          :min="widget.options.min"
          :is-edit="widget.options.isEdit"
          :action="widget.options.action"
        >
        </fm-upload>
      </template>

      <template v-if="widget.type == 'editor'">
        <vue-editor
          v-model="dataModel"
          :style="{width: widget.options.width}"
        >
        </vue-editor>
      </template>

      <template v-if="widget.type == 'cascader'">
        <el-cascader
          v-model="dataModel"
          :disabled="widget.options.disabled"
          :clearable="widget.options.clearable"
          :placeholder="widget.options.placeholder"
          :style="{width: widget.options.width}"
          :options="widget.options.remoteOptions"
        >

        </el-cascader>
      </template>

      <template v-if="widget.type == 'text'">
        <span>{{dataModel}}</span>
      </template>

      <template v-if="widget.type=='recommendationAcademic' || widget.type=='recommendationProfessional'">
         <rec-generate-form-item :widget="widget" :dataModel="dataModel" @change="onDataModelChange" />
      </template>

      <template v-if="widget.type=='qualification'">
         <qual-generate-form-item :widget="widget" :dataModel="dataModel" @change="onDataModelChange" />
      </template>

      <template v-if="widget.type=='experiences'">
         <experience-form-item :widget="widget" :dataModel="dataModel" @change="onDataModelChange" />
      </template>

      <template v-if="widget.type=='languageLevel'">
         <language-level-item :widget="widget" :dataModel="dataModel" @change="onDataModelChange" />
      </template>

      <template v-if="widget.type=='interests'">
         <interests-area-item :widget="widget" :dataModel="dataModel" @change="onDataModelChange" />
      </template>
      <template v-if="widget.type=='sexe'">
         <gender-item :widget="widget" :dataModel="dataModel" @change="onDataModelChange" />
      </template>
    </el-form-item>
</template>

<script>
import FmUpload             from './Upload'
import { VueEditor }        from "vue2-editor"
import AdresseInput         from "@/components/common/AdresseInput.vue" 
import PhoneInput           from '@/components/common/PhoneInput.vue'
import CountrySelect        from '@/components/common/CountrySelect.vue'
import LangueSelect         from '@/components/LangueSelect/LangueSelect.vue'
import RecGenerateFormItem  from "./custom/recommendation/GenerateFormItem.vue"
import QualGenerateFormItem from "./custom/qualification/GenerateFormItem.vue"
import ExperienceFormItem   from "./custom/experience/GenerateFormItem.vue"
import LanguageLevelItem    from "./custom/languageLevel/GenerateFormItem.vue"
import InterestsAreaItem    from "./custom/interests/GenerateFormItem.vue"
import GenderItem           from "./custom/sexe/GenerateFormItem"

export default {
  props: ['widget', 'models', 'rules', 'remote'],
  components: {
    FmUpload,
    VueEditor,
    AdresseInput,
    PhoneInput,
    CountrySelect,
    LangueSelect,
    RecGenerateFormItem,
    QualGenerateFormItem,
    ExperienceFormItem,
    LanguageLevelItem,
    InterestsAreaItem,
    GenderItem
  },
  data () {
    return {
      dataModel: this.models[this.widget.model]
    }
  },
  created () {
    if (this.widget.options.remote && this.remote[this.widget.options.remoteFunc]) {
      this.remote[this.widget.options.remoteFunc]((data) => {
        this.widget.options.remoteOptions = data.map(item => {
          return {
            value: item[this.widget.options.props.value],
            label: item[this.widget.options.props.label],
            children: item[this.widget.options.props.children]
          }
        })
      })
    }

    if (this.widget.type === 'imgupload' && this.widget.options.isQiniu) {
      this.remote[this.widget.options.tokenFunc]((data) => {
        this.widget.options.token = data
      })
    }
  },
  methods: {
    onDataModelChange: function(value){
      this.dataModel = value
    }
  },
  watch: {
    dataModel: {
      deep: true,
      handler (val) {
        this.models[this.widget.model] = val
        this.$emit('update:models', {
          ...this.models,
          [this.widget.model]: val
        })
        this.$emit('input-change', val, this.widget.model)
      }
    },
    models: {
      deep: true,
      handler (val) {
        this.dataModel = val[this.widget.model]
      }
    }
  }
}
</script>
