<template>
  <el-form-item class="widget-view " 
      v-if="element && element.key" 
      :class="{active: selectWidget.key == element.key, 'is_req': element.options.required}"
      :label="element.name"
      @click.native.stop="handleSelectWidget(index)"
    >
        <template v-if="element.type == 'title'">
          <input class="fm-sheet-title" type="text"  v-model="element.options.defaultValue">
        </template>

        <template v-if="element.type == 'input' || element.type == 'email' || element.type == 'firstname' || element.type == 'lastname'">
          <input type="text" class="fm-label-editable" v-model="element.name">
          <el-input 
            v-model="element.options.defaultValue"
            :style="{width: element.options.width}"
            :placeholder="element.options.placeholder"
            :disabled="element.options.disabled"
            :id="element.options.id"
          ></el-input>
        </template>

        <template v-if="element.type == 'phone'">
          <input type="text" class="fm-label-editable" v-model="element.name">
          <div class="el-input--phone" :style="{width: element.options.width}">
            <phone-input  
              v-model="element.options.defaultValue"
              :placeholder="element.options.placeholder"
              :disabled="element.options.disabled" />
          </div>
        </template>

        <template v-if="element.type == 'adress'">
          <input type="text" class="fm-label-editable" v-model="element.name">
          <div class="el-input-adress">
            <adresse-input 
              v-model="element.options.defaultValue"
              :style="{width: element.options.width}"
              :placeholder="element.options.placeholder"
              :disabled="element.options.disabled"
            />
          </div>
        </template>

        <template v-if="element.type == 'textarea'">
          <input type="text" class="fm-label-editable" v-model="element.name">
          <el-input type="textarea" :rows="5"
            v-model="element.options.defaultValue"
            :style="{width: element.options.width}"
            :disabled="element.options.disabled"
            :placeholder="element.options.placeholder"
          ></el-input>
        </template>

        <template v-if="element.type == 'number'">
          <input type="text" class="fm-label-editable" v-model="element.name">
          <el-input-number 
            v-model="element.options.defaultValue" 
            :disabled="element.options.disabled"
            :controls-position="element.options.controlsPosition"
            :style="{width: element.options.width}"
          ></el-input-number>
        </template>

        <template v-if="element.type == 'radio'">
          <input type="text" class="fm-label-editable" v-model="element.name">
          <el-radio-group v-model="element.options.defaultValue"
            :style="{width: element.options.width}"
            :disabled="element.options.disabled"
          >
            <el-radio  
              :style="{display: element.options.inline ? 'inline-block' : 'block'}"
              :label="item.value" v-for="(item, index) in element.options.options" :key="item.value + index"
              
            >
              {{element.options.showLabel ? item.label : item.value}}
            </el-radio>
          </el-radio-group>
        </template>

        <template v-if="element.type == 'checkbox'">
          <input type="text" class="fm-label-editable" v-model="element.name">
          <el-checkbox-group v-model="element.options.defaultValue"
            :style="{width: element.options.width}"
            :disabled="element.options.disabled"
          >
            <el-checkbox
              :style="{display: element.options.inline ? 'inline-block' : 'block'}"
              :label="item.value" v-for="(item, index) in element.options.options" :key="item.value + index"
            >
              {{element.options.showLabel ? item.label : item.value}}
            </el-checkbox>
          </el-checkbox-group>
        </template>

        <template v-if="element.type == 'time'">
          <input type="text" class="fm-label-editable" v-model="element.name">
          <el-time-picker 
            v-model="element.options.defaultValue"
            :is-range="element.options.isRange"
            :placeholder="element.options.placeholder"
            :start-placeholder="element.options.startPlaceholder"
            :end-placeholder="element.options.endPlaceholder"
            :readonly="element.options.readonly"
            :disabled="element.options.disabled"
            :editable="element.options.editable"
            :clearable="element.options.clearable"
            :arrowControl="element.options.arrowControl"
            :style="{width: element.options.width}"
          >
          </el-time-picker>
        </template>

        <template v-if="element.type == 'date' || element.type == 'date_of_birth'">
          <input type="text" class="fm-label-editable" v-model="element.name">
          <el-date-picker
            v-model="element.options.defaultValue"
            :type="element.options.type"
            :is-range="element.options.isRange"
            :placeholder="element.options.placeholder"
            :start-placeholder="element.options.startPlaceholder"
            :end-placeholder="element.options.endPlaceholder"
            :readonly="element.options.readonly"
            :disabled="element.options.disabled"
            :editable="element.options.editable"
            :clearable="element.options.clearable"
            :style="{width: element.options.width}"  
          >
          </el-date-picker>
        </template>

        <template v-if="element.type == 'rate'">
          <input type="text" class="fm-label-editable" v-model="element.name">
          <el-rate v-model="element.options.defaultValue"
            :max="element.options.max"
            :disabled="element.options.disabled"
            :allow-half="element.options.allowHalf"
          ></el-rate>
        </template>

        <template v-if="element.type == 'color'">
          <input type="text" class="fm-label-editable" v-model="element.name">
          <el-color-picker 
            v-model="element.options.defaultValue"
            :disabled="element.options.disabled"
            :show-alpha="element.options.showAlpha"
          ></el-color-picker>
        </template>

        <template v-if="element.type == 'select'">
          <input type="text" class="fm-label-editable" v-model="element.name">
          <el-select
            v-model="element.options.defaultValue"
            :disabled="element.options.disabled"
            :multiple="element.options.multiple"
            :clearable="element.options.clearable"
            :placeholder="element.options.placeholder"
            :style="{width: element.options.width}"
          >
            <el-option v-for="item in element.options.options" :key="item.value" :value="item.value" :label="element.options.showLabel?item.label:item.value"></el-option>
          </el-select>
        </template>

        <template v-if="element.type == 'country'">
          <input type="text" class="fm-label-editable" v-model="element.name">
          <div class="el-country-select" :style="{width: element.options.width}">
            <country-select 
                v-model="element.options.defaultValue"
                :all="element.options.all == true"
                :disabled="element.options.disabled"
                :multiple="element.options.multiple"
                :clearable="element.options.clearable"
                :placeholder="element.options.placeholder"
            /> 
          </div>
        </template>

        <template v-if="element.type == 'language'">
          <input type="text" class="fm-label-editable" v-model="element.name">
          <div class="el-language-select" :style="{width: element.options.width}">
            <langue-select 
                v-model="element.options.defaultValue"
                :disabled="element.options.disabled"
                :multiple="element.options.multiple"
                :clearable="element.options.clearable"
                :placeholder="element.options.placeholder"
            />
          </div>
        </template>

        <template v-if="element.type=='switch'">
          <input type="text" class="fm-label-editable" v-model="element.name">
          <el-switch
            v-model="element.options.defaultValue"
            :disabled="element.options.disabled"
          >
          </el-switch>
        </template>

        <template v-if="element.type=='slider'">
          <input type="text" class="fm-label-editable" v-model="element.name">
          <el-slider 
            v-model="element.options.defaultValue"
            :min="element.options.min"
            :max="element.options.max"
            :disabled="element.options.disabled"
            :step="element.options.step"
            :show-input="element.options.showInput"
            :range="element.options.range"
            :style="{width: element.options.width}"
          ></el-slider>
        </template>

        <template v-if="element.type=='imgupload' || element.type=='fileupload'">
          <input type="text" class="fm-label-editable" v-model="element.name">
          <fm-upload
            v-model="element.options.defaultValue"
            :disabled="element.options.disabled"
            :style="{'width': element.options.width}"
            :width="element.options.size.width"
            :height="element.options.size.height"
            :accept=" element.type=='imgupload' ? 'image/*' : '*'"
            token="xxx"
            domain="xxx"
          >
          </fm-upload>
        </template>

        <template v-if="element.type == 'cascader'">
          <input type="text" class="fm-label-editable" v-model="element.name">
          <el-cascader
            v-model="element.options.defaultValue"
            :disabled="element.options.disabled"
            :clearable="element.options.clearable"
            :placeholder="element.options.placeholder"
            :style="{width: element.options.width}"
            :options="element.options.remoteOptions"
          >

          </el-cascader>
        </template>

        <template v-if="element.type == 'editor'">
          <vue-editor
            v-model="element.options.defaultValue"
            :style="{width: element.options.width}"
          >
          </vue-editor>
        </template>

        <template v-if="element.type=='blank'">
          <div style="height: 50px;color: #999;background: #eee;line-height:50px;text-align:center;">{{$t('fm.components.fields.blank')}}</div>
        </template>

        <template v-if="element.type == 'text'">
          <span>{{element.options.defaultValue}}</span>
        </template>

        <div class="widget-view-action" v-if="selectWidget.key == element.key">
          <i class="iconfont icon-icon_clone" @click.stop="handleWidgetClone(index)"></i>
          <i class="iconfont icon-trash" @click.stop="handleWidgetDelete(index)"></i>
        </div>

        <div class="widget-view-drag" v-if="selectWidget.key == element.key">
          <i class="iconfont icon-drag drag-widget"></i>
        </div>

        <template v-if="['recommendationAcademic','recommendationProfessional'].includes(element.type)">
            <rec-widget-form-item :element="element" @change="handleCustomElementChange"/>
        </template>
        
        <template v-if="'qualification' == element.type">
            <qualification-widget 
              :element="element" 
              @change="handleCustomElementChange"/>
        </template>
        
        <template v-if="'experiences' == element.type">
            <experience-widget 
              :element="element" 
              @change="handleCustomElementChange"/>
        </template>

        <template v-if="'languageLevel' == element.type">
            <language-level 
              :element="element" 
              @change="handleCustomElementChange"/>
        </template>

        <template v-if="'interests' == element.type">
            <interests-area 
              :element="element" 
              @change="handleCustomElementChange"/>
        </template>

        <template v-if="'sexe' == element.type">
            <gender-item
              :element="element"
              @change="handleCustomElementChange"/>
        </template>

    </el-form-item>
</template>

<script>
import FmUpload            from './Upload'
import { VueEditor }       from "vue2-editor"
import AdresseInput        from "@/components/common/AdresseInput.vue" 
import CountrySelect       from '@/components/common/CountrySelect.vue'
import PhoneInput          from '@/components/common/PhoneInput.vue'
import LangueSelect        from "@/components/LangueSelect/LangueSelect.vue"
import RecWidgetFormItem   from "./custom/recommendation/WidgetFormItem.vue"
import QualificationWidget from "./custom/qualification/WidgetFormItem.vue"
import ExperienceWidget    from "./custom/experience/WidgetFormItem.vue"
import LanguageLevel       from "./custom/languageLevel/WidgetFormItem.vue"
import InterestsArea       from "./custom/interests/WidgetFormItem.vue"
import GenderItem          from "./custom/sexe/WidgetFormItem"

export default {
  props: ['element', 'select', 'index', 'data'],
  components: {
    FmUpload,
    VueEditor,
    AdresseInput,
    CountrySelect,
    PhoneInput,
    LangueSelect,
    RecWidgetFormItem,
    QualificationWidget,
    ExperienceWidget,
    LanguageLevel,
    InterestsArea,
      GenderItem
  },
  data () {
    return {
      selectWidget: this.select
    }
  },
  mounted () {
    
  },
  methods: {
    handleSelectWidget (index) {
      this.selectWidget = this.data.list[index]
    },
    handleWidgetDelete (index) {
      if (this.data.list.length - 1 === index) {
        if (index === 0) {
          this.selectWidget = {}
        } else {
          this.selectWidget = this.data.list[index - 1]
        }
      } else {
        this.selectWidget = this.data.list[index + 1]
      }

      this.$nextTick(() => {
        this.data.list.splice(index, 1)
      })
    },
    handleWidgetClone (index) {
      const key = Date.parse(new Date().toString()) + '_' + Math.ceil(Math.random() * 99999)
      let cloneData = {
        ...this.data.list[index],
        options: {
          ...this.data.list[index].options,
          remoteFunc: 'func_' + key
        },
        key,
        model: this.data.list[index].type + '_' + key,
        rules: this.data.list[index].rules || []
      }

      if (this.data.list[index].type === 'radio' || this.data.list[index].type === 'checkbox' || this.data.list[index].type === 'select') {

        cloneData = {
          ...cloneData,
          options: {
            ...cloneData.options,
            options: cloneData.options.options.map(item => ({...item}))
          }
        }
      }

      this.data.list.splice(index, 0, cloneData)

      this.$nextTick(() => {
        this.selectWidget = this.data.list[index + 1]
      })
    },

    handleCustomElementChange: function(nVal){
        this.element = nVal
    }
  },
  watch: {
    select (val) {
      this.selectWidget = val
    },
    selectWidget: {
      handler (val) {
        this.$emit('update:select', val)
      },
      deep: true
    }
  }
}
</script>
