<template>
    <div class="question-item--wrapper" v-click-outside="closeAnswer">
        <div class="item-container" v-if="question">
            <div class="item-title" :class="openAnswer ? 'open' : '' " :target-id="'question-'+question.id" @click="toggleAnswer">
              <span class="fa fa-chevron-right mr-2"></span>
              {{ question.title }}
            </div>
            <div class="item-answer" v-show="openAnswer">
               {{ question.answer }}
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "QuestionItem",
    props: {
        question: {
            default :false
        }
    },
    data: function(){
        return {
            openAnswer: false
        }
    },
    methods: {
        toggleAnswer: function(){
            this.openAnswer = !this.openAnswer
        },
        closeAnswer: function(){
            this.openAnswer = false
        }
    }
}
</script>

<style scoped>
    .item-container {
        background: #F3F4F5 0% 0% no-repeat padding-box;
        border: 1px solid #D3D3D3;
        padding: 1rem;
        border-radius: 10px;
    }

    .item-title {
        color: #3C3850;
        font-family: 'NunitoSans-SemiBold';
        font-size: 18px;
        cursor: pointer;
    }
    .item-title.open {
       color: #FF7667;
    }
    .item-answer {
        margin-top: 1rem;
    }

    @media (max-width:768px) {
        .item-title {
            font-size: 16px;
        }
        .item-answer {
            margin-top: 10px;
            font-size: 14px;
        }
    }
    @media (max-width:450px) {
        .item-title {
            font-size: 14px;
        }
        .item-answer {
            font-size: 12px;
        }
    }
</style>