<template>
    <div class="search-input-group" :class="{show: showInput}">
        <input type="text" class="search-input-text" v-model="q" @input="onSearchInput" :class="{show: showInput}">
        <span class="fa search-input-icon"  :class="showInput ? 'fa-close': 'fa-search'"   @click="toogleInput">

        </span>
        <div class="suggestion-wrapper" v-if="autocompleteResult.length > 0">
            <ul class="suggestion-list">
                <li class="suggestion-list-iteem" v-for="(res, index ) in autocompleteResult" :key="'auto-complete-search'+index" @click="onSelectedResult(res)">
                   {{ res.text }}
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
export default {
    name : "SearchInput",
    props: {
        thematics: {
            default: false
        }
    },
    data: function(){
        return {
            q: "",
            autocompleteResult : [],
            showInput: false
        }
    },
    methods: {
        /**
         * Reset search data state
         * 
         * @return void
         */
        initSearchData: function(){
            this.q = ""
            this.autocompleteResult = []
        },

        /**
         * Handle autocomplete on search input 
         * 
         * @return void
         */
        onSearchInput: function(){
            let q = this.q
            this.autocompleteResult = []
            if(q.length < 1){
                return false
            }
            
            let array = this.thematics
            for (let i = 0; i < array.length; i++) {
                const element = array[i];
                if(element.name.toString().toLowerCase().includes(q.toLowerCase())){
                   this.autocompleteResult = [...this.autocompleteResult, {
                       id   : element.id,
                       text : element.name,
                       type : 'thematic'
                   }]
                }

                let questions = element.questions 
                if(questions.length > 1){
                    for (let j = 0; j < questions.length; j++) {
                        const question = questions[j];
                        if(question.title.toString().toLowerCase().includes(q.toLowerCase())){
                            this.autocompleteResult = [...this.autocompleteResult, {
                                id       : question.id,
                                text     : question.title,
                                type     : 'question',
                                thematic : element.id
                            }]
                        }
                    }
                }
            }
        },

        /**
         * Handle result search clicked
         * 
         * @param {Object} item
         * @return void
         */
        onSelectedResult(item){
            if(item.type == 'question'){
                let thematicIndex = this.thematics.findIndex( them => them.id === item.thematic)
                let thematic      = this.thematics[thematicIndex]
                    thematic      = {
                        ...thematic,
                        type: 'thematic'
                    }
                this.onSelectedItem(thematic)
                setTimeout(() => {
                    this.onSelectedItem(item)
                    this.initSearchData()
                }, 100);
                return 
            }
            this.onSelectedItem(item)
            this.initSearchData()
        },


        onSelectedItem: function(item){
            let targetSelector = `${item.type}-${item.id}`
            let target         = document.querySelector(`[target-id='${targetSelector}']`)
            target.click()
        },

        /**
         * Mobile feature toogle input text
         * 
         */
        toogleInput: function(){
            this.showInput = !this.showInput
        },

        hideInput: function(){
            this.showInput = !this.showInput
        }

        

    }
}
</script>

<style scoped>
        .search-input-group {
            position: relative;
            max-width: 20rem;
            margin-top: 1.5rem;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 1px solid #D3D3D3;
            border-radius: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.5rem 1rem;
        }
        .search-input-text {
            background: none;
            border: none;
            opacity: 1;
            width: 100%;
            color: #3C3850;
            font-family: 'NunitoSans-Regular';
        }

        .search-input-icon {
            color: #FF7667;
            font-size: 20px;
            font-weight: normal;
            cursor: pointer;
        }

        .suggestion-wrapper {
            position: absolute;
            background: white;
            border: solid 1px #D3D3D3;
            border-top: unset;
            width: 90%;
            top: 2.5rem;
            left: 5%;
            right: 0;
            padding: 5px 1rem;
            border-radius: 0 0 10px 10px;
        }

        .suggestion-list-iteem {
            font-size: 15px;
            line-height: 2.5rem;
            color: #828282;
            cursor: pointer;
            font-family: 'NunitoSans-SemiBold';
        }
        .suggestion-list-iteem:not(:last-child) {
            border-bottom: solid 1px #d6d6d6;
        }
        .suggestion-list-iteem:hover {
            color: #FF7667;
        }
        @media (max-width:768px) {
            .search-input-text {
                display: none;
            }
            .search-input-text.show {
                display: block !important;
            }
            .search-input-group {
                max-width: fit-content !important;
            }
        }
</style>