<template>
  <div class="filter__categorie-wrapper">
        <ul class="filter__categorie" v-if="thematics">
            <li  class="filter__categorie-item" @click="switchThematic(all)" :class="all == selectedThematic ? 'active' : ''">
                Toutes les questions
            </li>
            <li 
                v-for="thematic, index in thematics"
                :key="'filter-thematic-'+index"
                @click="switchThematic(thematic)"
                class="filter__categorie-item"
                :class="thematic == selectedThematic ? 'active' : ''"
                :target-id="'thematic-'+thematic.id"
                 >
                {{ thematic.name }}
            </li>
        </ul>
  </div>
</template>

<script>
export default {
    name: "ThematicFilter",
    props: {
        thematics : {
            default : false
        }
    },
    data: function(){
        return {
            selectedThematic: this.all
        }
    },
    computed: {
        all: function(){
            let questions = []
            for (let i = 0; i < this.thematics.length; i++) {
               let thematic = this.thematics[i]  
               questions    = [...questions, ...thematic.questions ]
            }
            return {
                questions : questions
            }
        }
    },
    methods: {
        switchThematic(thematic){
            this.selectedThematic = thematic
            this.$emit('change', thematic)
        }
    },
    watch: {
        thematics: {
            deep:     true,
            immediate : true,
            handler: function(val){
                if(val){
                    this. switchThematic(this.all)
                }
            }
        }
    },
    
}
</script>

<style scoped>
    .filter__categorie {
        list-style: none;
        padding: 0;
    }
    .filter__categorie .filter__categorie-item {
        color: #d3d3d3;
        cursor: pointer;
        margin-top: 0.5rem;
        font-size: 18px;
        line-height: 2rem;
    }
    .filter__categorie-item.active{
        color: #3c3850;
        font-size: 20px;
    }

    @media (max-width:768px) {
        .filter__categorie {
            display: flex;
            flex-wrap: wrap;
        }
        .filter__categorie .filter__categorie-item {
            font-size: 14px;
            padding: 5px 1rem;
            border-radius: 1.5rem;
        }
        .filter__categorie-item.active{
            background: #F2F1F5 0% 0% no-repeat padding-box !important;
        }
    }
</style>