<template>
    <div class="cta-modal-form">
        <Modal v-if="show" class="student-parcours-modal">
            <div slot="header" class="w-100 text-center pr-3">
                <a class="close" href="" @click.prevent="$emit('close')"></a>
                <div>
                    <h4 v-if="newFormation.id == null">{{$t('student.parcours.formation_info2')}}</h4>
                    <h4 v-else>{{$t('student.parcours.formation_info3')}}</h4>
                </div>
            </div>
            <div slot="body" class="px-4">
                <div class="row text-left">
                    <div class="col-sm-6">
                        <label>{{$t('word.school')}}</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                <i class="fa fa-home"></i>
                                </span>
                            </div>
                            <input
                                type="text"
                                v-model="newFormation.school.name"
                                class="form-control bl-0"
                                placeholder="Ex : Université Paris V"
                            />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label>{{$t('word.country')}}</label>
                        <CountrySelect 
                            v-model="newFormation.school.country"  
                            :all="false"
                            :multiple="false"
                             />                        
                    </div>
                    <div class="col-sm-6">
                        <label>{{$t('word.diploma')}}</label>
                        <input 
                            type="text"
                            placeholder="Ex : Licence"
                            class="form-control"
                            v-model="newFormation.grade"
                        />
                    </div>

                    <div class="col-sm-6">
                        <label>{{$t('student.parcours.formation_info4')}}</label>
                        <StudyFieldSelect
                            v-model="newFormation.studyField"
                            context="detail"
                            :all="false"
                            placeholder="Ex : Economie"
                        />
                    </div>
                    <div class="col-sm-6">
                        <label>{{$t('word.period')}}</label>
                        <div class="periode-field-group">
                            <Multiselect
                                placeholder="Année de debut"
                                :showLabels="false"
                                class=""
                                v-model="newFormation.yearStart"
                                :hideSelected="true"
                                :options="yearsOptions"
                                label="key"
                                track-by="value"
                            >
                            </Multiselect>
                            <span class="m-2">{{$t('word.to')}}</span>
                            <Multiselect
                                placeholder="Année de fin"
                                :showLabels="false"
                                class=""
                                v-model="newFormation.yearEnd"
                                :hideSelected="true"
                                :options="yearsEndOptions"
                                :custom-label="getYearLabel"
                                track-by="value"
                            >
                            </Multiselect>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <label>{{$t('student.parcours.formation_info5')}}</label>
                        <input
                            type="text"
                            class="form-control"
                            v-model="newFormation.obtainedResult"
                        />
                    </div>
                    <div class="col-12">
                        <label>{{$t('student.parcours.formation_info6')}} </label>
                        <textarea
                            class="form-control"
                            v-model="newFormation.activities"
                            placeholder="Ex : club d'echec, basketball"
                            maxlength="250">
                        </textarea>
                        <span class="text-area-max--label">250 max</span>
                    </div>

                    <div class="col-12">
                        <label>{{$t('word.description')}}</label>
                        <textarea class="form-control" v-model="newFormation.description" maxlength="250"></textarea>
                        <span class="text-area-max--label">250 max</span>
                    </div>
                </div>
                <div class="w-100 action-container text-right mt-4">
                    <DefaultButton
                        className="style4"
                        :text="$t('word.save')"
                        :onLoad="loading"
                        @click.native="updateStudentFormation"
                    />
                </div>
            </div>
        </Modal>

        <Modal v-if="showConfirm"  class="w-100 text-center modal-confirm-profil">
            <div slot="header" class="w-100 text-center pr-3">
                <a class="close" href="" @click.prevent="showConfirm = false"></a>
            </div>
            <div slot="body" class="w-100 px-4">
                <div class="bloc-icon-pouce">
                    <img :src="require('@/assets/img/Pouce.svg').default" id="icon-pouce">
                </div>
                <div class="message-confirm">
                    <label><b>{{$t('modal.title_modal_confirm_profil_school')}}</b></label>
                    <label>{{$t('modal.info_modal_confirm_profil')}}</label>
                    </div>
                    <div class="btn-confirm-profil">
                    <DefaultButton
                        className="outline3 add_element"
                        :text="$t('modal.add_school')"
                        @click.native="openAddFormation"
                    />
                    <DefaultButton
                        className="style1 valid_element"
                        :text="$t('word.validate')"
                        @click.native="showConfirm = false"
                    />
                </div>
            </div>
        </Modal>
    </div>
</template>

<script>
    import Multiselect from "vue-multiselect";
    import "vue-multiselect/dist/vue-multiselect.min.css";
    import StudyFieldSelect from "@/components/common/StudyFieldSelect.vue";
    import CountrySelect from "@/components/common/CountrySelect.vue"
    import ProfilService from "@/services/student/ProfilService.js";

    export default {
        components: {
            Multiselect,
            StudyFieldSelect,
            CountrySelect
        },
        props: {
            formation: {
               required : true
            },
            show: false
        },
        data: function(){
            return {
                newFormation: null,
                yearsOptions: [],
                showConfirm : false,
                loading: false,
            }
        },
        computed:{
            yearsEndOptions(){
                 /*** add no limit */
                return  [
                    { key:this.$t('word.now'), value: 0 },
                    ...this.yearsOptions
                ]

            }
        },
        methods: {
            updateStudentFormation() {
                // mapped current position
                this.newFormation.currentPosition = (this.newFormation.yearEnd && this.newFormation.yearEnd.value == 0)
                if(!this.checkField(this.newFormation)) {
                    return false
                }
                this.confirmStudentFormation() 
            },
            confirmStudentFormation(){
                let that = this;
                that.loading = true

                ProfilService.updateStudentFormation(that.newFormation)
                .then((response) => {
                    
                    if (response.data && response.data.success) {
                        that.newFormation.id === null
                        that.$store.dispatch("user/updateInfos");
                    }
                    that.loading = false;
                    that.$emit('close')
                    that.showConfirm = true
                })
                .catch((error) => {
                    console.log(error);
                    that.message = "word.form.internal_error";
                    that.loading = false;
                });
            },

            checkField(formation) {
                var school = (formation.school.name !== "" &&  formation.school.name !== null && formation.school.country !== null) 
                var grade =  (formation.grade !== "" &&  formation.grade !== null) 
                var studyField =  (formation.studyField !== "" &&  formation.studyField !== null) 
                var yearStart =  (formation.yearStart !== "" &&  formation.yearStart !== null) 
                var yearEnd =  (formation.yearEnd !== "" &&  formation.yearEnd !== null) 
                var obtainedResult =  (formation.obtainedResult !== "" &&  formation.obtainedResult !== null) 
                var activities =  (formation.activities !== "" &&  formation.activities !== null) 
                var description =  (formation.description !== "" &&  formation.description !== null) 
                let complete = (school && grade && studyField && yearStart && yearEnd && obtainedResult && activities && description)
            
                if(!complete){
                    this.$toast.open({
                        message  : this.$t( "word.form.field_incomplet"),
                        duration : 5000,
                        type     : 'error'
                    });  
                    return false
                }
               

                if(!formation.currentPosition && (formation.yearEnd.value < formation.yearStart.value)){
                    this.$toast.open({
                        message  : this.$t( "word.form.date_invalid"),
                        duration : 5000,
                        type     : 'error'
                    });  
                    return false
                }
                return true
            
            },
            openAddFormation(){
                this.showConfirm = false
                this.$emit('new')
            },
            getYearLabel({key}){
                if(key == 0)
                    return this.$t('word.now')
                return key
            }
        },
 
        mounted: function(){
            let that = this;
            let thisYear = new Date().getFullYear();
            let limit = thisYear - 10;
           
            for (thisYear; thisYear > 1900; thisYear--) {
                that.yearsOptions = [...that.yearsOptions, { key: thisYear, value: thisYear }];
            }

            this.newFormation = this.formation
        },
        watch: {
            formation: {
                immediate: false,
                deep     : true,
                handler  : function(val){
                    this.newFormation = val
                }
            }
        }
    }
</script>

<style>

</style>