<template>
  <div class="formation-cta cta"  :class="toggleShowDetaill ? 'open': ''">
    <div class="cta-item" @click.prevent="toggleShowDetaill">
      
      <div class="cta-icon"></div>
      
      <div class="cta-label"> 
        <label>{{$t('word.formations')}}</label>
        <p class="cta-item-count" v-if="formations.length > 0">
          {{ formations.length }} <span style="text-transform:lowercase">{{$t('word.formations')}}</span>
        </p>
      </div>

      <div>
        <div class="cta-action" v-show="!stateCategory || !formations.length" >
          <div class="icon action-add" @click="openAddFormation"></div>
          <div class="icon action-edit"  v-if="formations.length > 0" ></div>
        </div>
        <div class="icon action-arrow" v-show="(stateCategory)" v-if="formations.length > 0" ></div>
      </div>
    </div>
    <!-- put here list formation -->
    <div :class="[(stateCategory)  ? 'list-category-cta' : 'list-hide']" v-if=" formations !== null && formations !== undefined && formations.length">
      <div class="item-category-cta" v-for="formation in formations" :key="formation.id">
        <div class="item-title-cta">
          <!-- <img :src="logo_hardvard" />-->
          <span class="ml-3">
            <h4>{{ formation.school.name }}</h4>
          </span>
        </div>
        <div class="item-info-cta">
          <p>
            <span> {{$t('student.parcours.association_info4')}}:</span><b> {{ formation.year_start }}</b> / A :
            <b> {{ formation.year_end == 0 ? $t('word.now') : formation.year_end  }}</b>
          </p>
          <p>
            <span>{{$t('word.diploma')}}:</span> <b> {{ formation.grade.name }}</b>
          </p>
          <p>
            <span>{{$t('student.parcours.formation_info1')}}:</span>
            <b> {{ $t("discipline."+formation.study_field.id) }}</b>
          </p>
          <p>
            <span>{{$t('word.result')}}: <b>{{ formation.obtained_result }}</b></span>
          </p>
        </div>
        <div class="item-action-cta">
          <div class="d-flex" @click="openAddFormation" >
            <button class="btn-add">
              <img :src="icon_add" />
            </button>
            <span class="ml-2">{{$t('student.parcours.formation_info2')}}</span>
          </div>
          <!-- replace parameter {} by object formation  -->
           <div class="action-profil" style="display: flex">
              <div @click="openEditFormation(formation)" class="icon action-edit"></div>
              <div @click="confirmDelete(formation)" class="icon action-remove"></div>
            </div>
        </div>
      </div>
    </div>
    <FormationCtaForm :formation="formation" :show="showFormationModalForm" v-on:close="closeFormationModalForm" v-on:new="openAddFormation" />
  </div>
</template>
<script>
import "./style.css";

import ProfilService from "@/services/student/ProfilService.js";


import FormationCtaForm from "./FormationCtaForm.vue"

export default {
  name: "FormationCtaPrivate",
  components: {
    FormationCtaForm
  },

  props: {
    showDetail: {
      type:Boolean
    },
    student: {
      required: true
    }
  },


  data: function () {
    return {
      showFormationModalForm : false,
      stateCategory          : false,
      formation: {
        id: null,
        school: {
          id: null,
          name: null,
          country: null
        },
        grade: null,
        studyField: null,
        yearStart: null,
        yearEnd: null,
        obtainedResult: null,
        activities: null,
        description: null,
        currentPosition: false
      },
      icon_add               : require("@/assets/img/add-icon.svg").default,
      logo_hardvard          : require("@/assets/img/logo_hardvard.png").default,
      message                : ""
    }
  },

  watch : {
    showDetail(newVal) {
        this.stateCategory = newVal
    }
  },
  

  methods: {
    toggleShowDetaill() {
        if (this.formations.length > 0) {
            this.stateCategory = !this.stateCategory;
            return 
        }
        this.openAddFormation()
    },
    openEditFormation(formation) {
      //recuperation inforamation des
      this.createObjectFormation(
        formation.id,
        formation.school,
        formation.grade,
        formation.study_field,
        {
          key: formation.year_start,
          value: formation.year_start,
        },
        {
          key: formation.year_end,
          value: formation.year_end,
        },
        formation.obtained_result,
        formation.activities,
        formation.description,
          formation.current_position
      );
      
      this.showFormationModalForm = true;
    },
    closeFormationModalForm(){
      this.formation = this.createObjectFormation()
      this.showFormationModalForm = false
    },
    openAddFormation() {
      this.createObjectFormation()
      this.showFormationModalForm = true;
    },
    
    confirmDelete(Formation) {
      let that = this;
      this.$dialog
        .confirm(that.$t('student.ask.remove_formation'), {
          loader: true,
          okText: "valider",
          cancelText: that.$t('word.cancel'),
        })
        .then(function (dialog) {
          that.deleteFormation(Formation, dialog);
        })
        .catch(function (dialog) {
          dialog.close();
        });
    },

    deleteFormation(Formation, dialog) {
      let that = this;
      that.loadDelete = true;
      ProfilService.removeStudentFormation(Formation.id)
        .then(function (response) {
          if (response.data.success) {
            that.$store.dispatch("user/updateInfos");
          } else {
            //afficher snackbar
          }
          dialog.close();
          that.loadDelete = false;
        })
        .catch(function (error) {
          dialog.close();
        });
    },

    createObjectFormation(id = null, school = { name: null, id:   null, country : null }, grade = null, studyField = null, yearStart = null, yearEnd = null, obtainedResult = null, activities = null, description = null, currentPosition = false) {
        this.formation = {
          id              : id,
          school          : school,
          grade           : (grade == null) ? grade : grade.name,
          studyField      : studyField,
          yearStart       : yearStart,
          yearEnd         : yearEnd,
          obtainedResult  : obtainedResult,
          activities      : activities,
          description     : description,
          currentPosition : currentPosition
        }
    }
  },
  computed: {
    formations(){
      function tri(l){
          for(var i= 0 ; i< l.length; i++){ 
              for(var j=i+1; j< l.length; j++){
                    if(l[j].year_end >  l[i].year_end) {
                        var temp = l[j];
                        l[j]=l[i];
                        l[i]=temp;
                      }
              }
          }
          return l ;
      }
      let list = this.student.formations
      tri(list)
      return list;
    }
  },
};
</script>
