<template>
  <div class="formation-cta cta open public-cta">
    <div class="cta-item">
      <div class="cta-icon"></div>
      <div class="cta-label"> 
        <label>{{$t('word.formations')}}</label>
      </div>

    </div>
    <!-- put here list formation -->
    <div class="list-category-cta">
        <template v-if=" formations !== null && formations !== undefined && formations.length">
            <div class="item-category-cta" v-for="formation in formations" :key="formation.id">
              <div class="item-date-cta">
                <b> {{ formation.year_start }} -  {{ formation.year_end == 0 ? $t('word.now') : formation.year_end  }}</b>
              </div>
              <div class="item-scool-cta">
                  <div class="item-scool-logo">
                    <!--img :src="logo_hardvard" /-->
                  </div>
                  <div class="item-scool-desc">
                      <h4>{{ formation.school.name }}</h4>
                      <p>{{ $t("discipline."+formation.study_field.id) }}</p>
                  </div>
              </div>

              <div class="item-reult-cta">
                  <span class="mr-3">
                    {{ formation.grade.name }}
                  </span>
                  <span>{{$t('word.result')}}: <b>{{ formation.obtained_result }}</b></span>
              </div>

            </div>
        </template>
        <template v-else>
            <p class="public-empty-parcours--label">{{ $t('student.parcours.empty_parcours') }}</p>
        </template>
    </div>
  </div>
</template>
<script>
import "./style.css"

export default {
  name: "FormationCtaPublic",
 
  props: {
    showDetail: {
      type:Boolean
    },
    student: {
      required: true
    }
  },


  data: function () {
    return {
      logo_hardvard : require("@/assets/img/logo_hardvard.png").default,
    }
  },

  watch : {
    showDetail(newVal) {
        this.stateCategory = newVal
    }
  },
  
  computed: {
    formations(){
      function tri(l){
          for(var i= 0 ; i< l.length; i++){ 
              for(var j=i+1; j< l.length; j++){
                  if(l[j].year_end >  l[i].year_end) {
                      var temp = l[j];
                      l[j]=l[i];
                      l[i]=temp;
                  }
              }
          }
          return l ;
      }
      let list = this.student.formations
      tri(list)
      return list;
    }
  },
};
</script>
<style scoped>
  .item-category-cta {
      display: flex;
      justify-content: space-between;
  }
  .item-category-cta:not(:last-child){
    border-bottom: solid 1px #D3D3D3;
    margin-bottom: 2rem;
  }

  .item-date-cta {
      width: 25%;
      font-size: 14px;
  }

  .item-scool-cta {
      width: 45%;
  }

  .item-reult-cta {
      width: 30%;
      display: flex;
      justify-content: end;
      color: #3C3850;
  }

  .item-scool-desc {
      font-size: 1rem;
  }

  .item-scool-desc p {
      color: #D3D3D3;
  }

  .item-scool-desc h4 {
      color: #3C3850;
      font-family: 'NunitoSans-Bold';
      font-size: 1.1rem;
  }

  @media (max-width:1280px) {
      .item-reult-cta {
          font-size: 14px;
      }
    .item-scool-desc h4 {
        font-size: 1rem;
    }
    .item-date-cta{
        font-size: 13px;
    }
  }
</style>