<template>
    <formation-cta-private v-if="context == 'private'" :showDetail="showDetail" :student="student"  />
    <formation-cta-public  v-else :student="student"  />
</template>

<script>

import FormationCtaPublic  from "./FormationCtaPublic.vue"
import FormationCtaPrivate from "./FormationCtaPrivate.vue"
export default {
    name: "FormationCta",

    components:{
        FormationCtaPublic,
        FormationCtaPrivate
    },

    props: {

        showDetail: {
            type:Boolean
        },
        
        student: {
            required: true
        },

        context: {
            default: 'private'
        }

    },

}
</script>