{% extends 'admin/base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <div class="row user discipline-index">
        <div class="col-md-4">
            {{ include("admin/message/parts/_message-list.html.twig") }}
        </div>

        <div class="col-md-8">
            {% include "admin/message/parts/_message-content.html.twig" %}
        </div>
    </div>
{% endblock %}



