{% extends 'admin/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app_admin_message') }}
{% endblock %}

{% block title %}Admin-message{% endblock %}
{% block body %}
    <div id="vue-admin-bot"></div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app_admin_message') }}
{% endblock %}