<div class="{{ wrapper_class|default('ml-4 pull-right') }}">
    <form method="post" action="{{ path('admin_team_delete', {'id': team.id}) }}">
        <input type="hidden" name="_method" value="POST">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ team.id) }}">
        <button class="btn btn-danger need-confirmation" confirmation-message="Voulez vous supprimer {{ team.firstname }}?"> 
            <i class="fa fa-trash"></i>
            {{ btn_text|default("Supprimer")  }}
        </button>
    </form>
</div>
