{{ form_start(form, {'attr':{'id':'admin-team-form'}}) }}

<div class="tile p-3">
    <div class="tile-body">
        <div class="row">
            <div class="col-sm-6 mt-3">
                <div class="form-group">
                    <label class="control-label">{% trans %}Nom{% endtrans %}</label>
                    {{ form_widget(form.firstname,  {'attr':{'class':'form-control' }}) }}
                </div>
               
                <div class="form-group">
                    <label class="control-label">{% trans %}Prénom{% endtrans %}</label>
                    {{ form_widget(form.lastname,  {'attr':{'class':'form-control' }}) }}
                </div>
               
                <div class="form-group">
                    <label class="control-label">{% trans %}Intitulé de poste {% endtrans %}</label>
                    {{ form_widget(form.jobtitle,  {'attr':{'class':'form-control' }}) }}
                </div>
               
            </div>
            <div class="col-sm-6 mt-3">
                <div class="form-group">
                    <div class="input-file-wrapper">
                        {#% set isRequired =  form.vars.value.avatar ? false : true  %#}
                        {% set isRequired =  false %}
                        <span class="legende tooltip-logo" id="avatar-legende-file">{% trans %}Merci de fournir un image de taille 250 x 250px au minimum{% endtrans %}</span>
                        <input type="hidden" name="avatar64" value="" id="avatar64">
                        {{ form_widget(form.avatar, {'attr':{'class':'hidden avatar-input-file', 'required':isRequired }}) }}
                    </div>
                    <div class="thumbnail-preview">
                        <div class="thumbnail-preview__image avatar-image-preview">
                            {% if form.vars.value.avatar %}
                                <img src="{{  '/uploads/avatar/' ~ form.vars.value.avatar }}">  
                            {% else %}
                                <img src="{{  asset('build/admin/images/icon-image.svg') }}" width="50">        
                            {% endif %}
                        </div>
                        <div class="btn-container">
                            <button class="avatar-preview--edit custom-default-btn"> {% trans %}Modifier avatar{% endtrans %} </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tile-footer text-right mt-5">
        <button class="btn btn-primary mr-3" type="submit" id="admin-organization-form--validate">
            <i class="fa fa-fw fa-lg fa-check-circle"></i>
            {% if button_label|default(false) %}
                {% trans %}Modifier{% endtrans %}
            {% else %}
                {% trans %}Enregistrer{% endtrans %}
            {% endif %}
        </button>
        <a class="btn btn-secondary" href="{{ path('admin_team_index') }}"><i class="fa fa-fw fa-lg fa-times-circle"></i>{% trans %}Annuler{% endtrans %}</a>
    </div>

</div>
{{ form_end(form) }}
{% include "admin/components/modal_cropper.html.twig" %}