{% extends 'admin/base.html.twig' %}

{% block title %}{% trans %}Modifier{% endtrans %}{% endblock %}
{% block actions %}
    <a class="btn btn-primary" href="{{ path('admin_team_index') }}">{% trans %}Retour{% endtrans %}</a>
    {{ include('admin/grimpeurs/team/_delete_form.html.twig') }}
{% endblock %}


{% block body %}
    {{ include('admin/grimpeurs/team/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
