{% extends 'admin/base.html.twig' %}

{% block title %}{% trans %} Les equipes grimpeurs {% endtrans %}{% endblock %}
{% block actions %}
     <a class="btn btn-primary" href="{{ path('admin_team_new') }}">{% trans %}Ajouter{% endtrans %}</a>
{% endblock %}
{% block body %}
 <div class="tile">
        <div class="tile-body p-2">
            <table class="table table-hover table-bordered no-footer admin-table">
                <colgroup>
                    <col span="1" style="width: 5%;" />
                    <col span="1" style="width: 10%;"/>
                    <col span="1" style="width: 40%;" />
                    <col span="1" style="width: 20%;"/>
                    <col span="1" style="width: 25%;"/>
                </colgroup>
                <thead class="thead-green">
                    <tr>
                        <th>Id</th>
                        <th>Avatar</th>
                        <th>Nom</th>
                        <th>Poste</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for team in teams %}
                    <tr>
                        <td>{{ team.id }}</td>
                        <td>
                            {% set avatar = team.avatar ? '/uploads/avatar/' ~ team.avatar :  asset('build/admin/images/icon-image.svg') %}
                            <img src="{{ avatar }}" height="25"> 
                        </td>
                    
                        <td>{{ team.firstname }} {{ team.lastname }}</td>
                        <td>{{ team.jobtitle }}</td>
                        <td>
                            <a href="{{ path('admin_team_show', {'id': team.id}) }}">show</a>
                            <a href="{{ path('admin_team_edit', {'id': team.id}) }}">edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
