{% extends 'base.html.twig' %}

{% block title %}Team{% endblock %}

{% block body %}
    <h1>Team</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ team.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ team.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ team.lastname }}</td>
            </tr>
            <tr>
                <th>Avatar</th>
                <td>{{ team.avatar }}</td>
            </tr>
            <tr>
                <th>Jobtitle</th>
                <td>{{ team.jobtitle }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_team_index') }}">back to list</a>

    <a href="{{ path('admin_team_edit', {'id': team.id}) }}">edit</a>

    {{ include('admin/grimpeurs/team/_delete_form.html.twig') }}
{% endblock %}
