<!DOCTYPE html>
{% set approute = app.request.get('_route')  %}
<html>
    <head>
        <meta charset="UTF-8">
        <title>Admin - Grimpeurs</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app_admin') }}
        {% endblock %}
                
        <!--- Global script var  -->
            <script type="text/javascript">
                var locale = "{{ app.request.locale }}"
            </script>
        <!--- END Global script var  -->
    </head>
    <body class="app sidebar-mini">
        {% block header %}
           {% include "admin/components/header.html.twig" %} 
        {% endblock %}
        
        {% block sidebar %}
            {{ adminSidebarMenu()|raw }}
        {% endblock %}

        <main class="app-content"> 
            <div class="app-title">
                <div class="w-100">
                    <h1 class="pull-left mt-3">
                        {% block title %}{% endblock %}
                    </h1>
                    <div class="pull-right">
                        {% block actions %}{% endblock %}
                    </div>
                </div>
            </div>
           
            
            {% block body %} {% endblock %}
        </main>

        {% block javascripts %}
            {{ encore_entry_script_tags('app_admin') }}
        {% endblock %}
        
        {% include "admin/components/confirm_dialog.html.twig" %}
    </body>
</html>
