<template>
  <div class="template-fragment">
    <template>
        <div class="scolarship-select-wrapper">
            <template>
                <div class="scolarship-select--container">
                    <ScholarshipSelect :scholarships="scholarships" @change="scholarshipChange" :all="true" />
                </div>
            </template>
            <template v-if="selectedForm">
                <div class="form-select-container">
                    <div class="form-item">
                        <span class="form-name">{{ selectedForm.name }}</span>
                        <span @click="removeForm" class="remove-param">x</span>
                    </div>
                </div>
            </template>
        </div>
    </template>
        <CustomTab :options="options" v-model="status" />
    <template>

    </template>
    
  </div>
</template>

<script>
import ScholarshipSelect from '@/components/Scholarship/ScholarshipSelect.vue'
import ProfilService     from '@/services/organization/ProfilService.js'
import CustomTab         from "@/components/common/CustomTab.vue"
export default {
    name: "CandidatListFilter",
    props: {
        defaultStatus: {
            default : 0
        },
        selectedForm : {
            default: false
        }
    },
    components: {
        ScholarshipSelect,
        CustomTab
    },
    data: function(){
        return {
            scholarships : [],
            options      : [
                 {
                    label: this.$t('word.all'),
                    value: 0 
                },
                {
                    label: this.$t('word.inprogress'),
                    value: 2 
                },
                {
                    label: this.$t('word.interested'),
                    value: 'interested' 
                },
                {
                    label: this.$t('word.validated'),
                    value: 3 
                },
                {
                    label: this.$t('word.refused'),
                    value: 4 
                }
            ],
            status: {
                label: this.$t('word.all'),
                value: 0
            }
        }
    },
    methods: {
        updateScholarshipList: function(){
            let that = this
            ProfilService.getRelatedScholarship().then(
                (response)=> {
                that.scholarships = response.data.scholarships
            }) 
        },
        newForm: function(){
            this.$router.push({'name' : 'organization_folder_list' })
        },
        scholarshipChange: function(s){
            this.$emit("scholarshipchange", s)
        },
        removeForm: function(){
            this.$emit('removeform')
        }
    },

    watch: {
        status: {
            deep: true,
            immediate: false,
            handler: function(val){
                this.$emit('statuschange', val.value)
            }
        }
    },

    mounted: function(){
        this.updateScholarshipList()

        if(this.defaultStatus){
            this.status =  this.defaultStatus
        }
    }
}
</script>

<style scoped>
    .scolarship-select-wrapper{
        display: flex;
        width: 100%;
    }

    .scolarship-select-wrapper select{
        padding: .6rem 2rem;
        color: #2a292b;
        border: solid 1px #D0CEDA;
        background: white;
        border-radius: 15px;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
    .scolarship-select--container {
        max-width: fit-content;
        position: relative;
    }
    .scolarship-select--container:after {
        content   : url("~@/assets/img/chevron-left-white.svg") !important;
        filter    : invert(.5);
        transform : rotate(-90deg);
        display   : block !important;
        position: absolute;
        top: 8px;
        right: 14px !important;
    }
    .candidat-filter-nav {
        display: flex;
        align-items: end;
        justify-content: space-between;
    }
    .candidat-filter-nav .navbar{
        padding: 15px 0 !important;
    }
    .nav-item{
        text-align: center;
        letter-spacing: 0px;
        color: #3C3850;
        border-bottom: solid 3px #D0CEDA;
        display: block;
        margin: 0;
        padding: 1rem 2rem;
    }
    .nav-item:hover,
    .nav-item.active
    {
        border-bottom: solid 3px #FF7667;
    }
    .navbar .navbar-nav .nav-link {
        color         : #D0CEDA !important;
        font-size     : 14px ;
        text-transform: capitalize;
        position      : relative ;
        font-family: 'NunitoSans-SemiBold';
    }


    .navbar .navbar-nav .nav-link:hover,
    .navbar .navbar-nav .active .nav-link {
         width : 100%;
    }

    .navbar .navbar-nav .nav-link:hover,
    .navbar .navbar-nav .active .nav-link{
        color: #3C3850 !important;
    }

    .filter-action-container {
        padding-bottom: 10px;
    }
    .add-form-link .link-text {
        font-family: 'NunitoSans-SemiBold';
        font-size: 1.2rem;
    }

    .form-select-container{
        width: 100%;
        margin-left: 1rem;
    }

    .form-item {
        background: #f0f0f0;
        border-radius: 1rem;
        color: gray;
        max-width: fit-content;
        padding: .5rem 1.5rem;
        font-size: 14px;
        font-family: 'NunitoSans-Bold';
        position: relative;
    }

    .remove-param {
        position: absolute;
        top: -6px;
        right: -6px;
        width: 1rem;
        height: 1rem;
        background: #FF7667;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        cursor: pointer;
    }

    @media (max-width:1360px) {
        .add-form-link .link-text{
            font-size: 1.1rem;
        }
        .nav-item{
            padding: 1rem 1.5rem;
        }
    }

    @media (max-width:1200px) {
        .nav-item{
            padding: 1rem;
        }
    }
    @media (max-width:1024px) {
        .candidat-filter-nav{
            flex-direction: column;
            align-items: flex-start;
        }
        .filter-action-container{
            width: 100%;
            text-align: right;
        }
    }
    @media (max-width:991px) {
        .navbar-filter-container{
            width: 90%;
        }   
        .navbar-filter-container .navbar-nav{
            flex-direction: row !important;
        }
    }

    @media (max-width:768px) {
        .navbar-filter-container{
            width: 100%;
        }
        .navbar-filter-container .navbar-nav{
            justify-content: space-between;
        }
        .navbar-filter--container{
            border-bottom: solid 1px #D0CEDA ;
        }
        .nav-item{
            border: none;
            padding: 1rem 0 !important;
            white-space: nowrap;
        }
        
        .navbar .navbar-nav .nav-link:hover,
        .navbar .navbar-nav .nav-link 
        {
            font-family: 'NunitoSans-Bold' !important;
            color: #3C3850 !important;
            padding: 5px 15px 1.6rem 15px; 
            border-radius: 1rem;
        }
     

        .nav-item:hover,
        .nav-item.active
        {
            border-bottom: unset;
        }

        .navbar .navbar-nav .nav-item.active .nav-link:hover,
        .navbar .navbar-nav .nav-item.active .nav-link 
        {
            color: #6196FF !important;
            background: #F2F1F5 0% 0% no-repeat padding-box;
        }

        .filter-action-container{
            display: none;
        }


    }

</style>