<template>
    <div class="result-list-header">
        <div class="result-list-recap">
            <p id="label-form-search" v-if="status == 0"> {{ count }} {{ $t('word.student') }} {{ $t('word.found') }}</p>
            <p id="label-form-search" v-else>             {{ count }} {{ $t('word.student') }} {{ $t('application.status.'+status) }}</p>
            
            <p class="label-text">Parmi les {{ total }} dossiers de candidature reçus</p>
            
        </div>
        <div class="result-list-filter--mobile">
            <RadioMobile 
                v-model="orderOption" 
                :options="orderOptions"
            />
        </div>
        <div class="result-list-filter">
            <div class="filter-group">
                <div class="label-text label-text--bold">{{ $t('word.tri') }}</div>
                <select class="form-select"  v-model="orderOption" @change="orderChange">
                    <option :value="option" v-for="(option, index) in orderOptions" :key="'form-select-order'+index">
                        {{ option.text }}
                    </option>
                </select>
            </div>
            <div class="label-text">
                <label>Affichage</label>
                <select v-model="maxResult" class="row-count-input" @change="maxChange">
                    <option v-for="value, index in maxResultOptions" :key="'pagination-'+index">{{ value }}</option>
                </select>
            </div>
        </div>
    </div>
</template>

<script>
import RadioMobile from "@/components/common/RadioMobile.vue"
export default {
    name: "ListRecapFilter",
    props: {
        count: {
            require: true
        },
        total: {
            require: true
        },
        status: {
            require: true
        },
    },
    components: {
        RadioMobile
    },
    data: function(){
        return {
            maxResult: 10,
            maxResultOptions: [5, 10, 50, 100],
            orderOptions: [
                {'sort': 'id', 'order': 'DESC', 'text':'Plus reçent au plus ancien'},
                {'sort': 'id', 'order': 'ASC', 'text':'Plus ancien au plus recent'},
                {'sort': 'student.firstname', 'order': 'DESC', 'text':'Nom ASC'},
                {'sort': 'student.firstname', 'order': 'ASC', 'text':'Nom DESC'}
            ],
            orderOption: {'sort': 'id', 'order': 'DESC', 'text':'Plus reçent au plus ancien'}
        }
    },
    methods : {
        maxChange: function(){
            this.$emit('maxchange', this.maxResult)
        },
        orderChange: function(){
            this.$emit('orderchange', this.orderOption)
        }
    }
}
</script>

<style scoped>
    .result-list-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .filter-group {
        display: flex;
        align-items: center;
        justify-content: start;
        margin-right: 2rem;
    }
    .label-text{
        font-size: 14px;
        color    : #1F4171
    }
    .label-text--bold{
        font-family: "NunitoSans-Bold";
    }

    .result-list-filter {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding-bottom: 5px;
    }
    .filter-group .form-select{
        padding      : 5px 10px;
        border       : solid 1px #c5c5c5;
        border-radius: 18px;
        background   : white;
        font-size    : 12px;
        font-family  : 'NunitoSans-Regular';
        min-width    : 10rem;
    }
    #label-form-search {
        color      : #1F4171;
        font-size  : 1rem;
        font-family: 'NunitoSans-SemiBold' !important;
        margin-bottom: 0;
    }
    .row-count-input {
        border: solid 1px #D0CEDA;
        background: none;
    }

    @media (max-width:768px) {
        .result-list-filter{
            display: none;
        }
        .result-list-header{
            padding: 0 1rem;
        }
    }
</style>