<template>
    <div class="text-center scholarship-gallery-steep">
        <file-upload
            extensions="jpg,jpeg,png,webp"
            accept="image/png,image/jpeg,image/webp"
            name="galeryPhoto"
            post-action="#"
            :drop="true"
            :multiple="true"
            v-model="scholarship.gallery"
            @input-filter="inputFilter"
            ref="upload">
        </file-upload>
        <div v-show="$refs.upload && $refs.upload.dropActive" class="drop-active">
            <h3>Drop files to upload</h3>
        </div>
        <h4 class="label px-5">
            {{ $t('scholarship.form.steep5_info1') }}
        </h4>
        <div class="mb-5">
            <div class="gallery-uploader-wrapper">
                <div class="gallery-upload">
                    <div class="text-center logo-prev p-5">
                        <div v-if="scholarship.gallery.length" class="thumbnails">
                            <span v-for="(file, index) in scholarship.gallery" :key="'gallery-'+index">
                                <img v-if="file.type == 'application/pdf'" :src="defaultPdfIcon" />
                                <img v-else :src="file.url" />
                            </span>
                        </div>
                        <div v-else class="text-center">
                            <label>
                                <b>{{ $t('organization.profil.steep9_infos3') }}</b>
                            </label>
                            <p>OU</p>
                        </div>

                        <div class="text-center mt-3">
                            <label for="galeryPhoto" ref="galeryPhotoLabel" class="ref-galery">
                                <DefaultButton className="style3" text="Importer des fichier" @click.native="openFileChooser"></DefaultButton>    
                            </label>
                            <p class="small">Poids maximum 3Mo, images : jpg, png, pdf</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <DefaultButton className="outline2 prev-btn" :text="$t('word.prev')"  @click.native="$emit('goTo','ScholarshipInfos')" />
        <DefaultButton className="style1 preview-btn" :text="$t('scholarship.form.steep5_info3') " @click.native="preview"/>
    </div>
</template>

<script src="./ScholarshipGallery.js" />
<style>
    button.prev-closer {
        float: right;
        border: solid 2px #ff7667;
        padding: 5px 15px;
        border-radius: 9px;
        color: #ff7667;
    }
    @media(max-width:768px){
        
        .scholarship-gallery-steep .prev-btn,
        .scholarship-gallery-steep .preview-btn
        {
            width: 100% !important;
            margin: 5px;
        }
    }
</style>
<style scoped>
    @media (max-width:1520px) {
        h4.label{
           font-size: 1.6rem !important;
           padding: 0 !important;
        }
    }
</style>