<template>
    <div>
        <template v-if="!showForm">
            <div class="conversation-stater--container">
                <div class="start-conversation-card-new">
                    <div class="messenger-card--header">
                        <h2 class="messenger-card-text-header">
                            {{ $t('bot.btn_title') }}
                        </h2>
                    </div>
                    <div class="messenger-card-content">
                        <div class="card-content--text">
                            <span class="text-title">
                                {{ $t('bot.helper_text') }}
                            </span>
                            <span class="fa fa-clock-o"></span>
                            <span class="text-value">{{ $t('bot.helper_time') }}</span>
                        </div>
                    </div>
                    <div class="messenger-card-footer">
                        <button @click="displayForm">
                            {{ $t('bot.start_conversation') }}
                        </button>
                    </div>
                </div>
            </div>
        </template>
        <template v-else>
            <div class="start-conversation-form">
                <div class="form-goup">
                    <input class="conversation-form__email" v-model="email" :class="{invalid: error == 'invalid_email'}" type="email" placeholder="adresse@email.com *">
                </div>
                <div class="form-goup">
                    <input class="conversation-form__name"  v-model="pseudo" :class="{invalid: error == 'invalid_pseudo'}" type="text" :placeholder="$t('bot.label_pseudo') +  ' *'">
                </div>
                <div class="form-group">
                    <textarea class="conversation-form__content"  v-model="message" :class="{invalid: error == 'invalid_message'}" ref="message"  @input="autoGrow" :placeholder="$t('bot.label_message') +  ' *'"></textarea>
                </div>
                <div class="form-action-group">
                    <template v-if="sending">
                        <div class="spinner-border" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </template>
                    <template v-else>
                        <button @click="initConversation">
                            <img  :src="require('@/assets/img/icon-send.svg').default" >
                        </button>
                    </template>
                </div>
            </div>
        </template>

    </div>
</template>

<script>
export default {
    name: "CoversationStarter",

    data: function(){
        return {
            showForm : false,
            error    : false,
            sending  : false,

            email     : '',
            pseudo    : '',
            message   : '',
        }
    },

    methods: {
        /**
         * Display the init form
         * 
         * @return void
         */
        displayForm: function(){
            this.showForm = true
        },

        /**
         * This method auto grow the textarea field on enter key
         * 
         * @return void 
         */
        autoGrow: function() {
            let element =  this.$refs.message
            element.style.height = "5px";
            element.style.height = (element.scrollHeight)+"px";
        },

        /**
         * emit start conversation event 
         * 
         * @return void
         */
        initConversation: function(){
            this.sending = true
            if(!this.formIsValid()){
                this.sending = false
                return 
            }

            this.$emit('start', {
                email: this.email,
                pseudo: this.pseudo,
                message: this.message
            })
        },

        formIsValid: function(){
            if(!this.validateEmail(this.email)){
                this.error = 'invalid_email'
                return false
            }

            if(this.pseudo.length < 3){
                this.error = 'invalid_pseudo'
                return false
            }
            
            if(this.message.length < 3){
                this.error = 'invalid_message'
                return false
            }
            return true
        },

        validateEmail(email) {
            const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(String(email).toLowerCase());
        }

    }
}
</script>

<style lang="sass" scoped>
.conversation-stater--container {
    margin: 2rem;
    padding: 1rem;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    font-size: 14px;
    line-height: 1.4;
    color: rgb(0, 0, 0);
    overflow: hidden;
    position: relative;
    box-shadow: #d0ceda 0px 4px 15px 0px, #ebeef5 0px 1px 2px 0px, #FF7667 0px 2px 0px 0px inset;

    .messenger-card-text-header {
        font-size: 1.2rem;
        font-family: 'NunitoSans-SemiBold';
    }
    .messenger-card-content{
        .text-title {
            color: rgb(115, 115, 118);
            font-size: 14px;
        }

        .text-value {
            font-family: 'NunitoSans-Bold';
        }
    }  

    .messenger-card-footer button {
        padding: .7rem 1.2rem;
        border: none;
        margin-top: 1rem;
        background: #FF7667;
        color: white;
        font-family: 'NunitoSans-Bold';
        font-size: 1rem;
        border-radius: 3rem;
    }
}

.start-conversation-form {
    margin: 2rem;
    
    .form-goup {
        margin-bottom: 1rem;

        .conversation-form__email,
        .conversation-form__name {
            width: 100%;
            border: none;
            border-bottom: solid 1px #e4e7ed;
            padding: 1rem .5rem;
        }

        .invalid{
            color: #FF7667;
            border: none !important;
            border-bottom: solid 1px #FF7667 !important; 
        }
    }

    .form-action-group {
        position: absolute;
        bottom: 2rem;
        right: 2rem;

        button {
            background: none;
            border: none;
        }
        .spinner-border {
            width: 25px;
            height: 25px;
            color: #ff7667;
        }

    }
}

</style>
<style scoped>
  .conversation-form__content{
        border: none;
        width: 100%;
        padding: 1rem .5rem;
        resize: none;
        overflow: hidden;
    }
</style>