<template lang="pug">
.qkb-board-header
  slot(name="bot-header")
    .qkb-board-header__title {{ botTitle }} teste
</template>
<script>
export default {
  props: {
    botTitle: {
      type: String,
      default: 'Chatbot'
    }
  }
}
</script>
