{% set approute = app.request.get('_route')  %}

<div class="bs-component">
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <a href="{{ path('admin_student_testimonial_index') }}" 
           class="btn btn-primary {{ approute =='admin_student_testimonial_index' ?'active':''}}">
            Etudiants
        </a>
        <a href="{{ path('admin_university_testimonial_index') }}"
           class="btn btn-primary {{ approute =='admin_university_testimonial_index' ?'active':''}}">
            Université
        </a>
        <a  href="{{ path('admin_organization_testimonial_index') }}"
            class="btn btn-primary {{ approute =='admin_organization_testimonial_index' ?'active':''}}">
            Organization
        </a>
    </div>
</div>
