@media (max-width:768px){
    body{
        height: 100%;
    }
    .modal-wrapper {
        padding: 0 !important;
    }
     .modal-container {
        width: 100vw;
        min-height: 100vh;
        border-radius: unset;
    }
    .modal-mask.lg .modal-container {
        max-width: 100% !important;
    }
}