<template>
  <div class="basic-infos-container">
        <div class="title-container">
            <h2 class="title">{{ concept.title}}</h2>
        </div>
        <div class="descripiton-container" v-html="concept.content">
    
        </div>
  </div>
</template>

<script>
export default {
    name: "BasicInfos",
    props: {
        concept: {
            require: true
        }
    }
}
</script>

<style scoped>
    .title {
        color: #3DC5B7;
        font-family: 'NunitoSans-SemiBold';
        font-size: 1.8rem;
    }
    @media (max-width:1250px) {
        .descripiton-container {
            font-size: .8rem;
        }
    }
    @media (max-width:1024px) {
       .title {
            font-size: 1.6rem;
        }
    }
    @media (max-width:991px) {
       .title {
            font-size: 1.4rem;
        }
    }
</style>