<template>
    <div class="cover-card-container">
        <div class="image-wrapper">
            <img :src="cover" />
        </div>
        <div class="dots-container"></div>
    </div>
</template>

<script>
export default {
    name: "CoverCard",
    props: {
        concept: {
            require: true
        }
    },
    data: function(){
        return {
            defaultCover: require('@/assets/img/default_concept.jpg').default
        }
    },
    computed: {
        cover: function(){
            return this.concept.image ? "/uploads/picture/"+this.concept.image : this.defaultCover 
        }
    }
}
</script>

<style scoped>
    .cover-card-container {
        position: relative;
        display: flex;
        justify-content: flex-end;
    }

    .image-wrapper {
        width: 80%;
        border-radius: 10px;
        overflow: hidden;
        z-index: 1;
        box-shadow: 36px 27px 33px #64646457;
    }
    .image-wrapper img {
        min-width: 100%;
    }
    
    .dots-container {
        position: absolute;
        z-index: 0;
        left: 13.5%;
        bottom: -46px;
        background: url('~@/assets/img/dots.svg');
        background-size: 15px;
        width: 150px;
        height: 150px;
    
    }

   
    
    @media (max-width:991px) {
        .dots-container{
            display: none;
        }
        .image-wrapper {
            width: 100%;
        }
    }

    @media (max-width:576px) {
       .cover-card-container {
            margin-top: 1rem ;
            justify-content: center;
        }
    }

</style>