<template>
  <div class="value-container">
      <div class="title-container">
        <h2 class="title">Nos valeurs</h2>
      </div>
     
      <div class="value-list-wrapper">
          <div class="row value-list-container">
              <div class="col-sm-6 col-lg-4 col-xl-3 value-item-grid" v-for="value, index in concept.valeurs" :key="'value-'+index">
                  <ValueItem :title="value.title" :image="getImage(value)" :description="value.text" />
              </div>
          </div>
      </div>
  
  </div>
</template>

<script>
import ValueItem from "./ValueItem.vue"
export default {
    name: "OurValue",
    components: {
        ValueItem
    },

    props: {
        concept: {
            require: true
        }
    },

    data: function(){
        return {
            defaultImage: require("@/assets/img/1.png").default
        }
    },
    methods: {
        getImage: function(value){
            return value.image ? `/uploads/picture/${value.image}` : this.defaultImage
        }
    }
}
</script>

<style scoped>
    .title {
        color: #3DC5B7;
        font-family: 'NunitoSans-SemiBold';
        font-size: 1.8rem;
    }

    .value-list-wrapper {
        margin-top: 2rem;
    }

    @media (max-width:768px) {
        .title{
            font-size: 1.6rem;
        }
    }
</style>