<template>
    <div class="value-item-container">
        <div class="item-thumbnail">
            <img :src="image" />
        </div>
        <div class="item-title-container">
           <h3 class="item-title"> {{ title }} </h3>
        </div>
        <div class="item-description">
           {{ description }}
        </div>
    </div>
</template>

<script>
export default {
    name: "ValueItem",
    props: {
        image: {
            require: true
        },
        title: {
            defaut : ''
        },
        description: {
            default: ''
        }
    }
}
</script>

<style scoped>
    .item-thumbnail{
        height: 15rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .item-thumbnail img{
        width: auto;
        height: 10rem;
    }
    .item-title {
        text-transform: uppercase;
        font-size: 1rem;
        font-family: 'NunitoSans-Bold';
    }

    
    .item-description {
        font-size: .9rem;
    }
    @media (max-width:576px) {
        .value-item-container{
            margin: auto;
            text-align: center;
        }
    }
</style>