<template>
    <div class="student-application-list-wrapper">
        <div class="section section-title">
            <h2>
                {{ student.firstname }} {{ student.lastname }} 
                {{ $t('application.sent_you') }}
                {{ applicationCount }} 
                {{ $t('word.applications') }}
            </h2>
        </div>
        <div class="section student-application--list">
            <div class="list-header-row custom-row">
                <div class="custom-col col-scholarship">
                    {{ $t('scholarship.label.scholarshipName') }}
                </div>
                <div class="custom-col col-level">
                    {{ $t('word.level') }}
                </div>
                <div class="custom-col col-date">
                    {{ $t('application.reception_date') }}
                </div>
                <div class="custom-col col-note">
                    {{ $t('application.application_note') }}
                </div>
                <div class="custom-col col-action">
                    Action
                </div>
            </div>
            <div class="list-content-row custom-row" v-for="application, index in applications.inprogress" :key="'application-'+index">
                <div class="custom-col col-scholarship">
                    {{ application.scholarship.name }}
                </div>
                <div class="custom-col col-level">
                    <div v-if="application.scholarship.granted_level && application.scholarship.granted_level.length" class="level-list">
                        <span v-for="(level, index) in application.scholarship.granted_level" :key="index" class="level-list--item"> 
                            {{ $t("student.level." + level.id) }}
                        </span>
                    </div>
                    <div v-else>
                        <span>{{ $t('word.all') }}</span>
                    </div>
                </div>
                <div class="custom-col col-date">
                    <span class="value">{{ formatDateRender(application.date_apply, local, true) }}</span>
                </div>
                <div class="custom-col col-note">
                    <span class="note-badge" v-if="getAvarageNote(application) > 0">
                        {{ getAvarageNote(application) }}
                    </span>
                    <span v-else class="note-badge--text">
                        Pas de note encore attribué
                    </span>
                </div>
                <div class="custom-col col-action">
                    <button class="action--reject"> 
                        <span>x</span>
                    </button>
                    <button class="action--validate">  
                        <span class="fa fa-check"></span> 
                    </button>
                    <button  class="action--detail" @click="viewApplicationDetail(application)">
                       {{ $t('application.see_application') }}
                    </button>
                </div>
            </div>
            <div class="status-sepparator">
                <label>{{ $t("application.refused") }}</label>
            </div>
            <div class="list-content-row custom-row" v-for="application, index in applications.refused" :key="'application-refused-'+index">
                <div class="custom-col col-scholarship">
                    {{ application.scholarship.name }}
                </div>
                <div class="custom-col col-level">
                    <div v-if="application.scholarship.granted_level && application.scholarship.granted_level.length" class="level-list">
                        <span v-for="(level, index) in application.scholarship.granted_level" :key="index" class="level-list--item"> 
                            {{ $t("student.level." + level.id) }}
                        </span>
                    </div>
                    <div v-else>
                        <span>{{ $t('word.all') }}</span>
                    </div>
                </div>
                <div class="custom-col col-date">
                    <span class="value">{{ formatDateRender(application.date_apply, local, true) }}</span>
                </div>
                <div class="custom-col col-note">
                    <span class="note-badge disabled" v-if="getAvarageNote(application) > 0">
                        {{ getAvarageNote(application) }}
                    </span>
                    <span v-else class="note-badge--text">
                        Pas de note encore attribué
                    </span>
                </div>
                <div class="custom-col col-action">
                    <button  class="action--detail" @click="viewApplicationDetail(application)">
                       {{ $t('application.see_application') }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import StudentService from "@/services/student/StudentService.js"

export default {
    name: 'StudentApplicationList',
    props: {
        student: {
            require: true
        }
    },
    data: function(){
        return {
            applications : {
                'inprogress': [],
                'refused'   : []
            }
        }
    },

    computed: {
        applicationCount: function(){
            return ( this.applications.inprogress.length ) + (this.applications.refused.length)
        }
    },

    methods: {
        getStudentApplications: function(){
            let that = this
                StudentService.getApplications({
                    student      : that.student.id,
                    organization : that.profil.id
                }).then((response) => {
                if(response.data.applications){
                    
                    let array = response.data.applications
                    let applications = {...that.applications}
                    for (let index = 0; index < array.length; index++) {
                        const element = array[index];
                        
                        if(!element.scholarship){
                            continue
                        }
                        
                        if(element.status == 4){
                            applications.refused.push(element)
                        }else{
                            applications.inprogress.push(element)
                        }
                    }
                    that.applications = applications
                    
                }    
            })
        },
        
        viewApplicationDetail: function(application){
            var encoder = require('int-encoder')
            this.$router.push({name:'organization_candidat_detail', params: {id:encoder.encode(application.id)}})
        },

        getAvarageNote: function(application){
            if(application.average_note){
                return (application.average_note).toFixed(1)
            }

            let sheets = application.application_sheets ?? false

            if(sheets && sheets.length > 0){
                let sum = 0
                for (let index = 0; index < sheets.length; index++) {
                    const sheet = sheets[index]
                    sum += sheet.note
                }
                return (sum / sheets.length).toFixed(1)
            }
            
            return '00'
        }
    },
    mounted: function(){
        this.getStudentApplications()
    }
}
</script>

<style lang="scss" scoped>
    .section.section-title 
    {
        margin: 3rem 0;

        h2{
            color: #6196FF;
            font-family: 'NunitoSans-ExtraBold';
            font-size: 1.5rem;
        } 
    } 

    .custom-row {
        display: flex;
        justify-content: space-between;
        color: #3C3850;
        padding: 1rem;
        
        &.list-header-row{
            background: #f0f0f2;
        }
        
        .custom-col {
            display: flex;
            flex: 1;
            align-items: center;
            justify-content: flex-start;
            padding: 0 10px;

            &.col-note {
                max-width: 8rem;
            }
        }
    }

    .list-content-row{
        margin-top: 1rem;
        border-bottom: solid 1px #D0CEDA;
        padding-bottom: 1rem;

        .col-scholarship{
            font-family: 'NunitoSans-Bold';
        }
        
        .col-level, .col-date{
            font-family: 'NunitoSans-SemiBold';
            font-size: 14px;
        }
        .col-level{
            .level-list{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                .level-list--item{
                    &::after{
                        content: ", ";
                    }
                    &:last-child::after{
                        content: unset;
                    }
                }
            }
        }
        .col-note{
            justify-content: center;
            .note-badge {
                background: #1F4171;
                color: white;
                width: 3rem;
                height: 3rem;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                font-size: 1.2rem;
                font-family: 'NunitoSans-Bold';
                &.disabled{
                    background:#D0CEDA;
                }
            }
            .note-badge--text{
                font-size: 14px;
                text-align: center;
            }
            @media (max-width:1360px) {
               .note-badge{
                    width:  2.5rem;
                    height: 2.5rem;
                    font-size: 1rem;
                }
            }

        }

        .col-action {
            button {
                border: none;
                background: none;
                display: flex;
                align-items: center;

                &.action--reject{
                    border: solid 2px #D0CEDA !important;
                    color: #D0CEDA;
                    width: 25px;
                    height: 25px;
                    justify-content: center;
                    border-radius: 50%;
                    font-weight: 900;
                }
                &.action--validate{
                    background: #6196FF;
                    color: white;
                    width: 25px;
                    height: 25px;
                    justify-content: center;
                    border-radius: 50%;
                    margin-left: 10px ;
                }
                &.action--detail{
                    color: #FF7667;
                    margin-left: 1rem;
                }

            }
        }
        @media (max-width:1360px) {
            .col-level, .col-date{
                font-size: 12px !important;
            }
        }

       
    }

    @media (max-width: 1500px) {
        .custom-col.col-level {
            max-width: 8rem;
        }
        .custom-col.col-date{
            max-width: 10rem;
        }
    }
    
    @media (max-width: 1360px) {
        .custom-row .custom-col{
            font-size: 14px;
        }
    }

    @media(max-width:1180px) {
        .col-level{
            display: none !important;
        }   
    }


    .status-sepparator {
        margin-top: 6rem;
        color: #D0CEDA;
        margin-bottom: 0;
        border-top: solid 1px #D0CEDA;
        position: relative;
        text-align: center;
        label {
            margin-top: -1rem;
            position: absolute;
            top: 0;
            left: 45%;
            background: white;
            max-width: fit-content;
            font-family: 'NunitoSans-Bold';
            padding: 0 15px;
        }
    }



</style>