<template>
    <div class="template-fragment">
        <div class="section section-content">
            <div class='col-item item-description'>
                <div class="item-description-logo">
                    <img :src="studentAvatar">
                </div>
                <div class="item-description-student">
                    <p class="student-name">{{ student.firstname }} {{ student.lastname }}</p>
                    <p class="student-sexe">
                        <i v-if="'woman'    == student.sexe" class="fa fa-venus"></i>
                        <i v-else-if="'man' == student.sexe" class="fa fa-mars"></i>
                        <i v-else class="fa fa-transgender"></i>
                        <span class="student-age"> {{ getAge(student.date_of_birth) }} {{ $t('word.years_old') }}</span>
                    </p>
                </div>
            </div>
            <div class="col-item  item-organization">
                <div class="item-organization--adresse">
                    {{  studentCountry }} , {{ studentCity }}
                </div>
                <div class="item-organization--name">
                    {{ $t('word.university') }}
                </div>
            </div>
            <div class="col-item  item-actions">
                <DefaultButton className="style4 mr-2" id="application-accept-btn" :text="$t('student.profil.view_detail')" @click.native="viewProfil" />
                <DefaultButton className="outline2"    id="application-reject-btn" :text="$t('word.contact')"      @click.native="showConfirmReject" />
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'StudentSummary',
    props: {
        student: {
            require: true
        }
    },
    computed: {
        studentCity: function(){
            let addressePart = this.student.adress.split(',')
            return addressePart[addressePart.length -2];
        },
        studentCountry: function(){
            let addressePart        = this.student.adress.split(',')
            return addressePart[addressePart.length -1];
        },
        studentAvatar: function(){
            let sAvatar = this.student.avatar
            return sAvatar ? '/uploads/avatar/'+sAvatar : this.defaultAvatar
        }
    },

    methods: {
        getAge: function (dateString){
            var today = new Date();
            var birthDate = new Date(dateString);
            var age = today.getFullYear() - birthDate.getFullYear();
            var m = today.getMonth() - birthDate.getMonth();
            if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate()))
            {
                age--;
            }
            return age;
        },
        viewProfil: function(){
            var encoder = require('int-encoder')
            let id = encoder.encode(this.student.id)
            this.$router.push({name: 'student_profil_public', params:{id}})
        }
    }
}
</script>

<style scoped>
    .section.section-title{
        margin-top: 2rem;
    }
    .section.section-title h2 {
        color: #6196FF;
        font-family: 'NunitoSans-Bold';
        font-size: 1.5rem;
        text-transform: capitalize;
    }
    .section-content {
        display: flex;
        align-items: center;
        margin-top: 2rem;
        position: relative;
    }

    .item-description {
        width: fit-content;
        display: flex;
        align-items: center;
        margin-right: 5rem;
    }
    .item-description-logo {
        max-width: 5rem;
        margin-right: 1rem;
    }
    .item-description p {
        margin: 0;
    }

    .item-description-student{
        color: #3C3850;
    }

    .item-description-student .student-name {
        font-family: 'NunitoSans-ExtraBold' !important;
        font-size: 1.5rem;
        margin-bottom: 8px;
    }
    
    .item-description-student .student-sexe,
    .item-organization {
        font-size: 1.2rem;
        color: #3C3850;
    }

    .item-organization--adresse{
        margin-bottom: 8px;
    }
    .item-organization--name {
        font-family: 'NunitoSans-SemiBold';
    }

    .item-actions {
        position: absolute;
        right: 0;
    }

    @media (max-width:1500px) {
        .section.section-title h2{
            font-size: 1.3rem;
        }
        .section-content {
            margin-top: 1.5rem;
        }

        .item-description{
            margin-right: 2rem;
        }
        .student-name {
            max-width: 20rem;
            font-size: 1.2rem !important;
        }
        .item-description-student .student-sexe, 
        .item-organization{
            font-size: 1rem !important;
        }

         .col-item.item-actions button {
            font-size: 14px;
            padding: 0 2rem;
            min-height: 45px;
        }
        
    }
</style>
