<template>
    <default-layout>
        
        <div slot="content" class="student-application-detail-template" v-if="student">
            <div class="section section-breadcrumbs">
                <span class="link" @click="goToList"> {{ $t('application.applications_received') }} > </span>
                <span class="active">{{ $t('application.application_detail') }}</span>
            </div>
            <div class="student-summary--wrapper">
                <student-summary :student="student" />
            </div>
            <div class="application-list--summary">
                <div v-if="student">
                    <StudentApplicationList :student="student" />
                </div>
                <div class="loader-container" v-else>
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </default-layout>
</template>

<script>
import StudentService from "@/services/student/StudentService.js"
import StudentSummary from "./StudentSummary.vue"
import StudentApplicationList from "./StudentApplicationList.vue"

export default {
    name : 'StudentApplicationDetail',
    data: function () {
        return {
            student : false
        };
    },
    components: {
        StudentSummary,
        StudentApplicationList
    },
    methods: {
        getRequestedStudent: function(){
            let that = this
            var encoder = require('int-encoder')
            let id = encoder.decode(that.$route.params.id)
            let params = {
                max : 1,
                criteria: {
                id  : id
                }
            }

            StudentService.getSearchResult(params).then(
                (response) => {
                    if(response.data.students){
                        that.student = response.data.students
                    }
                }
            )
        },
        goToList: function(){
            this.$router.push({name:'organization_candidat_list'})
        },
    },
    mounted: function(){
        this.getRequestedStudent()
    }   
}
</script>

<style scoped>
    .student-application-detail-template{
        padding: 2rem;
    }
</style>