<template>
    <div class="admin-bot--wrapper">
        <div class="conversation-list--container">
            <conversation-list @switch="switchConversation" :conversations="conversations" :conversation="conversation"/>
        </div>
        <div class="chat-list--container">
            <template v-if="conversation">
                <div class="item-conversation-control">
                    <conversation-controls :conversation="conversation" @deleted="getConversationList()" />
                </div>
                <div class="item-chat-list" id="admin-bot-messagelist-container">
                    <chat-list :conversation="conversation" :botUser="botUser"/>
                </div>
                <div class="item-chat-form">
                    <chat-form :conversation="conversation" :botUser="botUser" />
                </div>
            </template>
        </div>
    </div>
</template>

<script>
import ConversationList     from "./parts/ConversationList.vue"
import ChatList             from "./parts/ChatList.vue"
import ChatForm             from "./parts/ChatForm.vue"
import BotService           from "@/services/bot/BotService.js"
import ConversationItem     from './parts/ConversationItem.vue'
import ConversationControls from './parts/ConversationControls.vue'

export default {
    components: {
        ConversationList,
        ChatList,
        ChatForm,
        ConversationItem,
        ConversationControls
    },

    data: function(){
        return {
            conversations : [],
            conversation  : false,
            botUser       : false
        }
    },

    methods: {
        /**
         *  Switch between available conversation
         * 
         *  @param  {Object} conversation
         *  @return void
         */
        switchConversation: function(conversation){
            this.conversation = conversation
        },

        /**
         * Fetch conversation list 

         * @return void
         */
        getConversationList: function(){
            let that = this
            BotService.getAllConversation().then(
                (response) => {
                    let array         = response.data.conversations
                    let conversations = []
                    for (let index = 0; index < array.length; index++) {
                        const element = array[index]

                        let user      = that.findUser(element.participants)
                        let nConversation = {
                            id   : element.id,
                            slug : element.slug,
                            user : user,
                            messages: element.messages
                        }
                        conversations.push(nConversation)
                    }
                    that.conversations = conversations
                    that.conversation = conversations[0]
            })
        },

        /**
         * Find and create participant Object throught the conversation pariticipant list
         * 
         * @param  {Array} participants
         * @return {Object} 
         */
        findUser: function(participants){
            for (let index = 0; index < participants.length; index++) {
                const participant = participants[index]
                if(!participant.user){
                    return {
                       id     : participant.id,
                       pseudo : participant.pseudo,
                       uid    : participant.uid
                    }
                }
            }
        },

        /**
         * Listen all conversation topic event 
         * 
         * @return void 
         */
        bindResponseListner(){
            const MERCURE_SUBSCRIBER_URL = process.env.MERCURE_PUBLIC_URL 
            let topic                    = `${process.env.VUE_APP_FRONT_URL}/bot-conversation/{slug}`
            let url                      = new URL(MERCURE_SUBSCRIBER_URL)

            let conversation            
            url.searchParams.append('topic', topic);
            const eventSource = new EventSource(url);

            let that = this
            eventSource.onmessage = (evt) => {
                const data = JSON.parse(evt.data)
                that.onNewMessage(data)
            }
        },

        /**
         * Handle new message event 
         * 
         * @param  {Object} message
         * @return void 
         */
        onNewMessage:function(message){
            let conversationIndex = this.conversations.findIndex(item => item.id === message.conversation.id)

            if(conversationIndex >= 0){
                this.conversations[conversationIndex].messages.push(message)
                let cloneConversation = {...this.conversations[conversationIndex]}
                this.conversations.splice(conversationIndex, 1)

                this.conversations = [
                    cloneConversation,
                    ...this.conversations
                ]
            }
        },

        /**
         * Fetch and update botUser Object  
         * 
         * @return void 
         */
        getBotUser: function(){
            let that = this
            let user = JSON.parse(localStorage.getItem('les-grimpeurs-bot-admin-user'))
            if(!user){
                BotService.getAdminUserData().then(
                    (response) => {
                        if(response.data.success){
                            that.botUser = response.data.participant
                            localStorage.setItem('les-grimpeurs-bot-admin-user', JSON.stringify(that.botUser))
                        } 
                    }
                )
                return 
            }
            this.botUser = user
        },
    },

    mounted: function(){
        this.getBotUser()
        this.getConversationList()
        this.bindResponseListner()
    }
    
}
</script>

<style lang="scss" scoped>
    .admin-bot--wrapper{
        background: white;
        display: flex;
        min-height: 80vh;
        
        .conversation-list--container {
            border-right: solid 1px #D3D3D3;
        }
        .chat-list--container {
            flex: 1;
            padding: 2rem;
            display: flex;
            flex-direction: column;
        }

        .item-chat-list {
            flex: 1;
            max-height: 60vh;
            overflow: auto;
            -ms-overflow-style: none;
            scrollbar-width: none; 
            &::-webkit-scrollbar {
               display: none;
            }
        }
    }
</style>
