<template>
  <div>
    <div v-if="scholarship" class="scholarship-item-grid">
        <div class="icon-action" v-if="diplayShareActions">
          <span> 
            <ScholarshipBlacklistBtn 
                v-if="scholarship.id" 
                :scholarship="scholarship.id" 
                v-on:remove="$emit('remove')"
            /> 
          </span>
          <span>
            <ScholarshipFavoriteBtn 
              v-if="scholarship.id" 
              :scholarship="scholarship.id" 
              v-on:removeFavorite="$emit('removeFavorite')"
              />
          </span>
          <span>            
            <ScholarshipShareBtn  v-if="scholarship.id" :scholarship="scholarship" />
          </span>
        </div>
        <div class="card-thumbnail">
          <img class="item-img" :src="scholarship.logo ?'/uploads/logo/'+scholarship.logo : image.defaultLogo ">
        </div>
        <div class="card-content" @click="viewDetail">
          <p class="item-title">{{ scholarship.name }}</p>
          <p class="item-adress">{{ scholarshipCountry }}</p>
          <p class="item-autre">{{ scholarshipCity }}</p>
        </div>

        <div class="card-footer" @click="viewDetail">
            <div class="card-footer-item">
              <label>Montant</label>
              <p>
                <span>{{ (scholarship.amount) }}</span>
                <span v-if="scholarship.currency" :class="currencySigle"></span>
              </p>
            </div>
            <div class="card-footer-item">
              <label>DATE LIMITE</label>
              <p class="value" v-if="scholarship.candidature_limit">{{ formatDateRender(scholarship.candidature_limit, local, true) }}</p>
              <p class="value-text" v-else>{{ $t('scholarship.label.dateLimitCandidatureCb') }}</p>
            </div>
            <div class="card-footer-item">
              <label>Niveau</label>
              <p v-if="scholarship.granted_level && scholarship.granted_level.length">
                  <span v-for="(item, index) in scholarship.granted_level" :key="item.id" class="d-block">
                    {{ item.name }}
                    <i v-if="index !== $t(scholarship.granted_level.length - 1)" class="mr-1"></i>
                  </span>
              </p>
              <p v-else>{{ $t('word.all') }}</p>
            </div>
        </div>      
    </div>

    <div v-else class="scholarship-item-grid-loader">
      <div class="spinner-grow" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

  </div>
</template>
<script>
  import ScholarshipFavoriteBtn from "@/components/common/ScholarshipFavoriteBtn.vue"
  import ScholarshipBlacklistBtn from "@/components/common/ScholarshipBlacklistBtn.vue"
  import ScholarshipShareBtn from "@/components/common/ScholarshipShareBtn.vue"
  export default {
    name : "ScholarshipItemGrid",
    components : { 
      ScholarshipFavoriteBtn,
      ScholarshipBlacklistBtn,
      ScholarshipShareBtn
    },
    props : {
      diplayShareActions : {
        default : true
      },
      scholarship: { 
        default : false
      }
    },
    data : function(){
      return {
        image : {
          "defaultLogo" : require("@/assets/img/image.svg").default
        }
      }
    },
    computed: {
        scholarshipCity: function(){
            let addressePart = this.scholarship.contact_adresse.split(',')
            return addressePart[addressePart.length -2];
        },
        scholarshipCountry: function(){
            let addressePart        = this.scholarship.contact_adresse.split(',')
            return addressePart[addressePart.length -1];
        },
        currencySigle: function(){
              return ('curency-sigle fa fa-' + this.scholarship.currency.code).toLowerCase()
        }
    },
    methods : {
        viewDetail(){
          this.$router.push( { name : 'scholarship_page', params : {slug: this.scholarship.slug}})
        }
    }
  }
</script>
<style scoped>

  .scholarship-item-grid {
      max-width: 23rem;
      border-radius: 10px;
      position: relative;
      cursor: pointer;
      padding-bottom: 15px;
      background: #FFFFFF 0% 0% no-repeat padding-box;
      box-shadow: 0px 9px 3px #D3D3D38A;
      border: 1px solid #E9E9E9;
  }

  .scholarship-item-grid img.item-img {
    object-fit: contain;
  }

  .scholarship-item-grid .icon-action {
      display: flex;
      flex-direction: column;
      position: absolute;
      right: 15px;
      top: 15px;
  }
  .scholarship-item-grid .icon-action span {
      margin-top: 2% ;
  }

  .scholarship-item-grid .card-thumbnail {
      height: 120px !important;
      display: flex;
      justify-content: center;
      max-width: 70%;
      margin: auto;
      margin-top: 2rem;
  }


  .scholarship-item-grid .card-content {
      border-bottom: 1px solid #EFF1FF;
      text-align: center;
      margin: 0 2rem;
      height: 10rem;
      overflow: hidden;
  }

  .scholarship-item-grid .item-title {
      padding-bottom: .5rem;
      padding-top: 2rem;
      font-size: 21px;
      font-weight: normal !important;
      max-width: 100%;
      line-height: 1.2;
      margin: 0 auto !important;
      font-family: 'NunitoSans-SemiBold' !important;
      color: #000000;
  }

  .scholarship-item-grid .item-adress ,  
  .card-footer p{
      font-weight: normal !important;
      color: #3C3850;
  }
  .scholarship-item-grid .item-adress {
      height: 25px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      margin-bottom: 5px;
      color: #3C3850;
    }

  .scholarship-item-grid .item-autre {
      font-weight: normal !important;
      font-size: 13px;
      line-height: 1;
      color: #3C3850;
  }

  .card-footer {
      display: flex;
      justify-content: space-between;
      margin-top:5%;
      height: 6rem;
      overflow: hidden;
      flex : 30;
      background-color: unset !important;
      border-top: unset !important;
  }

  .card-footer .card-footer-item {
      flex: 1;
      text-align: center;
      font-weight: normal;
  }
  .card-footer .card-footer-item label {
      color: #D3D3D3;
      font-size: 10px;
      text-transform: uppercase;
  }

 .card-footer .card-footer-item  p{
    font-size: 13px;
    color: #3C3850 !important;
    font-family: 'NunitoSans-SemiBold' !important;
    line-height: 18px;
  }
  
  .curency-sigle{
      font-weight: 100 !important;
      margin-left: -3px;
      color: #000000ad !important;
  }


  @media(max-width:1500px){
    .scholarship-item-grid .card-thumbnail {
      height: 100px !important;
    } 

    .scholarship-item-grid .card-content{
      margin: 0 1.2rem;
      height: 8rem;
    }

    .scholarship-item-grid .item-title{
      font-size: 18px;
    }
    
    .scholarship-item-grid .item-adress{
      font-size: 13px;
    }


    .scholarship-item-grid .item-autre,
    .card-footer p {
      font-size:12px !important;
    }
    .scholarship-item-grid .icon-action{
          width: 15px;
    }
  }

  @media (max-width: 1025px){
    .card-footer p {
        font-size: 10px !important;
    }
    .scholarship-item-grid img.item-img {
        height: 90px !important;
    }
}
  @media (max-width: 768px){
    .scholarship-item-grid .card-content, 
    .scholarship-item-grid .card-footer
    {
      height: unset !important;
    }
}
</style>
<style>
  .scholarship-item-grid .icon-action img{
    width: 16px !important;
    min-width: 16px !important;
  }
</style>