<template>

    <div class="item-large">
          <div class="row">
              <div class="col-sm-11">
                  <router-link v-bind:to="link">
                      <div class="row">
                          <div class="col-sm-3 logo-wrapper">
                              <img :src="baseUrl+scholarship.logo" class="logo">
                          </div>
                          <div class="col-sm-4 desc-wrapper">
                              <h5 class="title">{{scholarship.name}}</h5>
                              <div class="description">
                                  <p class="item description--country">{{scholarshipCountry}}</p>
                                  <p class="item description--city">{{scholarshipCity}}</p>
                              </div>
                          </div>
                          <div class="col-sm-5 desc-wrapper">
                              <table class="custom-table">
                                  <colgroup>
                                    <col span="1" style="width: 40%;" />
                                    <col span="1" style="width: 35%;" />
                                    <col span="1" style="width: 25%;"/>
                                </colgroup>
                                <thead>
                                    <tr class="custom-table--tittle">
                                        <th>Montant</th>
                                        <th>Date limite</th>
                                        <th>Niveau</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="item-amount">
                                            <span>{{ (scholarship.amount) }}</span>
                                            <span v-if="scholarship.currency" :class="currencySigle"></span>
                                        </td>
                                        <td class="item-date">
                                            <p class="value" v-if="scholarship.candidature_limit">{{ formatDateRender(scholarship.candidature_limit, local, true) }}</p>
                                            <p class="value-text" v-else>{{ $t('scholarship.label.dateLimitCandidatureCb') }}</p>    
                                        </td>
                                        <td class="item-level">
                                            <div v-if="scholarship.granted_level && scholarship.granted_level.length">
                                                <p v-for="(level, index) in scholarship.granted_level" :key="index">
                                                    {{ $t("student.level." + level.id) }}
                                                </p>
                                            </div>
                                            <div v-else>
                                                <p>{{ $t('word.all') }}</p>
                                            </div>

                                        </td>
                                    </tr>
                                </tbody>
                              </table>
                          </div>
                      </div>
                  </router-link>
              </div>
              <div class="col-sm-1 actions-wrapper">
                  <div class="actions remove">
                    <div class="item"> 
                        <ScholarshipBlacklistBtn 
                            v-if="scholarship.id" 
                            :scholarship="scholarship.id" 
                            v-on:remove="$emit('remove')"
                        /> 
                    </div>
                    <div class="item favoris">
                        <ScholarshipFavoriteBtn 
                            v-if="scholarship.id" 
                            :scholarship="scholarship.id" 
                            v-on:removeFavorite="$emit('removeFavorite')"
                        />
                    </div>
                    <div class="item share">            
                        <ScholarshipShareBtn  v-if="scholarship.id" :scholarship="scholarship" />
                    </div>
                  </div>
              </div>
          </div>
    </div>

</template>
<script>
    import ScholarshipBlacklistBtn from "@/components/common/ScholarshipBlacklistBtn.vue"
    import ScholarshipFavoriteBtn from "@/components/common/ScholarshipFavoriteBtn.vue"
    import ScholarshipShareBtn from "@/components/common/ScholarshipShareBtn.vue"
    export default {
        name   : 'ItemLarge',
        components : {
            ScholarshipBlacklistBtn,
            ScholarshipFavoriteBtn,
            ScholarshipShareBtn
        },
        props  : {
            logo : {
                type : String,
                default : require("@/assets/img/image.svg").default,
            },
            scholarship: {
                type : Object
            }
        },
        data : function(){
            return {
                baseUrl: window.location.protocol + '//' + window.location.host + '/uploads/logo/',
                link: "/scholarship/" + this.scholarship.slug,
                scholarshipCity: null,
                scholarshipCountry: null
            }
        },
        computed: {
            currencySigle: function(){
                return ('curency-sigle fa fa-' + this.scholarship.currency.code).toLowerCase()
            }
        },
        filters: {
            'toFrenchDate': function (value) {
                const date = new Date(value)
                //const formatter = new Intl.DateTimeFormat('fr-FR');
                return date.toLocaleDateString("fr-FR", {day:"2-digit",month:"short", year:"numeric"});
            }
        },
        methods: {
            setScholarshipCity: function(){
                let addressePart = this.scholarship.contact_adresse.split(',')
                this.scholarshipCity = addressePart[addressePart.length -2];
            },
            setScholarshipCountry: function(){
                let addressePart        = this.scholarship.contact_adresse.split(',')
                this.scholarshipCountry =  addressePart[addressePart.length -1];
            }
        },
        mounted: function(){
            this.setScholarshipCity();
            this.setScholarshipCountry();
        }
    }
</script>
<style scoped>
.item-large {
    margin: 5px 5px 20px 5px;
    border-radius: 10px;
    padding: 0 0 0 15px;
    box-shadow: 0px 9px 3px #64646424;
    border: 1px solid #E9E9E9;
}

.item-large .actions {
    background: #F3F3F3;
    min-height: 100%;
    text-align: center;
    width: 60px;
    align-items: center;
    float: right;
    padding-top: 1rem;
    border-radius: 0px 10px 10px 0px;
}

.item-large .logo-wrapper {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
}
.item-large .logo {
    height: 150px;
    margin: auto;
    border-radius:15px;
}
.item-large .custom-table {
    width:100%
}
.item-large .custom-table th {
        border-bottom: solid 2px #D3D3D3;
    padding: 10px 0;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 0px;
    color: #D3D3D3;
}
.item-large .custom-table td {
    color: #595959;
    vertical-align: initial;
    padding-top: 10px;
}
.item-large .desc-wrapper{
    padding: 0;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.actions button{
    border:none;
    color:#888888;
    margin-bottom: 10px;
}
.item-large h5.title {
    color: #3C3850;
    width: 80%;
    font-family: 'NunitoSans-Bold' !important;
    margin-bottom: 0;
}

.item-large .description .city {
    font-size:0.8em
}

.presentation-large .icon-favorite {
    margin-bottom: 12px;
    margin-right: 10px;
}
.item-large .actions button i{
        font-style: unset !important;
}
.actions .item {
    width: 100%;
    margin-bottom: 10px;
}
.actions .item.favoris {
    padding-left: 10px;
}
.col-sm-5.desc-wrapper:before {
    content: "";
    height: 80%;
    width: 1px;
    position: absolute;
    left: -11%;
    background: #D3D3D3;
}
.custom-table .item-level p {
    margin:  0;
}

.custom-table .description .item {
    display: block;
}

.custom-table .description .item {
    display: block;
}
.custom-table .description .item.description--country {
    font-family: 'NunitoSans-SemiBold' !important;
}

.item-large .custom-table td{
    color: #3C3850;
}
.curency-sigle{
    font-weight: 100 !important;
    margin-left: -3px;
    color: #000000ad !important;
}


.item-large h5.title {
    width: 85%;
}
@media (min-width:1400px){
    .col-sm-5.desc-wrapper:before {
        left: -11ch;
    }
}

@media (max-width:1400px){
    .item-large h5.title {
        font-size: 1.1rem;
    }
    .item-large .custom-table td{
        font-size: 14px;
    }
}
@media (max-width:1200px){
    .col-sm-5.desc-wrapper:before {
        left: -3ch;
    }
    .item-large h5.title {
        font-size: 1rem;
    }
}
.presentation-large .description{
    line-height: 1;
    margin-top: 1.5rem;
    color: #3C3850 !important;
}
.description--country {
    margin-bottom: 7px;
}
.description--city {
    font-size: 14px !important;
}

@media (min-width:1401px){
    .item-large h5.title {
        width: 75%  !important;
    }
}
@media (max-width:1500px){
    .item-large .logo{
        height: 120px;
    }
}
@media (max-width:1200px){
    .item-large .logo{
        height: 100px;
    }
    .item-large .custom-table td{
        font-size: 12px;
    }
}

@media (max-width:1025px){
    .presentation-large h5.title{
        font-size: 14px;
    }
    .presentation-large .description label{
        font-size: 14px;
    }
    .item-large .custom-table td {
        font-size: 10px;
    }
    .item-large .actions {
        width: 38px;
    }
    .item-large .desc-wrapper {
        padding-left: 0.75rem;
    }
}

</style>
<style>
    .item-large .actions-wrapper .actions .item img {
        width: 15px !important;
        max-width: 15px !important;
        min-width: 15px !important;
    }
</style>