<template>
  <div class="press-filter-wrapper">
      <ul class="press-yars-filter">
        <li class="filter-item" @click="switchOption(false)">
            <span :class=" !selectedOption ? 'active':''" >
                {{ $t('word.all') }}
            </span> 
        </li>
        <li class="filter-item" v-for="option, index in options" :key="'option-'+index"  @click="switchOption(option)">
            <span :class="option == selectedOption ? 'active':''" >
                {{ option }}
            </span> 
        </li>  
      </ul>
  </div>
</template>

<script>
export default {
    name:"PressFilter",
    data: function(){
        return {
            selectedOption: false
        }
    },
    computed: {
        options: function(){
            let y   = new Date().getFullYear()
            let min = 2017
            let options = []
            for ( y ; y > min ; y--) {
                options.push(y)
            }
            return options
        }
    },
    methods: {
        switchOption: function(option){
            this.selectedOption = option
        }
    },

    watch: {
      selectedOption: {
          handler: function(val){
            this.$emit('change', val)
          }
      }  
    },
    mounted: function(){
         this.$emit('change', this.selectedOption)
    }


}
</script>

<style scoped>
    .filter-item {
        display: inline;
        font-size: 1.2rem;
        font-family: 'NunitoSans-SemiBold';
        margin-right: 4rem;
        color: #D3D3D3;
        position: relative;
        cursor: pointer;
    }
    .filter-item:not(:first-child):before{
        content: "";
        width: 10px;
        height: 10px;
        background: #D3D3D3;
        border-radius: 50%;
        position: absolute;
        display: block;
        top: 7px;
        left: -2rem;
    }
    .filter-item .active{
        color: #3C3850 !important;
    }
</style>