<template>
    <div class="press-header-wrapper">
        <h2 class="title">{{ $t('page.presse.title_presse') }}</h2>
        <p class="subtitle">{{ $t('page.presse.message_presse') }}</p>
    </div>
</template>

<script>
export default {
    name: 'PressHeader'
}
</script>

<style>

.press-header-wrapper .title {
    text-align: left;
    letter-spacing: 0px;
    color: #3DC5B7;
    opacity: 1;
    font-family: 'NunitoSans-SemiBold';
}

.press-header-wrapper .subtitle {
    text-align: left;
    letter-spacing: 0px;
    color: #3C3850;
    opacity: 1;
    font-size: 18px;
    font-family: NunitoSans-Regular !important;
}
</style>