<template>
    <div class="press-item-grid">
        <div class="press-item-grid-container">
            <div class="left-item">
                <label class="magazine">{{  press.magazine}}</label>
                <p class="press-title"> {{  press.title   }}</p>
            </div>
            <div class="right-item">
                <span class="press-date">{{ formatDateRender(press.date, local) }}</span>
                <a @click.prevent="download(press.id)" class="download-link">{{ $t('word.download') }}</a>
            </div>
        </div>
    </div>
</template>

<script>
import PostService from "@/services/post/PostService.js"
export default {
    name: 'PressItem',
    props: {
        press: {
            require: true
        }
    },
    methods: {
        download: function(id){
            PostService.download(id)
        }
    }
}
</script>

<style scoped>
    .press-item-grid-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .magazine {
        color: #3C3850;
        font-size: 1.2rem;
        font-family: 'NunitoSans-Bold';
    }
    
    .press-title {
        padding: 0;
        margin: 0;
    }

    .press-item-grid {
        background: #F3F4F5 0% 0% no-repeat padding-box;
        border: 1px solid #D3D3D3;
        opacity: 0.7;
        padding: 1rem;
        border-radius: 10px;
    }


    .press-date {
        display: block;
        color: #D3D3D3;
        font-family: 'NunitoSans-SemiBold';
    }

    .right-item {
        text-align: right;
    }

    .download-link {
        color: #FF7667 !important;
        font-family: 'NunitoSans-SemiBold' !important;
    }

</style>