<template>
    <div class="list-wrapper">
        <div class="row press-list-container">
            <div class="press-list-container-item col-lg-6" v-for="post, index in posts" :key="'post-'+index">
                <PressItem :press="post" />
            </div>
        </div>
    </div>
</template>

<script>
import PressItem from "./PressItem.vue"
import PostService from "@/services/post/PostService.js"
export default {
    name: 'PressList',
    components: {
        PressItem
    },
    props: {
        params: {
            require: true
        }
    },
    data: function(){
        return {
            posts   : [],
        }
    },
    methods: {
        getPress: function(){
            let that = this
            PostService.get(that.params).then(
                (response) => {
                    that.posts = response.data.posts
                }
            )
        }
    },
    watch:{
        params: {
            deep: true,
            handler: function(){
                this.getPress()
            }
        }
    } 
        
}
</script>

<style scoped>
    .press-list-container-item{
        margin-bottom: 2rem;
    }
</style>