<div class="preference-field-group">
    <div class="row">
        <div class="col-lg-10" data-toggle="tooltip" data-placement="top" title="{{ preference.desc }}">
            <label>
                {{ preference.label }} 
                <a class="ml-1" data-toggle="tooltip" data-placement="top" title="{{ preference.desc }}">
                        <i class="fa fa-info-circle"></i>
                </a>
            </label>
            <input class="form-control" name="{{ preference.key }}" value="{{ preference.value|default('') }}"> 
        </div>
        <div class="col-2">
            <label data-toggle="tooltip">
                Lang
            </label>
            <select name="{{ preference.key }}_lang" class="form-control">
                <option value="fr" {{ app.request.locale == 'fr' ? 'selected' : '' }}>
                    {% trans %}Francais{% endtrans %}
                </option>
                <option value="en" {{ app.request.locale == 'en' ? 'selected' : '' }}>
                    {% trans %}Anglais{% endtrans %}
                </option>
            </select>
        </div>
    </div>
</div>