<template>
  
  <div class="avatar-container" ref="avatarContainer">
    <img  :src="avatar" alt="Avatar" class="image avatar" ref="avatarImage"/>
    <div class="overlay desktop-only" v-if="context=='private'">
      <span id="icon-photo">
        <img :src="icon_camera" />
      </span>
      <span id="label-change-picture" @click="$emit('editAvatar')">
        {{$t('student.profil.page_info2')}} 
      </span>
    </div>


    <div class="actions mobile-only d-none" v-if="context=='private'">
      <button class="btn btn-edit" id="icon-photo">
        <img :src="icon_pencil_gray" />
      </button>
      <button class="btn btn-cam" @click="$emit('editAvatar')">
        <img :src="icon_camera_gray" />
      </button>
    </div>
  </div>
</template>
<script>
export default {
  name: "UserAvatar",
  props: {
    user: {
      require: true
    },
    context: {
      default: 'private'
    }
  },
  data: function(){
    return {
      photo_profil: require("@/assets/img/profil.png").default,
      icon_camera: require("@/assets/img/icon-cam.svg").default,
      icon_camera_gray: require("@/assets/img/icon-cam-gray.svg").default,
      icon_pencil_gray: require("@/assets/img/icon-pencil-gray.svg").default,
      defaultAvatar: require("@/assets/img/default-student-avatar.svg").default,
    }
  },
  computed: {
    avatar : function(){
      return this.user.avatar !== null &&  this.user.avatar !== undefined ? '/uploads/avatar/' + this.user.avatar : this.defaultAvatar
    },
    
  },
  mounted: function(){
   
  }
}
</script>
<style scoped>
  .avatar-container {
      position: relative;
      width: 100%;
      max-width: 18rem;
      border: 1px double #F8F8F8;
      border-radius: 8px;
      overflow: hidden;
      background: #BCE9E5;
      text-align: center;
  }
  .avatar-container:hover .overlay {
    opacity:1;
  }

  /* The overlay effect - lays on top of the container and over the image */
  .avatar-container .overlay {
    position: absolute;
    bottom: 0;
    background: #98a3a7d9;; /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:.8;
    color: white;
    font-size: 20px;
    padding: 5% 2% 5% 2%;
    text-align: center;
    border-radius: 0 0 5px 5px;
  }

  #label-change-picture {
    font-size:13px;
    cursor: pointer;
  }

  @media (max-width: 1250px){
      #label-change-picture {
        font-size:12px;
      }
      .desktop-only #icon-photo img{
        width: 22px;
      }
  }

  /*** mobile */
  @media (max-width: 768px){

    .avatar-container {
        max-width: 15rem;
        overflow: unset;
        background: unset;
    }
    .avatar{
       border-radius: 50%;
    }
    .avatar-container:hover .overlay {
      opacity:0;
    }

    .actions .btn {
      background: #EDEDED 0% 0% no-repeat padding-box;
      box-shadow: 0px 5px 0px #D3D3D3;
      width: 55px;
      height: 55px;
      border-radius: 50%;
    }
    .actions.mobile-only {
        display: flex !important;
        align-items: center;
        justify-content: space-evenly;
        position: absolute;
        width: 100%;
        bottom: 0px;
    }
  }
</style>