<template>
  <NoSidebar>
    <div class="banner-elements" slot="banner">
      <div class="banner-element-slug">
        <h1 id="titre-banner" v-html="$t('organization.home.title-banner')"></h1>
        <p id="sous-titre-banner" class="sous-titre-banner">
          Phasellus suscipit, massa quis accumsan <br>consectetur vitae fringilla nunc ipsum a
          quam.
        </p>
      </div>
      <div slot="recap-search">
        <a href="#" id="bouton-banner" @click.prevent="inscription">{{ $t("word.join-us") }} !</a>
      </div>
    </div>
    <!--Contenu unique organization-->
    <div slot="content">
      <div class="fake-wave-separator-container">
        <div class="fake-wave-separator"></div>
      </div>
      <div class="bg-white">
         <div class="containeur-activite-eleve">
        <div class="containeur-activite-eleve--child">
          <div class="element-activite">
            <div class="image-activite" id="image-activite-1">
              <img :src="require('@/assets/img/1.png').default" />
            </div>
            <div class="description-activite" id="description-activite-1">
              <h2 class="titre">{{ $t("organization.home.title-descritpion_1") }}</h2>
              <p class="apercu-description-activite">
                "{{ $t("organization.home.title-description-detail_1") }}"
              </p>
              <a href="#" class="bouton-voir-activite" @click.prevent="inscription">{{
                $t("organization.home.btn_voir_active_1")
              }}</a>
            </div>
          </div>
        </div>
        <div class="custom-conteneur">
          <div class="element-activite" id="custom-marge">
            <div class="image-activite" id="image-activite-2">
              <img :src="require('@/assets/img/2.png').default" />
            </div>
            <div class="description-activite" id="description-activite-2">
              <h2 class="titre">{{ $t("organization.home.title-descritpion_2") }}</h2>
              <p class="apercu-description-activite">
                "{{ $t("organization.home.title-description-detail_2") }}"
              </p>
              <a href="#" class="bouton-voir-activite" @click.prevent="inscription">{{ $t("word.discover") }}</a>
            </div>
          </div>
        </div>
        <div class="containeur-activite-eleve--child">
          <div class="element-activite">
            <div class="image-activite" id="image-activite-3">
              <img :src="require('@/assets/img/3.png').default" />
            </div>
            <div class="description-activite" id="description-activite-3">
              <h2 class="titre">{{ $t("organization.home.title-descritpion_3") }}</h2>
              <p class="apercu-description-activite">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec est sed
                orci blandit imperdiet. Nam pretium, odio id tempus mattis.
              </p>
              <a href="#" class="bouton-voir-activite" @click.prevent="inscription">{{ $t("word.discover") }}</a>
            </div>
          </div>
          <div class="element-activite">
            <div class="image-activite" id="image-activite-4">
              <img :src="require('@/assets/img/4.png').default" />
            </div>
            <div class="description-activite" id="description-activite-4">
              <h2 class="titre">{{ $t("organization.home.title-descritpion_4") }}</h2>
              <p class="apercu-description-activite">
                "{{ $t("organization.home.title-decription-detail_4") }}"
              </p>
              <a href="#" class="bouton-voir-activite" @click.prevent="inscription">{{ $t("word.discover") }}</a>
            </div>
          </div>
        </div>
      </div>
      <!--Contenu unique organization-->
      <div class="containeur-principale-parcours" >
          <stats :statistical="statistical" context="organization" class="organization-home-stat" />
      </div>

      </div>
      <Testimonial current="organization" />
    </div>
  </NoSidebar>
</template>

<script>
import Testimonial              from '@/components/Home/Testimonial.vue'
import OrganizationRegistration from "@/view/organization/registration/OrganizationRegistration.vue"
import NoSidebar                from "@/layouts/NoSidebar.vue"
import StatisticalService       from "@/services/common/StatisticalService";
import Stats                    from '@/view/home/parts/Stats.vue';

export default {
    name: 'home',
    components: {
        OrganizationRegistration, 
        NoSidebar, 
        Testimonial,
        Stats
    },      
     data : () => {
        return {
            linkedInCode     : false,
            statistical : {},
            stopAnnimated : false
        }
    } ,
    methods: {
        inscription() {
            document.getElementById('inscrire').click()
        },
        getStatistical() {
            let that = this
            StatisticalService.statisticalHome()
            .then(function(response) {
                that.statistical = response.data
               
            })
            .catch(function() {

            })
        }
    },
    mounted : function(){
        let appBody = document.querySelector('.app-body')
        appBody.classList.add('home-page')
        appBody.classList.add('home-page-organization')

           
        document.getElementById('footer').classList.add('up-footer')
        document.getElementById('haut-footer').classList.add('up-footer')
        document.getElementById('bas-footer').classList.add('down-footer')
        document.querySelector('#choix-langue-footer select').classList.add('down-footer')
         /** linkedin code fallback */
        this.linkedInCode = this.$route.query.code ?? false
        if(this.linkedInCode !== false){
            this.inscription()
        }

        this.getStatistical()
    },
    beforeDestroy:function(){
        let appBody = document.querySelector('.app-body')
        appBody.classList.remove('home-page')
        appBody.classList.remove('home-page-organization')
    }
}
</script>
<style scoped>
  .fake-wave-separator-container{
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(251,251,255,1) 5%, rgba(237,237,237,0.5186449579831933) 10%, rgba(237,237,237,0) 15%, rgba(237,237,237,0) 100%);
  }
  .fake-wave-separator{
    background-image: url('~@/assets/img/wave.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 100%;
    min-height: 25vw;
    margin-top: 15vw;
  }

  .containeur-activite-eleve {
    background: white;
  }
  #chiffre_organization{
    padding-bottom: 10%;
    padding-top: 6%;
    background: white;
  }
  @media(max-width: 1500px){
    #bouton-banner {
        font-size: 1.6rem !important;
        max-width: 18rem;
        height: 4rem;
    }
    .fake-wave-separator{
      margin-top: 10vw;
    }
  }
  @media(max-width: 1440px){
    
    .custom-conteneur{
      position: relative;
    }
    .description-activite {
      margin-left: 3%  !important;
    }
    .containeur-activite-eleve--child {
        width: 70%  !important;
        margin: 0 auto;
    }
    #custom-marge{
      width: 70%;
    }
    #custom-marge:before{
      content: "";
      display: block;
      width: 75%;
      top: -40%;
      left: -21%;
      position: absolute;
      height: 170%;
      background-color: #FFF5F3;
      clip-path: polygon(0 0, 100% 34%, 100% 100%, 0 70%);
    }
  }
  #description-activite-3 h2{
    max-width: 19.301611vw  !important;
  }
  #bouton-banner{
    border-radius: 10px  !important;
  }
  .description-chiffre{
    color: #000000 !important;
  }

  @media (max-width:1280px) {
    .organization-home-stat {
        padding-top: 8rem !important;
        padding-bottom: 5rem;
    }
  }

  @media(max-width: 1025px){
    #bouton-banner {
        font-size: 1.2rem !important;
        max-width: 16rem;
        height: 3.5rem;
    }

    .titre {
        font-size: 16pt;
    }
    .apercu-description-activite {
        font-size: 12.25pt;
    }
    .description-activite h2.titre {
        max-width: 22.301611vw;
    }
  }

  @media(max-width: 875px){
    .fake-wave-separator{
      margin-top: 7vw;
    }
    .containeur-activite-eleve--child {
        width: 100%  !important;
    }
  }
  @media(max-width: 768px){
    .fake-wave-separator{
      margin-top: -3vw;
    }
    .apercu-description-activite{
      font-size: 10.25pt;
    }
    .description-activite h2.titre {
      font-size: 14pt;
    }
    #description-activite-3 h2{
      max-width: 26.301611vw;
    }
    #chiffre_organization h2{
      padding-top: 0px !important;
    }
    .containeur-principale-parcours {
      margin-top: 0px;
    }
  }
  @media(max-width:425px){
    #custom-marge:before{
      content: " ";
      display: none;
      width: 0%;
      top: 0%;
      left: 0%;
      position: inherit;
      height: 0%;
      background-color: transparent;
    }

  #description-activite-3 h2{
    max-width: 100%  !important;
  }
    #chiffre_organization.contenu-chiffres{
      height: 9.954612vw;
    }
  }
  @media(max-width:425px){
      a.bouton-voir-activite {
        font-size: 18px;
      }
  }
  .sous-titre-banner{
    margin-top: 1rem;
  }
</style>
<style>
@media(max-width:768px){
  #org-modal .modal-body .content button.btn-default.has-icon {
    width:100%;
  }
   #org-modal .modal-body .content button {
      width: inherit;
    }
    #org-modal .modal-body{
      padding:5%;
    }
}
@media(max-width:425px){
  #org-modal .modal-body .content button {
      max-width: 160px !important;
      font-size: 10px !important;
  }

  .containeur-activite-eleve {
    padding-top: 0px;
  }
  .element-activite{
    display: flex;
    flex-wrap: wrap;
  }
  .description-activite h2.titre,#description-activite-3 h2{
    max-width: 100%  !important;
  }
  #image-activite-2,#image-activite-4 {
    order: 1;
 }
 #description-activite-3 h2{
   max-width: 100%  !important;
 }
  #chiffre_organization .contenu-chiffres{
    height: 9.954612vw;
  }
 }
 .up-footer{
   background:#345D98  !important;
 }
 .down-footer{
   background:#1F4171  !important;
 }
 /* div#image-activite-3 img {
   width: 75%  !important;
} */

.home-page-organization #liste-sociaux,
.home-page-organization .style-widget-footer {
    filter: hue-rotate(65deg);
}
</style>
