{% set params   = app.request.get("_route_params")|default([]) %}
{% set params   = params|merge(app.request.query.all()) %}
{% set route    = app.request.get('_route', 'admin_index') %}
{% set lang     = app.request.locale %}
{% set flagIcon = 'flag-icon flag-icon-' ~ (lang == 'en' ? 'us' : lang) %}
<div class="dropdown lang-switcher">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" id="locales">
        <i class="{{ flagIcon }} mr-1" aria-hidden="true"></i>
        <span>{{ lang|upper }} </span>
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu locales" role="menu" aria-labelledby="locales">
        {% for locale in locales() %}
            <li {% if lang == locale.code %}aria-checked="true" class="active"{% else %}aria-checked="false"{% endif %} role="menuitem">
                <i class="flag-icon flag-icon-{{ locale.code[0:2] == 'en' ? 'us' : locale.code[0:2] }}"></i> 
                <a href="{{ path( route, params|merge({_locale: locale.code})) }}"> {{ locale.name|capitalize }}</a>
            </li>
        {% endfor %}
    </ul>
</div>
