{% set prevLink = appendParam('page', (thisPage - 1 < 1 ) ? 1 : thisPage - 1 , route_name  )  %}
{% set nextLink = appendParam('page', (thisPage + 1 <= maxPages ) ? thisPage + 1 : thisPage , route_name) %}
{% set maxPaginatorBtn = 10 %}

{% set startBtn = 1 %}
{% set endBtn = maxPages %}

{% set difference = maxPages - maxPaginatorBtn %}
{# dont touch #}
{% if difference > 0 %}
    
    {% set restBefore   = thisPage - 5 %}
    {% set startBtn     = (restBefore > 0 ) ? restBefore : 1 %}

    {% set restAfter = thisPage + 5 %}
    {% set endBtn    = restAfter > maxPages ? maxPages : restAfter %}

    {% if restBefore < 0 and restAfter < maxPages %}
        {% set endBtn = endBtn - restBefore %} 
    {% endif %}

    {% if restAfter > maxPages and (restAfter - maxPages) > 0 %}
        {% set startBtn = startBtn - (restAfter - maxPages) %} 
    {% endif %}
{% endif %}


 <div class="pagination-wrapper pb-1 pr-4">
    {% if maxPages > 2 %}
        <div aria-label="navigation">
            <ul class="pagination justify-content-end">
                <li class="page-item {{ thisPage == 1 ? 'disabled' }}">
                    <a class="page-link" href="{{ appendParam('page', 1, route_name) }}">« {% trans %}Première{% endtrans %}</a>
                </li>
                <li class="page-item {{ thisPage == 1 ? 'disabled' }}">
                    <a class="page-link" href="{{ prevLink }}">«</a>
                </li>
                
                {% for i in startBtn .. (endBtn) %}

                <li class="page-item {{ thisPage == i ? 'active' }}">
                    <a class="page-link" href="{{ appendParam('page', i, route_name) }}">
                        {{ i|round }}
                    </a>
                </li>
                {% endfor %}
                <li class="page-item {{ thisPage == maxPages ? 'disabled' }}">
                    <a class="page-link" href="{{ nextLink }}"> »</a>
                </li>

                <li class="page-item {{ thisPage == maxPages ? 'disabled' }}">
                    <a class="page-link" href="{{ appendParam('page', maxPages, route_name) }}"> {% trans %}Derniere{% endtrans %} »</a>
                </li>
            </ul>
        </div>
    {% endif %}
</div>