<form method="POST" action="{{ form_path }}" class="m-0">
    <input type="hidden" name="{{ input_name }}" value="{{ input_value }}">
    <div class="toggle lg">
        <label class="m-0">
          <input type="checkbox" {{ checkbox_enabled ? 'checked' : '' }} >
          <span class="button-indecator need-confirmation" confirmation-message="{{ confiramtion_message }}">
          </span>
        </label>
    </div>
</form>