<!-- Modal -->
<div class="modal fade" id="confirm-dialog" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{% trans %} Confirmation {% endtrans %}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">  
                <i class="fa fa-2x fa-question pull-right"></i>
                <div class="text-center" id="message-wrapper">
                    <p class="message">{% trans %}Voulez-vous vraiment supprimer cet élément{% endtrans %}</p>
                </div> 
            </div>
            <div class="modal-footer">
                <button type="reset" class="btn btn-secondary" data-dismiss="modal">{% trans %} Non {% endtrans %}</button>
                <button type="button" class="btn btn-danger" id="yesbtn">{% trans %} Oui {% endtrans %}</button>
            </div>
        </div>
    </div>
</div>