{% set approute = app.request.get('_route')  %}
<header class="app-header app-header--admin">
    <!-- Sidebar toggle button-->
    <a class="app-sidebar__toggle" id="admin-app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"></a>
    <!-- Navbar Right Menu-->
    <ul class="app-nav">

        <!-- lang switcher -->
        {% include "admin/components/_lang_switcher.html.twig" %}
        <!-- END lang switcher -->
        
        <div class="nav-item">
            <a class="messenging-nav-item" href="{{ path('admin_message_contact')}}">
                <span class="fa fa-envelope"></span>
                <span class="messenging-item--counter">0</span>
            </a>
        </div>

        <div class="nav-item">
            <a class="messenging-nav-item" href="{{ path('admin_message_live_chat')}}">
                <span class="fa fa-comment-o"></span>
                <span class="messenging-item--counter">0</span>
            </a>
        </div>
       
        <!-- User Menu-->
        <li class="dropdown">
            <a class="app-nav__item" href="#" data-toggle="dropdown" aria-label="Open Profile Menu">
                <i class="fa fa-user fa-lg user-icon"></i>
            </a>
            <ul class="dropdown-menu settings-menu dropdown-menu-right">
                <li><a class="dropdown-item" href="{{ path('admin_setting_index') }}" class="app-nav__item"><i class="fa fa-cog fa-lg"></i> Réglages</a></li>
                <li><a class="dropdown-item" href="/" taget="__blank"><i class="fa fa-globe fa-lg"></i> Aller vers le site</a></li>
                <li><a class="dropdown-item" href="{{ path('logout') }}"><i class="fa fa-sign-out fa-lg"></i> Se déconnecter</a></li>
            </ul>
        </li>
        <!-- END user menu -->
    </ul>
</header>