<!-- The Modal -->
<div class="modal " id="image-cropper-modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" >
            <!-- Modal body -->
            <div class="modal-body">
                <div class="img-container mx-auto">
                    <img id="imageCropper" src="https://avatars0.githubusercontent.com/u/3456749">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-primary" id="validate-cropper">Enregistrer</button>
            </div>
        </div>
    </div>
</div>