{% set approute = app.request.get('_route')  %}
{% set local    = app.request.locale|default('en') %}

<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar" id="admin-app-sidebar">
    <div class="nav-brand">
        <img src="/build/admin/images/Logo_Les_Grimpeurs_NEW-B-vertical.png" alt="logo grimppeur">
        <a class="app-sidebar__closer" id="admin-app-sidebar__closer" href="#" > 
            <img src="{{ asset('build/images/icon-croix-white.svg') }}" />
        </a>
    </div>
    <ul class="app-menu">
        {% for menu in menus %}
            {# menu path #}
            {% set itemParams = menu.params|default([]) %}
            {% set itemRoute  = menu.route != "#" ? menu.route : false  %}
            {% set itemPath   = itemRoute ? path(itemRoute, itemParams) : "#"  %}
            {# menu with dropdown #}
            {% if menu.children|default(false) %}
                <li class="treeview">
                    <a class="app-menu__item" href="{{ itemPath }}" data-toggle="treeview">
                        <i class="app-menu__icon {{ menu.icon }}"></i>
                        <span class="app-menu__label">{{ attribute(menu.label, local)  }}</span>
                        <i class="treeview-indicator fa fa-angle-right"></i>
                    </a>
                    <ul class="treeview-menu app-menu--submenu">
                        {% for submenu in menu.children %}
                            {# submenu path #}
                            {% set itemParams = submenu.params|default([]) %}
                            {% set itemRoute  = submenu.route != "#" ? submenu.route : false  %}
                            {% set itemPath   = itemRoute ? path(itemRoute, itemParams) : "#"  %}
                            <li>
                                <a class="app-menu__item {{ approute == submenu.route ? 'active' :'' }}" href="{{ itemPath  }}">
                                    <i class="app-menu__icon {{ submenu.icon }}"></i>
                                    <span class="app-menu__label">{{ attribute(submenu.label, local) }}</span>
                                </a>       
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% else %}
            {# single menu #}
                <li>
                    <a class="app-menu__item {{ approute == menu.route ? 'active' :'' }}" href="{{ itemPath }}">
                        <i class="app-menu__icon {{ menu.icon }}"></i>
                        <span class="app-menu__label">{{ attribute(menu.label,local) }}</span>
                    </a>       
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</aside>