<template>
      <div class="containeur-interne">
          <template>
              <nprogress-container></nprogress-container>
          </template>
          
          <div class="containeur-interne--child">
            <template>
                <sidebar />
            </template>  

            <div class="contenu-principale">
              
              <template>
                  <navbar />
              </template>

              <template>
                  <div class="element-contenu">
                      <slot name="content"></slot>
                  </div>
              </template>

            </div>
          </div>
          
      </div>
</template>

<script>
    import Navbar             from '@/components/Navbar/Navbar.vue'
    import NprogressContainer from 'vue-nprogress/src/NprogressContainer'
    import Sidebar            from '@/components/Sidebar/Sidebar.vue'

    export default {
          name : 'default',
          components : {
              NprogressContainer,
              Sidebar,
              Navbar

          }
    }
</script>
<style>
  body {
    margin: 0;
    font-family: 'NunitoSans-Regular';
    overflow-x: hidden;
  }
</style>
