
<template>
    <div class="containeur-principale">
      <nprogress-container></nprogress-container>
      <div class="containeur-principale--child">
        <div class="containeur-banner">
          <NavbarHome>
            <slot name="btn-register" slot='right-actions'></slot>
          </NavbarHome>
          <slot name="recap-search"></slot>
          <slot name="banner"></slot>
        </div>
        <slot name="content"></slot>
      </div>
      <PageFooter />
    </div>
</template>
<script>
    
    import NavbarHome         from "@/components/Navbar/NavbarHome.vue"
    import PageFooter         from "@/components/Footer/PageFooter.vue"
    import NprogressContainer from 'vue-nprogress/src/NprogressContainer'


    export default {
        name : 'no-sidebar',
        components : {
            PageFooter, NavbarHome, NprogressContainer
        }
    }
</script>