<template>
   <default-layout class="press-page">
        
        <div slot="content">
            <div  class="press-page-container">
                <div class="header-wrapper">
                    <PressHeader />
                </div>
                <div class="filter-container">
                    <PressFilter @change="onFilterChange" />
                </div>
                <div class="list-container">
                    <PressList :params="params" />
                </div>
                <div class="pagination-container">
                    <PressPaginator />
                </div>
            </div>
        </div>
    </default-layout>
</template>

<script>
import PressHeader    from './parts/PressHeader.vue'
import PressFilter    from './parts/PressFilter.vue'
import PressList      from './parts/PressList.vue'
import PressPaginator from './parts/PressList.vue'


export default {
    name: 'Press',
    components: {
        PressHeader,
        PressFilter,
        PressList,
        PressPaginator
    },
    data: function(){
        return {
           params: {
                type: 'press',
                year: null
           }
        }
    },
    methods: {
        onFilterChange: function(year){
          this.params.year = year
        }
    }

}
</script>

<style scoped>
    .press-page-container {
        padding: 2rem;
    }
    .filter-container,
    .list-container{
        margin-top: 2rem;
    }
</style>