{% set form = changePasswordform %}
<div class="password-manager">
    <h5>Changer mot de passe</h5>
    <div class="password-form">
       {{ form_start(form) }}
            <div class="form-group">
                <label>{% trans %}Mot de passe actuelle{% endtrans %}</label>
                {{ form_widget(form.oldPassword) }}
            </div> 
            <div class="form-group">
                {{ form_widget(form.newPassword) }}
            </div> 
            
            
            <div class="form-group">
                <label>
                    {{ form_widget(form.logout) }} {% trans %}Se deconnecter apres validation{% endtrans %}
                </label>
            </div>

            <div class="alert alert-info">
               {% trans %} Un mot de passe doit comporter 8 caractères ou plus, contenir au moins un chiffre, une lettre majuscule, une lettre minuscule et un caractère spécial.{% endtrans %}
            </div>

            <div class="form-group text-right">
                <button class="btn btn-secondary" type="reset">{% trans %}Annuler{% endtrans %}</button>
                <button class="btn btn-primary" type="submit">{% trans %}Valider{% endtrans %}</button>
            </div>
      {{ form_end(form)}}
    </div>
</div>