<div class="tile p-3">
    <h5>{% trans %}Mon compte{% endtrans %} <hr></h5>
    <div class="tile-content mt-4">
        <div class="row">
            <div class="col-6">
                {% include "admin/settings/account/change_password.html.twig" %}
            </div>
        </div>
    </div>
</div>