<template>
    <div class="scholarship-preview--wrapper">
        <div class="preview-actions text-center mt-5 pb-2">
          <DefaultButton className="outline2" :text="$t('word.prev')"  @click.native="$emit('goTo','ScholarshipGallery')" />
          <DefaultButton className="style4" :text="$t('word.validate')" :onLoad="loading" @click.native="saveScholarship" />
        </div>

        <Breadcrumb :items="breadcrumbs" />
        <ScholarshipContent :scholarship="previewScholarship" context="preview" v-if="previewScholarship" />

    </div>
</template>
<script src="./ScholarshipPreview.js" />

<style>
</style>
<style scoped>

  .scholarship-preview--wrapper {
    position: relative;
  }

  .preview-actions {
      position: absolute;
      right: -15px;
      top: -4rem;
      z-index: 4;
  }

  @media(max-width:425px){
    .preview-actions {
      position: initial;
    }
    .preview-actions button {
      width: 100%;
      min-height: 40px;
      margin-bottom: .5rem;
    }
    
  }
</style>