<template>
  <div class="locale-changer">
    <select v-model="$i18n.locale" @change="onChange()">
      <option v-for="(lang, i) in langs" :key="i" :value="i">{{ lang }}</option>
    </select>
  </div>
</template>
<script>
export default {
  name: "LangSwitcher",

  data() {
    return {
      langs: {
        "fr": "Français",
        "en": "Anglais",
      },
    }
  },

  methods: {
    onChange: function(){
      this.$store.dispatch("lang/switch", this.$i18n.locale)
    }
  },
}
</script>
