<template>
  <div class="splash">
    <div class="loader-lg" v-if="bg">
      <div class="d-flex justify-content-center">
        <div class="spinner-wrapper">
          <img :src="spinner">
        </div>
      </div>
    </div>
    <div v-else class="d-flex justify-content-center">
      <div class="spinner-wrapper">
          <img :src="spinner">
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    name: "Splash" ,
    data: function(){
      return {
        spinner: require("@/assets/img/loading.gif").default
      }
    },
    props:{
      bg: {
        default : true
      }
    }
  }
</script>
<style scoped>
.spinner-wrapper{
    width: 4rem !important;
    margin: 1rem;
}
</style>