<template>
    <div class="chat-form--container">
        <div class="chat-form--input">
            <textarea ref="message" @input="autoGrow" v-model="content"> </textarea>
        </div>
        <div class="chat-form-actions">
            <button @click="handleSend">
                <img :src="sendIcon"  />
            </button>
        </div>
    </div>
</template>

<script>
import BotService  from "@/services/bot/BotService.js"

export default {
    name: 'ChatForm',
    props: {
        conversation: {
            require: true
        },
        botUser: {
            require: true
        }
    },
    data: function(){
        return {
            content  : '',
            sendIcon : require('@/assets/img/icon-send.svg').default
        }
    },

    methods: {
        /**
         * This method auto grow the textarea field on enter key
         * 
         * @return void 
         */
        autoGrow: function() {
            let element =  this.$refs.message
            element.style.height = "5px";
            element.style.height = (element.scrollHeight)+"px";
        },

        /**
         * Handle send message event
         * 
         * @return void 
         */
        handleSend: function(){
            let that = this
            if(that.content.lenght < 1 ){
                return 
            }
            
            let params = {
                owner        : that.botUser.uid,
                content      : that.content,
                conversation : that.conversation.id
            }

            that.content = ""
            BotService.addMessage(params).then(
                (response) => {
                   
                }
            ).catch(
                (error) => {
                   console.log(error)
            })
        }
    }
}
</script>

<style lang="scss" scoped>
    .chat-form--container {
        display: flex;
        align-items: center;
        width: 100%;
        
        .chat-form--input {
            flex: 1;

            textarea{
                width: 100%;
                resize: none;
                overflow: hidden;
                height: 55px;
                min-height: 55px;
                max-height: 200px;
                padding: 1rem;
                padding-right: 4rem;
                border-radius: 2rem;
                border: solid 1px #ccc;
                color: #495057;
            }
            :focus-visible{
                border: solid 1px #f87667;
                outline: none;
            }

        }
        .chat-form-actions {
            position: relative;

            button {
                position: absolute;
                left: -3rem;
                top: -1rem;
                border: none;
                background: none;
            }

        }
    }

</style>