<template>
    <div class="chat-list-container" ref="chatlistContainer">
        <div class="message-container" v-for="message, index in messages" :key="'conversation-item-'+index">
            <ChatItem :message="message" :botUser="botUser"/>
        </div>
    </div>
</template>

<script>
import ChatItem from "./ChatItem.vue"
import BotService       from "@/services/bot/BotService.js"

export default {
    components: {
        ChatItem
    },
    props: {
        conversation:{
            require: true
        },
        
        botUser:{
            require: true
        },
        
    },
    data: function(){
        return {
            messages: []
        }
    },
    methods: {
        /**
         * Fetch chat list of the current conversation
         * 
         * @return void
         */
        getConversationMessages: function(){
            let that  = this
            let params = {
                id: that.conversation.id
            }
            BotService.getConversationData(params).then(
                (response) => {
                    if(response.data.success){
                        let conversation = response.data.conversation[0]
                        that.messages = conversation.messages
                    }
                }
            )
        },

        /**
         * Scrool the list to the botton
         * 
         * @return void 
         */
        scroolToBottom: function(){
            setTimeout(() => {
                console.log('scoll bottom')
                let element = document.getElementById('admin-bot-messagelist-container')
                element.scrollTo(0, element.scrollHeight)
            }, 100);
        }
    },
    watch: {
        conversation: {
            deep: true,
            immediate: true,
            handler: function(){
                this.getConversationMessages()
            }
        },
        messages: {
            deep: true,
            handler: function(){
                this.scroolToBottom() 
            }
        }
    }

}
</script>

<style>

</style>