<template>
    <div class="message-item-container" :class="owner">
        <div class="message-content">
            <span class="message-content-text">
               {{ message.content }}
            </span>
            <!--span class="message-content-date">
               {{ message.date }}
            </span-->
        </div>
    </div>
</template>

<script>
export default {
    props: {
        message: {
            require: true
        },
        botUser:{
            require: true
        }
    },
    computed: {
        user: function(){
            return  JSON.parse(localStorage.getItem('les-grimpeurs-bot-admin-user'))
        },
        owner: function(){
            let    host  = this.message.owner.uid ==  this.botUser.uid 
            return host ? 'host' : 'guest'
        }
    },
    methods:{

    }
}
</script>

<style lang="scss" scoped>
    .message-item-container{
        display: flex;
        
        .message-content {
            padding: 1rem;
            border: none;
            margin-bottom: 1rem;
            border-radius: 5rem;
            position: relative;
            .message-content-date {
                position: absolute;
                right: 1rem;
                bottom: 7px;
                font-size: 10px;
            }
        }
    }

    .message-item-container.host{
        justify-content: flex-end;

        .message-content{
            background-color: #FFECEA;
            color: #3C3850;
        }
    }

    .message-item-container.guest{
         .message-content{
            background: linear-gradient(90deg, #FBA590 0%, #FF7667 100%) 0% 0% no-repeat padding-box;
            color: white;
        }
    }

</style>