<template>
    <div class="conversation-item--container" :class="{active}" @click="click">
        <label class="last-connextion" v-if="lastMessage">{{ (new Date(lastMessage.date)).toLocaleString() }}</label>
        <label class="user-name">{{ conversation.user.pseudo }}</label>
        <label class="last-message" v-if="lastMessage">{{ lastMessage.content }}</label>
    </div>
</template>

<script>
export default {
    props: {
        conversation: {
            require: true
        },
        active: {
            default: false
        },

    },
    computed: {
        lastMessage: function(){
            let messages  = this.conversation.messages 
            if(!messages.length){
                return ""
            }

            let lastIndex = messages.length - 1 
            console.log(messages[lastIndex])
            return messages[lastIndex] ?? false
        }
    },
    methods: {
        click: function(){
            this.$emit('click')
        }
    }
}
</script>

<style lang="scss" scoped>
    .conversation-item--container {
        padding: 10px 1rem;
        position: relative;
        min-width: 20rem;
        *{
            cursor: pointer;
        }

        &:hover{
           background-color: #FFECEA;
        }
        &.active {
            border-left: solid 5px #f9a28d;
        }

        label {
            display: block;
            margin: 0;
        }
        .user-name {
            font-size: 1rem;
            font-family: 'NunitoSans-SemiBold';
            color: #3C3850;
        }
        .last-message {
            font-size: 12px;
        }
        .last-connextion {
            font-size: 10px;
            position: absolute;
            right: 1rem;
            top: 1rem;
            color: #D3D3D3;
        }

    }
    
</style>