<template>
    <div class="conversation-list-wrapper">
        <div class="conversation-list-container">
            <div class="conversation-item--wrapper" v-for="item, index in conversations" :key="'conv-'+index">
                <conversation-item :conversation="item" :active="conversation.id == item.id" @click="switchCoversation(item)"/>
            </div>
        </div>
    </div>
</template>

<script>
import ConversationItem from "./ConversationItem.vue"
export default {
    components: {
        ConversationItem
    },
    props: {
        conversations : {
            default:[]
        },
        /** current opened conversation */
        conversation:{
            default: false
        }
    },
    data: function(){
        return {
            
        }
    },

    methods: {
        /**
         * Emit switch conversation event when click on conversation item
         * 
         * @return void
         */
        switchCoversation: function(conversation){
            this.$emit('switch', conversation)
        }
    }
}
</script>

<style scoped>
    .conversation-item--wrapper {
        border-bottom: solid 1px #D3D3D3;   
    }
</style>