<template>
    <div class="conversation-controls--wrapper">
        <div v-if="!action" class="action-btn-container">
            <button class="archive--btn" @click="confirmAction('archive')">
                <span class="fa fa-trash"></span>
                <span class="text"> Archiver la conversation</span>
            </button>
        </div>
        <div class="confirm-action-wrapper" v-else>
            <label>Vous etes sûr le point d'archiver la converation courante.</label>
            <div class="confirm-action--controls">
                <button @click="abortAction" class="cancel-btn">Annuler</button>
                <button @click="validateAction"  class="validate-btn">Continuer</button>
            </div>
        </div>
    </div>
</template>

<script>
import BotService  from "@/services/bot/BotService.js"
export default {
    name: "ConversationControls",
    props: {
        conversation: {
            require: true
        }
    },
    data: function(){
        return {
            action : false
        }
    },

    methods: {
        confirmAction: function(action){
            this.action = action
        },
        abortAction: function(){
            this.action = false
        },
        validateAction: function(){
            switch (this.action) {
                case "archive":
                        this.archiveConversation()
                    break;
            
                default:
                    break;
            }
        },

        archiveConversation: function(){
            let that = this
            BotService.deleteConversation(that.conversation.id).then(
                (response) => {
                    if(response.data.success){
                        that.action = false
                        that.$emit('deleted')
                    }
                }
            )
        }

    }
}
</script>

<style lang="sass" scoped>
    .conversation-controls--wrapper {
        text-align: right;
        .action-btn-container{
            padding-bottom: 1.3rem;

            .archive--btn{
                border: solid 2px #FF7667;
                color: #FF7667;
                font-family: 'NunitoSans-Bold';
                padding: 0.3rem 1rem;
                border-radius: 1rem;
            }
        }
            

        .confirm-action--controls button{
            font-family: 'NunitoSans-Bold';
            font-size: 12px;
            border-radius: 1rem;
            padding: 2px 10px;  
            border: solid 2px #FF7667;
            &.cancel-btn{
                color: #FF7667;
            }
            &.validate-btn{
                color: white;
                background: #FF7667;
            }

            
        }


    }
</style>