<!DOCTYPE html>

<html>
    <style>
        @font-face {
            font-family: "NunitoSans-Regular";
            src: url("fonts/NunitoSans-Regular.ttf");
        }
        @font-face {
            font-family: "NunitoSans-SemiBold";
            src: url("fonts/NunitoSans-Bold.ttf");
        }
        @font-face {
            font-family: "NunitoSans-Bold";
            src:url("fonts/NunitoSans-Bold.ttf");
        }
        @font-face {
            font-family: "NunitoSans-ExtraBold";
            src:url("fonts/NunitoSans-ExtraBold.ttf");
        }

        @page {
            margin: 0px; 
            padding:0px; 
            font-family: "NunitoSans-Regular";
        }

    
        body {
            position: relative;
        }

        .bold {
            font-family: "NunitoSans-Bold";
        }

        .semibold {
            font-family: "NunitoSans-SemiBold";
        }
        header.header {
            width: 100%;
            background: #13AD9E;
            color: white;
            padding: 5px;
            height: 100px;
        }

        header.header div {
            /* display: inline-block; */
        }

        .header-title {
            width: 70%;
            text-align: center;
            text-transform: uppercase;
            position: absolute;
            right: 0;
            top: 25px;
        }

        .header-logo {
          position: absolute;
          height: 80px;
          padding: 15px 15px 5px 15px;
        }
        
        .header-logo img {
            width: 250px;
        }

        .col-logo img{
            width: 100px;
        }

        .header-title--text {
            margin: 0;
            font-family:"NunitoSans-ExtraBold";
        }

        .header-title--date {
            margin: 0;
            font-family:"NunitoSans-SemiBold";
        }
      
        section.content {
            padding: 1rem 3rem;
            font-family: "NunitoSans-Regular";
            overflow-wrap: break-word;
        }

         section.conten p{
            font-family: "NunitoSans-Regular";
        }
        
        .content h1,
        .content h2
         {
            text-transform: uppercase;
            margin-top: 2rem;
        }

        .col-application {
            padding-left: 2rem;
        }
        .col-application p{
            min-width:50rem;
        }
        .application-sheet-container {
            padding: 2rem;
            border: solid 2px #acacac5c;
            border-radius: 1rem;
            margin-bottom: 2rem;
        }
        .sheet-title{
            font-family:"NunitoSans-SemiBold"
        }
        section.scholarship p {
            margin: 0px !important;
        }

        .col-adresse{
            padding-left: 1rem;
        }


        .footer {
            height: 50px;
            background: #F7706A;
            color: #fff;
            position:absolute;
            bottom: 50px;
            left:0;
            margin-bottom: -50px;
            width: 100%;
            z-index: 10;
        }
        
        .footer-left-item {
            margin-top: 5px;
            margin-right: 50px;
        }

        .footer-center-item {
            margin-top: 5px;
            margin-right: 50px;
        }

        .forter-right-item {
            margin-top: 10px;
        }

        .input-group {
            
        }

        .input-group.sm {
            width: 50%;
            display: inline-block;
            vertical-align: top;
        }

        .input-group.lg {
            width: 100%;
            display: block;
            vertical-align: top;
        }

        span.input-value {
            border-bottom: solid 1px #acacac;
            font-family:"NunitoSans-SemiBold"
        }


    </style>


    {% set scholarship = application.scholarship %}
    {% set status      = ['en attente', 'en cours', 'validé' , 'refusé'] %}
    
    <body>
        <header class="header">
            <div class="header-logo">
                <img src="{{ grimpeursLogo() }}" />
            </div>
            <div class="header-title">
                <p class="header-title--text"> VOTRE DOSSIER DE CANDIDATURE</p>    
                <p class="header-title--date">{{ scholarship.name }} le plus longue du monde entier</p>
            </div>
        </header>
        
        <section class="content scholarship">
            <table>
                <tr>
                    <td class="col-logo">
                        <img src="{{ getUploadedImage(scholarship.logo, 'logo') }}" />
                    </td>
                    <td class="col-adresse">
                        {% set addressePart = scholarship.contactAdresse|split(',') %}
                        <div class="scholarship-adresse-wrapper">
                            <p>{{ addressePart[addressePart|length -2] }}, {{ addressePart[addressePart|length -1] }}</p>
                            <p class="bold">{{ scholarship.relatedOrganization.name }} le plus longue du monde entier</p>
                        </div>
                    </td>
                    <td class="col-application">
                        <p>Candidature envoyé le : <b class="bold">{{ application.dateApply|date('d M Y') }}</b></p>
                        <p>Status de candidature : <b class="bold">{{ status[application.status] }}</b></p>
                    </td>
                </tr>
            </table>
        </section>

        <section class="content application">
            {% for row in application.applicationSheets %}
                <div class="application-sheet-container">
                    <h3 class="sheet-title">{{ row.sheet.name }}</h3>
                    {% set previewSize = "lg" %}
                    
                    {% for key, value in row.content %}
                       {% set config = FmGetInputConfig(key, row.sheet.content.list) %}
                       {% set size   = config.type in ['textarea'] ? 'lg' : 'sm' %}
                       <div class="input-group {{ size }}">
                            <span class="input-label">{{ config.name }} : </span>
                            <span class="input-value">
                                    {% if config.type in ['fileupload', 'imgupload'] %}
                                        <span>
                                            <a href="{{ value[0]['url'] }}"> voir plus </a>
                                        </span>
                                    {% else %}
                                        {% if value is iterable %}
                                            {% for vOption in value %}
                                            <span class="sub-input-value"> {{ vOption }}</span>
                                            {% endfor %}
                                        {% else %}
                                            {{ value }}
                                        {% endif %}
                                    {% endif %}
                                    
                            </span>
                       </div>

                        {% if size == "sm" and previewSize == "sm"  %}
                            <br>
                            {% set previewSize = "" %}
                        {% else %}
                            {% set previewSize = size %}
                        {% endif %}

                    {% endfor %}
                </div>
            {% endfor %}
        </section>
        <footer class="footer">
            <center>
                <table style="margin: auto;">
                    <tr>
                        <td><div class="footer-left-item"  > Postulé chez : </div></td>
                        <td><div class="footer-center-item"><img src="{{ grimpeursLogo() }}" height="25"></div></td>
                        <td><div class="forter-right-item" > www.les-grimpeurs.com </div></td>
                    </tr>
                </table>
            </center>
        </footer>
    </body>
