<mjml>
  <mj-head>
    <mj-font name="Nunito" href="https://fonts.googleapis.com/css?family=Nunito" />
    <mj-attributes>
      <mj-all padding="0px"  font-family="Nunito, Google Sans, sans-serif"></mj-all>
      <mj-class name="preheader" color="#000000" font-size="11px" font-family="Nunito, Google Sans, sans-serif" padding="0px"></mj-class>
      <mj-class name="btn-default" color="#FF7667" background-color="white" border="solid 1px #FF7667" border-radius="8px">
      </mj-class>
            <mj-class name="btn-primary" color="white" background-color="FF7667" border="solid 1px #FF7667" border-radius="8px">
      </mj-class>
      <mj-class name="btn-secondary" color="#FF7667" background-color="#FFD7D2"  border-radius="8px">
      </mj-class>
      <mj-class name="mail-object" color="#FF7667" font-size="25px" font-weight="600"></mj-class>
      <mj-class name="email-body-content" line-height="15px"></mj-class>
      <mj-text line-height="32px" font-family="Nunito, Google Sans, sans-serif" font-size="16px" color="#212529"></mj-text>
    </mj-attributes>
    <mj-style inline="inline">
      	a { 
      			text-decoration: none; 
      			color: #FF7667;
      			font-weight: 600;
      	}
      .email-body-content{
      	line-height:2rem;
      }
      
    </mj-style>
  </mj-head>

  <mj-body background-color="#e0f2ff">
    
    <!-- Section header static -->
    <mj-section background-color="#13AD9E" padding="10px">
      <mj-group>
        <mj-column vertical-align="middle">
          <mj-image src="{{  site_url|replace({'/index.php/': ''}) }}{{ asset('build/images/logo_menu.png') }}" href="{{ absolute_url(path('home', {path:''})) }}"  align="left" alt="logo" width="150px" padding="10px 0"></mj-image>
        </mj-column>
        <mj-column vertical-align="middle">
         <mj-image href="{{ absolute_url(path('home', {path:''})) }}" src="{{  site_url|replace({'/index.php/': ''}) }}{{ asset('build/images/user.png') }}" align="right" width="40px"></mj-image>
        </mj-column>
      </mj-group>
    </mj-section>
    <!-- END Section header static -->
       <!--- Section content dynamic  -->
    <mj-section background-color="white" padding="25px 25px 0 25px">
      <mj-column>
      	<mj-text mj-class="mail-object">{{ subject }}</mj-text>
         <mj-divider border-color="#FF7667" padding-left="5px" padding-top="10px"></mj-divider>
      </mj-column>
    </mj-section>
    <!--- End Section content dynamic  -->
    
    <!--- Section content dynamic  -->
    <mj-section background-color="white" padding="25px" mj-class="email-body-content">
      <mj-column>
        <mj-text padding="15px 0">
        	{{ content }}
        </mj-text>
      </mj-column>
    </mj-section>
    <!--- End Section content dynamic  -->

    <!-- Section footer static -->
    <mj-section background-color="#FF7667" padding="10px">
      <mj-column  width="60%">
        <mj-text align="center" color="white" font-size="15px" padding="10px 25px">L'equipe de les-grimpeurs.org
        </mj-text>
      </mj-column>
      <mj-column  width="40%">
        <mj-social font-size="15px" icon-size="30px" mode="horizontal">
          <mj-social-element name="facebook"  href="{{ getPreference('social_url_facebook', app.request.locale) }}" padding="5px"  icon-padding="3px" border-radius="100px"></mj-social-element>
          <mj-social-element name="twitter"   href="{{ getPreference('social_url_twitter' , app.request.locale) }}" padding="5px"  icon-padding="3px" border-radius="100px"></mj-social-element>
          <mj-social-element name="linkedin"  href="{{ getPreference('social_url_linkedin', app.request.locale) }}" padding="5px"  icon-padding="3px" border-radius="100px"></mj-social-element>
          <mj-social-element name="youtube"   href="{{ getPreference('social_url_youtube' , app.request.locale) }}" padding="5px"  icon-padding="3px" border-radius="100px"></mj-social-element>
          <mj-social-element name="instagram" href="{{ getPreference('social_url_instagram', app.request.locale) }}" padding="5px"  icon-padding="3px" border-radius="100px"></mj-social-element>
        </mj-social>
      </mj-column>
    </mj-section>
    <!-- Section footer static -->
  </mj-body>
</mjml>
