<template>
    <div class="form-making-wrapper">
        <template>
            <fm-making-form id="grimpeurs-formbuilder--container" style="height: 100vh;" ref="formbuilder" @delete="confirmDeletedSheet">
                <template slot="aside-action">
                    <div class="form-making-actions">
                        <button class="vertical-sheet-tab-btn" v-for="sheet, index in sheets" :class="{active: index ==  currentSheetIndex}" @click="switchSheet(index)" :key="'vertical-sheet-tab-btn-'+index">
                            <span class="sheet-number">{{ index + 1 }}</span>
                            <img :src="icon.file">
                        </button>
                        
                        <button class="add-sheet-btn" @click="addNewSheet">
                            <span class="add-sheet-btn-icon fa fa-plus"></span>
                            <img :src="icon.file">
                        </button>
                        <button class="save-and-exit-btn" @click="saveAndExit" id="save-and-exit-editor-btn">
                            <img :src="icon.signout">
                        </button>
                    </div>
                </template>
                <template slot="center-title">
                    <div class="form-making-notice">
                        <p>{{ $t('organization.fm.builder_message') }}</p>
                    </div>
                </template>
                <template slot="action--controls">
                    <div class="slider-action--controls">
                        <a class="horizontal-nav-prev-btn" @click="prevCaroussel">
                            <img :src="icon.arrow" class="arrow arrow-left" />
                        </a>
                        <a class="horizontal-nav-next-btn" @click="nextCaroussel">
                            <img :src="icon.arrow" class="arrow arrow-right" />
                        </a>
                    </div>    
                </template>
                <template slot="action">
                    <div class="horizontal-nav-content">
                        <a  href="#" 
                            class="horizontal-nav-item" 
                            :class="{ active: index ==  currentSheetIndex}"
                            v-for="item,index in carousselData"
                            @click.prevent="switchSheet(index)" 
                            :key="'sheets-nav-'+index">
                            {{ item.name }}
                        </a>
                    </div>
                    <!--button class="sheet-tab-btn" v-for="sheet, index in sheets"   :key="'sheet-tab-btn-'+index">
                    
                    </button-->
                </template>
            </fm-making-form>
        </template>
        <template>
            <div id="incompatible-screen">
                <div>
                    <span class="fa fa-exclamation-triangle alert-icon"></span> 
                </div>
                <div>{{ $t('error.formbuilder.incompatible_resolution') }}</div>
                <div>{{ $t('error.formbuilder.switch_device') }}</div>
                <div class="exit-btn--wrapper">
                    <button class="exit-builder-btn" @click="$router.go(-1)">
                        {{ $t('word.exit') }}
                    </button>
                </div>
            </div>
        </template>
    </div>

   
</template>

<script>
/**
 * Import LIB and Style dependencies
 */
import "element-ui/lib/theme-chalk/index.css"
import "element-ui/lib/index.js"
import IconImages          from "@/services/helpers/IconImages.js"
import FormBuilderMixin    from "@/mixins/FormBuilderMixin.js"
import ApplicationService  from "@/services/application/ApplicationService.js"

export default {    
    name:"CustomFormBuilder",
    
    props: {
        form: {
            default: false
        },
        publishrequest: {
            default: false
        }
    },

    mixins: [FormBuilderMixin],

    data: function(){
        return {
            /*** Icon images  */
            icon: { ...IconImages },
            
            /** form sheet list  */
            sheets: [],

            /*** current selected sheet index (integer var) */
            currentSheetIndex: false,

            /** clone of sheets data */
            carousselData: []
        }
    },

    computed: {
        /**
         * generate default sheet data 
         * @return Object
         */
        defaultSheet: function(){
            let number = this.sheets.length + 1
                number = number < 10 ? '0'+number: number
            let title =  number + ' - Sans titre'
            return {
                name     : title,
                content  : this.generateNewSheetContent(title)
            }
        },
        /*** 
         * return current sheet object or false 
         */
        sheet: function(){
            if(this.currentSheetIndex){
                return this.sheets[this.currentSheetIndex]
            }
            return false
        },
    },

    methods:{
        /** 
         * Generate a new sheet and newsheet data
         * 
         * @return void
         */
        addNewSheet: function(){

            if(this.currentSheetIndex !== false){
                this.updateSheetData()
            }

            this.sheets = [...this.sheets, this.defaultSheet]
            this.currentSheetIndex = this.sheets.length - 1
        },

        /**
         * Swith between the multiple form sheet available
         * @param {integer} index
         * @return  void
         */
        switchSheet: function(index){
            this.updateSheetData()
            this.currentSheetIndex = index
        },
        /**
         * Confirm and delete sheet request
        */
        confirmDeletedSheet: function(){
            let that = this
             that.$dialog.confirm("Vous voulez vraiment supprimer cette page ?", {
                okText: that.$t('word.yes'),
                cancelText: that.$t("word.cancel"),
                }).then(function(dialog) {
                    that.deleteSheet(that.currentSheetIndex)
                }).catch(function (dialog) {
                  
                });
            /** confirm deleted sheet */
        },

        deleteSheet: function(index){
            let that = this 
            let sheet = this.sheets[index]
            ApplicationService.deleteSheet(sheet.id).then(
                (response) => {
                    if(response.data.success){
                        that.sheets.splice(index ,1)
                        that.switchSheet(index > 0 ? index - 1 : 0 )
                    }
                }
            )
        },
        /**
         * Handle On save and exit click btn
         * @return $router redirection or error
         */
        saveAndExit: function(){
            this.updateSheetData()
            this.$emit('save', this.form, this.sheets)
            this.$emit('exit')
        },

        /**
         * Handle On save and publish click btn
         * @return void
         */
        saveAndPublish: function(){
            this.updateSheetData()
            this.$emit('save', this.form, this.sheets)
            this.$emit('publish')
        },
        
        /** 
         * update current sheet JSON Data 
         * @param {Object} data
         * @param {index}  integer
         * @return void
        */

        updateSheetData: function(){
            let fm = this.$refs.formbuilder
            let jsonData = fm.getJSON()
            
            let data  = jsonData
            let index = this.currentSheetIndex
            let name = this.getFormTitle(data)
            if(this.sheets[index]){
                this.sheets[index].name    = name
                this.sheets[index].content = data
            }
        },

        /** Update form making data according to the current selected sheet */
        updateFmData: function(){

        },

        getFormSheets: function(){
            let that = this
            ApplicationService.getFormSheets(this.form).then(
                (response) => {
                    if(response.data.sheets){
                        if(response.data.sheets.length){
                            that.sheets = response.data.sheets
                            that.currentSheetIndex = 0
                        }else{
                            that.addNewSheet()
                        }
                    }
                }
            )
        },
        /*** switch to next tab sheet caroussel */
        nextCaroussel: function(){
            /*let lastIndex      = (this.carousselData.length - 1)
            let item           = this.carousselData[lastIndex]
            this.carousselData.splice(lastIndex, 1)
            this.carousselData = [item, ...this.carousselData]*/
            document.getElementsByClassName('horizontal-nav-content')[0].scrollTo(2600, 0);

        },

        /*** switch to preview tab sheet caroussel */
        prevCaroussel: function(){
            /*let item      = this.carousselData[0]
            this.carousselData.splice(0, 1)
            this.carousselData.push(item)  */
            document.getElementsByClassName('horizontal-nav-content')[0].scrollTo(0, 0);
        },

        /**
         * get sheet index via item object
         * @param Object item
         */
        getItemIndex: function(item){
            let array = this.sheets
            for (let index = 0; index < array.length; index++) {
                const element = array[index];
                if(element.id == item.id){
                    return index
                }
            }
            return 0
        },

        /**
         * Switch to selected sheet 
         * @param Object item
         */
        goToSheetItem: function(item){
            let index = this.getItemIndex(item)
            this.switchSheet(index);
        }

    },

    mounted: function(){
        /*** add no-overflow-x class to app-body to avoid scrool bar in form making template */
        let app = document.querySelector('.app-body')
        app.classList.add('no-overflow-x')

        this.getFormSheets()
    },

    watch: {
        /**
        * auto refresh builder data
        * @param {integer} index 
        */
        currentSheetIndex: {
            immediate: false,
            handler: function(index){
                this.$refs.formbuilder.setJSON(this.sheets[index].content)
            }
        },

        /**
        * dispatch save and publish form on publish request trigged
        * @param {boolean} trigged 
        */
        publishrequest: {
            handler: function(trigged){
                if(trigged){
                   this.saveAndPublish() 
                }
            }
        },

        /**
         * update carrossel data on sheets change
         */
        sheets:{
            deep: true,
            handler: function(val){
                this.carousselData = [...val]
            }
        }

    },

    beforeDestroy: function(){
        /*** remove the class no-overflo-x before leaving page */
        let app = document.querySelector('.app-body')
        app.classList.remove('no-overflow-x')
    }
}
</script>
<style scoped>
    .form-making-wrapper{
        position: relative;
    }
    .horizontal-nav-content{
        white-space: nowrap;
        overflow-x: auto;
        scrollbar-width: thin;
    }
    .horizontal-nav-item {
        font-family: 'NunitoSans-SemiBold' !important;
        color: #D0CEDA !important;
        position: relative;
        padding: 8px 15px;
        border-bottom: 2px solid #D0CEDA !important;
    }
    .horizontal-nav-item.active{
        border-bottom: solid 2px #1F4171 !important;
    }

    .form-making-notice {
        text-align: center;
        max-width: 35rem;
        margin: auto;
        font-size: 1.2rem;
        color: #3C3850 !important;
        padding: 1rem;
    }
    
    .form-making-actions {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
    }

    .form-making-actions button {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 4px 0px #E1E3EE;
        border: 1px solid #D0CEDA;
        padding: 1rem;
        margin: .5rem 1rem;
        border-radius: 10px;
        position: relative;
    }

    .form-making-actions .sheet-number {
        position: absolute;
        top: 5px;
        left: 5px;
        font-size: 12px;
        color: #909399;
    }

    .form-making-actions .vertical-sheet-tab-btn img,
    .form-making-actions .add-sheet-btn img {
        filter: invert(.2);
    }
    .add-sheet-btn img {
        filter: contrast(0.5);
    }
    .form-making-actions .vertical-sheet-tab-btn.active{
        background: #6196FF 0% 0% no-repeat padding-box;
    }
    .form-making-actions .vertical-sheet-tab-btn.active img{
        filter: invert(0);
    }
    .form-making-actions .vertical-sheet-tab-btn.active .sheet-number{
        color: white;
    }
    .form-making-actions img {
        width: 25px;
    }

    .add-sheet-btn-icon.fa.fa-plus {
        filter: invert(0.8);
        position: absolute;
        top: 41%;
        left: 0;
        right: 0;
    }

    .slider-action--controls {
        position: relative;
    }
    .slider-action--controls a{
        position: absolute;
        max-width: 25px;
        top: .8rem;
    }
    .horizontal-nav-prev-btn {
        left: -2.5rem;
    }
    .horizontal-nav-prev-btn img{
        transform: rotate(-180deg);
    }
    .horizontal-nav-next-btn {
        right: -2.5rem;
    }

    /*** screen restriction style */
    #incompatible-screen{
        display: none;
    }
    @media (max-width:1500px) {
        .form-making-notice{
            font-size: 1rem;
        }

        .horizontal-nav-item{
            font-size: 14px;
        }
    }
    @media (max-width:768px) {
        #grimpeurs-formbuilder--container{
            display: none;   
        }
        #incompatible-screen{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin-top: 5rem;
            color: #1F4171 ;
            font-family: 'NunitoSans-SemiBold' ;
        }
        #incompatible-screen .alert-icon {
            font-size: 2rem;
            width: 4rem;
            height: 4rem;
            border: solid 2px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            margin-bottom: 1rem;
        }
        #incompatible-screen button{
            background: #f56c6c;
            border: none;
            padding: 0.8rem 1.5rem;
            color: white;
            font-size: 1.2rem;
            margin-top: 2rem;
            border-radius: 8px;
            font-family: "NunitoSans-SemiBold";
        }

    }

    /*** END screen restriction style */
</style>
<style>
    /*** overide style css */
    .form-making-wrapper footer{
        display: none !important;
    }
    .form-making-wrapper .fm-style .center-container .btn-bar {
        text-align: left !important;
        position: relative;
    }
    .form-making-wrapper  section.el-container.center-container.is-vertical {
        border: unset  !important;
        margin: 0 5rem 0 3rem;
    }
    .form-making-wrapper main.el-main {
        border: 1px solid #D0CEDA !important;
        border-top: unset  !important;
    }

    .form-making-wrapper .fm-style .widget-form-container .widget-form-list .widget-view .widget-view-drag,
    .form-making-wrapper .fm-style .widget-form-container .widget-form-list .widget-view .widget-view-action {
        background: #1f4171 !important;
    }
    .form-making-wrapper .fm-style .widget-form-container .widget-form-list .widget-view.active {
        outline: 2px solid #1f4171 !important;
        border: 1px solid #1f4171 !important;
    }
    .form-making-wrapper .el-radio-button__orig-radio:checked+.el-radio-button__inner {
        background-color: #1f4171 !important;
        border-color: #1f4171 !important;
    }
    
    .form-making-wrapper .el-aside ,
    .form-making-wrapper .el-main
    {
        overflow: unset !important;
        box-sizing: unset !important;
        -ms-flex-negative: unset !important;
        flex-shrink:  unset !important;
    }

    .form-making-wrapper .fm-style .el-main .widget-form-container{
        padding: 1rem !important;
    }

    .app-body.no-overflow-x{
        overflow-x: unset !important;
    }

    /*** editable form label  */
     .form-making-wrapper .el-form .fm-label-editable {
        font-size: 14px;
        color: #606266;
        border: none;
        background: none;
    }

    .form-making-wrapper .el-form.el-form--label-right .fm-label-editable,
    .form-making-wrapper .el-form.el-form--label-left .fm-label-editable{
        position: absolute;
        left: 0;
        top: 15px;
        max-width: 90px;
        text-align: right;
    }
    .form-making-wrapper .el-form.el-form--label-left .fm-label-editable {
        text-align: left;
    }

    .form-making-wrapper .widget-form-list .el-form-item__label{
        display: none;
    }

</style>