<template>
  <div class="new-form-builder">
      <div class="navbar-wrapper">
          <NavbarForm @save="saveForm" @exit="exitEditor" @publishrequest="bindPublishRequest" @open-tutorial="openTutorial" />
      </div>

      <div class="steep-wrapper" v-if="steep == 'CustomFormBuilder'">
          <CustomFormTutorial @close="closeTutorial" @completed="completeTutorial" v-if="tutorial" />
          <CustomFormBuilder :form="form" v-if="form" @save="saveForm" @exit="exitEditor" :publishrequest="publishrequest" @publish="publishForm" />
      </div>
      
      <div class="steep-wrapper" v-if="steep == 'FormPublisher'">
          <FormPublisher :form="form" @exit="exitEditor" @close="closeFormPublisher"  />
      </div>

  </div>
</template>

<script>
import  NavbarForm         from "./NavbarForm.vue"
import  CustomFormBuilder  from "./CustomFormBuilder.vue"
import  CustomFormTutorial  from "./Tutorial/CustomFormTutorial.vue"
import  FormPublisher      from "./FormPublisher.vue"

import  ApplicationService from "@/services/application/ApplicationService.js"

export default {
    name:"EditForm",
    components: {
       NavbarForm,
       CustomFormBuilder,
       FormPublisher,
       CustomFormTutorial
    },
    data: function(){
        return {
            folder         : false,
            form           : false,
            error          : false,
            publishrequest : false, 
            steep          : 'CustomFormBuilder',
            tutorial       : false
        }
    },

    methods: {
        /**
         * Fetch requested form 
         * @return void
         */
        getRequestedForm: function(){
            let that = this
            let slug = that.$route.params.form
            ApplicationService.findFormBySlug(slug).then(
                (response) => {
                    if(response.data.form){
                        that.form = response.data.form
                    }else{
                        that.$router.push({name:"error_404"})
                    }
            }).catch(
                (error) => {
                    console.log(error)
                    //that.$router.push("/internal-error")
            })
        },

        /**
         * Control save form request
         * @param  {Object} nForm
         * @param  {Array}  sheets
         * @return void
         */
        saveForm: function(nForm, sheets){
            if(nForm.name == this.form.name){
                this.updateFormName(nForm)
            }      
            this.saveSheets(sheets)

        },

        /**
         * Update form name if requested
         * @param  {Object} form
         * @return $router redirection
         */
        updateFormName: function(form){
            //
        },

        /**
         * Save or Update all form sheets
         * @param  {Array} sheets
         * @return void
         */

        saveSheets: function(sheets){
            let that = this
            sheets.forEach(sheet => {
                if(sheet.id){
                    that.updateSheet(sheet)
                }else{
                    that.saveSheet(sheet)
                }   
            });
        },

        /**
         * Add a new sheet to the current form
         * @param  {Object} sheet
         * @return $router redirection
         */
        saveSheet : function(sheet){
            let that = this
            ApplicationService.addSheet(this.form,sheet).then(
                (response) => {
                    if(!response.data.success){
                        that.error = true   
                    }
                }
            )
        },
        /**
         * Submit an update single sheet
         * @param  {Object} sheet
         * @return void
         */
        updateSheet : function(sheet){
            let that = this
            ApplicationService.updateSheet(sheet).then(
                (response) => {
                    if(!response.data.success){
                        that.error = true   
                    }
                }
            )
        },
        
        /**
         * Get request folder via slug url
         */
        getRequestedFolder: function(){
            let that = this
            let slug = that.$route.params.slug
            ApplicationService.findOneBySlug(slug).then(
                (response) => {
                if(response.data.folder){
                    that.folder = response.data.folder
                }else{
                    that.$router.push({name:"error_404"})
                }
            }).catch(
                (error) => {
                    that.$router.push("/internal-error")
            })
        },
        

        /**
         * Trig publish request event
         * @return void
         */
        bindPublishRequest: function(){
            this.publishrequest = true
        },
        /**
         * Trig publish request event
         * @return void
         */
        publishForm : function(){
            this.steep = 'FormPublisher'
        },

        /**
         * Close form publisher modal and witch to editor steep
         * @return void
         */
        closeFormPublisher: function(){
            this.publishrequest = false
            this.steep          = 'CustomFormBuilder'
        },

        /**
         * Handle On save and exit click btn
         * @return $router redirection
         */
        exitEditor: function(){
            this.$router.push({name:'organizaiton_application_folder_open', params: { slug: this.folder.slug}})
        },

        /**
         * Close form builder tutorial modal
         */
        closeTutorial: function(){
            this.tutorial = false
        },
        
        /**
         * Open form builder tutorial modal
         */
        openTutorial: function(){
            this.tutorial = true
        },

        /**
         * show or hide formbuilder tutorial 
         */
        guessShowTutorial: function(){
            this.tutorial = !this.tutorialIsCompleted()
        },  

        /**
        * get and check tutorial show statut stored in local storage 
        */
        tutorialIsCompleted: function(){
            const show_tutorial = localStorage.getItem('show-tutorial')
            return show_tutorial == 1
        },

        /**
         * Block formbuilder tutorial popop at the statup of page builder
         */
        completeTutorial: function(){
            localStorage.setItem('show-tutorial', 1)
        }

    },
    mounted: function(){
        this.getRequestedForm()
        this.getRequestedFolder()
        this.guessShowTutorial()
    }
}
</script>

<style>

</style>