<template>
    <Modal name="form-publisher-modal" size="lg">
        <div slot="header" class="w-100">
            <a class="close" href="#"  @click="close"> X </a>
        </div>
        <div slot="body" v-if="nForm">
            <div class="steep-wrapper" v-if="steep == 'FormName'">
                <div class="steep-title"> Je publie mon formulaire </div>
                <div class="steep-content">
                    <div class="form-group form-name-input-wrapper">
                        <input type="text" class="form-name-input" v-model="nForm.name" placeholder="Nom de formulaire">
                    </div>
                    <div class="form-group text-center">
                        <DefaultButton className="style1" :text="$t('word.next')" @click.native="onInputName" @onLoad="loading" />
                    </div>   
                </div>
            </div>

            <div class="steep-wrapper" v-if="steep == 'FormLink'">
                <div class="steep-title"> Je relie ce formulaire à : </div>
                <div class="steep-content">
                    <div class="form-group scholarship_section">
                        <h6 class="my-4">{{ $t('organization.exportModal.what_schol') }}</h6>
                        <div class="row">
                            <div class="col-lg-6 col-xl-4">
                                <input type="checkbox" id="all_sch" :value="scholarships" v-model="selectedScholarships" >
                                <label for="all_sch">{{ $t('word.all') }}</label>
                            </div>
                            <div class="col-lg-6 col-xl-4" v-for="scholarship, index in scholarships" :key="'scholaship-choice-'+index">
                                <input type="checkbox" :id="`scholarship-choice${index}`" :value="scholarship" v-model="selectedScholarships" >
                                <label :for="`scholarship-choice${index}`">
                                    {{ scholarship.name }}
                                </label>
                            </div>
                        </div>  
                    </div>
                    <div class="form-group text-center mt-5">
                        <DefaultButton className="style1" text="Publier ce formulaire" @click.native="publishForm" @onLoad="loading" />
                    </div>   
                </div>
            </div>
        </div>
    </Modal>
</template>

<script>
import  ProfilService      from '@/services/organization/ProfilService.js'
import  ApplicationService from "@/services/application/ApplicationService.js"

export default {
    name  : 'FormPublisher',
    props : {
        form : {
            require: true
        }
    }, 
    data  : function(){
        return {
            steep                : 'FormName',
            scholarships         : [],
            selectedScholarships : [],
            nForm                : null,
            loading              : false,
        }
    },
    methods: {
   
        /**
         * Handle form name change
         */
        onInputName: function(){
            if(!this.nForm.name && this.nForm.name.length < 3){
                this.dispatchError("le nom de formulaire invalide")
                return 
            }

            let that = this
            that.loading = true
            ApplicationService.editForm(this.form).then(
                (response) => {
                    if(response.data.success){
                        this.steep = 'FormLink'
                    }
                    that.loading = false
                }
            )
        },

        /**
         * Dispatch close modal event
         */
        close: function(){
            this.$emit('close')
        },

        /**
         * Update Organization scholarhsip list
         * @return {Array}
         */
        updateScholarshipList: function(){
            let that = this
            ProfilService.getRelatedScholarship().then(
            (response)=> {
                that.scholarships = response.data.scholarships
                that.updateAttachedScholarshipList()
            }) 
        },

        /**
         * Update list of scholarship already attached to the form
         * @return {Array}
         */
        updateAttachedScholarshipList: function(){
            let that = this 
            ApplicationService.getFormScholarships(that.form.id).then(
                (response) => {
                    if(response.data.scholarships){
                        that.selectedScholarships = response.data.scholarships
                        console.log('updated selected sch',response.data.scholarships)
                    }
                }
            )
        },

        publishForm: function(){
            if(!this.selectedScholarships.length){
                this.dispatchError("Veillez selectionnez au moins une bourse")
                return false
            }

            let that = this 
            that.loading = true

            let ids = []
            for (let index = 0; index < that.selectedScholarships.length; index++) {
                const element = that.selectedScholarships[index]
                ids = [...ids, element.id]
            }

            ApplicationService.publishForm(that.form, ids).then(
                (response) => {
                    if(response.data.success){
                        that.$router.push({name: 'organization_folder_list'})
                    }
                }
            )

        }
    },
    mounted: function(){
        this.updateScholarshipList()
        this.nForm = this.form
    }

}
</script>

<style scoped>
    .steep-title{
        color: #6196ff;
        font-family: "NunitoSans-Bold" !important;
        font-size: 2rem;
        margin-bottom: 5rem;
        text-align: center;
    }

    .form-name-input {
        width: 100%;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 4px 0px #E1E3EE;
        border: 1px solid #D0CEDA7D;
        padding: 1.2rem 1rem;
        border-radius: 10px;
        color: #909399;
    }

    .form-name-input-wrapper {
        width: 100%;
        max-width: 40rem;
        margin-bottom: 5rem;
    }

    input.form-name-input::placeholder {
        color: #C5C7CA;
    }


    .steep-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .scholarship_section {
        padding: 0 2rem;
        width: 100%;
    }
</style>

<style>
    #form-publisher-modal .modal-container,
    #form-publisher-modal .modal-body,
    #form-publisher-modal .steep-wrapper
    {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
</style>