<template>
    <div class="container">
      <h1>Comment voudriez vous créer votre formulaire ?</h1>
      <div class="box-container">
        <div class="box" @click="onSelectedModel('default')">
          <div class="circle">
            <span class="fa fa-thumbs-up"></span>
          </div>
          <h2 class="legend">Utiliser notre modèle</h2>
          <p class="text">
            Choisissez notre modèle de formulaire personnalisable
          </p>
        </div>
        <div class="box" @click="onSelectedModel('CustomFormBuilder')">
          <div class="circle">
            <span class="fa fa-edit"></span>
          </div>
          <h2 class="legend">Nouveau formulaire</h2>
          <p class="text">Créer un formualire à partire de zéro</p>
        </div>
      </div>
    </div>
</template>
<script>
    export default {
       name: "ModelChooser",
       methods: {
         onSelectedModel: function(model){
           this.$emit('selected',model)
         }
       }
    };
</script>
<style scoped>
    .container {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-top: 10em;
    }
    .box-container {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 3em;
        justify-content: space-around;
    }
    nav {
        background: #1f4171;
        display: flex;
        min-height: 97px;
    }
    p.navLink {
        color: #fff;
        margin-bottom: 0;
        cursor: pointer;
    }
    p.navLink span {
        font-size: 20px;
        margin-right: 0.5rem;
    }
    ul {
        list-style: none;
        display: flex;
        margin-bottom: 0;
        align-items: center;
    }
    ul li {
        padding: 2.2rem 3rem;
        border-left: 1px solid #ffff;
    }
    div.logo {
        width: 70%;
        display: flex;
        align-items: center;
        margin-left: 2.5rem;
    }
    h1 {
        color: #6196ff;
        font-weight: 600;
    }
    p.text {
      color: #d0ceda;
      text-align: center;
      font-size: 20px;
      max-width: 20rem;
    }

    .box {
      border: 1px solid #d0ceda;
      background: #FFFFFF 0% 0% no-repeat padding-box;
      box-shadow: 0px 4px 0px #E1E3EE;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 45%;
      cursor: pointer;
      padding: 2rem;
    }

    .box:hover{
      background: #c7c7c752;
    }
    

    .circle {
      background: #f8f8f8;
      border: 1px solid #d0ceda;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100px;
      width: 100px;
    }
    .circle span {
      color: #6196ff;
      font-size: 40px;
      position: relative;
    }
    h2.legend {
      margin-bottom: 1.5rem;
      margin-top: 1.5rem;
    }

    @media (max-width:1200px) {
      h1{
          font-size: 2rem;
      }
        h2.legend{
          font-size: 1.5rem;
      }
      p.text{
        font-size: 18px;
        max-width: 18rem;
      }
    }
    @media(max-width:768px){
        .container{
            margin-top: 3em;
        }
        .box-container{
          flex-direction: column;
        }
        .box{
          width: unset;
          margin-bottom: 1rem;
        }
        .circle{
            height: 80px;
            width: 80px;
        }
        .circle span {
          font-size: 30px;
        }
    }
    @media (max-width: 400px){
        h1{
            font-size: 1.5rem;
        }
    }
</style>
