<template>
    <div class="container">
      <h1>Attribuer un nom au formulaire</h1>
      <div class="box-container">
          <div class="form-group form-name-input-wrapper">
              <input type="text" class="form-name-input" v-model="model" placeholder="Nom de formulaire">
          </div>
          <div class="form-group text-center">
              <DefaultButton className="style4" :text="$t('word.next')" @click.native="onInputName" />
          </div>
      </div>
    </div>
</template>
<script>
    export default {
       name: "NameChooser",
       data: function(){
           return {
               model: null,
           }
       },
       methods: {
         onInputName: function(){
           this.$emit('input', this.model)
         }
       }
    };
</script>
<style scoped>
    .container {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-top: 10em;
    }
    .box-container {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 3em;
        justify-content: space-around;
        flex-direction: column;
    }
    
    h1{
        color: #6196ff;
        font-family: "NunitoSans-Bold" !important;
    }
    .form-name-input {
        width: 100%;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 4px 0px #E1E3EE;
        border: 1px solid #D0CEDA7D;
        padding: 1.2rem 1rem;
        border-radius: 10px;
        color: #909399;
    }

    .form-name-input-wrapper {
        width: 100%;
        max-width: 40rem;
        margin-bottom: 5rem;
    }

    input.form-name-input::placeholder {
        color: #C5C7CA;
    }
    @media(max-width:768px){
        .container{
            margin-top: 3em;
        }
        .box-container{
          flex-direction: column;
        }
      
    }
    @media (max-width: 400px){
        h1{
            font-size: 1.5rem;
        }
    }
</style>
