<template>
    <nav>
      <div class="logo" @click="$router.push({name:'organization_profil'})">
        <img :src="image.logo" alt="logo" />
      </div>
      <ul>
        <li class="save-form-btn--wrapper" v-tooltip="'Enregistrer les modifications et retourner vers la liste des formulaires'">
          <a class="navLink" @click="saveAndExit">
            <span class="menu-item-icon fa fa-save"></span> 
            <span class="menu-item-text">{{ $t('organization.fm.nav.save') }}</span> 
          </a>
        </li>
        <li class="exit-form-btn--wrapper" v-tooltip="'Quitter cette page et retourner vers la page d\'accueil'">
          <a class="navLink" @click="goToHome">
            <span class="menu-item-icon fa fa-sign-out"></span> 
            <span class="menu-item-text">{{ $t('organization.fm.nav.home') }}</span>
          </a>
        </li>
        <li class="publish-form-btn-wrapper" v-tooltip="'Attribué le formulaire à votre bourses'">
          <button class="publish-form-btn" @click="publishForm">{{ $t('organization.fm.nav.publish') }}</button>
        </li>
        <li class="helper-item" v-tooltip="'Didacticiel'">
            <button @click="openTutorial">
              <span class="fa fa-question"></span>
            </button>
        </li>
      </ul>
    </nav>
</template>
<script>
export default {
  name: "NavbarForm",
  data: function () {
    return {
      image: {
        logo: require("@/assets/img/logo-grimpeurs-white.svg").default,
      },
    }
  },
  methods: {
    saveAndExit(){
      let exitBtn = document.getElementById('save-and-exit-editor-btn')
      if(exitBtn){
        exitBtn.click()
        return 
      }
      this.$router.push({name:'organization_folder_list'})
    },
    goToHome: function(){
      this.$router.push({name:'home'})
    },
    publishForm: function(){
      this.$emit('publishrequest')
    },
    openTutorial: function(){
      this.$emit('open-tutorial')
    }
  }
};
</script>
<style scoped>
    nav {
        background: #1f4171;
        display: flex;
        display: flex;
        justify-content: space-between;

    }
    .logo{
      cursor: pointer;
    }
    .navLink {
        color: #fff !important;
        margin-bottom: 0;
    }
    .navLink span {
        font-size: 20px;
        margin-right: 0.5rem;
    }
    ul {
        list-style: none;
        display: flex;
        margin-bottom: 0;
        align-items: center;
    }
    ul li {
      border-left: 1px solid rgba(255, 255, 255, 0.425);
      text-align: center;
      height: 5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 2rem;
    }
    .logo{
      display: flex;
      align-items: center;
      padding: 0 2%;
    }

    .logo img{
        max-width: 15rem;
    }

    .publish-form-btn {
        padding: 15px 1rem;
        color: #1F4171;
        font-family: 'NunitoSans-Bold';
        border-radius: 10px;
        border: none;
    }

    .helper-item button {
        background: #f56c6c;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: .5rem 1rem;
        color: white;
        font-size: 2rem;
        border-radius: 50%;
    }

    @media (max-width:1220px) {
        ul li{
          padding: 1.5rem 2rem;
        }
        .navLink span{
            font-size: 16px;
        }
        .publish-form-btn{
            font-size: 14px;
        }
        .logo img{
            max-width: 12rem;
        }
    }

    @media(max-width:991px) {
        .logo img{
            max-width: 10rem;
        }
        ul li{
            padding: 1rem 1.5rem;
        }
        p.navLink span{
            font-size: 18px;
        }
    }

    @media (max-width: 850px){
      ul li{
        border: unset !important;
      }
      span.menu-item-text {
        display: none !important;
      }

      .navLink span{
          font-size: 1.5rem;
      }
    }
    
    @media (max-width: 768px){
      .logo img{
          max-width: 10rem;
      }
      p.navLink span{
          font-size: 12px;
      }
      ul li{
          padding: 1rem 1rem;
      }
      .save-form-btn--wrapper,
      .publish-form-btn-wrapper
      {
        display: none;
      }
      
    }
</style>
