<template>
  <div class="new-form-builder">
      <div class="navbar-wrapper">
          <NavbarForm />
      </div>
      <div class="steep-wrapper" v-if="folder">
          <NameChooser v-if="steep == 'NameChooser'" @input="onFormNameChange" />
          <ModelChooser v-if="steep == 'ModelChooser'" @selected="generateNewForm" />
      </div>
  </div>
</template>

<script>
import  NavbarForm        from "./NavbarForm.vue"
import  ModelChooser       from "./ModelChooser.vue"
import  NameChooser       from "./NameChooser.vue"

import  ApplicationService from "@/services/application/ApplicationService.js"

export default {
    name:"NewForm",
    components: {
       NavbarForm,
       ModelChooser,
       NameChooser
    },
    data: function(){
        return {
            folder        : false,
            steep         : 'NameChooser',
            nFormName     : null
        }
    },
    methods: {
        onFormNameChange: function(nName){
            this.nFormName = nName
            this.steep     = 'ModelChooser'
        },
        generateNewForm: function(model){
            let that = this
            let params = {
                folder   : this.folder, 
                name     : this.nFormName,
                template : model
            }
            
            ApplicationService.addForm(params).then(
                (response) => {
                    if(response.data.success && response.data.slug){
                        let params = {
                            slug : that.folder.slug,
                            form : response.data.slug
                        }
                        that.$router.push({name: 'organization_folder_form_edit', params: params})
                    }
                }
            )
        },

        getRequestedFolder: function(){
            let that = this
            let slug = that.$route.params.slug
            ApplicationService.findOneBySlug(slug).then(
                (response) => {
                if(response.data.folder){
                    that.folder = response.data.folder
                }else{
                    that.$router.push({name:"error_404"})
                }
            }).catch(
                (error) => {
                    that.$router.push("/internal-error")
            })
        },
    },
    mounted: function(){
        this.getRequestedFolder()
    }
}
</script>

<style>

</style>