<template>
    <default-layout>
        
        <div slot="content" class="formbuilder-preview-form">
            <div class="section-breadcrumbs">
                <BreadCrumbs :links="breadcrumbsLinks" />
                <DefaultButton className="style4 edit-form-btn" :text="$t('word.edit')" @click.native="editForm" />
            </div>


            <div class="preview-form-builder"  v-if="form">
                    <div class="section-steep-progression">
                        <div class="steep-progression-label">
                            <span>Etape </span>
                            <span>{{ currentSheetIndex + 1 }}</span>
                            <span >/ {{  form.sheets.length + 1  }} - </span>
                            <span>{{ currentSheet.name }}</span>
                        </div>
                        <div class="steep-progression-bar">
                            <ProfilProgressionBar width="1" />
                        </div>
                    </div>

                    <div v-if="finish" class="section section-steep-container">
                        <CongratSteep @publish="publishApplication" />
                    </div>
                    
                    <div class="section section-steep-container" v-else>
                        <div class="form-sheet-container" v-for="sheet, index in form.sheets" :key="'form-sheet-'+index">
                            <SheetView  
                                v-if="currentSheet.id == sheet.id" 
                                :sheet="sheet" 
                                :order="getSheetOrder(index)"
                                :sheetvalue="{}" 
                                @update="updateFormData"
                                @next="switchSheet(index + 1)"  
                                @prev="switchSheet(index - 1)"
                            />
                        </div>
                    </div>
            </div>
        </div>
    </default-layout>
        
</template>

<script>

import  ApplicationService     from "@/services/application/ApplicationService.js"
import  SheetView              from "@/view/scholarship/application/DefaultForm/parts/SheetView.vue"
import  CongratSteep           from "@/view/scholarship/application/DefaultForm/parts/CongratSteep.vue"
import ProfilProgressionBar    from "@/components/common/ProfilProgressionBar.vue"
import BreadCrumbs             from "@/view/organization/application/FormList/parts/BreadCrumbs.vue"
export default {
    name:"PreviewForm",
    components: {
        SheetView,
        CongratSteep,
        ProfilProgressionBar,
        BreadCrumbs
    },
    data: function(){
        return {
            folder             : false,
            form               : false,
            error              : false,
            currentSheetIndex  : 0,
            finish             : false,
            formData           : []
        }
    },
    computed:{
        currentSheet: function(){
            if(this.currentSheetIndex === false || !this.form){
                return false
            }
            return this.form.sheets[this.currentSheetIndex]
        },
        breadcrumbsLinks: function(){
            let that = this
            return [
                {  
                    text: that.$t('word.myforms'),
                    href: function(){
                        that.$router.push({name:'organization_folder_list'})
                    }
                },
                {
                    text: that.folder.name,
                    href: function(){
                        that.$router.push({name:'organizaiton_application_folder_open', params: { slug: that.folder.slug}})
                    }
                },
                {
                    text: that.form.name,
                    href: function(){ }
                }
            ]
        }
    },
    methods: {
        /**
         * Fetch requested form 
         * @return void
         */
        getRequestedForm: function(){
            let that = this
            let slug = that.$route.params.form
            ApplicationService.findFormBySlug(slug).then(
                (response) => {
                    if(response.data.form){
                        that.form = response.data.form
                    }else{
                        that.$router.push({name:"error_404"})
                    }
            }).catch(
                (error) => {
                    console.log(error)
                    //that.$router.push("/internal-error")
            })
        },
        
        /**
         * Get request folder via slug url
         */
        getRequestedFolder: function(){
            let that = this
            let slug = that.$route.params.slug
            ApplicationService.findOneBySlug(slug).then(
                (response) => {
                if(response.data.folder){
                    that.folder = response.data.folder
                }else{
                    that.$router.push({name:"error_404"})
                }
            }).catch(
                (error) => {
                    that.$router.push("/internal-error")
            })
        },

        switchSheet: function(index){
            if(this.form.sheets && this.form.sheets[index]){
                this.currentSheetIndex = index
            }
        },

        getSheetOrder: function(index){
            if(index == 0){
                return 'first'
            }

            if(index == this.form.sheets.length -1 ){
                return 'last'
            }

            return 'midle'
        },

        updateFormData: function(sheet, data){
            let value = { sheet, data }
            let index = this.getSheetDataIndex(sheet)
           
            if(index === false){
                this.formData = [...this.formData, value]
                return
            }

            this.formData[index] = value
        },

        editForm: function(){
            this.$router.push({name: 'organization_folder_form_edit', params: {slug: this.folder.slug, form: this.form.slug} })
        },


    },
    mounted: function(){
        this.getRequestedForm()
        this.getRequestedFolder()
    }
}
</script>

<style scoped>
    .formbuilder-preview-form{
        padding: 2rem;
    }
    .preview-form-builder{
        margin-top: 2rem;
    }
    .section-breadcrumbs {
        position: relative;
    }
    .edit-form-btn {
        position: absolute;
        top: -1rem;
        right: 0;
    }
    .section-steep-container{
        margin-top: 2rem;
    }
</style>