<template>
  <default-layout>
      
      <div class="full-height profil " slot="content">
            <div class="scholarship-search-wrapper">
                <div class="category-filter favorite-scholarship--header">
                    <label id="label-form-search lab-fav">{{ $t("word.myscholarships") }}</label>            
                    <div class="search-cont">
                        <input type="search" v-model="searchFav" id="search-fav" :placeholder=" $t('page.commun.search-in-favorite')">
                        <img :src="icon" alt="" @click="launchSearch">
                    </div>
                </div>
            </div>
            <div class="scolarship-search-filer px-5 mt-5">
                <div class="row">
                    <div class="col-sm-6 text-left">
                        <div class="sohort-group">
                            <label>Trier par</label>
                            <select class="form-select" v-model="orderOption">
                                <option v-bind:value="option" v-for="(option, index) in orderOptions" :key="`short-${index}`">{{option.text}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6 row-filter">
                        <div>
                            <label>Affichage</label>
                        </div>
                        <div class="grid-filter">
                            <button class="grid-icon" v-if="presentationGrid" v-on:click="togglePresentation">
                                <i class="fa fa-th-list"></i>
                            </button>
                            <button class="large-icon" v-else v-on:click="togglePresentation">
                                <i class="fa fa-th-large"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="scholarship-search-result px-5"  v-if="scholarships.length > 0">
            <div class="presentation-grid" v-if="presentationGrid">
                    <div class="custom-row">
                        <div class="custom-col mt-5" v-for="(scholarship, index) in scholarships"  :key="'index-s-'+index">
                            <ScholarshipItemGrid
                                v-bind:scholarship="scholarship"
                                v-on:removeFavorite="getSearchResult('scholarship')"
                            />
                        </div>
                    </div>
                </div>
                <div class="mt-4 presentation-large" v-else>
                    <ItemLarge
                        v-for="scholarship in scholarships"
                        v-bind:key="scholarship.id"
                        v-bind:scholarship="scholarship"
                    >
                    </ItemLarge>
                </div>
            </div>

            <div class="p-5 m-5 text-center" v-else>Vous n'avez aucune bourse</div>

      </div>
  </default-layout>
</template>
<script src="./MyScholarships.js"></script>
<style scoped>
    .lab-fav{
        margin-bottom: 0;
    }
    #search-fav {
        font-size: 14px;
        height: 41px;
        width: 25.62225475841874vw;
        padding: 10px;
        border-radius: 5px;
        border: none;
    }
    .favorite-scholarship--header{
        display: flex;
        align-items: center;
    }
    .favorite-scholarship--header label{
        font-family: 'NunitoSans-Bold' !important;
        font-size: 1.2rem !important;
        color: #444242;
    }

    #search-fav::placeholder{
        color:#D3D3D3;
    }
    .search-cont{
        border: 1px solid #D3D3D3;
        padding: 0 10px;
        background: #fff;
        border-radius: 5px;
        display: block;
        margin-left: auto;
    }
    .search-cont img{
        cursor: pointer;
    }
 
    .custom-row{
        display: flex;
        flex-wrap: wrap;
    }
    .custom-col {
        text-align: center;
        width: 25%;
        padding: 0 1rem;
    }

    @media (max-width:1620px) {
        .custom-col {
            width: 33.333333%;
        }
    }

    @media (max-width:1220px) {
        .custom-col {
            width: 50%;
        }
    }
    @media (max-width:720px) {
        .custom-col {
            width: 100%;
        }
    }
</style>