
.scholarship-search-wrapper {
    padding: 2.5rem 1.5rem!important;
    background: #F8F8F8 !important;
    border-bottom: solid 1px #e4e4e3;
  }
  
  .result-title {
    font-family: 'NunitoSans-SemiBold';
    font-size: 18px;
    color: #12ad9ecc;
  }
  
  .scolarship-search-filer label{
    font-size: 12px;
    font-family: 'NunitoSans-Regular';
  }
  
  .row-count-input {
    width: 45px;
    margin-left: 10px;
    margin-right: 5px;
    height: 25px;
    text-align: center;
  }
  
  .row-filter {
    display: flex;
    justify-content: flex-end;
    padding-left: 0;
  }
  
  
  .grid-filter button{
    border: none;
    text-align: center;
    display: inline-block;
    background: none;
    width: 24px;
  }
  .row-filter,
  .grid-filter button .fa {
    color: #c5c5c5;
  }
  
  .sohort-group .form-select {
    padding: 5px 10px;
    border: solid 1px  #c5c5c5;
    border-radius: 18px;
    background: white;
    font-size: 12px;
    font-family: 'NunitoSans-Regular';
  }
  .search-paginator {
      padding: 6vh 0vh;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  #num-pages {
      font-size: 0.8em;
  }
  
  .search-paginator .paginator-text {
    margin-right: 3vw;
    font-size: 12px;
    font-family: 'NunitoSans-Bold';
    display: flex;
    align-items: center;
  }
  .search-paginator .paginator-text span {
    margin-right: 2px;
  }
  
  .search-paginator .paginator-controls button {
    width: 29px;
    border: none;
    background: no-repeat;
    color: #c5c5c5;
  }
  
  /** Temporaire */
  .choix-moteur {
    width: 301px;
    height: 41px;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 20px;
  }
  .choix-moteur-sans-formation {
    width: 150px;
    height: 41px;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 20px;
  }
  
  .choix-moteur-sans-formation  #choix-1{
      background: #fff 0 0 no-repeat padding-box;
      height: 41px;
      border-radius: 15px;
      width: 100%;
      display: flex;
      color: #02AC98;
      align-items: center;
      justify-content: center;
  }
  
  
  .choix-moteur #choix-1, .choix-moteur #choix-2 {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .choix-moteur #choix-1 {
    background: #fff 0 0 no-repeat padding-box;
    height: 41px;
    border-radius: 15px 0 0 15px;
  }
  #choix-2 {
    color: #fff;
  }
  .pagination .page-item a.page-link {
    border:none
  }
  
  .pagination .page-item.page-number {
    visibility: hidden;
  }
  
  .pagination .page-item a.page-link:before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "FontAwesome"; font-weight: 900;
  }
  .pagination .page-item.first a.page-link:before {
      content: "\f048";
  }
  
  .pagination .page-item.previous a.page-link:before {
    content: "\f053";
  }
  
  .pagination .page-item.next a.page-link:before {
    content: "\f054";
  }
  
  .pagination .page-item.last a.page-link:before {
    content: "\f051";
  }

  .home-page .scholarship-search-form > div:nth-child(3){
    display:none;
  }
  