<template>
  <div>
    <form  id="form-confirm-account">
          <div class="row">
            <div class="form-group col-sm-12 my-3" id="instruction">
              <p v-if="codeResent" class="m-auto text-center">
                <b>{{ $t("modal.message_code_resent") }}</b>
              </p>
              <p>
                {{ $t("modal.message_3") }}
                <br>
                {{ $t("modal.message_4") }}
              </p>
            </div>
            <div class="form-group col-sm-12 my-3">
              <label
                >{{ $t("modal.message_5") }}
                <span classe="upper">{{ typeAuth }}</span>
              </label>
              <input
                id="code_confirmation"
                type="text"
                class="form-control"
                v-model="code"
              />
            </div>
          </div>
          <div v-if="message" class="alert alert-danger" role="alert">
            {{ $t(message) }}
          </div>

          <div class="row my-4 activate-account-actions">
            <div class="text-center col-sm-6 btn-left">
            <DefaultButton 
              :text="$t('word.resend')" 
              :onLoad="onResentCode"
              @click.native="resendCode">
            </DefaultButton>
            </div>
            <div class="text-center col-sm-6 btn-right">
              <DefaultButton
                :onLoad="waiting"
                text="Valider"
                @click.native="activateAccount"
              ></DefaultButton>
            </div>
          </div>
        </form>
  </div>
</template>
<script>
import service from "@/services/auth/user.service.js";
  export default {
    name : 'ActivateAccount',
    data : function() {
      return {
        typeAuth : "email",
        code : "",
        waiting : false,
        onResentCode: false,
        message: "",
        codeResent : false
      }
    },
    props : {
      email : {
        type: String
      },
      context : {
        type : String,
        default : "confirmation_code"
      },
      password : {
        type : String,
        default : ""
      }
    },
    methods : {
      activateAccount(e) {
        e.preventDefault();
        let that = this;
        that.message = ""
        that.waiting = true;
          service
            .confirmbycode({"email" : that.email , "code" : that.code})
            .then(function (response) {
              that.waiting = false;
              if(response.data.success){
                  if(that.context == "change_password") {
                    document.location.href = "/user/change/password";
                  }else{
                  that.$store
                  .dispatch("user/login", {"username" : that.email , "password" : that.password})
                    .then((response) => {
                        document.location.href = "/user/student/profil";
                      })
                      .catch((error) => {
                  // error
                      }); 
                    
                  }
              }else{
                that.message = "word.form.activation_account_error"
              }
        
      
            })
            .catch(function (error) {
              that.waiting = false;
              console.log(error);
              that.message =
                "word.form." +
                (error.response.data.code == 500
                  ? "internal_error"
                  : error.response.data.message);
            });
        
      },
      resendCode(e){
        e.preventDefault();
        let that = this
        that.codeResent = false 
        that.onResentCode = true
        service.resendCodeActivation({ email:this.email }).then(
          (response) => {
            if(response.data.success){
              that.codeResent = true
            }
            that.onResentCode = false
          }
        )
      }
    }
  }

</script>
<style>


</style>