<template>
    <div class="adresse-input-wrapper" :class="{'with-icon': icon}">
        <input 
            type="text" 
            v-model="model" 
            ref="adresseInput" 
            class="form-control" 
            autocomplete="on" 
            @input="trigInput"
            :placeholder="placeholder"
            >
    </div>
</template>
<script>
import { Loader } from '@googlemaps/js-api-loader'

export default {
    name: "AdresseInput",
    props: {
        value : {
            required : true
        },
        placeholder:{
            default: 'Ex: Paris'
        },
        icon:{
            default: true
        }
    },
    data: function(){
        return {
            google: null,
            map: null,
            model: null
        }
    },
    methods:{
        /**
         * Manage search on input change
         * 
         * @return void
         */
        autoCompleteInput(){
            let input = this.$refs.adresseInput
            let adresseOrg = new google.maps.places.Autocomplete(input)
            let that       = this
            adresseOrg.addListener('place_changed', function(){
                var place = adresseOrg.getPlace()
                that.selectedPlace(place)
            }) 
        },
        /**
         * Emit 'input' and 'place-select' event  on suggest adresse selected
         * 
         * @param {Object} place
         * @return void
         */
        selectedPlace(place){
            let input = this.$refs.adresseInput
            this.$emit("input", input.value)
            this.$emit("place-select", place)
        },

        /**
         * Trig 'input' event
         * 
         * @param {Object} e
         * @return void
         */
        trigInput: function(e){
            this.$emit("input", e.target.value);
        }
    },
    mounted: function(){
        /*** init gmaps api */
        const loader = new Loader({
            apiKey: process.env.GMAP_KEY,
            libraries: ["places"]
        })
        loader.load().then(
            () => {
                this.autoCompleteInput()
            }
        )

        //*** Maped default value */
        if(this.value){
            this.model = this.value
        }
    }

}
</script>

<style>
    .pac-container{
        z-index: 99999999999 !important;
    }

    /*** hidde google signature */
    .pac-container:after {
            content: "";
            min-width: 60px;
            min-height: 15px;
            z-index: 99999999999;
            right: 2px;
            bottom: 2px;
            position: absolute;
            display: block;
            background: white;
    }
</style>
<style scoped>
    .adresse-input-wrapper{
        width: 100%;
        position: relative;
    }
    .adresse-input-wrapper.with-icon:before{
        content: url("~@/assets/img/localisation-map-white.svg"); 
        position: absolute;
        left: 0;
        top: 0;
        filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(0%) !important;
        opacity: 0.9;
        transform: scale(0.4);
        bottom: 10px;
    }
    .adresse-input-wrapper.with-icon input {
        padding-left: 2.5rem;
    }
   
</style>