<template>
    <div class="custom-avatar" :class="size">
        <img :src="image" v-if="image" />
        <div v-else>
            <span v-if="alt" class="custom-avatar--letter">
                {{ getAvatarLetter() }}
            </span>
        </div>
    </div>
</template>

<script>
export default {
    name: "Avatar",
    props: {
        image: {
            default: false
        },
        size: {
            default : "medium"
        },
        alt:{
            default: false
        }
    },
    methods:{
        getAvatarLetter(){
            return this.alt.charAt(0)
        }
    }


}
</script>

<style>
    .custom-avatar {
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #d0ceda;
        padding: 0;
    }
    .custom-avatar img {
        max-width: inherit;
    }
    .custom-avatar--letter {
        font-family: 'NunitoSans-ExtraBold';
    }

    .custom-avatar.small{
        max-width:  25px;
        max-height: 25px;
        min-width:  25px;
        min-height: 25px;
    }
    .custom-avatar.small .custom-avatar--letter {
        font-size: 1rem;
    }

    .custom-avatar.medium{
        max-width:  50px;
        max-height: 50px;
        min-width:  50px;
        min-height: 50px;
    }
    .custom-avatar.medium .custom-avatar--letter {
        font-size: 2rem;
    }
    
    .custom-avatar.midle{
        max-width:  75px;
        max-height: 75px;
        min-width:  75px;
        min-height: 75px;
    }
    .custom-avatar.midle .custom-avatar--letter {
        font-size: 3rem;
    }

    .custom-avatar.large{
        max-width:  100px;
        max-height: 100px;
        min-width:  100px;
        min-height: 100px;
    }
    .custom-avatar.large .custom-avatar--letter {
        font-size: 4rem;
    }



</style>