<template>
  <div class="boolean-wrapper">
    <button class="true" @click="setVal(true)" :class="booleanVal ? 'selected' : '' ">
      {{ label.true }}
    </button>
    <button class="false" @click="setVal(false)" :class="booleanVal ? '' : 'selected' ">
      {{ label.false }}
    </button>
  </div>
</template>
<script>
  export default {
    name : 'BooleanInput',
    props : {
      value : {
        type : Boolean,
        default : false
      },
      label : {
        type : Object,
        default : function(){
            return {
              true  : this.$t('word.yes'),
              false : this.$t('word.no')
            }
        }
      }
    },
    data : function(){
      return {
        booleanVal : false
      }
    },
    watch : {
      value(val){
        this.booleanVal = val
      }
    },
    methods : {
      /**
       * Emit 'input' event
       * 
       * @return void
       */
      updateValue(){
        this.$emit('input', this.booleanVal)
      },

      setVal(val){
        this.booleanVal = val
        this.updateValue()
      }
    }
  }

</script>
<style>
.boolean-wrapper {
    display: inline-block;
}
.boolean-wrapper button{
    background: none;
    color:#c5c5c5;
    border: solid 2px #c5c5c5;
}
.boolean-wrapper button.true {
    padding-left: 20px;
    border-radius: 15px 0px 0px 15px;
    margin-right: -5px;
    border-right:none;
}

.boolean-wrapper button.false {
    padding-right: 20px;
    border-radius: 0px 15px 15px 0px;
    margin: 0;
    padding-left: 10px;
}
.boolean-wrapper button.selected{
   background: #c5c5c5;
   color: white;
}



</style>