<template>
    <div class="breadcrumb">
        <ul >
            <li v-for="item, index in items" :key="'breadcrumb-'+index">
                <a href="#" @click.prevent="onItemClick(item)">
                    {{ item.text }}
                </a>
            </li>
        </ul> 
    </div>
</template>

<script>
export default {
    name: "Breadcrumb",
    props:{
        items:{
            default: []
        }
    },
    methods: {
        onItemClick: function(item){
            if(item.route){
                this.$router.push(item.route)
                return 
            }

            if(item.link != '#'){
                document.location.href = item.link
            }
        }
    }
}
</script>

<style scoped>

    .breadcrumb {
        background: white;
        padding: 0 !important;
    }

    .breadcrumb ul {
        list-style : none ;
        
    }

    .breadcrumb ul li {
        display:inline;
        margin-left: .2rem;
    }

    .breadcrumb ul li a  {
        color:#575469 !important ;

    }

    .breadcrumb ul li:not(:last-child):after{
        content: ">";
        margin-left: 0.2rem;
    }

    
    .breadcrumb ul li   {
        color:#575469 !important ;
        font-size: 14px
    }

    @media (max-width:768px) {
       .breadcrumb {
           display: none;
       }
   }

</style>