<template>
    <div class="confirm-action-wrapper">
        <div class="confirm-text">
            <label>{{ message }}</label>
        </div>
        <div class="confirm-actions">
            <DefaultButton className="outline2 yes-btn" :text="$t('word.yes')"    @click.native ="$emit('validate')"/>
            <DefaultButton className="outline no-btn"   :text="$t('word.cancel')" @click.native ="$emit('cancel')"/>
        </div>
    </div>
</template>

<script>
export default {
    name: 'ConfirmAction',
    props: {
        message:{
            default: ""
        }
    }

}
</script>

<style scoped>
    .confirm-action-wrapper {
        position: absolute;
        z-index: 999;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 12px 3px #64646424;
        border: 1px solid #D3D3D3;
        right: -2rem;
        top: -8rem;
        width: 18rem;
        padding: 1rem;
        border-radius: 15px;
        text-align: left !important;
    }
    .confirm-text {
        font-family: 'NunitoSans-Regular';
        margin-bottom: 0;
        padding: 0;
    }
   .confirm-actions .yes-btn{
        border-radius: 15rem;
        padding: 5px 2rem;
        min-height: 1.5rem !important;
        font-size: 15px !important;
   }
   .confirm-actions .no-btn{
        padding: 5px 1rem;
        min-height: 1.5rem !important;
        font-size: 15px !important;
   }
    @media (max-width: 1200px){
        .confirm-text,
        .confirm-actions .no-btn,
        .confirm-actions .yes-btn
        {
            font-size: 14px !important;
        }
        .confirm-action-wrapper{
            width: 17rem;
        }
        .confirm-actions .yes-btn,
        .confirm-actions .no-btn{
            padding: 0rem 1.3rem !important;
        }
    }
    
</style>