<template>
  <Multiselect
      class="continent-select"
      :placeholder="placeholder"
      selectLabel = ""
      :options="options"
      track-by="id"
      label="name"
      :multiple="multiple"
      v-model="newValue"  
      v-bind:value="value"
      @input="updateValue">
  </Multiselect>
</template>
<script>
import Multiselect from "vue-multiselect";
import "vue-multiselect/dist/vue-multiselect.min.css";

export default {
  name   : 'ContinentSelect',
  props  : {
    
    placeholder : {
      type    : String,
      default : ""
    },
    value : {
      default : function(){ return {} }
    },
    multiple : {
        type : Boolean,
        default : false
    }
  },
  components : {
    Multiselect
  },
  data : function(){
      return {
        options : [],
        newValue : null,
        defaultModel : {
            id   : 0,
            name : 'All'
        }
      } 
  },
  methods : {
    updateValue: function (value) {
       let that = this
        if(that.multiple){
          if(!value.length){
            that.$emit('input', [that.defaultModel])
            return
          }
          for (var i = 0; i < value.length; i++) {
            if(value[i].id == 0 && i !== 0){
              that.$emit('input', [that.defaultModel])
              return
            }
            if(value.length > 1 && value[i].id == 0){
              value.splice(i,1)
            }
          }
        }
        this.$emit('input', value)
      },
  },
  mounted : function(){
      let currentLang = this.$store.state.lang
      let that = this;
      let continents = Object.entries(
        require("@/lang/translations/continent/en.json")
      )
      continents.map((item) => {
        let id = item[0];
        that.options = [
          ...that.options,
          { name: that.$t(`continent.${id}`), id },
        ];
      })

      if(that.multiple){
        if(that.value && !that.value.length){
          that.newValue = [that.defaultModel]
        }else{
          that.newValue = that.value
        }
      }else{
        if(!that.value){
          that.newValue = that.defaultModel
        }else{
          that.newValue = that.value
        }
      }

  },
  watch : {
    value : {
      deep : true,
      handler: function(newVal){
        this.newValue = newVal
      }
    }
    
  }
}

</script>