<template>
  <Multiselect
      class="country-select"
      :placeholder="placeholder"
      selectLabel = ""
      :multiple="multiple"
      :options="countries"
      track-by="id"
      :custom-label="getLabel"
      v-bind:value="value"
      v-model="model"
      @input="updateValue">
  </Multiselect>
</template>
<script>
import Multiselect from "vue-multiselect"
import "vue-multiselect/dist/vue-multiselect.min.css"
import CountryService from "@/services/common/CountryService.js"


export default {
  name   : 'CountrySelect',
  props  : {
    placeholder : {
      type    : String,
      default : "select a option"
    },
    value : {
      default : function() { 
        return []
      }
    },
    multiple : {
        type : Boolean,
        default : false
    },
    continents : {
        type : Array,
        default : function(){
          return []
        } 
    },
    all: {
      type: Boolean,
      default: true
    },
    customIds :{
        type: Array,
        default: function(){
            return []
        }
    },
    onlyFavorite: {
      default : false
    }
  },
  components : {
    Multiselect
  },
  data : function(){
      return {
        countries : [],
        model     : {},
        defaultModel : {
            id   : 0,
            name : 'All'
        }
      } 
  },
  methods : {
    init: function(){
      /*** init default value */
      this.model = !this.value ? this.defaultModel : this.value
      if(this.multiple){
        this.model = this.value
        if(this.value && !this.value.length){
          this.model = this.all ? [this.defaultModel] : []
        }
      }

     
      /*** Init list */
      this.initCountryList()
    },

    initCountryList : function(){

      if(this.onlyFavorite){
        this.getUserFavoriteCountries()
        return  
      }

      if(this.continents.length){
        this.refreshList()
        return
      }

      this.getDefaultList()

    },

    getUserFavoriteCountries(){
        if(this.profil.roles.indexOf("ROLE_ORGANIZATION") != -1){
          this.countries = [this.profil.country, ...this.profil.country_action]
        }

        if(this.profil.roles.indexOf("ROLE_STUDENT") != -1){
          this.countries = this.profil.desired_countries
        }
         
        if(this.all) {
          this.countries = [{id: 0, name: "All"}, ...this.countries]
        }
    },

    updateValue     : function (value) {
      let that = this
      if(that.multiple){
        if(!value.length){
          if(that.all){
            that.$emit('input', [that.defaultModel])
          }else{
            that.$emit('input', null)
          }
          return
        }

        for (var i = 0; i < value.length; i++) {
          if(value[i].id == 0 && i !== 0){
            that.$emit('input', [that.defaultModel])
            return
          }
          if(value.length > 1 && value[i].id == 0){
            value.splice(i,1)
          }
        }
      }
      that.$emit('input', value)
    },

    getDefaultList  : function(){
        let that = this;
        that.countries = []
        let countries = Object.entries(
            require("@/lang/translations/country/en.json")
        );
        /** remove all from list */
        countries.splice(countries["0"], 1)
        const allowed = [];
        if(this.customIds && this.customIds.length) {
          let i = 0;
          for(const country of countries){
            if(this.customIds.includes(parseInt(country[0]))){
              allowed.push(country);
              i++;
            }
            if(i == this.customIds.length) break;
          }
          countries = allowed;
        }

        countries.sort(function(a, b) {
            return (a[1] < b[1]) ? -1 : ((a[1] > b[1]) ? 1 : 0)
        })

        countries.map((item) => {
            that.countries = [
                ...that.countries, {
                  id   : item[0],
                  name : item[1]
                }
            ]
        })

        if(that.all) {
          that.countries = [{id: 0, name: "All"}, ...that.countries]
        }
    },

    getLabel        : function({id}){
      return this.$t(`country.${id}`)
    },

    refreshList: function(){
        let that      = this
        let contients = that.continents
        
        /** remove all */
        for (var i = 0; i < contients.length; i++) {
          if(contients[i] == 0){
           contients.splice(i,1)   
          }
        }

        CountryService.getList(contients).then(
          (response) => {
            that.countries = response.data.countries
            if(that.all) {
              that.countries = [{id: 0, name: "All"}, ...that.countries]
            }
          }
        ).catch(
          (error) => {
            console.log("error getting country list", error)
            that.getDefaultList()
          }
        )
    }
  },
  watch : {
    continents : {
      deep : true,
      handler: function(newVal){
        this.refreshList()
      }
    },
    value : {
      deep : true,
      handler: function(newVal){
        this.model = newVal
      }
    },
    customIds: {
      deep : true,
      handler: function(newVal){
        this.getDefaultList()
      }
    },
    countries : {
      deep      : true,
      handler   : function(list){
        this.$emit("listLoaded", list)
      }
    },
    all: {
      handler: function(){
        this.init()
      }
    }
  },
  mounted : function(){
     this.init()
  }
}

</script>