<template>
    <div class="custom-tab-wrapper" v-if="options">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="navbar-filter-container">
                <ul class="navbar-nav">
                    <li class="nav-item" v-for="option, index in options" :key="'tab-item-'+index" v-bind:class="{ active: value.value === option.value }">
                        <a class="nav-link"  v-on:click="onSelect(option)">
                            {{ option.label }}
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</template>

<script>
export default {
    name: "CustomTab",
    
    props: {
        options: {
            require : true
        },
        value: {
            require: true
        }
    },

    methods: {
        onSelect: function(option){
            this.$emit('input', option)
        }
    }
}
</script>

<style scoped>
    .scolarship-select-wrapper select{
        padding: .6rem 2rem;
        color: #2a292b;
        border: solid 1px #D0CEDA;
        background: white;
        border-radius: 15px;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
    .scolarship-select--container {
        max-width: fit-content;
        position: relative;
    }
    .scolarship-select--container:after {
        content   : url("~@/assets/img/chevron-left-white.svg") !important;
        filter    : invert(.5);
        transform : rotate(-90deg);
        display   : block !important;
        position: absolute;
        top: 8px;
        right: 14px !important;
    }
    .custom-tab-wrapper {
        display: flex;
        align-items: end;
        justify-content: space-between;
    }
    .custom-tab-wrapper .navbar{
        padding: 15px 0 !important;
    }
    .nav-item{
        text-align: center;
        letter-spacing: 0px;
        color: #3C3850;
        border-bottom: solid 3px #D0CEDA;
        display: block;
        margin: 0;
        padding: 1rem 2rem;
    }
    .nav-item:hover,
    .nav-item.active
    {
        border-bottom: solid 3px #FF7667;
    }
    .navbar .navbar-nav .nav-link {
        color         : #D0CEDA !important;
        font-size     : 14px ;
        text-transform: capitalize;
        position      : relative ;
        font-family: 'NunitoSans-SemiBold';
    }


    .navbar .navbar-nav .nav-link:hover,
    .navbar .navbar-nav .active .nav-link {
         width : 100%;
    }

    .navbar .navbar-nav .nav-link:hover,
    .navbar .navbar-nav .active .nav-link{
        color: #3C3850 !important;
    }

    .filter-action-container {
        padding-bottom: 10px;
    }
    .add-form-link .link-text {
        font-family: 'NunitoSans-SemiBold';
        font-size: 1.2rem;
    }

    @media (max-width:1360px) {
        .add-form-link .link-text{
            font-size: 1.1rem;
        }
        .nav-item{
            padding: 1rem 1.5rem;
        }
    }

    @media (max-width:1200px) {
        .nav-item{
            padding: 1rem;
        }
    }
    @media (max-width:1024px) {
        .custom-tab-wrapper{
            flex-direction: column;
            align-items: flex-start;
        }
        .filter-action-container{
            width: 100%;
            text-align: right;
        }
    }
    @media (max-width:991px) {
        .navbar-filter-container{
            width: 90%;
        }   
        .navbar-filter-container .navbar-nav{
            flex-direction: row !important;
        }
    }

    @media (max-width:768px) {
        .navbar-filter-container{
            width: 100%;
        }
        .navbar-filter-container .navbar-nav{
            justify-content: space-between;
        }
        .navbar-filter--container{
            border-bottom: solid 1px #D0CEDA ;
        }
        .nav-item{
            border: none;
            padding: 1rem 0 !important;
            white-space: nowrap;
        }
        
        .navbar .navbar-nav .nav-link:hover,
        .navbar .navbar-nav .nav-link 
        {
            font-family: 'NunitoSans-Bold' !important;
            color: #3C3850 !important;
            padding: 5px 15px 1.6rem 15px; 
            border-radius: 1rem;
        }
     

        .nav-item:hover,
        .nav-item.active
        {
            border-bottom: unset;
        }

        .navbar .navbar-nav .nav-item.active .nav-link:hover,
        .navbar .navbar-nav .nav-item.active .nav-link 
        {
            color: #6196FF !important;
            background: #F2F1F5 0% 0% no-repeat padding-box;
        }

        .filter-action-container{
            display: none;
        }


    }

</style>