<template>
  <div class="date-select w-100">
    <input
      type="hidden"
      v-bind:value="value"
      v-on:input="updateValue($event.target.value)"
    />
    <div class="row">
      <div class="col-4"  v-if="format.toUpperCase().includes('D')">
         <Multiselect
            class="day-select mt-1"
            :placeholder="$t('word.day')"
            selectLabel=""
            :options="days"
            v-model="newDate.day"
            @input="updateNewDate"
            :allow-empty="required"
            :disabled="disabled"
          />
      </div>

      <div class="col-5">
         <Multiselect
            :disabled="disabled"
            class="month-select mt-1"
            :placeholder="$t('word.month')"
            selectLabel=""
            :custom-label="$t(label_month)"
            :options="months"
            v-model="newDate.month"
            @input="updateNewDate"
            :allow-empty="required"
          />
      </div>
      
      <div class="col-3" v-if="format.toUpperCase().includes('Y')"> 
        <Multiselect
            class="year-select mt-1"
            :placeholder="$t('word.year')"
            selectLabel=""
            :options="years"
            :allow-empty="required"
            v-model="newDate.year"
            @input="updateNewDate"
            :disabled="disabled"
          />
      </div>

    </div>
  </div>
</template>
<script>
import Multiselect from "vue-multiselect";
import "vue-multiselect/dist/vue-multiselect.min.css";

export default {
  name: "DateSelect",
  components: {
    Multiselect,
  },
  props: {
    value: {
      type: String,
      default: null,
    },
    format: {
      type: String,
      default: "m-d-y",
    },
    required: {
      type: Boolean,
      default : true
    },
    disabled: {
      default: false
    }
  },

  data: function () {
    return {
      days: [],
      months: [],
      years: [],
      newDate: {
        day: null,
        month: null,
        year: null,
      },
    };
  },

  methods: {
    updateValue: function (value) {
      this.$emit("input", value);
    },
    updateNewDate: function (e) {
      let newDate = this.newDate;
      this.updateValue(
        `${newDate.year ?? ""}-${newDate.month ?? "01"}-${newDate.day ?? "01"}`
      );
    },
    label_month(index) {
      return this.$t("word.months." + index)
    },
    refreshDateValue: function(){
      if(this.value !== null){
        let dateArray = this.value.split("-")
        switch(this.format){
          case 'y-m' :
              this.newDate.year  = dateArray[0]
              this.newDate.month = (parseInt(dateArray[1])  ) // +1 car l'index commence par 0
              this.newDate.day   = 1
          break
          case 'm-y' :
              this.newDate.year   = dateArray[0]
              this.newDate.month  = (parseInt(dateArray[1])  ) // +1 car l'index commence par 0
              this.newDate.day    = 2
          break
          case 'y-m-d' :
              this.newDate.year = dateArray[0]
              this.newDate.month = (parseInt(dateArray[1])  ) // +1 car l'index commence par 0
              this.newDate.day = (dateArray[2]).substring(0,2)
          break
          case 'd-m-y' :
              this.newDate.year = dateArray[0]
              this.newDate.month = (parseInt(dateArray[1])  ) // +1 car l'index commence par 0
              this.newDate.day = (dateArray[2]).substring(0,2)
          break
        }
        return 
      }

      this.newDate =  {
          day: null,
          month: null,
          year: null,
      }
      
    }
  },

  watch: {
    value: {
      deep    : true,
      handler : function(){
        this.refreshDateValue()
      }
    }
  },

  mounted: function () {
    /** dfault given value */
    this.days   = Array.from({ length: 31 }, (value, index) => index + 1)

    this.months = Array.from({ length: 12 }, (value, index) => index + 1)

    let thisYear = new Date().getFullYear() + 5 
    
    for (thisYear; thisYear > 1900; thisYear--) {
      this.years = [...this.years, thisYear]
    }

    /*** manage default value */
    this.refreshDateValue()
  },
};
</script>
<style >
  .date-select select.form-control {
    height: 36px !important;
    margin-right: 5px !important;
    margin-right: 10px !important;
  }
</style>
