<template>
    <button class="btn-default" :class="className + ' ' + ( hasIcon ? 'has-icon':'' )">
        <span v-if="iconBefore" class="icon icon-before" :class="iconBefore"></span> 
        <span>{{ text }}</span> 
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" v-if="onLoad"></span>
        <span v-if="iconAfter" class="icon icon-after" :class="iconAfter"></span> 
    </button>
</template>

<script>
    export default {
        name   :'DefaultButton',
        props  : {
          className : {
              type: String
          },
          text: {
              type: String
          },
          onLoad: {
              type: Boolean,
              default: false  
          },
          iconBefore : {
              default : false
          },  
          iconAfter: {
              default : false
          }  
        },
        computed : {
            hasIcon: function(){
                return this.iconAfter || this.iconBefore 
            }
        }
    }
</script>
<style>
    .btn-default{
        padding: 0rem 3rem;
        border-radius: 10px;
        color: white;
        font-family: 'NunitoSans-Bold' !important;
        border: none;
        cursor : pointer;
        min-height: 3.5rem;
    }

    button.btn-default span {
        display: inline-block;
        vertical-align: middle;
    }
    .style1{
        background: transparent linear-gradient(90deg, #FBA590 0%, #FF7667 100%) 0% 0% no-repeat padding-box;
    }
    .outline{
        background: unset;
        color: #ff7667 !important;
        font-family: 'NunitoSans-Bold' !important;
    }
    .outline2 {
        background: #FFD7D2;
        color: #FF7667!important;
    }
    .style2{
        background: red;
    }
    .danger {
        background: transparent linear-gradient(90deg, #FBA590 0%, #e23a27 100%) 0% 0% no-repeat padding-box;
    }

    .valid {
        background: transparent linear-gradient(90deg, rgb(158, 223, 187) 0%, #13AD9E 100%) 0% 0% no-repeat padding-box;
    }

    .style3{
        background: #738DFF;
        border-radius : 25px;
        margin-bottom : 1.5rem;
    }

    .style4{
        background: #FF7667;
    }
    .style5{
        background: #D4E3FF;
        border-radius : 25px;
        margin-bottom : 1.5rem;
        color:#6196FF;
    }

      .outline3{
        border: 2px solid #FF7667;
        color:#FF7667;
        background-color: #ffffff;
    }
    .circle-plus-icon{
        background:url("~@/assets/img/btn-circle-plus-icon.png")
    }
    .btn-default .icon{
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        min-width: 50px;
        min-height: 40px;
    }

    @media(max-width:1500px){
        .btn-default{
            min-height: 50px;
        }
        button.btn-default.has-icon {
            padding: 0rem 2rem !important;
        }
    }

    
   

</style>
