<template>
  <div>
    <div v-if="arrayValue.length">
        <div class="duplicate-input-wrapper" v-for="(val,index) in value" :key="index">
          <input v-if="index == Object.keys(value).length-1"
                :placeholder="placeholder+' '+ (index + 1)"  
                @keyup.enter="onEnter"
                @input = "updateValue" 
                :index="index"
                :value="val"
                class="form-control duplicate-input mt-1">

          <input  v-else  
                  :placeholder="placeholder+' '+ (index+1)" 
                  :index="index"
                  :value="val" 
                  class="form-control duplicate-input mt-1" 
                  @keyup.enter="updateValue"
                  >
        </div>
    </div>
    <div v-else class="duplicate-input-wrapper">
        <input 
            :placeholder="placeholder+' 1'"
            @input = "updateValue"  
            @keyup.enter="onEnter"
            index="0"
            class="form-control duplicate-input mt-1">
    </div>
  </div>    
</template>
<script>
export default {
  name   : 'DuplicateInput',
  props  : {
    placeholder : {
      type    : String,
      default : ""
    },
    value : {
      default : function(){
        return []
      }
    },
    required: {
      type : Boolean,
      default : true
    }
  },
  data : function(){
      return {
        arrayValue : []
      } 
  },
  methods : {
    updateValue: function(e){
        let i = e.target.getAttribute('index')
        this.arrayValue[i] = e.target.value
        this.$emit('input', this.arrayValue)
    },

    onEnter: function(){
        this.arrayValue = [...this.value, ""]
        this.$emit('input', this.arrayValue)
    }
  },
  watch : {
    value(newVal){
        this.arrayValue = newVal
    }
  },
  mounted : function(){
      let currentLang = this.$store.state.lang
      if(this.value.length){
        this.arrayValue = this.value
      }
  }
}

</script>