<template>
  <div class="country-select-proto">
      <div  v-for="(val,index) in arrayValue" :key="index">
        <Multiselect
          class="country-select mt-1"
          :placeholder="placeholder"
          selectLabel = ""
          :options="options"
          track-by="id"
          :id="index"
          :custom-label="getLabel"
          @input="handleInput"
          v-model="arrayValue[index]"  
        />
      </div>
  </div>
</template>

<script>
import Multiselect from "vue-multiselect";
import "vue-multiselect/dist/vue-multiselect.min.css";

export default  {
  name : "DuplicateCountrySelect",
  props  : {
    value : {
      default : function(){ return [] }
    },
    max : {
      default : 2
    },
    placeholder : {
      default: ""
    },
    all:{
      default: true
    }
  },
  components : {
    Multiselect
  },
  data : function(){
      return {
        options : [],
        arrayValue : [
          {
            name : null,
            id   : null
          }
        ]
      } 
  },
  methods : {
    updateValue: function () {
        this.$emit('input', this.arrayValue)
    },
    handleInput: function(value, id){
      let that = this  
      if(((that.arrayValue.length -1) == id) && that.max > (id+1)){
        that.arrayValue = [...that.arrayValue, {
            name : null,
            id   : null
          }
        ]
      }
    },
    getLabel({id}){
     return id ? this.$t(`country.${id}`) : ""
    }
  },
  watch : {
    arrayValue:{
      deep : true,
      handler:function(newVal){
        this.arrayValue = newVal
        this.updateValue()
      }
    },

  },
  mounted : function(){
      let currentLang = this.$store.state.lang
      let that = this;
      let countries = Object.entries(
        require("@/lang/translations/country/en.json")
      );
      countries.map((item) => {
        let id = item[0];
        that.options = [
          ...that.options,
          { name: item[1], id },
        ];
      });

      if(!that.all){
        that.options.shift()
      }

      /** maps default value */
      if(that.value.length){
        that.arrayValue = that.value
      }

  }
}
</script>