<template>
  <Multiselect
      class="continent-select"
      :placeholder="placeholder"
      selectLabel = ""
      :options="options"
      track-by = "id"
      :custom-label="getLabel"
      :multiple="multiple"
      v-model="newValue"  
      v-bind:value="value"
      @input="updateValue">
  </Multiselect>
</template>
<script>
import Multiselect from "vue-multiselect";
import "vue-multiselect/dist/vue-multiselect.min.css";
//import LevelService from "@/services/common/LevelService.js";

export default {
  name   : 'LevelSelect',
  props  : {
    placeholder : {
      type    : String,
      default : ""
    },
    value : {
      default : function(){ return {} }
    },
    multiple : {
        type : Boolean,
        default : false
    },
    all: {
      type: Boolean,
      default: true
    }
  },
  components : {
    Multiselect
  },
  data : function(){
      return {
        options : [],
        newValue : null,
        defaultModel : {
            id   : 0,
            name : 'All'
        }
      } 
  },
  methods : {
    updateValue: function (value) {
      let that = this
      if(that.multiple){
        if(!value.length){
          that.$emit('input', [that.defaultModel])
          return
        }
        for (var i = 0; i < value.length; i++) {
          if(value[i].id == 0 && i !== 0){
            that.$emit('input', [that.defaultModel])
            return
          }
          if(value.length > 1 && value[i].id == 0){
            value.splice(i,1)
          }
        }
      }
      that.$emit('input', value)
    },
    getLabel({id}){
      return this.$t(`student.level.${id}`)
    },
  },
  mounted : function(){ 
      let local = this.$store.state.lang
      let data = Object.entries(
        require(`./../../lang/translations/student/en.json`).level
      )
      let that = this
      data.map((item) => {
        that.options = [
          ...that.options,
          { name: item[1], id: item[0] },
        ];
      });
      if(!that.all){
        that.options.shift()
      }

      /** populate default val */
      if(that.multiple){
        if(that.value && !that.value.length){
          that.newValue = [that.defaultModel]
        }else{
          that.newValue = that.value
        }
      }else{
        if(!that.value){
          //that.newValue = that.defaultModel
        }else{
          that.newValue = that.value
        }
      }

    
  },
  watch : {
    value : {
      deep : true,
      handler: function(newVal){
        this.newValue = newVal
      }
    }
    
  }
}

</script>