<template>
  <div>
      <Modal name="video-player-modal" v-if="show">
        <div slot="header" class="w-100 position-relative">
          <a class="close" v-on:click="close"> x </a>
        </div>
        <div slot="body">
            <div class="mx-auto">
                <div class="video-container">
                    <iframe 
                      v-if="video.type == 'YOUTUBE'"
                      width="100%" 
                      id="video-player-iframe" 
                      height="100%" 
                      :src="video.Url"
                      frameborder="0" 
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                      allowfullscreen 
                      />
                    <video  v-else
                      :src="video.url" 
                      class="player" 
                    />
                </div>
            </div>    
        </div>
      </Modal>
  </div>
</template>
<script>
export default {
  name: 'ModalVideoPlayer',
  props:{
    video:{
      required: true
    },
    show:{
      default: false
    }
  },
  methods:{
    close(){
      this.$emit('close')
    }
  }
}
</script>

<style>
#video-player-modal .modal-header{
  position:absolute !important;
  top:0;
  right: 0;
  z-index: 9;
}
#video-player-modal .modal-body {
    margin: 0;
    padding: 0 !important;
    z-index: 8;
}
#video-player-modal a.close {
    width: 50px;
    height: 50px;
    background: #FF7667;
    opacity: 1 !important;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -15px;
    right: 0;
    z-index: 9;
    color: white !important;
}
#video-player-modal .modal-container {
    max-width: 40vw !important;
    position: relative;
    padding: unset;
}
#video-player-modal h4 {
    color: #448aff;
    margin-bottom: 2rem;
}
#video-player-iframe{
    height: 400px;
    background: #626262 0% 0% no-repeat padding-box;
    width: 100%;
    border-radius: 15px;
}

#video-player-iframe .modal-container {
    padding: unset;
}
</style>