<template>
  <div class="money-input-wrapper">
      <div class="row">
        <div class="col-7 pr-0">
            <input type="text" class="value" :class=" invalid ? 'invalid' : ''" @input="updateMoneyValue($event)" :placeholder="placeholder">
        </div>
        <div class="col-5 pl-0">
          <select class="money-option" @change="updateCurrencyValue($event)">
              <option v-for="(currency, index) in currencyOptions" :value="currency.id" :key="'testset'+index"> 
                  {{ currency.code }}
              </option>
          </select>
        </div>
      </div>
  </div>
</template>
<script>
export default {
  name: "MoneyInput",
  props: {
    value : {
      type: Object,
      default : {
        value : null,
        currency : 'EUR'
      }
    },
    placeholder : ""
  },
  data : function(){
    return {
      objectValue : {
        value : null,
        currency : 'EUR'
      },
      currencyOptions : [],
      invalid : false

    }
  },
  methods : {
    updateValue(){
      this.$emit("input", this.objectValue)
    },
    updateMoneyValue($e){
      let value = $e.target.value
      this.invalid = value.length && isNaN(value)
      this.objectValue.value = value
      this.updateValue()
    },
    updateCurrencyValue($e){
      let id = $e.target.value
      this.objectValue.currency = this.currencyOptions[id-1]
      this.updateValue()
    }
  },
  mounted : function(){
      let that = this;
      let currencies = Object.entries(
        require("@/ressources/currency.json")
      );
      currencies.map((item) => {
        item = item[1]
        that.currencyOptions = [
           ...that.currencyOptions,
           {
             id     : item.id,
             code   : item.code,
             name   : item.name
           },
        ];
      });
  },

  watch: {
    value:{
      handler: function(val){
        this.objectValue = val
      },
      deep: true,
      imediate : true
    }
  }

}
</script>
<style>
.money-input-wrapper {
    border: 1px solid #ced4da;
    border-radius: 5px;
    min-height: 48px;
}

.money-input-wrapper input, 
.money-input-wrapper select {
    border: none;
    width: 100%;
    min-height: 48px;
    background: none;
    margin-left: 12px;
}
.money-input-wrapper .col-5{
    display: flex;
    padding-right: 30px;
}
input.value.invalid{
  border:none !important;
  color : red !important;
}
.duration-input.row {
    border: solid 1px #c5c5c5;
    border-radius: 5px;
    margin: 0px 0px 0 5px;
    padding: 0;
}

.duration-input.row input, 
.duration-input.row select {
    border: none !important;
}
</style>