<template>
    <Modal name="grimpeurs-newfeature-modal-infos">
        <div slot="header" class="w-100 text-center">
            <span class="icon-infos fa fa-info"></span>
            <a href="#" class="showmore-closer" @click.prevent="$emit('close')">X</a>
        </div>
        <div slot="body" class="text-center">
            <p class="p-4"> {{ $t('error.new_feature') }} </p>
        </div>
    </Modal>
</template>

<script>
export default {

}
</script>

<style scoped>
    .icon-infos{
        color: #FF7667;
        font-size: 2rem;
        background: #F8F8F8 0% 0% no-repeat padding-box;
        border: 1px solid #D3D3D3;
        padding: 1rem 1.7rem;
        border-radius: 50%;
    }
    .showmore-closer {
        position: absolute;
        right: 1rem;
        top: .9rem;
        color: #D3D3D3 !important;
        font-family: 'NunitoSans-SemiBold';
        font-size: 1.5rem;
    }
</style>
<style>
    #grimpeurs-newfeature-modal-infos .modal-container {
        max-width: 30rem;
        position: relative;
    }
</style>