<template>
  <div class="password-input">
    <input 
      v-model = "password"
      :type="passwordType" 
      class="form-control"
      @input="updateDate"  
      />
    <button class="switcher-type fa fa-eye" @click="switchPasswordType"></button>
  </div>
</template>
<script>
export default {
  name: 'PasswordInput',
  props: {
    value : {
      type    : String,
      default : ""
    }
  },
  data : function(){
    return {
      passwordType : "password",
      password     : ""
    }
  },
  methods : {
    switchPasswordType : function(){
      this.passwordType = this.passwordType == "password" ? "text" : "password"
    },
    updateDate(value){
        this.$emit('input', this.password)
    }
  }
}

</script>
<style>
  .password-input{
      position: relative;
  }
  .password-input input{
      padding-right: 30px !important;
  }

  .password-input .switcher-type {
      position: absolute;
      right: 5px;
      top: 30%;
      border: none;
      background: none;
      color: #c5c5c5;
  }
</style>