<template>
    <vue-tel-input 
      v-model="phone"
      @country-changed="onCountryChange" >
    </vue-tel-input>
</template>
<script>
import {VueTelInput} from 'vue-tel-input'
import 'vue-tel-input/dist/vue-tel-input.css';

export default {
  name: "PhoneInput",
  components:{
    VueTelInput
  },
  props : {
    value: {
      require : true
    }
  },
  data : function(){
    return {
      phone : ""
    }
  },
  methods : {
    onCountryChange: function(val){
        this.phone = "+"+val.dialCode
        //this.$emit('input', this.phone)
    }
  },
  watch: {
    value : {
      deep : true,
      immediate : true,
      handler : function(val){
        this.phone = val
      }
    }
  },
}
</script>
<style>
  .vue-tel-input {
    display: flex !important;
  }
  .vti__dropdown:focus {
      outline: none !important;
  }
</style>