<template>
  <div class="bar-statistique">
    <div class="container-pourcentage">
      <div class="bar-pourcentage" ref="progressFill" :style="`width:${width}%`" >
        <label v-if="showlabel" :class="labelposition"> 
          {{ label }}
        </label>
      </div>
    </div>
  </div>
</template>
<script>

export default {
  name  : 'ProfilProgressionBar',
  props : {
    width : {
      default : 0
    },
    showlabel: {
      default: false
    },
    labelposition: {
      default: 'center'
    },
    labelunit: {
      default: '%'
    }
  },
  computed: {
    label: function(){
      let val = parseInt(this.width)
      val     = val < 10 ? `0${val}` : val 
      return `${val} ${this.labelunit}`
    }
  }
}
</script>
<style scoped>
  .bar-statistique {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container-pourcentage {
    width: 100%;
    background-color: #D3D3D3;
    box-sizing:border-box;
    border-radius: 10px;

  }

  .bar-pourcentage {
   
    background: transparent linear-gradient(91deg, #FF796A 0%, #FBA38E 100%) 0% 0% no-repeat padding-box;
    box-sizing:border-box;
    height: 8px;
    border-radius: 10px;
    position: relative;
  }
  label{
      color: white;
      font-family: 'NunitoSans-Bold';
      font-size: 12px;
      margin: 0 !important;
      position: absolute;
  }
  label.inner-right{
    right: .5rem;
  }
</style>