<template>
<div class="col-md-12 radio-container">
    <span class="radio-mobile" @click.prevent="openModal" >
        Trier
    </span>
    <Modal v-if="show" name="groupe-radio" class="get-modal" >
        <span slot="header" ></span>
        <div class="input-radio row" slot="body">
            <div class="col-md-12 m-critere"  
                v-for="(option, index) in options" 
                :key="'form-select-order'+index" > 
                <label> {{ option.text }} </label>
                <input type="radio" v-model="filter" name="filter"  v-bind:value="option" >
            </div>
        </div>
    </Modal>
</div>
</template>
<script>
import Modal from "@/components/Modal/Modal.vue"


export default {
    name: "RadioMobile",
    props: {
        value: {
            default: null
        },
        options: {
            default: function(){
                return [
                    {'sort': 'id', 'order': 'DESC', 'text':'Du plus reçent au plus ancien'},
                    {'sort': 'id', 'order': 'ASC', 'text':'Du plus ancien au plus recent'}
                ]
            }
        }
    },
    data: function() {
        return {
            show: false, 
            filter: false
        }
    },
    methods: {
        openModal: function(){
            this.show = true
        },
        hide () {
            this.show = false
        }
    },
    components: {Modal},
    watch:{
        filter: {
            deep: true,
            handler: function(val){
                this.show = false
                this.$emit('input', val)
            }
        },
        value: {
            immediate: true,
            deep: true,
            handler: function(val){
                this.filter = val
            }
        }
    }
}
</script>
<style>
    .radio-mobile:before {
        background-image: url("~@/assets/img/updown.svg");
        background-size: 15px 18px;
        display: inline-block;
        width: 15px;
        height: 15px;
        content: "";
    }
    span.radio-mobile {
        border: 1px solid #D0CEDA;
        padding: 5px 10px;
        border-radius: 18px;
        margin-bottom: 15px;
        display: inline-block;
    }
    .get-modal .modal-header{
        display: none;
    }
    .m-critere{
        padding: 10px 15px;
        border-bottom: 1px solid #E0E0E0;
    }
    .m-critere:last-of-type{
        border-bottom: unset  !important;
    }
    .get-modal .modal-container {
        width: 75% !important;
        min-height: inherit !important;
        border-radius: 10px !important;
        overflow: hidden;
        padding: 0 10px;
    }
    .input-radio input{
        float:right;
        margin-top: 3px;
    }
    @media (min-width:769px){
        .radio-container{
            display:none;
        }
    }
</style>