<template>
  <div class="scholarship_share_btn">
    <div class="share-btn-container" @click.prevent="showOption = !showOption">
      <img :src="shareIcon" />
    </div>
    <div class="rs-choice" v-if="showOption">
        <h5 class="rs-choice-tittle">Partager</h5>
        <div class="rs-choice-options">
          <div class="row">
            <div class="col-4">
               <ShareNetwork
                  class="button share_facebook"
                  network="facebook"
                  :url="url"
                  :title="'Les grimpeurs|'+scholarship.name"
                  :quote="'Les grimpeurs|'+scholarship.name"
                  :description="scholarship.story"
                  :hashtags="fbUrl">
                  <i class="fa fa-facebook"></i>
              </ShareNetwork>
            </div>
            <div class="col-4">
              <ShareNetwork
                  class="button share_twitter"
                  network="twitter"
                  :url="url"
                  :title="'Les grimpeurs|'+scholarship.name"
                  :quote="'Les grimpeurs|'+scholarship.name"
                  :description="scholarship.story"
                  :hashtags="twitterUrl">
                  <i class="fa fa-twitter"></i>
              </ShareNetwork>
            </div>
            <div class="col-4">
                <ShareNetwork
                  class="button share_email"
                  network="email"
                  :url="url"
                  :title="'Les grimpeurs|'+scholarship.name"
                  :quote="'Les grimpeurs|'+scholarship.name"
                  :description="scholarship.story"
                  hashtags="grimpeurs, bourse">
                  <i class="fa fa-google"></i>
              </ShareNetwork>
            </div>
            <div class="col-4">
                <ShareNetwork
                    class="button share_linkedin"
                    network="linkedin"
                    :url="url"
                    :title="'Les grimpeurs|'+scholarship.name"
                    :quote="'Les grimpeurs|'+scholarship.name"
                    :description="scholarship.story"
                    hashtags="grimpeurs, bourse">
                    <i class="fa fa-linkedin"></i>
                </ShareNetwork>
            </div>
          </div>
        </div>
    </div>
  </div>
</template>
<script>

export default {
  name: "ScholarshipShareBtn",
  props : {
    scholarship : {
      required : true
    }
  },
  data: function(){
    return {
      showOption : false,
      url        : `${process.env.VUE_APP_FRONT_URL}/scholarship/${this.scholarship.slug}`,
      shareIcon  : require('@/assets/img/Partager.svg').default,
      params: {
          cgu_url              : false,
          social_url_youtube   : false,
          social_url_twitter   : false,
          social_url_facebook  : false,
          social_url_instagram : false,
          social_url_linkedin  : false,
      }
    }
  },
  computed: {
    fbUrl : function(){
       return this.params.social_url_facebook ? this.params.social_url_facebook.value : ''
    },
    twitterUrl : function(){
       return this.params.social_url_twetter ? this.params.social_url_twetter.value : ''
    }
  },
  methods:{
    popupCenter(url, title, width, height){
        var popupWidth = width || 640;
        var popupHeight = height || 320;
        var windowLeft = window.screenLeft || window.screenX;
        var windowTop = window.screenTop || window.screenY;
        var windowWidth = window.innerWidth || document.documentElement.clientWidth;
        var windowHeight = window.innerHeight || document.documentElement.clientHeight;
        var popupLeft = windowLeft + windowWidth / 2 - popupWidth / 2 ;
        var popupTop = windowTop + windowHeight / 2 - popupHeight / 2;
        var popup = window.open(url, title, 'scrollbars=yes, width=' + popupWidth + ', height=' + popupHeight + ', top=' + popupTop + ', left=' + popupLeft);
        popup.focus();
        return true;
    },
    updateSiteParams: function(){
        let params = this.getSitePreference(false)
        let data = []
        for (let index = 0; index <  params.length; index++) {
          const element = params[index];
          data[element.name] = element
        }
        this.params = {...this.params, ...data}
    }
  },
  mounted : function(){
    this.updateSiteParams()

    let that = this
    /*** close rs-choice */
    document.addEventListener('click', function(e){
      if(e.target.closest('.scholarship_share_btn') == null){
          that.showOption = false
      }
    })
  }
}
</script>
<style scoped>
.share-btn-container{
  cursor: pointer;
}
.scholarship_share_btn {
    position: relative;
}
.rs-choice {
    position: absolute;
    left: -15rem;
    top: 0;
    background: white;
    padding: 1rem;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 9px #64646429;
    border: 1px solid #D8D8D8;
    border-radius: 5px;
    max-width: 225px;
    text-align: left !important;
    z-index: 9;
}
.rs-choice-tittle {
    font-family: 'NunitoSans-Bold';
    margin-bottom: 15px;
}
.rs-choice-options .button{
    width: 45px;
    height: 45px;
    background: #D8D8D8 0% 0% no-repeat padding-box;
    border: none;
    border-radius: 50%;
    margin-bottom: 15px;
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
</style>