<template>
  <div class="icon-blacklist scholarship-blacklist-btn">
    <div v-if="loading">
       <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    </div>
    <div v-else>
      <img  :src="croix" @click="showConfirmation = true" class="fovorite-btn-img">
    </div>

    <ConfirmAction
        v-if="showConfirmation" 
        :message="$t('scholarship.blacklist_confirmation_message')" 
        @validate="addToMyBlacklist"
        @cancel="showConfirmation = false"  
    />

   
  </div>
</template>
<script>
  import ScholarshipService from "@/services/scholarship/ScholarshipService.js"
  import ConfirmAction from "@/components/common/ConfirmAction.vue"

  export default {
    name  : 'ScholarshipFavoriteBtn',
    props : {
      scholarship : {
        required : true
      }
    },
    components: {
      ConfirmAction
    },
    data  : function(){
      return {
          loading : false,
          croix       : require("@/assets/img/Picto-Croix-2.svg").default,
          showConfirmation : false
      }
    },
    methods : {
      addToMyBlacklist(){
        let that = this
        that.loading = true
        ScholarshipService.addBlacklistcholarship(this.scholarship).then(
          (response) => {
            if(response.data.success){
              that.isFavorite = true
              that.$emit('remove', that.scholarship)
            } else{
              that.$dialog.confirm("Une erreur s'est produite.", {
                okText: "Réessayer",
                cancelText: that.$t("word.cancel"),
                }).then(function (dialog) {
                    that.addToMyBlacklist
                }).catch(function (dialog) {
                  dialog.close()
              });
            }
            that.loading = false
          }
        )
      }
    },
    mounted: function(){
      let that = this
      /*** close rs-choice */
      document.addEventListener('click', function(e){
        if(e.target.closest('.scholarship-blacklist-btn') == null){
            that.showConfirmation = false
        }
      })
    }
  }
</script>
<style scoped>
  .icon-blacklist{
    cursor:pointer;
    margin-top: 4%;
    position: relative;
    z-index:7;
  }
  .fovorite-btn-img{
    min-width: 15px;
  }
</style>