<template>
  <div class="icon-favorite scholarship-favoris-btn">
    <div v-if="loading">
       <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    </div>
    <div v-else>
      <img  :src="icon" @click="handleClick" class="fovorite-btn-img">
    </div>

    <ConfirmAction
        v-if="showConfirmation" 
        :message="$t('modal.title_modal_confirm_remove_favoris')" 
        @validate="removeOnMyFavorites"
        @cancel="showConfirmation = false"  
    />
    
  </div>
</template>
<script>
  import ScholarshipService from "@/services/scholarship/ScholarshipService.js"
  import ConfirmAction from "@/components/common/ConfirmAction.vue"

  export default {
    name  : 'ScholarshipFavoriteBtn',
    props : {
      scholarship : {
        required : true
      }
    },
    components: {
      ConfirmAction
    },
    data  : function(){
      return {
          loading : false,
          icon       : require("@/assets/img/Favoris-sholarship.svg").default,
          isFavorite : false,
          showConfirmation : false
      }
    },
    watch : {
      isFavorite :{
        immediate : true,
        handler: function(newVal){
          if(newVal){
            this.icon = require("@/assets/img/Favoris-sholarship-o.svg").default
          }else{
            this.icon = require("@/assets/img/Favoris-sholarship.svg").default
          }
        }
      }
    },
    methods : {
      handleClick(){
        if(this.isFavorite){
          this.showConfirmation = true
        }else{
          this.addToMyFavorites()
        }
      },
      addToMyFavorites(){
        let that = this
        that.loading = true
        ScholarshipService.addFavoriteScholarship(this.scholarship).then(
          (response) => {
            if(response.data.success){
              that.isFavorite = true
            } else{
              that.$dialog.confirm("Une erreur s'est produite lors de l'ajout aux favoris.", {
                okText: "Réessayer",
                cancelText: that.$t("word.cancel"),
                }).then(function (dialog) {
                    that.addToMyFavorites
                }).catch(function (dialog) {
                  dialog.close()
              });
            }
            that.loading = false
          }
        )
      },
      removeOnMyFavorites(){
        let that = this
        that.loading = true
        ScholarshipService.removeFavoriteScholarship(this.scholarship).then(
          (response) => {
            if(response.data.success){
              that.isFavorite = false
              that.showConfirmation = false
              that.$emit('removeFavorite')
            } else{
              that.$dialog.confirm("Un erreur s'est produit lors de l'envoie d'une demande d'informations.", {
                okText: "Resseyer",
                cancelText: that.$t("word.cancel"),
                }).then(function (dialog) {
                    that.removeOnMyFavorites()
                }).catch(function (dialog) {
                  dialog.close()
              });
            }
            that.loading = false
          }
        )
      }
    },
    mounted: function(){
      let that = this
      /** check if the scholarship is favorite **/
      ScholarshipService.isOnMyFavorite(this.scholarship).then(
        (response) => {
          if(response.data.isFavorite){
            that.isFavorite = response.data.isFavorite
          }
        }
      )

      /*** close rs-choice */
      document.addEventListener('click', function(e){
        if(e.target.closest('.scholarship-favoris-btn') == null){
            that.showConfirmation = false
        }
      })
    }
  }
</script>
<style scoped>
  .icon-favorite{
    cursor:pointer;
    margin-top: 4%;
    position: relative;
    z-index:7;
  }
  .fovorite-btn-img{
    min-width: 18px;
  }

</style>