<template>
  <Multiselect
      ref="discipline-select"
      class="discipline-select"
      :multiple="multiple"
      :placeholder="placeholder"
      selectLabel = ""
      :options="studyFields"
      track-by="id"
      :max="max ? max : 1000 "
      label="name"
      :allow-empty="required"
      v-model="newValue"  
      v-bind:value="value"
      @input="updateValue">
  </Multiselect>
</template>
<script>
import Multiselect       from "vue-multiselect";
import StudyFieldService from "@/services/common/StudyFieldService.js"
import helper            from "@/services/helpers/Helpers"
import ProfilService     from '../../services/organization/ProfilService'
import "vue-multiselect/dist/vue-multiselect.min.css"

export default {
  name   : 'StudyFieldSelect',
  props  : {
    placeholder : {
      type    : String,
      default : ""
    },

    value : {
      default : function(){ return {} }
    },

    multiple : {
        type : Boolean,
        default : false
    },

    required: {
      type : Boolean,
      default : true
    },

    context: {
      type: String,
      default : 'category'
    },

    category  :{
      default: false
    },

    max: {
      default:false
    },

    all: {
      default: true
    },

    onlyFavorite: {
        default : false
    }

  },

  components : {
    Multiselect
  },

  data : function(){
      return {
        studyFields : [],
        newValue : null,
        defaultModel : {
            id   : 0,
            name : this.$t('word.all')
        }
      } 
  },

  methods : {
    updateValue: function (value) {
      let that = this
      if(that.multiple){
        if(!value.length && that.all){
          that.$emit('input', [that.defaultModel])
          return
        }
        for (var i = 0; i < value.length; i++) {
          if(value[i].id == 0 && i !== 0){
            that.$emit('input', [that.defaultModel])
            return
          }
          if(value.length > 1 && value[i].id == 0){
            value.splice(i,1)
          }
        }
      }
      that.$emit('input', value)
    },
    
    translateList: function(array){
      let list = []
      for (let index = 0; index < array.length; index++) {
        const element = array[index];
        let id = 0
        let key = this.context == "category" ? "discipline.category." : "discipline."
        element.name = (this.$t(key+id)).toLowerCase()
        list = [...list, element]
      }

      return list
      
    },
    
    refreshList(){
      if(this.onlyFavorite){
        this.findByUser()
        return 
      }
      
      this.findAll()
    },

    findAll(){
      let that = this
      StudyFieldService.getList(that.context, that.category).then(
        (response) => {
          let list         = that.translateList(response.data.studyFields)
          list             = helper.TraitementListdiscipline(list,that)
          that.studyFields = list
        }
      )
    },

    findByUser(){
      let that = this
      if(this.profil.roles.indexOf("ROLE_ORGANIZATION") != -1){
        ProfilService.getRelatedDisciplines().then(
          (response) => {
              let list         = that.translateList(response.data.studyFields)
              that.studyFields = helper.TraitementListdiscipline(list,that)
          }
        ) 
      }

      if(this.profil.roles.indexOf("ROLE_STUDENT") != -1){
        let list         = that.translateList(this.profil.desired_disciplines)
        that.studyFields = helper.TraitementListdiscipline(list,that)
      }
      
      /** after order */
      if(this.all) {
        this.studyFields = [{id: 0, name: this.$t('word.all')}, ...this.studyFields]
      }

    },
   

    translateValue(value){
      let that = this
      let translatedValue = []
      let key = ['home', 'category'].includes(that.context) ? "discipline.category." : "discipline."
      if(that.multiple){
        if(that.value){
          for (let index = 0; index < value.length; index++) {
            let item = value[index];
            item.name = that.$t(key+item.id)
            translatedValue = [...translatedValue, item]
          }
        }else{
           translatedValue = []
        }
      }else{
        value.name = that.$t(key+value.id)
        translatedValue = value
      }
      
      return translatedValue
    },

    /**
     * Scrool the select Y scroolbar to the end
     * 
     * @param {String} ref
     */
    scroolToLast: function(ref){
        setTimeout(() => {
            let element  = this.$refs[ref].$el.querySelector('.multiselect__tags-wrap')
            element.scrollLeft = element.clientWidth 
        }, 100);
    }
  },
  mounted : function(){

    let that = this 

    this.refreshList()

    /** populate default val */
    if(that.multiple){
      that.newValue = that.translateValue(that.value)

      if(that.value && !that.value.length){
        if(that.all){
          /*that.newValue = [that.defaultModel]*/
        }
      }

    }else{
      if(!that.value){
        //that.newValue = that.defaultModel
      }else{
        that.newValue = that.translateValue(that.value)
      }
    }
    this.scroolToLast('discipline-select')
   
  },
  watch : {
    value : {
      deep : true,
      handler: function(newVal){
        this.newValue = newVal
        this.scroolToLast('discipline-select')
      }
    },
    category : function(val){
      this.refreshList()
    },
    studyFields : {
      deep      : true,
      handler   : function(list){
        this.$emit("listLoaded", list)
      }
    }
  }
}

</script>

<style scoped>
  .discipline-select li.multiselect__element span {
     text-transform: capitalize;
  }
</style>