<template>
  <div class="sidebar" :class="sidebarClass">
    <div class="nav-brand">
      <router-link to="/" class="logo">
        <img :src="navbrandLogo" alt="logo grimppeur" />
      </router-link>
      <a class="app-sidebar__toggle" @click="switchSidebar" aria-label="Hide Sidebar"></a>
    </div>

    <div class="menu-vertical">
      <ul id="menu-sidebar">
        <template v-for="item, index in menu">
          <li class="item-menu-sidebar" :key="'menu-admin-item-'+index">
            <a :href="item.absolute_path">
              <p class="icon-menu sidebar-admin-icon" v-tooltip="item.label">
                <span :class="item.icon"></span>
              </p>
              <p class="text-menu">{{ item.label }}</p>
            </a>
          </li>
        </template>
      </ul>
    </div>
  </div>
</template>
<script>
    import SidebarMixin      from "./SidebarMixin.js"
    import PreferenceService   from "@/services/common/PreferenceService.js"
    export default {
        name   : 'AdminSidebar',
      
        mixins : [SidebarMixin],
        
        data   : function(){
            return {
                menu: []   
            }
        },
        methods: {
            getMenuState: function(){
                PreferenceService.getAdminMenu(this.locale).then(
                    (response) => {
                      this.menu = response.data.menu
                    }
                )
            }
        },

        mounted: function(){
            this.getMenuState()
        }
    }
</script>
<style scoped src="./SideBarStyle.css"></style>
<style scoped>
  .sidebar-admin-icon{
    color: white !important;
  }
</style>