.sidebar {
    max-width: 18vw;
    min-width: 5rem;
    height    : auto;
    background: #13AD9E;
    min-height: 100vh;
    opacity:  1 !important;
}
.sidebar.open{
  width: 100%;
}
.menu-vertical {
  padding-left: 2rem;
}
#menu-sidebar {
    margin-top: 5vh;
}

.item-menu-sidebar {
    padding-top   : 12px;
    padding-bottom: 10px;
    display       : flex;
    align-items   : center;
}

#menu-sidebar .item-menu-sidebar a {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#menu-sidebar .icon-menu img {
    width: 1.2rem;
    filter: hue-rotate(45deg);
}

.item-menu-sidebar .text-menu {
      font-size: 1.2rem;
      font-family: "NunitoSans-SemiBold" !important;
}

.sidebar-organization{
    background-color: #1F4171;
}

.nav-brand {
  position: relative;
}
.sidebar-organization .nav-brand {
  border-bottom: 2px solid #5e82b647;
  position: relative;
}

a.app-sidebar__toggle {
    padding: 0 15px;
    font-family: "fontAwesome";
    color: #fff;
    -webkit-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
    position: absolute;
    right: -3rem;
    z-index: 31;
}
.app-sidebar__toggle:before {
    content: "\f0c9";
    font-size: 21px;
    color: #d3d3d3;
}


.sidebar.close .item-menu-sidebar .text-menu{
  display: none;
}

.sidebar.open .item-menu-sidebar .text-menu

{
  display: block;
}



@media (max-width: 1500px) {
  .sidebar.open  .menu-vertical {
    padding-left: 1.5vw;
  }
  .item-menu-sidebar .text-menu {
      font-size: 1rem;
  }
  .sidebar.open  #menu-sidebar .icon-menu img {
    width: 1rem;
  }

}
@media (max-width: 1280px) {
  .sidebar {
    max-width: 19vw;
  }

  .item-menu-sidebar .text-menu {
      font-size: .9rem;
  }

  .sidebar.open #menu-sidebar .icon-menu img {
    width: .9rem;
  }
}

@media (max-width:1024px) {
  .sidebar  {
     max-width: 21vw;
  }
}
@media (max-width:991px) {
  .item-menu-sidebar .text-menu {
      font-size: .8rem;
  }

  .sidebar.open #menu-sidebar .icon-menu img {
    width: .8rem;
  }
  .sidebar.open .item-menu-sidebar{
    margin-top: unset;
  }
}


@media (max-width: 768px) {
  .sidebar {
      display   : none;
  }
}


.item-menu-sidebar{
  position: relative;
}
.sidebar.close .item-menu-sidebar.hover a{
  width: 100%;
}

.sidebar.close .item-menu-sidebar.hover .text-menu{
  display: block;
  position: absolute;
  right: -7rem;
  margin-top: -3px;
  background: #12ad9e;
  z-index: 9;
  padding: 6px 2rem;
  border-radius: 7px;
}