<template>
    <sidebar-admin          v-if="isAdmin" />
    <sidebar-student        v-else-if="isStudent"/>
    <sidebar-organization   v-else-if="isOrganization"/>
    <sidebar-anonymous v-else />
</template>
<script>

import SidebarMixin        from "./SidebarMixin.js"
import SidebarAdmin        from "./SidebarAdmin.vue"
import SidebarStudent      from "./SidebarStudent.vue"
import SidebarOrganization from "./SidebarOrganization.vue"


import SidebarAnonymous from "./SidebarAnonymous.vue"

export default {
  name: "sidebar",
  
  mixins: [SidebarMixin], 

  components:{
      SidebarAdmin,
      SidebarStudent,
      SidebarAnonymous,
      SidebarOrganization
  },

  computed: {
      isOrganization: function(){
          return this.profil && this.profil.roles.indexOf('ROLE_ORGANIZATION') != -1
      },
      
      isStudent: function(){
          return this.profil && this.profil.roles.indexOf('ROLE_STUDENT') != -1
      },

      isAdmin: function(){
          return this.profil && this.profil.roles.indexOf('ROLE_ADMIN') != -1
      },
  },
}
</script>
