<template>
  <div class="sidebar" :class="sidebarClass">
        <div class="nav-brand">
            <router-link to="/" class="logo">
                <img :src="navbrandLogo" alt="logo grimppeur" />
            </router-link>
            <a class="app-sidebar__toggle" @click="switchSidebar" aria-label="Hide Sidebar"></a>
            </div>

            <div class="menu-vertical">
            <ul id="menu-sidebar">
                
                <li class="item-menu-sidebar">
                <a href="#" @click.prevent="openLoginModal">
                    <p class="icon-menu" v-tooltip="$t('word.myfavorilist')">
                    <img :src="img_favoris" alt="" />
                    </p>
                    <p class="text-menu">{{ $t("word.myfavorilist") }}</p>
                </a>
                </li>

                <li class="item-menu-sidebar">
                <a href="#" @click.prevent="openLoginModal">
                    <p class="icon-menu" v-tooltip="$t('word.my_candidate')">
                    <img :src="img_candidat" alt="" />
                    </p>
                    <p class="text-menu">{{ $t("word.my_candidate") }}</p>
                </a>
                </li>

                <li class="item-menu-sidebar">
                <a href="#" @click.prevent="openNewFeatureModal">
                    <p class="icon-menu" v-tooltip="$t('word.messagery')">
                    <img :src="img_message" alt="" />
                    </p>
                    <p class="text-menu"
                    >{{ $t("word.messagery") }}<span id="libelle-ms">1</span>
                    </p>
                </a>
                </li>

                <li class="item-menu-sidebar">
                <a href="#" @click.prevent="openNewFeatureModal">
                    <p class="icon-menu" v-tooltip="$t('word.forum')">
                    <img :src="img_forum" alt="" />
                    </p>
                    <p class="text-menu">{{ $t("word.forum") }}</p>
                </a>
                </li>
                
                <li class="item-menu-sidebar">
                <a href="#" @click.prevent="openNewFeatureModal">
                    <p class="icon-menu" v-tooltip="$t('word.the_blog_of')">
                    <img :src="img_blog" alt="" />
                    </p>
                    <p class="text-menu">{{ $t("word.the_blog_of") }}</p>
                </a>
                </li>
            </ul>
        </div>

        <Modal v-if="showLoginModal">
            <div slot="header" class="w-100">
                <a class="close" href="#" @click="showLoginModal = false"> X </a>
                <div class="title text-center">
                <h3 class="pt-2">{{ $t("modal.title_create_account") }}</h3>
                </div>
            </div>
            <LoginForm slot="body" />
        </Modal>
        <new-feature-modal v-if="newFeatureModal" @close="closeNewFeatureModal"/>
    </div>
</template>
<script>
    import SidebarMixin from "./SidebarMixin.js"

    export default {
        name: 'SidebarAnonymous',
        
        mixins: [SidebarMixin],

        data: function(){
            return {
                showLoginModal: false,

            }
        },

        methods: {
            openLoginModal: function(){
                this.showLoginModal = true
            }
        }


    }
</script>
<style scoped src="./SideBarStyle.css"></style>