<template>
    <div class="circular-progress-chart">
        <div :id="chartID" class="circular-progress-chart--container"></div>
        <div class='custom-legende'>
            <slot name="legend-value"/>
        </div>
    </div>
</template>

<script>
import  * as JSC from "jscharting"

export default {
    name: 'CircularProgressChart',
    props : {
        color : {
            default : 'blue'
        },
        progress:{
          default: 0
        }
    },
    data: function(){
        return {
            chartID : 'chart-' + Math.floor((Math.random()*1000000)+1)
        }
    },
    mounted: function(){
        var chart = JSC.chart(this.chartID, {
        debug: false,
        legend_visible: false,
        yAxis: [
          {
            id: 'y3',
            line_width: 0,
            defaultTick_enabled: false,
            scale_range: [0, 100]
          }
        ],
        xAxis: [
          {
            id: 'x3',
            defaultTick_gridLine_width: 'column',
            spacingPercentage: 0.15
          }
        ],
        defaultSeries: {
          type: 'gauge column roundCaps',
          shape: {
            innerSize:'75%',
          },
          color: this.color,
          angle: { sweep: 250 }
        },
        series: [
          {
            yAxis: 'y3',
            xAxis: 'x3',
            points: [['value', this.progress]]
          }
        ]
      });
    }
}
</script>

<style scoped>
    .circular-progress-chart{
      margin-top: -1rem;
    }
    /*** to hidden jscharting logo */
    .custom-legende {
        text-align: center;
        position: absolute;
        bottom: 1rem;
        left: 0;
        right: 0;
        z-index: 7;
    }
    .custom-legende p{
      text-align: center;
      letter-spacing: 0px;
      opacity: 1;
    }

    .custom-legende .title {
      color: #D0CEDA;
      font-family: 'NunitoSans-SemiBold' !important;
      font-size: 15px;
    }
    .custom-legende .value {
      color: #3C3850;
      font-family: "NunitoSans-SemiBold" !important;
      font-size: 2rem;
      margin-bottom: 0;
    }
    .custom-legende .desc{
      color: #3C3850;
      font-size: 13px;
    }

    @media (max-width:520px) {
        .circular-progress-chart--container{
          height: 200px;
        }
        .custom-legende{
            bottom: 2rem;
        }
        .custom-legende .title,
        .custom-legende .desc{
            font-size: 10px;
            margin: 0;
        }
        .custom-legende .value{
            font-size: 1rem;
        }
    }
</style>
<style>
  g#brandingLogo {
      display: none !important;
  }
</style>
