<template>
    <div class="semicircular-chart" :id="chartID">
        <div ref="chartdiv" class="chart-div-container"></div>
        <div class="semicircular-chart--legende" v-show="showLegende" ref="customLegende">
            <slot name="legende"></slot>
        </div>
        <div class="aimchart-logo--wrapper"></div>
    </div>
</template>
<script>

import * as am4core from "@amcharts/amcharts4/core";
import * as am4charts from "@amcharts/amcharts4/charts";
import am4themes_animated from "@amcharts/amcharts4/themes/animated";

export default {
    name : 'SemicircularChart',
    components: {
       
    },
    data: function(){
        return {
            chartID : 'chart-' + Math.floor((Math.random()*1000000)+1),
            showLegende: false
        }
    },
    props: {
        data : {
            required : true
        }
    },
    methods: {
        updateDataSerie(){
            let that = this
            var chart = am4core.create(this.$refs.chartdiv, am4charts.PieChart);
            chart.hiddenState.properties.opacity = 0; // this creates initial fade-in

            chart.data = this.data
            chart.radius      = am4core.percent(100);
            chart.innerRadius = am4core.percent(85);
            chart.startAngle = 160;
            chart.endAngle = 380;


            chart.align         = 'center';  

            var series = chart.series.push(new am4charts.PieSeries());
            series.dataFields.value = "value";
            series.dataFields.category = "label";

            series.slices.template.cornerRadius = 50;
            series.slices.template.innerCornerRadius = 50;
            series.slices.template.draggable = true;
            series.slices.template.inert = true;
            
            series.alignLabels = true;
            series.labels.template.text = "{category}";

            

            series.slices.template.stroke = am4core.color("#fff");
            series.slices.template.strokeWidth = 8;
            series.slices.template.strokeOpacity = 1;

            series.slices.template.states.getKey("hover").properties.scale = 1;
            series.slices.template.states.getKey("active").properties.shiftRadius = 0;

            series.hiddenState.properties.startAngle = 90;
            series.hiddenState.properties.endAngle = 90;



            series.colors.list = [
                new am4core.color('#6196FF'),
                new am4core.color('#5E82B6'),
                new am4core.color('#B6CEFF'),
                new am4core.color('#72A1E4')
            ]

            series.tooltip.disabled = true

            series.slices.template.events.on("over", function(event){
                let pie = document.getElementById(that.chartID)
                pie.querySelector('.value').innerText = event.target.dataItem.value
                pie.querySelector('.label').innerText = event.target.dataItem.category
                that.showLegende = true

            })
            series.slices.template.events.on("out", function(event){
                that.showLegende = false
            })


            chart.legend = false;
            /*chart.responsive.enabled = true*/

            /*** responsive logical */
            let screen = window.innerWidth

            if(screen <= 1440){
                chart.width = 300
            }

            if(screen <= 1280){
                chart.width = 250
                series.labels.template.fontSize = 12
                chart.innerRadius = am4core.percent(80);
            }
            if(screen <= 1120){
                chart.width = 200
            }
            
            if(screen <= 991){
                chart.width = 300
                series.labels.template.fontSize = 12
            }

            if(screen <= 768){
                chart.width = 250
            }
            
            if(screen <= 400){
                chart.width = 200
                chart.innerRadius = am4core.percent(80);
                series.labels.template.fontSize = 10
                
            }
        }
    },
   watch:{
       data: {
           deep: true,
           handler: function(){
               this.updateDataSerie()
           }
       }
   } 

}
</script>

<style scoped>
    .chart-div-container {
        width: 100%;
        height: 230px;
    }
    .semicircular-chart--legende {
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 230px;
    }
    
    /** For hidde aimchar left logo  */
    .aimchart-logo--wrapper {
        width: 70px;
        height: 30px;
        background: white;
        position: absolute;
        bottom: 0;
    }

    @media (max-width:1440px) {
        .semicircular-chart--legende{
            bottom: 15px;
        }
    }
    @media (max-width:1280px) {
        .semicircular-chart--legende{
            bottom: 2rem;
        }
    }

    /** responsive */
    @media (max-width:1120px) {
         .semicircular-chart--legende{
            bottom: 2.4rem;
        }
    }


</style>
<style>
    .semicircular-chart--legende p{
        text-align: center;
        letter-spacing: 0;
        color: #1F4171 !important;
        opacity: 1;
        margin-bottom: 0px;
        font-family: 'NunitoSans-Bold' !important;
    }
    .semicircular-chart--legende  .legende-blod {
        font-size: 1.5rem;
    }
    @media (max-width:1280px) {
        .semicircular-chart--legende p{
            font-size: 14px;
        }
        .semicircular-chart--legende  .legende-blod {
            font-size: 1.2rem;
        }
    }
    @media (max-width:1120px) {
        .semicircular-chart--legende p{
            font-size: 12px;
        }
        .semicircular-chart--legende  .legende-blod {
            font-size: 1rem;
        }
    }
</style>