<template>
    <div class="chart-container" v-if="data">
        <apexchart height="350" :options="options" :series="series" ref="realtimeChart" />
        <div class="custom-legende">
            <label class="legende-left"   v-if="series[0]  > 0"> 
                <img :src="icons[0]" /> 
                <p>{{ series[0]  }} </p>  
            </label>
            <label class="legende-center" v-if="series[1]  > 0">
                <img :src="icons[1]" />   
                <p>{{ series[1]  }}</p>
            </label>
            <label class="legende-right"  v-if="series[2]  > 0">
                <img :src="icons[2]" />   
                <p>{{ series[2]  }}</p> 
            </label>
        </div>
    </div>
</template>
<script>

import VueApexCharts from 'vue-apexcharts'

export default {
    name : 'SemiDonutChart',
    components: {
        apexchart : VueApexCharts
    },
    props: {
        data : {
            required : true,
            default  : false
        }
    },
    data: function(){
        return {
            series: [0, 0, 0],
            options   : {
                chart: { 
                    type: 'donut',
                },
                colors: ['#FF7969','#882693', '#6196FF'],
                legend: {
                    show : false
                },
                pie: {
                    startAngle: -90,
                    endAngle: 90,
                },
                dataLabels: {
                    enabled   : true,
                    formatter : function (val) {
                        return Math.round(val) + "%"
                    },
                    offsetX: 20,
                    offsetY: 10,
                    style: {
                        fontWeight : 'bold',
                        //colors     :  ['#3C3850'],
                        fontSize   :  '1.2rem',
                        fontFamily : 'NunitoSans-Bold'
                    },
                },
                plotOptions: {
                    pie: {
                        startAngle: -90,
                        endAngle: 90,
                        donut: {
                            size: '65%',
                            background: 'transparent',
                            labels: {
                                show: false
                            }, 
                        },
                    },
                },
                stroke: {
                    width: 0
                },
                fill: {
                    /*
                    type: 'gradient',
                    gradient: {
                        gradientToColors: ['#FF7969','#6196FF'],
                        type: 'diagonal2',
                        opacityFrom: 1,
                        opacityTo: 1,
                        
                    },
                    */
                },
                responsive: [
                    {
                        breakpoint: 1280,
                        options: {
                            chart: { height: 300 },
                            dataLabels: {
                                style: {
                                    fontWeight : 'bold',
                                    fontSize   :  '0.9rem',
                                    fontFamily : 'NunitoSans-Bold'
                                },
                            }
                        }
                    },
                    {
                        breakpoint: 480,
                        options: {
                            chart: { height: 250 },
                            dataLabels: {
                                style: {
                                    fontWeight : 'bold',
                                    fontSize   :  '0.8rem',
                                    fontFamily : 'NunitoSans-Bold'
                                },
                            }
                        }
                    },
                ],

                tooltip: {
                    enabled: false,
                    /*
                    y: {
                        formatter: function(val) {
                            return val
                        },
                        title: {
                            formatter: function (seriesName) {
                            return ''
                            }
                        }
                    }*/
                }
            },
            icons:[
                require("@/assets/img/icon_men_org.svg").default ,
                require("@/assets/img/icon_transgenre_org.svg").default ,
                require("@/assets/img/icon_women_org.svg").default ,
            ] 
        }
    },
    methods: {
        /**
         * Calcul state rate
         * 
         * @param  {Integer} index
         * @return {Number}
         */
        getRate(index){
            let value = this.series[index]
            const reducer = (accumulator, currentValue) => parseInt(accumulator) + parseInt(currentValue)
            return Math.round( (value / this.series.reduce(reducer)) * 100 )

        }
    },
    watch: {
        data: {
            deep : true,
            handler: function(data){
                /*** update render */
                this.series = data
            }
        }
    },
}
</script>
<style scoped>
    .chart-container{
        position: relative;
        max-height: 180px;
        overflow: hidden;
        width: 100%;
    }
   
    .custom-legende {
        width: 100%;
        position: absolute;
        bottom: -0.5rem;
        display: flex;
        justify-content: center;
        color: #3C3850;
        font-size: 1.2rem;
        font-family: 'NunitoSans-Bold';
    }
    .custom-legende label{
        position: relative;
        width: 50px;
        font-size: 16px;
        text-align: center;
        height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .custom-legende label p {
        margin: 0;
        font-family: 'NunitoSans-Bold' !important;
    }

    .custom-legende .legende-left img {
        width: 25px;
        margin: auto;
    }

    .custom-legende .legende-center img,
    .custom-legende .legende-right img{
        width: 40px;
        margin: auto;
    }

    /*** responsive style */

   @media (max-width:1280px) {
        .custom-legende .legende-center img,
        .custom-legende .legende-right img{
            width: 25px;
        }
        .custom-legende label[data-v-632105fc] {
            width: 35px;
        }
        .custom-legende .legende-left{
            width: 30px;
        }
        .custom-legende .legende-left img{
            width: 18px;
        }
        
        .custom-legende label p{
            margin-top: -1rem;
        }
       .custom-legende{
           bottom: 1rem;
       }
      
   }
   @media (max-width:480px) {
    
        .custom-legende{
            bottom: 2rem;
        }
   }

</style>
