.search-engine-container {
    border-bottom: solid 1px #e4e4e3;
    background: transparent linear-gradient(180deg, #EDF3FF 0%, #E0EBFF 100%) 0% 0% no-repeat padding-box;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.dashboard-content{
    margin: 1.5rem;
}
.dashboard .student-search-form {
    background: transparent linear-gradient(180deg , #EDF3FF 0%, #E0EBFF 100%) 0% 0% no-repeat;
    border-bottom: solid 1px #e4e4e3;
    padding-top: 1rem;
}

.dashboard .stat-title{
    text-align: left;
    letter-spacing: 1px;
    color: #3C3850;
    text-transform: uppercase;
    font-size: 12px;
}


@media (max-width:720px) {

    .dashboard .search-engine-container .category-filter{
        margin-bottom: 2.5rem;
    }
    .dashboard .stat-title {
        font-size: 13px;
        border: solid 1px #d0ceda80;
        border-left: unset;
        border-right: unset;
        margin-bottom: 1rem;
        padding-top: 2rem;
    }
}