<template>
  <default-layout>
    
    	<div slot="content" class="dashboard">
            <div class="search-engine-container">
                <StudentSearchForm :context="'organization'" v-on:go-search="handleStudentSearch" />
            </div>

            <div class="dashboard-content">
                <section class="dashboard-header">
                    <DashboardHeader />
                </section>
                
                <section class="dashboard-stat--evolution">
                    <OrganizationEvolutionStat 
                        :scholarships="scholarships" 
                        @scholarshipchange="onScholarshipChange" 
                        @openExportModal="openExportModal"
                        />
                </section>

                <section class="dashboard-stat-circular">
                    <div class="row">
                        <div class="col-lg-6"> 
                            <StudentLevelStat :scholarship="scholarship" />
                        </div>
                        <div class="col-lg-6"> 
                            <StudentSexeStat :scholarship="scholarship" />
                        </div>
                        <div class="col-lg-6"> 
                            <StudentApplicationRateStat :scholarship="scholarship" v-if="fetching"/>
                        </div>
                        <div class="col-lg-6"> 
                            <StudentAgeStat :scholarship="scholarship" />
                        </div>
                    </div>
                </section>

                <section class="dashboard-stat-country">
                    <OrganizationCountryStat :scholarship="scholarship"/>
                </section>

                <section class="dashboard-stat-other">
                    <div class="row">
                        <div class="col-lg-7">
                            <StudentDisciplineStat :scholarship="scholarship" />
                        </div>
                        <div class="col-lg-5">
                            <StudentConnexionStat :scholarship="scholarship" />
                        </div>
                    </div>
                </section>

            </div>
            
            <ExportModal v-if="showExportModal" :scholarships="scholarships" @close="closeExportModal"/>

        </div>
  </default-layout>
</template>
<script src="./OrganizationDashboard.js"/>
<style scoped>
    .dashboard-stat-circular {
        margin-bottom: 5rem;
    }
    .dashboard-stat-other {
        margin-top: 4rem;
    }
    @media (max-width:768px) {
        .dashboard{
            position: relative;
            padding-bottom: 1rem;
            margin-bottom: 3rem;
        }
        .dashboard-stat-circular {
            margin-bottom: unset;
        }
    }
</style>
