<!--
 * @ Author: DADAY Andry
 * @ Create Time: 2021-12-16 17:45:27
 * @ Modified by: DADAY Andry
 * @ Modified time: 2021-12-20 20:01:39
 * @ Description:
 -->

<template>
    <div class="el-duplicated--container">
        <template>
            <div class="row el-duplicated--item">
                
                 <div class="col-md-6">
                    <label class="fm-label">Poste titre*</label>
                    <el-input type="text" v-model="model.title" />
                </div>
            
                <div class="col-md-6">
                    <label class="fm-label">Nom de l'entreprise/*</label>
                    <el-input type="date" v-model="model.company" />
                </div>


                <div class="col-md-6">
                    <label class="fm-label">Mention</label>
                    <el-input type="text" v-model="model.mention" />
                </div>

                <div class="col-md-6">
                    <label class="fm-label">Ville*</label>
                    <div class="el-input-adress">
                        <adresse-input :icon="false" v-model="model.place" />
                    </div>
                </div>

                <div class="col-md-6">
                    <label class="fm-label">Durée*</label>
                    <div class="row">
                        <div class="col d-flex">
                            <span class="mr-2">DU</span>
                            <el-input type="date" v-model="model.startDate" />
                        </div>
                        <div class="col d-flex">
                            <span class="mr-2">AU</span>
                            <el-input type="date" v-model="model.endDate" />
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <label class="fm-label">Temps plein/Temp partiel/Stage</label>
                    <textarea class="el-textarea" v-model="model.description"  />
                </div>
                
            </div>
        </template>
        <template>
            <div class="form-item--controls">
                <button  @click.prevent="">
                    <span class="fa fa-plus mr-2"></span>
                    <span>Ajouter une expérience</span>
                </button>
            </div>
        </template>
    </div>
</template>
<script>

import AdresseInput           from "@/components/common/AdresseInput.vue" 
import PhoneInput             from '@/components/common/PhoneInput.vue'
import CountrySelect          from '@/components/common/CountrySelect.vue'

export default {
    name: 'WidgetItemQualification',
    
    components:{
        AdresseInput,
        PhoneInput,
        CountrySelect
    },
    
    props: {
        element: {
            require: true
        }
    },

    data: function(){
        return {
            model : false
        }
    },
}
</script>
<style scoped lang="scss" src="@/components/vue-form-making/styles/el-duplicated.scss"></style>