<template>
  <div class="distinction-cta cta" :class="toggleShowDetaill ? 'open': ''">
    <div class="cta-item" @click="toggleShowDetaill">
      <div class="cta-icon"></div>
      <div class="cta-label">
        <label >{{$t('student.parcours.disctinctions_info1')}} 
          <br> & {{$t('student.parcours.disctinctions_info2')}} 
        </label>
        <p class="cta-item-count" v-if="student.distinctions.length > 0">
          {{ student.distinctions.length }} {{$t('student.parcours.disctinctions_info2')}}
        </p>
      </div>
      <div v-if="context == 'private'">
        <div class="cta-action" v-show="!stateCategory || !student.distinctions.length">
          <div class="icon action-add" @click="openNewDistinction"></div>
          <div class="icon action-edit" v-if="student.distinctions.length > 0"></div>
        </div>
        <div class="icon action-arrow" v-show="(stateCategory)" v-if="student.distinctions.length > 0" ></div>
      </div>
      <div class="icon action-arrow" v-else></div>
    </div>
    <div :class="[(stateCategory ) ? 'list-category-cta' : 'list-hide']" v-if=" student.distinctions !== null && student.distinctions !== undefined && student.distinctions.length " >
      <div class="item-category-cta" v-for="distinction in student.distinctions" :key="distinction.id" >
        <div class="item-title-cta">
          <span class="ml-3">
            <h4>{{ distinction.title }}</h4>
          </span>
        </div>
        <div class="item-info-cta">
          <p>
            <span>{{$t('student.parcours.disctinctions_info3')}}:</span>
            <b> {{ distinction.emission_date | dateParse("YYYY-MM-DD HH:mm:ss") | dateFormat("MMM YYYY") }}</b>
          </p>
          <p>
            <span>{{$t('student.parcours.disctinctions_info5')}}:</span> <b> {{ distinction.awarding_entity }} </b>
          </p>
          <!--p>
            <span>{{$t('student.parcours.disctinctions_info6')}}:</span> <b> {{ association(distinction.related).title }} </b>
          </p-->
          <p>
            <span>{{$t('student.parcours.disctinctions_info10')}}: {{ distinction.description }}</span>
          </p>
        </div>
        <div class="item-action-cta" v-if="context == 'private'">
          <div class="d-flex" @click="openNewDistinction" >
            <button class="btn-add">
              <img :src="icon_add" />
            </button>
            <span class="mr-2"> {{$t('student.parcours.disctinctions_info4')}}</span>
          </div>
          <div class="action-profil d-flex">
            <div @click="openEditDistinction(distinction)" class="icon action-edit"></div>
            <div @click="confirmDelete(distinction)" class="icon action-remove"></div>
          </div>
        </div>
      </div>
    </div>
    <Modal v-if="showDistinctionModalForm" class="student-parcours-modal">
      <div slot="header" class="w-100 text-center pr-3">
        <a class="close" href="" @click.prevent="showDistinctionModalForm = false"></a>
        <div>
           <h4 v-if="newDistinction.id == null">{{$t('student.parcours.disctinctions_info4')}}</h4>
           <h4 v-else>{{$t('student.parcours.disctinctions_info7')}}</h4>
        </div>
      </div>
      <div slot="body" class="px-4">
        <div class="row text-left">
          <div class="col-12">
            <label>{{$t('word.title')}}</label>
            <input type="text" v-model="newDistinction.title" class="form-control" />
          </div>

          <!--div class="col-12">
            <label>{{$t('student.parcours.disctinctions_info6')}}</label>
            <Multiselect
              :showLabels="false"
              class=""
              v-model="newDistinction.related"
              label="title"
              track-by="id"
              :hideSelected="true"
              :options="distinctions"
            >
            </Multiselect>
          </div-->
          <div class="col-12">
            <label>{{$t('student.parcours.disctinctions_info8')}}</label>
            <input
              type="text"
              v-model="newDistinction.awardingEntity"
              class="form-control"
            />
          </div>

          <div class="col-sm-6">
            <label>{{$t('student.parcours.disctinctions_info9')}}</label>
            <div class="periode-field-group">
              <DateSelect v-model="newDistinction.emissionDate" format="m-y">
              </DateSelect>
            </div>
          </div>

          <div class="col-12">
            <label>{{$t('student.parcours.association_info9')}}</label>
            <textarea
              class="form-control"
              v-model="newDistinction.description"
              maxlength="250"
            ></textarea>
            <span class="text-area-max--label">250 max</span>
          </div>
        </div>
           <div v-if="message" class="alert alert-danger" role="alert" style="text-align:center;margin:20px">
          {{ $t(message) }}
        </div>
        <div class="text-right w-100 action-container">
          <hr />
          <DefaultButton
            className="style1"
            :text="$t('word.save')"
            :onLoad="loading"
            @click.native="updateStudentDistinction"
          />
        </div>
      </div>
    </Modal>
    <Modal v-if="showConfirm"  class="w-100 text-center modal-confirm-profil">
        <div slot="header" class="w-100 text-center pr-3">
        <a class="close" href="" @click.prevent="showConfirm = false"></a>
      </div>
      <div slot="body" class="w-100 px-4">
        <div class="bloc-icon-pouce">
          <img :src="require('@/assets/img/Pouce.svg').default" id="icon-pouce">
        </div>
        <div class="message-confirm">
          <label><b>{{$t('modal.title_modal_confirm_profil_price')}}</b></label>
          <label>{{$t('modal.info_modal_confirm_profil')}}</label>
        </div>
        <div class="btn-confirm-profil">
          <DefaultButton
            className="outline3 add_element"
            :text="$t('modal.add_price')"
            @click.native="openNewDistinction"
          />
          <DefaultButton
            className="style1 valid_element"
            :text="$t('word.validate')"
            @click.native="showConfirm = false"
          />
        </div>

  </div>
</Modal>
  </div>
</template>
<script>
import "./style.css";

import DistinctionService from "@/services/common/DistinctionService.js";
//import Multiselect from 'vue-multiselect'
import ProfilService from "@/services/student/ProfilService.js";
import Multiselect from "vue-multiselect";
import "vue-multiselect/dist/vue-multiselect.min.css";

export default {
  name: "AssociationCta",

  components: {
    Multiselect,
  },
  props: {
    showDetail: {
      type:Boolean
    },
    student: {
      required: true
    },
    context: {
      default: 'private'
    }
  },
  

  data: function () {
    return {
      showDistinctionModalForm: false,
      stateCategory: false,
      loading: false,
      AssociationCauseOption: [],
      newDistinction: {
        id : null,
        title : null,
        related: {id : null , title : ''},
        awardingEntity: null,
        emissionDate: null,
        description: null
      },
      distinctions: [],
      icon_add: require("@/assets/img/add-icon.svg").default,
      showConfirm : false,
      message : ''
    };
  },

   watch : {
    showDetail(newVal) {
        this.stateCategory = newVal
    }
  },



  methods: {
    checkField(newDistinction) {
        var title = (newDistinction.title !== "" &&  newDistinction.title !== null) 
        var awardingEntity =  (newDistinction.awardingEntity !== "" &&  newDistinction.awardingEntity !== null) 
        var emissionDate =  (newDistinction.emissionDate !== "" &&  newDistinction.emissionDate !== null) 
        var description =  (newDistinction.description !== "" &&  newDistinction.description !== null) 
      return (title && awardingEntity && emissionDate && description)
     },
     
    updateStudentDistinction() {
      if(this.checkField(this.newDistinction)) {
            this.confirmStudentDistinction()
        }else{
         this.message = "word.form.field_required";
      }
    },
    confirmStudentDistinction() {

      let that = this;
      that.loading = true;
      ProfilService.updateStudentDistinction(that.newDistinction)
        .then((response) => {
          if (response.data && response.data.success) {
            that.showConfirm = that.newDistinction.id === null
            that.$store.dispatch("user/updateInfos");
            that.newDistinction = {};
            that.updateDistinctionList();
            that.showDistinctionModalForm = false;
            that.message = "";
            that.loading = false;
         
        
          }

          that.loading = false;
        })
        .catch((error) => {
          console.log(error);
          that.message = error;
          that.loading = false;
          that.message = "word.form.internal_error";
          that.showConfirm = false
        });


    },
    updateDistinctionList() {
      let that = this;
      DistinctionService.getList()
        .then((response) => {
          that.distinctions = response.data.distinctions;
        })
        .catch((error) => {});
    },
    toggleShowDetaill() {
      if (this.student.distinctions.length > 0) {
        this.stateCategory = !this.stateCategory;
        return 
      }
      if(this.context == 'private'){
        this.openNewDistinction()
      }
      
    },

    confirmDelete(Distinction) {
      let that = this;
      this.$dialog
        .confirm(that.$t('student.ask.remove_distinction'), {
          loader: true,
          okText: "valider",
          cancelText: that.$t('word.cancel'),
        })
        .then(function (dialog) {
          that.deleteFormation(Distinction, dialog);
        })
        .catch(function (dialog) {
          dialog.close();
        });
    },
    deleteFormation(Distinction, dialog) {
      let that = this;
      that.loadDelete = true;
      ProfilService.removeStudentDistinction(Distinction.id)
        .then(function (response) {
          if (response.data.success) {
            //mise en jour liste article
            that.$store.dispatch("user/updateInfos");
          } else {
            //afficher snackbar
          }
          dialog.close();
          that.loadDelete = false;
        })
        .catch(function (error) {
          //afficher snackbar

          dialog.close();
        });
    },
    createObjectDistinction(
        id = null,
        title = null,
        related=null,
        awardingEntity = null,
        emissionDate = null,
        description = null
    ) {
    this.newDistinction = {
        id : id,
        title : title,
        related : related,
        awardingEntity : awardingEntity,
        emissionDate : emissionDate,
        description : description
      };
    },
   openEditDistinction(Distinction) {
      //recuperation inforamation des
       var date_emission = new Date(Distinction.emission_date)
       this.newDistinction.id = Distinction.id
       this.newDistinction.title = Distinction.title
       this.newDistinction.awardingEntity = Distinction.awarding_entity
       this.newDistinction.description = Distinction.description
       this.newDistinction.emissionDate = date_emission.getFullYear() + '-'+ (parseInt(date_emission.getMonth()) + 1 ) + '-01',
       this.newDistinction.related = this.association(Distinction.related)
       this.showDistinctionModalForm = true;
    },
    openNewDistinction() {
       this.showConfirm = false
      this.createObjectDistinction()
      this.showDistinctionModalForm = true;
    },
    association(id) {
     var  response = {id : null , title : ""}
     for(var i = 0 ; i < this.distinctions.length ; i++ ) {
        if(id == this.distinctions[i].id ) {
          response = this.distinctions[i]
          break
        }
      }
      return response
    }
  },

  mounted: function () {
    this.updateDistinctionList()
  },
}
</script>
