<template>
    <distinction-cta-private v-if="context == 'private'" :showDetail="showDetail" :student="student"  />
    <distinction-cta-public  v-else :student="student"  />
</template>

<script>

import DistinctionCtaPublic  from "./DistinctionCtaPublic.vue"
import DistinctionCtaPrivate from "./DistinctionCtaPrivate.vue"
export default {
    name: "DistinctionCta",

    components:{
        DistinctionCtaPublic,
        DistinctionCtaPrivate
    },

    props: {

        showDetail: {
            type:Boolean
        },
        
        student: {
            required: true
        },

        context: {
            default: 'private'
        }

    },

}
</script>