<template>
  <div class="distinction-cta cta open public-cta">
    <div class="cta-item">
      <div class="cta-icon"></div>
      <div class="cta-label">
        <label >{{$t('student.parcours.disctinctions_info1')}} & {{$t('student.parcours.disctinctions_info2')}} 
        </label>
      </div>
    </div>

    <div class="list-category-cta">
      <template  v-if=" student.distinctions !== null && student.distinctions !== undefined && student.distinctions.length ">
          <div class="item-category-cta" v-for="distinction in student.distinctions" :key="distinction.id" >
            <div class="item-date-cta">
                {{ distinction.emission_date | dateParse("YYYY-MM-DD HH:mm:ss") | dateFormat("MMM YYYY") }}
            </div>
            <div class="item-info-cta">
                <div class="item-info--title">{{ distinction.title }} </div>
                <div class="item-info--entity">{{ distinction.awarding_entity }} </div>
                <div class="item-info--desc">{{$t('student.parcours.disctinctions_info10')}}: {{ distinction.description }}</div>
            </div>
          </div>
      </template>
      <template v-else>
          <p class="public-empty-parcours--label">{{ $t('student.parcours.empty_parcours') }}</p>
      </template>
    </div>
   
  </div>
</template>
<script>
import "./style.css"

export default {
  name: "AssociationCta",

  props: {
    showDetail: {
      type:Boolean
    },
    student: {
      required: true
    },
    context: {
      default: 'private'
    }
  },
}
</script>
<style scoped>
    .item-category-cta {
        display: flex;
    }
    .item-category-cta:not(:last-child){
      border-bottom: solid 1px #D3D3D3;
      margin-bottom: 2rem;
      padding-bottom: 2rem;
    }

    .item-date-cta {
        width: 6rem;
        font-size: 14px;
        font-family: 'NunitoSans-Bold';
    }
    .item-info--title {
        font-size: 1rem;
        font-family: 'NunitoSans-Bold';
        color: #3C3850;
    }

    .item-info--entity {
        color: #D3D3D3;
    }

    .item-info--desc {
        font-size: 12px;
        color: #3C3850;
    }
</style>