<template>
    <default-layout>
        
        <div slot="content" class="default-page-template" >
            <div class="page-content-wrapper">
                <div class="page-content-container" v-html="content">
                </div>
            </div>
        </div>
    </default-layout>
</template>

<script>
import PostService from "@/services/post/PostService.js"
export default {
    name: 'DefaultPage',
    data: function(){
        return {
            content: false
        }
    },
    methods: {
        getPageContent: function(){
            let that = this
            let params = {
                type: 'PAGE',
                slug: that.$route.params.slug,
                lang: that.locale
            }
            PostService.get(params).then(
                (response) => {
                    if(response.data.posts){
                        this.content = response.data.posts[0].content
                    }
                }
            )
        }
    },
    mounted: function(){
        this.getPageContent()
    }
}
</script>

<style scoped>
    .page-content-container {
        padding: 2rem;
    }
</style>
<style>
    .page-content-container h1,
    .page-content-container h2,
    .page-content-container h3,
    .page-content-container h4,
    .page-content-container h5
    {
        color: #31BDB0;
        font-family: 'NunitoSans-SemiBold';
    }
</style>