<template>
    <div class="dashboard-stat--evolution-content">
        <div class="filter-group">
            <label>{{ $t("word.show") }}</label> 
            <ScholarshipSelect :scholarships="scholarships" @change="updateSeriesData($event)" v-model="selectedScholarship" />
        </div>
        <div class="stat-title">
            <p> {{ $t('organization.dashboard.evolution_title')}} </p>
        </div>
        <div class="stat-btn-container">
            <button class="stat-export-btn" @click="openExportModal">
                <span class="stat-export-btn--icon"></span>
                <span class="stat-export-btn--text" >{{ $t("organization.dashboard.export_stat_btn") }}</span> 
            </button>
        </div>
        <div class="stat-container">
            <div class="chart-controls">
                <div class="row">
                    <div class="chart-controls--categ col-sm-6">
                        <SerieCategorySwitcher v-model="selectedCategory" @input="updateSeriesData($event)" />
                    </div>
                    <div class="col-sm-6">
                        <SerieDateSwitcher v-model="selectedDateFilter"   @input="updateSeriesData($event)" />
                    </div>

                </div>
            </div>
            <div class="chart-recap">
                <div class="chart-recap--item">
                    <p class="title">{{ $t("organization.dashboard.today_number") }}</p>
                    <p class="value">{{ evolutionSeriesData.pic.today }} {{ $t("word.users") }}</p>
                </div>
                <div class="chart-recap--item">
                    <p class="title">Pic de {{ (new Date()).getFullYear() }}</p>
                    <p class="value">{{ evolutionSeriesData.pic.year }} {{ $t("word.users") }}</p>
                </div>
            </div>
            <div class="chart-container" id="chart">
                <SerieChart :data="evolutionSeriesData" />
            </div>
        </div>
    </div>
</template>

<script src="./OrganizationEvolutionStat.js"> </script>
<style scoped src="./style.css"></style>
<style>
    /*** custom switch style */
    .switch-categ ul.toggle-switch,
    .switch-date ul.toggle-switch{
        width: 100% !important;
        display: flex;
        justify-content: flex-end;
    } 
    .switch-categ ul.toggle-switch li{
        width: 50% !important;
    } 
    .switch-categ ul.toggle-switch li label{
        display: flex;
        align-items: center;
        justify-content: center;
    } 
    .switch-categ .toggle-switch li:first-child label {
        border-top-left-radius: 40px !important;
        border-bottom-left-radius: 40px !important;
    }
    .switch-categ .toggle-switch li:last-child label {
        border-top-right-radius: 40px !important;
        border-bottom-right-radius: 40px !important;
    }
    
    /** override apex style */

    /*** responsive */
    @media (max-width:720px) {
        .switch-categ .toggle-switch,
        .switch-categ .toggle-switch li
        {
            height: 2rem !important;
        }
        
        .switch-date ul.toggle-switch{
            justify-content: space-between;
            width: 90% !important;
        } 
        
    }
</style>