<template>
    <ToggleSwitch
        class="switch-date"
        :options="switchOption"
        @change="onChange($event)" 
        :v-model="selectedOption"
        :group="switchGroup" 
    />
</template>

<script>
import { label } from 'jscharting'
import ToggleSwitch from "vuejs-toggle-switch"

export default {
    name: "SerieDateSwitcher",

    components: {
        ToggleSwitch, 
    },

    props:{
        value: {
            default: "years" 
        }
    },
    
    data: function(){
        return {
            selectedOption: "years",
            switchGroup:'data2',
            choices: this.$t("organization.dashboard.chart_evolution.date_choices"), 
        }
    },
    computed: {
        switchOption: function(){
            let labels = []

            for (const [key, value] of Object.entries(this.choices)) {
                labels = [ ...labels, { name: value } ]
            }

            return {
                layout: {
                    color: '#3C3850',
                    backgroundColor: 'white',
                    selectedColor: '#6196FF',
                    selectedBackgroundColor: 'white',
                    fontFamily: 'NunitoSans-SemiBold',
                    fontWeight: 'normal',
                    noBorder:true,
                },
                size: {
                   fontSize: 1,
                   width: 60
                },
                items: {
                    delay: .4,
                    preSelected: "years",
                    disabled: false,
                    labels: labels
                }
            }
        }
    },
    methods: {
        onChange: function($event){
           this.$emit('input', this.getObjectKeyValue($event.value))           
        }, 

        getObjectKeyValue(option){
            return Object.keys(this.choices).find(key => this.choices[key] === option)
        }
    }

}
</script>
<style>
    /** only for date switch */
        .switch-date ul.toggle-switch li{
           width: 5rem !important;
        } 
</style>