<template>
    <div>
        <chart type="area" height="350" :options="chartOptions" :series="data.series" ref="realtimeChart" v-if="data" />
    </div>
</template>

<script>
    import VueApexCharts from 'vue-apexcharts'
    export default {
        name: "SerieChart",
        props: {
            data: {
                default: false
            }
        },

        components: {
            chart: VueApexCharts
        },

        data: function(){
            return {
                chartOptions :{
                    chart: {
                        height: 400,
                        type: "area",
                        toolbar: {
                            show: false
                        }
                    },
                    colors: ['#6196FF'],
                    dataLabels: {
                        enabled: false
                    },
                    stroke: {
                        curve: "smooth"
                    },
                    fill: {
                        type: 'gradient',
                        gradient: {
                            opacityFrom: 0.6,
                            opacityTo: 0.2,
                        }
                    },
                    xaxis: {
                        type: "text",
                        categories: this.data.labels, 
                        labels: {
                            show: true,
                            style: {
                                colors: "#D0CEDA",
                                fontSize: '13px',
                                fontFamily: 'NunitoSans-Bold',
                                cssClass: 'custom__apexcharts-yaxis-label',
                            },
                        },
                    },
                    yaxis: {
                        labels: {
                            show: true,
                            style: {
                                colors: "#D0CEDA",
                                fontSize: '1rem',
                                fontFamily: 'NunitoSans-Bold',
                                cssClass: 'custom__apexcharts-yaxis-label',
                            },
                        },
                    },

                    tooltip: {
                        x: {
                            format: "dd/MM/yy HH:mm"
                        }
                    }
                },
            }
        },
        
        methods: {
            reloadChartView: function(){
                this.chartOptions.xaxis.categories = this.data.labels
                this.$refs.realtimeChart.updateSeries([{
                    data: this.data.series.data,
                }], false, true);
                this.$refs.realtimeChart.updateOptions( this.chartOptions, false, true);
            },
            watchSidebar: function(){
                let sidebarToogler = document.querySelector('.app-sidebar__toggle')
                //let sidebar        = document.querySelector('.sidebar')
                let that = this
                sidebarToogler.addEventListener('click', function(){
                    that.reloadChartView()
                })
            }
        },
        
        watch: {
            data: {
                deep : true,
                handler: function(data){
                    this.reloadChartView()
                }
            }
        },

        mounted: function(){
            this.watchSidebar()
        }

    }
</script>