<template>
    <ToggleSwitch
        class="switch-categ"
        :options="switchOption"
        @change="onChange($event)" 
        :v-model="selectedOption"
        :group="switchGroup" 
    /> 
</template>

<script>
import ToggleSwitch from "vuejs-toggle-switch"

export default {
    name: "SerieCategorySwitcher",

    components: {
        ToggleSwitch, 
    },

    props:{
        value: {
            default: "interested" 
        }
    },

    data: function(){
        return {
            selectedOption: "interested",
            switchGroup:'gear',
            choices: this.$t("organization.dashboard.chart_evolution.category_choices"), 
        }
    },

    computed: {
        switchOption: function(){
            return {
                layout: {
                    color: '#6196FF',
                    backgroundColor: 'white',
                    selectedColor: 'white',
                    selectedBackgroundColor: '#6196FF',
                    borderColor: '#6196FF',
                    fontFamily: 'NunitoSans-SemiBold',
                    fontWeight: 'normal',
                },
                size: {
                   fontSize: 1,
                },
                items: {
                    delay: .4,
                    preSelected: this.choices.interested,
                    disabled: false,
                    labels:[{ name: this.choices.interested }, { name: this.choices.view }]
                }
            }
        } 
    },

    methods: {
        onChange: function($event){
           this.$emit('input', this.getObjectKeyValue($event.value))           
        }, 

        getObjectKeyValue(option){
            return Object.keys(this.choices).find(key => this.choices[key] === option)
        }
    }

}
</script>

<style scoped>
    .switch-categ {
        max-width: 25rem;
    }

</style>
<style>
    .switch-categ .toggle-switch li {
        height: 2.5rem !important;
    }
    .switch-categ .toggle-switch li label:not(.selected){
        border: solid 2px !important;
    }
    @media (max-width: 1500px) {
        .switch-categ .toggle-switch li {
            font-size: 14px !important;
        } 
    }
</style>