    .dashboard-stat--evolution-content,
    .stat-title{
        margin-top: 2rem ;
        position: relative;
    }
    .filter-group {
        position: relative;
        width: max-content;
    }
    .filter-group:after{
        background: url('~@/assets/img/back.svg');
        content: "";
        filter: brightness(0.5);
        position: absolute;
        right: 1rem;
        top: 8px;
        transform: rotate(-90deg);
        width: 8px;
        height: 15px;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .filter-group label{
        margin-right: 1rem;
        font-family: 'NunitoSans-Bold' !important;
        font-size: 12px !important;
    }

    .filter-group .form-select{
        padding: 5px 10px;
        border: solid 1px #c5c5c5;
        border-radius: 18px;
        background: white;
        font-size: 12px;
        font-family: 'NunitoSans-Regular';
        min-width: 14rem;
        padding: .5rem 1rem;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    
    .stat-container{
        margin: 3.5rem 5rem;
    }
    .chart-recap {
        margin-top: 2rem;
    }
    .chart-recap--item {
        display: inline-block;
        margin-right: 5rem;
    }
    .chart-recap--item .title{
        letter-spacing: 0px;
        color: #D0CEDA;
        opacity: 1;
        font-size: 1.3rem;
        margin: 0;
    }
    .chart-recap--item .value{
        letter-spacing: 1px;
        color: #3C3850;
        font-family: 'NunitoSans-Bold' !important;
        font-size: 2rem;
    }
    .stat-btn-container {
        position: absolute;
        right: 0;
        top: 2rem;
    }

    button.stat-export-btn {
        background: #FFD7D2 0% 0% no-repeat padding-box;
        opacity: 1;
        border: none;
        padding: 10px 1.5rem;
        border-radius: 10px;
        text-align: center;
        letter-spacing: 1px;
        color: #FF7667;
        font-family: 'NunitoSans-Bold';
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
    }

    .stat-export-btn--icon:before{
        content: url("~@/assets/img/icon_export_org.svg");
        margin-right: 1rem;
     }

    @media (max-width:1500px) {
        .chart-recap--item .title{
            font-size: 1rem;
        }
        .chart-recap--item .value{
            font-size: 1.5rem;
        }
    }

    /*** responsive */
    @media(max-width:1280px) {
        .filter-group label{
            font-size: 12px !important;
        }
        .stat-container{
            margin: 2.5rem 2rem;
        }
        
        .stat-btn-container {
            font-size: 13px;
        }
        .chart-recap--item .value{
            font-size: 18px !important;
        }
        .chart-recap--item .title{
            font-size: 15px !important;
        }
        button.stat-export-btn {
            padding: 10px 1rem;   
            font-size: 12px;
            letter-spacing: 0; 
        }
       
    }


     @media(max-width:768px) {
        .stat-title{
            margin-top: 1rem ;
        }
        .filter-group label {
            display: none;
        }

        .filter-group .form-select {
            width: 100%;
            font-size: 15px !important;
            border: none !important;
            font-family: 'NunitoSans-SemiBold' !important;
            color: #3C3850 !important;
        }
        .stat-container{
            margin: unset !important;
        }
        
        .stat-btn-container{
            bottom: -2rem;
            top: unset;
            width: 100%;
            display: flex;
            justify-content: center;
            font-size: 14px;
        }

        .dashboard-stat--evolution-content{
            position: unset;
        }

        .chart-recap--item{
            display: block;
            margin-right: unset;
        }
        .chart-recap {
            display: flex;
            justify-content: space-between;
        }
       
     }
