<div class="tile p-0">
    <div class="thematic-list-header">
        <h4>Message reçu</h4>
    </div>
    <hr>
    <ul class="nav flex-column nav-tabs user-tabs message-list-nav-tabs">
        {% for message in messages %}
            <li class="nav-item category-data" data-id="{{ message.id }}">
                <a class="nav-link {{ loop.index == 1 ? 'active' : '' }}" href="#message-content-{{ message.id }}" data-toggle="tab">
                    <div class="user-message--name"> {{ message.fullname }} </div>
                    <div class="user-message--subject text-muted">
                        <small>{{ message.subject }}</small>
                    </div>
                    <div class="user-message--date">
                        {{ message.date|date('d M Y') }}
                    </div>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>