{% set lang = app.request.locale %}
<div class="tab-content px-2">
    {% for message in messages %}
        <div class="tab-pane {{ loop.index == 1 ? 'active' : '' }}" id="message-content-{{ message.id }}">
            <div class="timeline-post">
                <div class="post-media">
                  <div class="content">
                    <h5><a href="#">{{ message.fullname }}</a></h5>
                    <p class="text-muted">
                        <small><span class="fa fa-envelope mr-2"></span>{{ message.email }} </small>
                        <small><span class="fa fa-phone mr-2 ml-3"></span>{{ message.phone }}</small>
                    </p>
                  </div>
                </div>
                <div class="post-content">
                    <h6> {{ message.subject }} </h6>
                    <p>  {{ message.message|raw }}</p>
                    <div class="user-message--date mr-4">
                        {{ message.date|date('d M Y') }}
                    </div>
                </div>
            </div>         
        </div>
    {% endfor %}
</div>
