<template>
  <div class="basic-infos">
    
    <div class="basic-infos--title">
        <div class="organization-logo--wrapper">
            <img :src="logo">
        </div>
        <div class="basic-infos--content">
            <p class="organization--name">{{ organization.name }}</p>
        </div>
        <div class="basic-infos--content-mobile">
            <div class="website-container">
                {{ organization.website }}
            </div>
            <div class="basic-infos-gid">
                
                <div class="basic-infos-grid--item">
                    <span class="gird-icon">
                        <img :src="image.institution">
                    </span>
                    <span class="grid-text" v-if="organization.institution_type">
                         {{ $t('organizationType.'+organization.institution_type.id) }}
                    </span>
                </div>

                <div class="basic-infos-grid--item">
                    <span class="gird-icon">
                        <img :src="image.calendrier">
                    </span>
                    <span class="grid-text">
                        Création en {{ organization.year_of_creation }}
                    </span>
                </div>

                <div class="basic-infos-grid--item">
                    <span class="gird-icon">
                        <img :src="image.bourse">
                    </span>
                    <span class="grid-text">
                       {{ organization.statistical && organization.statistical.scolarship_awarded ? organization.statistical.scolarship_awarded : '00' }}
                    </span>
                </div>

            </div>
        </div>
    </div>

    <!--- Description section -->
    <div class="basic-infos-description" v-if="!logged">
        <div v-html="organization.description.substring(100,0)+'...'"> </div>
        <div class="alert alert-info mt-4">
            <p>Ce contenu réservé aux utilisateurs connectés</p>
            <p>Veuillez vous connecter pour lire la suite.</p>
            <DefaultButton  className="style1 mx-auto py-1 mt-2" text="Se connecter" v-if="!logged"/>
        </div>
    </div>

    <div class="basic-infos-description" v-html="organization.description" v-else></div>
 
  </div>
</template>

<script>
import IconImages from '@/services/helpers/IconImages.js'
export default {
    name: "BasicInfos",
    props: {
        organization: {
            default: function(){ 
                return {} 
            }
        }
    },
    data: function(){
        return {
            image: { ...IconImages }
        }
    },
    computed:{
        logo: function(){
            return this.organization.logo ? ( 
              this.organization.logo.file ? this.organization.logo.file.url : '/uploads/logo/'+ this.organization.logo 
            ) : this.image.default
        }   
    }
}
</script>

<style scoped>
    .basic-infos--title {
        display: flex
    }

    .organization--name {
        color: #1F4171;
        font-family: "NunitoSans-Bold" !important;
        font-size: 24pt;
        margin-right: 1rem;
        margin-bottom: 0px;
    }
    
    .organization-logo--wrapper {
        margin-right: 5%;
        margin-top: .5rem;
        border-radius: 15%;
        width: 80px;
        max-height: 80px;
        box-shadow: 5px 7px 5px #e3d6d6;
        border: 1px solid #f4eeee !important;
        background: white;
        overflow: hidden;
    }

    
    .organization-logo--wrapper img{
        max-width: 100% !important;
    }

    .basic-infos--content {
        display: flex;
        align-items: center;
    }

    .basic-infos-description {
        margin-top: 1.5rem;
        color: #3C3850 !important;
    }

    .basic-infos--content-mobile{
        display: none;
    }

    @media (max-width:1720px) {
        .basic-infos-description{
            font-size: 14px;
        }
    }

    @media (max-width:1500px) { 
        .organization--name {
            font-size: 20pt;
        }
        .basic-infos-description{
            font-size: 14px;
        }

    }

    @media (max-width:1200px) { 
        .organization--name {
            font-size: 18pt;
        }
   }
   @media (max-width:768px) {
        .organization-logo--wrapper {
            margin-top: 1.5rem; 
            width: 100px;
            max-height: 100px;
            box-shadow: 5px 7px 10px #918f987f;
        }
       .basic-infos--title{
            flex-direction: column;
            background: #636363d4;;
            justify-content: center;
            align-items: center;
            padding: 10% 5%;
            margin-left: -11%;
            margin-top: -2.1rem;
            width: 105vw;
        }
        .basic-infos--content {
            text-align: center;
        }
        .organization--name {
            font-size: 16pt;
            color: white;
            margin-top: 1rem;
        }

        .basic-infos--content-mobile {
            color: white;
            display: block
        }

        .basic-infos--content-mobile .gird-icon {
            filter: brightness(10);
        }
        .basic-infos--content-mobile .basic-infos-gid {
            margin: auto;
            margin-top: 2rem;
            display: flex;
            justify-content: space-between;
            width: 80vw;
        }
        .basic-infos--content-mobile .gird-icon img {
            max-width: 15px;
            max-height: 15px;
        }
        .basic-infos--content-mobile  .grid-text {
            font-size: 13px;
        }
        .basic-infos--content-mobile .website-container {
            text-align: center;
            font-size: 14px;
            margin: auto;
            margin-top: .5rem;
            width: 80%;
            overflow: hidden;
            text-overflow: ellipsis;
        }
   }



</style>