<template>
    <div class="contact-card--wrapper">
        <div class="contact-card--container">
            <h5>Contact</h5>
            <label>{{ profil.firstname }} {{ profil.lastname }} </label>
            <label><i class="fa fa-phone mr-2"></i>{{ organization.phone_number }} </label>
            <label><i class="fa fa-envelope mr-2"></i>{{ organization.organization_email }} </label>
            <div class="avatar-wrapper">
                 <Avatar :image="avatar" 
                    :alt="organization.firstname"
                    size="midle"
                />
            </div>
        </div>
    </div>

  
</template>

<script>
export default {
    name: 'ContactCard',
    props: {
        organization: {
            default: function(){
                return {}
            }
        }
    },
    computed:{
        avatar: function(){
            return this.profil.avatar ? '/uploads/avatar/' + this.profil.avatar : false
        } 
    }
}
</script>

<style scoped>
    .contact-card--container {
        text-align: left;
        display: flex;
        flex-direction: column;
        background: #6196FF 0% 0% no-repeat padding-box;
        color: white;
        border-radius: 15px;
        padding: 2rem;
        position: relative;
    }

    .contact-card--container h5 {
        font-family: 'NunitoSans-Bold';
        font-size: 25px;
    }

    .contact-card--container label {
        color: white;
        font-family: 'NunitoSans-SemiBold';
        font-size: 18px;
    }
    .contact-card--container  .avatar-wrapper {
        position: absolute;
        right: 2rem;
        border: solid;
        border-radius: 50%;
    }
    

    @media(max-width:1700px){
        .contact-card--container {
            padding: 1rem;
        }
        .contact-card--container h5 {
            font-size: 20px;   
        }
        .contact-card--container label {
            font-size: 15px;
        }
    }

    @media(max-width:1500px){
        
        .contact-card--container h5 {
            font-size: 15px;   
        }
        .contact-card--container label {
            font-size: 11px;
        }
        .contact-card--container  .avatar-wrapper {
            right: 1rem;
        }
    }
    @media(max-width:1200px){
        .contact-card--container {
            padding: .5rem;
        }
         .contact-card--container h5 {
            font-size: 14px;   
        }
        .contact-card--container label {
            font-size: 10px;
            margin: 3px;
        }
        .contact-card--container  .avatar-wrapper {
            right: .5rem;
        }
    }

    @media(max-width:991px){
        .contact-card--container {
            padding: 2rem;
        }
        .contact-card--container h5 {
            font-size: 20px;   
        }
        .contact-card--container label {
            font-size: 14px !important;
            margin: unset;
        }
    }
    @media(max-width:768px){
        .contact-card--container  .avatar-wrapper {
            right: 1rem;
        }
    }

</style>

<style>
    @media(max-width:1500px){
        .contact-card--container .avatar-wrapper .custom-avatar {
            max-width:  50px !important;
            max-height: 50px !important;
            min-width:  50px !important;
            min-height: 50px !important; 
        }
    }
    @media(max-width:768px){
        .contact-card--container .avatar-wrapper .custom-avatar {
            max-width:  75px !important;
            max-height: 75px !important;
            min-width:  75px !important;
            min-height: 75px !important; 
        }
    }
</style>