<template>
    <div class="cover-card-wrapper">
        <div class="cover-picture">
            <img :src="imageSrc">
        </div>
    </div>
</template>

<script>
export default {
    name: 'CoverCard',
    props: {
        organization: {
            default: function(){
                return {}
            }
        }
    },
    data: function(){
        return {
            defaultCover : require('@/assets/img/default-cover.png').default
        }
    },
    computed:{
        imageSrc: function(){
            return this.organization.cover_picture ? '/uploads/picture/'+this.organization.cover_picture : this.defaultCover
        }
    },
}
</script>

<style scoped>
    .cover-picture img {
        width: 100%;
        border-radius: 25px;
        background: #7F85A6 0% 0% no-repeat padding-box;
        box-shadow: 0px 71px 36px #64646457;
        -webkit-box-shadow: 0px 71px 36px #64646457;
        -moz-box-shadow: 0px 71px 36px #64646457;
        margin-bottom: 1rem;
    }

</style>