<template>
  <div class="organization-gallery-slide" v-if="gallery.length">	
      <VueSlickCarousel :arrows="false" :dots="true">
        <div v-for="item, index in gallery" :key="'gallery-slide'+index">
          <VideoCard   :video="item" v-if="typeof item ==='object' " @play="$emit('play', item)" />
          <PictureCard :image="item" v-else/>
        </div>
      </VueSlickCarousel>
  </div>
</template>

<script>

  import VueSlickCarousel from 'vue-slick-carousel'
  import 'vue-slick-carousel/dist/vue-slick-carousel.css'
  import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'

  import VideoCard        from "@/view/organization/profil/parts/VideoCard.vue"
  import PictureCard      from "@/view/organization/profil/parts/PictureCard.vue"
  
  
  export default {
    name : "GallerySlide",
    components : {
      VideoCard,
      PictureCard,
      VueSlickCarousel
    },

    props : {
      organization : {
       require: true
      }
    },

    data : function(){
      return {
      sliderOptions: {
      
        },
        loaded : false
      }
    },
    computed: {
        videosGallery: function(){
            if(!this.organization.gallery){
              return []
            }

            if(this.organization.gallery.videos && this.organization.gallery.videos.length > 0){ 
              return this.organization.gallery.videos
            }

            return []
        },
        picturesGallery: function(){
            if(!this.organization.gallery){
              return []
            }
            if(this.organization.gallery.pictures && this.organization.gallery.pictures.length > 0){
              return this.organization.gallery.pictures
            }
            return []
        },
        gallery: function(){
            let video = this.videosGallery
            let pics  = this.picturesGallery
            let gallery = this.shuffleArray([...video, ...pics])
            return gallery

        }
    },
    methods: {
      shuffleArray: function(inputArray){
          inputArray.sort(()=> Math.random() - 0.5)
          return inputArray
      }
    }
  }
</script>
<style>
  
  .organization-gallery-slide {
      position: relative;
  }
  .organization-gallery-slide .splide__pagination {
      bottom: -2em !important;
  }
  .organization-gallery-slide .splide__pagination__page {
      background: #f9b2ab !important;
  }
  .organization-gallery-slide .splide__pagination__page.is-active {
      background: #ff7667 !important;
      transform: unset !important;
  }
  .organization-gallery-slide .splide__arrow.splide__arrow--prev,
  .organization-gallery-slide .splide__arrow.splide__arrow--next{
      display: none !important;
  }

  .organization-gallery-slide .splide__slide.is-active.is-visible {
      padding-bottom: 1rem !important;
  }
  .organization-gallery-slide .splide__pagination__page {
    background: #C5E9E5 !important;
  }
  .organization-gallery-slide .splide__pagination__page.is-active {
    background: #3DC5B7 !important;
    transform: unset !important;
  }
  
</style>