<template> 
    <div class="map-wrapper">
        <img :src="mapSrc" class="map-preview">
        <div class="adresse-text">
            <p>{{ organization.adresse }}</p>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'MapCard',
        props: {
            organization: {
                default: function(){
                    return {}
                }
            }
        },
        data: function(){
            return {
                defaultMap : require('@/assets/img/map-adresse.png').default
            }
        },
        computed:{
            mapSrc: function(){
                return this.organization.adresse_map ? '/uploads/maps/'+this.organization.adresse_map : this.defaultMaps
            }
        },
    }
</script>


<style scoped>
    .map-wrapper {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-items: center;
        justify-content: center;
        position: relative;
        max-height: 525px;
        overflow: hidden;
        border-radius: 15px;
    }

    .adresse-text {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100px;
        background: #C6D4FF;
        display: flex;
        align-items: center;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

    img.map-preview {
        object-fit: contain;
        width: 100%;
    }

    .adresse-text p {
        font-family: 'NunitoSans-Bold' !important;
        font-size: 16px;
        color: #443E8E;
    }

    @media(max-width:768px){
        .adresse-text p {
            font-size: 18px;
        }
    }
    @media(max-width:420px){
        .adresse-text{
            padding-left: 1rem;
            padding-right: 1rem;
        }
        .adresse-text p {
            font-size: 16px;
        }
    }
</style>