<!--
  - Copyright (c) 2022.
  - Boba <boubarisoa@gmail.com>
  -
  -->

<template>
    <div class="item-large">
        <div class="row">
            <div class="col-2">
                <div class="organization-logo--wrapper">
                    <img :src="logo">
                </div>
            </div>
            <div class="col-sm-8">
                <h5 class="title font-weight-bold">{{ organization.name }}</h5>
                <div class="description">
                    <p class="item">{{ organization.description|truncate(50) }}</p>
                </div>
            </div>
            <div class="col-sm-1 d-flex align-items-center justify-content-center">
                <label class="link" @click="$emit('showprofil', organization)"><span class="fa fa-eye"></span></label>
            </div>
            <div class="col-sm-1 d-flex align-items-center justify-content-center">
                <label class="link" @click="$emit('editprofil', organization)"><span class="fa fa-edit"></span></label>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'MyOrganization',
    props: {
        organization: {
            default: function(){
                return {}
            }
        }
    },
    data: function(){
        return {
            defaultCover : require('@/assets/img/default-cover.png').default
        }
    },
    computed: {
        imageSrc: function(){
            return this.organization.cover_picture ? '/uploads/picture/'+this.organization.cover_picture : this.defaultCover
        },
        logo: function(){
            return this.organization.logo ? (
                this.organization.logo.file ? this.organization.logo.file.url : '/uploads/logo/'+ this.organization.logo
            ) : this.image.default
        }
    },
    methods : {
        editThis: function () {

        }
    }
}
</script>

<style scoped>
    .item-large {
        margin: 5px 5px 20px 5px;
        border-radius: 10px;
        padding: 0 0 0 15px;
        box-shadow: 0px 9px 3px #64646424;
        border: 1px solid #E9E9E9;
    }
    .organization-logo--wrapper {
        margin-right: 5%;
        margin-top: .5rem;
        border-radius: 15%;
        width: 80px;
        max-height: 80px;
        box-shadow: 5px 7px 5px #e3d6d6;
        border: 1px solid #f4eeee !important;
        background: white;
        overflow: hidden;
    }


    .organization-logo--wrapper img{
        max-width: 100% !important;
    }

</style>