<template>
    <div class="picture-card--wrapper">
        <img :src="'/uploads/picture/'+image" class="thumbnail"/>
    </div>
</template>

<script>
export default {
    name: "PictureCard",
    props: {
        image: {
            require: true
        }
    }
}
</script>

<style scoped>
    .picture-card--wrapper img.thumbnail{
        width: 100%;
        border-radius: 10px;
    }
    @media (max-width:768px){
        .picture-card--wrapper img{
            max-height: 350px;
        }
    }
    @media (max-width:425px){
        .picture-card--wrapper img{
            max-height: 250px;
        }
    }
</style>