<template>
  <div class="organization-profil-header">
    <div class="organization-sticky-menu custom-sticky-top" id="organization-sticky-menu">
        <div class="row content">
            <div class="col-sm-4 text-left align-self-center"> 
                <div class="hidden-element-control" v-click-outside="closeConfirmHiddenFields">
                    <template v-if="confirmHiddenFields">
                        <confirm-action 
                            class="confirm-hidden-element--option"
                            message="Voulez-vous vraiment afficher tous les éléments cachés?"
                            @cancel="closeConfirmHiddenFields" 
                            @validate="validateHiddenFields" 
                        />
                    </template>
                    <label class="link mb-0" @click="showConfirmHiddenFields">
                        <span class="fa fa-eye"></span>
                        <span>{{ $t('organization.profil.button.show_hidden_item') }}</span>
                    </label>
                </div>

                <!-- display when sticky top -->
                <div class="organization-info">
                    <img v-if="currentUser.profil.logo" :src="'/uploads/logo/'+currentUser.profil.logo"  class="profil-image" />
                    <h3 class="profil-name text-capitalize">
                        {{ currentUser.profil.name }}
                    </h3>
                </div>

            </div>
            <div class="col-sm-8 organization-button-container">
                <button class="edit-profil--btn"     @click="$emit('listorganization')">
                    {{ $t('organization.profil.button.myorganization') }}
                </button>
                <button class="add-scholarship--btn" @click="$router.push({'name' : 'scholarship_new' })">
                    <img :src="require('@/assets/img/btn-circle-plus-icon.svg').default" />
                    {{ $t('organization.profil.button.add_scholarship') }}
                </button>
            </div>
        </div>
    </div>
    <div class="organization-mobile-profil-controls">
        <div class="profil-controls-menu-container">
            <button class="edit-btn-controls" @click="$emit('editprofil')">
                <span class="fa fa-pencil"></span>
            </button>
            <button class="add-scholarship-btn-controls" @click="$router.push({'name' : 'scholarship_new' })">
                <span class="fa fa-plus"></span>
            </button>
        </div>
    </div>
</div>
</template>

<script>
import ConfirmAction from "@/components/common/ConfirmAction.vue"
import ProfilService              from "@/services/organization/ProfilService.js"
export default {
    name: "ProfilHeader",

    components: {
        ConfirmAction
    },

    data: function(){
        return {
            confirmHiddenFields: false
        }
    },

    computed:{
        hiddenFieldsText: function(){

        }
    },

    methods: {
        showConfirmHiddenFields: function(){
            this.confirmHiddenFields = true
        },

        closeConfirmHiddenFields: function(){
            this.confirmHiddenFields = false
        },

        validateHiddenFields: function(){
            let that = this
            ProfilService.updateHiddenFields(null).then(
                (response) => {
                    if(response.data.success){
                        that.$store.dispatch("user/updateInfos")
                        that.closeConfirmHiddenFields()
                        that.$emit('updated')
                    }
                }
            )
        }

    },

    mounted: function(){
         /*** sticked element  */
        if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) || window.screen.width > 768){
        // if(window.screen.width > 770) {
            let el = document.getElementById("organization-sticky-menu")
            el.classList.remove('custom-sticky-top')
            document.addEventListener("scroll", function(){
            let position = el.offsetTop -  window.scrollY
            if(window.scrollY > 110){
                el.classList.add('custom-sticky-top')
            }else{
                el.classList.remove('custom-sticky-top')
            }
            })
        }

    }
}
</script>

<style scoped>
    .organization-sticky-menu {
        padding: 2rem 3rem;
    }
    .organization-sticky-menu .profil-image {
        background: #fff;
        border-radius: 15px;
        height: 50px;
        border-radius: 10px;
        box-shadow: 4px 4px 5pt 2pt #e4e4e7;
    }
    
    .custom-sticky-top .profil-name {
        margin-left: 1.5vw;
        margin-bottom: 0;
        color: #1f4171;
        font-family: 'NunitoSans-Bold' !important;
    }

    .organization-sticky-menu .organization-info{
        display: none;
    }

    .custom-sticky-top {
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 9;
        background: #fff;
        left: 0;
        padding: 1rem 3rem;
        box-shadow: 0 3px 6px 1px #dee2e6;
    }
    .custom-sticky-top .organization-info {
        display: flex!important;
        align-items: center;
    }
    .custom-sticky-top .link {
        display: none;
    }
    .organization-button-container{
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .organization-button-container button{
        border: none;
        font-family: 'NunitoSans-Bold';
        padding: 1rem 1.5rem;
        border-radius: 8px;

    }
    .organization-button-container  .edit-profil--btn {
        background: #FFD7D2 0% 0% no-repeat padding-box;
        color: #FF7667;
    }
    .organization-button-container .add-scholarship--btn{
        margin-left: 1rem;
        background: transparent linear-gradient(90deg, #FBA48F 0%, #FF7768 100%) 0% 0% no-repeat padding-box;
        box-shadow: 0px 35px 13px #c8c8c87f;
        color: white;
        padding: .8rem 1.5rem;
        display: flex;
        align-items: center;
    }
    .organization-button-container .add-scholarship--btn img{
        margin-right: .5rem ;
    }
    .organization-button-container .organization-sticky-menu.custom-sticky-top .add-scholarship--btn {
        box-shadow: unset !important;
    }
    .custom-sticky-top .profil-name {
        font-size: 1.2rem;
    }
    
    .confirm-hidden-element--option{
        top: -6rem !important;
    }

    @media(max-width:1280px){
        .organization-sticky-menu {
            padding: 1rem 2rem;
        }
    }

    @media(max-width:1200px){
        .link{
            font-size: 12px;
        }
        .organization-button-container{
            font-size: 14px !important;
        }

    }
    @media(max-width:1024px){
        .organization-button-container{
            white-space: nowrap;
        }
    }
    @media(max-width:991px){
        .link{
            display: none
        }

        .organization-button-container{
            max-width: 100%;
            flex: auto;
        }

        .custom-sticky-top .organization-button-container{
            max-width: 66.666667% !important;
        }

        .custom-sticky-top .profil-name {
            font-size: 1rem;
        }
    }

    .organization-mobile-profil-controls {
        display: none;
    }
        @media(max-width:768px){
            /*** disable stycky */
            .organization-sticky-menu,
            .custom-sticky-top{
               display: none;
            }

            .organization-mobile-profil-controls {
                position: absolute;
                z-index: 8;
                right: 0;
                margin: 5%;
                display: block;
                
            }
            .profil-controls-menu-container{
                display: flex;
                flex-direction: column;
            }
            .profil-controls-menu-container button {
                border: none;
                border-radius: 50%;
                margin-bottom: .5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 30px;
                height: 30px;
            }
        }

</style>