<template>
   <div class="video-card--wrapper">
        <div class="video-card--container">
            <img :src="video.thumbUrl" class="thumbnail"/>
            <div class="video-play-icon" @click="$emit('play', video)">
                <img :src="icon.play" />
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name  : "VideoCard",
    props : {
        video: {
            require: true
        },
        context:{
            default:""
        }
    },
    data:function(){
        return {
            icon : {
                play : require('@/assets/img/video-play.svg').default
            }
        }
    }
}
</script>

<style scoped>
    .video-card--container img.thumbnail {
        width: 100%;
        border-radius: 10px;
    }
    .video-card--container {
        position: relative;
        margin-top: 1rem;
    }
    .gallery-picture img.thumbnail,
    .video-card--container img.thumbnail {
        width: 100%;
        border-radius: 10px;
    }

    .video-card--container .video-play-icon {
        position: absolute;
        right: 15px;
        bottom: 15px;
        cursor: pointer;
        max-width: 20%;
    }
</style>