<template>
  <default-layout>
      
      <div class="full-height profil " slot="content">
        <div class="scholarship-search-wrapper">
            <div class="search-mobile my-3 hide-desktop"
             v-if="mobileSearchInput"
             v-on:click="mobileSearchPopup=true"
             v-on:showSearch="showInput($event)"> 
                <img :src="require('@/assets/img/searchmobile.svg').default">
			    <input type="search" placeholder="Ma recherche de bourse" >
		    </div>
            <ScholarshipSearchForm 
                v-else
                v-on:go-search="reloadResult"
                v-on:toogle-only-favorited="refreshResultOnToggleFavorite"
                v-on:toggleIsSpecific="onToggleIsSpecific"
                context="scholarship"
                v-bind:onlyFavorited="onlyFavorited"
                v-bind:isSpecific="isSpecific"
                :defaultParams="defaultSearchParams"
                :showAllCountries="false"
            />
            <Modal v-if="mobileSearchPopup" class="search_mob">
                <div slot="header" class="w-100 greenify">
                    <img :src="require('@/assets/img/back.svg').default" v-on:click="mobileSearchPopup=false" class="back">
                    <p>Ma recherche de bourse</p>
                    <img :src="require('@/assets/img/find.svg').default" v-on:click="handleMobileSearchClick">
                </div>
                <ScholarshipSearchFormMobile slot="body"
                    v-on:go-search="reloadResult"
                    v-on:toogle-only-favorited="refreshResultOnToggleFavorite"
                    context="scholarship"
                    v-on:toggleIsSpecific="onMobileToggleIsSpecific"
                    v-bind:onlyFavorited="onlyFavorited"
                    :defaultParams="defaultSearchParams"
                    :showAllCountries="false"
                />
            </Modal>
        </div>
        <div class="scholarship-search-result--wrappper" v-if="!waitResult">            
            <div class="scolarship-search-filer">
                <div class="row">
                    <RadioMobile 
                        v-model="orderOption" 
                        :options="orderOptions"
                    />
                    <div class="col-12">
                        <h3 class="result-title">{{nb > 1 ? nb + ' bourses correspondants' : nb + ' bourse correspondant'}}  à votre profil </h3>
                    </div>
                    <div class="col-12 ">
                        <p class="text-montant">pour un total de {{ moneytify(totalAmount ,' ') }} <span class="fa fa-usd money-sigle"></span></p>
                    </div>
                </div>
                <div v-if="isSpecific" class="row country-bar">
                <div
                    v-for="( desiredCountry , index ) in desiredCountries"
                    v-bind:class="desiredCountry.active ? 'active' : ''"
                    class="country-bar-item"
                    v-on:click="changeSpecificCountry(desiredCountry)"
                    :key="'country-bar-item'+index">
                    {{desiredCountry.name}}
                </div>
            </div>
            <div class="row undisplayed position-relative">
                    <div class="col-sm-3">
                        <div v-if="isSpecific" class="sohort-group">
                            <select class="form-select" 
                                v-model="selectedUniversity" 
                                @change="changeSelectedUniversity">
                                <option 
                                    v-for="(university, index) in concernedUniversities" 
                                    :key="'university-option-'+index"
                                    :value="university">
                                    {{ university.name }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-9 right-filter" :class="{specific:isSpecific}">
                        <div class="sohort-group">
                            <label>Triez par</label>
                            <select class="form-select" v-model="orderOption" v-on:change="reorderResult">
                                <option v-bind:value="option" v-for="(option, index) in orderOptions" :key="'form-select-order'+index">{{option.text}}</option>
                            </select>
                        </div>
                        <div class="row-filter">
                            <div>
                                <label>Affichage : </label>
                                <select v-model="maxResult" class="row-count-input" v-on:change="getSearchResult('scholarship')">
                                    <option>4</option>
                                    <option>12</option>
                                    <option>24</option>
                                    <option>58</option>
                                    <option>120</option>
                                </select>
                            </div>
                            <div class="grid-filter">
                                <button class="grid-icon" v-if="presentationGrid" v-on:click="togglePresentation">
                                    <i class="fa fa-th-list"></i>
                                </button>
                                <button class="large-icon" v-else v-on:click="togglePresentation">
                                    <i class="fa fa-th-large"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
            <div class="scholarship-search-result" v-if="scholarships.length > 0">
                <div class="presentation-grid" v-if="presentationGrid">
                    <div class="custom-row">
                        <div class="custom-col mt-5" v-for="(scholarship, index) in scholarships"  :key="scholarship.id">
                            <ScholarshipItemGrid
                                    v-bind:scholarship="scholarship"
                                    v-on:remove="remove(index)"
                            />
                        </div>
                    </div>
                </div>


                <div class="mt-4 presentation-large" v-else>
                    <ItemLarge
                            v-for="(scholarship, index) in scholarships"
                            v-bind:key="scholarship.id"
                            v-bind:scholarship="scholarship"
                            v-on:remove="remove(index)"
                    />
                </div>
            </div>
            <div class="px-5 no-result" v-else>Aucune bourse ne correspond à vos critères</div>

            <div class="search-paginator">
                <span v-if="paginationItems.length >0" id="pagination-nb">
                    {{firstItemShown}} - {{lastItemShown}} sur {{nb}}
                </span>
                <jw-pagination :items="paginationItems" :pageSize="pageSize" @changePage="onChangePage" :maxPages="1" :key="paginationKey" :labels="customLabels"></jw-pagination>
            </div>
        </div>
        <div class="result-splash" v-else> <Splash :bg="false"/> </div>
      </div>
  </default-layout>
</template>
<script src="./ScholarshipSearch.js"></script>

<style scoped>
    .greenify{
        background: #13AD9E;
        padding-top: 3rem;
        padding-bottom:1rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .greenify .back{
        width: 15px;
    }
    .greenify img{
        width: 25px;
    }
    .greenify p{
        color: #fff;
        margin: 0 !important;
    }

    .scholarship-search-result--wrappper {
        padding: 2rem;
    }
    @media (max-width:768px){
        .scolarship-search-filer, .scholarship-search-result{
            background: #fff !important;
            position: relative;
        }    
        .span.multiselect__tag span {
            font-size: 0.8rem;
        }
        .search-mobile{
            border: 1px solid #3DC5B7;
            position: relative;
            border-radius: 6px;
            overflow: hidden;
        }
        .search-mobile img{ 
        position: absolute;
            width: 20px;
            top: 26%;
            left: 2%;
        }
        .search-mobile input{
            width: 100%;
            padding: .7rem 3rem;
            border: none;
        }
        .search-mobile input::placeholder {
        font-family: 'NunitoSans-SemiBold';
        }
        
    }
    @media  (max-width:425px) {
        .search-mobile img{ 
            left: 5%;
        }
    }


    .scholarship-search-wrapper {
    padding: 2.5rem 1.5rem!important;
    background: #F8F8F8 !important;
    border-bottom: solid 1px #e4e4e3;
    }

    .result-title {
    font-family: 'NunitoSans-SemiBold';
    font-size: 18px;
    color: #12ad9ecc;
    }

    .scolarship-search-filer label{
        font-size: 12px;
        font-family: 'NunitoSans-Bold';
        color: #3C3850;
    }

    .row-count-input {
        width: 45px;
        margin-left: 10px;
        margin-right: 5px;
        height: 25px;
        text-align: center;
        color: #b2aeae;
        border-color: #D3D3D3;
        border-radius: 5px;
        background: white;
        font-size: 14px;
    }

    .row-filter {
        display: flex;
        justify-content: flex-end;
        padding-left: 0;
        margin-left: 1.7rem;
    }


    .grid-filter button{
    border: none;
    text-align: center;
    display: inline-block;
    background: none;
    width: 24px;
    }
    .row-filter,
    .grid-filter button .fa {
    color: #c5c5c5;
    }

    .sohort-group .form-select {
    padding: 5px 10px;
    border: solid 1px  #c5c5c5;
    border-radius: 18px;
    background: white;
    font-size: 12px;
    font-family: 'NunitoSans-Regular';
    }
    .search-paginator {
        padding: 6vh 0vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #num-pages {
        font-size: 0.8em;
    }

    .search-paginator .paginator-text {
    margin-right: 3vw;
    font-size: 12px;
    font-family: 'NunitoSans-Bold';
    display: flex;
    align-items: center;
    }
    .search-paginator .paginator-text span {
    margin-right: 2px;
    }

    .search-paginator .paginator-controls button {
    width: 29px;
    border: none;
    background: no-repeat;
    color: #c5c5c5;
    }

    /** Temporaire */
    .choix-moteur {
    width: 301px;
    height: 41px;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    }
    .choix-moteur-sans-formation {
    width: 150px;
    height: 41px;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    }

    .choix-moteur-sans-formation  #choix-1{
        background: #fff 0 0 no-repeat padding-box;
        height: 41px;
        border-radius: 15px;
        width: 100%;
        display: flex;
        color: #02AC98;
        align-items: center;
        justify-content: center;
    }


    .choix-moteur #choix-1, .choix-moteur #choix-2 {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    .choix-moteur #choix-1 {
    background: #fff 0 0 no-repeat padding-box;
    height: 41px;
    border-radius: 15px 0 0 15px;
    }
    #choix-2 {
    color: #fff;
    }
    .pagination .page-item a.page-link {
    border:none
    }

    .pagination .page-item.page-number {
    visibility: hidden;
    }

    .pagination .page-item a.page-link:before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "FontAwesome"; font-weight: 900;
    }
    .pagination .page-item.first a.page-link:before {
        content: "\f048";
    }

    .pagination .page-item.previous a.page-link:before {
    content: "\f053";
    }

    .pagination .page-item.next a.page-link:before {
    content: "\f054";
    }

    .pagination .page-item.last a.page-link:before {
    content: "\f051";
    }

    .home-page .scholarship-search-form > div:nth-child(3){
    display:none;
    }

    .country-bar {
    margin:30px 0;
    }

    .country-bar .country-bar-item {
    border-bottom:2px solid #dee2e6;
    padding: 8px 30px;
    color: #ccc;
    font-size: 0.8em;
    cursor: pointer;
    }
    .country-bar .country-bar-item.active {
    border-bottom:2px solid #FF7667;
    color:#212529;
    cursor: auto;
    }

    .no-result {
    margin: 50px auto;
    text-align: center;
    color: #777;
    }


    .custom-row{
        display: flex;
        flex-wrap: wrap;
    }
    .custom-col {
        text-align: center;
        width: 25%;
        padding: 0 1rem;
    }

    @media (max-width:1620px) {
        .custom-col {
            width: 33.333333%;
        }
    }

    @media (max-width:1220px) {
        .custom-col {
            width: 50%;
        }
        .row-count-input {
            font-size: 12px;
        }
    }
    @media (max-width:720px) {
        .custom-col {
            width: 100%;
        }
    }

    .right-filter {
        display: flex;
        justify-content: flex-end;
        position: absolute;
        right: 0;
        top: -2.6rem;
    }

    .right-filter.specific{
        position: relative !important;
        top: unset !important;
    }

    .money-sigle{
        color: #505050 !important;
    }
</style>




<style>
.search_mob .modal-header, .search_mob .modal-container{
    padding:unset !important
}
.search_mob .modal-container{
    background: #E7FFFD;
}
</style>