@media (max-width:768px){
    
    .content-filter {
        border: solid 1px #3DC5B7;
    }
     .scholarship-search-wrapper {
        background: #E7FFFD !important;
        padding-bottom: 60px !important;
    }
     .category-filter {
        display: flex;
        align-items: flex-start !important;
        flex-direction: column !important;
        flex-wrap: wrap;
    }
     .favoris-filter {
        position: unset;
    }
     #label-form-search,  .category-toogler {
        margin-bottom: 15px !important;
        font-family: 'NunitoSans-SemiBold' !important;
    }
     .favoris-filter label{
        margin-bottom: 0 !important;
    }
    .no-gutters{
        display: none;
    }
    .undisplayed{
        display: none;
    }
    
    .country-bar {
        position: absolute;
        top: -6em;
        background: #e7fefd;
        margin: 0;
        left: 0;
        justify-content: center;
    }
}
@media (max-width:425px){
    .favoris-filter label,
    .text-montant,
    .scolarship-search-filer h3.result-title,
    .scholarship-item-grid .contenu-item .item-title,
    span#pagination-nb{
        font-size: 14px;
    }
    .scholarship-item-grid .item-adress {
        font-size: 12px;
    }
    .scholarship-search-wrapper {
       padding-top: 2px !important;
    }
}