<!--
 * @ Author: DADAY Andry
 * @ Create Time: 2021-12-15 12:44:39
 * @ Modified by: DADAY Andry
 * @ Modified time: 2021-12-20 20:03:13
 * @ Description:
 -->

<template>
    <div class="el-duplicated--container">
        <template v-for="item, index in model">
            <div class="row el-duplicated--item" :key="'academic-duplicated--'+index">
                <template v-if="!isAcademic">
                    <div class="col-md-6">
                        <label class="fm-label">Prénom*</label>
                        <el-input type="text" v-model="model[index].lastname" />
                    </div>
                </template>
                
                <div class="col-md-6">
                    <label class="fm-label">Nom*</label>
                    <el-input type="text" v-model="model[index].name" />
                </div>
                
                <div class="col-md-6">
                    <label class="fm-label">
                        <template v-if="isAcademic">Nom de l'institution *</template>
                        <template v-else>Nom de l'organisme *</template>
                    </label>
                    <el-input type="text" v-model="model[index].institution" />
                </div>

                <div class="col-md-6">
                    <label class="fm-label">
                        <template v-if="isAcademic"> Position/Titre *</template>
                        <template v-else> Titre *</template>
                    </label>
                    <el-input type="text" v-model="model[index].title" />
                </div>

                <template v-if="!isAcademic">
                    <div class="col-md-6">
                        <label class="fm-label">Poste occupé *</label>
                        <el-input v-model="model[index].occupation" />
                    </div>
                </template>
                
                <div class="col-md-6">
                    <label class="fm-label">Ville *</label>
                    <div class="el-input-adress">
                        <adresse-input :icon="false" v-model="model[index].city" />
                    </div>
                </div>

                <div class="col-md-6">
                    <label class="fm-label">Pays *</label>
                    <div class="el-country-select">
                        <country-select 
                            v-model="model[index].country"
                            :multiple="false"
                            :all="false"
                        /> 
                    </div>
                </div>

                <template v-if="isAcademic">
                    <div class="col-md-6">
                        <label class="fm-label">Téléphone *</label>
                        <div class="el-input--phone">
                            <phone-input v-model="model[index].phone" />
                        </div>
                    </div>
                </template>

                <div class="col-md-6">
                    <label class="fm-label">Email *</label>
                    <el-input type="email" v-model="model[index].email" />
                </div>
                <div class="col-md-6">
                    <template v-if="index > 0">
                        <div class="remove-entry--container">
                            <button @click.prevent="removeLine(index)">
                                <span class="fa fa-trash"></span>
                                <span> Retirer cette recommandation </span>
                            </button>
                        </div>
                    </template>
                </div>
            </div>
        </template>
        <template>
            <div class="form-item--controls">
                <button @click.prevent="addNewLine">
                    <span class="fa fa-plus mr-2"></span>
                    <span>Ajouter une recommandation</span>
                </button>
            </div>
        </template>
    </div>
</template>

<script>

import AdresseInput             from "@/components/common/AdresseInput.vue" 
import PhoneInput               from '@/components/common/PhoneInput.vue'
import CountrySelect            from '@/components/common/CountrySelect.vue'
import {
    recommendationAcademic, recommendationProfessional
} from "../../configs/recommendation.js"

export default {
    name: 'GenerateFormItem',
    props: {
        widget: {
            require: true
        },
        dataModel: {
            require: true
        }
    },

    components:{
        AdresseInput,
        PhoneInput,
        CountrySelect
    },

    data: function(){
        return {
            model : false
        }
    },

    computed: {
        itemModel: function(){
            return this.isAcademic ? 
                recommendationAcademic.options.defaultValue[0] : 
                    recommendationProfessional.options.defaultValue[0]
        },
        isAcademic: function(){
            return this.widget.type == 'recommendationAcademic'
        }
    },
    

    methods: {
        /**
         * Initialized the cloone defaultvalue option value
         * 
         * @return void
         */
        initModelValue: function(){
            if(this.dataModel){
                this.model = this.dataModel
                return 
            }
            this.model = [{...this.itemModel}]
        },

        /**
         * Add a new recommendation entry
         * 
         * @return void
         */
        addNewLine: function(){
            this.model.push({...this.itemModel})
        },

        /**
         * Remove a selected recommendation
         * 
         * @param {Integer} index
         * @return void
         */
        removeLine: function(index){
            this.model.splice(index, 1)
        }
    },

    mounted: function(){
        this.initModelValue()
    },

    watch: {
        model:{
            deep: true,
            handler: function(value){
                this.$emit('change', value)
            }
        }
    }
}
</script>
<style scoped lang="scss" src="@/components/vue-form-making/styles/el-duplicated.scss"></style>