<!--
 * @ Author: DADAY Andry
 * @ Create Time: 2021-12-15 12:44:39
 * @ Modified by: Boba
 * @ Modified time: 2022-01-25 11:13:14
 * @ Description: Just a template for the page builder view
 -->

<template>
    <div class="el-duplicated--container">
        <template>
            <div class="row el-duplicated--item">
                <template v-if="!isAcademic">
                    <div class="col-md-6">
                        <label class="fm-label">Prénom*</label>
                        <el-input type="text" v-model="model.firstname" />
                    </div>
                </template>

                <div class="col-md-6">
                    <label class="fm-label">Nom*</label>
                    <el-input type="text" v-model="model.name" />
                </div>
                

                <div class="col-md-6">
                    <label class="fm-label">
                        <template v-if="isAcademic">Nom de l'institution *</template>
                        <template v-else>Nom de l'organisme *</template>
                    </label>
                    <el-input type="text" v-model="model.institution" />
                </div>

                <div class="col-md-6">
                    <label class="fm-label">
                        <template v-if="isAcademic"> Position/Titre *</template>
                        <template v-else> Poste occupé *</template>
                    </label>
                    <el-input type="text" v-model="model.title" />
                </div>

                 <template v-if="!isAcademic">
                    <div class="col-md-6">
                        <label class="fm-label">Poste occupé *</label>
                        <el-input v-model="model.occupation" />
                    </div>
                </template>

                <div class="col-md-6">
                    <label class="fm-label">Ville *</label>
                    <div class="el-input-adress">
                        <adresse-input :icon="false" v-model="model.city" />
                    </div>
                </div>

                <div class="col-md-6">
                    <label class="fm-label">Pays *</label>
                    <div class="el-country-select">
                        <country-select 
                            v-model="model.country"
                            :multiple="false"
                            :all="false"
                        /> 
                    </div>
                </div>

                <template v-if="isAcademic">
                    <div class="col-md-6">
                        <label class="fm-label">Téléphone *</label>
                        <div class="el-input--phone">
                            <phone-input v-model="model.phone" v-on:input="null" />
                        </div>
                    </div>
                </template>

                <div class="col-md-6">
                    <label class="fm-label">Email *</label>
                    <el-input type="email" v-model="model.email" />
                </div>
                
            </div>
        </template>
        <template>
            <div class="form-item--controls">
                <button @click.prevent="">
                    <span class="fa fa-plus mr-2"></span>
                    <span>Ajouter une recommandation</span>
                </button>
            </div>
        </template>
    </div>
</template>

<script>

import AdresseInput           from "@/components/common/AdresseInput.vue" 
import PhoneInput             from '@/components/common/PhoneInput.vue'
import CountrySelect          from '@/components/common/CountrySelect.vue'

export default {
    name: 'WidgetItemAcademic',
    
    components:{
        AdresseInput,
        PhoneInput,
        CountrySelect
    },

    computed: {
        isAcademic: function(){
            return this.element.type == 'recommendationAcademic'
        }    
    },

    props: {
        element: {
            require: true
        }
    },

    data: function(){
        return {
            model : false
        }
    },
}
</script>
<style scoped lang="scss" src="@/components/vue-form-making/styles/el-duplicated.scss"></style>