<template>
    <div class="registrationWrapper" slot="content" v-if="!registrationSuccess">
        <div class="content">
            <!--div class="text-center mb-4 rs-inscription-btn">
               <button class="btn btn-primary custom-btn linkedin-btn btn-inscription mr-1" @click="signLinkedIn">
                    <span class='rs-icon fa fa-linkedin'></span> 
                    <span>{{$t('modal.label_btn_sign_linkedin')}}</span> 
                </button>
                <button class="btn btn-primary custom-btn facebook-btn btn-inscription ml-1" @click="onBtnFbClick">
                    <span class='rs-icon fa fa-facebook'></span>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" v-if="!FB"></span>
                    <span>{{$t('modal.label_btn_sign_fb')}}</span>
                    <facebook-login v-show="false" ref="btnFb"
                        appId="2444897635806190"
                        version="v9.0"
                        @login="onLogin"
                        @logout="onLogout"
                        @get-initial-status="getUserData"
                        @sdk-loaded="sdkLoaded"
                        :loginLabel="$t('modal.label_btn_sign_fb')">  
                    </facebook-login>
                </button>
            </div-->
            <div class="form-wrapper">
                <div class="row"> 
                    <div class="form-group col-sm-6">
                        <label>{{$t('word.firstname')}}*</label>
                        <input type="text" class="form-control" v-model="user.firstname" >
                    </div>
                    <div class="form-group col-sm-6">
                        <label>{{$t('word.name')}}*</label>
                        <input type="text" class="form-control"  v-model="user.lastname">
                    </div>
                    <div class="form-group col-sm-6">
                        <label>{{$t('word.email')}}*</label>
                        <input type="email" class="form-control" v-model="user.email">
                    </div>
                    <div class="form-group col-sm-6">
                        <label>{{$t('word.telephone')}}*</label>
                        <PhoneInput class="form-control" v-model="user.phone" />
                    </div>
                    <div class="form-group col-sm-6">
                        <label>{{$t('word.password')}}*</label>
                        <PasswordInput v-model="user.password" class="teste-class"/>
                    </div>
                </div>
                <div class="text-center">
                    <p class="small" v-if="params"> 
                        <span> {{$t('modal.message_9')}} "{{$t('word.save')}}", {{$t('modal.message_10')}} </span>
                        <span class="link" @click="$router.push({ name:'page-index', params : { slug: params.cgu_url.value}})"> {{$t('modal.message_11')}}</span> 
                        <span>    {{$t('word.and')}}</span>
                        <span class="link" @click="$router.push({ name:'page-index', params : { slug: params.cgu_url.value}})"> {{$t('modal.message_12')}}</span> 
                        
                    </p>
                </div>
                <div class="text-center">
                    <DefaultButton className="style1" :onLoad="waiting" :text="$t('word.save')" @click.native="registerSubmit"></DefaultButton>
                </div>
            </div>
            <div class="text-center mt-4">
                <p class="normal">
                    <span>{{$t('modal.message_7')}}</span>
                    <a class="link" @click.prevent="openLogin"> {{$t('modal.message_8')}} </a>
                </p>
            </div>
        </div>
        <div class="custom-modal-footer">
            <span class="small">*{{$t('modal.fielrequire')}}</span>
        </div>
    </div>
    <div class="registration-success-wrapper" slot="content" v-else>
        <div class="text-center pb-5">
            <p class="lh">
                {{ $t('modal.registration.success.message1') }}<br>
                <strong>{{ user.email }}</strong><br>
                {{ $t('modal.registration.success.message2')}}
            </p>
            <p class="my-4"> <small>  {{ $t('modal.registration.success.message3')}} </small></p>
            <p><small>( {{ $t('modal.registration.success.message4') }} )</small></p>
            <DefaultButton className="outline2" :text="$t('modal.registration.success.message5')" :onLoad="waiting" @click.native="requestActivationLink" />
        </div>
    </div>
</template>
<script type="text/javascript" src="https://platform.linkedin.com/in.js">
    api_key: "777xgk82rjzcs3"
    authorize: true
</script>
<script src='./OrganizationRegistration.js'></script>
<style scoped>
    input.form-control ,.vue-tel-input{
        height: 2.5rem;
    }
    label{
        font-size:14px;
    }
</style>
<style>
    #org-modal .password-input.teste-class input{
        height: 2.5rem;
    }
    .lh{
        line-height: 2;
    }
</style>