.btn-inscription{
    font-size: 12px !important;
    padding: 10px 15px !important;
    border-radius: 10px !important;
    font-family: 'NunitoSans-Regular' !important;
}
.btn-inscription .rs-icon{
    font-size: 14px; 
    margin-right: 5px;
}
.linkedin-btn{
    background-color: #0288D1 !important;
    border: none !important;
    font-family: 'NunitoSans-Regular' !important;
}


.facebook-btn-wrapper{
    max-width: 40%;
}
.facebook-btn{
    background-color: #3F51B5 !important;
    border: none !important;
}
.facebook-btn-wrapper button{
    display: none;
}
.registrationWrapper label{
    font-family: 'NunitoSans-Regular' !important;
}

p{
    font-family: 'NunitoSans-Regular' !important;
}
.input-group .input-group-append::after {
    border-left: none !important;
}
@media(max-width:768px){
    .registrationWrapper .form-wrapper,
    .registrationWrapper .rs-inscription-btn{
        padding: 5% !important;
    }
    .switcher-type{
        position: absolute;
        right: 2%;
    }
}