<template>
  <NoSidebar>
    <a href="#" id="inscrire" slot="btn-register" @click="showRegisterModal = true">{{$t('menu.signin')}}</a>
    <div class="banner-elements" slot="banner">
      <div class="banner-element-slug">
          <img :src="require('@/assets/img/logo_banner.svg').default" />
          <h1 id="titre-banner" class="text-banner-home" v-html="$t('page.commun.title-banner')"></h1>
          <h2 id="sous-titre-banner-etudiant" class="text-banner-home" v-html="$t('student.home.sub-title-banner-student')">
          </h2>
          <a href="#" id="bouton-introduction-etudiant" @click.prevent="inscription">{{ $t("word.join-us") }} !</a>
      </div>
      <div slot="recap-search">
          <pub-cards />
      </div>
    </div>
    <div slot="content" class="bg-white">
      <template>
          <offer-cards @register="inscription" />
      </template>

      <div class="containeur-principale-parcours">
        <Stats :statistical="statistical" class="student-home-stat" context="student"/>
      </div>
      <Testimonial />
      <Modal v-if="showRegisterModal" name="student-registration-modal">
        <div slot="header" class="w-100">
          <a class="close" href="#" @click="showRegisterModal = false"> X </a>
          <div class="title text-center">
            <h3 class="title pt-2">{{$t('modal.title_create')}}</h3>
          </div>
        </div>
        <StudentRegistration slot="body" />
      </Modal>
    </div>
  </NoSidebar>
</template>
<script>
import Testimonial         from '@/components/Home/Testimonial.vue'
import NoSidebar           from "@/layouts/NoSidebar"
import Stats               from "@/view/home/parts/Stats.vue"
import StudentRegistration from "@/view/student/registration/StudentRegistration.vue"
import PubCards            from '@/view/home/Student/parts/PubCards.vue'
import OfferCards          from '@/view/home/Student/parts/OfferCards.vue'
import StatisticalService  from "@/services/common/StatisticalService"
import './Student.css'

export default {
    name: "student",
    components: {
        NoSidebar, 
        StudentRegistration,
        Testimonial, 
        Stats,
        PubCards,
        OfferCards
    },
    data : function(){
        return {
            showRegisterModal: false,
            linkedInCode     : false,
            statistical : {},
            stopAnnimated : false
        }
    },
    methods : {
        inscription() {
            document.getElementById('inscrire').click()
        },
        getStatistical() {
            let that = this
            StatisticalService.statisticalHome()
            .then(function(response) {
                that.statistical = response.data
            })
            .catch(function() {

            })
        }
    },
    mounted : function(){
        let appBody = document.querySelector('.app-body')
        appBody.classList.add('home-page')
        appBody.classList.add('home-page-student')
        /** linkedin code fallback */
        this.linkedInCode = this.$route.query.code ?? false
        if(this.linkedInCode !== false){
            this.showRegisterModal = true
        }
        this.getStatistical()
    },
    beforeDestroy:function(){
        let appBody = document.querySelector('.app-body')
        appBody.classList.remove('home-page')
        appBody.classList.remove('home-page-student')
    }
}

</script>
<style scoped>
  .conteneur-parcours{
    background: url('~@/assets/img/wave.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    padding-bottom: 6rem;
    margin-bottom: -2px;
  }

  @media (max-width:1280px) {
    .student-home-stat {
        padding-top: 8rem !important;
    }
  }
</style>
