#sous-titre-banner-etudiant {
	font-size  : 20px;
	white-space: nowrap;
	color      : #ffffff;
	font-family: 'NunitoSans-Bold';
}

.banner-element-slug {
	display: flex !important;
	align-items: center !important;
	flex-direction: column !important;
}


#bouton-introduction-etudiant {
	width          : 15rem;
	height         : 4rem;
	background     : transparent linear-gradient(90deg, #fba590 0%, #ff7667 100%) 0% 0% no-repeat padding-box;
	display        : flex;
	align-items    : center;
	justify-content: center;
	border-radius  : 10px;
	margin-top     : 30px;
	color          : #fff;
    font-size      : 20px;
    font-family    : 'NunitoSans-ExtraBold';
}

#bouton-enregistrer-etudiant {
	width          : 200px;
	height         : 60px;
	background     : transparent linear-gradient(90deg, #fba590 0%, #ff7667 100%) 0% 0% no-repeat padding-box;
	display        : flex;
	align-items    : center;
	justify-content: center;
	border-radius  : 10px;
	margin-top     : 30px;
	color          : #fff;
	font-size      : 19px;
	font-family    : 'NunitoSans-Bold';
}

.annuler {
	background: #FFD7D2 0% 0% no-repeat padding-box !important;
}


.profil-solide {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 80%;
	align-items: center;
	margin-left: 10%;
	margin-right: 10%;
}

.profil-solide img {
	transform:scaleX(-1)
}
.profil-link {
	color : #FF7667 !important
}

.echanger-avec {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 80%;
	align-items: center;
	margin-left: 10%;
	margin-right: 10%;
}

.insipirer-container {
	display       : flex;
	flex-direction: row;
	align-items   : center;
	margin-bottom : 1%
}

.profil-solide-titre {
	text-align    : left;
	letter-spacing: 0px;
	color         : #444242;
	opacity       : 1;
	font-family   : 'NunitoSans-Bold';
	width         : 55%;
}

.profil-solide-sub-titre {
	text-align    : left;
	letter-spacing: 0px;
	color         : #3c3850;
	opacity       : 1;
	font-size     : 20px;
	margin-top    : 1em;
	font-weight   : lighter;
	margin-bottom : 20px;
}

.profil-link {
	color    : #ff9488;
	font-size: 20px;
}

.inspirer {
	background: url("~@/assets/img/bg_inspirer.png") right top no-repeat;
	width: 900px;
	height: 800px;
	background-size: cover;
	background-position: left;
	margin-top: 20px;
}

#titre-quelques-chiffres-etudiant {
	color      : #fff;
	font-family: 'NunitoSans-Bold';
	font-size  : 40px;
	padding-top: 286px;
	position   : relative;
	text-align : center;
}

#citation-description-etudiant {
	font-family  : 'NunitoSans-LightItalic';
	font-size    : 18px;
	display      : block;
	text-align   : center;
	/* margin-bottom: 20px; */
	color        : #fff;
}

#auteur-citation-etudiant {
	text-align    : center;
	letter-spacing: 0px;
	color         : #fff;
	text-transform: uppercase;
	font-size     : 9pt;
	font-family   : 'NunitoSans-SemiBold';
	display       : block;
}

.modal-content {
	background-color: #F7F7F9;
}

.box-container {
	display    : flex;
	align-items: center;
	width      : 150%;
}

.box-content {
	width         : 160px;
	height        : 190px;
	background    : #FFFFFF 0% 0% no-repeat padding-box;
	box-shadow    : 0px 0px 50px #3D3D3D12;
	margin        : 10px;
	border-radius : 10px;
	display       : flex;
	flex-direction: column;
	align-items   : center;
	cursor        : pointer;
}

.box-content img {
	width     : 50px;
	height    : 50px;
	margin-top: 40px;
}

.box-content p {
	text-align: center;
	margin    : 10px;
	font-size : small;
}

.modal-content {
	width        : 900px;
	height       : 600px;
	border-radius: 20px;
}

.modal-title {
	text-align : center;
	font-size  : 30px;
	margin-top : 60px;
	width      : 97%;
	margin-left: 30px;
	font-family: NunitoSans-SemiBold;
}

.modal-body h3 {
	text-align    : center;
	letter-spacing: 0px;
	color         : #D3D3D3;
	text-transform: uppercase;
	opacity       : 1;
	font-size     : large;
	margin-bottom : 20px;
	margin-top    : 20px;
}

.footer-modal {
	text-align    : center;
	margin-top    : 20px;
	display       : flex;
	flex-direction: column;
	align-items   : center;
}

.footer-pwd {
	text-align     : center;
	margin-top     : 20px;
	display        : flex;
	flex-direction : row;
	align-items    : center;
	justify-content: center;

}

.footer-pwd a {
	margin: 10px;
}

.footer-modal p a {
	color: #FD7566;
}


.linkedin-button {
	background: #0288D1 0% 0% no-repeat padding-box;
}

.facebook-button {
	background: #3F51B5 0% 0% no-repeat padding-box;
}

.box-container-form {
	display        : flex;
	flex-direction : row;
	justify-content: center;
	align-content  : center;
}

.box-container-form button {
	margin        : 10px;
	font-size     : small;
	padding       : 1em 1.5em;
	color         : #fff;
	text-transform: none;
	border-radius : 10px;
}

button i {
	padding-right: 10px;
}

.row .col {
	margin: 10px;
}

.form-control {
	height: calc(1.5em + .75rem + 12px);
}

.confirmation {
	border       : 1px solid #FF7768;
	margin       : 5% 8%;
	border-radius: 10px;
}

.confirmation p {
	font-size : 13px;
	color     : #FF7768;
	margin    : 10px;
	text-align: center;
}

.fixed-top {
	position : fixed !important;
	
}

#show_hide_password input .input-group-addon  {
	width: 5%;
}

#show_hide_password .input-group-addon a {
	font-size: 25px;
    color: gray !important;
    opacity: 0.7;
}

#show_hide_password input {
	width: 95%;
	border: none;
	padding-left: 10px;
	background: #e8f0fe;
	color: #495057;
}
#show_hide_password {
	padding: 0;
	background: #e8f0fe;
	align-items: center;
}
img.logo-parcours {
    width: 100%;
    max-width: 60px;
    height: auto;
}

p.sous-description{
	font-size: 9pt;
}
.conteneur-parcours{
	padding-top: 100px;	
}

@media (max-width:1280px){
	.parcours-etudiant {
		padding-top: 2rem;
	}
}


@media screen and (max-width: 1025px){
	.logo-parcours{
		margin: 25px 0;
	}
	

	p.sous-description {
		font-size: 7pt;
	}
	#titre-quelques-chiffres-etudiant{
		padding-top: 160px !important;
		font-size: 30px;
	}

	.containeur-principale-parcours{
		margin-top: 78px;
	}
	#citation-description-etudiant{
		margin-top: 5px !important;
	}
	#auteur-citation-etudiant{
		font-size: 12px;
	}
}
.homepage-student .banner-element-slug img{
	max-width: 40% !important;
}
@media (max-width:768px){
	
	.conteneur-parcours {
		padding-top: 0;
	}
	#bouton-introduction-etudiant {
		width: 250px;
		height: 50px;	
	}
	.conteneur-parcours > div{
		margin-top: 100px !important;
	}
	#sous-titre-banner-etudiant {
		display: none;
	}

	
	.profil-solide, .profil-solide-sub-titre {
		text-align: center !important;
	}
	.width-100{
		width: 100% !important;
	}
	
	.profil-link {
		font-size: 20px;
	}
 }

 @media (max-width:425px){
	.profil-solide img {
		height: 200px;
	}

	.element-avis {
		height: 220px;
		padding-bottom: 45px;
	}
	div.avis-des-gens > div.element-avis{
		padding-bottom: 50px;
	}
	.profil-solide-titre {
		margin: 10px auto 0px auto;
		font-size: 17px;
	}
	.profil-solide-sub-titre {
		width: 75%;
		font-size: 12px;
	}
	
	.profil-link {
		font-size: 14px;
	}
	#titre-quelques-chiffres-etudiant {
		padding-top: 115px !important;
		font-size: 24px;
	}
	#citation-description-etudiant {
		font-size: 14px;
	}
 }
 @media (max-width:375px){
	.homepage-student #titre-banner {
		margin-top: 50px !important;
	}

	.profil-solide-titre {
		width: 40%;
	}
 }@media (max-width:320px){
	.profil-solide-titre {
		width: 50%;
	}

	.contenu-chiffres {
		max-width: 130px !important;
	}

	#bouton-introduction-etudiant {
		width: 200px;
		height: 45px;
	}
 }

 #student-registration-modal .modal-container{
	max-width: 50rem !important;
 }

 #student-registration-modal .modal-container .form-wrapper .form-control {
    height: 40px !important;
}

 #student-registration-modal .modal-container .form-wrapper .submit-btn {
	min-height: 50px !important;
	padding: 1vh 2vw !important;
}
 #student-registration-modal .modal-container .form-wrapper .show_hide_password input{
    height: 38px !important;
}
 #student-registration-modal .modal-container .custom-modal-footer{
	margin-left: -3rem !important;
}

@media (max-width: 768px){
	#student-registration-modal .modal-container .custom-modal-footer{
		margin-left: -2rem !important;
	}	
}
@media (max-width: 550px){
	#student-registration-modal .modal-container .custom-modal-footer{
		margin-left: -1rem !important;
	}	
}
@media (max-width: 420px){
	#student-registration-modal .modal-container .custom-modal-footer{
		margin-left: 0 !important;
	}	
}
@media (min-width: 1440px){
	.banner-element-slug img{
		max-width: 31%;
   		margin-top: 1rem;
	}
	h2#sous-titre-banner-etudiant {
		margin-top: 45px !important;
		margin-bottom: 45px;
		font-size: 23px;
	}
	a#bouton-introduction-etudiant {
		width: 350px;
		height: 86px;
		margin-bottom: 4.25rem;
	}
	
	.profil-solide-titre, .bg-white .profil-solide-titre{
		font-size: 50px;
	}
	.profil-solide-sub-titre, .bg-white .profil-solide-sub-titre{
		font-size: 25px;
    	line-height: 1.5;
    	padding-right: 10%;
	}
	.echanger-avec .profil-link, .bg-white .profil-link{
		font-size: 25px;
	}
	.inspirer {
		width: 1100px;
	}
	.img-vignette{
    	height: 525px;
	}
	#titre-quelques-chiffres-etudiant {
		font-family: 'NunitoSans-ExtraBold';
		font-size: 50px;
		padding-top: 230px;
		margin-bottom: 3rem;
	}
	#citation-description-etudiant {
		font-size: 26px;
	}
	#auteur-citation-etudiant {
		font-size: 13pt;
	}
}