<template>
    <Modal size="lg" name="formbuilder-tutorial-modal">
      <div slot="header" class="modal-closer--container">
            <a href="#" @click.prevent="close">
                <img :src="require('@/assets/img/icon-croix-white.svg').default" />
            </a>
      </div>
        <div slot="body">
            <div class="form-builder-tutorial--wrapper">
                <template  v-if="tutorial">
                    <TutorialOpenItem @close="tutorial= false" :tutorial="tutorial"/>
                </template>
                <template v-else >
                    <div class="tutorial-list--title">
                        {{ $t('word.help') }} 
                    </div>
                    <tutorial-list  @open="openTutorial"/>
                </template>
                <template>
                    <div class="tutorials-action">
                        <label><input type="checkbox" v-model="completed" /> Ne plus afficher</label>
                        <button @click="close">Quitter le didacticiel</button>
                    </div>
                </template>
            </div>
        </div>
    </Modal>
</template>

<script>
    import TutorialList     from "./parts/TutorialList.vue"
    import TutorialOpenItem from "./parts/TutorialOpenItem.vue" 
    export default {
        name: 'CustomFormTutorial',
        components: {
            TutorialList,
            TutorialOpenItem
        },
               
        data: function(){
            return {
                steep: 'layout-helper',
                completed : false,
                tutorial  : false
            }
        },

        methods: {
            close: function(){
                this.$emit('close')

                if(this.completed){
                    this.$emit('completed')
                }

            },
            openTutorial: function(item){
                console.log(item)
                this.tutorial = item
            }
            
        }
    }
</script>

<style lang="sass" scoped src="./style.scss"></style>
<style scoped>
    .tutorial-list--title {
        text-align: center;
        margin: 1rem 2rem;
        font-size: 2rem;
        font-family: 'NunitoSans-ExtraBold';
        color: #3c3850b5;
    }
</style>
<style>
    #formbuilder-tutorial-modal {
        background-color: rgb(0 0 0 / 67%) !important;
    }
    #formbuilder-tutorial-modal .modal-container{
        background: #e4e4e4 !important;
        max-width: 80% !important;
        position: relative;
    }

     #formbuilder-tutorial-modal .modal-closer--container {
        text-align: right;
        position: absolute;
        right: 20px;
        background: #ff7667;
        padding: 12px 15px;
        border-radius: 50%;
    }
    @media (max-width:1280px) {
        #formbuilder-tutorial-modal .modal-container{
            max-width: 90% !important;
        }
    }
    @media (max-width:1024px) {
        #formbuilder-tutorial-modal .modal-container{
            max-width: 100% !important;
        }
    }

</style>