/**
#e4e4e4
*/

.form-builder-tutorial--wrapper{ 
    .tutorials-action {
        margin-top: 4rem;
        width: 100%;
        text-align: center;
    
        label{
            margin-right: 1rem;
            color: #1f4171 !important;
            font-family: 'NunitoSans-SemiBold';
        }
        button{
            color: #f56c6c;
            font-size: 1.2rem;
            font-family: 'NunitoSans-SemiBold';
            padding: .8rem 1.2rem;
            border: solid 2px #f56c6c;
            border-radius: 5px;
        }
    }

}


.tutorial-item--wrapper {
    display: flex;
    margin-bottom: 1rem;
    background: white;
    max-height: 8rem;
    min-height: 8rem;
    align-items: center;
    width: 48%;
    margin: .5%;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: -1px 4px 5px 3px #64646457;
    -webkit-box-shadow: -1px 4px 5px 3px #64646457;
    cursor: pointer;
}

.item-image-wrapper {
    font-size: 2rem;
    min-width: 3rem;
    min-height: 3rem;
    background: #ff7667;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem;
}

.description--title {
    font-family: 'NunitoSans-SemiBold';
    font-size: 1.2rem;
    color: #3c3850;
}

.description--content {
    font-size: 14px;
    color: #909399;
}

.tutorial-list--wrapper {
    padding: 1rem 2rem;
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 1280px) {
    .tutorial-list--wrapper{
        flex-direction: column;
    }
    .tutorial-item--wrapper{
        width: 100%;
        margin-top: 1rem;
    }
}
