{% extends "base.html.twig" %}

{# rewrite meta tag #}

{% block meta %}
    <meta property="og:image" content="{{ site_url }}/uploads/logo/{{ scholarship.logo }}">
    <meta property="og:type" content="image/png">
    <meta property="og:title" content="Les grimpeurs | {{ scholarship.name }}">
    <meta property="og:url" content="{{ site_url }}/scholarship/{{ scholarship.slug }}">
    <meta property="og:description" content="{{ scholarship.story|striptags }}" />
{% endblock %}

{% block body %}
    {#  APP Vue JS root #}
    <div id="app">
        
    </div>
    {#  END APP Vue JS root #}
{% endblock %}