.student-list-container {
    padding: 2.5rem 1.5rem!important;
    background: #fcfeff !important;
    border-bottom: solid 1px #e4e4e3;
}
.student-tag-filter--tab{
    padding: 0rem 1.5rem!important;
}

hr{
    margin:0 auto;
}

.result-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.result-list-filter {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 5px;
}
.advanced .result-title{
    color         : rgb(62, 44, 155) ;
    text-transform: uppercase;
    font-size     : 1rem;
    font-style    : initial;
    margin-left: -1rem;
}
#label-form-search {
  color      : #1F4171;
  font-size  : 1rem;
  font-family: 'NunitoSans-SemiBold' !important;
  margin-bottom: 0;
}

.student-txt{
    color    :grey;
    font-size: 8px;
}
.vertical-line{
    border-left      : 2px solid #000;
    border-left-color: rgba(128, 128, 128, 0.199);
    display          : inline-block;
    height           : 130px;
    margin           : 0 20px;
}

.filter-group {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-right: 2rem;
}
.filter-group .label-text{
    margin-right: 1rem;
}

.filter-group label{
    margin-right: 1rem;
    font-family : 'NunitoSans-SemiBold' ;
    font-size   : 15px ;
}

.filter-group .form-select{
    padding      : 5px 10px;
    border       : solid 1px #c5c5c5;
    border-radius: 18px;
    background   : white;
    font-size    : 12px;
    font-family  : 'NunitoSans-Regular';
    min-width    : 10rem;
}
.label-text{
    font-size: 14px;
    color    : #1F4171
}
.label-text--bold{
    font-family: "NunitoSans-Bold";
}
.form-check-label{
    font-size: 12px;
}
.form-textfield-independant{
    width              : 40px;
    height             : 28px;
    border-color       : rgba(128, 128, 128, 0.329);
    border-radius      : 5px;
    border-width       : 0.5px;
    font-size          : 12px;
}
.form-textfield{
    width              : 28px;
    height             : 20px;
    border-bottom-color: rgba(128, 128, 128, 0.329);
    border-radius      : 5px;
    border-width       : 0.5px;
    margin-left        : 0px;
    margin-right       : 0px;
    border-left-width   : 0;
    border-right-width  : 0;
    border-top-width    : 0;
    font-size: 12px;
}
.merged-fifeld{
    width             : 62px;
    background-color  : white;
    padding           : 0;
    display           : flex;
    flex-direction    : row;
    height            : 25px;
    border-left-width : 0;
    border-right-width: 0;
    border-top-width  : 0;
    border-radius     : 5px;
    align-self: center;
}
.text-field-separator{
    font-size : 16px;
    margin-top: 1px;
    color     :rgba(128, 128, 128, 0.479);
}
.merged-input-container{
    align-items    : center;
    justify-content: center;
    width          : 64px;
}
.merged-input-label{
    text-align: center;
    font-size : 8px;
}
.range-container{
    width      : 300;
    margin-left: 5px;
}
.Sliderange-label{
    font-size   : 10px;
    margin-left : 5px;
    margin-right: 5px;
}
.grerow{
    flex-direction    : row;
}
.range-container{
    position:absolute;
    bottom  :2px;
    left    :70px;
}.range-lsat{
    position:absolute;
    bottom  :18px;
    left    :70px;
}

.absrow{
    bottom: 20px;
}.row-tag-mag{
    position:absolute;
    left    :0px;
}.dkjf{
    left:10px;
}.content-filter{
    background: transparent linear-gradient(180deg, #EDF3FF 0%, #E0EBFF 100%) 0% 0% no-repeat padding-box;
}.student-search-wrapper{
    padding-left : 0px ;
    background   : #F8F8F8 ;
    border-bottom: solid 1px #e4e4e3;
}.student-search-form{
    padding-left : 0px ;
    background   : transparent linear-gradient(180deg, #EDF3FF 0%, #E0EBFF 100%) 0% 0% no-repeat;
    border-bottom: solid 1px #e4e4e3;
}

.advanced-search{
  align-self: flex-start;
  padding-bottom: 10px ;
  color: #000;
  font-size: 12px;
}

.student-search-wrapper  {
    background: transparent linear-gradient(180deg, #EDF3FF 0%, #E0EBFF 100%) 0% 0% no-repeat padding-box;;
    border-bottom: solid 1px #e4e4e3;
}

.student-list-wrapper{
    margin-top: 4rem;
}
@media (max-width:1200px) {
    .result-list-header {
        flex-direction: column;
        align-items: inherit;
    }
}


@media (max-width:768px) {
    .student-list-container {
        padding: 2.5rem 0rem!important;
    }

    .result-list-filter{
        display: none;
    }  
    .result-list-filter--mobile{
        position: absolute;
        right: 5px;
    }
    .result-list-recap {
        max-width: 75%;
        margin-left: 1rem;
    }
}  