<template>
    <default-layout>
        
        <div class="full-height profil " slot="content">
            <template>
                <div class="student-search-wrapper">
                    <StudentSearchForm 
                        v-on:go-search="reloadResult"
                        v-on:toogle-only-favorited="refreshResultOnToggleFavorite"
                        v-on:toggleIsSpecific="onToggleIsSpecific"
                        context="student"
                        v-bind:onlyFavorited="onlyFavorited"
                        v-bind:isSpecific="isSpecific"
                        :defaultParams="defaultSearchParams"
                        :showAllCountries="false"
                    />
                </div>
            </template>
            
            <!-- Category filter-->
            <template>
                <div class="student-tag-filter--tab">
                    <CategoryFilterTab :options="tabOptions" v-model="tag" />
                </div>
            </template>

            <template>
                <div class="student-list-container">
                    <div class="result-list-header">
                        <div class="result-list-recap">
                            <p id="label-form-search">{{total_interested}} {{ $t('student.search.result.nb_interested') }}</p>
                            <p class="label-text"> {{ $t('word.on')}} {{ total }} {{ $t('student.search.result.nb_total') }}</p>
                        </div>
                        <div class="result-list-filter--mobile">
                            <RadioMobile 
                                v-model="orderOption" 
                                :options="orderOptions"
                            />
                        </div>
                        <div class="result-list-filter">
                            <div class="filter-group">
                                <div class="label-text label-text--bold">{{ $t('word.tri') }}</div>
                                <select class="form-select"  v-model="orderOption" >
                                    <option :value="option" v-for="(option, index) in orderOptions" :key="'form-select-order'+index">
                                        {{ option.text }}
                                    </option>
                                </select>
                            </div>

                            <div class="label-text">
                                <label>Affichage</label>
                                <select v-model="maxResult" class="row-count-input" v-on:change="getSearchResult('student')">
                                    <option v-for="value, index in maxResultOptions" :key="'pagination-'+index">{{ value }}</option>
                                </select>
                            </div>
                        </div>

                    </div>

                    <div class="student-list-wrapper">
                        <student-item
                            v-on:go-search="reloadResult"
                            v-for="(student, index) in students"
                            :key="student.id"
                            :student="student"
                            v-on:remove="remove(index)"
                        />
                    </div>
                </div>
            </template>

            <div class="search-paginator">
                <span v-if="paginationItems.length >0" id="pagination-nb">
                    {{firstItemShown}} - {{lastItemShown}} sur {{total}}
                </span>
              <jw-pagination :items="paginationItems" :pageSize="pageSize" @changePage="onChangePage" :maxPages="1" :key="paginationKey" :labels="customLabels"></jw-pagination>
            </div>
        </div>

    </default-layout>
</template>
<script>


import CustomTab         from "@/components/common/CustomTab.vue"
import StudentItem       from "@/view/student/item/Item.vue"
import StudentSearchForm from "./form/StudentSearchForm.vue";
import StudentService    from "@/services/student/StudentService.js";
import RadioMobile       from "@/components/common/RadioMobile.vue"

const customLabels = {
    first: '',
    last: '',
    previous: '',
    next: ''
};

export default {
    name:'StudentSearch',

    components:{
        StudentSearchForm, 
        StudentItem, 
        RadioMobile, 
        CategoryFilterTab: CustomTab
    },

    computed: {
        paginationItems : function(){
            //fake array for pagination
            return [...Array(this.total).keys()]
        },
        pageSize : function(){
            return parseInt(this.maxResult)
        },
    },
    
    data: function(){
        return {
            img_search: require("@/assets/img/icon-search-grey.svg").default,
            maxResult: 10,
            maxResultOptions: [5, 10, 50, 100],
            offset:0,
            disciplines:[],
            level:null,
            country:null,
            paginationKey : 0,
            firstItemShown:0,
            lastItemShown: 0,
            onlyFavorited: false,
            isSpecific: false,
            activeClass: 'active',
            defaultSearchParams:false,

            criteria : {},
            
            customLabels,
            orderOptions: [
                {'sort': 'id', 'order': 'DESC', 'text':'Plus reçent au plus ancien'},
                {'sort': 'id', 'order': 'ASC', 'text':'Plus ancien au plus recent'},
                {'sort': 'firstname', 'order': 'DESC', 'text':'Nom ASC'},
                {'sort': 'firstname', 'order': 'ASC', 'text':'Nom DESC'}
            ],
            orderOption: {'sort': 'id', 'order': 'DESC', 'text':'Plus reçent au plus ancien'},
            max_age:"",
            students: [],
            total: 0,
            total_interested: 0,
            tabOptions: [
                {
                    label: this.$t('word.all'),
                    value: false 
                },
                {
                    label: this.$t('word.favorite'),
                    value: 'favorite' 
                },
                {
                    label: this.$t('word.interested'),
                    value: 'interested' 
                },
                {
                    label: 'Candidats',
                    value: 'candidate' 
                },
                {
                    label: this.$t('word.refused'),
                    value: 'refused'
                }
            ],
            tag: {
                label: this.$t('word.all'),
                value: false 
            }
        }
    },
    
    
    methods: {
        isMobile: function(){
            return (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) || window.screen.width <= 768)      
        },
        showInput: function (showSearch){
            this.inputSearch = showSearch
        },
        onChangePage: function(pageOfItems){
            if(pageOfItems.length > 0) {
                this.offset = pageOfItems[0];
                this.firstItemShown = pageOfItems[0] + 1;
                this.lastItemShown =  pageOfItems[pageOfItems.length - 1] + 1;
                if(!this.isSpecific) {
                    this.getSearchResult('pagination');
                }
            }
        },

        refreshResultOnToggleFavorite: function () {
            this.onlyFavorited = !this.onlyFavorited;
            if(!this.isSpecific){
                this.getSearchResult();
            }
            else {
                this.getSpecificResult()
                    .then(response => this.onResponseSuccess(response))
                    .catch(error => console.log(error))
                this.getSpecificCount()
                    .then(response => this.refreshCountAndAmount(response))
                    .catch(error => console.log(error))
            }
        },
        onToggleIsSpecific: function(){
            this.isSpecific = !this.isSpecific;
            if(this.isSpecific){
                this.getSpecificResult()
                    .then(response => this.onResponseSuccess(response))
                    .catch(error => console.log(error))
                this.getSpecificCount()
                     .then(response => this.refreshCountAndAmount(response))
                     .catch(error => console.log(error))
            }
            else {
                this.getSearchResult('scholarship')
            }
        },
       
        reorderResult: function () {
            this.getSearchResult('student')
        },

        reloadResult(data){
            if (data)
            this.criteria = data;
            
            this.getSearchResult('student');
            
        },
        
        onMobileToggleIsSpecific(data){
            this.onToggleIsSpecific(data)
        },

        getSearchResult: function (context) {
            let that = this;
            let searchContext = ['scholarship', 'pagination', 'student'];

            if (searchContext.includes(context)) {
                let params = {
                    criteria : that.criteria,
                    order    : {'sort': this.orderOption.sort, 'order': this.orderOption.order},
                    limit    : this.maxResult,
                    offset   : this.offset,
                    tag      : this.tag.value
                }
                StudentService.getSearchResult(params)
                    .then(function (response) {
                        that.students         = response.data.students;
                        that.total            = response.data.total;
                        that.total_interested = response.data.total_interested;
                    })
                    .catch(function (error) {
                        console.log(error.message)
                    });
            }
        },
    },


    filters: {
        'toFrenchDate': function (value) {
            const date = new Date(value)
            //const formatter = new Intl.DateTimeFormat('fr-FR');
            return date.toLocaleDateString("fr-FR", {day:"2-digit",month:"short", year:"numeric"});
        }
    },

    watch: {
        orderOption: {
            deep: true,
            immediate: false,
            handler: function(val){
                if(val){
                    this.reorderResult()
                }
            }
        },
        tag: {
            deep: true,
            handler: function(){
                this.getSearchResult('student')
            }
        }
        
    },

    mounted: function () {
        let that = this
        if(this.$route.params && this.$route.params.searchParams){
            /*** populate filter item */
            let params =  this.$route.params.searchParams
            this.disciplines = params.disciplines !== undefined ? params.disciplines : []
            this.country     = params.country     !== undefined ? params.country : null
            this.level       = params.level       !== undefined ? params.level : null

            this.defaultSearchParams = params
        }

        this.getSearchResult('student')
    },
}
</script>
<style scoped src='./StudentSearch.css'> </style>