<template>
  <div class="card-details">
    <div style="float: right;">
      <img :src="iconEdit" class="mr-1 clickable" style="width: 16px;" @click="editTodo" />
      <img :src="iconRemove" class="mr-1 clickable" style="width: 16px;" @click="removeTodo" />
    </div>
    <h4 class="p-size">{{ formatDateRender(data.full_date, $store.state.lang) }}</h4>
    <h3>
      <b>{{ data.name }}</b>
    </h3>
    <p>{{ data.additional_infos }}</p>
    <br />
    <span>
      <img :src="iconALert" class="mr-1" style="width: 16px;" /> 
      Rappel e-mail /
      {{ $t(`student.todo.triggers.${data.alert.on ? data.alert.duration : 0}`) + " à l'avance"  }}
    </span>
  </div>
</template>

<script>
import Alert from "@/assets/img/Alerte.png";
import Edit from "@/assets/img/edit-icon.svg";
import Remove from "@/assets/img/remove-icon.svg";

export default {
  name: "Details",
  data: () => ({
    iconALert: Alert,
    iconEdit: Edit,
    iconRemove: Remove
  }),
  props: {
    data: Object
  },
  methods: {
    removeTodo() {
      this.$emit("parent-remove", this.data.id);
    },
    editTodo() {
      this.$emit("parent-edit", this.data.id);
    },
  },
};
</script>

<style scoped>
.card-details {
  border: 5px #daf2f0 solid;
  padding: 1.563rem;
}
.card-details p{
  font-weight: normal;
}
.card-details span{
  font-size: 14px;
}
.p-size{
  font-size: 16px;
  margin-bottom: 0 !important;
}
.clickable {
  cursor: pointer;
}
.h3 b{
  font-size: 26px;
}
</style>
