<template>
  <div class="basic-infos-wrapper">
        <h5 class="user-name">
            <span class="mr-1" v-if=" student.firstname !== null && student.firstname !== undefined ">
                {{ student.firstname }}
            </span>
            <span  v-if="  student.lastname !== null && student.lastname !== undefined  " >
                {{ student.lastname }}
            </span>
        </h5>
        
        <div class="basic-infos-section">
            <div class="section-title desktop-only">{{$t('student.profil.page_info5')}}</div>
            <div class="section-content">
                <p class="short-desc" v-if ="currentPosition">
                    <span> {{ currentPosition.post == 'student' ?  $t('word.student') : currentPosition.post }}</span><br>
                    <span>{{ $t('word.to') }} {{ currentPosition.institution }} , </span>
                    <span>{{ currentPosition.place }}</span> <br>
                    <span> {{$t('word.of')}}  {{ currentPosition.since }} </span>
                    
                    <span>{{$t('word.to')}}</span>
                    <span v-if="currentPosition.dateEnd"> 
                        {{ currentPosition.dateEnd }}
                    </span>
                    <span v-else>
                        {{$t("word.now")}}
                    </span>
                </p>
            </div>
        </div>

        <div class="basic-infos-section">
            <div class="section-title">
                {{$t('word.informations')}}
            </div>
            <div class="other-infos-section">
                <div class="basic-items-section">
                    <div class="item" v-if=" student.phone !== null && student.phone !== undefined">
                        <div class="icon"> <img :src="icon.phone" />    </div>
                        <div class="content"> {{ student.phone }} </div>
                    </div>

                    <div class="item" v-if=" student.email !== null">
                        <div class="icon"> <img :src="icon.emailfull" class="email-inverted" />  </div>
                        <div class="content">  {{ student.email }}  </div>
                    </div>

                    <div class="item" v-if="student.adress">
                        <div class="icon"> <img :src="icon.city" /> </div>
                        <div class="content">   {{ student.adress }} </div>
                    </div>

                    <div class="item" v-if="student.nationalities !== null">
                        <div class="icon"> <img :src="icon.flag" />  </div>
                        <div class="content">
                            <span v-for="nationality in student.nationalities" :key="nationality.id">
                                {{ $t('nationality.'+nationality.id) }}
                            </span>
                        </div>
                    </div>

                    <div  class="item" v-if="student.date_of_birth !== null && student.date_of_birth !== undefined">
                        <div class="icon">
                            <img :src="icon.birthday" />
                        </div>
                        <div class="content">
                            <span> {{ formatDateRender(student.date_of_birth, $store.state.lang) }}</span>
                        </div>
                    </div>
                </div>
                <!--div class="website-items-section">
                    <div v-if="student.site_url" class="item">
                        <div class="icon"> <img :src="icon.website" /> </div>
                        <div class="content">
                            <a :href="student.site_url" target="__blank"> {{ $t('word.website') }}</a>
                        </div>
                    </div>
                    <template v-if="student.social_network"> 
                        <div class="item" v-if="student.social_network.facebook">
                            <div class="icon pl-1">
                                <img :src="icon.facebookgrey" />
                            </div>
                            <div class="content">
                                <a :href="student.social_network.facebook" target="_blank">
                                Facebook
                                </a>
                            </div>
                        </div>

                        <div class="item" v-if="student.social_network.twitter">
                            <div class="icon">
                                <img :src="icon.twittergrey" />
                            </div>
                            <div class="content">
                                <a :href="student.social_network.twitter" target="_blank">
                                    Twitter
                                </a>
                            </div>
                        </div>
                            
                        <div class="item" v-if="student.social_network.linkedin">
                            <div class="icon">
                                <img :src="icon.linkedingrey" />
                            </div>
                            <div class="content">
                                <a :href="student.social_network.linkedin" target="_blank">
                                    Linkedin
                                </a>
                            </div>
                        </div>
                    </template>
                </div!-->
            </div>
        </div>

  </div>
</template>

<script>

import IconImages    from "@/services/helpers/IconImages.js"
import StudentMixin  from "@/mixins/StudentMixin.js"
export default {
    name: 'BasicInfos',
    mixins:[StudentMixin],
    props: {
        student: {
            required: true
        }
    },

    data: function(){
        return {
            currentPosition: false,

            icon: {
                ...IconImages
            },
        }
    },
    methods: {
        getCurrentPosition(){
            let that = this
            let sid = that.profil.id
            that.getStudentPosition(sid, (response) => {
                that.currentPosition = response
            })
        }
    },
    mounted: function(){
        this.getCurrentPosition()
    }
}
</script>

<style scoped>
    .user-name {
        font-family: 'NunitoSans-SemiBold';
        margin-bottom: 1.5rem;
    }
    .section-title {
        letter-spacing: 0px;
        color: #D3D3D3;
        text-transform: uppercase;
        font-size: 10px;
    }
    .short-desc {
        letter-spacing: 0px;
        color: #3C3850;
        font-size: 14px;
    }

    .email-inverted {
        filter: invert(.19);
    }
    .item {
        display: flex;
        align-items: center;
        margin: 15px 0;
        font-size: 14px;
        color: #3C3850;
    }
    .item .icon {
        min-width: 20px;
    }
    .item .content{
        margin-left: .6rem;
    }
    @media(max-width:1400px) {
        .item {
            font-size: 13px;
        }
    }
    @media(max-width:991px) {
        .other-infos-section {
            display: flex;
            justify-content: space-between;
        }
        .website-items-section{
            padding-left: 2rem;
        }
    }
    @media(max-width:768px) {
        .user-name{
            text-align: center;
            margin-bottom: unset !important;
        }
        .short-desc{
            text-align: center;
        }
        .website-items-section{
            padding-left: 0;
        }
    }
    @media(max-width:400px) {
        .item {
            font-size: 12px;
        }
    }
</style>