<template>
   <Modal name="completion-alert-modal" v-if="showAlert">
        <div slot="header" class="w-100 position-relative text-center">
            <a href="#" class="modal-closer" @click.prevent="close">X</a>
        </div>
        <div slot="body" class="text-center">
           <span class="icon-infos fa fa-exclamation-triangle"></span>
           <p>Il est indispensable de compléter intégralement votre parcours pour mener à bien vos recherches de bourses et de formations et pour être certain de saisir toutes les opportunités.</p>
           <DefaultButton text="J'ai compris" className="style1" @click.native="doNotDustrub"/>
        </div>
    </Modal>
</template>

<script>
    import DateHelper from "@/services/helpers/DateHelper.js"

    export default {
        name: "CompletionAlertModal",
        data: function(){
            return {
                showAlert  : false,
                storageKey : 'grimpeurs-commpletion-alert--skip'
            }
        },
        methods: {
            close: function(){
                this.showAlert = false
            },
            
            setModalState: function(){
                /** check if user is in not distrub mod */
                let state = JSON.parse(localStorage.getItem(this.storageKey))
                if(state && state.createdAt){
                    if(DateHelper.isToday(state.createdAt)){
                        return false
                    }
                }

                let complete = this.profil.profil_completion 
                this.showAlert = complete > 50 && complete < 100
            },

            doNotDustrub: function(){
                localStorage.setItem(this.storageKey, JSON.stringify({
                    state: true,
                    createdAt: new Date()
                }))
                
                this.close()
            }
        },
        mounted: function(){
            this.setModalState()
        }
    }
</script>

<style scoped>
    .modal-closer {
        position: absolute;
        right: 0;
        top: 0;
        color: #D3D3D3 !important;
        font-family: 'NunitoSans-SemiBold';
        font-size: 1.5rem;
    }
    .icon-infos{
        color: #FF7667;
        font-size: 2rem;
        background: #F8F8F8 0% 0% no-repeat padding-box;
        border:  1px solid #D3D3D3;
        padding: 1.7rem;
        border-radius: 50%;
        margin-bottom: 2rem;
    }
    p{
        margin-bottom: 2rem !important;
    }
    p::first-line{
        font-family: "NunitoSans-Bold" !important;
    }
</style>
<style>
    #completion-alert-modal .modal-container{
        max-width: 34rem !important;
        padding-bottom: 2rem;
    }
</style>