<template>
  <div class="parcours-infos">  

      <div class="information">
          <span>{{$t('student.profil.page_info7')}} </span>
          <span v-if="student.current_level !== null &&  student.current_level !== undefined ">
            <b>{{ $t('student.level.'+student.current_level.id) }}</b>
          </span>
      </div>

      <div class="information">
            <span class="label">{{$t('student.profil.page_info8')}} </span>
            <span class="value"  v-if=" student.disciplines !== null && student.disciplines !== undefined && student.disciplines.length ">
              <b v-for="(discipline,key) in student.disciplines"
                :key="discipline.id">
                {{ $t("discipline.category."+discipline.id)|capitalize }} 
                  <i v-if="key != Object.keys(student.disciplines).length - 1">, </i> 
              </b>
            </span>
        </div>
        
        <div class="information-title">{{$t('student.profil.page_info9')}}</div>
          
        <div class="information">
            <span class="label">{{$t('student.profil.page_info10')}} </span>
            <span class="value" v-if="student.desired_study_level">
              <b> {{ $t("student.level."+student.desired_study_level.id) }} </b>
            </span>
        </div>

        <div class="information">
            <span class="label">{{$t('student.profil.page_info11')}}</span>
            <span class="value" v-for="(discipline, key) in student.desired_disciplines" :key="'profil-discipline'+key">
              <b> 
                {{ $t('discipline.category.'+discipline.id)|capitalize }} 
                <i v-if="key != Object.keys(student.disciplines).length - 1">, </i> 
              </b>
            </span>
        </div>
        
        <div class="information">
            <span>{{$t('student.profil.page_info12')}} </span>
            <span v-for="(country, key) in student.desired_countries" :key="'profil-country'+key">
              <b> 
                {{ $t("country."+country.id) }}
                <i v-if="key != Object.keys(student.desired_countries).length - 1">, </i> 
              </b>
            </span>
        </div>
  </div>
</template>

<script>
export default {
  name: 'ParcoursInfos',
  props: {
    student: {
      require: true
    }
  }

}
</script>

<style scoped>
  .information {
    border-bottom: solid 1px #D3D3D3;
    padding: 1rem 0;
    font-size: 14px;
    color:#3C3850;
  }
  .information-title {
      letter-spacing: 0px;
      color: #D3D3D3;
      text-transform: uppercase;
      font-size: 10px;
      margin-top: 1rem;
      margin-bottom: -5px;
  }
  @media (max-width:1400px) {
    .information {
      font-size: 13px;
    }
  }
</style>