<template>
    <div class="student-profil-progressbar-container">
        <div class="label-container">
            {{$t('student.profil.page_info1')}}  {{ student.profil_completion }}%
        </div>
        <div class="progressbar-container">
            <ProfilProgressionBar class="student-progressbar" :width="this.student.profil_completion" />
        </div>
        <div class="action-container">
            <button class="action-btn" @click="$emit('edit')">
                <span class="mr-2"><img :src="icon" /></span>
                <span>{{$t('word.editer')}}</span>
            </button>
        </div>
    </div>
</template>

<script>
import ProfilProgressionBar from "@/components/common/ProfilProgressionBar.vue"
export default {
    name: 'ProfilCompletion',
    props: {
        student: {
            required: true
        }
    },
    components: {
        ProfilProgressionBar
    },
    data: function(){
        return {
             icon: require("@/assets/img/icon-pencil-danger.svg").default,
        }
    }
}
</script>

<style scoped>

    .student-profil-progressbar-container {
        display: flex;
        position: relative;
        align-items: center;
    }
    .label-container {
        margin-right: 2rem;
        font-family: 'NunitoSans-Regular';
        color: #3C3850;
    }
    .progressbar-container{
        flex: 1;
        margin-right: 2rem;
    }
    .action-btn {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 2px solid #D3D3D3;
        border-radius: 10px;
        padding: .5rem 1rem;
        color: #FF7667;
    }
    
</style>