<template>
    <div class="search-preferences">
       
        <p class="section-title"><span>{{$t('word.informations')}} </span></p>

        <div class="form-group custom-checkbox">
            <input type="checkbox" v-model="searchPreference.scholaship_by_profil" id="profil" />
            <label class="side-label" for="profil">{{$t('student.profil.page_info14')}} </label>
        </div>

        <div class="form-group custom-checkbox">
            <input type="checkbox" v-model="searchPreference.scholarship_by_discipline" id="discipline" />
            <label class="side-label" for="discipline">{{$t('student.profil.page_info15')}} </label>
        </div>
        
        <div class="form-group custom-checkbox">
            <input type="checkbox" v-model="searchPreference.new_grimpeur_by_profil" id="newGrimpeur"/>
            <label class="side-label" for="newGrimpeur">
             {{$t('student.profil.page_info16')}} 
            </label>
        </div>
        <div class="form-group custom-checkbox">
            <input type="checkbox" v-model="searchPreference.new_grimpeur" id="new"/>
            <label class="side-label" for="new">{{$t('student.profil.page_info17')}}  </label>
        </div>
        <div class="form-group custom-checkbox">
            <input type="checkbox" v-model="searchPreference.formation_by_profil" id="formation"/>
            <label class="side-label" for="formation"> {{$t('student.profil.page_info18')}} </label>
        </div>
        <div class="form-group custom-checkbox">
            <input type="checkbox" v-model="searchPreference.opportunity_by_profil" id="oportunity"/>
            <label class="side-label" for="oportunity">
                {{$t('student.profil.page_info19')}}
            </label>
        </div>
    </div>
</template>

<script>
import ProfilService from "@/services/student/ProfilService.js"
export default {
    name: "SearchPreference",
    props: {
        student: {
          require: true
        }
    },
    data: function(){
        return {
            loading: false,
             searchPreference : {
                scholaship_by_profil : true,
                scholarship_by_discipline : true,
                new_grimpeur_by_profil : true,
                new_grimpeur : true,
                formation_by_profil : true,
                opportunity_by_profil : true
            } 
        }
    },
    watch:{
        searchPreference: {
            handler: function(val, oldVal) {
                let that = this
                that.loading = true
                ProfilService.updateSearchPreference(val).then(
                (response) => {
                    if(response.data.success){
                        that.$store.dispatch('user/updateInfos')
                    }else{
                        that.message  = response.data.error
                    }
                    that.loading = false
                }).catch(error =>{
                    that.message = error
                    that.loading = false
                })
            },
            deep: true,
            immediate: false
        },
    },
    mounted: function(){
        this.searchPreference = this.student.search_preferences ?? this.searchPreference
    }
}
</script>

<style scoped>
    .section-title {
        letter-spacing: 0px;
        color: #D3D3D3;
        text-transform: uppercase;
        font-size: 10px;
        margin-top: 2rem;
    }
    .form-group.custom-checkbox {
        font-size: 14px;
    }
    .search-preferences label {
        color: #3C3850;
    }
    .custom-checkbox .side-label::before{
        margin-top: 0 !important;
    }
    .custom-checkbox .side-label::after {
      top: -4px !important;
    }
    @media (max-width:1400px) {
        .form-group.custom-checkbox {
            font-size: 13px;
        }
        .search-preferences label {
            color: #3C3850;
            font-size: 13px !important;
        }
    }
</style>