<template>
    <div class="section-title">
        <div class="section-title-icon">
            <img :src="icon" />
        </div>
        <div class="section-title-text">
            <h5>{{ text }}</h5>  
        </div>
    </div>
</template>

<script>
export default {
    name: 'SectionTitle',
    props: {
        icon: {
            require:true
        },
        text: {
            require: true
        }
    }
}
</script>

<style scoped>
    .section-title {
        display: flex;
        align-items: center;
        background: #F8F8F8 0% 0% no-repeat padding-box;
        border: solid 1px #D3D3D3;
        border-left: unset;
        border-right: unset;
        padding: 1rem;
    }

    .section-title-text {
        display: flex;
        align-items: center;
    }

    h5 {
        margin: 0 1rem;
        font-family: 'NunitoSans-Bold';
        color: #444242;
    }
</style>