{% extends 'admin/base.html.twig' %}

{% block title %}
    {% trans %} Site préference {% endtrans %}
{% endblock %}

{% block body %}
    <form method="POST">
        <div class="tile">
            <div class="tile-body p-2">
                {% for preferece in preferences %}
                    {{ include('admin/grimpeurs/preference/parts/_preference-field.html.twig', {'preference': preferece}) }}
                {% endfor %} 
            </div>
            <div class="tile-footer p-2">
                <div class="action-group text-right">
                    <button class="btn btn-primary mr-3" type="submit">
                        <i class="fa fa-fw fa-lg fa-check-circle"></i>
                        {% trans %}Mettre à jour{% endtrans %}
                    </button>
                </div>
            </div>
        </div>
    </form>    
   
{% endblock body %}