
<template>
    <div class="app-body" v-if="fetchparams">        
        <router-view></router-view>
    </div>
</template>

<script>
    
    const default_layout = "default"
    export default {
        name: 'app',

        data: function(){
            return {
                fetchparams: false
            }
        },

        computed : {
            layout: function()
            {
                return (this.$router.currentRoute.meta.layout || default_layout) + '-layout'
            }
        },

        mounted: function(){
           this.$store.dispatch('site/updateInfos')
           .then(
               (response) => {
                   this.fetchparams = true
               }
           )
        }
    }
</script>