<template>
  <div class="form-group">
        <div class="form-search-input">
            <input type="search" v-model="q" @input="onSearchInput" placeholder="Recherche rapide" class="form-control">
            <span class="search-icon fa fa-search" :class="{hidden: q.length}"></span>
            <div class="form-search--sugestion" v-if="autocompleteResult.length > 0">
                <div class="suggestion-item" v-for="(scholarship, index ) in autocompleteResult" :key="'auto-complete-scholarship'+index" @click="onSelectedSuggestion(scholarship)">
                    {{ scholarship.name }}
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'AutoCompleteInput',

    props: {
        scholarships: {
            default: false
        }
    },

    data: function(){
        return {
            q : "",
            autocompleteResult: [],
        }
    },

    methods: {
         onSearchInput: function(){
            this.findScholarshipByName(this.q)  
        },

        findScholarshipByName: function(q){
            this.autocompleteResult = []
            
            if(q.length < 1){
                return false
            }
            
            let array = this.scholarships

            for (let index = 0; index < array.length; index++) {
                const element = array[index];
                if(element.name.toString().toLowerCase().includes(q.toLowerCase())){
                    this.autocompleteResult = [...this.autocompleteResult, element]
                }
            }
        },
        onSelectedSuggestion: function(scholarship){
            this.autocompleteResult = []
            this.q = scholarship.name
            this.$emit("selected", scholarship)
        },
    }
}
</script>

<style lang="sass"scoped>
    
    .form-group {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        min-height: 100%;

        .form-search-input{
            position: relative;
            
            .form-control {
                height: 40px;
                background: #FFFFFF 0% 0% no-repeat padding-box;
                border: 1px solid #D0CEDA;
                opacity: 1;
            
                &:focus{
                    outline: unset !important;
                    box-shadow: unset !important;
                }
                
                &::placeholder {
                    text-align: left;
                    letter-spacing: 0px;
                    color: #D0CEDA;
                    font-size: 15px;
                }
            }

            .search-icon{
                position: absolute;
                right: 1.3rem;
                bottom: 0.8rem;
                color: #3C3850;
                font-weight: 100;

                &.hidden{
                    display: none
                }
            }
            

            .form-search--sugestion {
                position: absolute;
                z-index: 9;
                background: white;
                width: 100%;
                padding: 15px;
                border-bottom-right-radius: 5px;
                border-bottom-left-radius: 5px;
                font-size: 15px;
                line-height: 1.8rem;
                color: #6c757d;
                
                .suggestion-item {
                    border-top: solid 1px #dee2e6;
                    padding: 5px 0;
                    cursor: pointer;
                    
                    &:hover {
                        color: #7dacfa;
                        font-family: 'NunitoSans-Bold';
                    } 
                } 
            }
        }
    }

    @media (max-width:425px) {
        .form-search-input{
            margin-left: 1rem;
        }
    }

</style>