<template> 
    <select class="form-select" v-model="selectedScholarship" @change="emitInput">
        <option :value="allScholarship" v-if="all">
            {{ allScholarship.name }}
        </option>
        <option v-for="(scholarship, index) in scholarships" 
                :value="scholarship" 
                :key="'filter-scholarship-'+index">
                {{ scholarship.name }}
        </option>
            
    </select>
</template>

<script>
    export default {
        name : "ScholarshipSelect",
        props: {
            value: {
                default: null
            },
            scholarships: {
                default : []
            },
            all: {
                default : false
            }
        },
        data: function(){
            return {
              selectedScholarship: null,
              allScholarship     : {
                  id: 0,
                  name : this.$t('word.all')
              }
            }
        },
        methods: {
            emitInput(){
                this.$emit('input',  this.selectedScholarship)
                this.$emit('change', this.selectedScholarship)
            }  
        },
        watch: {
            scholarships: {
                deep: true,
                handler: function(array){
                    if(array.length){
                        this.selectedScholarship = this.all ? this.allScholarship : array[0]
                        this.emitInput()
                    }
                }
            }
        }

    }
</script>

<style>

</style>