<template>
  <div class="user-navbar-wrapper">
    <NavbarUser v-if="profil"/>
    <NavbarUserFake v-else />
  </div>
</template>
<script>
    import NavbarUser from "./NavbarUser.vue"
    import NavbarUserFake from "./NavbarUserFake.vue"
    export default {
      name : 'Navbar',
      components : {
        NavbarUser,
        NavbarUserFake
      },
      computed: {
        isLoged() { 
            return this.$store.state.user.status.loggedIn
        }
      }
    }
</script>
<style>
.user-navbar-wrapper .router-link-active:not(.logo)::after {
    content: "";
    position: absolute;
    bottom: -24px;
    min-width: 130%;
    left: -15%;
    height: 4px;
    display: block;
    background: #443E8E;
}
</style>