<template>
  <div>
    <NavbarOrganization v-if="roles.indexOf('ROLE_ORGANIZATION') != -1" />
    <NavbarStudent      v-if="roles.indexOf('ROLE_STUDENT') != -1" />
    <NavbarAdmin        v-if="roles.indexOf('ROLE_ADMIN') != -1" />
  </div>
</template>
<script>

    import NavbarOrganization from "./NavbarUser/NavbarOrganization.vue"
    import NavbarStudent from "./NavbarUser/NavbarStudent.vue"
    import NavbarAdmin from "./NavbarUser/NavbarAdmin.vue"
    export default {
      name : 'NavbarUser',
      components : {
        NavbarOrganization,
        NavbarStudent,
        NavbarAdmin
      },
      computed: {
        roles() { 
            return this.$store.state.user.profil.roles
        },  
      }
    }
</script>

<style>
  .menu-avatar-wrapper {
      border: solid 2px #c5c5c538;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .menu-top {
      margin: 0px;
  }
  .element-tools {
    margin-left: auto;
  }
  .item-menu-top a {
      color : rgb(60,56,80) !important
  }

  #menu-top {
      margin-top: 20px;
  }

  .icon:before {
      width: 15px;
      height: 15px;
  }
  .icon-user:before{
      content : url("~@/assets/img/user.svg");
  }
  .icon-search:before{
      content : url("~@/assets/img/icon-search-grey.svg");
  }
  .icon-bell:before{
      content : url("~@/assets/img/notif.png");
  }

  /** mobile menu */
  @media(max-width:768px){
    .menu-top {
      background: #13AD9E 0% 0% no-repeat padding-box;
      box-shadow: 0px 10px 0px #E0DEDE;
      /* margin-bottom: 1rem; */
      padding-bottom: 1rem;
    }
    .logo-mobile img {
        filter: unset !important;
        width: 50%;
    }
    .menu-mobile-avatar img{
      width: auto !important;
      border-radius: 50% !important;
    }
    .menu-top .logo-mobile {
      display: flex !important;
      justify-content: space-between;
      width: 100vw;
      height: unset;
      padding: 0 1rem; 
    }

    .mobile-nav-container {
        display: flex !important;
        position: fixed;
        bottom: 0;
        justify-content: space-between;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px -8px 16px #6464641F;
        min-width: 100vw;
        padding: 10px 1rem;
        z-index: 8;
        align-items: center;
    }
    .mobile-nav-container img {
        width: 30px;
    }
    .mobile-nav-container .btn-bell img {
      width: 22px;
    }
    .mobile-nav-container .btn-search img {
      width: 25px;
    }
    .mobile-menu-left {
        position: fixed;
        background: #3DC5B7 0% 0% no-repeat padding-box;
        box-shadow: 10px 10px 4px #6464641A;
        z-index: 9;
        left: 0px;
        width: 90%;
        height: 100vh;
        padding: 2rem;
    }
    .mobile-menu-left .menu-closer .menu-closer-btn:before {
      content: url("~@/assets/img/icon-croix-white.svg");
      display: block;
    }
    .mobile-menu-left .menu-closer {
        margin-bottom: 1rem;
    }
    .mobile-menu-left .menu-closer .menu-closer-btn {
        background: no-repeat;
        border: none;
        padding: 0;
    }
    .mobile-menu-left .menu-item {
        padding: 1rem 0;
        color: white;
        border-bottom: solid 1px #f8f9fa8f;
        position: relative;
    }
    .mobile-menu-left .menu-item:after {
      content: url("~@/assets/img/chevron-left-white.svg");
      display: block;
      position: absolute;
      right: 0;
      top: 30%;
      transform: rotate(180deg);
    }
    .mobile-menu-left .menu-item  a {
        color: white !important;
        font-family: 'NunitoSans-Bold';
        letter-spacing: 0px;
    }
    .mobile-menu-left-container .menu-item:last-child {
        border-bottom: unset !important;
    }
    .mobile-menu-left  .bouton-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mobile-menu-left #logout {
        border: 2px solid #fff;
        justify-content: center;
        border-radius: 25px;
        display: flex;
        align-items: center;
        font-size: 14px;
        font-family: NunitoSans-Bold !important;
        color: #fff;
        background: none !important;
        padding: 5px 15px !important;
        min-height: 40px !important;

    }
    .mobile-menu-left .bouton-menu .locale-changer select {
        font-size: 14px !important;
    }


  }
</style>
