<template>
  <div class="menu-top row">
    <div class="logo logo-mobile">
      <img :src="logo_grippeur" alt="" class="logo-grimpeurs" />
      <a href="#"  @click.prevent="openLoginModal" class='menu-mobile-avatar'>
        <img :src="img_user" alt="" />
      </a>
    </div>
   
    <div class="element-menu-horizontal menu-desktop col-sm-6">
      <ul id="menu-top">
        <li class="item-menu-top">
          <router-link :to="{'name' : 'student_home' }">
            {{ $t("menu.students") }}
          </router-link>
        </li>
        <!-- <li class="item-menu-top">
          <a >{{ $t("menu.universities") }}</a>
        </li> -->
        <li class="item-menu-top">
          <router-link :to="{'name' : 'organization_home' }">
            {{ $t("menu.organisation") }}
          </router-link>
        </li>
      </ul>
    </div>


    <div class="content-tools col-sm-6">
      <div class="element-tools element-tools-desktop">
        <a href="#"> <img :src="img_search" alt="" /> </a>
        <a href="#" @click.prevent="openChooseRegister">
          <img :src="img_notif" alt="" /> 
        </a>
        <a href="#" @click.prevent="openLoginModal"> 
          <img :src="img_user" alt="" /> 
        </a>
      </div>
      <div class="dropdown dropdown-desktop" @click="showUserMenu = 'show'">
        <div @click="openChooseRegister" style="cursor: pointer">{{$t('word.my_acount')}}</div>
      </div>
    </div>

    <!-- Begin bottom mobile menu --->
      <template>
        <mobile-navigation-bar @openMenu="showUserMenuMobile = true" />
      </template>
    <!-- END bottom mobile menu --->

    <!-- BEGIN Mobile Menu left -->
      <template v-if="showUserMenuMobile">
          <mobile-home-menu @close="showUserMenuMobile = false" @login="openLoginModal" @register="openChooseRegister" />
      </template>
    <!-- END Mobile Menu left -->
    <RegisterModal :show="defaultModal != 'None'" :defaultSteep="defaultModal" @goTo="goTo" />
  </div>
</template>
<script>
import RegisterModal       from "@/view/home/RegisterModal/RegisterModal.vue"
import MobileHomeMenu      from './Menu/MobileHomeMenu.vue';
import MobileNavigationBar from './Menu/MobileNavigationBar.vue';

export default {
  name: "NavbarUserFake",
  components: {
    RegisterModal,
    MobileHomeMenu,
    MobileNavigationBar
  },
  data: () => {
    return {
      showUserMenuMobile: false,
      stateUserMenu: "hide",
      logo_grippeur: require("@/assets/img/logo_menu.png").default,
      icon_menu: require("@/assets/img/hamburger.png").default,
      img_search: require("@/assets/img/icon-search-grey.svg").default,
      img_email: require("@/assets/img/icon-email.svg").default,
      img_notif: require("@/assets/img/notif.png").default,

      img_user: require("@/assets/img/user.svg").default,
      img_dropdown: require("@/assets/img/dropdown.png").default,
      defaultModal : 'None',
    };
  },
  methods: {
    changeStateUserMenu() {
      if (this.stateUserMenu == "show") {
        this.stateUserMenu = "hide";
      } else {
        this.stateUserMenu = "show";
      }
    },

    openLoginModal: function(){
        this.defaultModal = "LoginModal"
    },
    openChooseRegister: function(){
        this.defaultModal = "ChooseRegistre"
    },
    goTo: function(name){
        this.defaultModal = name
    },
  },
};
</script>
<style scoped>
  .menu-top {
    margin: 0px;
  }
  .element-tools {
    margin-left: auto;
  }
  .item-menu-top a {
    color: rgb(60, 56, 80) !important;
  }

  #menu-top {
    margin-top: 20px;
  }

  @media (max-width:768px) {
      .menu-top {
          margin-top: 5px !important;
      }
      .logo-grimpeurs{
        height: auto !important;
        object-fit: contain;
      }
      .menu-mobile-avatar{
        filter: brightness(1.3) !important;
        width: 45px !important;
      }
  }

</style>
