<template>
    <div class="template-fragment">
      <div class="main-menu navbar-home">
        <div class="humbergur" href="/" @click.prevent="showMenuMobile = true">
            <img :src="require('@/assets/img/hamburger.svg').default" alt="" id="menu-toogle"/>
        </div>

        <div class="logo-menu" >
            <router-link :to="{'name' : 'home' }" class="navbar-brand">
                <img :src="require('@/assets/img/logo_menu.svg').default" />
            </router-link>
        </div>

        <div class="logo-profil">
          <a href="#" @click.prevent="openChooseRegister">
            <img :src="require('@/assets/img/profil-mobile.svg').default"/>
          </a>
        </div>

         <!-- BEGIN Mobile Menu left -->
          <template v-if="showMenuMobile">
              <mobile-home-menu @close="showMenuMobile = false" @login="openLoginModal" @register="openChooseRegister" />
          </template>
        <!-- END Mobile Menu left -->
        
        <!-- BEGIN Home desktop top menu  --->
          <div class="element-menu">
            <div id="menu">
              <ul class="item-menu">
                <li class="nav-item">
                  <router-link :to="{'name' : 'student_home' }">
                    {{ $t("menu.students") }}
                  </router-link>
                </li>
                <!-- <li class="nav-item">
                  <a >{{ $t("menu.universities") }}</a>
                </li> -->
                <li class="nav-item">
                  <router-link :to="{'name' : 'organization_home' }">
                    {{ $t("menu.organisation") }}
                  </router-link>
                </li>
                <!-- <li class="nav-item">
                  <a >{{ $t("menu.companies") }}</a>
                </li> -->
              </ul>
            </div>
            <div class="bouton-menu">
              <div id="choix-langue">
                <LangSwitcher> </LangSwitcher>
              </div>
              <button @click="openLoginModal" id="connexion">
                  {{ $t("menu.login") }}
              </button>
              <a id="inscrire" slot="btn-register" @click.prevent="openChooseRegister">{{ $t("menu.signin") }}</a>
            </div>
          </div>
        <!-- END Home desktop top menu  --->
      </div>
      <div>
        <RegisterModal :show="defaultModal != 'None'" :defaultSteep="defaultModal" @goTo="goTo" />
      </div>
    </div>
</template>
<script>
import LangSwitcher   from "./../LangSwitcher.vue"
import RegisterModal  from "@/view/home/RegisterModal/RegisterModal.vue"
import MobileHomeMenu from './Menu/MobileHomeMenu.vue'
import '@/assets/css/menu.css'
export default {
  name: "NavbarHome",
  components: {
    LangSwitcher,
    RegisterModal,
    MobileHomeMenu
  },
  props: {
    form: {
      form: String,
      default: "default",
    },
  },
  data: function () {
    return {
      showMenuMobile : false,
      defaultModal : 'None',
    };
  },

  methods : {
    openChooseRegister: function(){
        let routename = this.$router.currentRoute.name
        switch (routename) {
          case 'home':
              this.defaultModal = "ChooseRegistre"
            break;
          case 'student_home':
              this.defaultModal = "StudentRegistration"
            break;
          case 'organization_home':
              this.defaultModal = "OrganizationRegistration"
            break;
        }
        
    },
    openLoginModal: function(){
        this.defaultModal = "LoginModal"
    },
    goTo: function(name){
      this.defaultModal = name
    },

  },
  mounted: function () {
    
  },
};
</script>

<style>
  .item-menu li a {
    color: #ffffff !important;
  }
  .mobile-menu-left.home-menu{
      top: 0 !important;
  }
  .mobile-menu-left .bouton-menu {
      width: 100%;
      position: absolute;
      bottom: 10%;
      width: 100%;
      left: 0;
  }
  .mobile-menu-left .bouton-menu form {
      margin-right: unset !important;
      margin-bottom: 2rem ;
      width: auto !important;
  }
  .mobile-menu-left.home-menu .menu-item{
    text-transform: capitalize !important;
  }
  .logo-menu .navbar-brand img{
    max-height: 3rem;
  }
</style>
