{% block organization_social_network_widget %}
  <div class="row">
    <div class="col-sm-6 mt-3">
        <label>Facebook</label>
        {% set value = form.vars.value.linkedin|default('https://www.facebook.com/') %}
        {{ form_widget(form.facebook, {'attr':{'class':'form-control', 'value': value }}) }}
    </div>
    <div class="col-sm-6 mt-3">
        <label>Twitter</label>
        {% set value = form.vars.value.linkedin|default('https://www.twitter.com/') %}
        {{ form_widget(form.twitter, {'attr':{'class':'form-control', 'value': value }}) }}
    </div>
    <div class="col-sm-6 mt-3">
        <label>Instagram</label>
        {% set value = form.vars.value.linkedin|default('https://www.instagram.com/') %}
        {{ form_widget(form.instagram, {'attr':{'class':'form-control', 'value': value }}) }}
    </div>
    <div class="col-sm-6 mt-3">
        <label>Linkedin</label>
        {% set value = form.vars.value.linkedin|default('https://www.linkedin.com/') %}
        {{ form_widget(form.linkedin, {'attr':{'class':'form-control', 'value': value }}) }}
    </div>
  </div>

{% endblock %}