{% block organization_statistical_widget %}
  <div class="row">
    <div class="col-sm-6 mt-3">
        <label>{% trans %}Nombre de bourses accordées depuis creation{% endtrans %}</label>
        {{ form_widget(form.scholarshipAwarded, {'attr':{'class':'form-control'}}) }}
    </div>
    <div class="col-sm-6 mt-3">
        <label>{% trans %}Taux d'acceptation{% endtrans %}</label>
        {{ form_widget(form.acceptanceRate, {'attr':{'class':'form-control'}}) }}
    </div>
    <div class="col-sm-6 mt-3">
        <label>{% trans %}Nombre d'hommes{% endtrans %}</label>
        {{ form_widget(form.menCount, {'attr':{'class':'form-control'}}) }}
    </div>
    <div class="col-sm-6 mt-3">
        <label>{% trans %}Nombre femmes{% endtrans %}</label>
        {{ form_widget(form.womenCount, {'attr':{'class':'form-control'}}) }}
    </div>
    <div class="col-sm-6 mt-3">
        <label>{% trans %}Nombre de boursiers{% endtrans %}</label>
        {{ form_widget(form.scholarshipCount, {'attr':{'class':'form-control'}}) }}
    </div>
  </div>

{% endblock %}