@import '~vue-material/dist/vue-material.min.css';
@import '~vue-material/dist/theme/default.css';
@import '~font-awesome/css/font-awesome.min.css';
@import './common.css';
@import './tooltip.css';
@import './fonts.css';
@import './custom-checkbox.css';


/*Regle global*/
body{
    margin: 0;
    font-family: 'NunitoSans-Regular';
}



.home-page {
    position: relative;
}
.home-page:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('~@/assets/img/fond_header.png');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
}
.home-page .containeur-principale {
    z-index: 2;
    position: relative;
}

.home-page-organization:before{
    filter: hue-rotate(25deg) brightness(0.9) contrast(1.1);
}

.containeur-principale--child{
    max-width: 1920px;
    margin: auto;
    width: 100%;
}
li{
    list-style: none;
}
a{
    text-decoration: none !important;
}
ul{
    padding-left: 0;
}
select,textarea,input{
    outline: none;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}
.link{
    color : #FF7667 !important ;
    cursor: pointer;
    font-family: 'NunitoSans-Regular';
}

.small{
    font-size: 10px;
}
.normal{
    font-size: 15px;
}

/*Regle global*/
/*Banner haut*/

.avis-des-gens {
    background-color: #F7F7F9;
}

.text-banner-home   {
    margin-top: 80px !important;
}

.menu-principale {
    padding: 1vw;
}

.element-menu {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    max-width: 1400px;
}

.nav-item .nav-link{
    height: 24px;
    letter-spacing: 0px;
    color: #FFFFFF !important;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'NunitoSans-Bold';
}

#choix-langue select {
    max-width: 90px;
    background: none;
    color: #ffff;
    width: 100%;
    font-size: 16px;
    font-family: 'NunitoSans-SemiBold';
    border: none;
}

#choix-langue select option {

    color: #000 !important;

}
#choix-langue {
    margin-left: 3vw;
}

.banner-element-slug {
    margin: auto;
    text-align: center;
    font-family: 'NunitoSans-SemiBold';
}

#img-banner {
    width:30%
}
.organization .banner-elements {
    margin-top: 245px;
}



#titre-banner {
    font-size: 60px;
    color: #fff;
    line-height: 85px;
    font-family: 'NunitoSans-Bold';
    margin-bottom: 0;
    font-weight: bold;
}


#sous-titre-banner {
    font-size: 30px;
    color: #FFFFFF;
    font-family: 'NunitoSans-Bold';
}
#bouton-banner {
    max-width: 20rem;
    height: 5rem;
    background: transparent linear-gradient(90deg, #FBA590 0%, #FF7667 100%) 0% 0% no-repeat padding-box;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 21px;
    margin: auto;
    margin-top: 4.392386530014641vw;
    position: relative;
    font-size: 1.8rem;
    color: #fff;
    font-family: 'NunitoSans-ExtraBold';
}

.introduction {
    display: flex;
    margin: auto;
    width: 100%;
    margin-top: 520px;
    padding-bottom: 10%;
    flex-wrap: wrap;
}

.text-introduction {
    width: 48%;
}



#titre-introduction {
    color: #FFFFFF;
    font-size: 50px;
    font-family: 'NunitoSans-Bold';
    text-transform: capitalize;
    text-align: left !important;
    margin-left: 5px;
}

#contenu-introduction {
    max-width: 670px;
    color: #fff;
    line-height: 40px;
    text-align: left;
    margin-right: 120px;
    margin-top: 20px;
    font-size: 22px;
}

#bouton-introduction {
    width: 14rem;
    height: 3rem;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-top: 30px;
    color: #FF7667 !important;
    font-size: 1rem;
    font-family: 'NunitoSans-Bold';
}

#petite-remarque {
    color: #FFFFFF;
    font-size: 16px;
    font-family: 'NunitoSans-SemiBold';
    margin-top: 30px;
}

#video-introduction {
    max-width: auto;
    height: 100%;
    background: #626262 0% 0% no-repeat padding-box;
    border-radius: 30px;
    width: 100%;
}

#petite-remarque-video {
    font-size: 18px;
    margin-top: 30px;
    color: #fff;
}

/*Banner haut*/
/*Parcours*/
.containeur-principale-parcours {
    background: #F7F7F9;
    position: relative;
}

.organization .containeur-principale-parcours {
    background: transparent;
}

.containeur-activite-eleve--child {
    overflow: hidden;
}

#titre-parcours {
    margin: 0;
    text-align: center;
    letter-spacing: 0px;
    color: #51CBBE;
    padding-top: 131px;
    font-size: 50px;
    font-family: 'NunitoSans-SemiBold';
    margin-bottom: 120px;
}
.quelque-chiffres {
    position: relative;
    padding-bottom: 5%;
}
.quelque-chiffres *{
    z-index: 3;
}
.quelque-chiffres::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('~@/assets/img/fond_chiffres.png');
    background-repeat: no-repeat;
    z-index: 2;
    background-size: cover;
    background-position: top;
}
.home-page-organization .quelque-chiffres::before{
    filter: hue-rotate(25deg) brightness(0.9) contrast(1.1) !important;
}
#titre-quelques-chiffres {
    color: #444242;
    font-family: 'NunitoSans-ExtraBold';
    font-size: 48px;
    padding-top: 20%;
    position: relative;
    text-align: center;
}
.parcours {
    width: 505px;
    height: 407px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 50px #3D3D3D12;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    margin-bottom: 52px;
    justify-content: center;
}

.logo-parcours {
    border-radius: 100%;
    margin-bottom: 30px;
}

.description-parcours {
    max-width: 300px;
    text-align: center;
    font-size: 21px;
    margin-bottom: 15px;
}

.lien-parcours {
    text-align: center;
    letter-spacing: 0px;
    color: #51CBBE;
    font-size: 19px;
    font-family: 'NunitoSans-Bold';
}

.element-parcours {
    max-width: 1100px;
    margin: auto;
    display: flex;
    position: relative;
    z-index: 1;
    flex-wrap: wrap;
    justify-content: center;
}

#colonne-1 {
    margin-right: 2%;
}

#colonne-2 {
    margin-left: 2%;
    margin-top: 220px;
}
.quelque-chiffres--child {
    max-width: 1280px;
    margin: auto;
}

#citation-description {
    font-size: 24px;
    display: block;
    text-align: center;
    margin-top: 20px;
}
#citation {
    display: flex;
    flex-direction: column;
}
.organization .quelque-chiffres {
    padding-bottom: 253px;
}
.organization #titre-quelques-chiffres {
    color: #fff;
    padding-top: 467px;
}

.organization #citation {
    color: #fff;
}

.organization #auteur-citation {
    color: #fff;
}
#auteur-citation {
    text-align: center;
    letter-spacing: 0px;
    color: #0B0B0B;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'NunitoSans-SemiBold';
    display: block;
}

.contenu-chiffres {
    max-width: 327px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 30px #64646426;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 66px;
    margin-top: 50px;
    margin-left: 1%;
    margin-right: 1%;
    padding: 1rem;
}

.chiffres-en-question {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.chiffre {
    font-size: 2rem;
    font-family: 'NunitoSans-SemiBold';
    line-height: 1;
}

.description-chiffre {
    color: #B8C0D6;
    font-size: 19px;
    font-family: 'NunitoSans-SemiBold';
    text-transform: lowercase;

}

#chiffre-1 {
    color: #FBA48F;
}

#chiffre-2 {
    color: #3DC5B7;
}

#chiffre-3 {
    color: #FF7667 !important;
}

#chiffre-4 {
    color: #6196FF;
}

#chiffre-5 {
    color: #6196FF;
}

#chiffre-6 {
    color: #FF7667 !important;
}

#chiffre-7 {
    color: #A9B5FF;
}

#chiffre-8 {
    color: #3DC5B7;
}

/*Avis*/
/*Footer*/
#footer {
    background: #3DC5B7;
}

.organization #footer {
    background: #345D98;
}

.organization #bas-footer {
    background: #1F4171;
}

#bas-footer {
    background: #13AD9E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 6%;
    padding-right: 6%;
    min-height: 85px;
    flex-wrap: wrap;
}

#choix-langue-footer select {
    width: 147px;
    height: 39px;
    border: 2px solid #FFFFFF;
    /* background: transparent; */
    background-color: #13AD9E;
    border-radius: 10px;
    color: #fff;
    font-size: 12pt;
    padding-left: 13%;
}

.lien-footer li {
    color: #FFFFFF;
    /* font-size: 18px; */
    font-size: 10.5pt;
    /* line-height: 30px; */
}
.titre-widget-footer {
    color: #FFFFFF;
    text-transform: uppercase;
    /* font-size: 18px; */
    font-size: 10.5pt;
    font-family: 'NunitoSans-Bold';
}
#adresse {
    /* color: #FFFFFF;
    font-size: 10.5pt;
    max-width: 206px; */
    color: #FFFFFF;
    font-size: 10.5pt;
    max-width: 191px;
}

#rencontrer a {
    color: #FFFFFF;
    /* font-size: 18px; */
    font-size: 10.5pt;
    margin-top: 15%;
    display: block;
}
#sociaux {
    max-width: 250px;
    width: 100%;
}

#liste-sociaux {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}
.organization #liste-sociaux a img {
    filter: hue-rotate(60deg);
}
.logo-footer {
    display: flex;
    justify-content: center;
}
.organization .style-widget-footer {
    background: #98B8ED;
}
.style-widget-footer {
    /* width: 39px; */
    width: 2.1961932650073206vw;
    height: 6px;
    background: #7AE3D8 0% 0% no-repeat padding-box;
    display: block;
    margin-top: 11px;
    border-radius: 10px;
}
/*Footer*/
/*Activite*/
.titre {
    color: #1F4171;
    font-size: 50px;
    font-family: 'NunitoSans-Bold';
    max-width: 550px;
}

.apercu-description-activite {
    font-size: 25px;
    color: #3C3850;
    max-width: 600px;
}

.bouton-voir-activite {
    font-size: 25px;
    color: #FF7667 !important;
    margin-top: 3.6603221083455346vw;
    display: flex;
}
.element-activite {
    max-width: 1300px;
    width: 100%;
    display: flex;
    margin: auto;
    margin-bottom: 250px;
    position: relative;
}

a , button {
    cursor: pointer;
}

.image-activite {
    width: 40%;
}

.description-activite {
    width: 60%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;

}

#image-activite-2 {
    order: 2;
}

.image-activite img {
    width: 100%;
}

#description-activite-2 {
    order: 1;
    z-index: 2;
  
}



#image-activite-4 {
    order: 2;
}

#description-activite-4 {
    order: 1;
}
.parcours-etudiant {
    flex-direction: column;
    justify-content: center;
}

















/*Activite*/
/*Responsive*/
@media(max-width: 1500px){
    .moteur-de-recherche {
        width: 90%;
    }

    .quelque-chiffres--child {
        width: 90%;
    }
}

@media(max-width: 1070px){
    #colonne-2 {
        margin-top: 0;
    }
}

@media(max-width: 1160px){

    #bouton-introduction {
        margin-top: 0;
        width: 12rem;
        height: 2.5rem;
        font-size: 14px;
    }
    #multiple {
        font-size: 15px;
        max-width: 300px;
    }

    #pays {
        font-size: 15px;
        max-width: 200px;
    }

    #recherche {
        font-size: 16px;
        max-width: 377px;
    }


    #niveau-etude {
        font-size: 15px;
        max-width: 200px;
    }
    .introduction {
        margin-top: 200px;
        padding-bottom: 200px;
    }
    #bas-footer {
        padding-left: 5%;
        padding-right: 5%;
    }
}
@media(max-width: 850px){
    #petite-remarque-video {
        text-align: center;
    }
    #moteur {
        flex-direction: column;
    }

    #niveau-etude {
        max-width: 100%;
        margin-bottom: 20px;
    }

    #pays {
        max-width: 100%;
        margin-bottom: 20px;
    }

    #multiple {
        max-width: 100%;
        margin-bottom: 20px;
    }

    #recherche {
        max-width: 100%;
        width: 100%;
    }
}
@media(max-width: 600px){
    .bouton-choix-moteur {
        flex-wrap: wrap;
    }
    #haut-footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .widget-footer {
        width: 100%;
        max-width: 252px;
    }
    .copyright {
        font-size: 15px;
        margin-bottom: 16px;
    }

    #choix-langue-footer select {
        font-size: 15px;
    }

    #bas-footer {
        flex-direction: column;
        justify-content: center;
    }
    #titre-parcours {
        font-size: 30px;
        padding-top: 30px;
        margin-bottom: 30px;
    }
    .parcours {
        max-width: 505px;
        width: 100%;
        justify-content: center;
    }

    #colonne-1 {
        width: 100%;
    }

    #colonne-2 {
        width: 100%;
    }

    .element-parcours {
        width: 90%;
    }
    .introduction {
        margin-top: 50px;
        padding-bottom: 50px;
    }
    .banner-elements img {
        width: 100%;
        max-width: 300px;
    }
    #titre-banner {
        font-size: 37px;
        max-width: 90%;
        margin: auto;
        margin-top: 20px;
        line-height: 54px;
        margin-bottom: 20px;
    }
    #sous-titre-banner {
        font-size: 25px;
    }
}


.modal-mask {
	position: absolute;
	z-index: 9998;
	top: 30;
	left: 0;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	transition: opacity 0.3s ease;
	display:block;
}

.modal-wrapper {
  margin: auto;
  width: 50%;
  padding: 10px;
}

#presse-page {
    font-family: 'NunitoSans-Bold';
}

@media(max-width: 1560px){
    .menu-principale {
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media(max-width: 1250px){
    .nav-item {font-size: 15px;margin-left: 1%;margin-right: 1%;}

    #connexion {
        height: 40px;
    }

    #inscrire {
        height: 40px;
    }
}
@media(max-width: 1150px){
    .element-menu {
    flex-wrap: wrap;
        justify-content: center;
    }

    #menu {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}
@media(min-width:769px) {
    .element-tools-mobile , .menu-mobile-interne , #close-mobile{
        display:none !important;
    }
    .side-conecter {
        display:block !important;
    }

    .humbergur-interne {
        display: none !important;
    }

}

@media(min-width: 1500px){
    .avis-des-gens {
        max-width: 1920px;
        overflow: hidden;
    }
    .elements-avis {
        position: relative;
    }

}
@media(max-width: 1400px){
    .contenu-chiffres {
        max-width: 20.863836017569547vw;
        height: 7.686676427525622vw;
    }
    .containeur-activite-eleve--child {
        width: 90%;
        margin: auto;
    }
    .image-activite {
        width: 100%;
        text-align: right;
    }

    .description-activite {
        width: 100%;
    }
    .description-activite h2.titre{
        max-width: 18.301610541727673vw;

    }
    .titre {
        font-size: 18pt;
    }

    .apercu-description-activite {
        font-size: 13.25pt;
    }

    .bouton-voir-activite {
        font-size: 20px;
    }
    .element-activite {
        margin-bottom: 100px;
    }
}

.text-center{
    text-align: center;
}
/*Responsive*/
.full-height{
    min-height: 100vh;
}

.app-body {
    overflow-x: hidden;
}
.btn,
button:focus {
    outline: unset !important;
}

.img-illustrator {
    background-image: url('~@/assets/img/nous-contacter.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.no-active {
     cursor: not-allowed;
 }

 .image-loading {
     text-align: center;
 }

 .loader-lg {
    min-height: 100%;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
}

@media (max-width: 768px){
    .home-page:before {
        top: 70px;
        height: 60%;
    }
    #chiffre_organization .quelque-chiffres {
        padding-top: unset !important;
    }

}

@media (max-width:426px){
    .copyright {
        font-size: 14px;
        margin: 15px 0;
    }
    #choix-langue-footer select {
        font-size: 14px;
        margin-bottom: 25px;
    }
    #choix-langue-footer select {
        width: 115px;
        height: 30px;
    }
}


@media (min-width: 1400px){
    .col-xxl-3 {
        -ms-flex: 0 0 25% !important;
        flex: 0 0 25% !important;
        max-width: 25% !important;
    }
}