.submit-btn{
    background: transparent linear-gradient(90deg, #FBA590 0%, #FF7667 100%) 0% 0% no-repeat padding-box;
    color: white;
    padding: 0 3rem;
    border-radius: 10px;
}
.blod {
    font-family: 'NunitoSans-Bold' !important;
}
.v-toast {
    z-index: 99999 !important;
}
.v-toast__text {
    color: white !important;
    font-family: 'NunitoSans-SemiBold' !important;
    font-size: 1.2rem !important;
}

/**** override multiselect chevron icon */
.multiselect__select:before {
    content   : url("~@/assets/img/chevron-left-white.svg") !important;
    filter    : invert(.5);
    transform : rotate(-90deg);
    display   : block !important;
    top       : 15% !important;
    right     : -5px !important;
    border    : unset !important;
}

.diseabled-link img {
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(0%) !important;
    opacity: 0.5;
}
.form-control,
.form-control:disabled, 
.form-control[readonly],
.multiselect__tags
{
    border: 1px solid #D3D3D3 !important;
}
.multiselect__option--highlight,
.vs__dropdown-option--highlight {
  background: #3DC5B7 !important;
  color: #fff !important;
}

.multiselect__select{
    z-index: 1;
}

.vs__clear{
    display: none !important;
}

/** multiple select overflow**/
.multiselect__tags-wrap {
    white-space: nowrap;
    overflow: auto;
    display: block !important;
}

.multiselect__tags-wrap::-webkit-scrollbar {
    width: 5px;
    height: 5px;    
}
  
   
/* Handle */
.multiselect__tags-wrap::-webkit-scrollbar-thumb {
    background: #D3D3D3; 
}
  
/* Handle on hover */
.multiselect__tags-wrap::-webkit-scrollbar-thumb:hover {
    background: #FF7667; 
}

.multiselect__tag{
    margin-bottom: unset !important;
    border-radius: 1rem !important;
}