.custom-checkbox input[type="checkbox"]{
  position: absolute;
  left: -9999px;
}
.custom-checkbox .side-label {
    display: block;
    position: relative;
    margin: 10px 0;
    padding-left: 35px;
    cursor: pointer;
  }
  
  .custom-checkbox .side-label::before, 
  .custom-checkbox .side-label::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
  }
  
  .custom-checkbox .side-label::before {
    display: block;
    width: 16px;
    height: 16px;
    border: 2px solid #dee2e6;
    border-radius: 2px;
    background: whitesmoke;
    margin-top: 4px;
    
  }
  
  .custom-checkbox input:focus + .custom-checkbox .side-label::before {
    border-color: rgba(245,161,144,1);
  }
  
  .custom-checkbox .side-label::after {
    display: none;
    width: 8px;
    height: 8px;
    margin: 8px 4px;
    background-color: rgba(245,161,144,1);
    border-radius: 2px;
  }
  
  .custom-checkbox input:checked + .side-label::after {
    display: block;
  }