#sous-titre-banner-etudiant {
	font-size  : 20px;
	color      : #ffffff;
	font-family: 'NunitoSans-Bold';
}

.containeur-banner-etudiant {
	background-image   : url('~@/assets/img/bg_header.png');
	background-position: center;
	background-size    : cover;
	background-repeat  : no-repeat;
	height             : auto;
	padding-bottom     : 600px;
}

#bouton-introduction-etudiant {
	width          : 329px;
	height         : 70px;
	background     : transparent linear-gradient(90deg, #fba590 0%, #ff7667 100%) 0% 0% no-repeat padding-box;
	display        : flex;
	align-items    : center;
	justify-content: center;
	border-radius  : 10px;
	margin-top     : 30px;
	color          : #fff;
	font-size      : 19px;
	font-family    : 'NunitoSans-Bold';
}

#bouton-enregistrer-etudiant {
	width          : 200px;
	height         : 60px;
	background     : transparent linear-gradient(90deg, #fba590 0%, #ff7667 100%) 0% 0% no-repeat padding-box;
	display        : flex;
	align-items    : center;
	justify-content: center;
	border-radius  : 10px;
	margin-top     : 30px;
	color          : #fff;
	font-size      : 19px;
	font-family    : 'NunitoSans-Bold';
}

.annuler {
	background: #FFD7D2 0% 0% no-repeat padding-box !important;
}

.parcours-etudiant {
	background    : #ffffff 0% 0% no-repeat padding-box;
	width         : 329px;
	height        : 400px;
	display       : flex;
	align-items   : center;
	flex-direction: column;
	border-radius : 10px;
	margin-bottom : 52px;
}

.box1 {
	-webkit-box-shadow: 0px 12px 0px 0px rgba(155, 232, 224, 1);
	-moz-box-shadow   : 0px 12px 0px 0px rgba(155, 232, 224, 1);
	box-shadow        : 0px 12px 0px 0px rgba(155, 232, 224, 1);
}

.box2 {
	-webkit-box-shadow: 0px 12px 0px 0px rgba(255, 201, 189, 1);
	-moz-box-shadow   : 0px 12px 0px 0px rgba(255, 201, 189, 1);
	box-shadow        : 0px 12px 0px 0px rgba(255, 201, 189, 1);
}

.box3 {
	-webkit-box-shadow: 0px 12px 0px 0px rgba(191, 213, 255, 1);
	-moz-box-shadow   : 0px 12px 0px 0px rgba(191, 213, 255, 1);
	box-shadow        : 0px 12px 0px 0px rgba(191, 213, 255, 1);
}

.box4 {
	-webkit-box-shadow: 0px 12px 0px 0px rgba(255, 193, 187, 1);
	-moz-box-shadow   : 0px 12px 0px 0px rgba(255, 193, 187, 1);
	box-shadow        : 0px 12px 0px 0px rgba(255, 193, 187, 1);
}

.colonne {
	margin: 0 50px 0 0;
}

.description-parcours-etudiant {
	max-width  : 246px;
	text-align : center;
	font-size  : 21px;
	font-family: 'NunitoSans-Bold';
	width      : 50%;
}

.sous-description {
	text-align    : center;
	letter-spacing: 0px;
	color         : #000000;
	opacity       : 1;
	width         : 90%;
}

.profil-solide {
	display        : flex;
	flex-wrap      : wrap;
	justify-content: center;
	width          : 50%;
	align-items    : center;
	margin-left    : 20%;
}

.echanger-avec {
	display        : flex;
	flex-direction : row;
	justify-content: center;
	width          : 60%;
	align-items    : center;
	margin-left    : 20%;
}

.insipirer-container {
	display       : flex;
	flex-direction: row;
	align-items   : center;
	margin-left   : 10%;
}

.profil-solide-titre {
	text-align    : left;
	letter-spacing: 0px;
	color         : #444242;
	opacity       : 1;
	font-family   : 'NunitoSans-Bold';
	width         : 55%;
}

.profil-solide-sub-titre {
	text-align    : left;
	letter-spacing: 0px;
	color         : #3c3850;
	opacity       : 1;
	font-size     : 20px;
	margin-top    : 1em;
	font-weight   : lighter;
	margin-bottom : 20px;
}

.profil-link {
	color    : #ff9488;
	font-size: 20px;
}

.inspirer {
	background: url("../img/bg_inspirer.png") right top no-repeat;
	width     : 900px;
	height    : 550px;
}

#titre-quelques-chiffres-etudiant {
	color      : #fff;
	font-family: 'NunitoSans-Bold';
	font-size  : 40px;
	padding-top: 286px;
	position   : relative;
	text-align : center;
}


#citation-description-etudiant {
	font-family  : 'NunitoSans-LightItalic';
	font-size    : 18px;
	display      : block;
	text-align   : center;
	margin-bottom: 20px;
	color        : #fff;
}

#auteur-citation-etudiant {
	text-align    : center;
	letter-spacing: 0px;
	color         : #fff;
	text-transform: uppercase;
	font-size     : 11px;
	font-family   : 'NunitoSans-SemiBold';
	display       : block;
}

.modal-content {
	background-color: #F7F7F9;
}

.box-container {
	display    : flex;
	align-items: center;
	width      : 150%;
}

.box-content {
	width         : 160px;
	height        : 190px;
	background    : #FFFFFF 0% 0% no-repeat padding-box;
	box-shadow    : 0px 0px 50px #3D3D3D12;
	margin        : 10px;
	border-radius : 10px;
	display       : flex;
	flex-direction: column;
	align-items   : center;
	cursor        : pointer;
}

.box-content img {
	width     : 50px;
	height    : 50px;
	margin-top: 40px;
}

.box-content p {
	text-align: center;
	margin    : 10px;
	font-size : small;
}

.modal-content {
	width        : 900px;
	height       : 600px;
	border-radius: 20px;
}

.modal-title {
	text-align : center;
	font-size  : 30px;
	margin-top : 60px;
	width      : 97%;
	margin-left: 30px;
	font-family: NunitoSans-SemiBold;
}

.modal-body h3 {
	text-align    : center;
	letter-spacing: 0px;
	color         : #D3D3D3;
	text-transform: uppercase;
	opacity       : 1;
	font-size     : large;
	margin-bottom : 20px;
	margin-top    : 20px;
}

.footer-modal {
	text-align    : center;
	margin-top    : 20px;
	display       : flex;
	flex-direction: column;
	align-items   : center;
}

.footer-pwd {
	text-align     : center;
	margin-top     : 20px;
	display        : flex;
	flex-direction : row;
	align-items    : center;
	justify-content: center;

}

.footer-pwd a {
	margin: 10px;
}

.footer-modal p a {
	color: #FD7566;
}


.linkedin-button {
	background: #0288D1 0% 0% no-repeat padding-box;
}

.facebook-button {
	background: #3F51B5 0% 0% no-repeat padding-box;
}

.box-container-form {
	display        : flex;
	flex-direction : row;
	justify-content: center;
	align-content  : center;
}

.box-container-form button {
	margin        : 10px;
	font-size     : small;
	padding       : 1em 1.5em;
	color         : #fff;
	text-transform: none;
	border-radius : 10px;
}

button i {
	padding-right: 10px;
}

.row .col {
	margin: 10px;
}

.form-control {
	height: calc(1.5em + .75rem + 12px);
}

.confirmation {
	border       : 1px solid #FF7768;
	margin       : 5% 8%;
	border-radius: 10px;
}

.confirmation p {
	font-size : 13px;
	color     : #FF7768;
	margin    : 10px;
	text-align: center;
}