.containeur-interne {
    max-width: 1920px;
    width    : 100%;
}


.nav-brand {
    border-bottom: 1px solid rgb(33,191,175);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2.5vw;
}

.logo-menu a {
    cursor: pointer;
}

.nav-brand .logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
#libelle-ms {
    justify-content: center;
    width: 15px;
    height: 15px;
    background: #FF7667 0% 0% no-repeat padding-box;
    border-radius: 100%;
    font-size: 10px;
    display: inline-flex;
    align-items: center;
    color: #fff;
    font-family: 'NunitoSans-Bold';
    position: relative;
    top: -5px;
    margin-left: 6px;
}

.avis-des-gens {
    padding-top: 175px;
    max-width: 100% !important;
    margin: auto;
    padding-bottom: 120px;
    overflow: visible;
    padding-left: 12vw;
    padding-bottom: 10%;
    padding-top: 10%;
}


.containeur-interne--child {
    display: flex;
}

.contenu-principale {
    width    : 100%;
}
.menu-top {
    /* height         : 95px; */
    height:75px;
    background     : #FFFFFF 0% 0% no-repeat padding-box;
    display        : flex;
    width          : 100%;
    justify-content: space-between;
    border-bottom  : 1px solid rgb(231,232,233);
}
.menu-vertical {
    padding-left: 2.5vw;
}
.element-menu-horizontal {
    display    : flex;
    max-width  : 900px;
    width      : 100%;
    align-items: center;
}

#menu-top {
    display        : flex;
    justify-content: space-around;
    width          : 100%;
}

.content-tools {
    display        : flex;
    max-width      : 374px;
    width          : 100%;
    justify-content: space-between;
}

.element-tools {
    display        : flex;
    align-items    : center;
    max-width      : 200px;
    justify-content: space-around;
    width          : 100%;
}

.element-tools a {
    display    : inline-flex;
    align-items: center;
}

.element-tools.element-tools-desktop img {
    height: 22px;
}

.dropdown {
    display        : flex;
    align-items    : center;
    max-width      : 170px;
    justify-content: space-evenly;
    width          : 100%;
}

.logo-mobile {
    display        : none;
}

.item-menu-top a {
    text-align    : center;
    letter-spacing: 0px;
    color         : #3C3850;
    text-transform: uppercase;
    font-family   : 'NunitoSans-Bold';
}

.nom-prenom {
    font-size: 10pt;
    font-family: 'NunitoSans-SemiBold';
    white-space: nowrap;
}

.text-menu {
    letter-spacing: 0px;
    color         : #FFFFFF;
    font-size     : 15px;
    font-family   : 'NunitoSans-SemiBold';
    margin-left   : 12px;
}


.mention-legal h1 {
    color      : #3DC5B7;
    font-size  : 32px;
    font-family: 'NunitoSans-SemiBold';
}

.mention-legal h2 {
    color         : #3DC5B7;
    font-size     : 25px;
    text-transform: uppercase;
    font-family   : 'NunitoSans-Bold';
}

.mention-legal h3 {
    font-family: 'NunitoSans-Bold';
    color      : #3C3850;
    font-size  : 21px;
}

.mention-legal h4,
.mention-legal strong {
    color      : #3C3850;
    font-family: 'NunitoSans-Bold';
    font-size  : 16px;
}

.element-contenu--child {
    max-width : 100%;
    width     : 93%;
    margin    : auto;
    margin-top: 55px;
}

.annee {
    display       : flex;
    flex-direction: row;

}

.annee li {
    list-style-type: disc;
    margin-left    : 30px;
    color          : gray;
    font-size: 20px;
    margin-right: 20px;
}

.annee li::marker {
    font-size: 25px;
    color    :#b9b7b7;
   
}

.annee li a {
    color      : gray;
    margin-left: 20px;
}

.top-bar-non-connecter {
    filter: contrast(10%);
    height: 54px;
    width: 100%;
    margin-top: 15px;
}

@media (min-width: 1700px) {
    .item-menu-top a {
        font-size: 18px;
    }
}



@media (max-width: 980px) {

    .menu-top {
        justify-content: flex-end;
    }

    .menu-mobile-interne {
        display        : flex !important;
        flex-direction : column;
        justify-content: center !important;
        max-width      : 200px !important;
        margin         : auto;
        margin-top     : 20px;
    }



    .item-menu-top {
        padding-top   : 10px;
        padding-bottom: 10px;
    }

    .item-menu-top a {
        color: #fff;
    }
}

@media(min-width : 769px) {
     .logo-nonconecter img {
        filter: invert(46%) sepia(100%) saturate(384%) hue-rotate(125deg) brightness(99%) contrast(89%);
        height: 54px;
        width : 100%;
        margin-top:10px;
    }
       .logo-nonconecter {
        display: block !important;
        height : 68px;
        margin-right:30px;
        margin-left:10px;
    }

}
 

@media (max-width: 768px) {
    .menu-desktop {
        display: none;
    }
    .contenu-principale {
        padding-bottom: 5rem !important;
    }
    .logo  {
        display: none;
    }

    #separator-menu {
        display   : block;
        width     : 100%;
        height    : 1px;
        background: #fff;
        margin    : auto;
        margin-top: 20px;
    }

    #close-mobile {
        display  : block !important;
        position : absolute;
        right    : 4%;
        font-size: 34px;
        color    : #fff;
        cursor   : pointer;
    }

    .mention-legal h1 {
        font-size: 25px;
    }

    .mention-legal h2 {
        font-size: 18px;
    }

    .mention-legal h3 {
        font-size: 15px;
    }

    .element-tools-desktop {
        display: none;
    }

    .element-tools-mobile {
        display   : flex !important;
        margin-top: 20px;
        max-width : 220px;
    }

    .element-tools-mobile a img {
        filter: brightness(5);
    }

    .menu-top {
        height         : auto;
        justify-content: space-around;
        margin-top     : 10px;
    }

    #menu-top {
        margin-top: 7px;
    }

    .humbergur-interne {
        display: block;
    }

    .humbergur-interne img {
        filter: unset !important;
    }

    .logo-mobile {
        display: block !important;
        height : 68px;;
    }

    .logo-mobile img {
        filter: contrast(0.1);
        height: 54px;
        width : 100%;
        margin-top:15px;
    }

    .content-tools {
        display: none;
    }

    .dropdown-desktop {
        display: none;
    }

    .dropdown-mobile {
        display   : flex !important;
        color     : #fff;
        margin-top: 20px;
        max-width : 100%;
    }

    .icon-dropdown img {
        filter: invert(1);
    }

    .element-contenu--child {
        margin-top: 20px;
    }
}

.list-content {
    display        : flex;
    flex-direction : row;
    background     : #F3F4F5 0% 0% no-repeat padding-box;
    border         : 1px solid #D3D3D3;
    justify-content: space-between;
    padding        : 10px;
    border-radius  : 8px;
    margin-bottom  : 10px;
    padding: 30px;
    height: 130px;
    max-height: 130px;
    min-height: 130px;
}

.list-content .left , .list-content .right   {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.list-left {
    float: left;
    width: 48%;
}

.list-right {
    float: right;
    width: 48%;
}

.list-content .left h4 {
    font-size: 15px !important;
}

.list-content .right h4 {
    font-size     : 16px !important;
    opacity       : 0.5;
    padding-bottom: 15px !important;
}

.list-content .right a {
    font-size: 12px !important;
    color    : #FF7667;
}


.multiselect__placeholder {
    padding-top: unset !important;
}
.dg-backdrop {
    z-index: 999998 !important;
}
.dg-container {
    z-index: 999999 !important;
}

@media(max-width:768px) {
    .desktop-only{
      display: none;
    }
}

/*** override vue-dialog-style */
.dg-backdrop {
    background-color: rgb(0 0 0 / 17%) !important;
}
.dg-btn--cancel {
    background-color: #FF7667 !important;
}
.dg-btn--ok {
    color: #FF7667 !important;
    border-color: #FF7667 !important;
}
.dg-content {
    font-family: 'NunitoSans-SemiBold';
    text-align: center;
    padding: 1vw;
}
.dg-content-footer {
    display: flex;
    justify-content: flex-end;
}
.dg-content-footer button {
    margin-left: 10px;
}

.dg-content-cont--floating {
    top: 45%;
}
.cursor-pointer{
    cursor: pointer;
}