

body{
   margin: 0;
   font-family: 'NunitoSans-Regular';
}

#menu-toogle {
    display: none;
}

.main-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 32px;
    padding-right: 32px;
}


.main-menu .element-menu {
    align-items: center;
    width: 100%;
    justify-content: space-between;
    max-width: 1400px;
}

.main-menu  .item-menu {
    display: flex;
    width: auto;
    margin : 0 !important;
    font-family: 'NunitoSans-Bold'  !important;
    text-transform: uppercase;
    justify-content: flex-end;
}

.main-menu  .item-menu li a {
    font-family: 'NunitoSans-Bold';
}

.main-menu  .bouton-menu {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 500px;
    justify-content: flex-end;
}

.main-menu  #choix-langue {
    margin-right: 5%;
    width: 100%;
    max-width: 125px;
}

.main-menu  #connexion {
    background: none;
    border: none;
    min-width: 150px;
    max-width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 16px;
    font-family: 'NunitoSans-Bold';
    color: #fff;
}

.main-menu  #inscrire {
    min-width: 150px;
    max-width: 200px;
    height: 50px;
    border: 2px solid #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    font-size: 16px;
    font-family: 'NunitoSans-Bold';
    color: #fff;
}

.main-menu  #choix-langue select {
    max-width: 117px;
    height: 35px;
    background: transparent;
    color: #ffff;
    width: 100%;
    font-size: 16px;
    font-family: 'NunitoSans-Bold';
    display: flex;
    margin-right: 2%;
}



/** responsive **/
/** mobile less 720 **/

/** 720x480 pixels **/
@media(max-width: 920px) {
    .main-menu {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    #menu {
        justify-content: flex-start;
    }
    .main-menu .item-menu li {
       margin-right: 0.5rem;
    }
    #choix-langue {
        margin-left: 0rem;
    }

}

@media(max-width: 768px) {
    #img-banner {
        display: none !important;
    }
    .main-menu .item-menu , .main-menu .bouton-menu , .main-menu .element-menu{

        width: auto;
        margin-top: 5%;
        margin-bottom: 5%;

    }
    #menu-toogle {
        display: block;
        width: 30px;
       
    }
    .humbergur {
        display: flex;
        cursor: pointer;
    }

    .logo-menu {
        margin: auto;
        text-align: center;
    }
    .main-menu {
        flex-direction: row;
        background: #13AD9E;
        padding-bottom: 1rem
    }

    .menu-mobile {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background: #3DC5B7;
        z-index: 30;
        height: auto;
        padding-bottom: 20px;
        box-shadow: -1px 0px 6px 0 black;
        cursor: pointer;
        width: 40%;
    }

    .element-menu{
        display: none;
    }

    .element-menu-mobile {
        display: flex;
        flex-direction: column;
    }

    #menu {
        display: flex;
        justify-content: center;
        margin-top : 10px
 
    }

    .main-menu .item-menu {
        margin-top: 5%;
        flex-direction: column;
    }

    .main-menu .bouton-menu {
        display: flex;
        flex-direction: column;
    
    }

    .main-menu .item-menu li {

        color: white;
        margin-bottom: 10px;
    }
    
}

@media(max-width: 1280px){


    #img-banner {
        display: none;
    }

    .main-menu  .item-menu li {
         font-size: 14px;
    }


    .main-menu  #menu {
         flex: 40;

    }

    .main-menu  .bouton-menu {
         flex: 60;
     }
}

/** 1280x720 pixels **/


@media screen and (min-width: 1401px)  {
    .main-menu .item-menu li {
        /* font-size: 15px; */
        font-size: 17px;
    }
}
@media(max-width: 1400px) {
    .main-menu .item-menu li {
        font-size: 13px;
        margin-right: 20px;
    }
    .main-menu #choix-langue select {
        font-size: 13px;
    }

    .main-menu #connexion {
        justify-content: center;
        font-size: 13px;
    }

}


 @media(min-width: 1281px) {
    .main-menu {
         flex-direction: row;


    }

    .main-menu  .element-menu {
         display: flex;
         align-items: center;
         width: 100%;
         flex: 40;
   
    }

    .main-menu  #menu {
         flex: 60;
         text-align: right;
         padding-right: 5%;
         justify-content: flex-end;
         display: flex;
         margin-top: 15px;
    }

    .main-menu  .item-menu li {
         width: auto;
         height: 24px;
         text-align: center;
         letter-spacing: 0px;
         color: #FFFFFF;
         text-transform: uppercase;
         font-family: 'NunitoSans-Bold';
         display: inline;
         margin-right: 30px;
         margin-left: 20px;
     }

     .main-menu   .bouton-menu {
         display: flex;
         align-items: center;
         width: 100%;
         max-width: 500px;
         flex: 40;
         margin-top: 15px;
         justify-content: space-between;
     }

     #choix-langue {
        margin-left: 0;
    }
    
}
@media(max-width: 1025px) {
    .main-menu .item-menu{
        text-transform: uppercase;
    }
    .navbar-brand img{
        max-width: 80%;
    }
    .item-menu li.nav-item{
        font-size: 7.5pt !important;
    }
    .main-menu #connexion,.main-menu #choix-langue select {
        font-size: 8pt;
    }
    .main-menu #inscrire{
        height: 35px !important;
        font-size: 8pt;
        min-width: 110px;
    }
    .main-menu #connexion{
        min-width: 95px;
    }
    .main-menu #choix-langue select{
        min-width: 75px;
        width: 75px;
    }
    .banner-element-slug img{
        width: 15vw;
        display:  block !important;
        margin-top: 5vw;
    }
    .text-banner-home {
        margin-top: 3.756515vw!important;
    }
    #sous-titre-banner{
        font-size: 18px !important;
    }
    label#label-form-search{
        margin-bottom: 0 ;
    }
    .category-filter label{
        font-size: 16px !important;
    }
    .choix-moteur-sans-formation, div#choix-1{
        height: 32px !important;
    }
    .content-filter .item .multiselect .multiselect__placeholder, .content-filter .multiselect__single{
        font-size: 12px !important;
    }
}

@media(max-width:834px) {
    .main-menu .item-menu li {
        margin-right: 15px;
    }
    .main-menu #choix-langue {
        margin-right: 0;
    }
    .main-menu #choix-langue,
    .main-menu #choix-langue select {
        min-width: unset;
        width: unset; 
    }
    .navbar-brand{
        margin-right:0 !important;
    }
}
@media(max-width:798px) {
    .main-menu #choix-langue {
        margin-right: 0;
        max-width: 50px;
    }
    .main-menu .item-menu li {
        margin-right: 10px;
    }
}
@media(max-width:426px) {
    .navbar-brand img {
        max-width: 60%;
    }
    .logo-menu {
        margin: 0 auto;
        text-align: center;
    }
}
@media screen and (min-width:1100px) and (max-width: 1285px){
    .main-menu .bouton-menu,
    .main-menu #menu{
        flex: 50;
    }
    .main-menu .element-menu {
        margin-top: .8rem;
    }
    .main-menu #inscrire {
        min-width: 100px;
        font-size: 14px;
        height: 40px;
    }
}
@media screen and (min-width:1329px) and (max-width: 1369px){
    .main-menu #inscrire {
        min-width: 105px;
        height: 43px;
    }
}
.router-link-active{
    position: relative;
}
