/*** menu **/

@media screen and (min-width: 1401px) and (max-width: 1920px) {
    .main-menu .item-menu li {
        font-size: 15px;

    }
}

@media screen and (min-width: 800px) and (max-width: 1400px) {
    .main-menu .item-menu li {
        font-size: 13px;
        margin-right: 20px;
    }
    .main-menu #choix-langue select {
        font-size: 13px;
    }
}

@media screen and (max-width: 1400px) {
    .main-menu #connexion {
        justify-content: center;
        font-size: 13px;
    }

}

 @media screen and (max-width: 1980px) and (min-width: 1281px) {
    .main-menu {
         flex-direction: row;


    }

    .main-menu  .element-menu {
         display: flex;
         align-items: center;
         width: 100%;
         flex: 40;
   
    }

    .main-menu  #menu {
         flex: 60;
         text-align: right;
         padding-right: 5%;
         justify-content: center;
         display: flex;
         margin-top: 15px;
    }

    .main-menu  .item-menu {
         display: flex;
         justify-content: end;
    }

    .main-menu  .item-menu li {
         width: auto;
         height: 24px;
         text-align: center;
         letter-spacing: 0px;
         color: #FFFFFF;
         text-transform: uppercase;
         font-family: 'NunitoSans-Bold';
         display: inline;
         margin-right: 30px;
         margin-left: 20px;
     }

     .main-menu   .bouton-menu {
         display: flex;
         align-items: center;
         width: 100%;
         max-width: 500px;
         flex: 40;
         margin-top: 15px;
         justify-content: space-between;
     }

     #choix-langue {
        margin-left: 0;
    }
    
}
@media(max-width: 1315px){
    .chiffre {
        font-size: 1.8rem;
    }
}
@media screen and (max-width: 1279px){
    #titre-banner {
        font-size: 3vw;
        color: #fff;
        line-height: 65px;
        font-family: 'NunitoSans-Bold';
        margin-bottom: 0;
        font-weight: bold;
    }

    .logo-menu {
        margin-bottom: 18px;
    }

    #contenu-introduction {
        line-height: 5px;
        font-size: 12px;
    }
    #contenu-introduction {
        max-width: 670px;
        color: #fff;
        line-height: 40px;
        text-align: left;
        margin-right: 10px;
        margin-top: 20px;
    }

    #sous-titre-banner {
        font-size: 20px;
        color: #FFFFFF;
        font-family: 'NunitoSans-Bold';
        margin-bottom: 20px;
    }
    .text-banner-home {
        margin-top:80px !important;
    }

    #titre-banner {
        font-size: 3vw;
        color: #fff;
        line-height: 50px;
        font-family: 'NunitoSans-Bold';
        margin-bottom: 0;
        font-weight: bold;
        margin-top: 20px;
    }

    .home-page {
        background-color: #13AD9E;
    }

    .scholarship-result-form .contenu-result-item-contenu p.tittle {
        font-size: 12px;
    }



}


@media screen and (max-width: 1280px) {
    .info_contry_title span{
        white-space: nowrap;
        white-space: -webkit-nowrap;
    }
    .banner-element-slug {
        margin: auto;
        text-align: center;
        font-family: 'NunitoSans-SemiBold';
    }

    .introduction {
        margin-top: 10vw;
        padding-bottom: 10vw;
    }

    #titre-introduction {
        font-size: 3vw;
    }

    #contenu-introduction {
        line-height: 2vw;
        font-size: 1.1vw;
    }

    #titre-parcours {
        padding-top: 5vw;
        font-size: 2.5vw;
        margin-bottom: 5vw;
    }

    .parcours {
        width: 400px;
        height: 300px;
        margin-right: 10px;
    }
    #colonne-1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .parcours img {
        width: 20%;
    }

    .description-parcours {
        font-size: 18px;
    }

    .lien-parcours {
        font-size: 14px;
    }
    
    #titre-quelques-chiffres {
        font-size: 24px;
        padding-top: 0%;
    }

    #citation-description {
        font-size: 18px;
    
    }
    #auteur-citation {
        font-size: 13px;
   
    }

    .avis-des-gens {
        padding-top: 140px;
    }
    .contenu-chiffres {
        max-width: 215px;
        height: 60px;
        border-radius: 66px;
        margin-top: 20px;
        padding: 2.5rem 0;
    }
    .chiffre {
        font-size: 21px;
    }
    .description-chiffre {

        font-size: 14px;
    }

    #titre-avis {
        font-size: 30px;
 
    }


}

@media(min-width: 1280px){
    .text-banner-home {
        margin-top: 2vw !important;
    }

    #titre-banner {
        font-size: 3vw;
        color: #fff;
        line-height: 80px;
        font-family: 'NunitoSans-ExtraBold';
        margin-bottom: 0;
        font-weight: bold;
    }

    #img-banner {
        width: 15vw;
    }

    .banner-element-slug {
        margin: auto;
        text-align: center;
        font-family: 'NunitoSans-SemiBold';
    }


    /**introduction **/
    .introduction {
        margin-top: 26vw;
        padding-bottom: 10vw;
    }

    #titre-introduction {
        font-size: 3vw;
    }

    #contenu-introduction {
        line-height: 2vw;
        font-size: 1vw;
    }

    #bouton-introduction {
        width: 18vw;
        font-size: 1vw;
    }

    #titre-parcours {
        padding-top: 5vw;
        font-size: 2.5vw;
        margin-bottom: 5vw;
    }


    #colonne-1 {
        display: flex;
        width: 100%;
        justify-content: space-around;
    }

    #titre-quelques-chiffres {
        padding-top: 10vw;
        font-size: 2.5vw;
    }

    .citation-description {
        font-size: 1.2vw;
    }

    /** side-bar **/
    .nav-brand {
        border-bottom: 2px solid #31BDB0;
        /* height: 95px; */
        height:75px;
        padding: 0;
    }
    .menu-vertical {
        padding-left: 2vw;
    }
 
}

@media(min-width: 1025px){
    .banner-elements {
        text-align: center;
        margin-top: 5vw;
    }
    .contry-item .info_contry_value {
        font-size: 12px !important;
    }
}
@media screen and (max-width:1500px){
    .nav-brand {
        padding: 0 1.25rem;
    }
}
@media screen and (min-width:769px){
    .logo-profil  {
        display: none;
    }
}
@media screen and (max-width: 855px){
    .parcours {
        width: 350px;
    }
}
@media screen and (max-width: 768px){
    .home-page .category-filter{
        flex-direction: row !important;
        align-items: center !important;
        justify-content: center;
    }
    .logo-profil{
        width: 45px;
    }
    .navbar-brand {
        margin-right: 0 !important;
    }
    .parcours {
        width: 270px;
        height: 250px;
    }
    .description-parcours {
        font-size: 14px;
    }
    #titre-banner {
        font-size: 32px;
    }
    .banner-elements{
        margin-top: 40px;
    }
}
@media (max-width:426px){
    .home-page .parcours {
        height: 215px !important;
    }
    .home-page .choix-moteur-sans-formation #choix-1, .home-page  #label-form-search{
        font-size: 12px !important;
    }
    .scholarship-search-form {
        margin-top: 35px;
    }
    
    .contenu-chiffres .chiffre {
        font-size: 14px;
    }
    .description-chiffre {
        font-size: 10px;
    }
    .contenu-chiffres {
        max-width: 150px !important;
    }
    #citation-description {
        font-size: 14px;
        margin-top: 10px;
    }
    #auteur-citation {
        font-size: 12px;
    }
    #colonne-1 {
        justify-content: space-around;
    }
    .parcours {
        width: 400px;
        height: 300px;
        max-width: 45%;
    }
    .description-parcours {
        font-size: 10px;
    }
    .lien-parcours{
        font-size: 12px !important;
    }
    .conteneur-parcours {
        padding-top: 25px !important;
    }
    #titre-parcours {
        font-size: 3.5vw  !important;
    }
    #titre-banner {
        margin-top: 75px !important;
        font-size: 24px;
        line-height: 1.5;
        margin-bottom: 25px;
    }
    .home-page button.btn-default.has-icon {
        padding: .5vh 8vw !important;
    }
    #bloc-btn {
        padding-top: 0 !important;
    }
    .banner-element-slug {
        max-width: 80%;
    }
    .home-page #sous-titre-banner{
        display: none;
    }
    .contenu-result #formation, .contenu-result #bourse{
        border-right: unset !important;
    }
    .contenu-result #montant-container{
        border-bottom: unset !important;
    }
    .scholarship-result-form .contenu-result-item-contenu span {
        font-size: 20px !important;
    }
    .contenu-result p.value {
        font-size: 18px !important;
    }
    .scholarship-result-form .contenu-result-item-logo img {
        width: 4.562225vw !important;
    }
    .home-page button.btn-default.has-icon {
        margin-top: 5px !important;
    }
    .scholarship-result-form .contenu-result-item {
        padding: 10px !important;
    }
    .scholarship-result-form .contenu-result-item-contenu p.tittle {
        font-size: 10px !important;
    }
    #contenu-introduction {
        line-height: 1.5 !important;
        font-size: 10px !important;
    }
    .home-page .conteneur-parcours > div {
        margin-top: 25px !important;
    }
}
@media (max-width:375px){
    .category-filter {
        justify-content: center;
    }
    .home-page  .banner-elements .px-5{
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
}
@media (max-width:320px){
    .home-page .scholarshipSearchForm {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
    .home-page .category-filter label {
        font-size: 12px !important;
    }
    .home-page .choix-moteur-sans-formation #choix-1{
        font-size: 12px !important;
    }
}
@media (max-width:425px){
    span.multiselect__tag span {
        font-size: 12px !important;
    }
}

