<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Les grimpeurs{% endblock %}</title>
        {% block stylesheets %}
             {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block meta %} {% endblock %}
    
    </head>
    <body>
        {% block body %}  
        
        {% endblock %}

        {% block javascripts %}
          {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html
