<template>
  <div class="avis-des-gens">
    <h2 id="titre-avis">{{ $t("page.commun.title-notice") }}</h2>
    <div class="cycle-avis">
      <div class="cycle-choix" :class='{"active" : current=="student" }' id="cycle-1" @click="open('student')">{{ $t("word.students") }}</div>
      <div class="cycle-choix" :class='{"active" : current=="university" }'  @click="open('university')" id="cycle-2">{{ $t("word.universities") }}</div>
      <div class="cycle-choix" :class='{"active" : current=="organization" }'  @click="open('organization')" id="cycle-3">{{ $t("word.organizations") }}</div>
    </div>
    <div class="elements-avis">
      <div class="image-loading" v-if="loading.state">
            <img :src="loading.image">
      </div>
      <div class="image-loading" v-if="!loading.state && testimonial.length == 0 ">
            <p>{{$t('word.no_recording')}}</p>
      </div>
      <div class="element-avis" v-for="a in testimonial" :key="a.id" >
        <div class="avatar-gens">
          <img :src="urlPhoto(a)" />
        </div>
        <div class="contenu-avis">
          <h5 class="nom-prenom-gens">{{a.name}}, {{a.age != null ? a.age + '  ' + $t("word.years_old") : ''}}</h5>
          <h5 class="domaine-gens">{{a.parcours != null ? a.parcours : ''}}</h5>
          <h5 class="pays-gens">{{a.country}}</h5>
          <p class="description-avis">
              {{a.content}}
          </p>
        </div>
      </div>
    </div>
    <div id="scroll">
        <div id="contenu-scroll"></div>
    </div>

  </div>
</template>
<script>
import TestimonialService  from '../../services/common/TestimonialService'
export default {
  name: "Testimonial",
  data : function() {
    return  {
      testimonial : [],
      loading : {
            state : false,
            image : require('@/assets/img/loading.gif').default
      },
      largeurContenu : 0

    }
  },
  props: {
      current: {
          type: String,
          default: 'student'
      }
  },
  //components: {TestimonialService},
  methods : {
    open(type) {
      this.loading.state = true;
      this.testimonial = []
      this.current  = type;
      if(type == 'student') {
        this.getStudent()
      }

      if(type == 'university') {
        this.getUniversity()
      }

     if(type == 'organization') {
        this.getOrganization()
      }
    },
    getStudent() {
      let that = this;
      TestimonialService.TestimonialStudent()
      .then(function(response) {
        that.loading.state = false;
        that.testimonial = response.data
      })
      .catch(function(error) {
        that.loading.state = false;
        console.log(error)
      })
    },
    getUniversity() {
      let that = this;
      TestimonialService.TestimonialUniversity()
      .then(function(response) {
         that.loading.state = false;
         that.testimonial = response.data
      })
      .catch(function(error) {
         that.loading.state = false;
        console.log(error)
      })
    },
    getOrganization() {
      let that = this;
      TestimonialService.TestimonialOrganization()
      .then(function(response) {
        that.loading.state = false;
        that.testimonial = response.data
      })
      .catch(function(error) {
        that.loading.state = false;
        console.log(error)
      })
    },
    urlPhoto(data) {
      let reponse = null;
      if(data.type == 'student') {
        reponse = 'uploads/avatar/'+data.thumbnail
      }else{
        reponse = 'uploads/avatar/'+data.thumbnail
      }

      return reponse
    },
    creationScroll(largeurContenu)  {
      let largeurElement = document.getElementsByClassName('elements-avis')[0].offsetWidth ;
      let rapport = (largeurContenu * 100 ) / largeurElement
      let contenuScroll = (400 * rapport ) / 100 //400px largeur de scroll
      document.getElementById('contenu-scroll').style.width = contenuScroll+'px';
    }
  },
  watch:  {
    testimonial : function() {
        this.largeurContenu = (700 * this.testimonial.length) - 80
        this.creationScroll(this.largeurContenu)
    }
  },
  mounted : function(){
    this.getStudent();
    let that = this
    document.getElementById('scroll').addEventListener('scroll', function(e) {
        let largeurElement = document.getElementsByClassName('elements-avis')[0].offsetWidth ;
        document.getElementsByClassName('elements-avis')[0].scrollTo((document.getElementById('scroll').scrollLeft * largeurElement ) / 400,0) //400px largeur de scroll
    })

    window.addEventListener('resize', function() {
      that.creationScroll(that.largeurContenu)
    } );
  }
};
</script>
<style scoped>
  .contenu-avis h5 {
    margin:0;
    font-weight: bold;
  }

  .description-avis {
    margin-top: 20px;
    height: 60%;
    overflow: hidden;
    scrollbar-width: thin;
    font-size: 14px;

  }
  #titre-avis {
      margin: 0;
      text-align: left;
      letter-spacing: 0px;
      color: #444242;
      font-size: 40px;
      font-family: 'NunitoSans-SemiBold';
      margin-bottom: 59px;
  }

  .avis-des-gens {
      padding-top: 175px;
      max-width: 1442px;
      margin: auto;
      padding-bottom: 120px;
      overflow: visible;
  }

  .elements-avis .image-loading {
      margin: auto;
  }
  .elements-avis .image-loading img{
      width: 3rem;
  }

  .element-avis {
      min-width: 620px;
      height: auto;
      background: #FFFFFF 0% 0% no-repeat padding-box;
      display: flex;
      border-radius: 20px;
      margin-right: 80px;
      margin-top: 4%;
      height: 280px;
      max-width: 624px;
  }

  .elements-avis {
      display: flex;
      min-height: 250px;
      padding-bottom: 80px;
      overflow: auto;
      scrollbar-width: none;
      scrollbar-color: #3DC5B7 #B0ECE5;
  }

  .elements-avis::-webkit-scrollbar {
      height: 0;
      background: #B0ECE5;
  }

  .slider-bar-avis {
      height: 6px;
      background: #B0ECE5;
      max-width: 300px;
      margin-top: 70px;
      width: 100%;
  }

  .bar {
      width: 33.33%;
      cursor: pointer;
  }

  #bar-1 {
      background: #3DC5B7;
      height: 6px;
  }



  .avatar-gens {
      width: 130px;
      display: flex;
      align-items: flex-start;
      margin: 40px;
      justify-content: center;
      height: 120px;
      overflow: hidden;
      border-radius: 50%;
    }

  .contenu-avis {
      width: 70%;
      margin-right: 5%;
      margin: 40px 40px 40px 0;
  }

  .avatar-gens img {
      height: 130px;
      width: 120px;
      object-fit: cover;
  }
  .cycle-avis {
      display: flex;
      max-width: 520px;
      width: 100%;
  }

  .cycle-choix {
      width: 33.33%;
      border-bottom: 4px solid #D0CEDA;
      text-align: center;
      padding-bottom: 10px;
      color: #D3D3D3;
      font-family: 'NunitoSans-SemiBold';
      cursor: pointer;
  }

  .cycle-avis .active {
      border-bottom: 4px solid #FF7667 ;
      color: #3C3850;

  }

  .cycle-choix:hover {
      border-bottom: 4px solid #f3b6af;
      color: #6d6791;
  }

  #scroll {
    overflow: auto;
    scrollbar-width: thin;
    width: 400px;
    scrollbar-width: thin;
    scrollbar-color: #3DC5B7 #B0ECE5;
  }


  #scroll::-webkit-scrollbar {
      height: 8px;
      background: #B0ECE5;
  }

  #scroll::-webkit-scrollbar-thumb {
      background: #3DC5B7;
  }

  #scroll::-webkit-scrollbar-button {
    width: 0px; 
  }

  #scroll::-webkit-scrollbar-corner {

      background: #B0ECE5;
  }
  #contenu-scroll {
    height: 7px;
  }
  @media screen and  (max-width:768px) {

    .elements-avis {
      position: relative;
      top: 50%;
      width: 670px;
  }
    .element-avis {
      margin-left: 1rem !important;
  }
    .cycle-choix:hover {
      border-bottom: unset !important;
  }
    .cycle-choix{
      border-bottom: unset !important;
      color: #3C3850 !important;
      font-family: 'NunitoSans-Bold' !important;
      padding: 8px;
    }
    .cycle-avis .active {
      color: #3DC5B7 !important;
      background: #F2F1F5 0% 0% no-repeat padding-box !important;
      padding: 8px !important;
      border-radius: 25px !important;
  } 
    .avis-des-gens{
        padding-left: 0;
        padding-top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
  }
  @media (max-width:426px){
    
    .contenu-avis h5 {
        font-size: 12px;
    }
    .description-avis {
        margin-top: 10px;
        font-size: 10px;
    }
    .avatar-gens {
        width: 130px;
        margin: 25px;
        border-radius: 50%;
        height: 100px;
    }
    .avatar-gens img {
        height: 105px;
        width: 130px;
    }
    .elements-avis {
        position: relative;
        top: 50%;
        left: -2%;
        width: 365px;
    }
    .element-avis {
        display: flex;
        border-radius: 25px;
        margin-right: 0 !important;
        margin-top: 4%;
        min-width: 96% !important;
    }
    .contenu-avis {
        width: 70%;
        margin: 25px 25px 25px 0;
    }
    #scroll {
        width: 40%;
    }
    .avis-des-gens {
        padding-bottom: 50px;
        padding-top: 55px;
    }
    .cycle-avis {
        width: 85%;
    }
    #titre-avis {
        font-size: 24px;
        margin-bottom: 45px;
    }
  }

  @media screen and (max-width:375px){
    .cycle-choix {
      font-size: 14px !important;
  }
  .element-avis {
      min-width: 95% !important;
  }
    .element-avis{
      position:relative;
      top: 50%;
      left: 0%;
      width: 330px;
    }
  }
  @media screen and (max-width: 320px){
  .elements-avis{
      position: relative;
      top: 50%;
      left: 0%;
      width: 300px;
  }
  .cycle-choix {
      font-size: 12px;
  }
  }
  h5.pays-gens {
      font-weight: 500;
      color: #D3D3D3;
  }
  h5.domaine-gens {
      font-weight: 500;
  }
</style>
