{% extends "admin/base.html.twig" %}

{% block title %}
    <h1 class="mt-2"><i class="fa fa-dashboard mr-2"></i>{% trans %}Tableau de board{% endtrans %}</h1>
{% endblock %}

{% block body %}
    <div class="row">
        <a class="col-md-6 col-lg-3" href="{{ path('admin_student_index') }}">
          <div class="widget-small primary coloured-icon"><i class="icon fa fa-users fa-3x"></i>
            <div class="info">
              <h4>{% trans %}Etudiants{% endtrans %}</h4>
              <p><b>{{ students|default('00') }}</b></p>
            </div>
          </div>
        </a>
        <a class="col-md-6 col-lg-3" href="{{ path('admin_organization_index') }}">
          <div class="widget-small primary coloured-icon"><i class="icon fa fa-thumbs-o-up fa-3x"></i>
            <div class="info">
              <h4>{% trans %}Organisme{% endtrans %}</h4>
              <p><b>{{ organizations|default('00') }}</b></p>
            </div>
          </div>
        </a>
        <a class="col-md-6 col-lg-3" href="{{ path('admin_scholarship_index') }}">
          <div class="widget-small primary coloured-icon"><i class="icon fa fa-graduation-cap fa-3x"></i>
            <div class="info">
              <h4>{% trans %}Bourses{% endtrans %}</h4>
              <p><b>{{ scholarships|default('00') }}</b></p>
            </div>
          </div>
        </a>
        <a class="col-md-6 col-lg-3">
          <div class="widget-small primary coloured-icon"><i class="icon fa fa-files-o fa-3x"></i>
            <div class="info">
              <h4>Candidatures</h4>
              <p><b>{{ applications|default('00') }}</b></p>
            </div>
          </div>
        </a>
    </div>
{% endblock %}