{% set institution = app.request.query.get('institution')|default('all') %}

<div class="btn-group btn-group-toggle" >
    <a href="{{removeParam('institution')}}" class="navigator navigator-{{ institution == 'all' ? 'primary':'secondary' }}">
        {% trans %}Tous{% endtrans %}
    </a>
    <a href="{{appendParam('institution', 'foundation')}}" class="navigator navigator-{{ institution == 'foundation' ? 'primary':'secondary' }}">
        {% trans %}Fondation{% endtrans %}
    </a>
    <a href="{{appendParam('institution', 'university')}}" class="navigator navigator-{{ institution == 'university' ? 'primary':'secondary' }}">
       {% trans %} Université{% endtrans %}
    </a>
    <a href="{{appendParam('institution', 'company')}}" class="navigator navigator-{{ institution == 'company' ? 'primary':'secondary' }}">
       {% trans %} Entreprise{% endtrans %}
    </a>
    <a href="{{appendParam('institution', 'research-center')}}" class="navigator navigator-{{ institution == 'research-center' ? 'primary':'secondary' }}">
       {% trans %} Centre de recherche{% endtrans %}
    </a>
    <a href="{{appendParam('institution', 'admnistration')}}" class="navigator navigator-{{ institution == 'admnistration' ? 'primary':'secondary' }}">
       {% trans %} Admnistration{% endtrans %}
    </a>
    <a href="{{appendParam('institution', 'association-and-osbl')}}" class="navigator navigator-{{ institution == 'association-and-osbl' ? 'primary':'secondary' }}">
       {% trans %} Association{% endtrans %}
    </a>
</div>