{% form_theme form.socialNetwork 'form_theme/_social_network_form_theme.html.twig' %}
{% form_theme form.statistical 'form_theme/_statistical_form_theme.html.twig' %}

{{ form_start(form , {'attr': {'id':'admin-organization-form', 'class':form_class|default('admin-organization-form-add') }}) }}
  
    {{ include('admin/organization/_form_parts/_infos_general.html.twig') }}
    
    {{ include('admin/organization/_form_parts/_adresse.html.twig') }}

    {{ include('admin/organization/_form_parts/_contact.html.twig') }}
    
    {{ include('admin/organization/_form_parts/_stat.html.twig') }}
    
    {{ include('admin/organization/_form_parts/_social_network.html.twig') }}
        
    {{ include('admin/organization/_form_parts/_cover.html.twig') }}
    
    {{ include('admin/organization/_form_parts/_gallery.html.twig') }}
    
    <div class="tile p-3">
       {{ include('admin/organization/_form_parts/_user.html.twig') }}
        <div class="tile-footer text-right mt-5">
            <button class="btn btn-primary mr-3" type="submit" id="admin-organization-form--validate">
                <i class="fa fa-fw fa-lg fa-check-circle"></i>
                {% if button_label|default(false) %}
                    {% trans %}Modifier{% endtrans %}
                {% else %}
                    {% trans %}Enregistrer{% endtrans %}
                {% endif %}
            </button>
            <a class="btn btn-secondary" href="{{ path('admin_organization_index') }}"><i class="fa fa-fw fa-lg fa-times-circle"></i>{% trans %}Annuler{% endtrans %}</a>
        </div>
    </div>
{{ form_end(form) }}

{% include "admin/components/modal_cropper.html.twig" %}

