{% extends 'admin/base.html.twig' %}

{% block title %}{% trans %}Edit Organization{% endtrans %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app_admin_organization') }}
{% endblock %}
{% block actions %}
    <a class="btn btn-primary" href="{{ path('admin_organization_index') }}">{% trans %}Retour{% endtrans %}</a>
    {{ include('admin/organization/_delete_form.html.twig') }}
{% endblock %}

{% block body %}
    {{ include('admin/organization/_form.html.twig', {'button_label': 'Modifier' , 'form_class' : 'admin-organization-form-edit'}  ) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key={{ gmap_key }}"></script>
    {{ encore_entry_script_tags('app_admin_organization') }}
{% endblock %}