{% extends 'admin/base.html.twig' %}

{% block title %}{% trans %} Liste des organismes {% endtrans %}{% endblock %}
{% block actions %}
     <a class="btn btn-primary" href="{{ path('admin_organization_new') }}">{% trans %}Ajouter{% endtrans %}</a>
{% endblock %}
{% block body %}
    <div class="tile">
        <div class="tile-body p-2">
            <div class="table--filter">
                <div class="bs-component">
                    {{ include('admin/organization/_filter_navigation.html.twig') }}
                </div>
                <form class="search-input float-right">
                    <div class="input-group my-2">
                        {% set q = app.request.query.get('q')|default('') %}
                        {% set institution = app.request.query.get('institution')|default(false) %}
                        <input  type="search" class="form-control" name="q" value="{{ q }}" placeholder="Rechercher" aria-label="Rechercher" aria-describedby="basic-addon">
                        {% if institution %}
                            <input  type="hidden" value="{{ institution }}" name="institution">
                        {% endif %}
                        <div class="input-group-append">
                            <button type="submit" class="input-group-text" id="basic-addon">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <table class="table table-hover table-bordered no-footer admin-table">
                <colgroup>
                    <col span="1" style="width: 5%;" />
                    <col span="1" style="width: 5%;"/>
                    <col span="1" style="width: 25%;" />
                    <col span="1" style="width: 20%;" />
                    <col span="1" style="width: 15%;"/>
                    <col span="1" style="width: 10%;" />
                    <col span="1" style="width: 5%;"/>
                    <col span="1" style="width: 5%;"/>
                </colgroup>
                <thead class="thead-green">
                    <tr>
                        <th class="text-center">#</th>
                        <th class="text-center">Logo</th>
                        <th>{% trans %}Nom{% endtrans %}</th>
                        <th>{% trans %}Email{% endtrans %}</th>
                        <th>{% trans %}Type d'institution{% endtrans %}</th>
                        <th>{% trans %}Date de création{% endtrans %}</th>
                        <th>{% trans %}Active{% endtrans %}</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for organization in organizations %}
                    <tr>
                        <td class="text-center">{{ organization.id }}</td>
                        <td  class="text-center">
                            {% set logo = organization.logo ? '/uploads/logo/' ~ organization.logo :  asset('build/admin/images/organization.svg') %}
                            <img src="{{ logo }}" height="25"> 
                        </td>
                        <td>{{ organization.name }}</td>
                        <td>
                            <a href="mailto:{{ organization.email }}">
                                {{ organization.email }}
                            </a>
                        </td>
                        <td>{{ organization.institutionType.name|default('...') }}</td>
                        <td>{{ organization.createdAt|date('d-m-Y') }}</td>
                        <td>
                            {% include "admin/components/_status_switcher.html.twig" with { 'form_path': path('admin_user_switch_account_status'), 'input_name' :'user', 'input_value' :organization.id, 'checkbox_enabled' : organization.enable, 'confiramtion_message' : 'Voulez vous lorem ...'} %}
                        </td>
                        <td class="text-right">
                            <div class="admin-table--actions">
                                <div class="dropdown">
                                    <button class="dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="circle"></span>
                                        <span class="circle"></span>
                                        <span class="circle"></span>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                         <a class="dropdown-item" href="{{ path('admin_scholarship_index', {'relatedOrganization': organization.id}) }}" class="mr-4">
                                            <span class="fa fa-graduation-cap"></span>
                                            <span>Bourses lié</span>
                                        </a>
                                        <a class="dropdown-item" href="/organization/{{ organization.slug }}" target="_blank"  class="mr-4">
                                            <span class="fa fa-link"></span>
                                            <span>Page profil</span>
                                        </a>
                                        <a class="dropdown-item" href="{{ path('admin_organization_show', {'id': organization.id}) }}"  class="mr-4">
                                            <span class="fa fa-eye"></span>
                                            <span>Detail</span>
                                        </a>
                                        <a class="dropdown-item" href="{{ path('admin_organization_edit', {'id': organization.id}) }}" class="">
                                            <span class="fa  fa-pencil"></span>
                                            <span>Modifier</span>
                                        </a>
                                        <div class="dropdown-item">
                                            {{ include('admin/organization/_delete_form.html.twig', {'wrapper_class':'mx-0'}) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">{% trans %}Aucun enregistrement trouvé{% endtrans %}</td>
                    </tr>
                {% endfor %}
                  </tbody>
            </table>
        </div>
        <div class="tile-footer text-right">
            {{ include('/admin/components/_paginator.html.twig', {'route_name': 'admin_organization_index'}) }}
        </div>
    </div>
{% endblock %}

