{% extends 'admin/base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app_admin_organization') }}
{% endblock %}

{% block title %}{% trans %}Nouvelle organisation{% endtrans %}{% endblock %}
{% block body %}
    {{ include('admin/organization/_form.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDTwj2O4qoWP23dnIS3Uxz7pVFg9KxDS60"></script>
    {{ encore_entry_script_tags('app_admin_organization') }}
    
{% endblock %}
