{% extends 'admin/base.html.twig' %}

{% block title %}Admin - {{ organization.name}} {% endblock %}

{% block actions %}
    <a class="btn btn-primary" href="{{ path('admin_organization_index') }}">{% trans %}Retour{% endtrans %}</a>
    <a class="btn btn-primary" href="{{ path('admin_organization_edit', {'id': organization.id}) }}">{% trans %}Modifier{% endtrans %}</a>
    {{ include('admin/organization/_delete_form.html.twig') }}
{% endblock %}


{% block body %}
    <div class="tile p-3">
        <div class="tile-body">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ organization.id }}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{ organization.email }}</td>
                    </tr>
                    <tr>
                        <th>Active</th>
                        <td>{{ organization.enable ? 'Oui' : 'Non' }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}Prénom{% endtrans %}</th>
                        <td>{{ organization.firstname }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}Nom{% endtrans %}</th>
                        <td>{{ organization.lastname }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}Date de naissance{% endtrans %}</th>
                        <td>{{ organization.dateOfBirth ? organization.dateOfBirth|date('Y-m-d') : '' }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}Téléphone{% endtrans %}</th>
                        <td>{{ organization.phone }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}Adresse{% endtrans %}</th>
                        <td>{{ organization.adress }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}Nom de l'organisme{% endtrans %}</th>
                        <td>{{ organization.name }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}Slug{% endtrans %}</th>
                        <td>{{ organization.slug }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}Logo{% endtrans %}</th>
                        <td>{{ organization.logo }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}Année de création{% endtrans %}</th>
                        <td>{{ organization.yearOfCreation }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}Numéro de siret{% endtrans %}</th>
                        <td>{{ organization.siretNumber }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}Nom president{% endtrans %}</th>
                        <td>{{ organization.presidentName }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}Site{% endtrans %}</th>
                        <td>{{ organization.website }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}Accréditation{% endtrans %}</th>
                        <td>{{ organization.accreditation }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}Description{% endtrans %}</th>
                        <td style="width:70%">
                            {{ organization.description }}
                        </td>
                    </tr>
                    <tr>
                        <th>{% trans %}Adresse{% endtrans %}</th>
                        <td>{{ organization.adresse }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}Code postale{% endtrans %}</th>
                        <td>{{ organization.postalCode }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}Nom contact{% endtrans %}</th>
                        <td>{{ organization.contactName }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}Avatar{% endtrans %}</th>
                        <td>{{ organization.avatar }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}Numéro{% endtrans %}</th>
                        <td>{{ organization.phoneNumber }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}Email{% endtrans %}</th>
                        <td>{{ organization.organizationEmail }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}Photo de couverture{% endtrans %}</th>
                        <td>{{ organization.coverPicture }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}Adresse{% endtrans %}</th>
                        <td>{{ organization.adresseMap }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}Crée le{% endtrans %}</th>
                        <td>{{ organization.createdAt ? organization.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}Modifié le{% endtrans %}</th>
                        <td>{{ organization.updatedAt ? organization.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}Derniere connexion{% endtrans %}</th>
                        <td>{{ organization.lastLogin ? student.lastLogin|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Adresse IP</th>
                        <td>{{ organization.ip }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
