{% extends 'admin/base.html.twig' %}

{% block title %}FAQ{% endblock %}

{% block body %}
    <div class="row user">
        
        <div class="col-md-3">
            {{ include('admin/grimpeurs/faq/parts/_thematic-list.html.twig') }}
        </div>

        <div class="col-md-9">
            {% include "admin/grimpeurs/faq/parts/_question-list.html.twig" %}
        </div>
    </div>

    {% include "admin/grimpeurs/faq/parts/_thematic-form.html.twig" with {'form': thematicForm} only %}
    {% include "admin/grimpeurs/faq/parts/_question-form.html.twig" with {'form': questionForm} only %}

{% endblock %}



