<template>
    <div class="element-menu-horizontal menu-desktop" :class="col">
        <ul id="menu-top">
            <template v-for="menu, index in data" >
                <li class="item-menu-top" :key="'menu-item-'+index">
                    <!-- BEGIN menu with children --> 
                        <template v-if="menu.hasOwnProperty('children')">
                            <div class="submenu-dropdown dropdown">
                                <a href="#" @click.prevent="toogleMenuDropdown(index)">
                                    <span class="dropdow--toogler-text">
                                        {{ menu.text }} 
                                    </span>
                                    <span class="dropdow--toogler-icon">
                                        <img :src="img_dropdown" alt="" />
                                    </span>
                                </a>
                                <div class="dropdown-menu"  :class="{ show: dropdownState(index) }" aria-labelledby="navbarDropdown">
                                    <template v-for="subMenu, sIndex, in menu.children" >
                                        <router-link :to="subMenu.route" :key="'submenu-item-'+sIndex" >
                                            {{ subMenu.text }} 
                                        </router-link>
                                    </template>
                                </div>
                            </div>
                        </template>
                    <!-- END menu with children -->
                    <!-- BEGIN Single menu -->
                        <template v-else>
                            <router-link :to="menu.route ? menu.route : menu.link" >
                                {{ menu.text }}
                            </router-link>
                        </template>
                    <!-- END Single menu -->
                </li>
            </template>
        </ul>
    </div>
</template>

<script>
export default {
    name: "DesktopNavigationTop",

    props: {
        data: {
            require   : true,
        },
        col: {
            default: 'col-sm-7'
        }
    },

    data: function(){
        return {
            dropdowns : [],
            img_dropdown: require("@/assets/img/dropdown.png").default,
        }
    },

    methods: {
        /**
         * Toogle menu dropdown state
         * 
         * @param  {Integer} index
         * @return void
         */
        toogleMenuDropdown: function(index){
            let dpi = this.dropdowns.findIndex(item => item.index === index)
            this.dropdowns[dpi].state = !this.dropdowns[dpi].state
        },

        closeMenuDropdown: function(index){
            console.log("close menu")
            ///let dpi = this.dropdowns.findIndex(item => item.index === index)
            //this.dropdowns[dpi].state = false
        },
        updateDropdowState: function(){
            for (let index = 0; index < this.data.length; index++) {
                const menu =  this.data[index]
                if(menu.children){
                    this.dropdowns.push({
                        index : index,
                        state : false}
                    )
                }
            }
        },
        dropdownState: function(index){
            let open = this.dropdowns.findIndex(item => (item.index === index ) && item.state )
            return open > -1
        }
    },

    mounted: function(){
        this.updateDropdowState()
    }
}
</script>

<style scoped>
    .submenu-dropdown .dropdown-menu.show {
        margin-top: 1.6rem;
        padding: 5px 10px;
        border-top: unset;
    }

    .submenu-dropdown .router-link-active::after{
        content: unset !important;
    }
</style>