<template>
  <div class="mobile-menu-left home-menu">
        <div class="menu-closer">
            <button class="menu-closer-btn" @click="$emit('close')"></button>
        </div>
        <ul class="mobile-menu-left-container">
            <li class="menu-item">
            <router-link :to="{'name' : 'student_home' }">
                {{ $t("menu.students") }}
            </router-link>
            </li>
            <!-- <li class="menu-item">
                <a >{{ $t("menu.universities") }}</a>
            </li> -->
            <li class="menu-item">
            <router-link :to="{'name' : 'organization_home' }">
                {{ $t("menu.organisation") }}
            </router-link>
            </li>
        </ul>
        <div class="bouton-menu" >
            <form id="choix-langue">
            <LangSwitcher></LangSwitcher>
            </form>
                <button @click="$emit('login')" id="connexion">
                    {{ $t("menu.login") }}
                </button>
                <slot name="right-actions" >
                <!--- Button inscription or connexion -->
                <a @click.prevent="$emit('register')" id="inscrire">{{ $t("menu.signin") }}</a>
            </slot>
        </div>
    </div>
</template>

<script>
    import LangSwitcher  from "@/components/LangSwitcher.vue"
    export default {
        name: 'HomeMobileMenu',

        components: {
            LangSwitcher
        }
    }
</script>

<style>

</style>