<template>
    <div class="mobile-nav-container d-none">
      <div class="mobile-nav-item">
          <button class="btn btn-home" @click="$router.push({'name' : 'home' })">
            <img :src="img_home" />
          </button>
      </div>
      <div class="mobile-nav-item">
          <button class="btn btn-chat" @click="$router.push({'name' : 'user-favoris' })">
            <img :src="img_favoris" />
          </button>
      </div>

      <div class="mobile-nav-item">
          <button class="btn btn-search" @click="$router.push({'name' : 'scholarship_search' })">
            <img :src="img_search" />
          </button>
      </div>
      <div class="mobile-nav-item">
          <button class="btn btn-search" @click="$emit('openMenu')">
             <img :src="img_burger" />
          </button>
      </div>
    </div>
</template>

<script>
export default {
    name: "MobileNavigationBar",
    data: function(){
        return {
            img_burger: require("@/assets/img/icon-burger-active.svg").default,
            img_search: require("@/assets/img/icon-search-grey.svg").default,
            img_favoris: require("@/assets/img/Favoris-sholarship.svg").default,
            img_home: require("@/assets/img/icon-home.svg").default,
        }
    }
}
</script>

<style>

</style>