@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap/dist/css/bootstrap-grid.min.css";
@import "~chosen-js/chosen.min.css";

@import '~font-awesome/css/font-awesome.min.css';
@import '~flag-icon-css/css/flag-icon.min.css';
@import "~cropperjs/dist/cropper.min.css";
@import "~cropperjs/dist/cropper.min.css";
@import "~intl-tel-input/build/css/intlTelInput.min.css";
@import "./draggable-file.css";
@import "./thumbnail.css";
@import "./style.css";



/*Regle global*/
@font-face {
  font-family: "NunitoSans-Regular";
  src: url("~@/assets/css/fonts/NunitoSans-Regular.ttf");
}
@font-face {
  font-family: "NunitoSans-SemiBold";
  src: url("~@/assets/css/fonts/NunitoSans-SemiBold.ttf");
}
@font-face {
  font-family: "NunitoSans-Bold";
  src: url("~@/assets/css/fonts/NunitoSans-Bold.ttf");
}
@font-face {
  font-family: "NunitoSans-LightItalic";
  src: url("~@/assets/css/fonts/NunitoSans-LightItalic.ttf");
}

body p, body label, body input
{
  font-family: "NunitoSans-Regular";
}