.drag-area {
  outline: 2px dashed #92b0b3;
  outline-offset: -10px;
  -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
  transition: outline-offset .15s ease-in-out, background-color .15s linear;
  padding: 120px 0px 85px 35%;
  text-align: center !important;
  margin: 0;
  width: 100% !important;
  cursor: pointer;     
  outline: 2px dashed #2ea591;  outline-offset: -10px;
  -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
  transition: outline-offset .15s ease-in-out, background-color .15s linear; border:1px solid #92b0b3;
}

.drag-area{ position:relative; min-height: 325px;}

.drag-area .file-preview{  
  position: absolute;
  left: 0;
  top: 13%;
  opacity: 0.5;
  display: flex;
  overflow: hidden;
  width: 100%;
  max-height: 60%;
  min-height: 60%;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}

.drag-area .input-file {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  opacity: 0;
  z-index: 10;
}

.drag-area legende{
  position: absolute;
  bottom: 10px;
  left: 0;  pointer-events: none;
  width: 100%;
  right: 0;
  height: 57px;
  display: block;
  margin: 0 auto;
  color: #2ea591;
  font-weight: 600;
  text-align: center;
}

.drag-area .legende
 {
  display: block !important;
  width: 100% !important;
  position: absolute !important;
  left: 0 !important;
  bottom: 1rem !important;
}

/** multiple **/
.drag-area--multiple .file-preview{  
  opacity: 1 !important;
}
.drag-area--multiple .file-preview img:not(.default-img) {
  width: 70px !important;
  height: 70px !important;
  object-fit: inherit !important;
  object-position: center !important;
  margin-right: 5px !important;
  border-radius: 5px !important;
}
.file-preview.cover-image-preview img{
  max-width:30%;
}