.cover-preview-wrapper {
  max-width: 150px;
  text-align: center;
}

.input-file-preview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
span.tooltip-logo#legende-file, span.tooltip-logo#avatar-legende-file{
  display: block;
  text-align: center;
}
