span.tooltip-logo#legende-file, span.tooltip-logo#avatar-legende-file{
  display: block;
  text-align: center;
}
.gallery-picture-wrapper--container .input-file-preview {
  width: 150px !important;
  height: 150px !important;
  overflow: hidden;
  display: flex !important;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  margin: auto !important;
}

.gallery-picture-wrapper--container .input-file-preview  .gallery-picture-wrapper--btn-edit {
  position: absolute !important;
}
