@import "./components/_navbar.css";
@import "./components/_faq.css";

/*** override select picker style */
.bootstrap-select>.dropdown-toggle.bs-placeholder, .bootstrap-select>.dropdown-toggle.bs-placeholder:active, .bootstrap-select>.dropdown-toggle.bs-placeholder:focus, .bootstrap-select>.dropdown-toggle.bs-placeholder:hover {
  color: unset !important;
 }
 
 .chosen-container {
   max-width: 100% !important;
   min-width: 100% !important;
 }
 
 .chosen-container-single .chosen-single{
   background: #FFF !important;
   border: 2px solid #ced4da !important;
   height: calc(1.5em + 0.75rem + 4px) !important;
   padding: 0.3rem 0.75rem !important;
   color: #495057 !important;
 }
 
 
 
 .chosen-container-multi .chosen-choices{
   background: #FFF !important;
   border: 2px solid #ced4da !important;
   padding-top: 0.1rem !important;
   height: calc(1.5em + 0.75rem + 4px) !important;
   color: #495057 !important;
   border-radius: 5px !important;
 
 }
 .chosen-container-single .chosen-single div b {
   margin-top: 5px;
 }
 
 .chosen-container .chosen-results li.highlighted {
   background-color: #009688 !important;
   background: #009688 !important;
   background-image: unset !important;
   background-image: unset !important;
 }
 
 .map-preview-container {
     overflow: hidden;
     height: 120px;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 /*** override input tel style -*/
 .iti.iti--allow-dropdown {
   display: block !important;
 }
 .iti.iti--allow-dropdown div:focus{
   outline : unset !important;
 }

 .admin-table--actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.admin-table--actions .toggle.lg input[type="checkbox"] + .button-indecator:before {
  font-size: 20px !important;
} 
.admin-table--actions .btn-danger.need-confirmation,
.admin-table--actions .btn-danger.need-confirmation:focus,
.admin-table--actions .btn-danger.need-confirmation:hover,
.admin-table--actions .btn-danger.need-confirmation:active
 {
  background: unset !important;
  color: #e33838 !important;
  border: none !important;
  height: unset !important;
  outline: unset !important;
  box-shadow:unset !important;
}
input.hidden {
  opacity: 0 !important;
}

.invalid {
  border-color: rgb(201, 47, 47) !important;
  color: rgb(201, 47, 47) !important;
}

.table--filter {
  display: flex;
  justify-content: space-between;
}
.table--filter .bs-component {
  display: flex;
  align-items: center;
}
.table--filter a.navigator {
  margin-right: 5px;
  font-size: 12px;
  padding: 5px 10px;
  align-items: center;
}

.table .thead-green th {
  color: #FFF;
  background-color: #009688;
  border-color: #dddddd73;
  white-space: nowrap
}

.navigator {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  -webkit-transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, -webkit-box-shadow 0.3s cubic-bezier(0.35, 0, 0.25, 1), -webkit-transform 0.2s cubic-bezier(0.35, 0, 0.25, 1);
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, -webkit-box-shadow 0.3s cubic-bezier(0.35, 0, 0.25, 1), -webkit-transform 0.2s cubic-bezier(0.35, 0, 0.25, 1);
  -o-transition: box-shadow 0.3s cubic-bezier(0.35, 0, 0.25, 1), transform 0.2s cubic-bezier(0.35, 0, 0.25, 1), background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  transition: box-shadow 0.3s cubic-bezier(0.35, 0, 0.25, 1), transform 0.2s cubic-bezier(0.35, 0, 0.25, 1), background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  transition: box-shadow 0.3s cubic-bezier(0.35, 0, 0.25, 1), transform 0.2s cubic-bezier(0.35, 0, 0.25, 1), background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, -webkit-box-shadow 0.3s cubic-bezier(0.35, 0, 0.25, 1), -webkit-transform 0.2s cubic-bezier(0.35, 0, 0.25, 1);
}
.navigator-primary{
  color: #FFF;
  background-color: #009688;
}
.navigator-secondary{
  color: #FFF;
  background-color: #545b62;
}
.navigator:hover{
  color:#FFF;
  opacity: .7;
  text-decoration: none;
}

@media (max-width:1400px) {
  .app-menu {
      padding-left: 2vw !important;
      margin-top: 4vh !important;
  }
  .app-menu__icon {
      font-size: 1rem !important;
      margin-right: 10px !important;
  }
  .app-menu__label {
      font-size: 1rem !important;
  }
}
@media (max-width:1048px) {
  .app-menu {
      margin-top: 2vh !important;
  }
  .app-menu__item {
    padding: 5px 0px !important;
    padding-right: 5px !important;
  }
  .app-menu__icon {
      font-size: .8rem !important;
      margin-right: 5px !important;
  }
  .app-menu__label {
      font-size: .8rem !important;
  }
}

.preference-field-group{
  margin: 2rem 1rem;
  padding-bottom: 2rem;
}
.preference-field-group:not(:last-child) {
  border-bottom: solid 1px #80808045;
}



.question-btn-group {
  position: absolute;
  right: 1rem;
  top: 1rem;
  display: flex;
  flex-direction: column;
}
.question-btn-group button {
  margin-bottom: 5px;
}

.discipline-index .question-btn-group {
  flex-direction: row;
}

.discipline-index .question-btn-group button{
  margin-left: 5px;
}

.discipline-index .timeline-post {
  padding: unset !important;
  padding-left: 20px !important;
  padding-top: 20px !important;
  margin-bottom: 0 !important;
  border-bottom: solid 1px #e9ecef;
}
.discipline-index .discipline-data .discipline-item{
  text-transform: capitalize;
}
#concept-value-wrapper  .concept-value--item{
    position: relative;
    border: solid 1px #dee2e6;
    border-radius: 5px;
    margin-bottom: 1rem;
    padding: 0 15px;
    box-shadow: -2px 5px 10px 2px rgb(0 0 0 / 15%);
    
}
#concept-value-wrapper .remove-value{
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 5;
    background: #FF7667 !important;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 1.3;
    font-family: 'NunitoSans-SemiBold';
    cursor: pointer;
}

img#concept_image_preview {
  max-width: 90%;
  margin: auto;
}

#admin-concept-form .concept-value--item .thumbnail-preview img {
  max-width: 100%;
  height: 250px;
}



.admin-table--actions .dropdown-toggle{
    border: none !important;
    background: none !important;
}
.admin-table--actions .dropdown-toggle:after{
    content: unset !important;
}
.admin-table--actions .dropdown-toggle .circle {
  width: 7px;
  height: 7px;
  background: #13ad9e;
  display: -webkit-inline-box;
  border-radius: 50%;
}
.admin-table--actions .dropdown-menu.show{
  left: -3.5rem !important;
  border-radius: 10px;
  padding-top: 5px;
}

.admin-table td:not(:last-child) {
  max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.admin-table--actions .dropdown-item {
  border-bottom: solid 1px #cccccc4d;
  padding: 8px 15px !important;
  color: #999999 !important;
}
.admin-table--actions .dropdown-item .fa {
    font-size: 14px !important;
    color: #13ad9e;
}

.user-message--date {
  font-size: 10px;
  text-align: right;
  color: gray;
}