span.legende{
  display:none;
}
span.legende.error{
    color: red;
    display:block;
}
.thumbnail-preview__image {
  height: 80;
  width: 80;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 5px;
}
.thumbnail-preview__image img {
  height: 80px;
}

.thumbnail-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
.thumbnail-preview__btn button {
  background: none;
  border: solid 1px #ddd;
  color: #999999;
  border-radius: 10px;
  display: flex;
  padding: 5px 2rem;
  margin-top: 5px;
}