<div class="tile p-3">
    <div class="tile-body">
        <div class="section-title">
            <h5><i class="fa fa-map mr-2"></i>{% trans %}Adresse{% endtrans %}</h5>
        </div>
        <div class="row">
            <div class="col-sm-6 mt-3">
                <div class="form-group">
                    <label class="control-label">{% trans %}Pays mère{% endtrans %}</label>
                    {{ form_widget(form.country,  {'attr':{'class':'form-control chosen' }}) }}
                </div>
                <div class="form-group">
                    <label class="control-label">{% trans %}Adresse de l'organisme{% endtrans %}</label>
                    {{ form_widget(form.adresse, {'attr':{'class':'form-control'}}) }}
                    <input type="hidden" name="adresseLocation" id="organization_adresseLocation" >
                </div>
                <div class="form-group">
                    <label class="control-label">{% trans %}Code postale{% endtrans %}</label>
                    {{ form_widget(form.postalCode, {'attr':{'class':'form-control'}}) }}
                </div>
            </div>
            <div class="col-sm-6 mt-3">
                <div class="form-group">
                    <label class="control-label">{% trans %}Pays d'action{% endtrans %}</label>
                    {{ form_widget(form.countryAction, {'attr':{'class':'form-control chosen', 'all':'true'}}) }}
                </div>
                <div class="form-group mt-3 pt-4">
                    <div class="organization-adressemap-preview">
                        {{ form_widget(form.adresseMap,{'attr':{'class':'d-none'}}) }}
                        <div class="map-preview-container">
                            {% if form.vars.value.adresseMap %}
                                <img src="{{'/uploads/maps/' ~ form.vars.value.adresseMap }}" id="organization-adressemap-preview">
                            {% else %}
                                <img src="" id="organization-adressemap-preview">
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 
