<div class="tile p-3">
     <div class="tile-body">
        <div class="section-title">
            <h5><i class="fa fa-phone mr-2"></i>{% trans %}Contact{% endtrans %}</h5>
        </div>
        <div class="row">
            <div class="col-sm-6 mt-3">
                <div class="form-group"> 
                    <label class="control-label">{% trans %}Nom du contact{% endtrans %}</label>
                    {{ form_widget(form.contactName, {'attr':{'class':'form-control'}}) }}
                </div>

                <div class="form-group"> 
                    <label class="control-label">{% trans %}Prenom du contact{% endtrans %}</label>
                    {{ form_widget(form.contactLastName, {'attr':{'class':'form-control'}}) }}
                </div>
                
                <div class="form-group">
                    <label class="control-label">{% trans %}Pays de residence{% endtrans %}</label>
                    {{ form_widget(form.contactCountry, {'attr':{'class':'form-control chosen'}}) }}
                </div>
                
                <div class="form-group">
                    <label class="control-label">{% trans %}Adresse administrative du contact{% endtrans %}</label>
                    {{ form_widget(form.adress, {'attr':{'class':'form-control'}}) }}
                </div>
                
                <div class="form-group">
                    <label class="control-label">{% trans %}Code postale{% endtrans %}</label>
                    {{ form_widget(form.contactPostalCode, {'attr':{'class':'form-control'}}) }}
                </div>
                
                <div class="form-group">
                    <label class="control-label">{% trans %}Email{% endtrans %}</label>
                    {{ form_widget(form.organizationEmail, {'attr':{'class':'form-control'}}) }}
                </div>

                <div class="form-group">
                    <label class="control-label">{% trans %}Numéro de téléphone{% endtrans %}</label>
                    {{ form_widget(form.phoneNumber, {'attr':{'class':'tel-input form-control'}}) }}
                </div>
            </div>
            <div class="col-sm-6 mt-3 text-center">
                {{ include('admin/organization/_form_parts/_avatar.html.twig') }}
            </div>   
        </div>
    </div>
</div>