<div class="tile p-3">
    <div class="tile-body">
        <div class="section-title">
            <h5><i class="fa fa-photo mr-2"></i>{% trans %}Photo de couverture{% endtrans %}</h5>
        </div>
        {#
        <div class="form-group mt-3">
            <div class="input-file-wrapper">
                {% set isRequired =  form.vars.value.coverPicture ? false : true  %}
                {{ form_widget(form.coverPicture, {'attr':{'class':'d-none cover-picture-input-file', 'required':isRequired }}) }}
                <input type="hidden" name="coverPicture64" value="" id="coverPicture64">
            </div>
            <div class="thumbnail-preview">
                <div class="thumbnail-preview__image cover-image-preview">
                    {% if form.vars.value.coverPicture %}
                        <img src="{{  '/uploads/picture/' ~ form.vars.value.coverPicture }}">  
                    {% else %}
                        <img src="{{  asset('build/admin/images/icon-image.svg') }}" width="50">        
                    {% endif %}
                </div>
                <div class="btn-container">
                    <button class="cover-picture-preview--edit custom-default-btn"> Importer une photo </button>
                </div>
            </div>
        </div>
        #}

        {#% set isRequired =  form.vars.value.coverPicture ? false : true  %#}
        {% set isRequired =  false  %}
        <div class="form-group drag-area" id="cover-uploader">
            <legende>{% trans %}Cliquer ou glisser deposer vos photo ici.{% endtrans %}</legende>
            {{ form_widget(form.coverPicture, {'attr':{'class':'input-file cover-picture-input-file', 'required':isRequired }}) }}
            <input type="hidden" name="coverPicture64" value="" id="coverPicture64">
            <div class="file-preview cover-image-preview">
                {% if form.vars.value.coverPicture %}
                    <img src="{{  '/uploads/picture/' ~ form.vars.value.coverPicture }}">  
                {% else %}
                    <img src="{{  asset('build/admin/images/icon-image.svg') }}" width="50">        
                {% endif %}
            </div>
            <span class="legende" id="cover-legende-file">{% trans %}Merci de fournir un image de taille 250 x 300px au minimum{% endtrans %}</span>
        </div>
    </div>
</div>