{% set galleryPhotos = organization.gallery.pictures|default(false) %}
<div class="form-group mt-3 gallery-picture-wrapper">
  <label><b>{% trans %}Gallery photo{% endtrans %}</b></label>

    {#% for i in 0..4  %}
      <div class="form-group-input mt-1 gallery-picture-wrapper--container">
        {% if galleryPhotos and galleryPhotos[i]|default(false) %}
          <div class="input-file-preview">
            <span> {{ galleryPhotos[i] }} </span>
            <button class="custom-default-btn gallery-picture-wrapper--btn-edit">Modifier</button>        
          </div>
          <input type="file" name="galeryPhoto[]" class="form-control d-none">
        {% else %}
          <input type="file" name="galeryPhoto[]" class="form-control">
        {% endif %}
      </div>
    {% endfor %#}
    <div class="form-group drag-area drag-area--multiple" id="gallery-picture-uploader">
        <legende>{% trans %}Cliquer ou glisser deposer 5 photos au max.{% endtrans %}</legende>
        <input type="file" name="galeryPhoto[]" id="galeryPhoto" multiple="multiple" class="input-file">
        <div class="file-preview">
          <div class="file-preview-image">
            {% for photo in galleryPhotos|default([]) %}
                <img src="{{  '/uploads/picture/' ~ photo }}"> 
              {% else %}
                <img src="{{  asset('build/admin/images/icon-image.svg') }}" width="50" class="default-img">        
            {% endfor %}  
          </div>
        </div>
        <span class="legende" id="cover-legende-file">{% trans %}Merci de fournir un image de taille 250 x 250px au minimum{% endtrans %}</span>
    </div>
</div>