<div class="tile p-3">
    <div class="tile-body">
        <div class="section-title">
            <h5><i class="fa fa-photo mr-2"></i>{% trans %}Gallery photo et vidéo{% endtrans %}</h5>
        </div>
        <div class="row">
            <div class="col-sm-6">
                {% include "admin/organization/_form_parts/_gallery_photo.html.twig" %}
            </div>
            <div class="col-sm-6">
                {% include "admin/organization/_form_parts/_gallery_video.html.twig" %}
            </div>
        </div>
    </div>
</div>
