{% set galleryVideos = organization.gallery.videos|default(false) %}


<div class="form-group mt-3" id="vue-gallery-video-input--meta" 
    vue-data--input-name="galleryVideo"
    {% if galleryVideos %}
      vue-data--input-value="{{ galleryVideos|json_encode(constant('JSON_PRETTY_PRINT')) }}"
    {% endif %} >
  <label><b>{% trans %}Gallery vidéo{% endtrans %}</b></label>
  <div id="vue-gallery-video-input">
  </div>

</div>
