<div class="tile p-3">
    <div class="tile-body">
        <div class="section-title">
            <h5><i class="fa fa-info-circle mr-2"></i>{% trans %} Information generale {% endtrans %}</h5>
        </div>
        <div class="row">
            <div class="col-sm-6 mt-3">
                <div class="form-group">
                    <label class="control-label">{% trans %}Nom de l'organisme{% endtrans %} *</label>
                    {{ form_widget(form.name, {'attr':{'class':'form-control','required':true}}) }}
                </div>

                <div class="form-group">
                    <label class="control-label">{% trans %}Type d'institution{% endtrans %}</label>
                    {{ form_widget(form.institutionType, {'attr':{'class':'form-control','required':true}}) }}
                </div>
            </div>
            <div class="col-sm-6 mt-3">
                {{ include('admin/organization/_form_parts/_logo.html.twig') }}
            </div>
        </div>
    </div>
</div>

<div class="tile p-3">
    <div class="tile-body">
        <div class="section-title">
            <h5><i class="fa fa-question-circle mr-2"></i>{% trans %}Description de l'institution{% endtrans %}</h5>
            <div class="row">
                 <div class="col-sm-6 mt-3">
                    <label class="control-label">{% trans %}Année de création{% endtrans %}</label>
                    {{ form_widget(form.yearOfCreation, {'attr':{'class':'form-control'}}) }}
                </div>

                <div class="col-sm-6 mt-3">
                    <label class="control-label">{% trans %}Numéro de siret{% endtrans %}</label>
                    {{ form_widget(form.siretNumber, {'attr':{'class':'form-control'}}) }}
                </div>

                <div class="col-sm-6 mt-3">
                    <label class="control-label">{% trans %}Nom president{% endtrans %}</label>
                    {{ form_widget(form.presidentName, {'attr':{'class':'form-control'}}) }}
                </div>

                <div class="col-sm-6 mt-3">
                    <label class="control-label">{% trans %}Accreditation{% endtrans %}</label>
                    {{ form_widget(form.accreditation, {'attr':{'class':'form-control'}}) }}
                </div>

                <div class="col-sm-12 mt-3">
                    <label class="control-label">{% trans %}Texte de presentation* (250 mots au maximum){% endtrans %}</label>
                    {{ form_widget(form.description, {'attr':{'class':'form-control'}}) }}
                </div>
            </div>
        </div>
    </div>
</div>