<div class="tile p-3">
    <div class="tile-body">
        <div class="section-title">
            <h5><i class="fa fa-globe mr-2"></i>{% trans %}Site web et reseau sociaux{% endtrans %}</h5>
        </div>
        <div class="row">
            <div class="col-sm-6 mt-3">                   
                <label class="control-label">{% trans %}Lien site web{% endtrans %}</label>
                {#% set value = form.vars.value.website|default('https://') %#}
                {{ form_widget(form.website, {'attr':{'class':'form-control'}}) }}
            </div>
        </div>
        {{ form_widget(form.socialNetwork) }}
    </div>
</div>