<div class="tile p-3">
    <div class="tile-body">
        <div class="section-title">
            <h5><i class="fa fa-bar-chart mr-2"></i>{% trans %}Statistique{% endtrans %}</h5>
        </div>
        {{ form_widget(form.statistical) }}
    </div>
</div>