<div class="tile-body">
    <div class="section-title">
        <h5><i class="fa fa-user mr-2"></i>{% trans %}Responsable et compte utilisateur{% endtrans %}</h5>
    </div>
    <div class="row">
        <div class="col-sm-6 mt-3">
            <label class="control-label">{% trans %}Nom{% endtrans %}</label>
            {{ form_widget(form.firstname, {'attr':{'class':'form-control'}}) }}
        </div>
        <div class="col-sm-6 mt-3">
            <label class="control-label">{% trans %}Prénom{% endtrans %}</label>
            {{ form_widget(form.lastname, {'attr':{'class':'form-control'}}) }}
        </div>
        <div class="col-sm-6 mt-3">
            <label class="control-label">{% trans %}Date de naissance{% endtrans %}</label>
            {{ form_widget(form.dateOfBirth, {'attr':{'class':'form-control'}}) }}
        </div>
        <div class="col-sm-6 mt-3">
            <label class="control-label">{% trans %}Numéro telephone{% endtrans %}</label>
            {{ form_widget(form.phone, {'attr':{'class':'tel-input form-control'}}) }}
        </div>
        <div class="col-sm-6 mt-3">
            <label class="control-label">{% trans %}Email{% endtrans %} *</label>
            {{ form_widget(form.email, {'attr':{'class':'form-control'}}) }}
            <span id="duplicated-message-error" class="invalid d-none">{% trans %}Adresse email déjà prise{% endtrans %}</span>
        </div>
        <div class="col-sm-6 mt-3">
            <label class="control-label">{% trans %}Mot de passe{% endtrans %} *</label>
            {{ form_widget(form.password, {'attr':{'class':'form-control'}}) }}
        </div>
        <div class="col-sm-6 mt-3">
            {{ form_widget(form.enable) }}
            <label class="control-label">{% trans %}Activé compte utilisateur{% endtrans %}</label>
        </div>
    </div>
</div>