<template>

    <default-layout>
        
        <div slot="content">
            <div  class="container">
                <div class="headsection mt-4" >
                    <h1 class="title mb-3">
                        {{ $t('page.team.title') }}
                    </h1>
                    <p class="paragraph">
                        "{{ $t('page.team.description') }}"
                    </p>
                </div>
                <div class="row mt-4" v-if="teams">
                    <div class="col-sm-6 col-md-4 col-lg-3 items" v-for="team,index in teams" :key="'team-'+index">
                        <img :src="getAvatarUrl(team)" alt="avatar" class="image-circle">
                        <p class="name mt-3">{{ team.firstname }} {{ team.lastname }}</p>
                        <p class="postname"><b>{{ team.jobtitle }}</b></p>
                    </div>
                </div>
            </div>
        </div>
    </default-layout>
</template>

<script>
import TeamService from "@/services/common/TeamService.js"
export default {
    name:"Team",
    data: function(){
        return {
            teams : false,
            defaultAvatar: require("@/assets/img/avatar.png").default,
        }
    },
    methods: {
        getAvatarUrl(team){
            if(!team.avatar){
                return this.defaultAvatar
            }

            return `/uploads/avatar/${team.avatar}`
        }
    },
    mounted: function(){
        let that = this
        TeamService.getList().then(
            (response) => {
                that.teams = response.data.teams
            }
        )
    }
}
</script>

<style scoped>
    img{
        border-radius: 50%;
        width: 150px;
        height: 150px;
        background-repeat: no-repeat;
        object-fit: cover;
        align-self: center;
        border: 5px solid #3DC5B7;
        background: #3DC5B7;
    }
    .headsection{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .headsection .title, .headsection .paragraph{
        align-self: center;
    }
    .paragraph{
        width: 70%;
        text-align: center;
    }
    .items{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .items p.name, .items p.postname{
        align-self: center;
    }
    .items > p.name{
        margin-bottom: 0;
    }
    .title{
        color: #3DC5B7;
        font-size: 26px;
        font-family: 'NunitoSans-SemiBold';
    }
</style>>

