<template>
    <div>
        <!-- File upload component nt visible -->
        <file-upload
            extensions="jpg,jpeg,png,webp"
            accept="image/png,image/jpeg,image/webp"
            name="contactAvatarInput"
            class="d-none"
            post-action="#"
            :drop="true"
            v-model="files"
            @input-filter="inputFilter"
            @input-file="inputFile"
            ref="upload">
            Upload Logo
        </file-upload>
        <!-- END File upload -->
        <div class="text-center">
            <div class="my-4">
                <h4 class="label">{{ $t('scholarship.form.steep4_info1') }}</h4>
            </div>
        </div>
        <div class="form-wrapper" id="form-infos">
            <div class="row text-left mt-2">
                <div class="col-12"><label class="section-title">Contact :</label></div>
                <div class="col-lg-6 col-xl-4">
                    <input 
                        type="text" 
                        class="form-control" 
                        :placeholder="$t('scholarship.label.contactName')"  
                        id="contactName"
                        v-model="scholarship.contactName" 
                        required 
                    >
                </div>

                <div class="col-lg-6 col-xl-4">
                    <label for="contactAvatarInput" class="w-100">
                        <div class="input-group mb-3 picture-input"  id="contactAvatar">
                            <input type="text" class="form-control br-0" 
                                placeholder="Importer une photo de scholarship"
                                :value="scholarship.contactAvatar == null ? 'Chose a file'  :(scholarship.contactAvatar.file ? scholarship.contactAvatar.file.name : scholarship.contactAvatar)" 
                                readonly required >
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="fa fa-camera"></i>
                                </span>
                            </div>
                        </div>
                    </label>
                </div>

                <div class="col-lg-6 col-xl-4">
                    <input type="email" 
                        class="form-control" 
                        placeholder="email@gmail.com"  
                        v-model="scholarship.contactEmail"
                        id="contactEmail"  
                        required >
                </div>

                <div class="col-lg-6 col-xl-4">
                    <div class="input-group mb-3" id="contactAdresse">    
                        <AdresseInput  v-model="scholarship.contactAdresse" v-on:place-select="updateMap" id="contactAdresse" required/>
                    </div>   
                    <div class="mt-3">
                        <div class="map-wrapper">
                            <img :src="getAdresseMapSrc" class="map-preview"/>
                        </div>
                    </div>    
                </div>
                
                <div class="col-lg-6 col-xl-4">     
                    <PhoneInput v-model="scholarship.contactPhone" id="contactPhone" required />
                    <!--vue-tel-input class="form-control" v-model="scholarship.contactPhone" id="contactPhone"></vue-tel-input-->
                </div>

                <div class="col-12 mt-4 mt-5"><label class="section-title">{{ $t("word.about") }} :</label></div>

                <div class="col-lg-6 col-xl-4 mb-3 pt-1">
                    <input 
                        type="text" 
                        class="form-control" 
                        :placeholder="$t('scholarship.label.scholarshipName')"  
                        v-model="scholarship.name"
                        id="name"  
                        required  
                        >
                </div>

                
                <div class="col-lg-6 col-xl-4 mb-3 pt-1">
                    <StudyFieldSelect 
                        v-model="scholarship.studyField"
                        :placeholder="$t('word.studyFields')" 
                        id="studyField"
                        :multiple="true"
                        required 
                        v-on:input="updateDisciplineCateg"    
                    />
                </div>

                <div class="col-lg-6 col-xl-4 mb-3">
                    <label id="candidatureLimitLabel">{{ $t('scholarship.label.dateLimitCandidature') }}</label>
                    <DateSelect 
                        format="y-m-d" 
                        v-model="scholarship.candidatureLimit"  
                        id="candidatureLimit"
                        :disabled="unlimitedCandidature"
                        required 
                    />
                    <label id="candidatureLimitCheckboxLabel" class="mt-2">
                        <input type="checkbox" v-model="unlimitedCandidature" class="mr-2"/> 
                       {{ $t('scholarship.label.dateLimitCandidatureCb') }}
                    </label>
                </div>

                <div class="col-lg-6 col-xl-4 mb-3">
                    <Multiselect
                        class="institution-select award-organization-type--select"
                        :placeholder="$t('scholarship.label.awardOrganizationType')"
                        selectLabel = ""
                        :options="InstitutionTypes"
                        track-by="id"
                        :custom-label="getLabel"
                        @input="updateRelatedOrganizationList"
                        v-model="scholarship.awardOrganizationType">
                    </Multiselect>
                </div>

              

                <div class="col-lg-6 col-xl-4 mb-3">
                    <Multiselect
                        id="relatedOrganization"
                        class="continent-select"
                        :placeholder="$t('scholarship.label.relatedOrganization')"
                        selectLabel = ""
                        v-model="scholarship.relatedOrganization"  
                        :options="organizationsList"
                        @input = "autoCompleteSocial"
                        track-by="id"
                        label="name" >
                    </Multiselect>
                </div>
            
             
                <div class="col-lg-6 col-xl-4 mb-3">
                    <MoneyInput 
                        id="amount"
                        :placeholder="$t('scholarship.label.amount')"
                        v-model="amount"
                    />
                </div>
                
                <div class="col-lg-6 col-xl-4 mb-3">
                    <input 
                        type="text" 
                        class="form-control" 
                        :placeholder="$t('scholarship.label.count')"  
                        v-model="scholarship.count"
                        @input="validateNumberField"
                        @keyup="calculateAccount" 
                        id="count"
                        required >
                </div>
                
                <div class="col-lg-6 col-xl-4 mb-3">
                    <div class="duration-input row">
                        <div class="col-7 col-md-5 pr-0 mob-pad">
                            <input 
                            type="text" 
                            class="form-control" 
                            :placeholder="$t('scholarship.label.duration')"  
                            v-model="scholarship.duration"  
                            id="duration"
                            @input="validateNumberField"
                            required >
                        </div>
                        <div class="col-5 col-md-7 pl-1 mob-pad">
                            <select class="form-control" v-model="scholarship.durationUnit">
                                <option value="month">{{ $t('word.month') }}</option>
                                <option value="year">{{ $t('word.year') }}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-xl-4 mb-3">
                    <input 
                        type="text" 
                        class="form-control" 
                        :placeholder="$t('scholarship.label.totalOffered')"  
                        v-model="scholarship.totalOffered"  
                        @input="validateNumberField"
                        id="totalOffered"
                        required >
                </div>

                <div class="col-lg-6 col-xl-4 mb-3">
                    <div class="w-100 d-flex">
                        <div class="w-25"><label>Sexe</label></div>
                        <div class="w-75" id="grantedSex">
                            <div class="d-flex">
                                <div class="w-50">
                                    <input type="radio" value="men" v-model="scholarship.grantedSex" id="grantedSex1"  required>
                                    <label for="grantedSex1">{{ $t('word.men') }}</label>
                                </div>
                                <div class="w-50">
                                    <input type="radio" value="women" v-model="scholarship.grantedSex" id="grantedSex2"  required>
                                    <label  for="grantedSex2">{{ $t('word.women') }}</label>
                                </div>
                            </div>
                            <div class="d-flex">
                                <div class="w-50">
                                    <input type="radio" value="transgenre" v-model="scholarship.grantedSex" id="grantedSex4"  required>
                                    <label for="grantedSex4">{{ $t('word.transgenre') }}</label>
                                </div>
                                <div class="w-50">
                                    <input type="radio" value="all" v-model="scholarship.grantedSex" id="grantedSex5"  required>
                                    <label  for="grantedSex5">{{ $t('word.all') }}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-xl-4 mb-3">
                    <div class="old-field-group">
                        <label class="input-label">Age:</label>
                        <label class="min-label">{{ $t('word.of')}}</label>
                        <input class="min-input" v-model="scholarship.minAge"  id="minAge"  v-bind:disabled="allAge" v-bind:required="!allAge">
                        <label class="max-label"> {{ $t('word.to')}}</label>
                        <input class="max-input" v-model="scholarship.maxAge" id="maxAge" v-bind:disabled="allAge" v-bind:required="!allAge" >
                        <label>
                            <input type="checkbox" v-model="allAge" > {{ $t('word.all') }}
                        </label>
                    </div>
                </div>
                
            
                <div class="col-lg-6 col-xl-4  mb-3">
                    <input 
                        type="text" 
                        class="form-control" 
                        :placeholder="$t('scholarship.label.otherInfos')"  
                        v-model="scholarship.otherInfos"
                        id="otherInfos"  
                        required >
                </div>

                <div class="col-lg-6 col-xl-4  mb-3">
                    <ContinentSelect 
                        placeholder="Continent(s)" 
                        :multiple="true" 
                        v-model="scholarship.grantedContinent"  
                        @input = "onContientChange"
                        id="grantedContinent"
                        required />
                </div>

                <div class="col-lg-6 col-xl-4  mb-3">
                    <CountrySelect 
                        :placeholder="$t('word.countries')" 
                        :multiple="true" 
                        :all="true"
                        v-model="scholarship.grantedCountries"  
                        id="grantedCountries"
                        :continents="selectedContients"
                        required />
                </div>

                <div class="col-lg-6 col-xl-4  mb-3">
                    <NationalityFieldSelect 
                        :placeholder="$t('word.nationality')+'(s)'" 
                        v-model="scholarship.grantedNationalities"  
                        required 
                        :multiple="true" 
                        id="grantedNationalities" 
                    />
                </div>

                <div class="col-12  mt-5 editor">
                    <label>{{ $t('scholarship.label.story') }}</label>
                    <VueEditor 
                        :editorToolbar="customToolbar" 
                        :height="500" 
                        v-model="scholarship.story" 
                        :z-index="1000" 
                        :auto-height="true" 
                        :show-module-name="false"
                        id="story"
                    />
                </div>

                <div class="col-12 col-lg-4 col-md-4 mb-3">
                    <label>Discipline(s)</label>
                        <StudyFieldSelect 
                            v-model="scholarship.studyFieldTags" 
                            placeholder="Domaine d'études"  
                            id="studyFieldTags"
                            :multiple="true"
                            :category="categoryCriteria"
                            context="detail"
                            required 
                        />
                    <div class="other-field">
                        <div class="form-group mt-2">
                            <input v-model="scholarship.otherStudyFields" type="checkbox" name="otherStudyFieldTags">
                            <label for="otherStudyFieldTags">{{ $t('word.other') }}</label>
                        </div>
                        <div class="w-100" v-if="scholarship.otherStudyFields" id="otherStudyFields">
                            <DuplicateInput 
                                placeholder="discipline" 
                                v-tooltip.bottom="'Appuillez sur entrer pour ajouter un autre champs'"
                                v-model="scholarship.otherStudyFieldTags"  
                                required 
                                id="studyFieldTags" />
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-4 pt-3 margin-b-15">
                        <LevelSelect 
                            v-model="scholarship.grantedLevel" 
                            :placeholder="$t('word.level_studies')+'(s)'"
                            class="mt-3"  
                            id="grantedLevel"
                            required
                            :multiple="true"
                        /> 
                </div>

                <div class="col-12 col-md-4 col-lg-4 mb-3">
                    <label>{{ $t("scholarship.label.selectionCriteria") }}</label>
                    <DuplicateInput 
                        placeholder="Critère" 
                        v-tooltip.bottom="'Appuillez sur entrer pour ajouter un autre champs'"
                        v-model="scholarship.selectionCriteria"  
                        id="selectionCriteria"
                        required
                    />
                </div>
                <div class="col-12 col-md-4 col-lg-4 mb-3">
                    <label>{{ $t("scholarship.label.attachments") }}</label>
                    <DuplicateInput 
                        :placeholder="$t('scholarship.label.attachments')" 
                        v-model="scholarship.attachments"  
                        required 
                        id="attachments"
                        v-tooltip.bottom="'Appuillez sur entrer pour ajouter un autre champs'"    
                    />
                </div>
                <div class="col-12 col-md-4 col-lg-4 mb-3">
                    <label>{{ $t("scholarship.label.advantages") }}</label>
                    <DuplicateInput 
                        placeholder="avantage"  
                        v-model="scholarship.advantages"  
                        id="advantages"
                        required 
                        v-tooltip.bottom="'Appuillez sur entrer pour ajouter un autre champs'" 
                    />
                </div>
                
                <div class="col-12 mt-4 mt-5"><label class="section-title">{{ $t('scholarship.label.socialNetworkLink') }}:</label></div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-sm-6 mt-3">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fa fa-2x fa-youtube"></i>
                                    </span>
                                </div>
                                <input type="text" class="form-control py-4 bl-0"  v-model="scholarship.socialNetwork.youtube">
                            </div>
                        </div>
                
                        <div class="col-sm-6 mt-3">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fa fa-2x fa-twitter"></i>
                                    </span>
                                </div>
                                <input type="text" class="form-control py-4  bl-0"  v-model="scholarship.socialNetwork.twitter">
                            </div>
                        </div>
                
                        <div class="col-sm-6 mt-3">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fa fa-2x fa-facebook"></i>
                                    </span>
                                </div>
                                <input type="text" class="form-control py-4  bl-0"  v-model="scholarship.socialNetwork.facebook">
                            </div>
                        </div>
                
                        <div class="col-sm-6 mt-3">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fa fa-2x fa-instagram"></i>
                                    </span>
                                </div>
                                <input type="text" class="form-control py-4  bl-0"  v-model="scholarship.socialNetwork.instagram">
                            </div>
                        </div>

                        <div class="col-sm-6 mt-3">
                        <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fa fa-2x fa-linkedin"></i>
                                    </span>
                                </div>
                                <input type="text" class="form-control py-4 bl-0"  v-model="scholarship.socialNetwork.linkedin">
                            </div>
                        </div> 
                        <div class="col-sm-6 mt-3">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fa fa-2x fa-globe"></i>
                                    </span>
                                </div>
                                <input type="text" class="form-control py-4 bl-0" placeholder="Site internet" id="siteUrl"  v-model="scholarship.siteUrl">
                            </div>
                        </div> 
                    </div>
                
                </div>
            </div>
            <div class="text-center py-5">
                <DefaultButton className="outline2" :text="$t('word.prev')"  @click.native="$emit('goTo','ScholarshipCandidate')" />
                <DefaultButton className="style1" :text="$t('word.continue')" @click.native="nextSteep"/>
            </div>
        </div>

        <!-- Avatar croper -->
        <Modal size="lg" name="scholarhsip-contact-cropper-modal" v-if="files.length && edit">
            <div slot="header" class="w-100">
                <a class="close" v-on:click="closeCropper"> x </a>
            </div>
            <div slot="body">
                <div class="cropper-wrapper" v-if="files.length">
                    <img ref="editImage" :src="files[0].url" />
                </div>
                <div class="text-center p-4 mt-5">
                    <DefaultButton className="style4 mr-2" :text="$t('word.save')"  @click.native="editSave"></DefaultButton>
                    <DefaultButton className="outline" :text="$t('word.cancel')"  @click.native="$refs.upload.clear"></DefaultButton>
                </div>
            </div>
        </Modal>
        <!-- end Avatar cropper --> 
    </div>
</template>
<script src="./ScholarshipInfos.js" />
<style scoped src="./style.css"> </style>
<style>

    .editor {
        margin-bottom: 1.5rem;
    }
    .editor .quillWrapper {
        display: flex;
        flex-direction: column-reverse;
        border-top: solid 1px #c5c5c5;
    }
    .editor .ql-toolbar.ql-snow {
        text-align: center;
    }
    @media (max-width:1500px) {
        #form-infos #candidatureLimit .col-4{
            margin-right: 0 !important;
            padding-right: 0 !important;
        }
        #form-infos #candidatureLimit .col-3{
            margin-left: 0 !important;
            padding-left: 0 !important;
        }
        #form-infos #candidatureLimit .multiselect__select:before{
            content: unset !important;
        }
    }
    @media (max-width:450px) {
         #form-infos #candidatureLimit .col-5{
            padding-left: 5px !important;
            padding-right: 5px !important;
        }
    }
</style>