@media (max-width:1200px){
    #candidatureLimitLabel {
        position: relative;
        top: unset;
    }
    .award-organization-type--select{
        margin-top: 2.1rem;
    }
}
@media (max-width:991px){
    .award-organization-type--select{
        margin-top: unset;
    }
    #contactName,
    #contactAvatar,
    #contactEmail
    {
        margin-bottom:15px;
    }
    .map-wrapper{
        display: none !important;
    }
}

@media(max-width:768px){
    select{
        font-size:14px !important;
    }
    input::placeholder{
        font-size:12px !important;
    }
    div#grantedSex label {
        font-size: 14px !important;
    }
    .mob-pad{
        padding:0 !important;
    }
    .old-field-group input {
        width: 50px;
    }
}
@media (max-width: 425px){
    .margin-b-15{
        margin-bottom:10px;
        padding-top: 0 !important;
    }
    h4.label{
        font-size: 18px;
    }

    div#grantedSex label {
        font-size: 12px !important;
    }
}
@media(max-width:320px){
    div#grantedSex label {
        font-size: 10px !important;
    }
}