<template>
    <div class="drop-down language-select"> 
	    <vSelect :options="options" label="name" v-model="selected" @input="updateValue" :multiple="multiple" :placeholder="placeholder" :disabled="disabled" >
         <template v-slot:option="option">
          <lang-flag :iso="option.code" class="mr-2" />
          {{ option.name }}
        </template>
      </vSelect>
    </div> 
</template>
<script>
  import vSelect from "vue-select"
  import 'vue-select/dist/vue-select.css';
  import "./style.css"
  export default {
    name : 'LangueSelect',
    components : {
      vSelect
    },
    data : function(){
      return {
        selected: null,
        options: []
      }
    },
    props: {
      value : {
         default() {
              return {
                  code : null,
                  name : null,
                  id   : null
              }
         }
      },

      multiple: {
        default: false
      },

      placeholder: {
        default:'Chose your langue'
      },

      disabled:{
        default: false
      }
    },
    watch : {
      value : {
        deep : true,
        handler : function(val){
          this.selected = val
        }
      }
    } ,
    methods : {
      updateValue: function (value) {
        this.$emit('input', value)
      },
    },
    mounted: function(){
      let that = this;
      
      if(that.value && that.value.id)
        that.selected = that.value
      
      
      let langs = Object.entries(
        require("@/lang/translations/language/en.json")
      )
      
      langs.map((key,index) => {
        let id = key[0]
        that.options = [
          ...that.options,
          { 
            id: id, 
            name: that.$t(`language.${id}.name`), 
            code: that.$t(`language.${id}.code`) 
          },
        ];
      });
    }
  }
</script>