<template>
    <div class="template-fragment">
        <div class='section-title'>
            <h2>Félicitations ! Votre formulaire de candidature est prête à être envoyée</h2>
        </div>
        <div class='section-content'>
            <div class="congrat-text">
                En cliquant sur "Soumettre ma candidature" Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu purus sit amet tellus ultricies aliquet. Suspendisse id purus risus. Aliquam magna mi, pharetra eu quam ac, aliquet dapibus ipsum. Vivamus luctus tortor eu orci vehicula, quis condimentum ante congue. Vivamus eget lobortis nunc. Fusce nisi neque, imperdiet nec massa nec, elementum pretium ante. Maecenas sapien ligula, volutpat sit amet mollis auctor, ultrices eu urna. Morbi laoreet fermentum accumsan. Vous serez notifié prochainement dans votre espace et par mail de la suite donnée à votre candidature.
            </div>
            <div class="congrat-notice">
                Vous serez notifié prochainement dans votre espace et par mail de la suite donnée à votre candidature.
            </div>
            <div class='info-consent'>
                <label class='title-label'>Veuillez cocher la case ci-dessous*</label>
                <div class="form-group">
                    <label class="check-box-label">
                        <input type="checkbox" class="mr-3" v-model="consent">
                        Je consens que toutes les informations fournies sont exactes.
                    </label>
                </div>
            </div>
            <div class='congrat-actions'>
                <DefaultButton className="outline2 mr-2" :text="$t('word.prev')" @click.native="prev" />
                <DefaultButton className="style4 mr-2"   :text="$t('word.validate')"  @click.native="publishForm" />
                <DefaultButton className="outline"       @click.native="downloadPdf"  text="Télécharger votre candidature en PDF" />
            </div>
        </div>
    </div>
</template>

<script>
import ApplicationService    from "@/services/application/ApplicationService.js"
export default {
    name: "CongratSteep",
    props: {
        application : {
            require: true
        }
    },
    data: function(){
        return {
            consent: false
        }
    },
    methods: {
        /**
         * Handle and dispatch publish event 
         * 
         * @return void
         */
        publishForm: function(){
            if(!this.consent){
                this.dispatchError('checkbox non coché')
                return 
            }
            this.$emit('publish')
        },
        
        /**
         * Handle download application sheet
         * 
         * @return void
         */
        downloadPdf: function(){
            ApplicationService.downloadApplication(this.application.id)
        },

        /**
         * Emit preview event
         * 
         * @return void
         */
        prev: function(){
           this.$emit('prev')
        }
    }
}
</script>

<style scoped>
    .section-title{
        font-family: "NunitoSans-SemiBold" !important;
        text-align: center;
        padding: 2rem 0;
    }

    .congrat-notice{
        color: #3DC5B7;
        margin: 2rem 0;
    }

    .info-consent{
        padding: 2rem;
        background: #DAF2F0 0% 0% no-repeat padding-box;
        border-radius: 15px;
    }
    .info-consent .title-label{
        color: #444242 !important;
        margin-bottom: 1rem;
    }
    .congrat-actions{
        margin-top: 5rem;
    }
</style>