<template>
    <div class="template-fragment" v-if="scholarship">
        <div class="section-header">
            <div class="breadcrumbs-section">
                <ul>
                    <li>Candidature > </li>
                    <li>{{ scholarship.name }}</li> 
                </ul>
            </div>
            <div class="scholarship-header">
                <div class="scholarship-logo">
                    <img :src="logo">
                </div>

                <div class="scholarship-basic-infos">
                    <div class="scholarship-basic-infos--name">
                        <p class="scholarship--name">{{ scholarship.name }}</p>
                        <div class="favorite-btn-wrapper">
                            <ScholarshipFavoriteBtn v-if="scholarship.id" :scholarship="scholarship.id" />
                        </div>
                    </div>
                    <div class="scholarship-basic-infos--country">
                        <p v-if="scholarship.granted_countries && scholarship.granted_countries.length">
                            <span v-for="(item, index) in scholarship.granted_countries" :key="index">
                                {{ item.name }} 
                                <i v-if="index !== scholarship.granted_countries.length - 1" class="mr-1"></i>
                            </span>
                        </p>
                        <p v-else>
                            <span>{{ $t('word.all') }} {{ $t('word.country') }}</span>
                        </p>
                    </div>
                    <div class="scholarship-basic-infos--organization">
                        <p class="content--organization-name" v-if="scholarship.related_organization">
                            <span  class="content--organization-name-label">
                                {{ $t('scholarship.label.relatedOrganization') }} : 
                            </span> 
                            <span class="content--organization-name-text">
                                <router-link :to="{'name' : 'organization_page', params: { slug: scholarship.related_organization.slug} }">
                                    {{ scholarship.related_organization.name }}
                                </router-link>
                            </span>
                        </p>
                    </div>
                </div> 

                <div class="scholarship-criteria-wrapper">
                    <div class="scholarship-criteria">
                        
                        <div class="scholarship-criteria-item">
                            <p class="scholarship-criteria-title">{{ $t('scholarship.label.totalOffer') }}</p>
                            <div class="scholarship-criteria-content">
                                <div class="content-icon">
                                    <img :src="image.total">
                                </div>
                                <div class="content-text">
                                    <p class="value" v-if="scholarship.amount">
                                        <span class="value-text">
                                            {{ scholarship.amount.toLocaleString(undefined, { useGrouping:"true" }) }} 
                                            <template v-if="scholarship.currency">
                                                {{ scholarship.currency.code }}
                                            </template>
                                        </span>
                                    </p>
                                    <p v-else class="value">00 $</p>
                                </div>
                            </div>
                        </div>

                        <div class="scholarship-criteria-item">
                            <p class="scholarship-criteria-title">{{ $t('word.level') }}</p>
                            <div class="scholarship-criteria-content">
                                <div class="content-icon">
                                    <img :src="image.level">
                                </div>
                                <div class="content-text">
                                    <p class="value" v-if="scholarship.granted_level.length">
                                        <span v-for="(item, index) in scholarship.granted_level" :key="index">
                                            {{ $t('student.level.'+item.id) }} 
                                        </span>
                                    </p>
                                    <p v-else class="value">{{ $t('word.all') }}</p>
                                </div>
                            </div>
                        </div>

                    
                        <div class="scholarship-criteria-item">
                            <p class="scholarship-criteria-title">DATE LIMITE</p>
                            <div class="scholarship-criteria-content">
                                <div class="content-icon">
                                    <img :src="image.clock">
                                </div>
                                <div class="content-text">
                                    <p class="value" v-if="scholarship.candidature_limit">{{ formatDateRender(scholarship.candidature_limit, local) }}</p>
                                    <p class="value value-text" v-else>{{ $t('scholarship.label.dateLimitCandidatureCb') }}</p>
                                </div>
                            </div>
                        </div>

                    
                    </div>
                </div>
            
                

            </div>
        </div>
        <div class="section-description">
            <div v-html="scholarship.story"></div>
        </div>
    </div>
</template>

<script>

import ScholarshipFavoriteBtn from "@/components/common/ScholarshipFavoriteBtn.vue"
import IconImages from '@/services/helpers/IconImages.js'

export default {
    name:"ScholarshipPresentation",
    props: {
        scholarship: {
            require: true
        }
    },
    components: {
        ScholarshipFavoriteBtn
    },
    data: function(){
        return {
            image: { ...IconImages }
        }
    },
    computed:{
        logo: function(){
            return this.scholarship.logo ? ( 
              this.scholarship.logo.file ? this.scholarship.logo.file.url : '/uploads/logo/'+ this.scholarship.logo 
            ) : this.image.default
        }   
    },
}
</script>

<style scoped>
    .section-header{
        padding: 2rem;
        background: transparent linear-gradient(180deg, #E7FFFD 0%, #DAF2F0 100%) 0% 0% no-repeat padding-box;
    }
    .breadcrumbs-section li {
        display: inline-block;
    }
    .scholarship-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 2rem;
    }

    .scholarship-logo {
        display: flex;
        align-items: center;
    }

    .scholarship-logo img {
        max-height: 8rem;
        border-radius: 5px;
    }

    .scholarship--name {
        font-family: 'NunitoSans-Bold' !important;
        color: #3DC5B7;
        font-size: 1.8rem;
        margin-bottom: 10px;
    }
    .favorite-btn-wrapper {
        position: absolute;
        top: 0;
        right: 0;
    }

    .scholarship-basic-infos {
        position: relative;
        width: 40%;
    }

    .scholarship-criteria-wrapper {
        min-width: 40%;
        display: flex;
        justify-content: flex-end;
    }

    .scholarship-criteria {
        display: flex;
        justify-content: center;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 0px 19px #13AD9E33;
        padding: 1rem;
        border-radius: 1rem;
    }

    .content--organization-name {
        color: #444242 !important;
        font-family: 'NunitoSans-Bold' !important;
    }

    .scholarship-basic-infos--country p {
        margin-bottom: 0;
    }
    .scholarship-criteria-item {
        margin: 10px;
    }

    p.scholarship-criteria-title {
        font-size: 15px;
        color: #444242;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 8px;
    }

    .scholarship-criteria-content {
        display: flex;
        align-items: baseline;
    }

    .content-icon {
        margin-right: 5px;
        filter: brightness(0) contrast(0.1);
    }
    .content-icon img {
        max-height: 1rem;
        min-width: 20px;
    }
    .value {
        font-family: 'NunitoSans-Bold' !important;
        color: #3DC5B7;
        max-width: 10rem;
        text-align: center;
        margin-bottom: 0;
        margin-top: 2px;
    }
    .section-description{
        padding: 2rem;
        font-size: 14px;
    }

    .value span {
        display: block;
        text-align: left;
        white-space: nowrap;
    }
    @media (max-width:1500px){
        .breadcrumbs-section {
            font-size: 14px;
        }
        .scholarship-logo img{
            max-height: 6rem;
        }
        .scholarship-criteria-title{
            font-size: 12px !important;
        }
        .value{
            font-size: 13px;
        }
        .scholarship--name{
            font-size: 1.5rem;
            margin-bottom: 5px;
        }
        .favorite-btn-wrapper{
            max-width: 18px;
        }
        .content--organization-name{
            font-size: 14px;
        }
    }
    @media(max-width:1280px){
        .scholarship-criteria-title{
            font-size: 10px !important;
        }
        .value{
            font-size: 12px;
        }
        .scholarship--name{
            font-size: 1.2rem;
        }
    }
    @media (max-width:1200px) {
        .scholarship-criteria{
            padding: 5px .5rem;
            border-radius: 6px;
            flex-direction: column;
            align-items: flex-start;
        }
        .scholarship-criteria-item{
            margin: 5px 0;
            position: relative;
        }
        .content-icon{
            position: absolute;
            top: -5px;
        }
        .content-icon img{
            min-width: 18px;
            max-width: 18px;
        }
        p.scholarship-criteria-title{
            text-align: left;
            margin-bottom: 3px;
            margin-left: 1.6rem;
        }
        .value span{
            display: inline;
        }
        .content-text {
            margin-left: 1.6rem;
            margin-top: -8px;
        }
    }
    @media (max-width:750px) {
        .scholarship-criteria-wrapper{
            display: none !important;
        }
        .scholarship-basic-infos{
            width: unset !important;
        }
        .scholarship-header{
            justify-content: flex-start;
        }
        .scholarship-logo {
            margin-right: 1rem;
        }
    }
    @media (max-width:500px) {
        .scholarship-header{
            flex-direction: column;
        }
        .scholarship-basic-infos{
            text-align: center;
            margin-top: 1rem;
        }
    }
</style>