<template>
    <div class="template-fragment">
        <div class="steep-title">
            {{ sheet.name }}
        </div>
        <div class="form-content">
            <div class="form-content-data">
                <fm-generate-form 
                    :data="sheet.content" 
                    :value="sheetvalue"
                    ref="generateForm"
                    class="generated-form"
                    >
                </fm-generate-form>
            </div>
            <div class="action-group">
                <DefaultButton className="outline2 mr-2"   :text="$t('word.prev')"   @click.native="prev"     v-if="['midle','last'].includes(order)"/>
                <DefaultButton className="style4 mr-2"     :text="$t('word.next')"   @click.native="next"     v-if="order != 'last' " />
                <DefaultButton className="style4 mr-2"     :text="$t('word.next')"   @click.native="validate" v-if="order == 'last' " />
                <DefaultButton className="outline"         text="Sauvegarder et continuer plus tard"  @click.native="saveAndExit" />
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name   : 'SheetView',
    props  : {
        sheet: {
            require: true
        },

        /**
         * Sheet order,
         * value ['first','midle','last']
         */
        order: {
            default: 'first'
        },

        sheetvalue: {
            default : function(){
                return {}
            }
        }
    },
    methods: {
        /**
         * Handle and emit next event
         * 
         * @return void
         */
        next(){
            let that = this
            this.$refs.generateForm.getData().then(data => {
                that.updateData(data)
                that.$emit('next')
            }).catch(e => {
                that.dispatchError('veillez remplir les champs obligatoire')
            })
        },

        /**
         * Emit prev envent
         * 
         * @return void
         */
        prev(){
            this.$emit('prev')
        },
        
        /**
         * emit update event on sheet data changed
         * 
         * @return void
         */
        updateData: function(data){
            this.$emit('update',this.sheet, data)
        },

        /**
         * Save the current sheet data state and emit save and exit events
         * 
         * @return void
         */
        saveAndExit(){
            let that = this
            this.$refs.generateForm.getData().then(data => {
                that.updateData(data)
                that.$emit('save')
                that.$emit('exit')
            }).catch(e => {
                that.dispatchError('veillez remplir les champs obligatoire')
            })
        },
        
        /**
         * check sheet data and emit validate event
         * 
         * @retur void
         */
        validate: function(){
            let that = this
            this.$refs.generateForm.getData().then(data => {
                that.updateData(data)
                that.$emit('save')
                that.$emit('validate')
            }).catch(e => {
                that.dispatchError('veillez remplir les champs obligatoire')
            })
        }
    }

}
</script>

<style scoped>
    .action-group{
        margin-top: 4rem;
    }
</style>
<style>
    @media (max-width:650px) {
        .form-content-data .generated-form .el-row{
            flex-direction: column !important;
        }
        .form-content-data .generated-form .el-row .el-col{
            width: 100% !important;
            padding-right: unset !important;
        }
        .form-content-data .generated-form .el-row .el-col .el-select{
            width: 100% !important;
        } 

    }
</style>