<template>
  <div>
    <div class="row">
        <div class="col-12 mb-3">
            <FormationCta :showDetail="showAll" :student="student" :context="context" />
        </div>
        <div class="col-12 mb-3">
            <ExperienceCta :showDetail="showAll" :student="student" :context="context" />
        </div>
        <div class="col-sm-6 ">
            <div>
                <LanguageCta    :showDetail="showAll" :student="student"  :context="context"/>
            </div>
              
            <div class="mt-3">
                <DistinctionCta :showDetail="showAll" :student="student" :context="context" />
            </div>

            <div class="mt-3">
                <ExamCta        :showDetail="showAll" :student="student" :context="context" />
            </div>
        </div>

        <div class="col-sm-6">
            <div>
                <ExtraActivityCta :showDetail="showAll" :student="student"  :context="context"/>
            </div>
            
            <div class="mt-3">
                <AssociationCta   :showDetail="showAll" :student="student" :context="context"/>
            </div>

            <div class="mt-3">
                <PublicationCta   :showDetail="showAll" :student="student" :context="context" />
            </div>
        </div>
    </div>
  </div>
</template>
<script>
import "./style.css";
import "./style-mobile.css";
import FormationCta from "./Formation/FormationCta.vue";
import ExperienceCta from "./Experience/ExperienceCta.vue";
import LanguageCta from "./Language/LanguageCta.vue";
import ExtraActivityCta from "./ExtraActivity/ExtraActivityCta.vue";
import AssociationCta from "./Association/AssociationCta.vue";
import PublicationCta from "./Publication/PublicationCta.vue";
import DistinctionCta from "./Distinction/DistinctionCta.vue";
import ExamCta from "./Exam/ExamCta.vue";
export default {
  name: "ParcoursForm",
  components: {
    FormationCta,
    ExperienceCta,
    LanguageCta,
    ExtraActivityCta,
    AssociationCta,
    PublicationCta,
    DistinctionCta,
    ExamCta,
  },
  props: {
    student: {
      require: true
    },
    context: {
      default: 'public'
    }
  },
  data : function() {
    return {
        showAll : false
    }
  }
};
</script>
