<template>
  <div>
    <div id="btn-parcour-control">
        <button v-if ='(!showAll)' @click="(showAll = true)"  class="btn btn-info toggler-btn" ><i class="fa fa-eye"></i>  {{$t('modal.showall') }}</button>
        <button v-if ='(showAll)'  @click="(showAll = false)" class="btn btn-info toggler-btn" ><i class="fa fa-eye-slash"> </i> {{$t('modal.hideall') }}</button>
    </div>
  <div class="row">

    <div class="col-sm-6 col-lg-4 col-xxl-3 mb-3">
      <FormationCta :showDetail="showAll" :student="student" :context="context" />
    </div>
    <div class="col-sm-6 col-lg-4 col-xxl-3 mb-3">
      <ExperienceCta :showDetail="showAll" :student="student" :context="context" />
    </div>
    <div class="col-sm-6 col-lg-4 col-xxl-3 mb-3">
      <LanguageCta :showDetail="showAll" :student="student"  :context="context"/>
    </div>
    <div class="col-sm-6 col-lg-4 col-xxl-3 mb-3">
      <ExtraActivityCta :showDetail="showAll" :student="student"  :context="context"/>
    </div>
    <div class="col-sm-6 col-lg-4 col-xxl-3 mb-3">
      <AssociationCta :showDetail="showAll" :student="student" :context="context"/>
    </div>
    <div class="col-sm-6 col-lg-4 col-xxl-3 mb-3">
      <DistinctionCta :showDetail="showAll" :student="student" :context="context" />
    </div>
    <div class="col-sm-6 col-lg-4 col-xxl-3 mb-3">
      <ExamCta :showDetail="showAll" :student="student" :context="context" />
    </div>
    <div class="col-sm-6 col-lg-4 col-xxl-3 mb-3">
      <PublicationCta :showDetail="showAll" :student="student" :context="context" />
    </div>
  </div>
  </div>
</template>
<script>
import "./style.css";
import "./style-mobile.css";
import FormationCta from "./Formation/FormationCta.vue";
import ExperienceCta from "./Experience/ExperienceCta.vue";
import LanguageCta from "./Language/LanguageCta.vue";
import ExtraActivityCta from "./ExtraActivity/ExtraActivityCta.vue";
import AssociationCta from "./Association/AssociationCta.vue";
import PublicationCta from "./Publication/PublicationCta.vue";
import DistinctionCta from "./Distinction/DistinctionCta.vue";
import ExamCta from "./Exam/ExamCta.vue";
export default {
  name: "ParcoursForm",
  components: {
    FormationCta,
    ExperienceCta,
    LanguageCta,
    ExtraActivityCta,
    AssociationCta,
    PublicationCta,
    DistinctionCta,
    ExamCta,
  },
  props: {
    student: {
      require: true
    },
    context: {
      default: 'private'
    }
  },
  data : function() {
    return {
        showAll : false
    }
  }
};
</script>
