.cta-icon{
  width: 50px;
  height: 50px;
}
.cta-item{
  min-height: 100px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor:pointer;
}
.cta-label label{
  font-family: 'NunitoSans-Bold' !important;
  text-align: left !important;
  font-size: 18px;
  width: 100%;
  margin: 0px;
}
.cta-item-count {
  color: #53C8B6;
  font-family: 'NunitoSans-Bold' !important;
  margin: 0;
}

.cta-action {
  max-width: 25px;
  min-height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.cta-action .action-add , .item-action-cta .action-add {
  background: url("~@/assets/img/add-icon.svg");
}
.cta-action .action-edit , .item-action-cta .action-edit{
  background: url("~@/assets/img/edit-icon.svg");
}

.action-arrow {
  background: url("~@/assets/img/Picto-fleche-voir.svg");
  transform: rotate(90deg);
}

.item-action-cta .action-remove{
  background: url("~@/assets/img/remove-icon.svg");
}

.cta-action .icon ,  .item-action-cta  .icon ,   .action-arrow {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: contain;
}

.student-parcours-modal .modal-container {
  min-height: unset !important;
  border-radius: 20px !important;
  padding: 0 !important;
  width: 60% !important;
}
.student-parcours-modal .modal-header {
  background: #DAF2F0 !important;
  color: #444242 !important;
  border-radius: 20px 20px 0 0 !important;
}

.student-parcours-modal .modal-header h4 {
  font-size: 1.4rem;
  font-family: 'NunitoSans-SemiBold';
  margin: 10px;
  color: #444242;
}

.student-parcours-modal .modal-header .close:before {
  content: url('~@/assets/img/icon-croix.svg');
  display: block;
  filter: invert();
  margin-top: 5px;
}
.student-parcours-modal .modal-body{
  margin: 15px;
}

.student-parcours-modal a.close{
  color: #444242 !important;
}


/** Override modal**/
.student-parcours-modal.modal-mask.custom-sticky-top{
   width: 100vw;
   position: fixed;
   overflow-x: scroll;
}

/** Input */
.student-parcours-modal input.form-control{
  margin-top: 0px;
  font-size: 13px !important;
  height: 38px;

}
.student-parcours-modal textarea::placeholder,
.student-parcours-modal input.form-control::placeholder{
  opacity: 0.5;
}

.student-parcours-modal label{
  margin-top: 20px;
  font-family: 'NunitoSans-SemiBold';
}
.student-parcours-modal label,
.student-parcours-modal .multiselect *,
.student-parcours-modal input {
  color: #3C3850 !important;
  font-size: 14px !important;
}

.student-parcours-modal .periode-field-group {
  display: flex;
  align-items: center;
}

.item-action-cta {
  display:flex;
  justify-content: space-between;
  margin-top : 20px
}

.item-action-cta span {
     color : #FE9185;
     font-size: 13px;
     cursor: pointer;
}


.list-show {
  border: 2px double #DCF3F0;
  padding: 30px;

}

.list-hide {
  padding : 0px !important;
  max-height: 0px;
  border:none !important;
  overflow: hidden !important;
  transition: max-height 0.25s, padding 0.25s  ;
}

.item-title-cta {
  display:flex;
  margin-bottom:10px
}


.item-title-cta img {
    width: 40px;
}

.item-title-cta h4 {
  margin-top: 10px !important;
  font-family: 'NunitoSans-SemiBold';
  font-size: 1.2rem;
  color: #444242;
}

.list-category-cta {
  background-color: #f8f8f8;
  border-radius: 0 0 20px 20px;
  border: 2px double #DCF3F0;
  padding: 30px;
  transition: max-height 2s ;
  max-height: 3000px;
  overflow: hidden !important;
}
.item-info-cta p {
  margin:1px;
  font-size: 14px;
  color: #3C3850;
}
.cta {
  background: #DCF3F0;
  border-radius: 20px;
  display: block;
  max-width: 25rem;
  padding: 1rem 0;
  margin: auto;
}
.cta.open{
  padding-bottom: 0;
} 
.cta:hover{
  background: #BCE9E5;
}

.cta .btn-add {
  display:block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid white;
  display:flex;
  align-items: center;
  background-color:white;
  margin-top: -5px;
  
}

.item-category-cta {
  margin-bottom:10px
}

#btn-parcour-control .toggler-btn{
  background-color: #12ad9e !important;
  border-radius: 10px !important;
  font-family: 'NunitoSans-Bold' !important;
  font-size: 18px !important;
}

.modal-confirm-profil .modal-container {
  width: 600px;
}

.modal-confirm-profil .bloc-icon-pouce {
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 90px;
  height: 90px;
  border: 1px solid #ccc9c9;
  border-radius: 50%;
  background-color: #fdf8f8 ;

}



.modal-confirm-profil .bloc-icon-pouce img{
  width: 40%;
  height: 40%;
  margin: auto;
}

.modal-confirm-profil  .message-confirm , #modal-confirm-profil .btn-confirm-profil {
  margin-top :30px;

}

.modal-confirm-profil  .message-confirm label {
  font-size: 14px

}

.modal-confirm-profil .btn-confirm-profil {
  display: flex;
  justify-content: center;
  margin: 30px 0 30px 0;
}

.modal-confirm-profil .btn-confirm-profil button{
  display: flex;
  flex-direction: column;
  justify-content: center;
}




.modal-confirm-profil  .add_element {
  margin-right: 10x;
}

.modal-confirm-profil  .valid_element {
  margin-left: 10px;
}

.action-profil div {
  margin : 0 10px 10px 0;
}

.language-info {
  display: flex;
  flex-wrap: wrap;
}

.language-info :nth-child(1) {
  flex: 40%;
}

.language-info :nth-child(2) {
  flex: 60%;
}

@media (max-width:1280px) {
  .cta-label label {
      font-size: 16px;
  }
  .item-info-cta,
  .cta-label .cta-item-count {
      font-size: 14px;
  }
  
  .item-title-cta h4 {
    font-size: 1rem;
  }
  .item-info-cta p {
    font-size: 12px;
  }
}

/** override colore select */
.student-parcours-modal .multiselect__option--highlight,
.student-parcours-modal .multiselect__option--highlight *,
.student-parcours-modal .vs__dropdown-option--highlight,
.student-parcours-modal .vs__dropdown-option--highlight *
{
  background: #3DC5B7 !important;
  color: #fff !important;
}


.student-parcours-modal .text-area-max--label {
  font-size: 12px;
  display: block;
  float: right;
}

/***** public style */
.public-cta {
    max-width: 100%;
    border-radius: 10px;
}
.public-cta .cta-item {
    min-height: 40px;
    justify-content: left;
}
.public-cta  .cta-icon {
    margin-left: 2rem;
    width: 25px;
    height: 25px;
}
.public-cta .cta-label {
    margin-left: 1rem;
    font-size: 18px !important;
}

.public-cta .list-category-cta{
  border-radius: 0 0 10px 10px;
  background: white !important;
}

.public-empty-parcours--label {
  font-size: 14px;
  color: #D3D3D3;
  text-align: center;
  margin-bottom: 0;
}

@media (max-width:1280px) {
  .public-empty-parcours--label {
    font-size: 12px;
  }
}