@media(max-width:768px){
  #btn-parcour-control .toggler-btn {
    font-size: 14px !important;
    padding: 10px 0px !important;
  }

  .cta-item {
    align-items: center;
    justify-content: center;
  }
  .cta-label label {
    font-size: 14px;
  }
  .cta-item-count {
    font-size: 12px;
  }
  .cta-icon {
    width: 15%;
    height: 25px;
  }
  .cta-label {
    width: 60%;
  }
  .cta-label br {
    display: none;
  }
  .cta-action .icon, .item-action-cta .icon, .action-arrow {
    width: 15px;
    height: 15px;
  }
  .item-title-cta h4 {
    font-size: 15px !important;
    margin-top: 0px;
  }
  .item-info-cta {
    font-size: 14px;
  }

  /** parcours add infos */
  .student-parcours-modal .modal-container {
      border-radius: unset !important;
      width: 100% !important;
  } 
  .student-parcours-modal .modal-header {
    background: #DAF2F0 0% 0% no-repeat padding-box !important;
    border-radius: unset !important;
  }
  .student-parcours-modal .action-container hr{
    display: none;
  }
  .student-parcours-modal label {
    font-size: 14px;
  } 
  .student-parcours-modal .action-container button {
      margin-top: 2rem;
      width: 100%;
      background: transparent linear-gradient( 90deg , #FBA48F 0%, #FF7768 100%) 0% 0% no-repeat padding-box !important;
      box-shadow: 0px 5px 12px #ff796a73;
  }
  .student-parcours-modal .modal-header h4 {
      font-size: 18px;
  }
  .student-parcours-modal a.close {
      position: absolute;
      left: 0;
      color: #DAF2F0 !important;
  }
  .student-parcours-modal a.close:before{
    content: url("~@/assets/img/icon-chevron.svg") !important;
    transform: rotate(180deg) scale(1.5);
    filter: unset !important;
  }
}