<template>
  <nav class="forms-breadcrumbs">
      <ul v-if="links">
        <li v-for="link, index in links" :key="'link-'+index" @click="link.href">
            {{ link.text }}
        </li>
      </ul>
      <ul v-else>
        <li>
            <span @click="goToFolderList">{{ $t('word.myforms') }}</span>
        </li>
        <li v-if="active">{{ active.name }}</li>
      </ul>
  </nav>
</template>

<script>
export default {
    props: {
        links: {
          default : false  
        },
        active: {
            default: false
        }
    },
    methods: {
        goToFolderList: function(){
            this.$router.push({name:'organization_folder_list'})
        }
    }
}
</script>

<style scoped>
    li:not(:last-child){
        cursor: pointer;
    }
    
    li:not(:last-child):after {
        content: "/";
        margin-left: 5px;
        color: #5f5c69;
    }
    li {
        list-style: none;
        display: inline;
        text-transform: uppercase;
        color: #FF7667;
        font-family: "NunitoSans-Regular";
    }
    li:last-child{
        font-family: "NunitoSans-ExtraBold";
        color: #FF7667;
    }
</style>