<template>
  <div class="folder-form">
      <div class="folder-name-container">
          <span class="folder-name--icon fa fa-folder mr-2"></span>
          <span class="folder-name--text">
              <input type="text" v-model="name" placeholder="Document 1">
          </span>
      </div>
      <div class="folder-action-container">
          <div class="folder-action-burger">
              <DefaultButton className="style4"   :text="$t('word.save')"    @click.native="save" :onLoad="loading"/>
              <DefaultButton className="outline2" :text="$t('word.cancel')"  @click.native="cancel"/>
          </div>
      </div>
  </div>
</template>

<script>
import ApplicationService from "@/services/application/ApplicationService.js"

export default {
    name:'FolderForm',
    props: {
       defaultValue:{
           default: false
       }
    },
    data: function(){
        return {
            name     : null,
            loading  : false
        }
    },
    methods: {
        save: function(){
            /*** persist data in db */
            if(this.defaultValue && this.defaultValue.id){
                this.update()
                return 
            }

            this.addNew()

            
        },
        addNew: function(){
            let that = this
            that.loading = true
            ApplicationService.addFolder({name: that.name}).then(
                (response) => {
                    if(response.data.success){
                        this.$emit('saved', response.data.folder_id)
                    }
                    that.name    = null
                    that.loading = false
                }
            )
        },
        update: function(){
            let that = this
            that.loading = true
            ApplicationService.editFolder({name: that.name, id: that.defaultValue.id}).then(
                (response) => {
                    if(response.data.success){
                        this.$emit('saved', response.data.folder_id)
                    }
                    that.name    = null
                    that.loading = false
                }
            )
        },
        cancel: function(){
            /*** persist data in db */
            
            this.name = null

            this.$emit('cancel')
        }
    },
    watch: {
        defaultValue: {
            deep    : true,
            immediate: true,
            handler : function(folder){
                if(folder && folder.id){
                    this.name = folder.name
                }
            }
        }
    }
}
</script>

<style scoped>
    .folder-form {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 6px 8px #E1E3EE;
        border: 1px solid #D0CEDA;
        padding: 1.8rem;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
    }
   
   .folder-name-container {
        min-width: 50%;
        display: flex;
        align-items: center;
    }

   .folder-name--icon.fa.fa-folder.mr-2 {
        color: #D0CEDA;
        font-size: 1.5rem;
    }

    .folder-name--text input {
        font-family: 'NunitoSans-SemiBold';
        color: #3C3850;
        font-size: 1.2rem;
        border: none;
        border-bottom: solid 1px #d3d3d3;
        padding: 5px;
        width: 80%;
    }
    .folder-name--text input::placeholder {
        color: #d0ceda;
    }
     @media (max-width:1350px) {
        .folder-action-container button{
            padding: 0rem 1.5rem !important;
        }
    }
    @media (max-width:768px) {
       
        .folder-name--text input,
        .folder-action-container button
        {
            font-size: 14px !important;
            min-height: 35px !important
        }
        .folder-name--icon.fa.fa-folder.mr-2{
           font-size: 1rem;
        }
    }
    @media (max-width:580px) {
       .folder-name-container{
            min-width: 100%;
       }
       .folder-form{
            flex-direction: column;
            padding: 1rem;
       }
        .folder-action-burger {
            text-align: right;
            margin-top: 1rem;
        }

        .folder-name--text,
        .folder-name--text input{
            width: 100%;
        }
    }

</style>

<style>
   
</style>