<template>
  <div class="folder-item">
      <div class="folder-name-container" @click="openFolder">
          <span class="folder-name--icon fa fa-folder mr-2"></span>
          <span class="folder-name--text">{{ folder.name }}</span>
      </div>
      <div class="folder-action-container" v-click-outside="closeOptionMenu">
          <div class="folder-option-controls" v-if="showOption">
                <button class="control-delete" @click="confirmDelete">
                  <span class="fa fa-trash"></span>
                </button>
                <button class="control-edit" @click="editFolder">
                  <span class="fa fa-pencil"></span>
                </button>
                <button class="control-show" @click="openFolder">
                  <span class="fa fa-eye"></span>
                </button>
          </div>
          <div class="folder-action-burger" @click.prevent="toggleOptionMenu">
              <span  class="square"></span>
              <span  class="square"></span>
              <span  class="square"></span>
          </div>
      </div>
  </div>
</template>

<script>
import ApplicationService from "@/services/application/ApplicationService.js"
export default {
    name:'Folder',
    props: {
        folder: {
            require : true
        }
    },
    data: function(){
        return {
            showOption    : false,
        }
    },
    methods: {
        openFolder: function(){
            this.$emit('open')
        },
        showOptionMenu: function(){
            this.showOption = true
        },
        
        closeOptionMenu: function(){
            this.showOption = false
        },
        
        toggleOptionMenu: function(){
            this.showOption = !this.showOption
        },

        closeDeleteConfirm: function(){
            this.confirmDelete = false
        },

        editFolder: function(){
            this.$emit('edit', this.folder)
        },
        confirmDelete: function(){
            let that = this
             that.$dialog.confirm("Vous voulez vraiment supprimer ce dossier ?", {
                okText: that.$t('word.yes'),
                cancelText: that.$t("word.cancel"),
                }).then(function (dialog) {
                    that.deleteFolder()
                }).catch(function (dialog) {
                  dialog.close()
            });
        },
        deleteFolder: function(){
            let that = this
            ApplicationService.deleteFolder(this.folder).then(
                (response) => {
                    if(response.data.success){
                        that.confirmDelete = false
                        that.$emit('deleted', this.folder)
                    }
                }
            )
        }

    }
}
</script>

<style scoped>
    .folder-item {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 6px 8px #E1E3EE;
        border: 1px solid #D0CEDA;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
    }
    .folder-item:hover{
        background: #e8e8e8;
    }

    .folder-name-container{
        width: 100%;
        padding: 1.8rem;
        padding-right: 0;
    }

    .folder-name--icon.fa.fa-folder.mr-2 {
        color: #D0CEDA;
        font-size: 1.5rem;
    }

    .folder-name--text {
        font-family: 'NunitoSans-SemiBold';
        color: #3C3850;
        font-size: 1.2rem;
    }

    .square {
        width: 6px;
        height: 6px;
        background: #3C3850;
        display: block;
        margin: 3px;
    }

    .folder-action-container {
        cursor: pointer;
        display: flex;
        padding: 1.8rem;
    }
    .folder-option-controls {
        display: flex;
        margin-right: 1rem;
        position: relative;
    }
    .folder-option-controls button {
        margin-right: .5rem;
        border: solid 1px #D0CEDA;
        color: #D0CEDA;
        padding: 0 1rem;
        border-radius: 25px;
        position: relative;
    }

    @media (max-width:768px) {
        .folder-name-container,
        .folder-action-container{
            padding: 1.2rem;
            position: relative;
        }
        .folder-name--text {
            font-size: 14px;
        }
        .folder-name--icon.fa.fa-folder.mr-2{
            font-size: 1rem;
        }
        .folder-option-controls{
            position: absolute;
            right: 15px;
            top: 8px;
            background: #e8e8e8;
            padding: 1rem 0 1rem 2rem ;
        }
    }
</style>