<template>
    <div class="form-item">
        <div class="form-name-container" @click="toogleCheckbox">
            <span class="form-item-checkbox">
                <input type="checkbox" v-model="selectedModel">
            </span>
            <span class="form-name--text">{{ form.name }}</span>
        </div>

        <div class="form-action-container"  v-click-outside="closeMenuOptions">
            <div class="action-btns-group" v-if="menuOptions">
                <button @click="viewForm">
                    <span class="mobile-label fa fa-eye"></span>
                    <span class="desktop-label">Voir le formulaire</span>
                    
                </button>
                <button @click="editForm">
                    <span class="mobile-label fa fa-pencil"></span>
                    <span class="desktop-label">Editer le formulaire</span>
                </button>
                <button @click="viewResponse">
                    <span class="mobile-label fa fa-question"></span>
                    <span class="desktop-label">Réponses</span>
                </button>
            </div>

            <div class="form-action-burger" @click="toogleMenuOptions">
                <span  class="square"></span>
                <span  class="square"></span>
                <span  class="square"></span>
            </div>

        </div>
    </div>
</template>

<script>
export default {
    name: "FormItem",
    props: {
        form: {
            require: true
        },
        selected: {
            default: false
        }
    },
    data: function(){
        return {
            menuOptions    : false,
            selectedModel  : false
        }
    },
    methods: {
        /**
         * emit edit event on edit btn click
         * 
         * @return void
         */
        editForm: function(){
            this.$emit('edit')
        },

        /**
         * emit view event on view btn click
         * 
         * @return void
         */
        viewForm: function(){
            this.$emit('view')
        },

        /**
         * emit checkbox state value on change
         * 
         * @return void
         */
        toogleCheckbox: function(){
           this.$emit('selectedChange')
        },

        /**
         * Change menuOptions state on burger click
         * 
         * @return void
         */
        toogleMenuOptions: function(){
            this.menuOptions = !this.menuOptions
        },

        /**
         * Hide menu option on burger or outside click
         * 
         * @return void
         */
        closeMenuOptions: function(){
            this.menuOptions = false
        },

        /**
         * Emit viewresponse event on response btn click
         * 
         * @return void
         */
        viewResponse: function(){
            this.$emit('viewresponse')
        }
    },

    watch: {
        selected: {
            immediate: true,
            deep     : true,
            handler: function(val){
                this.selectedModel = val
            }
        }
    }
}
</script>

<style scoped lang="scss">
   .form-item { 
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        min-height: 2.5rem;
        position: relative;
        padding: 15px;
        border-bottom: solid 1px #D0CEDA;

        .form-action-burger{
            display: none;
            flex-direction: column;
        }


        .action-btns-group {
            position: absolute;
            right: 2rem;
            padding-left: 1rem;
            background: white;
        
            button {
                border: 2px solid #D0CEDA;
                border-radius: 10px;
                padding: 8px 1rem;
                color: #D0CEDA;
                margin-right: 5px;
            }
        }


        &:hover{
            background: #f9f9f9;

            .form-action-burger{
                display: flex;
            }

            .action-btns-group{
                background: #f9f9f9;;
            }
        }
    }

    .form-name-container {
        display: flex;
        align-items: center;
    }
    .form-item-checkbox {
        margin-right: 15px;
    }

    .form-item-checkbox  input{
        width: 20px;
        height: 20px;
        margin-top: 5px;
    }
    .form-name--text {
        font-family: 'NunitoSans-SemiBold';
        color: #3C3850;
        font-size: 1.2rem;
    }


    .form-action-container {
        display: flex;
        align-items: center;
    }

    .action-text {
        font-size: 1.1rem;
        font-family: 'NunitoSans-SemiBold';
    }

 


    .square {
        width: 5px;
        height: 5px;
        background: #3C3850;
        display: block;
        margin: 2px;
    }

    .mobile-label{
        display: none;
    }

    @media (max-width:1500px) {
        .action-btns-group button .desktop-label{
            font-size: 14px;
        }
        .form-name--text {
            font-size: 1rem;
        }
    }
    @media (max-width:1280px) {
        .action-btns-group button .desktop-label{
            font-size: 14px;
        }
    }
    @media (max-width:1024px) {
        .form-item-checkbox input{
            width: 15px;
            height: 15px;
        }
        
    }
    @media (max-width:768px) {
        .form-name--text {
            font-size: 14px;
        }

        .mobile-label{
            display: block;
        }
        .desktop-label{
            display: none;
        }

        .square{
            width: 4px;
            height: 4px;
        }

        .action-btns-group button{
            width: 40px;
            height: 40px;
            border-radius: 50% !important;
            padding: unset !important;
        }

    }
</style>