<template>
    <div class="template-fragment">
        <div class="list-actions-wrapper">
            <div class="list-actions-btn">
                <div class="default-actions" v-if="!selectedForms.length">
                    <DefaultButton className="style4"   text="Nouveau formulaire" @click.native="newForm" />
                    <DefaultButton className="outline2" text="Voirs les candidatures reçues" @click.native="goToCandidatList" />
                    <button class="add-folder-btn" @click="newFolder">
                        <img :src="icon.folderadd" class="icon-folder-add">
                    </button>
                </div>
                <div class="selected-form-actions" v-else>
                    <div class="btn-back-container">
                        <button @click="reset">
                            <img :src="icon.arrowleft" />
                        </button>
                    </div>
                    <div class="selected-counter-container">
                        <img :src="icon.removeo" />
                        <span class="selected-count-text">
                            {{ selectedForms.length }} {{ $t('word.selected') }}
                        </span>
                    </div>
                    <div class="selected-actions">
                        <button @click="confirmClone">
                            <img :src="icon.clone" />
                        </button>
                        <button>
                            <img :src="icon.clone2" />
                        </button>
                        <button @click="confirmDelete">
                            <img :src="icon.trasho" />
                        </button>
                    </div>
                </div>
            </div>
            <div class="search-input-container">
                <div class="search-input-group">
                    <span class="fa fa-search"></span>
                    <input type="text" class="form-search-input" placeholder="Rechercher un formulaire">
                </div>
            </div>
        </div>
        <div class="new-folder-form-wrapper" v-if="folderForm">
            <FolderForm @cancel="closeFolderForm" @saved="saveFolderForm" :defaultValue="folder" />
        </div>
    </div>
</template>

<script>
import FolderForm from "./FolderForm.vue"
import IconImages from "@/services/helpers/IconImages.js"
import ApplicationService from "@/services/application/ApplicationService.js"

export default {
    name: 'ListActions',
    components: {
        FolderForm
    },
    props: {
        selectedForms: {
            default: []
        },
        selectedFolder: {
            default: false
        },
        selectedAction: {
            default: false
        }
    },
    data: function(){
        return {
            icon: {
                ...IconImages
            },
            folderForm: false,
            folder    : false,
        }
    },
    methods:{
        newForm: function(){
            if(this.selectedFolder){
                this.$router.push({name:'organization_folder_form_new', params: {slug: this.selectedFolder.slug}})
            }else{
                this.$emit('newform')
            }
        },
        newFolder: function(){
            this.folder = false
            this.showFolderForm()
        },
        showFolderForm: function(){
            this.folderForm = true
        },
        saveFolderForm: function(){
            this.folderForm = false
            this.$emit('foldersaved')
        },
        closeFolderForm: function(){
            this.folderForm = false
            this.$emit('folderclosed')
        },
        goToCandidatList: function(){
            this.$router.push({name: 'organization_candidat_list'})
        },
        confirmDelete: function(){
            let that = this
             that.$dialog.confirm("Voulez vous supprimer les elements selectionnée ?", {
                okText: that.$t('word.yes'),
                cancelText: that.$t("word.cancel"),
                }).then(function (dialog) {
                    that.deleteForms()
                }).catch(function (dialog) {
                  dialog.close()
            });
        },
        deleteForms: function(force = false){
            let that = this
            let formIDS = []
            for (let index = 0; index < that.selectedForms.length; index++) {
                const element = that.selectedForms[index]
                formIDS       = [...formIDS, element.id]   
            }
            ApplicationService.deleteForms(formIDS, force).then(
                (response) => {
                    if(response.data.success){
                        that.$emit('deletedForms', that.selectedFolder)
                    }
                }
            ).catch(
                (error) => {
                    that.$dialog.confirm("Impossible de supprimer cette formulaire car il est déjà attribué a une bourse", {
                        okText: 'Forcer la suppression',
                        cancelText: that.$t("word.cancel"),
                        }).then(function (dialog) {
                            that.deleteForms(true)
                        }).catch(function (dialog) {
                        dialog.close()
                    });
                }
            )
        },
        reset: function(){
            this.$emit('reset')
        },

        confirmClone: function(){
            let that = this
             that.$dialog.confirm("Voulez vous clonner les elements selectionnée ?", {
                okText: that.$t('word.yes'),
                cancelText: that.$t("word.cancel"),
                }).then(function (dialog) {
                    that.cloneForm()
                }).catch(function (dialog) {
                  dialog.close()
            });
        },
        cloneForm: function(){
            let ids = []
            this.selectedForms.forEach(form => {
                ids.push(form.id)
            });
            ApplicationService.cloneForm(ids).then(
                (response) => {
                    if(response.data.success){
                        this.$emit('cloned')
                    }
                }
            )

        }
    },
    watch: {
        selectedAction: {
            deep    : true,
            handler : function(action){
                if(this.selectedFolder && action == 'rename'){
                    this.showFolderForm()
                }
            }
        },
        selectedFolder: {
            deep: true,
            handler: function(val){
                this.folder = val
            }
        }
    }
}
</script>

<style scoped>
     .list-actions-wrapper {
        display: flex;
        justify-content: space-between;
        min-height: 3.6rem;
        position: relative;
    }

    .list-actions-btn button {
        margin-right: 15px;
    }
    
    

    .add-folder-btn {
        border: none;
        background: no-repeat;
    }

    .list-actions-btn {
        display: flex;
        align-items: center;
    }

    .search-input-container {
        position: relative;
        display: flex;
        align-items: center;
    }

    .search-input-group {
        position: relative;
    }
    .search-input-container .fa-search {
        position: absolute;
        color: #D0CEDA;
        left: 15px;
        top: 25%;
        font-size: 1.5rem;
    }

    .form-search-input {
        border: solid 1px #D0CEDA;
        padding: .8rem 1rem .8rem 3rem;
        border-radius: 8px;
        min-width: 15rem;
        font-family: 'NunitoSans-SemiBold';
    }
    .form-search-input::placeholder{
        color: #D0CEDA;
    }
    .new-folder-form-wrapper {
        margin-top: 2rem;
    }


    .selected-form-actions {
        display: flex;
        align-items: center;
    }
    .selected-form-actions img {
        max-height: 2rem;
    }
    
    .btn-back-container button {
        border: #D0CEDA;
        background: none;
        padding: 5px;
        width: 1.8rem;
    }

    .selected-counter-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 3rem;
    }

    span.selected-count-text {
        color: #6196FF;
        margin-left: 1rem;
        font-family: 'NunitoSans-SemiBold';
        font-size: 1.2rem;
    }

    .selected-actions {
        margin-left: 5rem;
    }

    .selected-actions button {
        border: none;
        color: #D0CEDA;
        font-size: 1.8rem;
        background: #D0CEDA3D 0% 0% no-repeat padding-box;
        margin-left: 1rem;
    }


    @media (max-width:1200px) {
        .default-actions button{
            font-size: 14px !important;
        }
    }
    @media (max-width:1050px) {
        .list-actions-wrapper{
            flex-wrap: wrap;
        }
        .search-input-container{
            width: 12rem;
        }

        .search-input-container input{
            min-width: 12rem;
            width: 12rem;
            font-size: 14px;
        }
        
        .search-input-container .fa-search{
            top: 25%;
            font-size: 1.2rem;
        }

    }

    @media (max-width:991px) {
        .search-input-container{
            display: none;
        }
    }
    @media (max-width:768px) {
        .selected-counter-container{
            display: none !important;
        }
        .selected-form-actions img{
            max-height: 1.5rem;
        }
    }
    @media (max-width:580px) {
        .default-actions button{
            font-size: 12px !important;
        }
        .add-folder-btn {
            position: absolute;
            top: -2.5rem;
            right: 0;
        }

        .default-actions {
            display: flex;
        }
        .default-actions button{
            padding: 0rem 0.5rem !important;
        }
    }
    @media (max-width:400px) {
       .selected-actions{
            margin-left: 1rem;
        }
    }
</style>

<style>
    @media (max-width:1350px) {
        .default-actions .btn-default{
            padding: 0rem 1.5rem !important;
        }
    }
</style>