<template>
    <default-layout>
        
        <div slot="content" class="application-detail-template">
            <div class="section section-breadcrumbs">
                <span class="link" @click="goToList">Suivi de mes candidatures > </span>
                <span class="active">Détail candidature</span>
            </div>

            <div class="section section-scholarship-infos">
                <ApplicationInfos :application="application" v-if="application" />
            </div>
        
            <div class="section section-application-detail-tab" v-if="application">
                <ApplicationDetailTab :application="application"  v-if="application.application_sheets.length" @updated="getRequestedApplication" @print="print"/>
                <div v-else class="external-candidature-aler">
                    <h5>{{$t('application.submission.other')}}</h5>
                </div>
            </div>

        </div>
    </default-layout>
</template>
<script>
    import ApplicationInfos      from "./parts/ApplicationInfos.vue"
    import ApplicationDetailTab  from "./parts/ApplicationDetailTab.vue"
    import ApplicationService    from "@/services/application/ApplicationService.js"
    export default {
        name : 'ApplicationList',
        components: {
            ApplicationInfos,
            ApplicationDetailTab
        },
        data: function(){
            return {
                application: false
            }
        },
        methods: {
            getRequestedApplication:function(){
                var encoder = require('int-encoder')
                let appid   = this.$route.params.id

                if(!appid){
                    return 
                }
                let that = this
                ApplicationService.showApplication(encoder.decode(appid)).then(
                    (response) => {
                        that.application = response.data.application
                    }
                )
            },
            goToList: function(){
                this.$router.push({name:'organization_candidat_list'})
            },

            print: function(){
                ApplicationService.downloadApplication(this.application.id)
            },

        },
        mounted: function(){
            this.getRequestedApplication()
        }
    }
</script>
<style scoped>

    .section-breadcrumbs
     {
        padding: 2rem;
    }

    .section.section-breadcrumbs {
        text-transform: uppercase;
        font-size: 14px;
        margin-bottom: 1rem;
    }
    
    .section.section-breadcrumbs .link {
       cursor: pointer;
       color: #D3D3D3 !important;
    }

    .section.section-breadcrumbs .active {
        color: #FF7667 !important;
    }

    .section-scholarship-infos
    {
        padding: 0 2rem 2rem 2rem;
    }
    .section-application-detail-tab
    {
        margin-top: 2rem;
    }
    
    .external-candidature-aler {
        text-align: center;
        padding: 5rem 0;
        border-top: solid 1px #dfdfdf;
    }
    
</style>

