<div class="tile pb-4">
    <div class="thematic-list-header">
        <h4>Questions</h4>
        <button class="btn btn-primary question-btn--new">
            {% trans %}Ajouter{% endtrans %}
        </button>
    </div>
</div>

<div class="tab-content px-2">
    
    {% for thematic in thematics %}
        <div class="tab-pane {{ loop.index == 1 ? 'active' : '' }}" id="thematic-{{ thematic.id }}">
            {% for question in thematic.questions %}
                {% set qthematics  = [] %}
                {% for arrow in question.thematic %}
                    {% 
                        set qthematics = qthematics|merge([arrow.id]) 
                    %}
                {% endfor %} 
                
                <div class="timeline-post question-data" data-id="{{ question.id }}" data-title="{{ question.title }}" data-answer="{{ question.answer }}" data-thematics="{{ qthematics|json_encode() }}">
                    <div class="post-media">
                        <div class="content">
                        <h5>
                            <a href="#">
                                <span class="fa fa-question-circle"></span>
                                <span href="#" data-title="question.title">{{ question.title }}</span>
                            </a>
                        </h5>
                        </div>
                    </div>
                    <div class="post-content">
                        <p>{{ question.answer }}</p>
                    </div>
                    <div class="question-btn-group">
                        <button class="question-btn question-btn--edit">   <span class="fa fa-pencil"></span> </button>    
                        <div class="delete-form-wrapper">
                            <form method="post" action="{{ path('admin_faq_question_delete', {'id': question.id}) }}">
                                <button class="question-btn question-btn--delete need-confirmation" confirmation-message="Voulez vous supprimer {{ question.title }}?"> 
                                    <i class="fa fa-trash"></i>
                                </button>
                            </form>
                        </div>    
                    </div>
                </div>
            {% endfor %}            

        </div>
    {% endfor %}




</div>
