<!-- Modal -->
<div class="modal fade" id="thematic-form-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Ajouter une question</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          {{ form_start(form, {'attr':{'id':'thematic-form'}}) }}
              <div class="form-group">
                  <label> Nom </label>
                  {{ form_widget(form.name, {'attr': {'class':'form-control'}}) }}
              </div>
              <hr>
              <div class="btn-control-group text-right">
                  <button type="reset"  class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Save changes</button>
              </div>

              {{ form_widget(form.lang, {'attr': {'class':'hidden', 'readonly':true}}) }}

          {{ form_end(form) }}
      </div>

    </div>
  </div>
</div>