<div class="tile p-0">
    <div class="thematic-list-header">
        <h4>Thématiques</h4>
        <button class="btn btn-primary thematic-btn--new">
            {% trans %}Ajouter{% endtrans %}
        </button>
    </div>
    <hr>
    <ul class="nav flex-column nav-tabs user-tabs">
        {% for thematic in thematics %}
            <li class="nav-item thematic-data" data-id="{{ thematic.id }}" data-name="{{ thematic.name }}">
                <a class="nav-link {{ loop.index == 1 ? 'active' : '' }}" href="#thematic-{{ thematic.id }}" data-toggle="tab">{{ thematic.name }}</a>
                <div class="nav-link--actions">
                    <button class="thematic-btn thematic-btn--edit">  <span class="fa fa-pencil"></span> </button>    
                    <div class="delete-form-wrapper pull-right ml-2">
                        <form method="post" action="{{ path('admin_faq_thematic_delete', {'id': thematic.id}) }}">
                            <button class="thematic-btn thematic-btn--delete need-confirmation" confirmation-message="Voulez vous supprimer {{ thematic.name }}?"> 
                                <i class="fa fa-trash"></i>
                            </button>
                        </form>
                    </div>        
                </div>
            </li>
        {% endfor %}
    </ul>
</div>