<div class="tile-body">
    <div class="section-title">
        <h5><i class="fa fa-info-circle mr-2"></i>{% trans %}A propos{% endtrans %}</h5>
    </div>
     <div class="row">        
        <div class="col-sm-4 mt-3">
            <label class="control-label">{% trans %}Montant{% endtrans %}</label>
            <div class="d-flex flex-justify-between">
                {{ form_widget(form.amount, {'attr':{'class':'form-control'}}) }}
                {{ form_widget(form.currency, {'attr':{'class':'form-control'}}) }}
            </div>
        </div>
        <div class="col-sm-4 mt-3">
            <label class="control-label">{% trans %}Nombre de bourse{% endtrans %}</label>
            {{ form_widget(form.count, {'attr':{'class':'form-control'}}) }}
        </div>
        {#
        <div class="col-sm-4 mt-3">
            <label class="control-label">Total</label>
            {{ form_widget(form.totalOffered, {'attr':{'class':'form-control'}}) }}
        </div>
        #}

        <div class="col-sm-4 mt-3">
            <label class="control-label">{% trans %}Durée{% endtrans %}</label>
            <div class="d-flex flex-justify-between">
                {{ form_widget(form.duration, {'attr':{'class':'form-control'}}) }}
                {{ form_widget(form.durationUnit, {'attr':{'class':'form-control'}}) }}
            </div>
        </div>
        {#  
        <div class="col-sm-4 mt-3">
            <label class="control-label">Infos email</label>
            {{ form_widget(form.infosEmail, {'attr':{'class':'form-control'}}) }}
        </div>
        #}
        
        <div class="col-sm-4 mt-3">
            <label class="control-label">{% trans %}Piéce à fournir{% endtrans %}</label>
            <div class="duplicate-input" input-name="attachments[]">
                {% for field in scholarship.attachments|default([""]) %}
                    <input type="text" 
                        class="form-control duplicate-input--field {{ loop.index > 1 ? 'mt-2' : '' }}" 
                        name="attachments[]" 
                        value="{{ field }}"
                    />    
                {% endfor %}
            </div>
        </div>
      
        <div class="col-sm-4 mt-3">
            <label class="control-label">{% trans %}Avantages{% endtrans %}</label>
            <div class="duplicate-input" input-name="advantages[]">
                {% for field in scholarship.advantages|default([""]) %}
                    <input type="text" 
                        class="form-control duplicate-input--field {{ loop.index > 1 ? 'mt-2' : '' }}" 
                        name="advantages[]" 
                        value="{{ field }}"
                    />    
                {% endfor %}
            </div>
         </div>
        
        <div class="col-sm-4 mt-3">
            <label class="control-label">{% trans %}Autre infos{% endtrans %}</label>
            {{ form_widget(form.otherInfos, {'attr':{'class':'form-control'}}) }}
        </div>
      
        <div class="col-sm-12 mt-3">
            <label class="control-label">{% trans %}Historique du bourse (250 mot maximum){% endtrans %}</label>
            {{ form_widget(form.story, {'attr':{'class':'form-control'}}) }}
        </div>
        <div class="col-sm-4 mt-3">
            <label class="control-label">
                {{ form_widget(form.faculty) }} {% trans %}Faculté {% endtrans %}
            </label>
        </div>
  </div>
</div>
