 <div class="form-group" id="contact-avatar">
    <div class="input-file-wrapper">
        {#% set isRequired =  form.vars.value.contactAvatar ? false : true  %#}
        {% set isRequired =  false  %}
        <span class="legende" id="avatar-legende-file">{% trans %}Merci de fournir un image de taille 250 x 250px au minimum{% endtrans %}</span>
        <input type="hidden" name="contactAvatar64" value="" id="contactAvatar64">
        {{ form_widget(form.contactAvatar, {'attr':{'class':'hidden avatar-input-file', 'required':isRequired }}) }}
    </div>
    <div class="thumbnail-preview">
        <div class="thumbnail-preview__image avatar-image-preview">
            {% if form.vars.value.contactAvatar %}
                <img src="{{  '/uploads/avatar/' ~ form.vars.value.contactAvatar }}">  
            {% else %}
                <img src="{{  asset('build/admin/images/icon-image.svg') }}" width="50">        
            {% endif %}
        </div>
        <div class="btn-container">
            <button class="avatar-preview--edit custom-default-btn"> {% trans %}Modifier contact avatar{% endtrans %} </button>
        </div>
    </div>
</div>