{% set cb_checked = is_edit and form.vars.value.candidatureLimit == null  %}

<div class="tile-body">
    <div class="section-title">
         <h5><i class="fa fa-info-circle mr-2"></i>{% trans %}Information sur la candidaure{% endtrans %}</h5>
    </div>
    <div class="row">
        <div class="col-md-4 mt-3">
            <div class="form-group">
              <label class="control-label">
                <input type="radio" name="scholarship_cadidateOption" value="external" checked >
                {% trans %}Candidature se déroule sur votre site web{% endtrans %}
              </label>
            </div>
            
            <div class="form-group">
              <label class="control-label">
                <input type="radio" name="scholarship_cadidateOption" value="local" disabled>
                {% trans %}Candidature doit se faire sur notre plateform{% endtrans %}
              </label>
            </div>
          
        </div>

        <div class="col-md-4">
            <label for="scholarship_cadidateOption" class="control-label mt-3">{% trans %}Url de candidature{% endtrans %}</label>
            {{ form_widget(form.cadidateOptionUrl, {'attr':{'class':'form-control'}}) }}
        </div>

        <div class="col-md-4">
            <label for="scholarship_cadidateOption" class="control-label mt-3">{% trans %}Date de limite{% endtrans %}</label>
            {{ 
              form_widget(form.candidatureLimit, {
                'attr':{
                  'class':'form-control',
                  'disabled' : cb_checked
                }
              }) 
            }}

            <div class="cb-wrapper mt-2">
              <label>
                <input type="checkbox" id="candidatureLimitCb" {{ cb_checked ? 'checked' : '' }}> {% trans %}En fonction de l'établissement{% endtrans %}
              </label>
            </div>
        </div>



    </div>
</div>
