<div class="tile-body">
    <div class="section-title">
       <h5><i class="fa fa-phone mr-2"></i>{% trans %}Contact{% endtrans %}</h5>
    </div>
    <div class="row">
        <div class="col-md-8 mt-3">
          <div class="form-group">
            <label for="scholarship_contactName" class="control-label">{% trans %}Nom{% endtrans %}</label>
            {{ form_widget(form.contactName, {'attr':{'class':'form-control'}}) }}
          </div>
          
          <div class="form-group">
            <label for="scholarship_contactName" class="control-label">{% trans %}Email{% endtrans %}</label>
            {{ form_widget(form.contactEmail, {'attr':{'class':'form-control'}}) }}
          </div>

          <div class="form-group">
            <label for="scholarship_contactName" class="control-label">{% trans %}Adresse{% endtrans %}</label>
            {{ form_widget(form.contactAdresse, {'attr':{'class':'form-control'}}) }}
          </div>
          
          <div class="form-group">
            <label for="scholarship_contactName" class="control-label">{% trans %}Numéro telephone{% endtrans %}</label>
            {{ form_widget(form.contactPhone, {'attr':{'class':'tel-input form-control'}}) }}
          </div>
        </div>
        
        <div class="col-md-4 mt-3">
            {{ include('admin/scholarship/_form_parts/_avatar.html.twig') }}
            
            <div class="form-group mt-3 pt-3">
              <div class="contact-adressemap-preview">
                {{ form_widget(form.contactAdresseMap,{'attr':{'class':'d-none'}}) }}
                <div class="map-preview-container">
                  {% if form.vars.value.contactAdresseMap %}
                      <img src="{{'/uploads/maps/' ~ form.vars.value.contactAdresseMap }}" id="contact-adressemap-preview">
                  {% else %}
                      <img src="" id="contact-adressemap-preview">
                  {% endif %}
                </div>
              </div>
            </div>
        </div>
    </div>
</div>