<div class="tile-body">
    <div class="section-title">
        <h5><i class="fa fa-info-circle mr-2"></i>{% trans %}Critére de selection{% endtrans %}</h5>
    </div>
    <div class="row">
        <div class="col-md-4 form-group">
            <label class="control-label mt-3">{% trans %}Continent{% endtrans %}</label>
            {{ form_widget(form.grantedContinent, {'attr':{'class':'form-control chosen', 'all':'true'}}) }}
        </div>

        <div class="col-md-4 form-group">
            <label class="control-label mt-3">{% trans %}Pays{% endtrans %}</label>
            {{ form_widget(form.grantedCountries, {'attr':{'class':'form-control chosen', 'all':'true'}}) }}
        </div>
        
        <div class="col-md-4 form-group">
            <label class="control-label mt-3">{% trans %}Nationalité{% endtrans %}</label>
            {{ form_widget(form.grantedNationalities, {'attr':{'class':'form-control chosen', 'all':'true'}}) }}
        </div>

        <div class="col-md-4 form-group">
            <label class="control-label mt-3">{% trans %}Domaine d'étude{% endtrans %}</label>
            {{ form_widget(form.studyField, {'attr':{'class':'form-control chosen', 'all':'true'}}) }}
        </div>
        <div class="col-md-4 form-group">
            <label class="control-label mt-3">{% trans %}Discipline(s){% endtrans %}</label>
            {{ form_widget(form.studyFieldTags, {'attr':{'class':'form-control chosen', 'all':'true'}}) }}
            <a href="#" type="button" data-toggle="modal" data-target="#discipline-form-modal">
              <i class="fa fa-plus mr-2"></i>{% trans %}Autre{% endtrans %}
            </a>
        </div>
        <div class="col-md-4 form-group">
            <label class="control-label mt-3">{% trans %}Niveau d'étude{% endtrans %}</label>
            {{ form_widget(form.grantedLevel, {'attr':{'class':'form-control chosen', 'all':'true'}}) }}
        </div>
        
        <div class="col-md-4">
            <div class="form-group">
              <label class="control-label mt-3">{% trans %}Age{% endtrans %}</label>
              <div class="d-flex flex-justify-between">
                  {{ form_widget(form.minAge, {'attr':{'class':'form-control'}}) }}
                  <label class="mx-2 mt-2"> {% trans %}à{% endtrans %} </label>
                  {{ form_widget(form.maxAge, {'attr':{'class':'form-control'}}) }}
              </div>
              <label class="control-label mt-2">
                <input type="checkbox" name="all-age" id="all-age-cb"> {% trans %}Tous{% endtrans %}
              </label>
            </div>
        </div>

        <div class="col-md-4 mt-3">
            <label class="control-label">{% trans %}Sexe{% endtrans %}</label>
            {{ form_widget(form.grantedSex, {'attr':{'class':'form-control'}}) }}
        </div>

        <div class="col-sm-4 mt-3">
          <label class="control-label">{% trans %}Critères de sélection{% endtrans %}</label>
          <div class="duplicate-input" input-name="selectionCriteria[]">
          {% for field in scholarship.selectionCriteria|default([""]) %}
            <input type="text" 
                class="form-control duplicate-input--field {{ loop.index > 1 ? 'mt-2' : '' }}" 
                name="selectionCriteria[]" 
                value="{{ field }}"
            />    
          {% endfor %}
          </div>
      </div>

    </div>
</div>
