{% set galleryPhotos = scholarship.gallery.pictures|default(false) %}
<div class="tile-body">
    <div class="section-title">
        <h5><i class="fa fa-globe mr-2"></i>{% trans %}Gallery photos{% endtrans %}</h5>
    </div>
    <div class="form-group mt-3 gallery-picture-wrapper">
      <div class="form-group mt-3 gallery-picture-wrapper">
        <div class="form-group drag-area drag-area--multiple" id="gallery-picture-uploader">
            <legende>{% trans %}Cliquer ou glisser deposer 5 photos au max.{% endtrans %}</legende>
            <input type="file" name="galeryPhoto[]" id="galeryPhoto" multiple="multiple" class="input-file">
            <div class="file-preview">
              <div class="file-preview-image">
                {% for photo in galleryPhotos|default([]) %}
                    <img src="{{  '/uploads/picture/' ~ photo }}"> 
                  {% else %}
                    <img src="{{  asset('build/admin/images/icon-image.svg') }}" width="50" class="default-img">        
                {% endfor %}  
              </div>
            </div>
            <span class="legende" id="cover-legende-file">{% trans %}Merci de fournir un image de taille 250 x 250px au minimum{% endtrans %}</span>
        </div>
      </div>
    </div>
  </div>