<div class="tile-body">
    <div class="section-title">
        <h5><i class="fa fa-info-circle mr-2"></i>{% trans %}Information générale{% endtrans %}</h5>
    </div>
    <div class="row">
        <div class="col-md-6 mt-3">
            <div class="form-group">
              <label class="control-label">{% trans %}Nom du bourse{% endtrans %} *</label>
              {{ form_widget(form.name, {'attr':{'class':'form-control','required':true}}) }}
            </div>

            <div class="form-group">
              <label class="control-label">{% trans %}Pays d'origine{% endtrans %}</label>
              {{ form_widget(form.originCountry, {'attr':{'class':'form-control chosen'}}) }}
            </div>
            <div class="form-group">
              <label class="control-label">{% trans %}Organisme d'attribution{% endtrans %}</label>
              {{ form_widget(form.awardOrganizationType, {'attr':{'class':'form-control'}}) }}
            </div>

            <div class="form-group">
              <label class="control-label">{% trans %}Bourse lié à{% endtrans %}</label>
              {{ form_widget(form.relatedOrganization, {'attr':{'class':'form-control'}}) }}
            </div>

        </div>
        <div class="col-md-6">
            {{ include('admin/scholarship/_form_parts/_logo.html.twig') }}
        </div>
    </div>
</div>
