 <div class="form-group" id="scholarship-logo">
    <div class="input-file-wrapper">
        {#% set isRequired =  form.vars.value.logo ? false : true  %#}
        {% set isRequired =  false %}
        <span class="legende tooltip-logo" id="legende-file">{% trans %}Merci de fournir un image de taille 250 x 250px au minimum{% endtrans %}</span>
        <input type="hidden" name="logo64" value="" id="logo64">
        {% if isRequired %}
            {{ form_widget(form.logo, {'attr':{'class':'hidden logo-input-file', 'required':'required' }}) }}
        {% else %}
            {{ form_widget(form.logo, {'attr':{'class':'hidden logo-input-file' }}) }}
        {% endif %}
        
    </div>
    <div class="thumbnail-preview">
        <div class="thumbnail-preview__image"  data-default="{{  asset('build/admin/images/icon-image.svg') }}">
            {% if form.vars.value.logo %}
                <img src="{{  '/uploads/logo/' ~ form.vars.value.logo }}">  
            {% else %}
                <img src="{{  asset('build/admin/images/icon-image.svg') }}" width="50">        
            {% endif %}
        </div>
        <div class="btn-container">
            <button class="logo-preview--edit custom-default-btn"> {% trans %}Modifier votre logo{% endtrans %} </button>
        </div>
    </div>
</div>