<!--
  - Copyright (c) 2022.
  - Boba <boubarisoa@gmail.com>
  -
  -->

<template>
    <div class="el-duplicated--container el-custom-table gender-wrapper">
        <div class="row">
            <div class="col-3 el-table-head--label"> {{$t('fm.components.fields.gender')}} </div>
            <el-radio-group v-model="widget.options.defaultValue"
                                :style="{width: widget.options.width}"
                                :disabled="widget.options.disabled"
                >
                    <el-radio
                            :style="{display: widget.options.inline ? 'inline-block' : 'block'}"
                            :label="item.value" v-for="(item, index) in widget.options.options" :key="item.value + index"

                    >
                        {{widget.options.showLabel ? $t('word.'+item.label) : $t('word.'+item.value)}}
                    </el-radio>
                </el-radio-group>
        </div>
    </div>
</template>

<script>
import sexe from "../../configs/sexe.js"

export default {
    name: 'GenerateFormItem',
    props: {
        widget: {
            require: true
        },
        dataModel: {
            require: true
        }
    },

    data: function(){
        return {
            model : false,
            levels: []
        }
    },

    computed: {
        itemModel: function(){
            return sexe.options.defaultValue[0]
        }
    },
    

    methods: {
        /**
         * Initialized the cloone defaultvalue option value
         * 
         * @return void
         */
        initModelValue: function(){
            if(this.dataModel){
                this.model = this.dataModel
                return 
            }
            this.model = [{...this.itemModel}]
        },

        /**
         * Add a new recommendation entry
         * 
         * @return void
         */
        addNewLine: function(){
            this.model.push({...this.itemModel})
        },

        /**
         * Remove a selected recommendation
         * 
         * @param {Integer} index
         * @return void
         */
        removeLine: function(index){
            this.model.splice(index, 1)
        }
    },

    mounted: function(){
        this.initModelValue()
        let that = this;
    },

    watch: {
        model:{
            deep: true,
            handler: function(value){
                this.$emit('change', value)
            }
        }
    }
}
</script>
<style scoped lang="scss" src="@/components/vue-form-making/styles/el-duplicated.scss"></style>
<style lang="scss">
    .gender-wrapper {
        .el-form-item__label {
            display: none;
        }
    }
    .el-custom-table{
        &.gender-wrapper{
            .el-form-item__label{
                display: none;
            }
            .el-table--row {
                border: solid 1px #D3D3D3;
                align-items: center;
        
                .el-table--td {
                    padding: 10px;

                    &:not(:first-child){
                        border-left: solid 1px #D3D3D3;
                    }
                    
                    input,select, 
                    .vs__dropdown-toggle{
                        border:unset!important;
                    }


                }

                .remove-entry--container {
                    position: absolute;
                    right: 10px;
                
                    button {
                        border: solid 2px #FF7667;
                        color: #FF7667;
                        background: unset;
                        border-radius: 50%;
                        width: 1.5rem;
                        height: 1.5rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 19px;
                        font-weight: 500;
                    }
                }

            }
        }
    }
    

</style>