
<!--
  - Copyright (c) 2022.
  - Boba <boubarisoa@gmail.com>
  -
  -->
<template>
    <div class="el-duplicated--container el-custom-table gender-wrapper px-4">
        <div class="row">
            <div class="col-3 el-table-head--label"> {{$t('fm.components.fields.gender')}} </div>
                 <el-radio-group v-model="element.options.defaultValue"
                                :style="{width: element.options.width}"
                                :disabled="element.options.disabled"
                >
                    <el-radio
                            :style="{display: element.options.inline ? 'inline-block' : 'block'}"
                            :label="item.value" v-for="(item, index) in element.options.options" :key="item.value + index"

                    >
                        {{element.options.showLabel ? $t('word.'+item.label) : $t('word.'+item.value)}}
                    </el-radio>
                </el-radio-group>
        </div>
    </div>
</template>

<script>

    export default {
        name: 'WidgetItemQualification',

        props: {
            element: {
                require: true
            }
        },

        data: function(){
            return {
                model : false,
            }
        },

    }
</script>
<style scoped lang="scss" src="@/components/vue-form-making/styles/el-duplicated.scss"></style>
<style lang="scss">
    .el-custom-table{
        &.interest-area{
            .el-table--row {
                border: solid 1px #D3D3D3;
                align-items: center;

                .el-table--td {
                    padding: 10px;

                    &:not(:first-child){
                        border-left: solid 1px #D3D3D3;
                    }

                    input,select,
                    .vs__dropdown-toggle{
                        border:unset!important;
                    }

                }
            }
        }
    }


</style>