<template>
  <div class="scholarship-content-template">
      <div class="owner-action--wrapper" v-if="showOwnerActions">
          <OwnerAction  :scholarship="scholarship"/> 
      </div>
      <div class="row">
        <div class="col-lg-6">
                <BasicInfos :scholarship="scholarship" />
                <ContactCard :scholarship="scholarship"  v-if="logged" />
            </div>
            <div class="col-lg-6">
                <InfosCard :scholarship="scholarship" />
            </div>
        </div>

        <div v-if="logged" class="w-100">
            <div class="discipline-section" >
                <div class="discipline-section--item">
                    <Disciplines :scholarship="scholarship" />
                </div>
                <div class="discipline-section--item criteria-section-wrapper">
                    <Criteria :scholarship="scholarship" />
                </div>
            </div>


            <div class="advantages-section">
                <Advantages :scholarship="scholarship" />	
            </div>

            <div class="attachment-section">
                <Attachments :scholarship="scholarship" />
            </div>


            <div class="actions-section">
                <FooterActions  :scholarship="scholarship"/>
            </div>
            
        </div>
  </div>
</template>

<script>
    import ContactCard  from "./parts/ContactCard.vue"
    import InfosCard    from "./parts/InfosCard.vue"
    import BasicInfos   from "./parts/BasicInfos.vue"
    import Disciplines  from "./parts/Disciplines.vue"
    import Criteria     from "./parts/Criteria.vue"
    import Advantages   from "./parts/Advantages.vue"
    import Attachments  from "./parts/Attachments.vue"
    import OwnerAction  from "./parts/OwnerAction.vue"
    import FooterActions from "./parts/FooterActions.vue"

    export default {
        name: 'ScholarshipContent',
        props:{
            scholarship: {
                require: true
            },
            context: {
                default:'page'
            }
        },
        
        components:{
                ContactCard,
                InfosCard,
                BasicInfos,
                Disciplines,
                Criteria,
                Advantages,
                Attachments,
                OwnerAction,
                FooterActions
        },
        computed: {
            showOwnerActions: function(){
                return !(['preview', 'form'].includes(this.context))
            },
        },
        mounted: function(){
            window.scrollTo({
                top: 0,
                behavior: 'smooth'
            })
        }
    }
</script>

<style src="./style.css"></style>
<style scoped>
    .scholarship-content-template{
        position: relative;
    }
    .owner-action--wrapper {
        position: absolute;
        right: 0;
        z-index: 9;
        top: -4.5rem;
    }
    @media (max-width: 1500px){
        .owner-action--wrapper {
            top: -4rem;
        }
    }
    @media (max-width: 991px){
        .criteria-section-wrapper{
            margin-top: 2rem;
        }
    }
</style>