<template>
    <default-layout class="scolarship-page">
		<div slot="content" class="scolarship-page--content">
				<div v-if="fetching">
					<Breadcrumb :items="breadcrumbs" />
					
					<ScholarshipContent :scholarship="scholarship" />
				</div>
				<Splash v-else/>
		</div>
    </default-layout>
</template>
<script src="./Scholarship.js"></script>