.scolarship-page .menu-top * {
    z-index: 7;
}
.scolarship-page--content {
    padding: 2%;
}

.scolarship-page--content::before{
    content:url("~@/assets/img/scholarship-shape.svg");
    position: absolute;
    top: -5px;
    right: -.5rem;
    z-index: 2;
    opacity: 0.4;
}

.attachment-section{
    margin-top: 2rem;
}

.actions-section {
    margin-top: 4rem;
}


.discipline-section {
    display: flex;
    margin-top: 4rem;
}
.discipline-section--item{
    min-width: 30vw;
}

.advantages-section{
    margin-top: 4rem;
}

@media(max-width:1500px){
    .scolarship-page--content::before{
        top: -7vw;
        right: -7vw;
        transform: scale(0.8);
    }
}
@media(max-width:1300px){
    .scolarship-page--content::before{
        top: -8vw;
        right: -8vw;
    }
}
@media(max-width:1200px){
    .scolarship-page--content::before{
        top: -11vw;
        right: -12vw;
        transform: scale(0.7);
    }
    .actions-section {
        margin-top: 2rem;
    }
}
@media(max-width:1025px){
    .scolarship-page--content::before{
     display: none;
    }
}
@media(max-width:991px){
    .discipline-section {
        flex-direction: column;
    }
}
@media(max-width:768px){
    .actions-section{
        text-align: center;
    }
}

