<template>
  <div>
      <div class="profil-solide">
        <div class="w-50 text-center">
          <img
            :src="require('@/assets/img/Vignettes-Home-Etudiants_1.png').default"
          />
        </div>
        <div class="w-50">
          <h1 class="profil-solide-titre">{{$t('student.home.title-profil_1')}}</h1>
          <h2 class="profil-solide-sub-titre" id="profil-solide-sub-titre">
              {{$t('student.home.title-profil_detail_1')}}
          </h2>
          <a class="profil-link"   href="#" @click.prevent="$emit('register')">{{$t('student.home.title-profil_link_1')}}</a>
        </div>
      </div>
      <div class="insipirer-container">
        <div class="inspirer">
          <div class="inspirer-1--container">
            <h1 class="profil-solide-titre">{{$t('student.home.title-profil_2')}}</h1>
            <h2 class="profil-solide-sub-titre">
                   {{$t('student.home.title-profil_detail_2')}}
            </h2>
            <a class="profil-link" href="#">{{$t('student.home.title-profil_link_2')}}</a>
          </div>
        </div>
        <div style="margin-top: 10%">
          <img class="inspirer-img-1" :src="require('@/assets/img/Vignettes-Home-Etudiants_2.png').default"/>
        </div>
      </div>
      <div class="echanger-avec mb-5">
        <div class="w-50">
          <img class="inspirer-img-2" :src="require('@/assets/img/Vignettes-Home-Etudiants_3.png').default"/>
        </div>
        <div class="w-50">
          <h1 class="profil-solide-titre">{{$t('student.home.title-profil_3')}}</h1>
            <h2 class="profil-solide-sub-titre">
                   {{$t('student.home.title-profil_detail_3')}}
            </h2>
          <a class="profil-link" href="#" @click.prevent="$emit('register')">{{$t('student.home.title-profil_link_3')}}</a>
        </div>
      </div>

  </div>
</template>

<script>
export default {
    name: 'OfferCards'
}
</script>

<style scoped>
  .inspirer-1--container{
    margin-top: 25%; 
    width: 70%; 
    margin-left: 15%
  }

  .inspirer-img-1{
    width: auto; 
    height: 400px; 
    margin-left: 50px
  }
  @media (max-width:768px) {
      .profil-solide{
        flex-direction: column ;
      }

      .profil-solide .w-50,
      .profil-solide .profil-solide-titre
      {
        width: 100% !important;
      }
      .insipirer-container {
          flex-direction: column-reverse;
          text-align: center;
      }
      .inspirer-1--container{
          margin-top: unset; 
          width: unset; 
          margin-left:unset;
          padding: 5rem 5%;
      }
      .inspirer-img-1{
          width: auto; 
          height: 250px; 
          margin-left: 50px
        }
      .inspirer-img-2{
        height: 200px;
      }
      .inspirer{
          width: 100% !important;
          height: fit-content !important;
          padding-bottom: 2rem !important;
          margin-top: unset !important;
      }

      .profil-solide-sub-titre {
        opacity: 1;
        margin: 20px auto;
        font-size: 20px;
      }
      .profil-solide img {
        transform: unset;
        height: 245px;
      }
      .profil-solide-titre {
        text-align: center;
        font-size: 1.5rem;
        margin: 0 auto;
        width: 100%;
      }
      .echanger-avec{
          flex-direction: column;
          text-align: center;
      }

      .echanger-avec .w-50 {
          width: 100% !important;
      }
  }
</style>