<template>
  <div class="conteneur-parcours">
        <div class="row parcours-row">
            <div class="col-6 col-lg-3 parcour-col">
              <div class="parcours-etudiant box1">
                <img
                  :src="require('@/assets/img/ico_scholarship.png').default"
                  class="logo-parcours"
                />
                <p class="description-parcours-etudiant">{{$t('student.home.description-course_1')}}</p>
                <p class="sous-description">
                  {{$t('student.home.description-course-detail_1')}}
                </p>
                <div class="fake-border"></div>
              </div>
            </div>
            <div class="col-6 col-lg-3 parcour-col">
              <div class="parcours-etudiant box2">
                <img
                  :src="require('@/assets/img/ico_learning.png').default"
                  class="logo-parcours"
                />
                <p class="description-parcours-etudiant">{{$t('student.home.description-course_2')}}</p>
                <p class="sous-description">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec est sed
                  orci blandit imperdiet.
                </p>
                <div class="fake-border"></div>
              </div>
            </div>
            <div class="col-6 col-lg-3 parcour-col">
              <div class="parcours-etudiant box3">
                <img
                  :src="require('@/assets/img/ico_resume.png').default"
                  class="logo-parcours"
                />
                <p class="description-parcours-etudiant">{{$t('student.home.description-course_3')}}</p>
                <p class="sous-description">
                  {{$t('student.home.description-course-detail_3')}}
                </p>
                <div class="fake-border"></div>
              </div>
            </div>
            <div class="col-6 col-lg-3 parcour-col">
              <div class="parcours-etudiant box4">
                <img
                  :src="require('@/assets/img/ico_thumb.png').default"
                  class="logo-parcours"
                />
                <p class="description-parcours-etudiant">{{$t('student.home.description-course_4')}}</p>
                <p class="sous-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec est sed
                    orci blandit imperdiet.
                </p>
                <div class="fake-border"></div>
              </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'PubCards'
}
</script>

<style scoped lang="sass">
  .conteneur-parcours{
      
      .parcours-row {
          margin: auto;
          padding: 0 10%;
      }


      .parcours-etudiant {
          width: 100%;
          background    : #ffffff 0% 0% no-repeat padding-box;
          display       : flex;
          align-items   : center;
          flex-direction: column;
          border-radius : 10px;
          padding: 4rem 0;
          overflow: hidden;
          position: relative;
      
          .logo-parcours{
              max-width: 100px;
          }


          .description-parcours-etudiant {
            max-width: 8rem;
          }

          .sous-description {
              font-size: 14px;
          }
          .fake-border{
            width: 100%;
            height: 10px;
            position: absolute;
            bottom: 0;
          }

          &.box1{
              -webkit-box-shadow: 0px 50px 20px #BAD1FF7F;
              -moz-box-shadow   : 0px 50px 20px #BAD1FF7F;
              box-shadow: 0px 50px 20px #BAD1FF7F;
              .fake-border{
                  background: #9BE8E0;
              }
          }
            
          &.box2{
              -webkit-box-shadow: 0px 50px 20px #FFB8C34C;
              -moz-box-shadow   : 0px 50px 20px #FFB8C34C;
              box-shadow:0px 50px 20px #FFB8C34C;
              .fake-border{
                  background: #FFC9BD;
              }
          }

          &.box3{
              -webkit-box-shadow: 0px 50px 20px #CDD4FF7F;
              -moz-box-shadow   :0px 50px 20px #CDD4FF7F;
              box-shadow: 0px 50px 20px #CDD4FF7F;
              .fake-border{
                  background: #BFD5FF;
              }
          }

          &.box4{
              -webkit-box-shadow: 0px 50px 20px #FFCBD57F;
              -moz-box-shadow   : 0px 50px 20px #FFCBD57F;
              box-shadow: 0px 50px 20px #FFCBD57F;
              .fake-border{
                  background: #FFC1BB;
              }
          }

      }

      .description-parcours-etudiant {
          text-align : center;
          font-family: 'NunitoSans-Bold' !important;
          width: 100%;
      }

      .sous-description {
          text-align    : center;
          letter-spacing: 0px;
          color         : #000000;
          opacity       : 1;
          width         : 90%;
      }
  }

  @media (max-width:1500px) {
        .conteneur-parcours{
            .parcour-col{
                padding-right: 10px !important;
                padding-left: 10px !important;
                
                .parcours-etudiant{
                    padding: 2rem 0;  
  
                    .logo-parcours{
                      max-width: 75px;
                    }

                    .sous-description{
                        font-size: 12px;
                    }
                }
            }
        }
        
  }
  @media (max-width:1220px) {
        .conteneur-parcours{
            .parcour-col{
                padding-right: 8px !important;
                padding-left: 8px !important;
                
                .parcours-etudiant{
                    .logo-parcours{
                      max-width: 60px;
                    }
                    .description-parcours-etudiant {
                        max-width: 7rem;
                        font-size: 14px
                    }
                    .sous-description{
                        font-size: 10px;
                    }
                }
            }
        }
        
  }

  @media (max-width:1080px) {
    .conteneur-parcours{
        .parcour-col{
            padding-right: 5px !important;
            padding-left: 5px !important;

            .parcours-etudiant{
                padding: 10px 0;
            }
        }
    }
        
  }

  @media (max-width:991px) {
      .conteneur-parcours{
          .parcours-row{
              padding: 0 15%;

              .parcour-col{
                  padding-right: 15px !important;
                  padding-left: 15px !important;
                  margin-bottom: 2rem; 
              }
          }
      }  
  }
  @media (max-width:650px) {
      .conteneur-parcours{
          .parcours-row{
              padding: 0 10%;

              .parcour-col{
                  padding-right: 8px !important;
                  padding-left: 8px !important;
              }
          }
      }  
  }
  @media (max-width:525px) {
      .conteneur-parcours{
          .parcours-row{
              padding: 0 5%;

              .parcour-col{
                  padding-right: 5px !important;
                  padding-left: 5px !important;

                  .parcours-etudiant{
                    padding: 5px 0;

                    .sous-description{
                      min-height: 4rem
                    }
                  }
              }
          }
      }  
  }

  @media (max-width:370px) {
      .parcours-etudiant .sous-description{
         min-height: 4.6rem !important;
      }  
  }
  



</style>