<template>
   <form>
    <div class="card-body advanced">
        <div class="text-center">
            {{ $t('error.new_feature') }}
        </div>
        <!--
        <div class="advanced-section--age-sexe">
            <div class="custom-form-group">
                <div class="custom-form--label">
                    <label>Agé(s) de:</label>
                </div>
                <div class="custom-input-group">
                    <input type="text" v-model="age_min" class="custom-form-control" id="age_min">
                    <label class="custom-inner-label">à</label>
                    <input type="text" v-model="age_max" class="custom-form-control" id="age_max">
                </div>
            </div>

            <div class="custom-form-group">
                <div class="custom-form--label">
                    <label>Sexe:</label>
                </div>
                <div class="custom-input-group">
                    <div class="custom-form-check">
                        <label class="form-check-label ">
                            <input type="checkbox"> Homme
                        </label>
                    </div>
                    <div class="custom-form-check">
                        <label class="form-check-label ">
                            <input type="checkbox"> Femme
                        </label>
                    </div>
                </div>
            </div>
        </div> 
        --->
        <!---div class="advanced-section--result">
                <div class="result-title">resultat aux tests</div>
                <div class="row">
                    <div class="col">
                        <div class="form-check mb-3 ">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input">
                                GRE
                            </label>
                        </div>
                        <div class="range-container">
                            <SliderRangeForm  minRValue="130" maxRValue="170" rangeLabel="Verbal" />
                        </div>
                    </div>
                    <div class="col">

                        <div class="range-container">
                            <SliderRangeForm  minRValue="10" maxRValue="100" rangeLabel="Quantitative" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="range-container">
                            <SliderRangeForm  minRValue="10" maxRValue="100" rangeLabel="Verbal" />
                        </div>
                    </div>
                    <div class="row col">
                        <div class="form-check mb-0 ml-2">
                            <input type="checkbox" class="form-check-input" id="lsat">
                            <label class="form-check-label " for="lsat">LSAT</label>
                        </div>
                        <div class="range-container">
                            <SliderRangeForm  minRValue="10" maxRValue="100" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="row">
                        <div class="form-check mb-0 ">
                            <input type="checkbox" class="form-check-input" id="tag">
                            <label class="form-check-label " for="tag">TAG<br/>MAG</label>
                        </div>
                    </div>
                    <div class="ml-5">
                        <MergedInput
                                labelInput="Raisonnement"
                                labelNiveau=""
                                name="raisonnement_tag"
                        />
                    </div>
                    <div class="ml-2">
                        <MergedInput
                                labelInput="Verbal"
                                labelNiveau=""
                                name="verbal_tag"
                        />
                    </div>
                    <div class="ml-2">
                        <MergedInput
                                labelInput="Résolution"
                                labelNiveau=""
                                name="resolution_tag"
                        />
                    </div>
                    <div class="ml-2">
                        <MergedInput
                                labelInput="Score total"
                                labelNiveau=""
                                name="score_tag"
                        />
                    </div>
                    <div class="ml-5 mt-0">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="gmat">
                            <label class="form-check-label " for="gmat">GMAT</label>
                        </div>
                    </div>
                    <div class="ml-2">
                        <MergedInput
                                labelInput="raisonnement"
                                labelNiveau=""
                                name="raisonnement_gmat"
                        />
                    </div>
                    <div class="ml-2">
                        <MergedInput
                                labelInput="Verbal"
                                labelNiveau=""
                                name="verbal_gmat"
                        />
                    </div>
                    <div class="ml-2">
                        <MergedInput
                                labelInput="Quantitative"
                                labelNiveau=""
                                name="quantitative_gmat"

                        />
                    </div>
                    <div class="ml-2">
                        <MergedInput
                                labelInput="Ecriture"
                                labelNiveau=""
                                name="ecriture_gmat"
                        />
                    </div>
                    <div class="row col ml-1 mt-0">
                        <div class="form-check mb-3 pl-4 ">
                            <input type="checkbox" class="form-check-input" id="sat">
                            <label class="form-check-label " for="sat">SAT</label>
                        </div>
                        <div class="range-container">
                            <SliderRangeForm  minRValue="10" maxRValue="100" rangeLabel="Verbal" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="row col mr-3">
                        <div class="form-check mt-0">
                            <input type="checkbox" class="form-check-input" id="gpa">
                            <label class="form-check-label " for="gpa">GPA</label>
                        </div>
                        <div class="range-container ml-1">
                            <SliderRangeForm  minRValue="10" maxRValue="100" rangeLabel="Verbal" />
                        </div>
                    </div>
                    <div class=" row col-sm-1 ml-1 ">
                        <div class="form-check ">
                            <input type="checkbox" class="form-check-input mt-1" id="moygen">
                            <label class="form-check-label " for="moygen">Moyenne<br/>general</label>
                        </div>
                    </div>
                    <div class="col-sm-1 ml-3">
                        <MergedInput
                                labelInput="Score total"
                                labelNiveau=""
                        />
                    </div>
                    <div class="row col mt-0 ml-2">
                        <div class="form-check mb-0 ">
                            <input type="checkbox" class="form-check-input" id="toefl">
                            <label class="form-check-label " for="toefl">TOEFL</label>
                        </div>
                        <div class="range-container  ml-4">
                            <SliderRangeForm  minRValue="10" maxRValue="100"  />
                        </div>
                    </div>
                    <div class="row col mt-0 ml-4">
                        <div class="form-check mb-0 ">
                            <input type="checkbox" class="form-check-input" id="toeic">
                            <label class="form-check-label " for="toeic">TOEIC</label>
                        </div>
                        <div class="range-container ml-4 ">
                            <SliderRangeForm  minRValue="10" maxRValue="100"/>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="row col mt-3">
                        <div class="form-check ">
                            <input type="checkbox" class="form-check-input" id="ielts">
                            <label class="form-check-label " for="ielts">IELTS</label>
                        </div>
                        <div class="range-container  ml-3 mr-2 ">
                            <SliderRangeForm  minRValue="10" maxRValue="100" rangeLabel="Verbal" />
                        </div>
                    </div>
                    <div class="col-sm-2 ml-5 mb-3">
                        <div class="form-check mt-3">
                            <input type="checkbox" class="form-check-input" id="delfDalf">
                            <label class="form-check-label " for="delfdalf">DELF/DALF</label>
                        </div>
                    </div>
                    <div class="row col ">
                        <div class="col-sm-4">
                            <MergedInput
                                    labelInput="Niveau"
                                    labelNiveau="A"
                            />
                        </div>
                        <div class="col-sm-4">
                            <MergedInput
                                    labelInput="Niveau"
                                    labelNiveau= "B"
                            />
                        </div>
                        <div class="col-sm-4">
                            <MergedInput
                                    labelInput="Niveau"
                                    labelNiveau ="C"
                            />
                        </div>
                    </div>
                </div>
       
        </div -->
    </div>
</form>
</template>

<script>
    import MergedInput from "./MergedInput"
    import SliderRangeForm from "./SliderRangeForm.vue"

    export default {
        name: "AdvancedSearchForm",
        components:{
            MergedInput,
            SliderRangeForm
        },
        data: function(){
            return {
                age_min:'',
                age_max:''
            }
        }

    }   
</script>
<style scoped>
    .advanced-section--age-sexe {
        display: flex;
    }

    .custom-form-group {
        display: flex;
        align-items: center;
        margin-right: 2rem;
    }

    .custom-input-group {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .custom-form-control {
        width: 3rem;
        margin: 0 10px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #D2D2D2;
        padding: 5px;
        font-size: 14px;
        text-align: center;
    }

    label.custom-inner-label {
        margin: 0;
    }

    .custom-form--label label {
        margin: 0;
    }
    .form-check-label {
     margin-left: 1rem !important;
    }
    .advanced-section--age-sexe {
        padding-bottom: 1rem;
        border-bottom: solid 1px #CFD0EC;
    }

</style>