<template>
        <div class="merged-input-container">
            <div class="merged-input-label">
                {{labelInput}}
            </div>
            <div class="merged-fifeld">
                <input type="text" class="form-textfield" v-if="labelNiveau =='' "  maxlength="2"/>
                <p class="form-textfield ml-3"  v-else >{{labelNiveau}}</p>
                <p class="text-field-separator" id="age_min" v-if="labelNiveau =='' " >/</p>
                <input type="text"  class="form-textfield" maxlength="2" />
            </div>
        </div>
</template>


<script>
export default {
    name:'MergedInput',
    props:['labelInput','labelNiveau']
}
</script>
<style scoped src="../StudentSearch.css"></style>