#slider .simple-range-slider .simple-range-slider-popover[data-v-06329002] {
    background: transparent;
    box-shadow: unset;
    top:10px;
}
#slider .simple-range-slider .simple-range-slider-popover input{
    background: transparent !important;
    box-shadow: unset !important;
    vertical-align: unset;
    bottom:10px
}
#slider .simple-range-slider-popover-left{
top:10px;
}

#slider .simple-range-slider-popover-arrow{
    color:transparent;
    position:absolute;
    top:10px;
    left:1px;
    width:0;
    height:0;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    border-top:5px solid currentColor;
    -webkit-transform-origin:50% 50%;
    transform-origin:50% 50%
}
#slider .simple-range-slider-anchor{
    width:10px;
    height:10px;
    position:absolute;
    top:-3.5px;
    background:#fefefe;
    -webkit-box-shadow:0 0 4px 3px rgba(0,0,0,.2);
    box-shadow:0 0 4px 3px rgba(0,0,0,.2);
    border-radius:8px
}.slider-container{
    display: flex;
    flex-direction: row;
    width: 180px;
    height: 65px;
    
}
.min-label-range{
    position: absolute;
    bottom: 15px;
    font-size: 10px;
}
.max-label-range{
    position: absolute;
    bottom: 15px;
    right:0;
    font-size: 10px;
}
.slider-label{
    font-size: 10px;
    position: absolute;
    top:15px;
    left:50px;

}
