<template>
    <!-- <div class="range-components"> -->

              <div class="slider-container" id="slider">
                    <div class="min-label-range">{{minRValue}}</div>
                    <div>
                        <div class="slider-label">{{rangeLabel}}</div>
                        <VueSimpleRangeSlider
                          style="font-size: 8px;width:150px;margin-left:15px;"
                          :min="minRValue"
                          :max="maxRValue"
                          :logarithmic="false"
                          v-model="range"
                          barColor="#E0EBFF"
                        />
                    </div>
                    
                     <div class="max-label-range">{{maxRValue}}</div>
                </div>

</template>




<script>

import VueSimpleRangeSlider from 'vue-simple-range-slider';
import 'vue-simple-range-slider/dist/vueSimpleRangeSlider.css'
import './range.css'

export default {
    name:'SliderRangeForm',
    data(){
    return{
    range:[20, 70],
    tooltipdir:'bottom',

        }
    },
     created() {
    this.min = 0
    this.max = 250
    this.bgStyle = {
     backgroundColor: '#94F2F9',
     boxShadow      : 'inset 0.5px 0.5px 3px 1px rgba(0,0,0,.36)',
     width          :300
    }
    this.tooltipStyle = {
      borderColor    : '#666',
      backgroundColor:'#f1f1f7',
      borderWidth    :0,
      color          :'#606E6F',
      fontSize       : "8px"
    }
    this.processStyle = {
      backgroundColor: '#446FEA',
    }
  },
  components:{
      VueSimpleRangeSlider
  },
  props:['minRValue','maxRValue','rangeLabel'],
  methods:{
      handleKeydown: function handleKeydown(e)
			{
				if (!this.useKeyboard)
				{
					return true;
				}

				var keyCode = e.which || e.keyCode;

				switch (keyCode)
				{
					case 37:
					case 40:
						this.keydownFlag = true;
						this.flag = true;
						this.changeFocusSlider(this.actionsKeyboard[0]);
						break;

					case 38:
					case 39:
						this.keydownFlag = true;
						this.flag = true;
						this.changeFocusSlider(this.actionsKeyboard[1]);
						break;

					default:
						break;
				}

				if (this.keydownFlag)
				{
					e.preventDefault();
					e.stopPropagation();
					return false;
				}
				return true;
			}
  }

}



</script>
