<template>
    <div class="inline-search-form student-search-engine" :class="{'scholarship-search-form-student': (context == 'student')}">
        <div class="simple-search-form-wrapper">
            <div class="category-filter">
                <label id="label-form-search">{{ $t("student.search.label-form-search") }}</label>
            </div>
            <div class="content-filter">
                <div class="col item item-level">
                    <Multiselect
                        :show-labels="false"
                        class="level-select"
                        v-model="level"
                        :custom-label="label_level"
                        track-by="id"
                        :placeholder="$t('word.level_studies')"
                        :options="levels"
                        :option-height="70"
                    >
                    </Multiselect>
                </div>
                <!-- :placeholder="$t('scholarship.form.placeholder_displine')" -->
                <div class="col item item-discipline">
                    <Multiselect
                            class="discipline-select"
                            :show-labels="false"
                            v-model="selectedDisciplines"
                            :placeholder="$t('scholarship.form.placeholder_displine') "
                            :custom-label="label_disciplines"
                            track-by="id"
                            :options="disciplines"
                            :multiple="true"
                            :option-height="70"
                    >
                    </Multiselect>
                </div>
                <div class="col item item-country">
                    <CountrySelect
                            class="country-select"
                            v-model="country"
                            :placeholder="$t('student.search.pays_origin') "
                            :height="50"
                            v-bind:customIds="countryIds"
                            v-bind:all="showAllCountries"
                            :multiple="false"
                    />
                </div>
                <div class="col item item-country">
                    <CountrySelect
                        class="country-select"
                        v-model="countryd"
                        :placeholder="$t('student.search.country_desired') "
                        :height="50"
                        v-bind:customIds="countryIds"
                        v-bind:all="showAllCountries"
                        :multiple="false"
                    />
                </div>
                <div class="item">
                    <DefaultButton className="style1 searchBtn"  :text="$t('word.search')" v-on:click.native="handleSearchClick" />
                </div>
            </div>
            <div class="advanced-search-btn--container" v-if="context == 'student'">
                <button type="button" @click="advanced = !advanced"  class="advanced-search-btn--toggler">
                    <span> + Recherche avancée </span>
                    <span v-if="advanced" class="fa fa-chevron-down"></span> 
                </button>
            </div>
        </div>
        <div class="advanced-search-form-wrapper" v-if="advanced" >
            <AdvancedSearchForm />
        </div>
    </div>


</template>
<script>
    import Multiselect from "vue-multiselect";
    import "vue-multiselect/dist/vue-multiselect.min.css";

    import StudyFieldService from "@/services/common/StudyFieldService.js";
    import CountrySelect from "@/components/common/CountrySelect.vue";
    import LevelService from "@/services/common/LevelService.js";
    import Helpers from "@/services/helpers/Helpers.js"
    import CountryService from "../../../../services/common/CountryService";

    

    import AdvancedSearchForm from "./AdvancedSearchForm"

    export default {
        name: "StudentSearchForm",
        components: {
            Multiselect,
            CountrySelect,
            AdvancedSearchForm
        },
        props: {
            context: {
                type: String,
                default: "student",
            },
            showAllCountries: {
                type: Boolean,
                default: true,
            },
            defaultParams:{
                default : false
            }
        },
        data: function () {
            return {
                country: null,
                countryd: null,
                disciplines: [],
                selectedDisciplines: [],
                levels: [],
                level: null,
                criteria : [],
                countryIds: [],
                loading : false,
                rangevalue:[0,50],
                advanced: false,

            };
        },
        created() {
            this.min = 0
            this.max = 250
            this.bgStyle = {
                backgroundColor: '#94F2F9',
                boxShadow: 'inset 0.5px 0.5px 3px 1px rgba(0,0,0,.36)',
                width:300
            }
            this.tooltipStyle = {
                borderColor: '#666',
                backgroundColor:'#f1f1f7',
                borderWidth:0,
                color:'#606E6F',
                fontSize : "8px"
            }
            this.processStyle = {
                backgroundColor: '#446FEA',
            }
        },

        methods: {
            label_level: function(level) {
                return this.$t("student.level." + level.id);
            },
            
            label_contrie: function(contry) {
                return this.$t("country." + contry.id);
            },
            
            label_disciplines({id}){
                let key = "discipline.category."
                return (this.$t(key+id)).toLowerCase()
            },

            updateDiscipline: function(data) {
                this.disciplines = Helpers.TraitementListdiscipline(data, this)
            },
  
            handleSearchClick(){
                let params = {
                    level       : this.level && this.level.id > 0 ? [this.level] : false,
                    disciplines : this.selectedDisciplines,
                    country     : this.country  ? [this.country]  : false,
                    countryd    : this.countryd ? [this.countryd] : false,
                    context     : this.context
                }
                this.$emit('go-search', params)
            },
            
        },


        watch: {
            defaultParams: {
                deep: true,
                immediate: true,
                handler: function(params){
                    if(params){
                        if(params.level){
                            this.level = params.level[0]
                        }

                        if(params.disciplines){
                            this.selectedDisciplines = params.disciplines
                        }
                        
                        if(params.country){
                            this.country = params.country[0]
                        }
                        
                        if(params.countryd){
                            this.countryd = params.countryd[0]
                        }
                        
                        this.handleSearchClick()
                    }
                }
            }
        },

        mounted: function () {

            let that = this;
            /*** Init discipline liste var **/
            StudyFieldService.getList().then((response) => {
                that.disciplines = response.data.studyFields ?? [];
                that.updateDiscipline(that.disciplines)
            });

            /*** Init discipline level var **/
            LevelService.getList().then((response) => {
                that.levels = response.data.levels ?? [];
                that.levels.unshift({id:0, name:'All'})
            });

            CountryService.getUserList().then((response)=>{
                const countries = response.data.countries
                if(countries.length){
                    const countryIds = []
                    countries.forEach(countryd => countryIds.push(countryd.id));
                    that.countryIds = countryIds
                }
            })
        },
    }
</script>
<style scoped src='../StudentSearch.css'> </style>
<style scoped>
    .simple-search-form-wrapper{
        padding: 1rem;
        padding-top: 2rem;
    }
    .advanced-search-btn--toggler {
        background: none;
        border: none;
        margin: 1rem 0 0 1rem;
        text-decoration: underline;
        color: #3C3850;
        font-size: 14px;
    }

    .advanced-search-form-wrapper{
        background-color: #D0CEDA7F;
        padding: 2.5rem 1.5rem;
    }
    #updateDiscipline {
        display: none
    }
    .scholarship-search-form {
        position: relative;
        background: transparent linear-gradient(180deg, #EDF3FF 0%, #E0EBFF 100%) 0% 0% no-repeat padding-box;
    }
    .favoris-filter {
        position: absolute;
        right: 5px;
        top: 10%;
    }
    .category-filter {
        display: flex;
        align-items: center;
        margin-bottom: .8rem;
    }
    .content-filter .item {
        padding-left: 0px;
        padding-right: 5px;
    }
    .content-filter .item:last-child {
        padding-right: 0px;
    }
    .category-filter label {
        font-size: 22px;
        font-family: "NunitoSans-Bold";
        color: #595959;
        margin-right: 10px;
    }

    .category-toogler {
        display: flex;
        background: white;
        border: solid 2.5px #12ad9e;
        border-radius: 25px;
        overflow: hidden;
    }
    .category-toogler button {
        border: none;
        background: white;
        color: #12ad9e;
        font-family: "NunitoSans-SemiBold";
        font-size: 14px;
        padding: 10px 22px;
        margin: -5px;
    }
    .category-toogler button.active {
        background: #12ad9e;
        color: white;
    }
    .content-filter {
        border: solid 2px #dee2e6;
        border-radius: 10px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 6px 8px #cfe0fe;
        display: flex;  
        align-items: center;
        padding: 5px;
    }

    #label-form-search {
        color: #1F4171;
        font-size: 1.2rem;
    }
 
    .filter-icon-new p{
        color:  #484848;
    }

    .filter-icon-new i{
        color:  grey !important;
    }
    aside p.filter-icon-new{
        font-size: 1.0980966325036603vw;
    }


    .category-toogler .active button {
        background-color: #12ad9e;
        color: #ffffff;
    }
    @media(max-width:1016px) {
        .home_page .multiselect__select {
            width: 21px;
        }
        .scholarship-search-form .multiselect__single {
            font-size: 12px !important;
        }

        .content-filter .item .multiselect .multiselect__tags {
            border-radius: unset;
            border: 1px solid rgba(0%, 18%, 21%,0.1);
        }
        .scholarship-search-form .multiselect__tags {
            min-height: 40px !important;
            font-size: 14px !important;
        }
        .scholarship-search-form .multiselect__tags {
            min-height: 60px !important;
            font-size: 18px !important;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .multiselect__tags {
            padding: 8px 15px 0 8px;
            font-size: 12px;
        }
        .content-filter .item .multiselect .multiselect__placeholder, .content-filter .multiselect__single {
            font-size: 10px !important;
            white-space: nowrap;
        }
    }
    .category-toogler button {
        margin: 0;
        border: none;
        background: white;
        color: #12ad9e;
        font-family: "NunitoSans-SemiBold";
        font-size: 14px;
        padding: 6px 22px;
    }
    .category-toogler {
        display: flex;
        background: white;
        border: solid 2px #12ad9e;
        border-radius: 25px;
        overflow: hidden;   
        padding-bottom: 0;
    }
    .category-toogler .btn-2 button {
        margin:0;
        border: none;
        background: white;
        color: #12ad9e;
        font-family: "NunitoSans-SemiBold";
        font-size: 14px;
        padding: 6px 22px;
    }
    .category-toogler .btn-2.active button{
        background: #12ad9e  !important;
        color: white  !important;
    }


    
    .discipline-select li.multiselect__element span {
        text-transform: capitalize !important;
    }

</style>
<style>
    .student-search-engine .content-filter .item .multiselect .multiselect__tags{
        border-radius:unset;
        border: solid 1px #D0CEDA !important;
        min-height: 50px !important;
        display: flex;
        align-items: center;
    }
    .student-search-engine .content-filter .item.item-level .multiselect .multiselect__tags{
        border-radius: 5px 0px 0px 5px !important;
    }
    .student-search-engine .content-filter .item .multiselect .multiselect__placeholder, 
    .student-search-engine .content-filter .multiselect *{
        color: #3C3850;
        font-size: 15px !important;
        font-family: 'NunitoSans-SemiBold';
    }

    .student-search-engine .multiselect__option--highlight,
    .student-search-engine .multiselect__option--highlight *{
        background: #1F4171 !important;
        color: #fff !important;
    }


    .student-search-engine .multiselect__placeholder{
        white-space: nowrap !important;
    }

    @media(max-width: 1580px){
        .student-search-engine .content-filter .item .multiselect .multiselect__placeholder, 
        .student-search-engine .content-filter .multiselect *{
            font-size: 14px !important;
        }
        .student-search-engine .content-filter .col.item:not(.item-discipline){
            max-width:14rem !important;
        }
    }
    @media(max-width: 1400px){
        .student-search-engine .content-filter .item .searchBtn{
            min-height: 50px !important;
        }
        .student-search-engine .content-filter .col.item:not(.item-discipline){
            max-width:12rem !important;
        }
    }
    @media(max-width: 1280px){
        .student-search-engine .content-filter .item .multiselect .multiselect__placeholder, 
        .student-search-engine .content-filter .multiselect *{
            font-size: 12px !important;
        }
        .student-search-engine .content-filter .col.item:not(.item-discipline){
            max-width:10rem !important;
        }
        .student-search-engine .content-filter .item .multiselect .multiselect__tags,
        .student-search-engine .content-filter .item .searchBtn{
            min-height: 45px !important;
        }
        .student-search-engine .content-filter .item .searchBtn{
           font-size: 14px;
           padding: 0 2.5rem;
        }
    }

    @media (max-width: 1150px){
        .student-search-engine .content-filter .item .searchBtn {
            padding: 0 1.5rem;
        }
        .student-search-engine .content-filter .col.item:not(.item-discipline){
            max-width:9rem !important;
        }
    }
    @media (max-width:768px){
        .student-search-engine .content-filter .item .multiselect .multiselect__tags{
            margin-bottom: 8px;
            align-items: unset !important;
        }
        .student-search-engine  .content-filter .item .multiselect *{
            text-align: left !important;
        }

        .student-search-engine  .item .multiselect__select{
            right: 10px !important;
        }
        .student-search-engine .content-filter {
            padding: 15px 10px !important;
            border-radius: 8px !important;
            flex-direction: column;
        }
        .student-search-engine .content-filter .col.item:not(.item-discipline){
            max-width: unset !important;
        }
        .student-search-engine .content-filter .item:last-child,
        .student-search-engine .content-filter .item:last-child *
        {
            width: 100% !important;
        }
        .student-search-engine .content-filter .item.item-level .multiselect .multiselect__tags{
            border-radius: 5px 5px 0px 0px !important;
        }
    }
    @media (max-width:425px){
        .student-search-engine .content-filter {
            padding: 10px !important;
        }
    }

</style>