<!DOCTYPE html>

<html>
    <style>

        @font-face {
            font-family: "NunitoSans-Regular";
            src: url("fonts/NunitoSans-Regular.ttf");
        }
        @font-face {
            font-family: "NunitoSans-SemiBold";
            src: url("fonts/NunitoSans-Bold.ttf");
        }
        @font-face {
            font-family: "NunitoSans-Bold";
            src:url("fonts/NunitoSans-Bold.ttf");
        }
        @font-face {
            font-family: "NunitoSans-ExtraBold";
            src:url("fonts/NunitoSans-ExtraBold.ttf");
        }

        @page {
            margin: 0px; 
            padding:0px; 
            font-family: "NunitoSans-Regular";
        }
        body {
            position: relative;
        }
        header.header {
            width: 100%;
            background: #1f4171;
            color: white;
            padding: 5px;
            height: 100px;
        }

        header.header div {
            /* display: inline-block; */
        }

        .header-title {
            width: 70%;
            text-align: center;
            text-transform: uppercase;
            position: absolute;
            right: 0;
            top: 25px;
        }

        .header-logo {
          position: absolute;
          height: 80px;
          padding: 15px 15px 5px 15px;
        }
        
        .header-logo img {
            width: 250px;
        }


        .header-title--text {
            margin: 0;
            font-family:"NunitoSans-ExtraBold";
        }

        .header-title--date {
            margin: 0;
            font-family:"NunitoSans-SemiBold";
        }
      
        section.content {
            padding: 1rem 3rem;
            font-family: "NunitoSans-Regular";
            overflow-wrap: break-word;
        }

         section.conten p{
            font-family: "NunitoSans-Regular";
        }
        
        .content h1,
        .content h2
         {
            text-transform: uppercase;
            font-size: 12px;
            margin-top: 2rem;
        }

        .footer {
            height: 50px;
            background: #F7706A;
            color: #fff;
            position:absolute;
            bottom: 50px;
            left:0;
            margin-bottom: -50px;
            width: 100%;
            z-index: 10;
        }
        
        .footer-left-item {
            margin-top: 5px;
            margin-right: 50px;
        }

        .footer-center-item {
            margin-top: 5px;
            margin-right: 50px;
        }

        .forter-right-item {
            margin-top: 10px;
        }

    </style>


    {% set datePub = post.date|default(post.createdAt|default(false)) %}
    
    
    <body>
        <header class="header">
            <div class="header-logo">
                <img src="{{ grimpeursLogo() }}" />
            </div>
            <div class="header-title">
                <p class="header-title--text"> {{ post.title }}</p>
                {% if datePub %}
                    <p class="header-title--date"> le {{ datePub|date("m-d-Y") }} </p>
                {% endif %}
            </div>
        </header>
        <section class="content">
            {{ post.content|raw }}
        </section>
        <footer class="footer">
            <center>
                <table style="margin: auto;">
                    <tr>
                        <td><div class="footer-left-item"  > article de </div></td>
                        <td><div class="footer-center-item"><img src="{{ grimpeursLogo() }}" height="25"></div></td>
                        <td><div class="forter-right-item" > www.les-grimpeurs.com </div></td>
                    </tr>
                </table>
            </center>
        </footer>
    </body>
