<template>
  <div class="w-100">
    <GmapMap v-bind="mapOptions">
        <GmapCluster
          :zoomOnClick="true"
          :maxZoom = 10
          :styles="clusterStyles">
          <div v-for="(m, index) in scholarships" :key="index"><!-- fragment--->
            <GmapMarker
              v-if="getLocation(m)"
              :position="getLocation(m)"
              @click="showByIndex = index"
              :icon="markerIcon"
              >
                <gmap-info-window :opened="showByIndex === index" @closeclick="showByIndex=false">
                  <div class="custom-tooltips">
                    <div class="custom-tooltips--logo">
                      <img class="" :src="m.logo ?'/uploads/logo/'+m.logo : defaultLogo ">
                    </div>
                    <div class="custom-tooltips--content">
                      <h4 class="content-title">{{ m.name }}</h4>
                      <p class="content-desc">
                        <router-link :to="{'name' : 'organization_page', params: { slug: m.related_organization.slug} }">
                              {{ m.related_organization.name }}
                        </router-link>
                      </p>
                      <div class="content-actions">
                        <button class="more-infos" @click="viewDetail(m)">En savoir plus</button>
                      </div>
                    </div>
                  </div>
                </gmap-info-window>
            </GmapMarker>
          </div>
        </GmapCluster>

    </GmapMap>
  </div>
</template>

<script>
    import GmapCluster from 'vue2-google-maps/dist/components/cluster'

    export default {
      name: 'GMap',
      components: {
          GmapCluster,
      },
      props:{
          scholarships: {
            default: []
          },
          goTo: {
            default : { lat: 36.966428, lng: -95.844032 }
          }
      },
      data() {
          return {
               mapOptions:{
                  zoom              : 2,
                  options           : {
                    zoomControl       : true,
                    mapTypeControl    : false,
                    scaleControl      : false,
                    streetViewControl : false,
                    rotateControl     : false,
                    fullscreenControl : false,
                    disableDefaultUI  : false,
                  },
                  style             :'width:100%;  height: 75vh;',
                  center        :  { 
                      lat : 36.966428, 
                      lng : -95.844032 
                  },
                },
              

              showByIndex   : null,
              defaultLogo   : require("@/assets/img/image.svg").default,

              markerIcon    : { 
                url: require('@/assets/img/ico_scholarship.png').default,
                size: {width: 60, height: 60, f: 'px', b: 'px'},
                scaledSize: {width: 50, height: 50, f: 'px', b: 'px',},
              }
          }
      },
      computed: {
          clusterStyles : function(){
            let params = {
              background  : "#FF7667",
              url         : require("@/assets/img/cluster-bg.png").default,
              textColor   : "white",
              height      : 70,
              width       : 73,
              textSize    : 20
            }

            
            let screen = window.innerWidth

            if(screen <= 991){
              params.url      = require("@/assets/img/cluster-bg-small.png").default
              params.textSize = 15
              params.height   = 52,
              params.width    = 52
            }

            return [params]
          }

      },


      watch: {
        goTo: {
          handler: function(location){
            this.mapOptions.center = location
          }
        }
      },
      methods: {
        getLocation(m){
          if(m.related_organization){
            return m.related_organization.adresse_location ? m.related_organization.adresse_location : m.origin_country.location 
          }
          
          return false

        },
        viewDetail(m){
          this.$router.push( { name : 'scholarship_page', params : {slug: m.slug}})
        }



      },
      mounted: function(){
      
      }
    }
</script>
<style scoped>
  .custom-tooltips {
      display: flex;
      margin: 15px;
  }

  .custom-tooltips--content {
      max-width: 20rem;
      padding-left: 10px;
  }

  .custom-tooltips--logo img {
      max-height: 100px;
  }

  .custom-tooltips .content-title {
      font-size: 18px;
  }

  .content-actions button {
      border-radius: 25px;
      padding: 0.7rem 2rem !important;
      background: #FFD7D2;
      color: #FF7667!important;
      border: none;
      font-family: 'NunitoSans-Bold';
  }

  @media (max-width:768px) {
    .custom-tooltips[data-v-7010cb78] {
        margin: 0px;
        flex-direction: column;
        text-align: center;
    }
    .custom-tooltips--logo img{
        max-height: 50px;
    }
    .custom-tooltips .content-title{
        font-size: 15px;
    }
  }
</style>