<template>
    <div id="liste-sociaux">
        <a :href="params.social_url_youtube.value" target="_blank">
            <img :src="image.youtube" alt="" />
        </a>
        <a :href="params.social_url_twitter.value" target="_blank">
            <img :src="image.twitter" alt="" />
        </a>
        <a :href="params.social_url_facebook.value" target="_blank">
            <img :src="image.facebook" alt="" />
        </a>
        <a :href="params.social_url_instagram.value" target="_blank">
            <img :src="image.instagram" alt="" />
        </a>
        <a :href="params.social_url_linkedin.value" target="_blank">
            <img :src="image.linkedin" alt="" />
        </a>
    </div>  
</template>

<script>
export default {
    name : 'FooterSocialLink',

    props: {
        params: {
            require: true
        }
    },

    data : function(){
        return {
            image : {
                youtube:     require("@/assets/img/icon-youtube.svg").default,
                twitter:     require("@/assets/img/icon-twitter.svg").default,
                facebook:    require("@/assets/img/icon-facebook.svg").default,
                instagram:   require("@/assets/img/icon-instagram.svg").default,
                linkedin:    require("@/assets/img/icon-linkedin.svg").default,
            }
        }
    }
}
</script>

<style>

</style>