<template>
    <default-layout>
    
    <div slot="content" class="organization-candidat-list">
        <div class="section section-search-engine">
            <StudentSearchForm />
        </div>
        <div class="section section-list-filter">
            <CandidatListFilter :defaultStatus="params.status" @statuschange="statusChange" @scholarshipchange="changeScholarship" :selectedForm="form" @removeform="removeForm" />
        </div>
        <div class="section section-list-recap">
            <ListRecapFilter :count="nb" :total="total" :status="params.status" @maxchange="maxChange" @orderchange="orderChange"/>
        </div>
        <div class="section section-list-content">
            <div class="candidate-item-wrapper"  v-for="(candidate, index) in candidates" :key="'candidate-'+index">
                <application-item :student="candidate" context='candidat' @openApplicationDetail="viewDetail(candidate)" />
            </div>
        </div>
        <div class="section add-form-section text-center">
            <DefaultButton className="style4" :text="$t('application.create_form')" @click.native="newForm"/>
        </div>

    </div>
</default-layout>

</template>

<script>
import StudentSearchForm  from "@/view/student/search/form/StudentSearchForm.vue"
import CandidatListFilter from "./parts/CandidatListFilter.vue"
import ListRecapFilter    from "./parts/ListRecapFilter.vue"
import Item               from "@/view/student/item/Item.vue"
import ProfilService      from "@/services/organization/ProfilService.js";

export default {
    name:'CandidatList',
    components: {
        StudentSearchForm,
        CandidatListFilter,
        ListRecapFilter,
        ApplicationItem: Item
    },
    data: function(){
        return {
          candidates  : [],
          total       : 0,
          nb          : 0,

          params      : {
              max         : 10,
              status      : 0,
              scholarship : false,
              order       : { 'sort': 'id', 'order': 'DESC' },
          },
          form : false
        }
    },
    methods: {
        /**
         * Fetch and update candidat list
         * 
         * @return void
         */
        updateCandidatesList: function(){ 
            console.log('update list')
            let that    = this 
            let params  = {...that.params} 

            if(params.status == 0){
                delete params.status
            }

            if(params.scholarship == false){
                delete params.scholarship
            }

            if(params.order == false){
                delete params.order
            }

            let form =  that.$route.query.form
            if(form){
                form      = JSON.parse(form)
                params    = {...params, form: form.slug}
                that.form = form 
            } 
            
            ProfilService.getApplications(params).then(function (response) {
                    //that.candidates = response.data.applications
                    that.candidates = that.groupByUser(response.data.applications)
                    that.nb         = response.data.nb
                    that.total      = response.data.total
            }).catch(function (error) {
                    console.log(error.message)
            });
        },

        /**
         * Prepare and redirect to the selected application detail
         * 
         * @param   {Object} student
         * @returns void
         */
        viewDetail: function(student){
            let applications = student.applications
            var encoder = require('int-encoder')
            if(applications.length == 1){
                let id = applications[0].id
                this.$router.push({name:'organization_candidat_detail', params: {id:encoder.encode(id)}})
                return  
            }

            this.$router.push({name:'organization_student_applications', params: {id:encoder.encode(student.id)}})
        },

        /**
         * Handle on change selected status
         * 
         * @param   {String} nVal
         * @returns void
         */
        statusChange: function(nVal){
            this.params.status = nVal
        },

        /**
         * Update candidat list on change scholarship
         * 
         * @param  {Object} s (scholarship)
         * @return void
         */
        changeScholarship: function(s){
            this.params.scholarship = s.id
        },

        /**
         * update maxChange data state
         * 
         * @param {integer} nMax
         * @return void
         */
        maxChange: function(nMax){
            this.params.max = nMax
        },

        /**
         * Handle on order change state
         * 
         * @param   {Object} nOrder
         * @returns void
         */
        orderChange: function(nOrder){
            this.params.order = nOrder
        },

        /**
         * Handle and redirect to the forler list
         * 
         * @returns void
         */
        newForm : function(){
            this.$router.push({'name' : 'organization_folder_list' })
        },

        /**
         * Handle on remove form params
         * 
         * @return void
         */
        removeForm: function(){
            this.form = false
            this.$router.push({ query: {} })
            this.$router.go()
        },

        /**
         * Regroup candidat by user
         * 
         * @param  {Array} array
         * @return {Array}
         */
        groupByUser: function(array){
            let result = []
            array.forEach( application => {
                let    student = application.student
                delete application.student

                let index   = result.findIndex(x => x.id === student.id)
                if(index >= 0){
                    result[index].applications.push(application)
                }else{
                    student = {...student, applications : [application]}
                    result.push(student)
                }
            })
            return result
        }
    },
    watch: {
        params: {
            deep: true,
            immediate: false,
            handler :function(){
                console.log('change params')
                this.updateCandidatesList()
            }
        }
    },
    mounted: function(){
        console.log('mounted')
        this.updateCandidatesList()
    }
}
</script>

<style scoped>
    .section:not(.section-search-engine){
        margin: 2rem;
    }
    .section.section-search-engine {
        background: transparent linear-gradient(180deg, #EDF3FF 0%, #E0EBFF 100%) 0% 0% no-repeat padding-box;
    }

    @media (max-width:768px) {
        .section:not(.section-search-engine){
            margin: 2rem 0;
        }
        .add-form-section{
            margin: 2rem;
        }
        .add-form-section button{
            font-size: 14px !important;
        }
    }
</style>
<style>
    .organization-candidat-list .section-search-engine .content-filter{
        box-shadow: 0px 6px 8px #c8d7f1 !important;
        border: 1px solid #6196FF !important;
    }
</style>