<div class="ml-4 pull-right">
    <form method="post" action="{{ path('admin_language_delete', {'id': language.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément?');">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ language.id) }}">
        <button class="btn btn-danger"> <i class="fa fa-trash"></i>{% trans %}Supprimer{% endtrans %}</button>
    </form>
</div>