{{ form_start(form) }}
    <div class="tile p-5">
        <div class="tile-body">
            <div class="form-group">
                <label class="control-label">{% trans %}Nom{% endtrans %}</label>
                {{ form_widget(form.name, {'attr':{'class':'form-control'}}) }}
            </div>
            
            <div class="form-group">
                <label class="control-label">{% trans %}Nom en français{% endtrans %}</label>
                {{ form_widget(form.nameFr, {'attr':{'class':'form-control'}}) }}
            </div>

            <div class="form-group">
                <label class="control-label">{% trans %}Code{% endtrans %}</label>
                <div class="row">
                    <div class="col-4">
                        {{ form_widget(form.code, {'attr':{'class':'form-control'}}) }}
                    </div>
                    <div class="col-2">
                        <span class="flag-icon flag-icon-fr" id="language_code_flag"></span>
                    </div>

                </div>
            </div>
        </div>
        <div class="tile-footer">
            <button class="btn btn-primary" type="submit"><i class="fa fa-fw fa-lg fa-check-circle"></i>{{ button_label|default('{% trans %}Enregistrer{% endtrans %}') }}</button>
            &nbsp;&nbsp;&nbsp;
            <a class="btn btn-secondary" href="{{ path('admin_country_index') }}"><i class="fa fa-fw fa-lg fa-times-circle"></i>{% trans %}Annuler{% endtrans %}</a>
        </div>
    </div>
{{ form_end(form) }}
