{% extends 'admin/base.html.twig' %}

{% block title %}{% trans %}Modifier la langue{% endtrans %}{% endblock %}

{% block actions %}
    <a class="btn btn-primary" href="{{ path('admin_language_index') }}">{% trans %}Retour{% endtrans %}</a>
    {{ include('admin/language/_delete_form.html.twig') }}
{% endblock %}

{% block body %}
    {{ include('admin/language/_form.html.twig', {'button_label': '{% trans %}Modifier{% endtrans %}'}) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}