{% extends 'admin/base.html.twig' %}

{% block title %}Index des langues{% endblock %}
{% block actions %}
     <a class="btn btn-primary" href="{{ path('admin_language_new') }}">{% trans %}Ajouter{% endtrans %}</a>
{% endblock %}
{% block body %}
    <div class="tile">
        <div class="tile-body p-2">
            <div class="d-flex justify-content-end">
                <form class="search-input">
                    <div class="input-group my-2">
                        {% set q = app.request.query.get('q')|default('') %}
                        <input  type="search" class="form-control" name="q" value="{{ q }}" placeholder="Rechercher" aria-label="Rechercher" aria-describedby="basic-addon">
                        <div class="input-group-append">
                            <button type="submit" class="input-group-text" id="basic-addon">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <table class="table table-hover table-bordered no-footer admin-table">
                <colgroup>
                    <col span="1" style="width: 5%;" />
                    <col span="1" style="width: 30%;"/>
                    <col span="1" style="width: 30%;" />
                    <col span="1" style="width: 10%;"/>
                    <col span="1" style="width: 10%;"/>
                    <col span="1" style="width: 15%;"/>
                </colgroup>
                <thead class="thead-green">
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Nom Fr</th>
                        <th>Code</th>
                        <th>Drapeau</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for language in languages %}
                    <tr>
                        <td>{{ language.id }}</td>
                        <td>{{ language.name }}</td>
                        <td>{{ language.nameFr }}</td>
                        <td>{{ language.code }}</td>
                        <td><span class="flag-icon flag-icon-{{ language.code }}"> </span></td>
                        <td>
                            <a href="{{ path('admin_language_show', {'id': language.id}) }}">{% trans %}Afficher{% endtrans %}</a>
                            <a href="{{ path('admin_language_edit', {'id': language.id}) }}">{% trans %}Modifier{% endtrans %}</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">{% trans %}Aucun enregistrement trouvé{% endtrans %}</td>
                    </tr>
                {% endfor %}
                </tbody>
             </table>
        </div>
        <div class="tile-footer text-right">
            {{ include('/admin/components/_paginator.html.twig', {'route_name': 'admin_language_index'}) }}
        </div>
    </div>
{% endblock %}
