{% extends 'admin/base.html.twig' %}

{% block title %}{% trans %}Langue{% endtrans %}{% endblock %}

{% block body %}
    <h1>Langue</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ language.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ language.name }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ language.code }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_language_index') }}">{% trans %}retour à la liste{% endtrans %}</a>

    <a href="{{ path('admin_language_edit', {'id': language.id}) }}">{% trans %}Modifier{% endtrans %}</a>

    {{ include('admin/language/_delete_form.html.twig') }}
{% endblock %}
