<template>
    <div class="candidature-option-steep">
        <div class="form-group text-center">
            <h4 class="label mb-4">{{ $t("scholarship.form.steep3_info1") }}</h4>
        </div>
        <!-- Until sprint 2-->
        <div class="form-group mx-3 mt-5">
            <input value="local" type="radio" v-model="scholarship.cadidateOption" id="internalChoice" >
            <label for="internalChoice">{{ $t("scholarship.form.steep3_label1") }}</label>
        </div>

        <div class="form-group mx-3 mt-2">
            <input value="external" type="radio" v-model="scholarship.cadidateOption" id="externalChoice" >
            <label for="externalChoice">{{ $t("scholarship.form.steep3_label2") }}</label>
        </div>

        <template v-if="scholarship.cadidateOption == 'external'">
            <div class="form-group  m-2">
                <input value="external" class="form-control caditature-url-input" type="text" v-model="scholarship.cadidateOptionUrl" :placeholder="$t('scholarship.form.steep3_label3')">
            </div>
        </template>

        <div class="action-group text-center mt-5">
            <DefaultButton className="outline2" :text="$t('word.prev')"  @click.native="$emit('goTo','ScholarshipLogo')" />
            <DefaultButton className="style4" text="Suivant" :onLoad="false" @click.native="validateApplication" />
        </div>
    </div>
</template>

<script>
    export default {
        name :'ScholarshipCandidate',
        props:{
            scholarship: {
                require: true
            }
        },
        methods : {
            /**
             * Check the form data validation
             * 
             * @return {Booldean}
             */
            validateApplication(){
                if(this.scholarship.cadidateOption == "local"){
                    this.scholarship.cadidateOptionUrl = null 
                    this.$emit('goTo','ScholarshipInfos')
                    return 
                }

                if(this.scholarship.cadidateOption == "external"){
                    if(!this.isValidURL(this.scholarship.cadidateOptionUrl)){
                        this.dispatchError(this.$t("scholarship.form.steep3_error1"))
                        return false
                    }
                    this.$emit('goTo','ScholarshipInfos')
                    return 
                }
                // not external or local    
                this.dispatchError(this.$t("scholarship.form.field_empty_error"))
                return false
                
            }
        }
    }
</script>


<style scoped>
   .candidature-option-steep{
       max-width: 24rem;
       margin: auto;
       margin-top: 2rem ;
   }

   @media (max-width:520px) {
     .form-group{
         margin: 1rem 0 !important;
     }   
   }
</style>