<template>
    <div class="desktop-footer--fragment">
        <div class="widget-footer" id="a-propos">
            <h2 class="titre-widget-footer">
                {{ $t("page.footer.about") }}
                <span class="style-widget-footer"></span>
            </h2>
            <ul class="lien-footer">
            <li class="mb-1">
                <router-link :to="{ path: 'concept' }">{{ $t("page.footer.about-us") }}</router-link>
            </li>
            <li class="mb-1" @click="$emit('newFeature')">
                {{ $t("word.event") }}
            </li>
            <li class="mb-1" @click="$emit('newFeature')">
                {{ $t("page.footer.blog") }}
            </li>
            <li class="mb-1">
                <router-link :to="{ path: 'team' }">{{ $t("page.footer.team") }}</router-link>
            </li>
            <li class="mb-1">
                <router-link :to="{ name: 'page-press' }">{{ $t("page.footer.press") }}</router-link>
            </li>
            <li>
                <router-link :to="{ name:'page-index', params : {slug: params.cgu_url.value}}">
                    {{ $t("page.footer.cgu") }}
                </router-link>
            </li>
            </ul>
        </div>


        <div class="widget-footer" id="rencontrer">
            <h2 class="titre-widget-footer">
                {{ $t("page.footer.meet-us") }}
                <span class="style-widget-footer"></span>
            </h2>
            <!-- Invalid adress 
                <p id="adresse">6 avenue de la Porte Brancion Paris, France</p>
            !-->
            <router-link :to="{ path: 'contact' }">
                {{ $t("page.footer.call-us")}}
            </router-link>
        </div>

        <div class="widget-footer" id="utiliser">
            <h2 class="titre-widget-footer">
                {{ $t("page.footer.use") }}
                <span class="style-widget-footer"></span>
            </h2>
            <ul class="lien-footer">
                <li class="mb-1 join-us-link" @click="$emit('register')">
                    {{ $t("page.footer.create-profil") }}
                </li>
                <li class="mb-1">
                    <router-link :to="{ name: 'grimpeurs-faq' }">
                        {{ $t("word.faq") }}
                    </router-link>
                </li>
                <li>{{ $t("page.footer.site-plan") }}</li>
            </ul>
        </div>
        <div class="widget-footer" id="sociaux">
            <template>
                <foter-social-link :params="params" />
            </template>
            <template>
                <div class="logo-footer">
                    <img :src="image.logo_footer" alt="" />
                </div>
            </template>
        </div>
    </div>
</template>

<script>
import FoterSocialLink from './parts/FoterSocialLink.vue';

export default {
    name: 'DesktopFooter',

    components: {
        FoterSocialLink
    },

    props: {
        params: {
            require: true
        }
    },

    data : function(){
        return {
            image : {
            logo_footer: require("@/assets/img/logo_footer.png").default
            },
        }
    },

}
</script>

<style lang="css" scoped>
    .desktop-footer--fragment{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .lien-footer li{
        cursor: pointer !important;
    }
</style>