<template>
    <ul class="footer-link-mobile">
        <li>
            <router-link :to="{ path: 'concept' }">{{ $t("page.footer.about-us") }}</router-link>
        </li>
        <li @click="$emit('newFeature')">
            {{ $t("word.event") }}
        </li>
        <li @click="$emit('newFeature')">
            {{ $t("page.footer.blog") }}</li>
        <li>
            <router-link :to="{ path: 'team' }">{{ $t("page.footer.team") }}</router-link>
        </li> 
        <li>
            <router-link :to="{name:'page-press'}"> {{ $t("page.footer.press") }}</router-link>
        </li>
        <li>
            <router-link :to="{name:'page-index', params : { slug: params.cgu_url.value}}">
                {{ $t("page.footer.cgu") }}
            </router-link>
        </li>
        <!--li>Protection des données</li-->
        <li>
            <router-link :to="{ path: 'contact' }">Contact</router-link>
        </li>
        <li  @click="$emit('register')">
            {{ $t("page.footer.create-profil") }}
        </li>
        <li>
            <router-link :to="{ name: 'grimpeurs-faq' }"> {{ $t("word.faq") }} </router-link>
        </li>
        <li>{{ $t("page.footer.site-plan") }}</li>
    </ul>
</template>

<script>
export default {
    name: "MobileFooter",
    
    props: {
        params: {
            require: true
        }
    },

}
</script>

<style scoped>
/* style footer mobile */
    ul.footer-link-mobile{
        display: block;
        margin: 0px 5% 50px 5%;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        line-height: 2;
    }
    .footer-link-mobile li:after {
        content: "|";
        font-family: 'NunitoSans-Bold';
        margin-left: 5px;
    }
    .footer-link-mobile li:last-child::after{
        content: "";
    }

    .footer-link-mobile li{
        list-style: none;
        display: inline-block;
        font-size: 14px;

    }
    .footer-link-mobile li a{
       color: white  !important;
    }
    @media (min-width:769px) {
         ul.footer-link-mobile{
             display: none !important;
         }
     }

</style>