<template>
  <footer id="footer">
    <div id="haut-footer">
      <template>
          <mobile-footer :params="params" @register="inscription" @newFeature="openNewFeatureModal" />
      </template>
      <template>
          <desktop-footer :params="params" @register="inscription"  @newFeature="openNewFeatureModal" />
      </template>
    </div>

    <div id="bas-footer">
      <div class="copyright">{{ $t("page.footer.copyright") }}</div>
      <div class="choix-langue-footer">
        <form id="choix-langue-footer">
          <LangSwitcher></LangSwitcher>
        </form>
      </div>
    </div>
    <new-feature-modal v-if="newFeatureModal" @close="closeNewFeatureModal"/>
  </footer>
</template>
<script>
import LangSwitcher from "@/components/LangSwitcher.vue";
import MobileFooter from './MobileFooter.vue';
import DesktopFooter from './DesktopFooter.vue';
export default {
  name: "PageFooter",
  data : function(){
    return {
        params: {
          cgu_url              : false,
          social_url_youtube   : false,
          social_url_twitter   : false,
          social_url_facebook  : false,
          social_url_instagram : false,
          social_url_linkedin  : false,
        }
      }
    },
    components: {
        LangSwitcher,
        MobileFooter,
        DesktopFooter
    },
    methods: {
      inscription() {
        document.getElementById('inscrire').click()
      },
      updateSiteParams: function(){
        let params = this.getSitePreference(false)
        let data = []
        for (let index = 0; index <  params.length; index++) {
          const element = params[index];
          data[element.name] = element
        }
        this.params = {...this.params, ...data}
      }
    },
    mounted: function(){
      this.updateSiteParams()
    },
    watch: {
      local: {
        deep: true,
        handler: function(){
          this.updateSiteParams()
        }
      }
    }
};
</script>
<style scoped>
    #haut-footer {
        padding-top: 98px;
        padding-bottom: 82px;
        max-width: 1500px;
        margin: auto;
    }
    .copyright {
        font-size: 12pt;
        color: #FFFFFF;
    }
</style>
<style>
    #footer a{
        color: white !important;
    }
    .join-us-link{
        cursor: pointer;
    }

    
     @media (max-width:769px){
         #haut-footer #a-propos,#haut-footer #rencontrer,#haut-footer #utiliser{
             display: none !important;
         }
     }
</style>