<template>
    <div class="profil-form student-profil-form">
        <StudentAvatar        v-if="currentSteep =='StudentAvatar'"        v-on:goTo="goTo"  />
        <StudentInfosBase     v-if="currentSteep =='StudentInfosBase'"     v-on:goTo="goTo"  />
        <StudentInfos         v-if="currentSteep =='StudentInfos'"         v-on:goTo="goTo"  />
        <StudentDesired       v-if="currentSteep =='StudentDesired'"       v-on:goTo="goTo"  />
        <StudentParcours      v-if="currentSteep =='StudentParcours'"      v-on:goTo="goTo"  />
        <StudentSocialNetwork v-if="currentSteep =='StudentSocialNetwork'" v-on:goTo="goTo"  />
    </div>
</template>
<script src="./ProfilForm.js"></script>