@media(max-width:768px){
    .student-profil-form h4.label {
      font-size: 18px;
    }
    .student-profil-form h5.sous-label {
        font-size: 14px;
        margin-top: 2rem !important;
    }
    .student-profil-form button.btn-default{
        width: 70% !important;
        margin-bottom: 1rem !important;
    }
    .student-profil-form button.btn-default.mr-3{
        margin-right: unset !important;
    }
    .student-profil-form .form-wrapper.text-center .row {
        margin: 0 !important;
    }
    .student-profil-form .form-wrapper .form-control,
    .student-profil-form .form-wrapper .multiselect{
        margin-bottom: 1rem;
    }
    .student-profil-form .organizationSocialNetwork .form-control,
    .student-profil-form .form-wrapper .form-control.autocomplete-field.form-control{
        margin-bottom: unset;
    }
    .student-profil-form .form-legende {
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-size: 14px;;
    }
    
}