@import "~bootstrap/dist/css/bootstrap.min.css"; 
@import "~cropperjs/dist/cropper.min.css";

.student-profil-form .modal-header {
    margin-top: 15px;
}
.student-profil-form .modal-header .title{
    font-family: 'NunitoSans-Bold' !important;
    font-size: 13px;
    margin-top: 17px;
    color: #13ad9ee8;
}

.student-profil-form h4.label {
    color: #495057;
    font-family: 'NunitoSans-SemiBold' !important;
    font-size: 25px;
}
.student-profil-form h5.sous-label {
    color: #495057;
    font-family: 'NunitoSans-Bold';
    font-size: 22px;
}

.student-profil-form .logo-wrapper {
    padding: 1rem;
    border: dashed 1px #d8edeb;
    border-radius: 5px;
    cursor: pointer;
}
.student-profil-form .icon-image-uploader {
    width: 150px;
    border: none !important;
}

.student-profil-form #bar-1 {
    background: #13ad9ee8 !important;
}

.student-profil-form .slider-bar-avis {
    background: #13ad9e33 !important;
}

/*** steep 1. bis */
.student-profil-form .cropper-point {
    background-color: #13ad9ee8 !important;
    opacity: 1;
}
@media (min-width: 1200px){
    .student-profil-form .cropper-point {
        background-color: #13ad9ee8 !important;
    }
}
.student-profil-form .cropper-wrapper {
    max-width: 80% !important;
    margin: auto !important;
    padding-top: 5vh;
    height: calc(100vh - 250px);
}


.student-profil-form .btn-next{
    font-size: 12px;
    padding: 10px 15px;
    border-radius: 10px;
}
.student-profil-form input,
.student-profil-form label{
    font-family: 'NunitoSans-Regular' !important;
    font-size: 15px !important;
    color: #3C3850 !important;
}

.student-profil-form .custom-steppers-navigation .item{
    background: rgb(33, 91, 168);
    width: 100px;
    height: 3px;
    margin: 2px;
    display: inline-block;
}


.student-profil-form .small {
    font-size: 10px !important;
    font-family: 'NunitoSans-Regular' !important;
    margin-top: 5px !important;
    color: #595959 !important;
}

.student-profil-form .form-control:focus {
    border-color: #ced4da;
    box-shadow:unset; 
}
.student-profil-form .slider-bar-avis {
    margin-top: 40px !important;
}
.br-0{
    border-right: none !important;
}
.bl-0{
    border-left: none !important;
}
/** steep 1*/
.student-profil-form .organization-name-input {
    width: 100%;
    border: none;
    border-radius: 5px;
    box-shadow: 15px;
    box-shadow: 1.2px 1.2px 1pt 1pt #d9dbe2;
    margin: auto;
    padding: 1.2rem;
    font-family: 'NunitoSans-Regular' !important;
}

.student-profil-form .logo-preview-image {
    width: 200px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 4px 4px 5pt 2pt #E4E4E7;
}

.student-profil-form .icon.icon-back {
    background: url("~@/assets/img/fleche-icon.svg");
    background-repeat: no-repeat;
    width: 40px;
    height: 20px;
    cursor: pointer;
    transform: rotate(180deg);
    position: absolute;
    margin-top: 15px;
    cursor: pointer !important;
}

/** Steep 4 */
.student-profil-form .form-legende {
    color: #D3D3D3;
    font-family: 'NunitoSans-SemiBold' !important;
    margin-top: 10vh;
    font-size: 1rem;
    display: block;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

/**** Steep 5 */
.student-profil-form .input-group-prepend .input-group-text{
    background: none;
    border-right: none !important;
}

.student-profil-form .input-group-prepend .input,
.student-profil-form .input-group-append .input-group-text{
    background: none;
    border-left: none !important;
}
.student-profil-form .picture-input .form-control,
.student-profil-form .picture-input .input-group-text{
    background: #EBEAF0;  
}
/*RS Field icon*/

.student-profil-form .organizationSocialNetwork .fa{
    color: #D0CEDA;
}


.drop-active {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    z-index: 9999;
    opacity: .6;
    text-align: center;
    background: #000;
  }
.drop-active h3 {
    margin: -.5em 0 0;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 40px;
    color: #fff;
    padding: 0;
    font-family: 'NunitoSans-SemiBold' !important;
  }

.thumbnails{
    margin-bottom: 1vh;
}
.thumbnails img {
    height: 100px !important;
    display: inline-block;
    margin-right: 10px;
}
.video-gallery-field{
    position: relative;
}
.vue-video__video-selector__list {
    position: absolute;
    top: -11rem;
    margin: auto;
    float: unset;
    display: block;
}

/*** steep 8 */
.student-profil-form .cover-uploader-wrapper {
    border: dotted 2px #738DFF;
    border-radius: 10px;
    margin-top: 2vh;
    width: 100%;
    margin: 5vh auto;
}

.cropper-view-box {
    outline: 5px solid #D0CEDA;
}
.cropper-line {
    background-color: unset;
}
.cropper-modal {
    background-color: #f8f9fa;
    opacity: 0.8;
}
.cropper-bg {
    background-image: unset !important;
    background: #fff;
}
.cropper-point.point-ne {
    right: -10px;
    top: -10px;
    width: 40px;
    height: 8px;
  }
  
  .cropper-point.point-e {
    cursor: ew-resize;
    margin-top: -10px;
    right: -10px;
    top: 0px;
    height: 40px;
    width: 8px;
  }
  
  .cropper-point.point-se {
    right: -10px;
    height: 40px;
    width: 8px;
    
    bottom: -10px;
  }
  .cropper-point.point-s {
    bottom: -10px;
    right: -10px;
    margin-left: -3px;
    height: 8px;
    left: unset;
    width: 40px;
  }
  
  .cropper-point.point-sw {
    bottom: -10px;
    left: -10px;
    width: 40px;
    height: 8px;
  }
  .cropper-point.point-w {
    left: -10px;
    top: unset;
    bottom: -10px;
    height: 40px;
    width: 8px;
  }
  
  .cropper-point.point-nw {
    left: -10px;
    top: -10px;
    width: 8px;
    height: 40px;
  }
  
.cropper-point.point-n {
    left: -10px;
    margin-left: unset;
    top: -10px;
    width: 40px;
    height: 8px;
  }
.cover-preview-image {
    max-width: 12rem;
    border: solid 2px #D3D3D3;
    cursor: pointer;
}


.nationality-input {
    width: 100% !important;
    font-family: 'NunitoSans-Regular' !important;
}

.advanced-search-input .advanced-input-container .advanced-input-section{
    height: 50px !important;
    color: #212529 !important;
}
.input-group .input-group-prepend::after {
    border-right: unset !important;
}

@media (max-width:1280px) {
    .student-profil-form input,
    .student-profil-form .multiselect *,
    .student-profil-form label{
        font-size: 13px !important;

    }
}
.student-profil-form .form-group-row {
    text-align: left;
    max-width: 60rem;
    margin: auto;
    margin: 3rem auto;
}
.student-profil-form .modal-confirm-profil .modal-container{
    min-height:unset !important;
    border-radius: 25px !important;
}