<template>
  <div class="template-fragment">
        <div class="fragment-aside">
            <button class="export-btn" @click="downloadPdf">Telecharger la candidature en PDF </button>
            <nav class="vertical-nav">
                <ul>
                    <li v-for="item,index in sheets" :key="'sheets-nav-'+index">
                        <a href="#" @click.prevent="goToSheet(index)" :class="sheet.id == item.id ? 'active': ''">
                            <span class="link-number">{{ index + 1 }}</span>    
                            <span class="link-text"> {{ item._sheet.name }} </span>    
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="fragment-content">
            <div class="horizontal-nav">
                <a class="horizontal-nav-prev-btn" @click="prevCaroussel"> 
                    <img :src="arrow" class="arrow arrow-left" />
                </a>
                <div class="horizontal-nav-content">
                    <a  href="#" 
                        class="horizontal-nav-item" 
                        :class="sheet.id == item.id ? 'active': ''" 
                        v-for="item,index in carousselData" 
                        @click.prevent="goToSheetItem(item)"
                        :key="'sheets-nav-'+index">
                        {{ item._sheet.name }}
                    </a>
                </div>
                <a class="horizontal-nav-next-btn" @click="nextCaroussel">
                    <img :src="arrow" class="arrow arrow-right" />    
                </a>
            </div>

            <div class="fragment-tab-content">
                <div class="comment-view-wrapper">
                   <CommentView :comments="sheet.application_commentaires" />
                </div>
               <div class="form-content">
                    <div class="form-content-data preview-sheet-form">
                        <fm-generate-form 
                            :data="sheet._sheet.content" 
                            :value="sheet.content"
                            ref="generateForm"
                            >
                        </fm-generate-form>
                    </div>
                    <div class="action-group">
                        <DefaultButton className="outline2 mr-2"   :text="$t('word.prev')"   @click.native="prevsheet"/>
                        <DefaultButton className="style4 mr-2"     :text="$t('word.next')"   @click.native="nextsheet"/>
                    </div>
                </div>
            </div>
        </div> 

  </div>
</template>

<script>
    import CommentView  from  "@/components/application/CommentView.vue"
    import ApplicationService    from "@/services/application/ApplicationService.js"
    export default {
        name:'ApplicationDetailTab',
        props: {
            application: {
                require: true
            }
        },
        components:{
            CommentView
        },
        data: function(){
            return {
                start         : 0,
                maxCaroussel  : 4,
                sheetIndex    : 0,
                carousselData : [],
                arrow         : require('@/assets/img/fleche-icon.svg').default
            }
        },
        computed: {
            sheets: function(){
                return this.application ? this.application.application_sheets : []
            },
            sheet: function(){
                return this.sheets[this.sheetIndex]
            },
            
        },
        methods: {
            nextCaroussel: function(){
                let lastIndex      = (this.carousselData.length - 1)
                let item           = this.carousselData[lastIndex]
                this.carousselData.splice(lastIndex, 1)
                this.carousselData = [item, ...this.carousselData]
            },
            prevCaroussel: function(){
               let item      = this.carousselData[0]
               this.carousselData.splice(0, 1)
               this.carousselData.push(item)        
            },

            nextsheet: function(){
               if(this.sheetIndex == (this.sheets.length - 1) ){
                    return 
                }
                this.sheetIndex++           
            },

            prevsheet(){
                 if(this.sheetIndex == 0 ){
                    return 
                }
                this.sheetIndex--
            },
            
            goToSheet: function(index){
                this.sheetIndex = index
            },
            downloadPdf: function(){
                ApplicationService.downloadApplication(this.application.id)
            },
            getItemIndex: function(item){
                let array = this.sheets
                for (let index = 0; index < array.length; index++) {
                    const element = array[index];
                    if(element.id == item.id){
                        return index
                    }
                }
                return 0
            },
            goToSheetItem: function(item){
                let index = this.getItemIndex(item)
                this.goToSheet(index);
            }
        },
        mounted: function(){
            this.carousselData = [...this.sheets]
        }
    }
</script>

<style scoped>
    .template-fragment{
        display: flex;
        border-top: solid 1px #dee2e6;
    }

    .fragment-aside{
        width: 100%;
        padding-top: 1rem;
        border-right: solid 1px #d0ceda;
        margin-right: 2rem;
    }
    .fragment-content {
        min-width: 70%;
    }
    .arrow.arrow-left {
        transform: rotate(-180deg);
    }
    .export-btn {
        padding: .6rem 1rem;
        background: #ff7667;
        color: white;
        border: none;
        border-radius: 2rem;
        font-size: 13px;
        font-family: 'NunitoSans-Bold';
        margin: 1rem 10%;
        width: 80%;
    }

    .horizontal-nav {
        margin-top: 4rem;
        display: flex;
        position: relative;
    }
 
    .horizontal-nav-item {
        padding: 0 1rem;
    }

    .horizontal-nav-next-btn {
        position: absolute;
        right: 0;
        padding: 1rem 2rem;
        top: -17px;
        background: white;
    }
    .horizontal-nav-prev-btn {
        margin-right: 2rem;
    }
    .horizontal-nav-content {
        white-space: nowrap;
        max-width: 50vw;
        min-height: 2.5rem;
        overflow: hidden;
    }
    .horizontal-nav-item {
        color: #d0ceda !important;
        font-family: 'NunitoSans-SemiBold' !important;
        border-bottom: solid #dee2e6;
        padding-bottom: 10px !important;
    }
    a.horizontal-nav-item.active {
        color: #606266 !important;
        border-bottom: solid #ff7667;
    }

    .horizontal-nav-prev-btn span,
    .horizontal-nav-next-btn span{
     color: #d3d3d3 !important;   
    }

    .vertical-nav li{
        padding: 1rem;
        border-bottom: solid 1px #e4e7ed;
    }
    .vertical-nav li a {
        font-family: 'NunitoSans-SemiBold' !important;
        display: flex;
    }
    .vertical-nav li a .link-number {
        color: #d0ceda;
        min-width: 25px;
    }
    .vertical-nav li a .link-text{
        color: #606266;
    }
    .vertical-nav li a.active .link-text{
        color: #3DC5B7 !important;
    }
    .fragment-tab-content {
        padding: 2rem;
    }

    @media (max-width:1400px) {
        .vertical-nav,
        .horizontal-nav-item{
           font-size: 14px;
        }
        .export-btn{
            font-size: 10px;
        }
    }
    @media (max-width:1200px) {
        .fragment-aside{
            padding: 1rem;
        }
        .horizontal-nav{
            margin-top: 2rem;
        }
    }
    @media (max-width:1100px) {
        .export-btn{
            font-size: 9px;
        }
    }
</style>
<style>
    .preview-sheet-form input,
    .preview-sheet-form textarea
    {
        border: unset !important;
    }
    .preview-sheet-form .el-form-item__label::before{
        content: unset !important;
    }
</style>