<template>
  <div class="template-fragment">
      <div class="alert-header">
          <div class="alert-header--title">
              <div class="bg-white circle-icon"><img :src="icon_alert"></div>
              <h3>Alerte (3)</h3>
          </div>
          <div class="alert-header--action">
              <a href="#" @click.prevent="openNewFeatureModal">Tout voir</a>
          </div>
      </div>
      <div class="alert-content">
          <p class="alert-content--item">
              Il ne vous reste plus que 2 jours pour finaliser votre candidature pour Harvard
          </p>
          <p class="alert-content--item">
              Il ne vous reste plus que 5 jours pour finaliser votre candidature pour blabla
          </p>
      </div>
       <new-feature-modal v-if="newFeatureModal" @close="closeNewFeatureModal"/>
  </div>
</template>

<script>
export default {
    name : 'ApplicationAlert',
    props: {
        student: {
            default : false
        }
    },

    data: function(){
        return {
            icon_alert: require("@/assets/img/icon-alert.svg").default
        }
    },

    methods : {

    }
}
</script>

<style scoped>
    .template-fragment {
        padding: 1.2rem;
        background: #FFEEEC 0% 0% no-repeat padding-box;
        border-radius: 10px;
    }
    .alert-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .alert-header--title {
        display: flex;
        align-items: center;
    }

    .alert-header--title {
        font-family: 'NunitoSans-Bold';
    }

    .alert-header--title h3 {
        font-size: 1.2rem;
        margin-bottom: 0;
        margin-left: 1rem;
        color: #444242;
    }
    .alert-content {
        padding: 1rem 2rem;
        margin: 0 1rem;
    }
    .alert-header--action a {
        color: #FF7667 !important;
        font-family: 'NunitoSans-Bold';
    }

    .alert-content--item{
        color: #3C3850 !important;
        font-size: .9rem;
    }
    .alert-content--item:last-child{
        margin-bottom: 0 !important;
    }

    @media (max-width:1440px) {
        .alert-header--title img{
            width: 20px;
        }
        .alert-header--title h3{
            font-size: 1rem;
        }
        .alert-header--action a{
            font-size: 14px;
        }
        .alert-content--item{
            font-size: 12px;
        }
    }
    .alert-header .circle-icon {
        padding: 10px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
    }
</style>