<template>
    <div class="template-fragment application-item-template" v-if="application.scholarship">
        <div class="item-logo">
            <img :src="scholarshipLogo">
        </div>
        <div class='item-description'>
            <p class="scholarhip-name">{{ application.scholarship.name }}</p>
            <p class="scholarhip-country">{{ scholarshipCity }}, {{ scholarshipCountry }}</p>
        </div>
        <div class="item-price">
            <div class="inline-items">
                <span class="label">Montant : </span>
                <span class="value" v-if="application.scholarship.currency">{{ application.scholarship.amount|toCurrency('fr-FR', application.scholarship.currency.code) }}</span>
                <span class="value" v-else>   {{ application.scholarship.amount }}</span>
            </div>
            <div class="inline-items">
                <span class="label">Domaine : </span>
                <div>
                    <span v-for="(displine, index) in scholarshipDisciplines" :key="index" class="value" >{{ $t("discipline." + displine.id) }}</span>
                </div>
            </div>
        </div>
        <div class="item-date">
            <div class="inline-items">
                <span class="label">Date limite : </span>
                <span class="value" v-if="application.scholarship.candidature_limit">
                    {{ formatDateRender(application.scholarship.candidature_limit, local, true) }}
                </span>
                <span v-else class="value value-date-text">
                    {{ $t('scholarship.label.dateLimitCandidatureCb') }}
                </span>
            </div>
            <div class="inline-items">
                <span class="label">Niveau : </span>
                <span class="value" v-for="(level, index) in scholarshipLevels" :key="index">
                    {{ $t("student.level." + level.id) }}
                </span>

            </div>
        </div>
        <div class="item-status text-center">
            <button class="item-status-control bg-white" @click="viewDetail">Voir la candidature</button>
            <span class="status-label">
                {{ $t('application.status.'+application.status) }}
            </span>
        </div>
    </div>
</template>

<script>
    export default {
        name  : 'ApplicationItem',
        props : {
            application: {
                require: true
            },

        },
        data: function(){
            return {
                defaultLogo: require('@/assets/img/image.svg').default
            }
        },
        computed: {
            scholarshipCity: function(){
                let addressePart = this.application.scholarship.contact_adresse.split(',')
                return addressePart[addressePart.length -2];
            },
            scholarshipCountry: function(){
                let addressePart        = this.application.scholarship.contact_adresse.split(',')
                return addressePart[addressePart.length -1];
            },
            scholarshipLogo: function(){
                let sLogo = this.application.scholarship.logo ?? false
                return sLogo ? '/uploads/logo/'+sLogo : this.defaultLogo
            },
            scholarshipLevels: function(){
                let sLevels = this.application.scholarship.granted_level
                return sLevels.length ? sLevels : [{id:0}]
            },
            scholarshipDisciplines: function(){
                let sDisciplines = this.application.scholarship.study_field
                return sDisciplines.length ? sDisciplines : [{id:0}]
            }
        },
        methods:{
            /**
             * Prepare URL and redirect to application detail page 
             * 
             * @return void
             */
            viewDetail: function(){
                let id = this.application.id
                var encoder = require('int-encoder')
                this.$router.push({name:'student_application_detail', params: {id:encoder.encode(id)}})
            }
        }

    }
</script>

<style scoped>
    .application-item-template {
        display: flex;
        justify-content: space-between;
        padding: 1.6rem;
        align-items: center;
    }

    .item-logo {
        max-width: 5rem;
    }

    .item-description {
        width: 26%;
        margin-right: 2rem;
        border-right: solid 1px #dee2e6;
    }

    .scholarhip-name {
        font-family: 'NunitoSans-SemiBold' !important;
    }

    .scholarhip-country {
        margin-bottom: 0;
        font-size: 14px;
        color: #3C3850;
    }
    .item-price {
        width: 23%;
    }

    .item-date {
        width: 24%;
    }
    
    .inline-items {
        line-height: 2rem;
        font-size: 14px;
        display: flex;
    }
    .inline-items .label {
        color: #D6D6D6;
        min-width: fit-content;
    }
    .inline-items  span.value {
        font-family: 'NunitoSans-SemiBold';
        color: #3C3850;
        margin-left: 5px;
    }

    span.status-label {
        color: #D3D3D3;
    }
    .item-status-control {
        display: block;
        margin: auto;
        border: solid 2px #ff7667;
        color: #ff7667;
        border-radius: 2rem;
        padding: 0.5rem 1.5rem;
        margin-top: 5px;
        font-family: 'NunitoSans-Bold';
    }

    @media (max-width:1528px) {
        .item-status-control{
           font-size: 14px;
        }
    }
    @media (max-width:1440px) {
        .item-logo{
            max-width: 4rem;
        }
        .item-description{
            margin-left: 10px;
        }
        .scholarhip-name{
            font-size: 13px;
            margin-bottom: 5px;
        }
        .scholarhip-country,
        .inline-items{
            font-size: 12px;
            line-height: 1.5rem;
        }
        .status-label{
            font-size: 14px;
        }
        .item-status{
            width: 12rem;
        }

    }

    @media (max-width: 1280px){
        .inline-items{
            flex-direction: column;
        }
        .item-status-control{
           font-size: 12px;
        }
    }
    
    @media (max-width: 991px){
        .item-status-control{
           font-size: 11px;
           width: unset;
        }
        .item-date{
            display: none;
        }
    }
    @media (max-width: 768px){
        .item-price{
            display: none;
        }
        .item-description{
            width: 50%;
        }
        .item-logo{
            max-width: 15%;
        }
    }
    @media (max-width: 550px){
        .application-item-template{
            flex-wrap: wrap;
        }
        .item-description{
            width: 70%;
            margin-left: unset;
            border: unset;
        }
        .item-status {
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
        }

        .item-status .status-label{
            display: block;
            flex: 1;
            text-align: center;
        }
    }

</style>