<template>
    <div class="template-fragment">
        <div class="section section-title">
            <h2>{{ $t('word.application') }} a {{ application.scholarship.name }} </h2>
        </div>

        <div class="section section-content">
            <div class="item-logo">
                <img :src="scholarshipLogo">
            </div>
            <div class='item-description'>
                <p class="scholarhip-country">{{ application.scholarship.name }}</p>
                <p class="scholarhip-organisme">{{ scholarshipCity }}, {{ scholarshipCountry }}</p>
            </div>

            <div class="item-application">
                <div class="inline-items">
                    <span class="label">Candidature envoyée le : </span>
                    <span class="value"> {{ formatDateRender(application.date_apply, local, true) }}</span>
                </div>
                <div class="inline-items">
                    <span class="label">Status de candidature : </span>
                    <span class="value">{{ applicationStatus }}</span>
                </div>
            </div>
            <div class="item-actions">
               <button class="contact-btn" @click.prevent="openNewFeatureModal">
                   <img :src="iconBtn"/>
                   <span> Contacter l'etablissement </span>
               </button>
            </div>
        </div>
        <new-feature-modal v-if="newFeatureModal" @close="closeNewFeatureModal"/>
    </div>
</template>

<script>
export default {
    props: {
        application: {
            require: true
        }
    },
    
    data: function(){
         return {
            defaultLogo : require('@/assets/img/image.svg').default,
            iconBtn     : require('@/assets/img/activity-icon.svg').default,
        }
    },
    computed: {
        scholarshipCity: function(){
            let addressePart = this.application.scholarship.contact_adresse.split(',')
            return addressePart[addressePart.length -2];
        },
        scholarshipCountry: function(){
            let addressePart        = this.application.scholarship.contact_adresse.split(',')
            return addressePart[addressePart.length -1];
        },
        scholarshipLogo: function(){
            let sLogo = this.application.scholarship.logo
            return sLogo ? '/uploads/logo/'+sLogo : this.defaultLogo
        },
        applicationStatus: function(){
            let s = this.application.status ?? 1
            return this.$t('application.status.'+s)
        }
    },

}
</script>

<style scoped>
    .section.section-title h2 {
        color: #3DC5B7;
        font-family: 'NunitoSans-Bold';
        font-size: 1.5rem;
        text-transform: capitalize;
        margin-bottom: 1.2rem;
    }
    .section-content {
        display: flex;
        align-items: center;
    }

    .item-logo {
        max-width: 4rem;
        margin-right: 1.5rem;
    }
    .item-logo img {
        border-radius: 5px;
    }

    .item-description p {
        margin: 0;
        /* margin-right: 4rem; */
    }

    .item-description {
        width: 30%;
    }
    
    .item-application {
        width: 30%;
    }

    p.scholarhip-organisme {
        font-family: 'NunitoSans-SemiBold' !important;
        margin-top: 5px;
    }
    .inline-items {
        margin-top: 5px;
    }

    .inline-items .value {
        font-family: 'NunitoSans-SemiBold';
    }

    .contact-btn {
        border: 1px solid #FF7667;
        color: #FF7667;
        background-color: #ffffff;
        padding: .8rem 1.2rem;
        border-radius: 10px;
        font-family: 'NunitoSans-SemiBold';
    }

    .contact-btn img {
        filter: hue-rotate(225deg);
        height: 15px;
    }
    @media (max-width:1400px) {
        .section-content{
            font-size: 14px;
        }
        .section.section-title h2{
            font-size: 1.2rem;
        }
        
    }
    @media (max-width:1200px) {
        .section-content{
            justify-content: space-evenly;
        }
        .item-logo{
            max-width: 3rem;
            margin-right: 1rem;
        }
        .section.section-title h2{
            margin-bottom: 1rem;
        }
        
    }
    @media (max-width:1120px) {
        .section-content{
            font-size: 12px;
        }
    }
</style>