{% extends 'admin/base.html.twig' %}
{% import _self as formMacros %}
{% macro createValeurs(valeur) %}
    <div class="col-lg-6 col-xl-4">
       <div class="concept-value--item">
             <a class="remove-value">x</a>
            <div class="thumbnail-preview text-center mb-2">
                <div  data-default="{{  asset('build/images/1.png') }}">
                    {% if valeur.vars.value is not null and valeur.vars.value.image %}
                        <img src="{{  '/uploads/picture/' ~ valeur.vars.value.image }}">
                    {% else %}
                        <img src="{{ asset('build/images/1.png') }}" height="240px" class="default-image">
                    {% endif %}
                </div>
                <div class="btn-container">
                    <input class="concept-value-input-file64" type="hidden" id="{{ valeur.image.vars.id }}_64" name="{{ valeur.image.vars.id }}_64"
                    {% if valeur.vars.value is not null and valeur.vars.value.image %}
                        value="{{ valeur.vars.value.image }}"
                {% endif %}
                    >
                    {{ form_widget(valeur.image, {'attr':{'class':'hidden concept-value-input-file' }}) }}
                    <div class="input-file-wrapper text-center">
                        <span class="legende tooltip-logo concept-value-legende-file">{% trans %}Merci de fournir un image de taille 300 x 250px au minimum{% endtrans %}</span>
                    </div>
                    <button type="button" class="edit-image-concept custom-default-btn"> {% trans %}Changer l'image{% endtrans %} </button>
                </div>
            </div>
            <div class="my-3">
                {{ form_widget(valeur.title, {attr:{'class': 'form-control', 'placeholder':'Titre'}}) }}
            </div>
            <div class="mb-4">
                {{ form_widget(valeur.text, {attr:{'class': 'form-control', 'placeholder':'Valeur texte'}}) }}
            </div>
       </div>
    </div>
{% endmacro %}

{% block title %}Admin > Page > Concept{% endblock %}

{% block body %}

    {{ form_start(form, {'attr': {'id':'admin-concept-form'}}) }}
    <div class="tile p-3">
        <div class="tile-body">
            <div class="row">
                <div class="col-sm-7">
                    <div class="form-group">
                        <label class="control-label">
                            {% trans %}Langue{% endtrans %}
                        </label>
                        {{ form_widget(form.lang, {'attr': {'class':'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        <label class="control-label">
                            {% trans %}Titre{% endtrans %}
                        </label>
                        {{ form_widget(form.title, {'attr': {'class':'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        <label class="control-label">
                            {% trans %}Contenu{% endtrans %}
                        </label>
                        {{ form_widget(form.content, {'attr': {'class':'tinymce'}}) }}
                    </div>
                </div>
                <div class="col-sm-5 pt-5">
                    <div class="input-file-wrapper text-center">
                        <span class="legende tooltip-logo" id="concept-legende-file">{% trans %}Merci de fournir un image de taille 250 x 250px au minimum{% endtrans %}</span>
                    </div>
                    <div class="thumbnail-preview ">
                        <div class="mb-2"  data-default="{{  asset('build/images/default_concept.jpg') }}">
                            {% if form.vars.value.image %}
                                <img id="concept_image_preview" src="{{  '/uploads/picture/' ~ form.vars.value.image }}">
                            {% else %}
                                <img id="concept_image_preview" src="{{  asset('build/images/default_concept.jpg') }}" width="300">
                            {% endif %}
                        </div>
                        <div class="btn-container w-100 text-center">

                            <input type="hidden" id="concept_image64" name="concept_image_64"
                            {% if form.vars.value is not null and form.vars.value.image is defined %}
                                value="{{ form.vars.value.image }}"
                            {% endif %}
                            >
                            {{ form_widget(form.image, {'attr':{'class':'hidden concept-image-input-file' }}) }}<br/>
                            <button type="button" class="edit-image-concept custom-default-btn"> {% trans %}Modifier l'image de couverture{% endtrans %} </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="value-wrapper">
                <div class="value-container">
                    <div class="section-title">
                        <h5 class="title"><a class="btn title" href="#" id="add_values"><span class="fa fa-plus"></span>Ajouter nos valeurs</a></h5>
                    </div>
                    <div class="value-list-wrapper">
                        <div class="value-list-container mx-4">
                            <div class="row" id="concept-value-wrapper"
                                 data-prototype="{{ formMacros.createValeurs(form.valeurs.vars.prototype)|e('html_attr') }}"
                                 data-index="{{ form.valeurs|length }}"
                                 data-defaults-images="{{  asset('build/images/1.png') }},{{  asset('build/images/2.png') }},{{  asset('build/images/3.png') }},{{  asset('build/images/4.png') }}"
                            >
                             {% for valeur in form.valeurs %}
                                {{ formMacros.createValeurs(valeur) }}
                             {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="action-group text-right mt-5">
                <button class="btn btn-primary mr-3" type="submit">
                    <i class="fa fa-fw fa-lg fa-check-circle"></i>
                    {% if button_label|default(false) %}
                        {% trans %}Modifier{% endtrans %}
                    {% else %}
                        {% trans %}Enregistrer{% endtrans %}
                    {% endif %}
                </button>
            </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
    {% include "admin/components/modal_cropper.html.twig" %}
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app_admin_concept') }}
{% endblock %}