{% extends 'admin/base.html.twig' %}
{% block title %}Admin > Page > Concept{% endblock %}
{% block actions %}
     <a class="btn btn-primary" href="{{ path('admin_concept_new') }}">{% trans %}Ajouter{% endtrans %}</a>
{% endblock %}
{% block body %}
    <div class="tile p-2">
        <div class="tile-body p-2">
            <table class="table table-hover table-bordered no-footer admin-table">
                <colgroup>
                    <col span="1" style="width: 10%;" />
                    <col span="1" style="width: 20%;"/>
                    <col span="1" style="width: 80%;" />
                    <col span="1" style="width: 20%;"/>
                </colgroup>
                <thead class="thead-green">
                    <tr>
                        <th>Id</th>
                        <th>Langue</th>
                        <th>Titre</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for post in concepts %}
                        <tr>
                            <td>{{ post.id }}</td>
                            <td>{{ post.lang }}</td>
                            <td>{{ post.title }}</td>
                            <td>
                                <a href="{{ path('admin_concept_edit', {'id': post.id}) }}">edit</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="13">no records found</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
{% endblock %}