<template>
  <default-layout>
    
	<div slot="content">
			<div class="element-contenu m-dashboard" id="element-contenu-statistic">
				<div class="scholarship-search-wrapper">
					<ScholarshipSearchForm  context="student"  :showAllCountries="false" />
				</div>
				<div class="mx-4 search-choice" id="bloc-1">
					<p class="title-bloc mobile-title">{{ $t('student.dashboard.stat.mobile_title') }}</p>
					<p  class="title-bloc">{{ profil.lastname + " " + profil.firstname }} {{ $t('student.dashboard.stat.title') }}</p>
					<!--div class="choix-moteur">
						<div id="choix-1">{{ $t("word.scholarship") }}</div>
						<div id="choix-2">{{ $t("word.formation") }}</div>
					</div-->
				</div>
				<!-- Begin bloc stats -->
					<div class="section-stats">
						<Stats />
					</div>
				<!-- END bloc stats -->

				<!--- section block todo and favoris  -->
					<div class="section-favoris">
						<div class="row">
							<div class="col-lg-6 pr-4">
								<div class = "bloc-3-title mb-5">
									<p class="title-bloc show-title" >{{ $t('student.dashboard.favorite') }}</p>
									<a class="link-title desktop-only" href="#" @click.prevent="$router.push({'name' : 'user-favoris' })">{{ $t('student.dashboard.show_all') }}</a>
								</div>
								<div class="bloc-3-contenu">
									<FavorisSlide :user="profil" />
								</div>
								<DefaultButton className="outline2 mt-5 mx-auto d-block w-100 hide-desktop" @click.native="$router.push({'name' : 'user-favoris' })" text="Voir mes favoris" /> 
							</div>

							<!-- Begin todo  -->
							<div  class="col-lg-6 d-none-mobile p-0">
								<div class = "bloc-3-title">
									<p class="title-bloc ">{{ $t('student.dashboard.todo') }}</p>
									<span class="link-title">{{ $t('student.dashboard.manage_todo') }}</span>
								</div>
								<TodoList />
							</div>
						</div>
						<!--- END Todo  -->
					</div>
				<!-- END section favoris & todo -->
				
				<!---  Begin favorite country -->
					<div class ="section-favorite-country">
						<p id="title-bloc-4" class="title-bloc mb-4 show-title">{{ $t('student.dashboard.favorite_countries') }}</p>
						<div id="contry-list">
							<div v-if="favoriteCountries" class="w-100">
								<div class="custom-row d-none-mobile">
									<div class="item" v-for="(country, index) in favoriteCountries" :key="country.id" >
										<CountryItem :country="country" :index="index+1"/>
									</div>
								</div>
								<div class="hide-desktop">
										<VueSlickCarousel :arrows="true" :dots="true">
											<div v-for="(country, key) in favoriteCountries" :key="'mobile-slide'+key">
												<CountryItemMobile :country="country" :index="key+1"/>
											</div>
										</VueSlickCarousel>
								</div>
							</div>	
							<div v-else class="p-5 text-center">
								<h2>{{ $t('student.dashboard.zero_countries') }}</h2>
							</div>
						</div>

					</div>
				<!--  End favorite country -->

				<!--  Begin suggestion -->
					<div class="mx-4 py-5">
						<p id="title-suggestion" class="title-bloc ml-4 mb-4 show-title">{{ $t('student.dashboard.suggestions') }}</p>
						<SuggestionSlide />
					</div>
					<div class="just  to gice a space at end my-5"></div>
				<!--  End suggestion -->
			</div>
		</div>
  </default-layout>
</template>
<script src="./StudentDashboard.js"></script>
<style scoped src="./StudentDashboard.css"></style>
