#element-contenu-statistic #label-form-search {
  color : black  !important
}

#element-contenu-statistic .choix-moteur {
  border: 2px solid #3DC5B7 !important;
}
#element-contenu-statistic .choix-moteur #choix-1{
  color : white !important;
  background: #3DC5B7 0 0 no-repeat padding-box !important;
}

#element-contenu-statistic .choix-moteur #choix-2{
  color :#3DC5B7 !important;
  background: white 0 0 no-repeat padding-box !important;
}

.scholarship-search-wrapper {
    padding: 2.5rem 1.5rem!important;
    background: #F8F8F8 !important;
    border-bottom: solid 1px #e4e4e3;
  }
#element-contenu-statistic {
    margin-left : 0%;
    margin-right: 0%;
}

#bloc-1  {
    display: flex;
    justify-content: space-between;
    margin: 32px 0 32px 0;
}

 #element-contenu-statistic p {
     margin:0
 }

.number p{
    font-size: 30px;
    margin: 0;
}

.nolast {
    border-bottom : 1px solid #A3BBEF
}


#element-contenu-statistic .bloc-3-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#element-contenu-statistic #contry-list {
    display: flex;
}


#element-contenu-statistic #suggestion-list {
    margin-top: 5%;
}

#bloc-1 label {
    font-weight: bold;
}

.section-favoris {
    padding: 3rem !important;
    margin-top: 3rem !important;
    background-color: #F8F8F8;
    margin-left: unset !important;
    margin-right: unset !important;
    max-width: 80vw;
}

.section-favoris p{
   margin: 5px;
   font-weight: bold;
}
.section-favorite-country {
    padding: 3rem !important;
    margin-top: 3rem !important;
    border-bottom: 1px solid #F4F2F1;
 }
 
 #title-suggestion {
    color: #241e78eb;
    font-family: 'NunitoSans-Bold' !important;
}

.title-bloc {
    font-size: 24px;
}
#element-contenu-statistic .tooltip-statistic {
    padding: 3% !important;
    color : #3DC5B7 !important
}
div#splide02 {
    max-width: 70vw;
}
.custom-row {
    display: flex;
    justify-content: space-between;
}
.title-bloc {
    font-size: 1.5rem;
    font-family: NunitoSans-Bold !important;
    color: #444242 !important;
}
.bloc-3-title .link-title,
.bloc-3-title .link-title:hover
{
    color: #ff7667;
    margin-right: 15px;
    font-family: 'NunitoSans-SemiBold';
}
.choix-moteur #choix-1, .choix-moteur #choix-2 {
    height: 100% !important;
}

@media (max-width:1280px){
    .title-bloc{
        font-size: 1.2rem;
    }
    .bloc-3-title .link-title{
        font-size: 14px;
    }
}
@media (max-width:1025px){
    .choix-moteur {
        height: 35px !important;
    }
}

@media(max-width:768px){
    .m-dashboard .bloc-3-contenu{
        display: flex;
        justify-content: center;
    }
    .m-dashboard .section-favoris .bloc-3-title.mb-5 {
        margin-bottom: 1.5rem !important;
    }
    .m-dashboard .section-favoris {
        margin-top: unset !important;
    }
    .m-dashboard .choix-moteur-sans-formation {
        margin-bottom: 15px;
    }
    #bloc-1 {
        justify-content: center;
        align-items: flex-start;
        margin: 5%;
        padding: 0;
        flex-direction: column;
    }
    .m-dashboard .title-bloc,
    .d-none-mobile,
    .m-dashboard .bloc-3-title span{
        display: none !important;
    }
    .m-dashboard p.mobile-title{
        font-family: "NunitoSans-Bold !important";
        font-size: 1.2rem;
        display: block !important;
        padding-left: 0;
    }
    .m-dashboard .choix-moteur {
        width: 90% !important;
    }
    .m-dashboard .choix-moteur #choix-1 {
        height: 41px !important;
    }
    div#element-contenu-statistic {
        background: #fff;
    }
    .m-dashboard #critere .active {
        background-color: #F2F1F5 !important;
    }
    .m-dashboard .show-title{
        font-size: 4.781845vw;
        padding-left: 0 !important;
        display: block  !important;
        font-family: 'NunitoSans-SemiBold' !important;
    }
    .section-favoris,
    .section-favorite-country{
        border-bottom: unset !important;
        padding: 0 7% !important;
    }
    .section-suggestion{
        margin: 3rem 5% !important;
        border-top: solid 1px #dee2e687;
        padding-top: 1rem !important;
    }
    #title-suggestion {
        font-family: 'NunitoSans-SemiBold' !important;
        margin: 0px !important;
    }

    
}
@media (min-width:769px){
    .m-dashboard .search-choice .title-bloc:first-of-type, .hide-desktop{
        display: none !important;
    }
}
@media (max-width:425px){
    button.btn-default.outline2.mt-5.mx-auto.d-block.w-100.hide-desktop.has-icon {
        font-family: 'NunitoSans-SemiBold' !important;
        min-height: 40px;
    }
    .m-dashboard .favoris-list {
        width: 360px;
    }
    .m-dashboard .choix-moteur #choix-1,
    .choix-moteur {
        height: 35px !important;
    }
}
@media (max-width:375px){
    .m-dashboard .favoris-list {
        width: 300px !important;
    }
    .m-dashboard .scholarship-item-grid {
        width: 273px !important; 
    }
    .info_contry.row{
        max-width: 139%;
    }
    .info_contry.row:before {
        width: 300px;
        top: -0.4rem;
        left: 1%;
    }
}
@media (max-width:320px){
    .m-dashboard .favoris-list {
        width: 290px !important;
    }
    .section-favorite-country {
        padding: 1rem !important;
    }
}
