<template>
  <div class="registrationWrapper form-student" slot="content">
    <StudentRegistrationForm v-if="steep == 1" v-on:registrationSuccess="switchToSteep2" @login="login" />
    <activateAccount  v-else :email ="user.email" :password="user.password" />
    <div class="custom-modal-footer">
      <span class="small" v-if="steep == 1">*{{ $t('modal.fielrequire') }}</span>
    </div>
  </div>
</template>
<script>
  import './StudentRegistration.css'
  import StudentRegistrationForm  from './StudentRegistrationForm.vue'
  import activateAccount from "@/components/common/ActivateAccount"

  export default {
    name : 'student_registration',
    components : {
      StudentRegistrationForm,
      activateAccount
    },
    data : function(){
      return {
        steep : 1,
        user: {
          username: "",
          password: "",
          typeAuth: "mail",
        },
      }
    },
    methods: {
      switchToSteep2(user){
        this.steep = 2
        this.user  = user
        this.$emit("switchToSpeep", 2)
      },
      login: function(){
        this.$emit('login')
      }
    },
    watch: {
      steep : {
        immediate :false,
        handler: function(val, old){
          let container = document.querySelector('.registrationWrapper').closest('.modal-container')
          container.classList.remove('student-registration-steep-'+old) 
          container.classList.add('student-registration-steep-'+val) 
          window.scrollTo(0, 0)
        }
      }
    }

  }
</script>
