<template>
    <div class="content">
      <div class="text-center mb-4 rs-inscripition-btn">
       <button
          class="btn btn-primary custom-btn linkedin-btn btn-inscription mr-1"
          @click="signLinkedIn"
        >
          <span class="rs-icon fa fa-linkedin"></span>
          <span>{{$t('modal.label_btn_sign_linkedin')}}</span>
        </button>
      </div>
      <div class="form-wrapper">
        <form>
          <div class="row">
            <div class="form-group col-sm-12">
              <label>{{$t('word.firstname')}}*</label>
              <input type="text" class="form-control" v-model="user.firstname" />
            </div>
            <div class="form-group col-sm-12">
              <label>{{$t('word.name')}}*</label>
              <input type="text" class="form-control" v-model="user.lastname" />
            </div>
            <div class="form-group col-sm-12">
              <label>{{$t('word.telephone')}}*</label>
              <PhoneInput class="form-control" v-model="user.phone" />
            </div>
            <div class="form-group col-sm-12">
              <label>{{$t('word.email')}}*</label>
              <input type="email" class="form-control" v-model="user.email" />
            </div>
            <div class="form-group col-sm-12 form-group">
              <label>{{$t('word.password')}}*</label>
              <div class="input-group form-control" id="show_hide_password">
                <input :type="passwordType" v-model="user.password" />
                <div class="input-group-addon">
                  <a href="#" @click.prevent="switchPasswordType">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="indice">
            <p class="small" v-if="params"> 
              <span> {{$t('modal.message_9')}} "{{$t('word.save')}}", {{$t('modal.message_10')}} </span>
              <span class="link" @click="$router.push({ name:'page-index', params : { slug: params.cgu_url.value}})"> {{$t('modal.message_11')}}</span> 
              <span>{{$t('word.and')}}</span>
              <span class="link" @click="$router.push({ name:'page-index', params : { slug: params.cgu_url.value}})"> {{$t('modal.message_12')}}</span> 
            </p>
          </div>
          <div class="text-center">
            <DefaultButton
              className="style1 submit-btn"
              :onLoad="waiting"
              :text="$t('word.save')"
              @click.native="registerSubmit"
            ></DefaultButton>
          </div>
        </form>
      </div>
      
      
      <div class="text-center mt-4">
        <p class="normal text-size">
          <span>{{$t('modal.message_7')}}</span>
          <a class="link" @click.prevent="openLogin"> {{$t('modal.message_8')}} </a>
        </p>
      </div>
    </div>
</template>

<!--
<script type="text/javascript" src="https://platform.linkedin.com/in.js">
api_key: "777xgk82rjzcs3"
authorize: true
</script-->


<script>
  import RegistrationService from '../../../services/student/RegistrationService.js'
  import PhoneInput from '../../../components/common/PhoneInput.vue'
  import facebookLogin from 'facebook-login-vuejs'
  import LinkedinAuth  from '../../../services/LinkedIn/LinkedInAuth.js'

  const redirect_uri = document.location.origin + "/student/";
  export default {
    name: "StudentRegistrationForm",
    components: {
        PhoneInput, facebookLogin
      },
      data : function() {
          return { 
              /**
               * FB Config
               */
              isConnected: false,
              personalID: '',
              FB        : false,
              LinkedIn  :false,
              passwordType : "password",
              
              user : {
                  firstname  : "",
                  lastname    : "",
                  phone       : "",
                  email       : "",
                  password    : ""
              },
              waiting      : false
          }
      },
      computed: {
        params: function(){
          return {
            cgu_url: this.getSitePreference('cgu_url')
          }
        }
      },
      methods: {
          checkChamp(user) {
            let firstname = (user.firstname !== '' && user.firstname !== null );
            let lastname = (user.lastname !== '' && user.lastname !== null );
            let phone = (user.phone !== '' && user.phone !== null && user.phone.length > 10 );
            let email = (user.email !== '' && user.email !== null );
            let password = (user.password !== '' && user.password !== null );
            return firstname && lastname && phone && email && password
          },
          registerSubmit(e) {
            let that = this
            e.preventDefault()
            if(this.checkChamp(this.user)) {
                  if(!this.waiting) {
                  let that = this 
                  that.waiting = true 

                  RegistrationService.register(this.user)
                  .then(function (response) {
                      console.log(response)
                      if(response.data.success){
                        that.$emit('registrationSuccess', that.user)
                      }else{
                        that.waiting        = false   
                        that.dispatchError(that.$t("word.form." + response.data.error))
                      }
                  })
                  /*
                  .catch(function (error) {
                      that.waiting = false   
                      that.error   = true
                      that.errorMessage   = "word.form." + ((error.data.code == 500 ) ? 'internal_error' : error.message)

                  })*/
              }
            }else {
              that.dispatchError(that.$t("word.form.field_incomplet"))
            }
          },   
          /**FB Functions */
          onBtnFbClick(){
            let btn = this.$refs.btnFb
            btn.$el.querySelector('button').click()
          },
          getUserData() {
              let that = this 
              this.FB.api('/me', 'GET', { fields: 'id,name,email,birthday,first_name,last_name' },
                user => {
                  that.user.firstname =  user.first_name
                  that.user.lastname = user.last_name
                  that.user.email = user.email
                }
              )
          },
          sdkLoaded(payload) {
            this.isConnected = payload.isConnected
            this.FB = payload.FB
            if (this.isConnected) this.getUserData()
          },
          onLogin() {
            this.isConnected = true
            this.getUserData()
          },
          onLogout() {
            this.isConnected = false;
          },
          signLinkedIn(){
            LinkedinAuth.onLoadSdk(redirect_uri)
          },
          openLogin() {
            let btnConnex = document.getElementById('connexion')
            
            if(btnConnex){
              btnConnex.click()
            } 

            let btnClose =  document.getElementsByClassName('close')
            if(btnClose && btnClose[0]){
              btnClose[0].click()
            }

            this.$emit('login')
          },
          switchPasswordType(){
            this.passwordType = (this.passwordType == "password") ? 'text' : 'password'
          }
      },
      mounted : function(){
        // linkedin code fallback
        let linkedInCode = this.$route.query.code ?? false
        if(linkedInCode !== false){
          let that = this
          LinkedinAuth.getUserInfos(linkedInCode, redirect_uri).then( (response) =>{
              let user = response.data ?? false;
              console.log(user);
              if(user && user.id){
                that.user.firstname =  user.localizedFirstName
                that.user.lastname = user.localizedLastName
                that.user.email = user.email
              }

          })
        }

      }
  }
</script>
