.btn-inscription{
    font-size: 12px !important;
    padding: 10px 15px !important;
    border-radius: 10px !important;
    font-family: 'NunitoSans-Regular' !important;
}
.btn-inscription .rs-icon{
    font-size: 14px; 
    margin-right: 5px;
}
.linkedin-btn{
    background-color: #0288D1 !important;
    border: none !important;
    font-family: 'NunitoSans-Regular' !important;
}


.facebook-btn-wrapper{
    max-width: 40%;
}
.facebook-btn{
    background-color: #3F51B5 !important;
    border: none !important;
}
.facebook-btn-wrapper button{
    display: none;
}
.registrationWrapper label{
    font-family: 'NunitoSans-Regular' ;
}

p{
    font-family: 'NunitoSans-Regular';
}

.form-student {
    margin-left : 5%;
    margin-right: 5%;
}

@media (min-width:1024px){
    .modal-container.student-registration-steep-2 {
        max-width: 40rem !important;
    }
}

@media (max-width:768px){
    #show_hide_password i.fa-eye{
        position: absolute;
        right: 2%;
        top: 15%;
    }
    #show_hide_password input{
        width: 100% !important;
    }
    .modal-body .content button{
        width: 100%;
    }
    .modal-body .content button.btn-default.has-icon {
        box-shadow: 0px 10px 35px #ff796a73;
    }
    .form-student .rs-inscripition-btn {
        padding: 0 5% !important;
    }
    .modal-body label, .text-size {
        font-size: 14px;
    }
    .no-ml{
        margin-left: 0 !important;
    }
}