<template>
    <div class="text-center p-5 m-5">
      <div class="mt-5">
          <h1>Votre compte a été bien activée avec succes.</h1>
          <h2>Vous serez rediriger vers votre profil dans </h2>
          <h2> <b>{{ timer }}</b> <span class="mr-2">s</span></h2>
      </div>
    </div>
</template>
<script>
  export default {
    name : 'SuccessActivation',
    data : function(){
      return {
        timer : 5
      }
    },
    mounted : function(){
      let that = this
      this.$store.dispatch('user/updateInfos')
      setInterval( function(){
          that.timer--  
          if( that.timer == 1){
            clearInterval()
            that.$router.push('/user/organization/profil')
          }
      }, 1000)
 
    }
  }
</script>