<!--
 * @ Author: DADAY Andry
 * @ Create Time: 2021-12-16 17:45:27
 * @ Modified by: DADAY Andry
 * @ Modified time: 2021-12-20 21:50:24
 * @ Description:
 -->
<template>
    <div class="el-duplicated--container el-custom-table interest-area px-4">
        <div class="el-table--head row">
            <div class="col-4 el-table-head--label"> Titre </div>
            <div class="col-4 el-table-head--label"> Description </div>
            <div class="col-4 el-table-head--label"> Commentaire </div>
        </div>
        <div class="el-table--body">
            <div class="row el-table--row">
                <div class="col-4 el-table--td">
                    <el-input type="text"  placeholder="Titre" v-model="model.title" />
                </div>
                
                <div class="col-4 el-table--td pr-4">
                    <el-input type="text"  placeholder="Description" v-model="model.comment" />
                </div>
                
            </div>
        </div>
        <template>
            <div class="form-item--controls">
                <button @click.prevent="">
                    <span class="fa fa-plus mr-2"></span>
                    <span>Ajouter un centre d'intérêt</span>
                </button>
            </div>
        </template>
    </div>
</template>

<script>

export default {
    name: 'WidgetItemQualification',
    
    props: {
        element: {
            require: true
        }
    },

    data: function(){
        return {
            model : false,
        }
    },

}
</script>
<style scoped lang="scss" src="@/components/vue-form-making/styles/el-duplicated.scss"></style>
<style lang="scss">
    .el-custom-table{
        &.interest-area{
            .el-table--row {
                border: solid 1px #D3D3D3;
                align-items: center;
        
                .el-table--td {
                    padding: 10px;

                    &:not(:first-child){
                        border-left: solid 1px #D3D3D3;
                    }
                    
                    input,select, 
                    .vs__dropdown-toggle{
                        border:unset!important;
                    }

                }
            }
        }
    }
    

</style>