<template>
  <div class="dashboard-header--content">
        <div>  
            <div class="organizatoin--name">
                <label>{{ profil.name }}</label>
            </div>
            <div class="dashboard--title">
                <h2>{{ $t('organization.dashboard.today_stat') }}</h2>
                <h6>{{ formatDateRender(new Date(), local , true) }} </h6>
            </div>
        </div>

        <div class="maps-prev" @click="openMapsModal">
            <div class="maps-prev-content">
                <p>{{ $t('scholarship.see_map') }}</p>
            </div>
        </div>
        
        <ScholarshipMapsModal v-if="showMapsModal" @close="closeMapsModal" />
  </div>
</template>

<script>
    import ScholarshipMapsModal from "@/view/scholarship/maps/ScholarshipMapsModal.vue"
    export default {
        name: 'DashboardHeader',
        components: {
            ScholarshipMapsModal
        },
        data: function(){
            return {
                showMapsModal: false,
            }
        },
        methods: {
            openMapsModal(){
                this.showMapsModal = true
            },
            closeMapsModal(){
                this.showMapsModal = false
            }
        }

    }
</script>

<style scoped>
    .dashboard-header--content {
        display: flex;
        justify-content: space-between;
    }
    .maps-prev {
        border: solid 2px #D0CEDA;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #E3E2E966;
        position: relative;
        cursor: pointer;
    }
    .maps-prev:before{
        content: "";
        background-image: url("~@/assets/img/maps_prev.png");
        background-size: contain;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.5;
    }
    .maps-prev-content:before {
        content: "";
        position: relative;
        background: url("~@/assets/img/icon_maps_orgs.svg");
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        left: -22px;
        top: 20%;
        width: 50px;
        height: 70px;
    }
    .maps-prev-content {
        z-index: 8;
    }
    .maps-prev p {
        margin: 1rem 4rem;
        text-align: center;
        letter-spacing: 0px;
        color: #3C3850;
        font-size: 1.6rem;
        font-size: 25px;
        max-width: 150px;
        font-family: 'NunitoSans-ExtraBold' !important;
        line-height: 2rem;
    }
  .organizatoin--name label {
      letter-spacing: 0px;
      color: #1F4171 !important;
      opacity: 1;
      margin-bottom: 1.5rem;
  }
  .dashboard--title {
      text-align: left;
      color: #6196FF;
      opacity: 1;
  }
  .dashboard--title h2{
      font-size: 2rem;
      font-family: "NunitoSans-Bold";
  }

    /*** responsive */
    @media (max-width:1500px) {
        .maps-prev p{
            margin: 1rem 3rem;
            font-size: 1.4rem;
            max-width: 8rem;
            line-height: 1.8rem;
        }
        .maps-prev-content:before {
            top: 23%;
            width: 50px;
            height: 60px;
        }
    }

  @media (max-width:1280px) {
    .maps-prev{
        margin-top: auto;
        margin-bottom: auto;
    }
    .maps-prev-content:before {
        left: -10px;
        top: 25%;
        width: 20px;
        height: 40px;
    }
    .dashboard--title h2 {
            font-size: 1.5rem;
    }
    .maps-prev p{
        margin: 1rem 1rem;
        font-size: 15px;
        line-height: 1.5rem;
    }
  } 

    @media (max-width:720px) {
        .dashboard-header--content{
            flex-direction: column;
        }
        .dashboard--title h2{
            font-size: 1.2rem;
            font-family: "NunitoSans-SemiBold";
        }
        .organizatoin--name{
            display: none;
        }

        .maps-prev {
            position: absolute !important;
            top: 4.5rem;
            right: 2.5rem;
            border: 1px solid #D0CEDA !important;
            border-radius: 25px !important;
            background: white;
        }

        .maps-prev-content p {
            display: none;
        }

        .maps-prev-content {
            min-width: 90px;
            height: 35px;
            background: unset !important;
        }

        .maps-prev::before {
            content: unset !important;
        }

        .maps-prev-content::after {
            content: "Map";
            position: absolute;
            display: block;
            top: 10%;
            left: 35px;
            letter-spacing: 0px;
            color: #3C3850;
            font-family: 'NunitoSans-SemiBold';
            font-size: 1.1rem;
        }
        .maps-prev-content:before {
            left: 18px;
            top: 23%;
            width: 15px;
            height: 15px;
        }
    }

</style>