<template>
     <Modal name="export" size="lg"> 
            <div slot="header" class="w-100">
                <a class="close" href="#" @click="$emit('close')"> X </a>
                <div class="title text-center mt-4r"> 
                    <h3 class="title blue pt-3 ">{{ $t('organization.exportModal.export_as_pdf') }}</h3>
                </div>
            </div>
            <div slot="body" class="adjust">
                <input type="checkbox" id="full_selected" v-model="selectedAll">
                <label for="full_selected" class="semi-bold">{{ $t('organization.exportModal.all_selected') }}</label>
                <hr>
                
                <div class="scholarship_section">
                    <h6 class="my-4">{{ $t('organization.exportModal.what_schol') }}</h6>
                    <div class="row">
                        <div class="col-lg-6 col-xl-4">
                            <input type="radio" id="all_sch" :value="scholarships" v-model="params.selectedScholarships" >
                            <label for="all_sch">{{ $t('word.all') }}</label>
                        </div>
                        <div class="col-lg-6 col-xl-4" v-for="scholarship, index in scholarships" :key="'scholaship-choice-'+index">
                            <input type="radio" :id="`scholarship-choice${index}`" :value="[scholarship]" v-model="params.selectedScholarships" >
                            <label :for="`scholarship-choice${index}`">
                                {{ scholarship.name }}
                            </label>
                        </div>
                    </div>
                    
                </div>
                <hr>
                <div class="scholarship_section">
                    <h6 class="my-4">{{ $t('organization.exportModal.periode') }}</h6>
                    <div class="row">
                        <div class="col-4">
                            <input type="radio"  id="shc_day"  value="days" v-model="params.period">
                            <label for="sch_day">{{ $t('word.day') }}</label>
                        </div>
                        <div class="col-4">
                            <input type="radio"  id="sch_month" value="months" v-model="params.period">
                            <label for="sch_month">{{ $t('word.month') }}</label>
                        </div>
                        <div class="col-4">
                            <input type="radio"  id="sch_years" value="years" v-model="params.period">
                            <label for="sch_years">{{ $t('word.year') }}</label>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="scholarship_section mb-3">
                    <h6 class="my-4">{{ $t('organization.exportModal.nb_view') }}</h6>
                    <div class="row">
                        <div class="col-4">
                            <input type="radio"  id="global_nbvw"  value="global" v-model="params.criteria">
                            <label for="global_nbvw">{{ $t('organization.exportModal.global') }}</label>
                        </div>
                        <div class="col-8">
                            <input type="radio"  id="followers_nbvw"  value="interested" v-model="params.criteria">
                            <label for="followers_nbvw">{{ $t('organization.exportModal.label_followers') }}</label>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="d-flex justify-content-center mt-4">
                    <DefaultButton className="style1 submit-export-btn" :text="$t('word.validate')" @click.native="validate"></DefaultButton>
                </div>
            </div>
        </Modal>
</template>
<script>
    export default {
        name:'ExportModal',
        props: {
            scholarships: {
                default: []
            }
        },
        data:function(){
            return {
                params : {
                    selectedScholarships : [],
                    period               : false,
                    criteria             : "global"
                },

                allParams          : {
                    selectedScholarships : this.scholarships,
                    period               : "years",
                    criteria             : "global"
                },
                selectedAll : false
            }
        },
        methods: {
            validate: function(){
                if(!this.params.selectedScholarships.length){
                    this.dispatchError("Veillez selectionnez au moins une bourse")
                    return false
                }

                if(!this.params.period){
                    this.dispatchError("Veillez selectionnez au moins une periode")
                    return false
                }

                this.$router.push({"name": "organization_stat_preview", params: this.params })
            }
        },
        watch: {
            selectedAll: {
                handler: function(all){
                    if(all){
                        this.params = {...this.allParams}
                    }
                }
            },
            params: {
                deep: true,
                handler: function(a){
                    let b = this.allParams

                    this.selectedAll =  a.selectedScholarships.length == b.selectedScholarships.length && 
                                        a.criteria.length             == b.criteria.length             &&
                                        a.period.length               == b.period.length
                }
            }
        },
        mounted: function(){
            window.scrollTo(0, 0)
        }
    }
</script>
<style scoped>
    .blue{
        color:#6196FF !important;
        font-family: 'NunitoSans-Bold';
    }
    .label,h6{
        font-family: 'NunitoSans-Regular';
    }
    label{
        margin-left: .5rem;
    }
    .adjust{
        margin: 0 auto;
    }
    .semi-bold{
        font-family: 'NunitoSans-SemiBold';
    }  
    @media(min-width:1440px){
        label{
            font-size: 18px;
        }
        .adjust{
            margin-top: 4rem;
            width: 75%;
        }
        h6{
            font-size: 21px;
        }
        .blue{
            font-size: 25px;
        }
        .mt-4r{
            margin-top: 4rem;
        }
        .semi-bold{
            font-size: 18px;
        }
    }
    @media(max-width:1368px) {
        label{
            font-size: 14px;
        }
        .adjust{
            margin-top: 2rem;
            width: 80%;
        }
        h6{
            font-size: 18px;
        }
        .blue{
            font-size: 21px;
        }
        .mt-4r{
            margin-top: 3rem;
        }
        .semi-bold{
            font-size: 16px;
        }
    }
    @media(max-width:760px){
        .submit-export-btn{
            width: 90% !important;
        }

        #export {
            margin-top: -5.5rem;
        }
    }

</style>
<style>
    @media(max-width:760px){
        #export .modal-container {
          padding-bottom: 2rem !important;
        }
    }
    @media(max-width:1024px){
        #export .modal-container {
            max-width:100% !important;
        }
        #export label{
            font-size: 12px !important;
        }
        #export .adjust{
            margin-top: 1rem !important;
            width: 85%;
        }
        #export h6{
            font-size: 14px !important;
        }
        #export .blue{
            font-size: 18px;
        }
        #export .mt-4r{
            margin-top: 1.5rem;
        }
        #export .semi-bold{
            font-size: 16px;
        }
    }
</style>
