<template>
    <div class="dashboard-stat--student-discipline">
        <div class="stat-title">
            <p> Répartitions par disciplines</p>
        </div>
        <div class="printable">
            <div class="stat-container">
                <apexchart class="polar-area--container" type="polarArea" :options="chartOptions" :series="series.data" ref="realtimeChart" />
                <div class="custom-legende">
                    <div class="legende-item" v-for="item, index in series.labels" :key="'legende'+index" :style="'transform:rotate('+getPosition(index)+'deg)'" >
                        <label class="legende-item--text" :class="(getPosition(index) > 90 && 180 >= getPosition(index) ) ? 'renversed': ''"> {{ item }}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import VueApexCharts from 'vue-apexcharts'
    import ScholarshipService from '@/services/scholarship/ScholarshipService'

    export default {
        name: "StudentDisciplineStat",
        components: {
            apexchart: VueApexCharts
        },
        props: {
            scholarship : {
                default: false
            },
            selectedScholarships: {
                default: false
            },
            period: {
                default: false
            }
        },
        data: function(){
            return {
                series: {
                    data   : [0],
                    labels : [0]
                },
                chartOptions: {
                    chart: {
                        type: 'polarArea',
                        
                    },
                    yaxis: {
                        show: false
                    },
                    legend: {
                        show: false
                    },
                    stroke: {
                        colors: ['#fff']
                    },
                    fill: {
                        opacity: 0.8
                    },
                    /*
                    responsive: [{
                        breakpoint: 480,
                        options: {
                            chart: {
                               width: 200
                            },
                            
                        }
                    }]
                    */
                },
            }
        },
        computed: {
            diff(){
                return Math.round( 360 / this.series.labels.length)
            }
        },
        methods:{
            updateSerieData: function(){
                let that = this
                let scholarships = this.selectedScholarships ? this.selectedScholarships : [this.scholarship.id]
                ScholarshipService.getRangeDisciplineStat({scholarship: scholarships, period: that.period}).then(
                    (response)=>{
                        let array = response.data.stat

                        that.series = {
                            data:   [],
                            labels: []
                        }

                        for (let index = 0; index < array.length; index++) {
                            const element = array[index]
                            let label     = that.$t(`discipline.category.${element.discipline}`)

                            that.series.data        = [...that.series.data, parseInt(element.count)]
                            that.series.labels      = [...that.series.labels, label.toLowerCase()]
                        }
                        
                    }
                )
            },
            getPosition: function(index){
                return 90 + (this.diff * (index)) + (this.diff/2)
            }
        },
        watch: {
            scholarship: {
                handler: function(){
                    this.updateSerieData()
                }
            }
        }
    }
</script>

<style scoped>
    /*** to avoid container scrool  */
    .dashboard-stat--student-discipline {
        padding-bottom: 10rem;
        overflow: hidden;
    }
    .stat-container{
        margin-top: 10rem;
    }

    .custom-legende {
        position: absolute;
        width: 60%;
        height: 60%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    .custom-legende .legende-item {
        width: 100%;
        height: 100%;
        position: absolute;
        align-items: center;
        display: flex;
    }

    .legende-item--text.renversed {
        transform: rotate(-180deg);
        text-align: left;
    }

    .legende-item--text {
        text-transform: capitalize;
        font-size: 12px;
        width: 200px;
        margin-left: -180px;
        text-align: right;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis; 
        display: inline-block;
    }

    .polar-area--container{
        width: 70%;
        margin: auto;
    }

    @media (max-width:1500px) {
        .legende-item--text{
            font-size: 10px;
            width: 140px;
            margin-left: -120px;
        }
    }

    @media (max-width:768px) {
        .stat-container{
            margin-top: 6rem;
            margin-top: 2rem;
        }

        .legende-item--text {
            width: 150px;
            margin-left: -140px; 
        }

        .dashboard-stat--student-discipline{
            padding-bottom: 6rem;
        }
        
    }

    @media (max-width:415px) {
        .legende-item--text{
            width: 100px;
            margin-left: -100px;
        }
        .polar-area--container {
            width: 90%;
        }
        .stat-container{
            margin-top: 4rem;
        }
        
    }
</style>