<template>
    <div class="dashboard-stat--student-level">
        <div class="stat-title">
            <p> {{ $t("organization.dashboard.level_title") }} </p>
        </div>
        <div class="stat-container">
            <SemicircularChart :data="data">
                <div slot="legende">
                    <p class="legende-blod">
                    <span class="value"> 300 </span> {{ $t("word.students") }}
                    </p>
                    <p class="legende-small"> {{ $t("organization.dashboard.level_legende") }} 
                        <span class="label">Licence</span>
                    </p>
                </div>
            </SemicircularChart>
        </div>
    </div>
</template>

<script>
    import SemicircularChart from "@/components/Charts/SemicircularChart.vue"
    import ScholarshipService from '@/services/scholarship/ScholarshipService'

    export default {
        name: "StudentLevelStat",
        components: {
            SemicircularChart
        },
        props: {
            scholarship : {
                default: false
            },
            selectedScholarships: {
                default: false
            },
            period: {
                default : false
            }
        },
        data: function(){
            return {
                data : []

            }
        },
        methods:{
            updateSerieData: function(){
                let that = this
                let scholarships = this.selectedScholarships ? this.selectedScholarships : [this.scholarship.id]
                ScholarshipService.getRangeLevelStat({scholarship: scholarships, period: that.period}).then(
                    (response)=>{
                        let array = response.data.stat
                        that.data = []
                        for (let index = 0; index < array.length; index++) {
                            const element = array[index];
                            let   item    = {
                                value: element.count,
                                label: that.$t(`student.level.${element.level}`)
                            }
                            that.data = [...that.data , item]
                        }
                    }
                )
            }
        },
        watch: {
            scholarship: {
                handler: function(){
                    this.updateSerieData()
                }
            }
        }
    }
</script>

<style scoped>


</style>