<template>
    <div class="dashboard-stat--student-sexe">
        <div class="stat-title">
            <p> Répartition hommes / Femmes </p>
        </div>
        <div class="stat-container">
            <SemiDonutChart :data="data" />
        </div>
    </div>
</template>

<script>
    import SemiDonutChart from "@/components/Charts/SemiDonutChart.vue"
    import ScholarshipService from '@/services/scholarship/ScholarshipService'

    export default {
        name: "StudentSexeStat",
        components: {
            SemiDonutChart
        },
        props:{
            scholarship: {
                default: false
            },
            selectedScholarships: {
                default: false
            },
            period: {
                default : false
            }
        },

        data: function(){
            return {
                data : [0,0,0]
            }
        },
        methods:{
            updateSerieData: function(){
                let that = this
                let scholarships = this.selectedScholarships ? this.selectedScholarships : [this.scholarship.id]
                ScholarshipService.getRangeSexeStat({scholarship: scholarships, period: that.period }).then(
                    (response)=>{
                        let array = response.data.stat
                        that.data = that.getSerieData(array)
                    }
                )
            },
            getSerieData(array){
                let serieData = {
                    man        : 0,
                    transgenre  : 0,
                    woman      : 0
                }
                for (let index = 0; index < array.length; index++) {
                    const element = array[index];
                    let key = element.sexe
                    serieData[key] = parseInt(element.count)
                }
                return Object.values(serieData)
            }
        },


        watch: {
            scholarship: {
                handler: function(){
                    this.updateSerieData()
                }
            }
        }
    }
</script>

<style scoped>
    .dashboard-stat--student-sexe {
        height: 95%;
    }
    .stat-container{
        height: inherit;
        min-width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>