<template>
    <div class="dashboard-stat--student-age">
        <div class="stat-title">
            <p> {{ $t("organization.dashboard.age_title") }} </p>
        </div>
        <div class="stat-container">
            <SemicircularChart :data="data">
                <div slot="legende">
                    <p class="legende-blod">
                        <span class="value"> 30% </span> {{ $t("organization.dashboard.age_legende1") }}
                    </p>
                    <p class="legende-small">{{ $t("organization.dashboard.age_legende2") }}
                        <span class="label"> 20 et 25 </span>
                    </p>
                </div>
            </SemicircularChart>
        </div>
    </div>
</template>

<script>
    import SemicircularChart from "@/components/Charts/SemicircularChart.vue"
    import ScholarshipService from '@/services/scholarship/ScholarshipService'
    export default {
        name: "StudentAgeStat",
        components: {
            SemicircularChart
        },
        props: {
            scholarship : {
                default: false
            },
            selectedScholarships: {
                default: false
            },
            period: {
                default : false
            }
        },
        data: function(){
            return {
                data : []
            }
        },
        methods:{
            updateSerieData: function(){
                let that = this
                let scholarships = this.selectedScholarships ? this.selectedScholarships : [this.scholarship.id]
                ScholarshipService.getRangeAgeStat({scholarship: scholarships, period: that.period}).then(
                    (response)=>{
                        let stat = response.data.stat
                        that.data = []

                        for (const [key, value] of Object.entries(stat)) {
                            let   item    = {
                                value: value,
                                label: `${key} ${that.$t('word.years')}`
                            }
                            that.data = [...that.data , item]
                        }
                    }
                )
            }
        },
        watch: {
            scholarship: {
                handler: function(){
                    this.updateSerieData()
                }
            }
        }
    }
</script>

<style scoped>
    .dashboard-stat--student-age{
        padding-top: 5rem;
        padding-bottom: 2rem;
        height: 100%;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .stat-container{
        position: relative;
    }


     @media(max-width:768px) {
        .dashboard-stat--student-age{
            padding-top: unset;
            padding-bottom: unset;
        }
     }
</style>