<template>
    <div class="dashboard-stat--student-application">
        <div class="stat-title" id="auto-focus-label">
            <p> Taux de validation et de transformation </p>
        </div>
        <div class="stat-container" v-if="fetch">
            <div class="row">
                <div class="col-6">
                     <CircleProgress                  
                        :progress="75"
                        color="#6196FF">
                        <div slot="legend-value">
                            <p class="title">Taux <br>d'acceptation</p>
                            <p class="value">75%</p>
                            <p class="desc">des candidatures <br> ont été acceptées</p>
                        </div>
                    </CircleProgress>
                </div>
                <div class="col-6">
                     <CircleProgress                
                        :progress="25"
                        color="#FF7667">
                        <div slot="legend-value">
                            <p class="title">Taux de <br> transformation</p>
                            <p class="value">25%</p>
                            <p class="desc">des visiteurs de votre bourse <br> vous envoie une candidature</p>
                        </div>
                    </CircleProgress>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import CircularProgressChart from "@/components/Charts/CircularProgress.vue"
    export default {
        name: "StudentApplicationRateStat",
        components: {
           CircleProgress : CircularProgressChart
        },
        data: function(){
            return {
                fetch : true
            }
        },
        methods: {
            reloadChartView: function(){
                console.log('refresh gra')
                this.fetch = false 
                setTimeout(() => {
                    this.fetch = true
                }, 100)
            },
            watchSidebar: function(){
                let sidebarToogler = document.querySelector('.app-sidebar__toggle')
                //let sidebar        = document.querySelector('.sidebar')
                let that = this
                sidebarToogler.addEventListener('click', function(){
                    that.reloadChartView()
                })
                
            }
        },

        mounted: function(){
            this.watchSidebar()

            let that  = this
            window.addEventListener('resize', function(){
                that.reloadChartView()
            })
        }
    }
</script>

<style>
    .elipse-legend-custom-style {
        margin-top: 3rem;
    }
    .elipse-legend-custom-style p {
        margin: 0;
    }
    .elipse-legend-custom-style .title {
        letter-spacing: 0px;
        color: #D0CEDA;
        font-size: 15px;
        width: 60%;
        margin: auto;
    }
    .elipse-legend-custom-style .ep-legend--value__counter{
        display: none;
    }

    .elipse-legend-custom-style .value {
        text-align: center;
        letter-spacing: 0px;
        color: #3C3850;
        font-size: 2rem;
    }
    .elipse-legend-custom-style .desc {
        text-align: center;
        letter-spacing: 0px;
        color: #3C3850;
        font-size: 13px;
    }
</style>
<style scoped>
    .stat-container{
        max-width: 75%;
        margin: auto;
    }
    .dashboard-stat--student-application{
        margin-top: 5rem;
    }

    /*** until v3 (next roadmap )*/
    .dashboard-stat--student-application {
        filter: grayscale(1);
    }


    @media (max-width:1500px) {
        .stat-container{
            max-width: 90%;
        }
    }

    @media (max-width:1300px) {
        .stat-container{
            max-width: 100%;
        }
    }

    @media (max-width:1024px) {
        .stat-container{
            max-width: 100%;
        }
    }

    

     @media(max-width:768px) {
        .dashboard-stat--student-application{
            margin-top: unset;
        }
     }
</style>
<style>
    @media (max-width:1300px) {
        .dashboard-stat--student-application .custom-legende{
            bottom: 4rem;
        }
        .dashboard-stat--student-application .custom-legende .value{
            font-size: 1.2rem !important;
        }
        .dashboard-stat--student-application .custom-legende .desc{
            font-size: 10px !important;
        }
        .dashboard-stat--student-application .custom-legende .title{
            font-size: 12px !important;
        }
    }
</style>