<template>
    <div class="dashboard-stat--student-connexion">
        <div class="stat-title">
            <p> {{ $t("organization.dashboard.last_connexions") }} </p>
        </div>
        <div class="stat-container">
           <div class="stat-container-header">
                <h5 class="scholarship-name">{{  scholarship.name }}</h5>
                <div class="stat-controls">
                    <button class="item-prev"  v-bind:disabled="currentPage == 1"    @click="prevStories($event)"></button>
                    <button class="item-next"  v-bind:disabled="maxPages    == currentPage "  @click="nextStories($event)"></button>
                </div>
           </div>
            <div class="student-list">
                <div class="list-item row" v-for="(item, index) in displayStories" :key="'student-'+index">
                    <div class="item-avatar col-2">
                        <Avatar :image="getAvatar(item.avatar)" class="student-avatar--wrapper"/>
                    </div>
                    <div class="item-name col-5">
                        <span class="text">{{ getFullName(item) }}</span>
                        <span class="fa fa-heart" v-if="item.favoris"> </span>
                    </div>
                    <div class="item-action col-3">
                        <span v-if="item.action"> {{ item.action }} </span>
                    </div>
                    <div class="item-date col-2">{{ getStoryDate(item.date) }}</div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import ScholarshipService from '@/services/scholarship/ScholarshipService'
    import moment from 'moment'

    export default {
        name: "StudentConnexionStat",
        props: {
            scholarship : {
                default: false
            }
        },

        components: {
            
        },
        data: function(){
            return {
               defaultAvatar: require("@/assets/img/avatar.png").default,
               selectedScholarship : {},
               currentPage  : 1,
               stories : []
            }
        },
        computed: {
            maxPages: function(){
                return Math.round(this.stories.length / 8)
            },
            displayStories: function(){
                let array = [...this.stories]
                let start = ( this.currentPage - 1 ) * 8
                return array.slice(start, start + 8)
                
            }
        },
        methods:{
            updateStories: function(){
                let that = this
                let params = {
                    scholarship : that.scholarship.id,
                    page        : that.currentPage
                }
                ScholarshipService.getScholarshipStory(params).then(
                    (response)=>{
                        that.stories = response.data.story  
                    }
                )
            },

            nextStories(){
                if(this.currentPage == this.maxPages)
                    return 
                
                this.currentPage += 1
            },

            prevStories(){
                if(this.currentPage == 1){
                    return false
                }
                this.currentPage -= 1
            },

            getAvatar(fileName){
                if(!fileName)
                    return this.defaultAvatar

                return `/uploads/avatar/${fileName}`
            },

            getFullName(item){
                return `${item.firstname} ${item.lastname}`
            },

            getStoryDate(dte){
                let today = moment().format("Y-MM-D")

                if(today == moment(dte).format("Y-MM-D")){
                    return moment(dte).format("H[h]m")
                }
                /*** formatDateRender is a DateHelper function */
                dte = this.formatDateRender(dte, this.local, true)

                return dte.replace(moment().format("Y"), "")
            },

            
        },

        watch: {
            scholarship: {
                handler: function(){
                    this.updateStories()
                }
            }
        }
    }
</script>

<style scoped>
    .stat-controls button{
        width: 40px;
        height: 20px;
        border: none;
    }
    .item-prev{
        background: url("~@/assets/img/icon_arrow_left_faded.svg");
        background-repeat: no-repeat;
    }
    .item-next{
        background: url("~@/assets/img/icon_arrow_right.svg");
        background-repeat: no-repeat;
        margin-left: 1rem;
    }

    .stat-container-header {
        display: flex;
        justify-content: space-between;
        padding: 2rem;
    }
    .scholarship-name{
        text-align: left;
        letter-spacing: 0px;
        color: #1F4171;
        opacity: 1;
    }

    .student-list {
        padding: 0 3rem;
    }
    .student-list .list-item {
        align-items: center;
        margin-bottom: 1.5rem;
    }
    
    .item-name span.text {
        letter-spacing: 0px;
        color: #3C3850;
        opacity: 1;
        font-family: 'NunitoSans-SemiBold';
    }
    .item-name span.fa.fa-heart {
        color: #D0CEDA;
        margin-left: 10px;
        font-size: 15px;
    }
    .item-action,
    .item-date {
        color: #D0CEDA;
        opacity: 1;
        font-family: 'NunitoSans-Bold';
    }

    @media(max-width:1500px) {
        .stat-controls button{
            width: 25px;
            background-size: contain;
        }
        .stat-controls button.item-next  {
            margin-left: 5px;
        }
        .student-list{
            padding: 0;
            margin-left: 5px;
            font-size: 14px;
            margin-top: 5px;
        }
        .item-avatar.col-2 img{
            max-width: 35px;
            border-radius: 50%;
        }
        .student-list .item-name,
        .student-list .item-action,
        .student-list .item-date
         {
            padding: unset;
        } 
        .student-avatar--wrapper{
            max-width: 35px !important;
            max-height: 35px !important;
            min-width: 35px !important;
            min-height: 35px !important;
        }
        .stat-container-header {
            padding: 1rem 0;
        }
    }
    @media(max-width:720px) {
        .stat-container-header{
            padding: 0;
            margin-left: 5px;
        }

        .scholarship-name{
            font-size: 15px !important;
        }
        
        .student-list{
            font-size: 12px;
        }

        
    }
</style>