{{ form_start(form) }}
    <div class="tile p-5">
        <div class="tile-body">
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="control-label">Nom</label>
                        {{ form_widget(form.name, {'attr':{'class':'form-control'}}) }}
                    </div>
                    
                    <div class="form-group">
                        <label class="control-label">Pays</label>
                        {{ form_widget(form.country, {'attr':{'class':'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        <label class="control-label">Ce qu'il en pense</label>
                        {{ form_widget(form.content, {'attr':{'class':'form-control', 'maxlenght': 280}}) }}
                        <p class="w-100 text-right"><small>max : 280</small></p>
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <label class="form-check-label">
                                {{ form_widget(form.published, {'attr':{'class':'form-check-input'}}) }}
                                Publier maintenant
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="form-group">
                        <label class="control-label">Vignette</label>
                        <div class="input-file-wrapper">
                            {% set isRequired =  form.vars.value.thumbnail ? false : true  %}
                            {{ form_widget(form.thumbnail, {'attr':{'class':'form-control thumbnail-input-file', 'required':isRequired }}) }}
                            <span class="legende" id="legende-file">{% trans %}Merci de fournir un image de taille 250 x 250px au minimum{% endtrans %}</span>
                            <input type="hidden" name="thumbnail64" value="" id="thumbnail64">
                        </div>
                        <div class="thumbnail-preview {{ form.vars.value.thumbnail ? '':'d-none'  }}">
                            <div class="thumbnail-preview__image">
                                <img src="/uploads/avatar/{{ form.vars.value.thumbnail }}">    
                            </div>
                            <div  class="thumbnail-preview__btn">
                                <button >{% trans %}Modifier{% endtrans %} </button>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="tile-footer">
            <button class="btn btn-primary" type="submit"><i class="fa fa-fw fa-lg fa-check-circle"></i>{{ button_label|default('Save') }}</button>
            &nbsp;&nbsp;&nbsp;
            <a class="btn btn-secondary" href="{{ path('admin_organization_testimonial_index') }}"><i class="fa fa-fw fa-lg fa-times-circle"></i>{% trans %}Cancel{% endtrans %}</a>
        </div>
    </div>
{{ form_end(form) }}
{% include "admin/components/modal_cropper.html.twig" %}
