{% extends 'admin/base.html.twig' %}

{% block title %}Edit organizationTestimonial{% endblock %}
{% block actions %}
    <a class="btn btn-primary" href="{{ path('admin_organization_testimonial_index') }}">{% trans %}Retour{% endtrans %}</a>
    {{ include('admin/testimonial/organization_testimonial/_delete_form.html.twig') }}
{% endblock %}
{% block body %}
    {{ include('admin/testimonial/organization_testimonial/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app_admin_testimonial') }}
{% endblock %}
