{% extends 'admin/base.html.twig' %}

{% block title %}{% trans %} Ce qu'ils en pensent{% endtrans %} {% endblock %}
{% block actions %}
     <a class="btn btn-primary" href="{{ path('admin_organization_testimonial_new') }}">Create new</a>
{% endblock %}
{% block body %}
    <div class="navigation mb-4">
        {% include "admin/testimonial/_navigation.html.twig" %}
    </div>
    <div class="tile p-5">
        <div class="tile-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Pays</th>
                        <th>Publié</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for organization_testimonial in organization_testimonials %}
                    <tr>
                        <td>{{ organization_testimonial.id }}</td>
                        <td>{{ organization_testimonial.name }}</td>
                        <td>{{ organization_testimonial.country }}</td>
                        <td>{{ organization_testimonial.published ? 'Oui' : 'Non' }}</td>
                        <td>
                            <a href="{{ path('admin_organization_testimonial_show', {'id': organization_testimonial.id}) }}">show</a>
                            <a href="{{ path('admin_organization_testimonial_edit', {'id': organization_testimonial.id}) }}">edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="9">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
