{% extends 'admin/base.html.twig' %}

{% block title %}organizationTestimonial{% endblock %}
{% block actions %}
    <a class="btn btn-primary" href="{{ path('admin_organization_testimonial_index') }}">{% trans %}Retour{% endtrans %}</a>
    <a class="btn btn-primary" href="{{ path('admin_organization_testimonial_edit', {'id': organization_testimonial.id}) }}">Modifier</a>
    {{ include('admin/testimonial/organization_testimonial/_delete_form.html.twig') }}
{% endblock %}
{% block body %}
    <div class="tile p-5">
        <div class="tile-body">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ organization_testimonial.id }}</td>
                    </tr>
                    <tr>
                        <th>Published</th>
                        <td>{{ organization_testimonial.published ? 'Yes' : 'No' }}</td>
                    </tr>
                    <tr>
                        <th>Content</th>
                        <td>{{ organization_testimonial.content }}</td>
                    </tr>
                    <tr>
                        <th>Thumbnail</th>
                        <td>{{ organization_testimonial.thumbnail }}</td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td>{{ organization_testimonial.name }}</td>
                    </tr>
                    
                    <tr>
                        <th>Country</th>
                        <td>{{ organization_testimonial.country }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
