

{% extends "admin/base.html.twig" %}
{% block title %}{% trans %}Site preferences{% endtrans %} {% endblock %}
{% block body %}

    {% set tab = tab|default('settings-admin') %}
    <div class="row user">
        <div class="col-md-3">
          <div class="tile p-0">
            <ul class="nav flex-column nav-tabs user-tabs">
              <li class="nav-item">
                <a class="nav-link {{ tab == 'settings-admin' ? 'active' : ''  }}" href="#settings-admin" data-toggle="tab">{% trans %}Admnistration{% endtrans %}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {{ tab == 'user-account' ? 'active' : ''  }}" href="#user-account" data-toggle="tab">{% trans %}Mon compte{% endtrans %}</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-9">
          <div class="tab-content">
            <div class="tab-pane {{ tab == 'settings-admin' ? 'active' : 'fade'  }}" id="settings-admin">
               {% include "admin/settings/admins/index.html.twig" %}
            </div>
            
            <div class="tab-pane {{ tab == 'user-account' ? 'active' : 'fade'  }}" id="user-account">
               {% include "admin/settings/account/index.html.twig" %}
            </div>
          </div>
        </div>
      </div>
{% endblock %}