<template>
  <div class="contry-item" >
      <div class="ribbon">
        <span class="ribbon2">{{ index }}</span>
            <div class="column">
                    <div v-if="stat" class="row w-100">
                        <div class="img_contry-wrapper col-md-4 col-6"> 
                            <img  class="img_contry" :src="stat.symbol ? '/uploads/avatar/'+stat.symbol : image.usa" alt="Jane">
                        </div>
                        <div class="contry--desc-wrapper col-md-8 col-6">
                                <div class="name_contry_container">
                                    <p class="name_contry">{{ $t("country."+country.id) }}</p>
                                </div>
                                <div class="info_contry row">
                                    <div class="info_contry_item col-md-6 col-6">
                                        <p class="info_contry_title">{{ $t('student.dashboard.available_scholarship_mobile') }}</p>
                                        <div class="bloc_info_contry_value active">
                                        <span>
                                            <img :src="image.bourse">
                                        </span>
                                        <span class="info_contry_value">{{ stat.scholarshipCount ? stat.scholarshipCount : '00'  }}</span>
                                        </div>
                                    </div>
                                    <div class="info_contry_item col-md-6 col-6">
                                        <p class="info_contry_title auto-break"><span v-html="$t('student.dashboard.global_amount')"></span> </p>
                                        <div class="bloc_info_contry_value"> 
                                        <span class="info_contry_value">{{ stat.scholarshipAmount ? kmgFormat(stat.scholarshipAmount) : '00'  }} $</span>
                                        </div>
                                    </div>
                                </div>

                                <!--div class="info_contry row">
                                    <div class="info_contry_item col-md-6 col-6">
                                        <p class="info_contry_title">Nombre</p>
                                        <div class="bloc_info_contry_value">
                                            <span><img :src="image.etudiant"></span>
                                            <span class="info_contry_value">53</span>
                                        </div>
                                    </div>
                                     <div class="info_contry_item col-md-6 col-6 no-padding">
                                        <p class="info_contry_title">Nombre de formation</p>
                                        <div class="bloc_info_contry_value">
                                            <span><img :src="image.etudiant"></span>
                                            <span class="info_contry_value">21</span>
                                        </div>
                                    </div>
                                </div-->

                                <div class="info_contry row">
                                    <div class="info_contry_item col-md-6 col-6">
                                        <p class="info_contry_title">{{ $t('student.dashboard.students') }}</p>
                                        <div class="bloc_info_contry_value">
                                            <span><img :src="image.etudiant"></span>
                                            <span class="info_contry_value">{{ stat.students.count }}</span>
                                        </div>
                                    </div>
                                     <!--div class="info_contry_item col-md-6 col-6">
                                        <p class="info_contry_title">{{ $t('student.dashboard.students') }}</p>
                                        <div class="bloc_info_contry_value">
                                            <span><img :src="image.etudiant"></span>
                                            <span class="info_contry_value">6</span>
                                        </div>
                                    </div-->
                                </div>
                        </div>
                    </div>
            </div>
      </div>
  </div>
</template>
<script>
import CountryService from "@/services/common/CountryService.js"
import NumberHelpers from "@/services/helpers/NumberHelpers.js"
export default {
  name : "CountryItemMobile",
  data : function(){
    return {
      stat : false,
      image : {
        "nbFormation" :  require('@/assets/img/Nombre-Formations.svg').default,
        "etudiant" :  require('@/assets/img/Etudiants.svg').default,
        "usa" :  require('@/assets/img/etat-unis.jpg').default,
        "bourse" :  require('@/assets/img/Bourse-Disponible.svg').default,
        "grimpeurs" :  require('@/assets/img/Grimpeurs.svg').default
      }
    }
  },
  props:{
    country : {
      default : false
    },
    index : {
      default : 1
    }
  },
  methods : {
    ...NumberHelpers
  },
  mounted :function(){
    CountryService.getStat(this.country.id).then(
      (response) => {
          this.stat = response.data.stat
      }
    )
  } 
}
</script>
<style scoped>
@media (max-width:768px){
.no-padding{
    padding:0  !important;
}
.info_contry.row {
    padding: 8px 0;
    width: fit-content;
    max-width: 121%;
}
.info_contry.row:before {
    content: "";
    height: 1px;
    background: #E7E7E7;
    width: 600px;
    position: relative;
    top: -0.4rem;
    left: -4%;
}
.contry--desc-wrapper{
    margin: 0;
    padding: 5%;
}

.img_contry-wrapper{
    display: flex;
    margin-right: 0;
    padding-right: 0;
}
.img_contry-wrapper .img_contry {
    object-fit: cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    object-position: center;
}

span.info_contry_value {
    color: #3DC5B7;
    font-family: 'NunitoSans-SemiBold';
}
.info_contry_title span {
    white-space: normal !important;
}
p.info_contry_title {
    height: 26px;
    font-size: 9px;
    text-transform: uppercase;
}
.name_contry_container p.name_contry {
    text-align: center;
    font-family: 'NunitoSans-Bold' !important;
}
.ribbon {
    position: relative;
    margin-bottom: 30px;
    background-size: cover;
    border: 1px solid #dee2e6;
    border-radius: 15px;
    box-shadow: 0px 10px 5px -2px #dee2e6;
  }
.ribbon2 {
    width: 30px;
    position: absolute;
    top: 0px;
    left: 25px;
    text-align: center;
    border-top-left-radius: 3px;
    background: #1FAFA0;
    color: white;
    z-index: 7;
    font-size:22px;
    font-weight: bold;
}
.ribbon2:before, .ribbon2:after {
    content: "";
    position: absolute;
}
.ribbon2:after {
    height: 0;
    width: 0;
    bottom: -15px;
    left: 0;
    border-left: 15px solid #1FAFA0;
    border-right: 15px solid #1FAFA0;
    border-bottom: 15px solid transparent;
}
.bloc_info_contry_value.active,
p.info_contry_title , .bloc_info_contry_value{
    text-align: center !important;
}
}
@media (max-width: 375px){
p.info_contry_title{
    font-size: 7px;
}
.bloc_info_contry_value img {
    width: 15px;
}
span.info_contry_value{
    font-size: 10px;
}
p.info_contry_title {
    height: 18px;
}
}
@media (max-width:425px){
.info_contry.row:before {
    width: 300px;
    top: -0.4rem;
    left: 0%;
}
.info_contry.row{
    max-width: 132%;
    padding: 8px 0 4px !important;
}
}
@media (max-width:375px){
.info_contry.info_contry.row:before {
    max-width: 136%;
}
.info_contry.row:before {
    width: 420px;
}
}
@media (max-width:320px){
.info_contry.row{
    max-width: 140%;
}
.info_contry.row:before {
    width: 320px;
}   
}
</style>