<template>
  <div class="contry-item" >
    <div class="ribbon">
      <span class="ribbon2">{{ index }}</span>
      <div class="column">
        <div v-if="stat">
          <div class="img_contry-wrapper"> 
            <img  class="img_contry" :src="stat.symbol ? '/uploads/avatar/'+stat.symbol : image.usa" alt="Jane">
          </div>
          <p class="name_contry">{{ $t("country."+country.id) }}</p>
          <div class="info_contry">
              <div class="info_contry_item">
                <p class="info_contry_title">{{ $t('student.dashboard.available_scholarship') }}</p>
                <div class="bloc_info_contry_value active">
                  <span>
                    <img :src="image.bourse">
                  </span>
                  <span class="info_contry_value">{{ stat.scholarshipNb ? stat.scholarshipNb : '00'  }}</span>
                </div>
              </div>
              <div class="info_contry_item">
                <p class="info_contry_title" v-html="$t('student.dashboard.global_amount')"></p>
                <div class="bloc_info_contry_value"> 
                  <span class="info_contry_value">{{ stat.scholarshipAmountUnit ? kmgFormat(stat.scholarshipAmountUnit) : '00'  }} $</span>
                </div>
              </div>
          </div>
          <!--div class="info_contry">
              <div class="info_contry_item">
              <p class="info_contry_title">NOMBRE D'ETABLISSEMENT</p>
              <div class="bloc_info_contry_value">
                <span class="info_contry_value">00</span>
              </div>
            </div>
            <div class="info_contry_item">
            <p class="info_contry_title">NOMBRE DE FORMATION</p>
              <div class="bloc_info_contry_value"> 
                <span><img :src ="image.nbFormation"></span>
                <span class="info_contry_value">00</span>
              </div>
            </div>
    
          </div-->
          <div class="info_contry">
            <div class="info_contry_item">
            <p class="info_contry_title">{{ $t('student.dashboard.students') }}</p>
            <div class="bloc_info_contry_value">
              <span><img :src="image.etudiant"></span>
              <span class="info_contry_value">{{ stat.students.count }}</span>
            </div>
          </div>
          <!--div class="info_contry_item">
          <p class="info_contry_title">GRIMPEURS</p>
            <div class="bloc_info_contry_value"> 
              <span><img :src="image.grimpeurs"></span>
              <span class="info_contry_value">00</span>
            </div>
          </div-->
        </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import CountryService from "@/services/common/CountryService.js"
import NumberHelpers from "@/services/helpers/NumberHelpers.js"
export default {
  name : "CountryItem",
  data : function(){
    return {
      stat : false,
      image : {
        "nbFormation" :  require('@/assets/img/Nombre-Formations.svg').default,
        "etudiant" :  require('@/assets/img/Etudiants.svg').default,
        "usa" :  require('@/assets/img/etat-unis.jpg').default,
        "bourse" :  require('@/assets/img/Bourse-Disponible.svg').default,
        "grimpeurs" :  require('@/assets/img/Grimpeurs.svg').default
      }
    }
  },
  props:{
    country : {
      default : false
    },
    index : {
      default : 1
    }
  },
  methods : {
    ...NumberHelpers
  },
  mounted :function(){
    CountryService.getStat(this.country.id).then(
      (response) => {
          this.stat = response.data.stat
      }
    )
  } 
}
</script>
<style scoped>
  #title-bloc-4 {
      font-weight: bold;
  }

  .contry-item {
      margin-right: 1rem;
  }
  .contry-item .img_contry {
    width: 100%;
    min-height: 150px;
  }
  .contry-item .img_contry-wrapper {
    border-radius: 15px 15px 0 0;
    overflow: hidden;
    height: 150px;
  }

  .contry-item  .name_contry {
      text-align: center;
      font-weight: bold;
      font-size: 18px;
      margin-top: 5% !important
  }

  .contry-item  .info_contry {
      display: flex;
      justify-content: space-around;
      margin:15px
  }

  .contry-item  .info_contry .info_contry_item{
      flex: 1;
  }

  .contry-item  .info_contry_title {
      text-align: center;
      font-size : 12px;
  }

  .contry-item  .info_contry_value {
      font-size: 24px;
      color :#8BDBD3
  }


  .contry-item  .bloc_info_contry_value {
      text-align: center;
      cursor: pointer;
      display: flex;
      justify-content: center;
  }

  .contry-item  .bloc_info_contry_value span {
      display: flex;
      margin: 2%;

  }
  .contry-item .bloc_info_contry_value:hover {
      background-color: #FFE9E6;
      border-radius: 20px;
  }


  .contry-item .info_contry {
      border-top: 1px solid #EEF0FF;
      padding-top: 5%;
      text-transform: uppercase;
  }


.ribbon {
    position: relative;
    float: left;
    margin-bottom: 30px;
    background-size: cover;
    border: 1px solid #dee2e6;
    border-radius: 15px;
    box-shadow: 0px 10px 5px -2px #dee2e6;

  }

.ribbon2 {
    width: 30px;
    position: absolute;
    top: -6px;
    left: 25px;
    text-align: center;
    border-top-left-radius: 3px;
    background: #1FAFA0;
    color: white;
    font-size:28px;
    font-weight: bold;
}
.ribbon2:before {
    height: 0;
    width: 0;
    right: -5.5px;
    top: 0.1px;
    border-bottom: 6px solid #1FAFA0;
    border-right: 6px solid transparent;
}
.ribbon2:before, .ribbon2:after {
    content: "";
    position: absolute;
}
.ribbon2:after {
    height: 0;
    width: 0;
    bottom: -15px;
    left: 0;
    border-left: 15px solid #1FAFA0;
    border-right: 15px solid #1FAFA0;
    border-bottom: 15px solid transparent;
}

/* .info_contry_title.auto-break {
    margin-right: 2rem !important;
    margin-left: 2rem !important;
} */
@media(max-width:1500px){
  .contry-item  .info_contry_value {
    font-size: 16px;
  }
  .contry-item .name_contry {
    font-size: 14px;
  }
  .contry-item .info_contry_title {
    font-size: 8px;
  }
  .contry-item .img_contry {
    min-height: 100px;
  }
  .contry-item .img_contry-wrapper {
   height: unset;
  }
  .ribbon2 {
    top: -2px;
    width: 20px;
    font-size: 18px;
  }
  .ribbon2:after {
    bottom: -10px;
    border-left: 10px solid #1FAFA0;
    border-right: 10px solid #1FAFA0;
    border-bottom: 10px solid transparent;
  }
}
  .contry-item .column{
    max-width: 13.0625vw;
  }
</style>