<template>
  <div class="favoris-list">	
    <div class="flou-left"></div>
    <splide :options="sliderOptions" v-if="loaded">
      <splide-slide v-for="scholarship in favoris" :key="scholarship.id" >
          <ScholarshipItemGrid 
            :diplayShareActions="false"
            :scholarship="scholarship"
          />
      </splide-slide>
    </splide>
    <div class="flou-right"></div>
  </div>
</template>
<script>
  import { Splide, SplideSlide } from '@splidejs/vue-splide'
  import ScholarshipItemGrid from "@/view/scholarship/item/ItemGrid.vue"
  import ScholarshipService from "@/services/scholarship/ScholarshipService.js"
  export default {
    name : "FavorisSlide",
    components : {
      Splide,
      ScholarshipItemGrid,
      ScholarshipItemGrid,
      SplideSlide
    },
    props : {
      user : {
        type : Object
      }
    },
    data : function(){
      return {
        sliderOptions: {
          type     : 'loop',
          gap    : '2rem',
          padding: {
            bottom :'5rem',
            left   :'5rem',
            right  :'5rem' 
          },
          autoWidth: true,
          focus    : 'center',
          pagination : true
        },
        favoris : [],
        loaded : false
      }
    },
    mounted: function(){
      let that = this
      ScholarshipService.getMyFavorite().then(
        (response) => {
             that.favoris = response.data.scholarships 
            that.loaded   = true
        }
      )
    }
  }
</script>
<style>
.splide__pagination {
    bottom: -2em !important;
}
.splide__pagination__page {
    background: #f9b2ab !important;
}
.splide__pagination__page.is-active {
    background: #ff7667 !important;
    transform: unset !important;
}
.favoris-list {
    position: relative;
}
.favoris-list .flou-left {
    width: 25%;
    height: 100%;
    position: absolute;
    background: rgb(248,248,248);
    background: linear-gradient(90deg, rgba(248,248,248,1) 0%, rgba(248,248,248,1) 0%, rgba(248,248,248,0.5326505602240896) 51%, rgba(248,248,248,0) 100%);
    z-index: 2;
}
.favoris-list .flou-right {
    width: 25%;
    height: 100%;
    right : 0;
    top: 0;
    position: absolute;
    background: rgb(248,248,248);
    background: linear-gradient(90deg, rgba(248,248,248,1) 0%, rgba(248,248,248,0) 0%, rgba(248,248,248,0.5326505602240896) 51%, rgba(248,248,248,1) 100%);
    z-index: 2;
}
.favoris-list .splide__arrow {
    width: 4em !important;
    height: 4em !important;
    z-index: 9 !important;
    opacity: 1 !important;
    background: #ff7667 !important;
    border-radius: 10px !important;
}

.favoris-list .splide__arrow svg {
  display: none !important;
}
.favoris-list .splide__arrow::after{
  position: absolute;
  top: 20px;
  content: url("~@/assets/img/fleche-icon2.svg") !important;
}
.favoris-list .splide__arrow--prev::after{
  transform: rotate(180deg) !important;
  top: 20px;
}
.favoris-list .splide__arrow--prev{
  left: 0 !important;
}
.favoris-list .splide__arrow--next{
  right: 0 !important;
}
.favoris-list .scholarship-item-grid{
  width: 22rem;
}
@media(max-width:1500px){
  .favoris-list .splide__arrow {
    width: 3em !important;
    height: 3em !important;
  }
  .favoris-list .splide__arrow--next::after{
     top: 14px;
  }
  .favoris-list .splide__arrow--prev::after{
    top: 12px;
  }
  .favoris-list .scholarship-item-grid{
    width: 20rem;
  }
}

@media(max-width:1350px){
  .favoris-list .scholarship-item-grid{
    width: 18rem;
  }
}


@media (max-width:768px){
  .m-dashboard .splide__pagination__page {
    background: #C5E9E5 !important;
  }
  .m-dashboard .splide__pagination__page.is-active {
    background: #3DC5B7 !important;
    transform: unset !important;
  }
    .m-dashboard .favoris-list {
      width: 365px;
  }
  .m-dashboard .favoris-list .flou-left,
  .m-dashboard .favoris-list .flou-right,
  .m-dashboard button.splide__arrow.splide__arrow--prev,
  .m-dashboard button.splide__arrow.splide__arrow--next{
      display: none !important;
  }
  .section-favoris {
      background-color: #fff;
      max-width: unset !important;
      padding: 0 7% !important;
  }
  .section-favoris .splide__slide.is-active.is-visible {
      padding-bottom: 1rem !important;
  }
}

</style>