<template>
  <div class="stats row mx-3">  
    <div class="col critere-stat-wrapper">
      <div id="critere"> 
        <p id="title-critere">{{ $t('student.dashboard.stat.byCriteria.title') }}</p>
        <div class="item-critere active">
          <div class="number">
            <p v-if="stat">{{  (1 > stat.byUniversity.count) ? '00' : stat.byUniversity.count }}</p>
            <p v-else class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </p>
          </div>
          <div class="description">
            <p class="description-1">{{ $t('student.dashboard.stat.byCriteria.info1') }}</p>
            <p class="description-2">{{ $t('student.dashboard.stat.byCriteria.info2') }}</p>
            <p class="description-mobile">{{ $t('student.dashboard.stat.byCriteria.info2') }}</p>
          </div>
        </div>

        <div class="item-critere noactive nolast">
          <div class="number">
            <p v-if="stat">{{ (1 > stat.byCountry.count) ? '00' : stat.byCountry.count }}</p>
            <p v-else class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </p>
          </div>
          <div class="description">
            <p class="description-1">{{ $t('student.dashboard.stat.byCriteria.info3') }}</p>
            <p class="description-2">{{ $t('student.dashboard.stat.byCriteria.info4') }}</p>
            <p class="description-mobile">{{ $t('student.dashboard.stat.byCriteria.info4') }}</p>
          </div>
        </div>

        <div class="item-critere noactive nolast">
          <div class="number">
            <p v-if="stat">{{ (1 > stat.byDiscipline.count) ? '00' : stat.byDiscipline.count }}</p>
            <p v-else class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </p>
          </div>
          <div class="description">
            <p class="description-1">{{ $t('student.dashboard.stat.byCriteria.info3') }}</p>
            <p class="description-2">{{ $t('student.dashboard.stat.byCriteria.info5') }}</p>
            <p class="description-mobile">{{ $t('student.dashboard.stat.byCriteria.info5') }}</p>
          </div>
        </div>

        <div class="item-critere noactive last">
          <div class="number">
            <p v-if="stat">{{ (1 > stat.byLevel.count) ? '00' : stat.byLevel.count }}</p>
            <p v-else class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </p>
          </div>
          <div class="description">
            <p class="description-1">{{ $t('student.dashboard.stat.byCriteria.info3') }}</p>
            <p class="description-2">{{ $t('student.dashboard.stat.byCriteria.info6') }}</p>
            <p class="description-mobile">{{ $t('student.dashboard.stat.byCriteria.info6') }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col apex-row-container">
      <div id="graphe" class="apex-container">
        <div class="apex-container--labels">
          <label v-for="(index, key) in labelData"  :key="'label-'+key"  :class="'apex-label--'+(key+1)">
              {{ index }} <span class="label-text">{{ $t('word.scholarships') }}</span>
          </label>
        </div>
        <apexchart 
          v-if="apexDataLoaded"
          type="radialBar" 
          height="auto" 
          :options="chartOptions" 
          :series="series" 
        />
      </div>
    </div>

    <div class="col repartition-stat">
      <div id="autre">
        <div>
            <p id="title-info">{{ $t('student.dashboard.distribution.info1') }}</p>
            <p id="title-montant">{{ $t('student.dashboard.distribution.info2') }}</p>
            <p id="value-montant">{{ moneytify(totalAmount.toString(), ' ') }}<span>$</span> </p>
        </div>
        <div id="notification">
          <div>
            <img :src="image.experience">
            <p><span id="selectedCount"> 0 </span> bourses disponibles</p>
          </div>
          <p id="info-notification">Pour un total de <span id="selectedCountTotal">0</span> $</p>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import VueApexCharts      from 'vue-apexcharts'
  import ScholarshipService from "@/services/scholarship/ScholarshipService.js"
  import NumberHelpers      from "@/services/helpers/NumberHelpers.js"
  import "./vue-apexcharts-label.css"


  var serieTotal = null
  var serieCount = []
  export default {
    name : "Stats",
    components:{
      apexchart: VueApexCharts,
    },
    data : function(){
      return {
        stat : false,
        totalAmount : 0,
        image : {
          "experience" : require('@/assets/img/experience-icon.svg').default,
        },
        apexDataLoaded: false,
        series: [],
        labelData: [],
        chartOptions: {
          chart: {
            type: 'radialBar',
          },
          stroke: {
            lineCap: "round",
            width: 2,
          },
          tooltip : {
            enabled : true,
            marker : {
                show: true
            },
            custom : function(value) {
              document.getElementById("selectedCount").innerText = serieCount[value.seriesIndex]
              document.getElementById("selectedCountTotal").innerText = (serieTotal[value.seriesIndex]).toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ")
              return  '<div class="tooltip-statistic" style="color:#3DC5B7 ; padding : 3%"><p> &nbsp' + serieCount[value.seriesIndex] + " bourses  &nbsp<br> &nbspdisponibles &nbsp<p></div>"
            }
          },
          plotOptions: {
            radialBar: {
              offsetY: 0,
              startAngle: 0,
              endAngle: 270,
              hollow: {
                margin: 10,
                size: '20%',
                background: 'transparent',
                image: undefined,
              },
  
              dataLabels: {
                show: false,
                name: {
                  show: false,
                },
                total: {
                  show: true,
                  label: 'Total',
                  color: '#373d3f',
                  fontSize: '16px',
            
                  fontWeight: 600,
                  formatter: function (w) {
                    return w.globals.seriesTotals.reduce((a, b) => {
                      return a + b
                        }, 0)
                      }
                    }
              }
            }
          },
          colors: ['#1D4EAB', '#346AD1', '#4781EF', '#72A3FF','#95BAFF', '#B7D0FE', '#CADCFF', '#D8E5FE'],
          labels: [],
          legend: {
            show: true,
            floating: true,
            fontSize: '12px',
            position: 'left',
            offsetX: 60,
            offsetY: 0,
            labels: {
              useSeriesColors: true,
            },
            markers: {
              size: 0
            },
            formatter: function(seriesName, opts) {
              return seriesName
            },
            itemMargin: {
              horizontal: 0,
              vertical: 0
            },
          },
          responsive: [{
            breakpoint: 768,
            options: {
              legend: {
                 
              }
            }
          }]
        }
      }
    },
    methods: {
      ...NumberHelpers,

      refreshLabelData(scholarshipTotal){
          let labelCount = 7

          let rapport = parseInt(scholarshipTotal / labelCount)

          for (let index = 1; index < labelCount; index++) {
            this.labelData[index-1] = rapport * index  
          }
          this.labelData[labelCount-1] = scholarshipTotal
      }
    },
    mounted : function(){
      let that = this
      ScholarshipService.getStudentStat().then(
        (response) => {
          that.stat   = response.data.stat
        }
      )
      ScholarshipService.getDistributionStat().then(
        (response) => {
          let stat = response.data.distribution
          let labels = serieTotal = []
          let scholarshipTotal    = response.data.total
          that.totalAmount = 0

          that.refreshLabelData(scholarshipTotal)

          for (const [key, value] of Object.entries(stat)) {
            that.series      = [...that.series, ((value.nb /scholarshipTotal) * 100) ]
            serieCount.push(parseInt(value.nb))
            serieTotal  = [...serieTotal, parseInt(value.totalUnit)]
           
            that.totalAmount = isNaN(parseInt(value.totalUnit)) ?  that.totalAmount :  that.totalAmount + parseInt(value.totalUnit)
            
            if(key == 'university'){
              that.chartOptions.labels = [...that.chartOptions.labels, that.$t('word.'+key) ]
            }else{
              that.chartOptions.labels = [...that.chartOptions.labels, that.$t('institutionType.'+key) ]
            }
          }
          that.apexDataLoaded = true 
        }
      )

    }
  }
</script>
<style scoped>

.critere-stat-wrapper {
  min-width: 20rem;
  margin: 0 !important;
}
.stats #critere{
    background-color: #3DC5B7;
    padding: 1.5rem;
    border-radius: 15px;
    max-width: 22rem;
}

#title-critere  {
    font-family: 'NunitoSans-SemiBold' !important;
    font-size: 15px;
    text-transform: UPPERCASE;
}


.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item-critere p {
    margin-bottom: 0 !important;
}

#critere .noactive .description-1 {
    font-size: 11px;
}

#critere .noactive .description-2 {
    font-size: 13px;
    font-family: 'NunitoSans-SemiBold' !important;
}

#critere .active {
    background-color: #FFFFFF ;
    border-radius: 10px;
}
.item-critere.active,
.item-critere:nth-child(3){
  border: unset !important;
}
#critere p{
    color: white;
}
#critere .active p {
    color: #3DC5B7 !important;
    font-family: 'NunitoSans-Bold' !important;
}

#critere .active .description-1 {
    font-size: 13px;
    font-weight: bolder;
}

#critere .active .description-2 {
    font-size: 11px;
}

#title-critere {
    text-transform: uppercase;
}

#critere .item-critere {
    display: flex;
    padding: 1rem;
    margin-bottom: 10px;
    border-top: solid 1px #BDB9FE;
}

#critere .item-critere:last-child{
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

#critere .number {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 30;

}
#critere .number p{
    font-family: 'NunitoSans-Bold' !important;
    font-size: 1.5rem;
}

#critere .description {

    flex: 70;
}

#element-contenu-statistic .stats {
    display: flex;
    justify-content: space-between;
}

.stats #autre  {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 2rem;
    max-width: 17rem;
}

#title-info {
    font-size: 18px;
    font-weight: bold;
    
}

#title-montant {
    font-size: 14px;
    color: #3C3850;
}

 #value-montant {
    font-size: 30px;
    margin: 0;
    color: #FF7667;
    font-family: 'NunitoSans-SemiBold' !important;
 }

#notification {
    margin-top: 10%;
    background-color: #DAF2F0;
    border: 1px solid #8BDBD3;
    position: relative;
    border-radius: 4px;
}

 #notification div {
  display:flex;
  justify-content: space-between;
}

#notification img {
    width:15%;
    margin-right : 10%
  }
  

  #notification {
      padding: 3% 10%;
  }

 #info-notification {
    font-size: 12px;
    text-align: center;
    margin-top: 5% !important;
    color: #3ec5b7;
    font-weight: bold;
}
/*** responsive */
@media(max-width:1500px){
  #critere{
    padding: 1rem;
  }
  
  #title-critere {
    font-size: 12px;
  }

  #critere .number {
      flex: 20;
  }
  #critere .description {
    flex: 80;
  }
  #critere .number p{
    font-size: 1rem;
  }
  #title-info {
    font-size: 14px;
  }
  
}
#notification:before {
    content: "";
    width: 11px;
    height: 12px;
    position: absolute;
    background: #8BDBD3;
    clip-path: polygon(100% 0, 0 52%, 100% 100%);
    left: -11px;
    top: 44%;
 }

  #notification:after {
      content: "";
      width: 10px;
      height: 10px;
      position: absolute;
      left: -9px;
      top: 45%;
      background: #DAF2F0;
      clip-path: polygon(100% 0, 0 52%, 100% 100%);
  }
  .stats .description-mobile{
    display: none;
  }

  @media (max-width:1280px) {
    .apex-row-container {
      min-width: 28rem;
    }
    .critere-stat-wrapper{
        min-width: 18rem;
    }
    #critere .item-critere{
      padding: .6rem .2rem !important;
    }
    .stats #critere{
      padding: 1.4rem;
    }
  }
  @media (max-width:1150px) {
    .apex-row-container {
      min-width: 24rem;
    }
    .critere-stat-wrapper{
        min-width: 16rem;
    }
    #critere .item-critere{
      padding: .2rem !important;
    }
    .stats #critere{
      padding: 1rem !important;
    }
  }



  /** mobile style */
  @media(max-width:768px) {
    .stats .description .description-1,
    .stats .description .description-2{
      display: none;
    }
    .stats .description-mobile{
      display: block;
    }
    .stats #title-critere {
      display: none !important;
    }
    .stats #critere{
        background-color:unset !important;
        padding: unset !important;
        border-radius: unset !important;
        max-width: unset !important;
        display: flex !important;
        margin-top: 2rem ;
    }
    .stats .item-critere{
      border: unset !important;
      text-align: left !important;
      display: block !important;
      width: 25% !important;
    }
    .stats .item-critere .number{
      display: block !important;
    }
    .description-mobile {
        font-size: 10px;
        letter-spacing: 0;
        word-break: break-word;
    }
    .item-critere.noactive p{
      color: #D8D6D5 !important;
    }

    .repartition-stat {
        display: none !important;
    }  

    .critere-stat-wrapper {
        border-bottom: solid 1px #dee2e6;
    }

    #element-contenu-statistic .stats{
        justify-content: center;
    }
  }

  .repartition-stat{
    display: flex;
    justify-content: flex-end;
    margin: 0 !important;
  }

</style>

<style>
  .apexcharts-legend.apexcharts-align-center.position-left {
    text-align: right !important;
  }
  .apexcharts-legend.apexcharts-align-center.position-left {
    top: 1.3rem !important;
    left: 4.5rem !important;
  }
  #element-contenu-statistic .apexcharts-legend-marker {
      display:none
  }
  #element-contenu-statistic .apexcharts-legend-series {
      line-height: 0.8 !important;
      margin-top: 6px !important;
  }
  
  @media (max-width:1280px) {
    .apexcharts-legend.apexcharts-align-center.position-left {
      left: 3.5rem !important;
    }
    #element-contenu-statistic .apexcharts-legend-series {
        line-height: 1 !important;
        margin-top: 5px !important;
        font-size: 12px !important;
    }
  }

  @media (max-width:1150px) {
    .apexcharts-legend.apexcharts-align-center.position-left {
        left: 3rem !important;
    }
    #element-contenu-statistic .apexcharts-legend-series {
        line-height: 1 !important;
        margin-top: 3px !important;
        font-size: 10px !important;
    }
    .stats span.apexcharts-legend-text {
        font-size: 10px !important;
        line-height: 0px !important;
    }
  }


  @media(max-width:768px) {
    .apexcharts-legend.apexcharts-align-center.position-left {
        left: 4.5rem !important;
    }

    #element-contenu-statistic .apexcharts-legend-series{
      font-size: 12px !important;    
      margin-top: 7px !important;
    }

    .stats span.apexcharts-legend-text {
        font-size: 12px !important;
        line-height: 1 !important;
    }

    .stats.row.mx-3 {
        margin-bottom: 2rem;
        border-bottom: solid 1px #dee2e6;
        padding-bottom: 2rem;
    }
  }
  @media (max-width:480px) {
     .apexcharts-legend.apexcharts-align-center.position-left {
        left: 3.5rem !important;
        top: 1rem !important;
        font-size: 10px !important;
      }
      #element-contenu-statistic .apexcharts-legend-series{
        margin-top: 4px !important;
      }
      .stats span.apexcharts-legend-text {
          font-size: 10px !important;
      }
  }

  @media (max-width:400px) {
     .apexcharts-legend.apexcharts-align-center.position-left {
        left: 3rem !important;
      }
  }
</style>