<template>
  <div class="suggestion-slide-wrapper">
    <div class="suggestion-list">
      <splide :options="sliderOptions" v-if="loaded">
        <splide-slide v-for="scholarship, index in scholarships" :key="'suggestion-slide-item'+index" class="suggestion-slide-item">
            <ScholarshipItemGrid 
               v-on:remove="remove(index)"
              :scholarship="scholarship"
            />
        </splide-slide>
      </splide>
    </div>
  </div>

</template>
<script>

  import ScholarshipItemGrid from "@/view/scholarship/item/ItemGrid.vue"
  import ScholarshipService from "@/services/scholarship/ScholarshipService.js"

  import { Splide, SplideSlide } from '@splidejs/vue-splide'
  
  export default {
    name : 'SuggestionSlide',

    components : { 
      ScholarshipItemGrid, 
      Splide,
      SplideSlide
    },
    data : function(){
      return {
        scholarships : [],
        loaded       : false,

        sliderOptions: {
          type     : 'slide',
          autoplay : true,
          interval : 2000,
          gap    : '2rem',
          padding: {
            bottom :'5rem',
            left   :'1rem',
            right  :'1rem' 
          },
          autoWidth: true,
          focus    : 'center',
          pagination : true,
          arrows: false
        },
      }
    },
    methods : {
      remove(index){
        this.scholarships.splice(index, 1)
      },
     
    },
    mounted : function(){
      /** get suggestion scholarship list */
      let that = this
      ScholarshipService.getSuggestionList().then(
        (response) => {
            that.scholarships = response.data.scholarship 
            that.loaded   = true
            
        }
      )
    }

  }

</script>
<style scoped>
  .suggestion-list{
    max-width: 78vw;
  }

  .suggestion-slide-item{
    margin-bottom: 1rem !important;
  }

  @media (max-width:1500px) {
      .suggestion-list{
        max-width: 72vw;
      }
  }
  @media (max-width:768px) {
      .suggestion-list{
        max-width: unset;
      }
  }
</style>
<style>
  .suggestion-list .scholarship-item-grid{
    margin: auto !important;
  }
  /* css slick */
  .suggestion-list .slick-dots li.slick-active button:before {
      color: #3DC5B7 !important;
  }
  .suggestion-list .slick-dots li button:before {
      color: #C5E9E5  !important;
      opacity: 1 !important;
      font-size: 8px !important;  
  }

  @media (max-width:768px) {
      .suggestion-slide-wrapper {
          margin-top: 1rem;
      }
      .suggestion-slide-item{
        min-width: 80vw !important;
      }
  }

  .suggestion-list .suggestion-slide-item .scholarship-item-grid{
    min-width: 17rem !important;
  }
</style>