.apex-row-container {
  padding: 0 !important;
  position: relative;
  max-width: 500px !important;
  min-width: 30rem;
  margin: 0 !important;
}
.apex-container--labels {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
}

.apex-container--labels label {
  position: absolute;
  font-size: 12px;
  font-family: 'NunitoSans-SemiBold' !important;
  color: #3C3850 !important;
  white-space: nowrap;
}

label.apex-label--1 {
  left: 63%;
  top: 6%;
}

label.apex-label--2 {
  left: 82%;
  top: 30%;
}

label.apex-label--3 {
  left: 83%;
  top: 60%;
}

label.apex-label--4 {
  left: 69%;
  top: 85%;
}

label.apex-label--5 {
  top: 92.5%;
  left: 45%;
}

label.apex-label--6 {
  right: 72%;
  top: 82%;
}

label.apex-label--7 {
  top: 47%;
  right: 85%;
}

@media (max-width:1600px) {
  .label-text{
    display: none;
  }
}
@media(max-width:1150px) {
  .apex-container--labels label {
    font-size: 10px;
  }
}
@media(max-width:768px) {
  .apex-container--labels label {
    font-size: 9px;
  }
  label.apex-label--1 {
    right: 28%;
    top: 8%;
  }
  label.apex-label--2 {
      right: 14%;
      top: 32%;
  }
  label.apex-label--3 {
    right: 14%;
    top: 62%;
  }
  label.apex-label--4 {
    top: 85%;
    right: 27%;
  }
  label.apex-label--6 {
    top: 80%;
    left: 23%;
  }
  label.apex-label--6 {
    top: 82%;
    left: 19%;
  }
  label.apex-label--7 {
    top: 47%;
    left: 13%;
  }
}